SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SELECT * FROM MODULE
ALTER PROCEDURE [dbo].[USP_GET_ACTIONDISPLAYBYMODULE] -- USP_GET_ACTIONDISPLAYBYMODULE 1,'PAGOS-REPORTE'
@IDUSER INT =NULL,
@VMODULE VARCHAR (100)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	IF @VMODULE='POLIZAS-POLIZAS'
		BEGIN
			SELECT DISTINCT A.ID,A.VDISPLAYESTATUS FROM POLICY P WITH (NOLOCK)
			INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
		END 
	IF @VMODULE='VEHICULOS-VEHICULOS'
		BEGIN
			SELECT DISTINCT A.ID,A.VDISPLAYESTATUS FROM VEHICLE P WITH (NOLOCK)
			INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
		END 

	IF @VMODULE='SERVICIOS-REPORTE FALLA'
		BEGIN
			SELECT DISTINCT A.ID,A.VDISPLAYESTATUS FROM MAINTENANCE P WITH (NOLOCK)
			INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
			WHERE IDSERVICETYPE=3
		END 
	IF @VMODULE='SERVICIOS-MANTENIMIENTO'
	    BEGIN
			SELECT DISTINCT A.ID,A.VDISPLAYESTATUS FROM MAINTENANCE P WITH (NOLOCK)
			INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
			WHERE IDSERVICETYPE=1
		END 
	IF @VMODULE='SERVICIOS-ASISTENCIA TECNICA'
	    BEGIN
			SELECT DISTINCT A.ID,A.VDISPLAYESTATUS FROM MAINTENANCE P WITH (NOLOCK)
			INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
			WHERE IDSERVICETYPE=2
		END 

	IF @VMODULE='INVENTARIO-PROCESOS-RECEPCION'
	    BEGIN
			SELECT DISTINCT A.ID,A.VDISPLAYESTATUS FROM MOVEMENT P WITH (NOLOCK)
			INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
			WHERE VTYPE='R'
		END 
	IF @VMODULE='INVENTARIO-PROCESOS-TRASLADO'
		BEGIN
			SELECT DISTINCT A.ID,A.VDISPLAYESTATUS FROM V_MOVEMENTDETAILS P WITH (NOLOCK)
			INNER JOIN ACTION A WITH (NOLOCK) ON P.IDSTATUS=A.ID
			WHERE VMOVEMENTTYPE='T'
		END 
	IF @VMODULE='INVENTARIO-PROCESOS-RECOLECCION'
	    BEGIN
			SELECT DISTINCT A.ID,A.VDISPLAYESTATUS FROM V_MOVEMENTDETAILS P WITH (NOLOCK)
			INNER JOIN ACTION A WITH (NOLOCK) ON P.IDSTATUS=A.ID
			WHERE VMOVEMENTTYPE='P'
		END 
	IF @VMODULE='INVENTARIO-PROCESOS-AJUSTE'
		BEGIN
			SELECT DISTINCT A.ID,A.VDISPLAYESTATUS FROM ADJUSTMENT P WITH (NOLOCK)
			INNER JOIN ACTION A WITH (NOLOCK) ON P.IDSTATUS=A.ID
		END 

	IF @VMODULE='PEDIDOS-PEDIDOS'
	    BEGIN
			SELECT DISTINCT A.ID,
			CASE WHEN A.VDISPLAYESTATUS = 'Asignado' THEN 'Preparacion' 
				WHEN A.VDISPLAYESTATUS = 'Aprobado' THEN 'Transito' 
				WHEN T.VNAME NOT LIKE '%RECLAMO%' AND A.VDISPLAYESTATUS = 'Procesado' THEN 'Recibido' 
				ELSE A.VDISPLAYESTATUS END
			AS VDISPLAYESTATUS
			FROM SALEORDER P WITH (NOLOCK)
			INNER JOIN SALEORDERTYPE T WITH (NOLOCK) ON T.ID=P.IDTYPE
			INNER JOIN ACTION A WITH (NOLOCK) ON P.IDESTATUS=A.ID
		END 

	IF @VMODULE='PEDIDOS-RECEPCION'
		BEGIN
			SELECT DISTINCT A.ID,A.VDISPLAYESTATUS FROM GUIDE P WITH (NOLOCK)
			INNER JOIN ACTION A WITH (NOLOCK) ON P.ISTATUS=A.ID
		END 
	IF @VMODULE='PEDIDOS-RECLAMOS'
		BEGIN
			SELECT DISTINCT A.ID,A.VDISPLAYESTATUS FROM CLAIM P WITH (NOLOCK)
			INNER JOIN ACTION A WITH (NOLOCK) ON P.IDSTATUS=A.ID
		END 

	IF @VMODULE='SERVICIOS-CONCILIACION SRG'
		BEGIN
			SELECT DISTINCT A.ID,A.VDISPLAYESTATUS FROM DMS P WITH (NOLOCK)
			INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
		END 

	IF @VMODULE='REPORTES-REPORTES'
		BEGIN
			SELECT DISTINCT A.ID,A.VDISPLAYESTATUS FROM ACTIONMODULE P WITH (NOLOCK)
			INNER JOIN ACTION A WITH (NOLOCK) ON P.IDACTION=A.ID
			WHERE A.VDISPLAYESTATUS IS NOT NULL
		END
	IF @VMODULE='PAGOS-REPORTE'
		BEGIN
			SELECT DISTINCT A.ID,A.VDISPLAYESTATUS FROM ACCOUNTRECEIVABLE P WITH (NOLOCK)
			INNER JOIN ACTION A WITH (NOLOCK) ON P.IDSTATUS=A.ID
			WHERE A.VDISPLAYESTATUS IS NOT NULL
		END
	IF @VMODULE='PAGOS-ASEGURAMIENTO'
		BEGIN
			SELECT DISTINCT A.ID,A.VDISPLAYESTATUS FROM PAYMENTDETAILS P WITH (NOLOCK)
			INNER JOIN ACTION A WITH (NOLOCK) ON P.IDSTATUS=A.ID
			WHERE A.VDISPLAYESTATUS IS NOT NULL
		END
	---para control de despacho--- 
	IF @VMODULE='INVENTARIO-PROCESOS-CONTROLDESPACHO'
	    BEGIN
			SELECT DISTINCT A.ID,
			CASE WHEN A.VDISPLAYESTATUS = 'No Disponible' THEN 'BackOrder'  
				ELSE A.VDISPLAYESTATUS END
			AS VDISPLAYESTATUS
			FROM BACKORDER P WITH (NOLOCK) 
			INNER JOIN ACTION A WITH (NOLOCK) ON P.IDSTATUS=A.ID
		END 