USE [SODA]
GO
/****** Objeto: StoredProcedure [dbo].[USP_POST_RECEPTION_AUTOASSIGN] Fecha de script: 7/5/2026 10:22:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_RECEPTION_AUTOASSIGN]  --USP_POST_RECEPTION_AUTOASSIGN
@LOCATIONNAME VARCHAR(20),
@IDUSER INT,
@IDSUPPLIER INT

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        :
  '   CREADO POR            : GERARDO JIMENEZ
  '   CREADO PARA           : 
  '   FUNCIÓN               :AUTO ASIGNAR  LOS ITEMS PENDIENTES DE RECEPCION EN ESTATUS GENERADO 
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
BEGIN
    SET XACT_ABORT ON
    SET NOCOUNT ON
    SET LOCK_TIMEOUT 180000

    DECLARE @IDLOCATION INT;
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @Count INT = 0;

    -- Validar que la ubicación existe, es tipo 'R' con la planta correcta
    SELECT @IDLOCATION = ID
    FROM V_LOCATION WITH (NOLOCK)
    WHERE VNAME = @LOCATIONNAME AND VTYPE = 'R' AND IDSUPPLIER = @IDSUPPLIER;

    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('UBICACION INVALIDA O NO ES DE TIPO RECEPCION', 16, 1);
        RETURN;
    END

    -- Asignar ubicación y usuario a los detalles pendientes
    UPDATE MD
    SET MD.IDUSER = @IDUSER,
        MD.IDSTATUS = DBO.UFN_GET_ISTATUS('ASSIGN'),
        MD.DUPDATED = GETDATE()
    FROM MOVEMENTDETAILS MD
    INNER JOIN MOVEMENT M ON M.ID = MD.IDMOVEMENT
    WHERE M.VTYPE = 'R'
    AND M.IESTATUS = DBO.UFN_GET_ISTATUS('GENERATE')
    AND M.IDSUPPLIER = @IDSUPPLIER
    AND MD.BPROCESSED = 0
    AND MD.VLOCATIONTYPE = 'R'
    AND MD.IDUSER IS NULL
    AND MD.IDLOCATION = @IDLOCATION;

    SET @Count = @@ROWCOUNT;

    IF @Count = 0
    BEGIN
        RAISERROR('NO HAY ITEMS PENDIENTES PARA ASIGNAR EN ESA UBICACION', 16, 1);
        RETURN;
    END

    -- Cambiar a ASIGNADO el movimientos cuando TODOS los items ya tienen usuario
    UPDATE M
    SET M.IESTATUS = DBO.UFN_GET_ISTATUS('ASSIGN'),
        M.IDASSIGNED = @IDUSER,
        M.DUPDATED = GETDATE(),
        M.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
    FROM MOVEMENT M
    WHERE M.VTYPE = 'R'
    AND M.IESTATUS = DBO.UFN_GET_ISTATUS('GENERATE')
    AND M.IDSUPPLIER = @IDSUPPLIER
    AND NOT EXISTS (
        SELECT 1 FROM MOVEMENTDETAILS MD
        WHERE MD.IDMOVEMENT = M.ID
        AND MD.BPROCESSED = 0
        AND MD.IDUSER IS NULL
    )
    AND EXISTS (
        SELECT 1 FROM MOVEMENTDETAILS MD
        WHERE MD.IDMOVEMENT = M.ID
        AND MD.IDUSER = @IDUSER
    );

    SELECT @Count AS IINSERTED, 0 AS IUPDATED;
END