USE [SODA]
GO
/****** Objeto: StoredProcedure [dbo].[USP_POST_SALES_FIGO] Fecha de script: 22/6/2026 7:22:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_SALES_FIGO] --[USP_POST_SALES_FIGO] 
    @DATA NVARCHAR(MAX),
    @IDUSER INT
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : GERARDO JIMENEZ
  '   CREADO PARA           : 
  '   FUNCIÓN               : INSERTAR LAS VENTAS DE FIGO
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/  

SET XACT_ABORT ON
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


BEGIN 
    BEGIN TRY
        BEGIN TRANSACTION;
        
        INSERT INTO SALESFIGO (INVOICENUMBER, DINVOICEDATE, VVAT, VINNERCODE, IQUANTITY,IDSUPPLIER, DCREATED)
        SELECT 
            INVOICENUMBER,
            DINVOICEDATE,
            VVAT,
            VINNERCODE,
            IQUANTITY,
            IDSUPPLIER,
            GETDATE() AS DCREATED
        FROM OPENJSON(@DATA)
        WITH (
            INVOICENUMBER VARCHAR(100) '$.invoiceNumber',
            DINVOICEDATE DATETIME '$.dInvoiceDate',
            VVAT VARCHAR(50) '$.vVAT',
            VINNERCODE VARCHAR(50) '$.vInnerCode',
            IQUANTITY INT '$.iQuantity',
            IDSUPPLIER INT '$.idSupplier'
        ) JSONDATA
        WHERE NOT EXISTS (
            SELECT 1 FROM SALESFIGO 
            WHERE INVOICENUMBER = JSONDATA.INVOICENUMBER 
            AND VINNERCODE = JSONDATA.VINNERCODE
        );
        
        SELECT 
            1 AS Processed,
            'Success' AS Message,
            @@ROWCOUNT AS IINSERTED,
            0 AS IUPDATED,      
            SCOPE_IDENTITY() AS IID  
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        
        SELECT 
            0 AS Processed,
            ERROR_MESSAGE() AS Message,
            0 AS IINSERTED,
            0 AS IUPDATED,
            0 AS IID

    END CATCH
END;