USE [SODA]
GO
/****** Objeto: StoredProcedure [dbo].[USP_POST_TRAFFIC_FIGO] Fecha de script: 22/6/2026 6:35:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_TRAFFIC_FIGO] 
    @DATA NVARCHAR(MAX),
    @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : USP_POST_TRAFFIC_FIGO
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : GERARDO JIMENEZ
  '   CREADO PARA           : 
  '   FUNCIÓN               : INSERTAR Y ACTUALIZAR LOS DATOS DE TRÁNSITO DE FIGO EN LA TABLA PART
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

        SET XACT_ABORT ON
        SET NOCOUNT ON
        SET LOCK_TIMEOUT 180000

        BEGIN 
            BEGIN TRY
                BEGIN TRANSACTION;
        
                -- Tabla temporal con los datos de tránsito
                DECLARE @TRANSITO_DATA TABLE (
                    CODIGO_REPUESTO VARCHAR(50),
                    CANTIDAD_TRANSITO INT
                );

                -- Insertar datos del JSON a la tabla temporal
                INSERT INTO @TRANSITO_DATA (CODIGO_REPUESTO, CANTIDAD_TRANSITO)
                SELECT 
                    CODIGO_REPUESTO,
                    CANTIDAD_TRANSITO
                FROM OPENJSON(@DATA)
                WITH (
                    CODIGO_REPUESTO VARCHAR(50) '$.CodigoRepuesto',
                    CANTIDAD_TRANSITO INT '$.CantidadTransito'
                );

                DECLARE @UPDATED INT = 0;

                UPDATE TARGET
                SET 
                    TARGET.TRAFFIC = SOURCE.CANTIDAD_TRANSITO,
                    TARGET.DUPDATED = GETDATE()
                FROM PART AS TARGET
                INNER JOIN @TRANSITO_DATA AS SOURCE 
                    ON TARGET.VINNERCODE = SOURCE.CODIGO_REPUESTO;

                SET @UPDATED = @@ROWCOUNT;

                SELECT 
                    0 AS IINSERTED,           
                    ISNULL(@UPDATED, 0) AS IUPDATED,
                    0 AS IID
        
                COMMIT TRANSACTION;
        
                -- Log de la operación
                PRINT CONCAT('Tránsito actualizado: ', @UPDATED, ' repuestos');
        
            END TRY
            BEGIN CATCH
                ROLLBACK TRANSACTION;
        
                -- Devolver error
                SELECT 
                    0 AS IINSERTED,
                    0 AS IUPDATED,
                    0 AS IID;
            
                -- Lanzar el error para que se capture
                THROW;
            END CATCH
        END;