USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_INTT_ACTION]    Script Date: 13/4/2026 11:30:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
ALTER PROCEDURE [dbo].[USP_POST_INTT_ACTION]
    @DATA VARCHAR(MAX),
    @IDUSER INT,
    @IDSUPPLIER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   CREADO POR            : GERARDO JIMENEZ
  '   CREADO PARA           : 
  '   FUNCIÓN               : 
  '   VERSIÓN               :
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000
BEGIN
    BEGIN TRY
        BEGIN TRAN 

        DECLARE @TDATA AS TABLE
        (
            IDRECORD INT,
            IDMODULE INT,
            VACTION VARCHAR(20),
            VCOMMENT VARCHAR(200),
            IDRELATED INT
        );

        INSERT INTO @TDATA
        SELECT RecordId, ModuleId, ActionName, ActionComment, RelatedId
        FROM OPENJSON(@DATA)
        WITH (
            RecordId int, 
            ModuleId int, 
            ActionName varchar(20),
            ActionComment varchar(200),
            RelatedId int
        ) AS C

        DECLARE @VACTION VARCHAR(20)
        DECLARE @IDMODULE INT
        DECLARE @IID INT
        DECLARE @IUPDATED INT
        DECLARE @CORRELATIVE INT
        DECLARE @VCONTROLNUMBER VARCHAR(20)
        DECLARE @RECORDS_COUNT INT

        SELECT TOP 1 @VACTION = VACTION, @IDMODULE = IDMODULE FROM @TDATA

        EXEC USP_CHECK_CREDENTIALS @IDUSER, @VACTION, @IDMODULE 

        IF @VACTION = 'GENERATE'
        BEGIN 
            -- Contar registros seleccionados
            SELECT @RECORDS_COUNT = COUNT(*) FROM @TDATA

            ---- Validar cantidad máxima
            --IF @RECORDS_COUNT > 50
            --BEGIN
            --    RAISERROR('No se pueden GENERAR más de 50 registros a la vez. Seleccionados: %d', 16, 1, @RECORDS_COUNT)
            --    RETURN
            --END

            -- Generar correlativo
            EXEC USP_ACT_SECUENCE 'INTT', @CORRELATIVE OUT 
            SET @VCONTROLNUMBER = RIGHT('0000000000' + CAST(@CORRELATIVE AS VARCHAR(10)), 10)

            -- Actualizar VEHICLE con el número de TXT
            UPDATE I
            SET I.VNUMBERTXT = @VCONTROLNUMBER
            FROM VEHICLE I
            INNER JOIN @TDATA T ON I.ID = T.IDRECORD
            WHERE I.IDSUPPLIER = @IDSUPPLIER 
              AND (I.VNUMBERTXT IS NULL OR I.VNUMBERTXT = '' OR I.VNUMBERTXT = '0')

            SELECT @IUPDATED = @@ROWCOUNT
            SET @IID = @CORRELATIVE
        END 
         
        SELECT
            ISNULL(@IID, 0) AS IID, 
            ISNULL(@IUPDATED, 0) AS IUPDATED

        IF @IUPDATED > 0
        BEGIN
            INSERT INTO AUDIT (IDUSER, IDRECORD, IDMODULE, VACTION, VCOMMENT, IDRELATED, DCREATED)
            SELECT @IDUSER, IDRECORD, IDMODULE, @VACTION, VCOMMENT, IDRELATED, GETDATE()
            FROM @TDATA
        END

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000) 
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
        RAISERROR(@ErrorMessage, 16, 1) 
    END CATCH
END 
