USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_REPORTS_REP010]    Script Date: 13/4/2026 11:30:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO 
ALTER PROCEDURE [dbo].[USP_GET_REPORTS_REP010] --USP_GET_REPORTS_REP010 1,0,4069,NULL
@IDUSER INT, 
@IDDEALER INT = NULL,
@IDSUPPLIER INT = NULL,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL,
@IDESTATUS INT =NULL


AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

    -- 1. PREPARAR PAGINACION
	DECLARE @TOPE INT
    DECLARE @BTXT BIT

	IF @IROWFROM IS NULL
	BEGIN
        SET @BTXT=1
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

    -- 2. PREPARAR VARIABLES DE FILTROS
    SELECT @VFILTER= ISNULL(@VFILTER,'')
    DECLARE @FechaInicio DATETIME = DATEADD(DAY, -360, GETDATE());
    SELECT @DFROMDATE = CONVERT(VARCHAR(10),isnull(@DFROMDATE,getdate()-30),120)
    SELECT @DUPTODATE = CONVERT(VARCHAR(10),isnull(@DUPTODATE,getdate()+1),120)
    DECLARE @SALEORDERID INT
    SELECT @SALEORDERID=0

    DECLARE @VVAT VARCHAR(10)
    DECLARE @VRAZON VARCHAR(50)
    DECLARE @VNROENVIO VARCHAR(07)
    DECLARE @VREGISTRO VARCHAR(08)
    DECLARE @VFECHACONVENIO VARCHAR(08)

    SELECT @VVAT=VVAT,@VRAZON=VSUPPLIER
    FROM V_SUPPLIERS WHERE IDSUPPLIER=@IDSUPPLIER

    SELECT @VNROENVIO='EEEEEEE'
    SELECT @VREGISTRO='RRRRRRRR'
    SELECT @VFECHACONVENIO=REPLACE(CONVERT(VARCHAR(10),GETDATE(),120),'-','')


    IF ISNUMERIC(@VFILTER)=1 AND LEN(@VFILTER) <= 6 
    BEGIN
        SELECT @SALEORDERID=CAST(@VFILTER AS INT)
        SELECT @VFILTER=''
    END

    SELECT @IDDEALER = ISNULL(@IDDEALER,0)
    SELECT @IDESTATUS = ISNULL(@IDESTATUS,0)
    DECLARE @LIKEFILTER VARCHAR(100)
    SELECT @LIKEFILTER = '%'+@VFILTER+'%'

IF @BTXT =1 
BEGIN
    WITH V AS (
            -- 3. FILTRAR MUESTRAS
            SELECT
            'MA' --AS TIPO_MOV,
            +'       ' --AS NRO_CERTIFICADO,
            +LEFT(D.VVAT + SPACE(10), 10) --AS RIF_CONCESIONARIO, 
            +LEFT(C.VVAT + SPACE(10), 10) --AS RIF_CLIENTE,
            +LEFT(DBO.UFN_GET_VFIRSTNAMEPART(C.VFIRSTNAME,1) + SPACE(30), 30) --AS PRIMER_NOMBRE ,
            +LEFT(DBO.UFN_GET_VFIRSTNAMEPART(C.VFIRSTNAME,2) + SPACE(30), 30) --AS SEGUNDO_NOMBRE,
            +LEFT(DBO.UFN_GET_VLASTNAMEPART(C.VLASTNAME,1) + SPACE(30), 30) --AS PRIMER_APELLIDO,
            +LEFT(DBO.UFN_GET_VLASTNAMEPART(C.VLASTNAME,2) + SPACE(30), 30) -- AS SEGUNDO_APELLIDO,
            +LEFT(DBO.UFN_GET_VADDRESSPART(C.VADDRESS,1) + SPACE(30), 30) --AS DIRECCION,
            +LEFT(DBO.UFN_GET_VADDRESSPART(C.VADDRESS,2) + SPACE(30), 30) --AS URBANIZACION,
            +LEFT(DBO.UFN_GET_VADDRESSPART(C.VADDRESS,3) + SPACE(30), 30) --AS CASA,
            +LEFT('' + SPACE(06), 06) --AS PISO,
            +LEFT('' + SPACE(04), 04) --AS APTO,
            +LEFT('' + SPACE(30), 30) --AS MUNICIPIO,
            +LEFT(DBO.UFN_GET_VPHONECODE(C.VPHONE1) + SPACE(04), 04) --AS TELF1_COD,
            +LEFT(DBO.UFN_GET_VPHONENUMBER(C.VPHONE1) + SPACE(08), 08) --AS TELF1_NRO,
            +LEFT(DBO.UFN_GET_VPHONECODE(C.VPHONE2) + SPACE(04), 04) --AS TELF1_COD2,
            +LEFT(DBO.UFN_GET_VPHONENUMBER(C.VPHONE2) + SPACE(08), 08) --AS TELF1_NRO2,
            +LEFT(V.VPLATE + SPACE(07), 07) --AS PLACA,
            +CASE WHEN M.IDBRAND=1 THEN LEFT('LS5' + SPACE(03), 03) ELSE LEFT('FA3' + SPACE(03), 03) END --AS MARCA,
            +LEFT('PC' + SPACE(02), 02) --AS ESTADO,
            +LEFT(V.VVIN + SPACE(17), 17) --AS VIN,
            +REPLACE(CONVERT(VARCHAR(10),P.DINVOICEDATE,120),'-','') --AS FECHA_FACTURA,
            +RIGHT('000000000000000' +P.VINVOICENUMBER, 15) -- AS NRO_FACTURA
            AS DATOS,
            CAST( COUNT(*) OVER() AS VARCHAR(5)) AS TOTAL,
            V.VVIN,
            P.DINVOICEDATE
            FROM POLICY P WITH (NOLOCK)
            INNER JOIN VEHICLE V WITH (NOLOCK) ON V.ID=P.IDVEHICLE
            INNER JOIN CONTACT D WITH (NOLOCK) ON D.ID=V.IDDEALER
            INNER JOIN CONTACT C WITH (NOLOCK) ON C.ID=V.IDCUSTOMER 
            INNER JOIN MODEL M WITH (NOLOCK) ON M.ID=V.IDMODEL
            WHERE P.DINVOICEDATE >= @DFROMDATE
            AND P.DINVOICEDATE < @DUPTODATE
            AND P.DINVOICEDATE >= @FechaInicio
            AND P.IESTATUS <>2
            AND V.IDSUPPLIER = @IDSUPPLIER
        ),
      T AS (
            SELECT 
            DISTINCT 
            'RC'+RIGHT('0000000' +V.TOTAL, 07)+'00000000000000' AS DATOS,
            REPLACE(CONVERT(VARCHAR(10),GETDATE(),120),'-','') AS HOY 
            FROM V
            ),
        R AS (
            SELECT 
            DISTINCT 
            REPLACE(CONVERT(VARCHAR(10),GETDATE(),120),'-','') AS HOY,
            'RE'+RIGHT('0000000'+@VNROENVIO, 07)
            +RIGHT('0000000000'+@VVAT, 10)
            +RIGHT('00000000'+@VREGISTRO, 08)
            +RIGHT('00000000'+@VFECHACONVENIO, 08)
            +LEFT(@VRAZON + SPACE(50), 50)
            +LEFT('' + SPACE(269), 269)
            +'*' AS DATOS
            )
       SELECT X.DATOS,X.VVIN  
       FROM         (
                       SELECT 1 AS ORDEN,R.HOY AS FECHA,R.DATOS,'' VVIN FROM R
                       UNION ALL
                       SELECT 2 AS ORDEN, V.DINVOICEDATE AS FECHA, UPPER(V.DATOS) AS DATOS,V.VVIN FROM V
                       UNION ALL
                       SELECT 3 AS ORDEN,T.HOY AS FECHA,T.DATOS,'' VVIN FROM T
                    ) X
      ORDER BY X.ORDEN,X.FECHA
 

END
ELSE
BEGIN

        WITH V AS (
            -- 3. FILTRAR MUESTRAS
            SELECT
            'MA' AS TIPO_MOV,
            '       ' AS NRO_CERTIFICADO,
            UPPER(LEFT(D.VVAT + SPACE(10), 10)) AS RIF_CONCESIONARIO, 
            UPPER(LEFT(C.VVAT + SPACE(10), 10)) AS RIF_CLIENTE,
            UPPER(LEFT(DBO.UFN_GET_VFIRSTNAMEPART(C.VFIRSTNAME,1) + SPACE(30), 30)) AS PRIMER_NOMBRE ,
            UPPER(LEFT(DBO.UFN_GET_VFIRSTNAMEPART(C.VFIRSTNAME,2) + SPACE(30), 30)) AS SEGUNDO_NOMBRE,
            UPPER(LEFT(DBO.UFN_GET_VLASTNAMEPART(C.VLASTNAME,1) + SPACE(30), 30)) AS PRIMER_APELLIDO,
            UPPER(LEFT(DBO.UFN_GET_VLASTNAMEPART(C.VLASTNAME,2) + SPACE(30), 30))  AS SEGUNDO_APELLIDO,
            UPPER(LEFT(DBO.UFN_GET_VADDRESSPART(C.VADDRESS,1) + SPACE(30), 30)) AS DIRECCION,
            UPPER(LEFT(DBO.UFN_GET_VADDRESSPART(C.VADDRESS,2) + SPACE(30), 30)) AS URBANIZACION,
            UPPER(LEFT(DBO.UFN_GET_VADDRESSPART(C.VADDRESS,3) + SPACE(30), 30)) AS CASA,
            UPPER(LEFT('' + SPACE(06), 06)) AS PISO,
            UPPER(LEFT('' + SPACE(04), 04)) AS APTO,
            UPPER(LEFT('' + SPACE(30), 30)) AS MUNICIPIO,
            UPPER(LEFT(DBO.UFN_GET_VPHONECODE(C.VPHONE1) + SPACE(04), 04)) AS TELF1_COD,
            UPPER(LEFT(DBO.UFN_GET_VPHONENUMBER(C.VPHONE1) + SPACE(08), 08)) AS TELF1_NRO,
            UPPER(LEFT(DBO.UFN_GET_VPHONECODE(C.VPHONE2) + SPACE(04), 04)) AS TELF1_COD2,
            UPPER(LEFT(DBO.UFN_GET_VPHONENUMBER(C.VPHONE2) + SPACE(08), 08)) AS TELF1_NRO2,
            UPPER(LEFT(V.VPLATE + SPACE(07), 07)) AS PLACA,
            UPPER(CASE WHEN M.IDBRAND=1 THEN LEFT('LS5' + SPACE(03), 03) ELSE LEFT('FA3' + SPACE(03), 03) END) AS MARCA,
            UPPER(LEFT('PC' + SPACE(02), 02)) AS ESTADO,
            UPPER(LEFT(V.VVIN + SPACE(17), 17)) AS VIN,
            UPPER(REPLACE(CONVERT(VARCHAR(10),P.DINVOICEDATE,120),'-','')) AS FECHA_FACTURA,
            UPPER(RIGHT('000000000000000' +P.VINVOICENUMBER, 15))  AS NRO_FACTURA
            FROM POLICY P WITH (NOLOCK)
            INNER JOIN VEHICLE V WITH (NOLOCK) ON V.ID=P.IDVEHICLE
            INNER JOIN CONTACT D WITH (NOLOCK) ON D.ID=V.IDDEALER
            INNER JOIN CONTACT C WITH (NOLOCK) ON C.ID=V.IDCUSTOMER 
            INNER JOIN MODEL M WITH (NOLOCK) ON M.ID=V.IDMODEL
            WHERE P.DINVOICEDATE >= @DFROMDATE
            AND P.DINVOICEDATE < @DUPTODATE
            AND P.DINVOICEDATE >= @FechaInicio
            AND P.IESTATUS <>2
            AND V.IDSUPPLIER = @IDSUPPLIER
        )          
        -- 3. SELECCION DE DATOS
        SELECT 
        V.*,
        COUNT(*) OVER() AS TOTAL
        FROM V
        ORDER BY V.FECHA_FACTURA
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
		
END


