USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_INTT_EXPORT]    Script Date: 13/4/2026 2:52:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_INTT_EXPORT]   
    @IDUSER INT,
    @IDSUPPLIER INT,
    @IDCONTROL INT

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACION        : 
  '   CREADO POR            : GERARDO JIMENEZ
  '   CREADO PARA           : 
  '   FUNCION               :  
  '   VERSION               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZON DE MODIFICACION : 
  '===============================================================*/
BEGIN
    SET XACT_ABORT ON;               
    SET NOCOUNT ON;
    SET LOCK_TIMEOUT 180000;

    DECLARE @TOPE INT = 1000000
    DECLARE @IROWFROM INT = NULL
    DECLARE @BTXT BIT = 1
    
    DECLARE @VVAT VARCHAR(10)
    DECLARE @VRAZON VARCHAR(50)
    DECLARE @VNROENVIO VARCHAR(07)
    DECLARE @VREGISTRO VARCHAR(08)
    DECLARE @VFECHACONVENIO VARCHAR(08)

    SELECT @VVAT = VVAT, @VRAZON = VSUPPLIER
    FROM V_SUPPLIERS WHERE IDSUPPLIER = @IDSUPPLIER

    SELECT @VNROENVIO = 'EEEEEEE'
    SELECT @VREGISTRO = 'RRRRRRRR'
    SELECT @VFECHACONVENIO = REPLACE(CONVERT(VARCHAR(10), GETDATE(), 120), '-', '')
      
    ;WITH V AS (
        SELECT
            'MA' 
            + ISNULL(V.ICERTIFICATENUMBER, '') 
            + LEFT(D.VVAT + SPACE(10), 10) 
            + LEFT(C.VVAT + SPACE(10), 10) 
            + LEFT(DBO.UFN_GET_VFIRSTNAMEPART(C.VFIRSTNAME,1) + SPACE(30), 30) 
            + LEFT(DBO.UFN_GET_VFIRSTNAMEPART(C.VFIRSTNAME,2) + SPACE(30), 30) 
            + LEFT(DBO.UFN_GET_VLASTNAMEPART(C.VLASTNAME,1) + SPACE(30), 30) 
            + LEFT(DBO.UFN_GET_VLASTNAMEPART(C.VLASTNAME,2) + SPACE(30), 30) 
            + LEFT(DBO.UFN_GET_VADDRESSPART(C.VADDRESS,1) + SPACE(30), 30) 
            + LEFT(DBO.UFN_GET_VADDRESSPART(C.VADDRESS,2) + SPACE(30), 30) 
            + LEFT(DBO.UFN_GET_VADDRESSPART(C.VADDRESS,3) + SPACE(30), 30) 
            + LEFT('' + SPACE(06), 06) 
            + LEFT('' + SPACE(04), 04) 
            + LEFT(ISNULL(MUN.VDESCRIPTION, '') + SPACE(30), 30) 
            + LEFT(DBO.UFN_GET_VPHONECODE(C.VPHONE1) + SPACE(04), 04) 
            + LEFT(DBO.UFN_GET_VPHONENUMBER(C.VPHONE1) + SPACE(08), 08) 
            + LEFT(DBO.UFN_GET_VPHONECODE(C.VPHONE2) + SPACE(04), 04) 
            + LEFT(DBO.UFN_GET_VPHONENUMBER(C.VPHONE2) + SPACE(08), 08) 
            + LEFT(V.VPLATE + SPACE(07), 07) 
            + CASE WHEN M.IDBRAND=1 THEN LEFT('LS5' + SPACE(03), 03) ELSE LEFT('FA3' + SPACE(03), 03) END 
            + LEFT('PC' + SPACE(02), 02) 
            + LEFT(V.VVIN + SPACE(17), 17) 
            + REPLACE(CONVERT(VARCHAR(10), P.DINVOICEDATE, 120), '-', '') 
            + RIGHT('000000000000000' + P.VINVOICENUMBER, 15) AS DATOS,
            CAST(COUNT(*) OVER() AS VARCHAR(5)) AS TOTAL,
            V.VVIN,
            P.DINVOICEDATE,
            V.VNUMBERTXT
        FROM POLICY P WITH (NOLOCK)
        INNER JOIN VEHICLE V WITH (NOLOCK) ON V.ID = P.IDVEHICLE
        INNER JOIN CONTACT D WITH (NOLOCK) ON D.ID = V.IDDEALER
        INNER JOIN CONTACT C WITH (NOLOCK) ON C.ID = V.IDCUSTOMER 
        INNER JOIN MODEL M WITH (NOLOCK) ON M.ID = V.IDMODEL
        INNER JOIN CITY CI WITH (NOLOCK) ON CI.ID = C.IDCITY
        INNER JOIN MUNICIPALITY MUN WITH (NOLOCK) ON MUN.ID = CI.IDMUNICIPALITY
        WHERE P.IESTATUS <> 2
            AND V.IDSUPPLIER = @IDSUPPLIER
            AND V.VNUMBERTXT = RIGHT('0000000000' + CAST(@IDCONTROL AS VARCHAR), 10)
            AND EXISTS (SELECT 1 FROM V_SUPPLIERS_USER R WHERE R.IDUSER = @IDUSER AND R.IDSUPPLIER = V.IDSUPPLIER)
    ),
    T AS (
        SELECT 
            DISTINCT 
            'RC' + RIGHT('0000000' + V.TOTAL, 07) + '00000000000000' AS DATOS,
            REPLACE(CONVERT(VARCHAR(10), GETDATE(), 120), '-', '') AS HOY 
        FROM V
    ),
    R AS (
        SELECT 
            DISTINCT 
            REPLACE(CONVERT(VARCHAR(10), GETDATE(), 120), '-', '') AS HOY,
            'RE' + RIGHT('0000000' + @VNROENVIO, 07)
            + RIGHT('0000000000' + @VVAT, 10)
            + RIGHT('00000000' + @VREGISTRO, 08)
            + RIGHT('00000000' + @VFECHACONVENIO, 08)
            + LEFT(@VRAZON + SPACE(50), 50)
            + LEFT('' + SPACE(269), 269)
            + '*' AS DATOS
    )
    SELECT X.DATOS
    FROM (
        SELECT 1 AS ORDEN, R.HOY AS FECHA, R.DATOS FROM R
        UNION ALL
        SELECT 2 AS ORDEN, V.DINVOICEDATE AS FECHA, UPPER(V.DATOS) AS DATOS FROM V
        UNION ALL
        SELECT 3 AS ORDEN, T.HOY AS FECHA, T.DATOS FROM T
    ) X
    ORDER BY X.ORDEN, X.FECHA
END
GO