USE [SODA]
GO
/****** Objeto: StoredProcedure [dbo].[USP_GET_RATES] Fecha de script: 17/4/2026 8:38:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_RATES] --USP_GET_RATES
    @IROWFROM INT = NULL,
    @VFILTER VARCHAR(100) = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : GERARDO JIMENEZ
  '   CREADO PARA           : 
  '   FUNCIÓN               : MOSTRAR LAS TASAS
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

    DECLARE @TOPE INT

    IF @IROWFROM IS NULL
    BEGIN
        SET @TOPE = 1000000
        SET @IROWFROM = 0
    END
    ELSE
    BEGIN
        SET @TOPE = 100
    END;

    WITH T1 AS (
        SELECT 
            R.ID,
            R.DDATE,
            R.NRATE
        FROM RATE R WITH (NOLOCK)
        -- El parámetro @VFILTER está declarado pero no se usa en el WHERE
        -- El filtro se sigue haciendo en el frontend
    ),
    T2 AS (
        SELECT COUNT(*) AS TOTAL FROM T1
    ),
    T3 AS (
        SELECT * FROM T1
        ORDER BY DDATE DESC
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
    )
    SELECT T3.*, T2.* FROM T3, T2;

END