GO
/****** Object:  StoredProcedure [dbo].[USP_POST_LICENSEDETAILS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_LICENSEDETAILS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_LICENSEDETAILS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_POST_LICENSEDETAILS]
 @IDUSER INT,
 @DATA NVARCHAR(MAX)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 
				
			
			

				DECLARE @TDATA AS TABLE
				(
					VVIN VARCHAR(20),
					IDLICENSE INT,
					VROWREFERENCE VARCHAR(5)
				);


				INSERT INTO @TDATA
				SELECT
						Vin,
						LicenseId,
						RowReference
						FROM OPENJSON(@DATA)
				WITH (
						Vin varchar(20),
						LicenseId int,
						RowReference Varchar(5)
					  ) AS L


				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('SERVICIOS-LICENCIA')
				SET @VACTION='EDIT'
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
				DECLARE @ErrorMessage NVARCHAR(4000) 
				DECLARE @VROWREF VARCHAR(5)=Null
				 
						 
			  -- Buscar VIN no registrado en VEHICLE
					DECLARE @VIN VARCHAR(20);
					SELECT TOP 1 @VIN = T.VVIN, @VROWREF=VROWREFERENCE FROM @TDATA T LEFT JOIN VEHICLE V WITH (NOLOCK) ON T.VVIN = V.VVIN
					WHERE V.VVIN IS NULL;

					IF @VIN IS NOT NULL
					BEGIN
					  SET @ErrorMessage	='ACCION NO PERMITIDA. VIN NO VALIDO ' + @VIN 
					END



					IF @ErrorMessage IS NULL
						BEGIN
						-- Validar DUPLICADO DE VIN
						IF EXISTS (SELECT 1 FROM @TDATA T 
						INNER JOIN LICENSEDETAILS LD ON T.VVIN = LD.VVIN AND T.IDLICENSE = LD.IDLICENSE	)
						BEGIN
						    SELECT TOP 1 @VROWREF=VROWREFERENCE,@VIN=T.VVIN FROM @TDATA T 
							INNER JOIN LICENSEDETAILS LD ON T.VVIN = LD.VVIN AND T.IDLICENSE = LD.IDLICENSE
							SET @ErrorMessage= 'OPERACIÓN INVÁLIDA. VIN YA REGISTRADO A ESTA LICENCIA: ' + @VIN
						END
					END



					IF @ErrorMessage IS NULL
					BEGIN
					-- Validar acceso del usuario a la planta del VIN
					DECLARE @VIN2 VARCHAR(20);
					SELECT TOP 1 @VIN2 = T.VVIN FROM @TDATA T;

					IF NOT EXISTS (	SELECT 1 FROM V_SUPPLIERS_USER R
						WHERE R.IDUSER = @IDUSER AND R.IDSUPPLIER = ( SELECT V.IDSUPPLIER FROM VEHICLE V WITH (NOLOCK) WHERE V.VVIN = @VIN2 )
					               )
					BEGIN
						SET @ErrorMessage='OPERACIÓN INVÁLIDA. USUARIO SIN AUTORIZACION A LA PLANTA'
					END

					END


					IF @ErrorMessage IS NULL
					BEGIN
					-- Validar que la planta del vehículo coincida con la planta de la licencia
					IF EXISTS (
						SELECT 1
						FROM @TDATA T
						INNER JOIN VEHICLE V WITH (NOLOCK) ON T.VVIN = V.VVIN
						INNER JOIN LICENSE L WITH (NOLOCK) ON T.IDLICENSE = L.ID
						WHERE V.IDSUPPLIER <> L.IDSUPPLIER
					)
					BEGIN
						SET @ErrorMessage= 'OPERACIÓN INVÁLIDA. VIN %s. NO PERTENECE A LA PLANTA INDICADA EN LA LICENCIA: ' + @VIN
					END
					END


					IF @ErrorMessage IS NULL
					BEGIN
						SELECT TOP 1 @VIN = T.VVIN
						FROM @TDATA T
						INNER JOIN LICENSE L1 WITH (NOLOCK) ON T.IDLICENSE = L1.ID AND L1.IDLICENSETYPE = 2
						INNER JOIN LICENSEDETAILS LD WITH (NOLOCK) ON T.VVIN = LD.VVIN
						INNER JOIN LICENSE L WITH (NOLOCK) ON LD.IDLICENSE = L.ID AND L.IDLICENSETYPE = 2
						WHERE L.IESTATUS = DBO.UFN_GET_ISTATUS('ACTIVATE')
						  AND LD.IESTATUS = DBO.UFN_GET_ISTATUS('AVAILABLE')

						IF @@ROWCOUNT > 0
						BEGIN
							SET @ErrorMessage = 'OPERACIÓN INVÁLIDA. VIN DISPONIBLE EN OTRA LICENCIA DE TIPO ESPECIAL ACTIVA: ' + @VIN
						END
					END

					IF @ErrorMessage IS NOT NULL
				BEGIN
					IF @VROWREF IS NOT NULL AND LTRIM(RTRIM(@VROWREF)) <> ''
						SET @ErrorMessage= @ErrorMessage + ' -FILA: ' + @VROWREF

					RAISERROR(@ErrorMessage, 16, 1)
					RETURN
				END

			
			 DECLARE 
					@IID INT = 0,
					@IINSERTED INT = 0,
					@IUPDATED INT = 0

			DECLARE @IRECORDS INT
			SELECT @IRECORDS = COUNT(*) FROM @TDATA

			BEGIN

				INSERT INTO LICENSEDETAILS 
				(VVIN,IDLICENSE,IESTATUS,BACTIVE,DCREATED,DUPDATED,VUPDATEDBY)
				SELECT VVIN,IDLICENSE,DBO.UFN_GET_ISTATUS('AVAILABLE'),1,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER)
				FROM @TDATA D
				INNER JOIN LICENSE L WITH (NOLOCK) ON D.IDLICENSE=L.ID
				WHERE NOT EXISTS (SELECT * FROM LICENSEDETAILS P WITH (NOLOCK) WHERE P.VVIN =D.VVIN AND P.IDLICENSE = D.IDLICENSE)
				AND L.IESTATUS=DBO.UFN_GET_ISTATUS('CREATE')

				SELECT @IINSERTED=@@ROWCOUNT
				SELECT @IID=SCOPE_IDENTITY()
			END
			

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN

		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END