GO
/****** Object:  StoredProcedure [dbo].[USP_POST_MAINTENANCEDETAILS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_MAINTENANCEDETAILS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_MAINTENANCEDETAILS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_MAINTENANCEDETAILS] 
 @DATA NVARCHAR(MAX),
 @IDUSER INT
  
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

 

BEGIN
    SET XACT_ABORT ON                
    SET NOCOUNT ON
    SET LOCK_TIMEOUT 180000

    BEGIN TRY
        BEGIN TRAN 

		DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('SERVICIOS-REPORTE FALLA')
		SET @VACTION='EDIT'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

        DECLARE @TDATA TABLE (
            ID INT,
            IDMAINTENANCE INT,
            IDITEM INT,
            CTYPE CHAR,
            IQUANTITY NUMERIC(10,2), 
            VUPDATEDBY VARCHAR(15),
            IESTATUS INT,
            BACTIVE BIT,
			BEXTERNAL BIT,
			BTAX BIT,
			NUNITPRICE NUMERIC(10,2),
			VINVOICENUMBER VARCHAR(50)
        );

        INSERT INTO @TDATA
        SELECT M.Id, M.ServiceId, M.ItemId, M.Type, M.Quantity, DBO.UFN_GET_LOGIN(@IDUSER), dbo.UFN_GET_ISTATUS('CREATE'), M.IsActive,M.IsExternal,M.IsTax,M.UnitPrice,M.InvoiceNumber
        FROM OPENJSON(@DATA)
        WITH (
            Id INT,
            ServiceId INT,
            ItemId INT,
            Type CHAR,
            Quantity Numeric(10,2),
            IsActive BIT,
			IsExternal BIT,
			IsTax bit,
			UnitPrice NUMERIC(10,2),
			InvoiceNumber Varchar(50)
        ) AS M;

        DECLARE 
            @NQUANTITY DECIMAL(18,6) = 0,
            @NUNITPRICE DECIMAL(10,2) = 0,
            @PRICE DECIMAL(18,6)=0,
            @CTYPE CHAR,
			@IDMAINTENANCE INT = (SELECT IDMAINTENANCE FROM @TDATA),
			@BEXTERNAL BIT= (SELECT BEXTERNAL FROM @TDATA),
			@BEXTERNAL2 BIT=ISNULL((SELECT MD.BEXTERNAL FROM MAINTENANCEDETAILS MD WITH(NOLOCK)
			INNER JOIN @TDATA T ON MD.ID=T.ID),0),
			@BTAX BIT,
			@IDTAX INT 
			DECLARE @IQUANTITYHOURS NUMERIC(10,2)=0;

        SELECT 
            TOP 1 @CTYPE = CTYPE FROM @TDATA T


			EXEC USP_CHECK_MAINTENANCE @DATA, @IDUSER

        DECLARE 
            @IID INT = 0,
            @IINSERTED INT = 0,
            @IUPDATED INT = 0

			IF EXISTS (SELECT 1 FROM @TDATA WHERE NUNITPRICE=0) 
			BEGIN

			RAISERROR(
				'ACCION NO PERMITIDA: EL PRECIO UNITARIO DEBE SER MAYOR A $0.00.',16, 1)
			RETURN
			END

			IF EXISTS (SELECT 1 FROM MAINTENANCEDETAILS M WITH (NOLOCK)
			           INNER JOIN @TDATA T ON M.IDITEM=T.IDITEM AND M.CTYPE=T.CTYPE AND M.IDMAINTENANCE=T.IDMAINTENANCE
					   WHERE T.ID IS NULL OR T.ID = 0 ) 
			BEGIN

			RAISERROR(
				'ACCION NO PERMITIDA:  ELEMENTO YA CARGADO EN EL REPORTE',16, 1)
			RETURN
			END

				 IF EXISTS (
			SELECT 1
			FROM MAINTENANCE P
			INNER JOIN @TDATA T ON P.ID = T.IDMAINTENANCE
				WHERE P.IESTATUS NOT IN (
										DBO.UFN_GET_ISTATUS('VALIDATE')
										)
					    )
		BEGIN
			DECLARE @VACTIONMAINTENANCE VARCHAR(20) = (SELECT TOP 1 A.VDISPLAYESTATUS FROM @TDATA T
											INNER JOIN MAINTENANCE M WITH (NOLOCK) ON T.IDMAINTENANCE=M.ID
											INNER JOIN ACTION A WITH (NOLOCK) ON M.IESTATUS=A.ID 
											WHERE M.IESTATUS NOT IN (DBO.UFN_GET_ISTATUS('VALIDATE'))
											)
			RAISERROR(
				'ACCION NO PERMITIDA: NO SE PUEDEN AÑADIR ELEMENTOS A UN REPORTE QUE ESTA EN ESTATUS  " %s " ',16,1, @VACTIONMAINTENANCE)
			RETURN
		END

        ---------------------------------ACCION CAMBIAR EXTERNO-INTERNO ---------------------------------------------------------
		 IF EXISTS (SELECT * FROM @TDATA T
		            INNER JOIN MAINTENANCEDETAILS MD WITH (NOLOCK) ON T.ID=MD.ID) AND @BEXTERNAL<>@BEXTERNAL2
		BEGIN
			RAISERROR(
				'ACCION NO PERMITIDA: MODIFICAR EXTERNO-INTERNO ',16, 1)
			RETURN
		END
        

		---------------SI ES UNA PARTE Y NO ES COMPRA EN PLAZA/EXTERNO-----------------------
        IF @CTYPE = 'P' AND @BEXTERNAL=0   
        BEGIN
		
		SELECT TOP 1
			@NQUANTITY = T.IQUANTITY, 
			@NUNITPRICE =ISNULL(T.NUNITPRICE,P.NPRICE),
			@IDTAX =P.IDTAX
        FROM @TDATA T
		INNER JOIN PART P ON T.IDITEM =P.ID;

       SET @PRICE = FLOOR(@NQUANTITY * @NUNITPRICE * 100) / 100.0
	   SET @BTAX= (CASE 
			  WHEN @IDTAX=2 THEN 1
			  WHEN @IDTAX=1 THEN 0
			  ELSE 0
			  END)
		
        END

			---------------SI ES UNA PARTE Y ES COMPRA EN PLAZA/EXTERNO-----------------------
        ELSE IF @CTYPE = 'P' AND @BEXTERNAL=1 
        BEGIN

		SELECT 
            TOP 1  
            @NQUANTITY = T.IQUANTITY, 
			@NUNITPRICE =T.NUNITPRICE,
			@BTAX =T.BTAX
        FROM @TDATA T;

           SET @PRICE = FLOOR(@NQUANTITY * @NUNITPRICE * 100) / 100.0

        END


		---------------------SI ES UNA MANO DE OBRA Y NO ES TOT/EXTERNO---------------------
        

		ELSE IF @CTYPE = 'L' AND @BEXTERNAL=0 
		BEGIN
			SELECT TOP 1
				@IQUANTITYHOURS = D.IQUANTITY,
				@NUNITPRICE = ISNULL(D.NUNITPRICE, (
					SELECT NVALUE FROM PARAMETER WHERE VCODIGO = 'LABORTIME1'
				))
			FROM @TDATA D;

			SET @PRICE = FLOOR(@IQUANTITYHOURS * @NUNITPRICE * 100) / 100.0;
			SET @BTAX = 1;
		END

		---------------------SI ES UNA MANO DE OBRA Y TOT/EXTERNO---------------------
		ELSE IF @CTYPE = 'L' AND @BEXTERNAL=1 
		BEGIN
		SELECT TOP 1  
			@NQUANTITY = ISNULL(T.IQUANTITY, 0), 
			@NUNITPRICE = ISNULL(T.NUNITPRICE, 0),
			@BTAX = ISNULL(T.BTAX, 0)
		FROM @TDATA T;

		SET @PRICE = FLOOR(@NQUANTITY * @NUNITPRICE * 100) / 100.0;
		END



        IF EXISTS (SELECT * FROM @TDATA WHERE ID = 0) 
        BEGIN



            INSERT INTO MAINTENANCEDETAILS
                (IDMAINTENANCE, IDITEM, CTYPE, IQUANTITY, NPRICE,NUNITPRICE, VUPDATEDBY, IESTATUS, BACTIVE, DCREATED, DUPDATED,BTAX,BEXTERNAL,VINVOICENUMBER)
            SELECT 
                D.IDMAINTENANCE, D.IDITEM, D.CTYPE, D.IQUANTITY, @PRICE,@NUNITPRICE, DBO.UFN_GET_LOGIN(@IDUSER), D.IESTATUS, 1, GETDATE(), GETDATE(),@BTAX,D.BEXTERNAL,D.VINVOICENUMBER
            FROM @TDATA D

             EXEC USP_MOUNT_MAINTENANCE @IDMAINTENANCE,@IDUSER
            SET @IID = SCOPE_IDENTITY()
            SET @IINSERTED = @@ROWCOUNT
        END
        ELSE
        BEGIN

            UPDATE P
            SET 
                IDMAINTENANCE = D.IDMAINTENANCE,
                IDITEM = D.IDITEM,
                CTYPE = D.CTYPE,
                IQUANTITY=D.IQUANTITY,
                --NPRICE =@PRICE,
				NPRICE=D.IQUANTITY*@NUNITPRICE,
				NUNITPRICE = @NUNITPRICE,
                VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
				BTAX =@BTAX,
                BACTIVE = D.BACTIVE,
                DUPDATED = GETDATE(),
				VINVOICENUMBER=D.VINVOICENUMBER
            FROM MAINTENANCEDETAILS P
            INNER JOIN @TDATA D ON D.ID = P.ID AND (P.IESTATUS=DBO.UFN_GET_ISTATUS('TOAPPROVE') OR P.IESTATUS=DBO.UFN_GET_ISTATUS('CREATE'))
            SET @IUPDATED = @@ROWCOUNT
			EXEC USP_MOUNT_MAINTENANCE @IDMAINTENANCE,@IDUSER
        END

        SELECT 
            ISNULL(@IID, 0) AS IID,  
            ISNULL(@IINSERTED, 0) AS IINSERTED, 
            ISNULL(@IUPDATED, 0) AS IUPDATED

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN

        DECLARE @ErrorMessage NVARCHAR(4000)
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
        RAISERROR(@ErrorMessage, 16, 1)
    END CATCH
END
