GO
/****** Object:  StoredProcedure [dbo].[USP_GET_MAINTENANCES]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_MAINTENANCES]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_MAINTENANCES] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_GET_MAINTENANCES]-- USP_GET_MAINTENANCES NULL,5175,4069,5103,NULL,NULL,2
@ID INT = NULL,
@IDUSER INT ,
@IDSUPPLIER INT=0 ,
@IDDEALER INT=NULL,
@VFILTER VARCHAR(100) = NULL,
@IROWFROM INT = NULL,
@IDSERVICETYPE INT = NULL 

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	DECLARE @ISDEALER BIT=0
	IF NOT EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] WHERE IDUSER=@IDUSER)
	BEGIN
		SET @ISDEALER=1
	END

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

		--DECLARE @VACTION VARCHAR(20)
		------MARCAR MODULO DEPENDIENDO DEL SERVICETYPE------
          DECLARE @IDMODULE INT;
          SELECT @IDMODULE = 
				CASE 
					WHEN @IDSERVICETYPE = 1 THEN [dbo].[UFN_GET_IDMODULE]('SERVICIOS-MANTENIMIENTO')
					WHEN @IDSERVICETYPE = 2 THEN [dbo].[UFN_GET_IDMODULE]('SERVICIOS-ASISTENCIA TECNICA') 
					WHEN @IDSERVICETYPE = 3 THEN [dbo].[UFN_GET_IDMODULE]('SERVICIOS-REPORTE FALLA')
					ELSE 8
				END
			
		--SET @VACTION='GET'
		--EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

BEGIN
    WITH T1 AS (
       SELECT 
		M.ID,
		M.IDVEHICLE,
		V.VVIN,
		V.VPLATE,
		V.IYEAR,
		V.IDMODEL,
		L.VDESCRIPTION AS VMODELNAME,
		V.IDDEALER AS IDDEALERSALE,
		C.VFIRSTNAME AS VDEALERSALE,
		C.VREFERENCE AS VDEALERSALECOD,
		M.IKM,
		M.BPARALYZED,
		P.VNUMBER as VNUMBERPOLICY,
		K.ID AS IDPOLICYDETAILS,
		M.IDSERVICETYPE,
		S.VNAME AS VSERVICETYPE,
		M.IDREPORTTYPE,
		R.VNAME AS VREPORTTYPE,
		M.VSERVICENUMBER,
		ISNULL(M.VREPORTCUSTOMER,'')VREPORTCUSTOMER,
		ISNULL(M.VTECHNICALREPORT,'')VTECHNICALREPORT,
		ISNULL(M.VTECHNICALSOLUTION,'')VTECHNICALSOLUTION,
		ISNULL(M.VSUPPLIERDECISION,'')VSUPPLIERDECISION,
		ISNULL(M.VSRGNUMBER,'')VSRGNUMBER,
		M.DMAINTENANCEDATE,
		M.IDDEALER AS IDDEALERSERVICE,
		Q.VFIRSTNAME AS VDEALERSERVICE,
		Q.VREFERENCE AS VDEALERCOD,
		Q.VADDRESS AS VDEALERADDRESS,
		W.VNAME AS VNAMECITY,
		W.VSTATE AS VNAMESTATE,
		M.IDCUSTOMER,
		ISNULL(Z.VVAT,'') AS VVAT,
		ISNULL(Z.VFIRSTNAME,'') AS VCUSTOMERNAME,
		ISNULL(Z.VLASTNAME,'') AS VCUSTOMERLASTNAME,
		ISNULL(Z.VPHONE1,0) AS VPHONE1,
		ISNULL(M.VINVOICENUMBER,'') VINVOICENUMBER,
		M.NINVOICEAMOUNT,
		M.NTAXBASE, 
		M.TAX,
		M.NEXEMPT,
		M.DINVOICEDATE,
		M.BACTIVE,	
		m.IESTATUS,
		M.DUPDATED AS dAUTHORIZATIONDATE,
	    A.VDISPLAYESTATUS AS VESTATUSNAME,
		A.VNAME AS VACTIONAME,
		O.IDSUPPLIER,
		O.IDBRAND,
		U.IDLICENSE,
		X.VDESCRIPTION AS VDESCRIPTIONLICENSE,
		X.IDLICENSETYPE,
		G.VNAME AS VLICENSETYPE,
		CASE 
		WHEN @IDSERVICETYPE = 2 THEN ISNULL(CO.VFIRSTNAME + ' ' + ISNULL(CO.VLASTNAME,'') ,'')
		WHEN @IDSERVICETYPE = 3 THEN ISNULL(T.VFIRSTNAME + ' ' + T.VLASTNAME, '')
		ELSE ''
		END AS VAUTHORIZEDUSERNAME,
		M.DCREATED,
		M.IDASSISTANCETYPE,
		AE.VNAME AS VASSISTANCETYPE,
		M.IDPOSSIBLEFAULT,
		PF.VNAME AS VPOSSIBLEFAULT,
		AN.DSTARTDATE,
		AN.DENDDATE,
		AN.IQUANTITY
        FROM MAINTENANCE M WITH (NOLOCK)
        INNER JOIN VEHICLE V (NOLOCK) ON M.IDVEHICLE = V.ID
        INNER JOIN CONTACT C (NOLOCK) ON V.IDDEALER = C.ID
		INNER JOIN CONTACT Q  (NOLOCK) ON M.IDDEALER =Q.ID
		INNER JOIN CITY W (NOLOCK) ON Q.IDCITY = W.ID
		LEFT JOIN CONTACT Z (NOLOCK) ON M.IDCUSTOMER =Z.ID
		LEFT  JOIN CONTACT T (NOLOCK) ON M.IDAUTHORIZEDUSER =T.ID
        INNER JOIN ACTION A  (NOLOCK) ON M.IESTATUS = A.ID
        LEFT JOIN MODEL L   (NOLOCK) ON V.IDMODEL= L.ID
		INNER JOIN SERVICETYPE S(NOLOCK) ON M.IDSERVICETYPE = S.ID
		INNER JOIN REPORTTYPE R (NOLOCK)ON M.IDREPORTTYPE = R.ID
		LEFT JOIN POLICY P (NOLOCK) ON  V.ID= P.IDVEHICLE
		LEFT JOIN POLICYDETAILS K (NOLOCK) ON M.ID = K.IDMAINTENANCE
		INNER JOIN V_DEALERS O (NOLOCK) ON  M.IDDEALER =O.IDDEALER
		LEFT JOIN LICENSEDETAILS U (NOLOCK) ON M.ID =U.IDMAINTENANCE
		LEFT JOIN LICENSE X (NOLOCK) ON U.IDLICENSE=X.ID
		LEFT JOIN LICENSETYPE G (NOLOCK) ON X.IDLICENSETYPE =G.ID
		LEFT JOIN ASSESSMENT AN WITH (NOLOCK) ON M.ID=AN.IDRECORD AND @IDMODULE=AN.IDMODULE
		LEFT JOIN ASSISTANCETYPE AE WITH(NOLOCK) ON M.IDASSISTANCETYPE=AE.ID
		LEFT JOIN POSSIBLEFAULT PF WITH (NOLOCK) ON M.IDPOSSIBLEFAULT =PF.ID
		LEFT JOIN INFOUSER IU WITH(NOLOCK) ON AN.VUSERSUPPLIER=IU.VLOGIN
		LEFT JOIN CONTACT CO WITH (NOLOCK) ON IU.IDUSER=CO.ID
        WHERE  (
						(@ISDEALER = 0 AND EXISTS (
							SELECT *
							FROM V_SUPPLIERS_USER R
							WHERE R.IDUSER = @IDUSER
							  AND R.IDSUPPLIER = O.IDSUPPLIER
							   AND O.IDSUPPLIER =CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 THEN O.IDSUPPLIER ELSE @IDSUPPLIER END
							   AND M.IDDEALER =CASE WHEN ISNULL(@IDDEALER,0) = 0 THEN M.IDDEALER ELSE @IDDEALER END
						))
						OR
						(@ISDEALER = 1 AND EXISTS (
							SELECT * FROM V_DEALERS_USER D 
							WHERE D.IDUSER = @IDUSER
							  AND D.IDDEALER = M.IDDEALER
							  AND M.IDDEALER =CASE WHEN ISNULL(@IDDEALER,0) = 0 THEN M.IDDEALER ELSE @IDDEALER END
						))
					)
		AND (
        V.VVIN LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR V.VPLATE LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR Z.VVAT LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR Z.VFIRSTNAME LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR Z.VLASTNAME LIKE '%' + ISNULL(@VFILTER, '') + '%'
		OR P.VNUMBER LIKE '%' + ISNULL(@VFILTER, '') + '%'
		OR M.VSERVICENUMBER LIKE '%' + ISNULL(@VFILTER, '') + '%'
			)
	    AND ( M.IDSERVICETYPE =CASE WHEN @IDSERVICETYPE IS NULL THEN M.IDSERVICETYPE ELSE @IDSERVICETYPE END)
		AND ( M.ID = CASE WHEN @ID IS NUll THEN M.ID ELSE @ID END)

	     
    ), 
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
    T3 AS (
        SELECT * FROM T1
       ORDER BY 
				CASE 
					WHEN T1.VACTIONAME = 'CREATE' THEN 1
					WHEN T1.VACTIONAME = 'TOVALIDATE' THEN 2
					WHEN T1.VACTIONAME = 'TOAPPROVE' THEN 3
					WHEN T1.VACTIONAME = 'APPROVE' THEN 4
					WHEN T1.VACTIONAME = 'PROCESS' THEN 5
					WHEN T1.VACTIONAME = 'ASSIGN' THEN 6
					WHEN T1.VACTIONAME = 'DECLINE' THEN 7
					ELSE 7 
				END ASC,
				T1.DCREATED ASC
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
    )
    SELECT T3.*, T2.TOTAL
    FROM T3, T2

END

