GO
/****** Object:  StoredProcedure [dbo].[USP_GET_GUIDES]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_GUIDES]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_GUIDES] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_GET_GUIDES] -- [USP_GET_GUIDES] 1,4069,0,'112'
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@IDGUIDE INT = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : VALIDACION DE SEGURIDAD
  '   MODIFICADO POR        : JUAN GARECUCO
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

		DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-DESPACHO')
		SET @VACTION='GET'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

BEGIN

	IF @IDGUIDE IS NULL
	BEGIN
		WITH T1 as(
			SELECT G.* FROM V_GUIDE G
			WHERE
			G.IDSUPPLIER= CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 THEN G.IDSUPPLIER ELSE @IDSUPPLIER END AND
			EXISTS (SELECT * FROM V_SUPPLIERS_USER V WHERE V.IDUSER=@IDUSER AND V.IDSUPPLIER =  G.IDSUPPLIER) AND
			(
			G.VID = CASE WHEN ISNULL(@VFILTER,'')='' THEN G.VID ELSE @VFILTER END OR
			G.VNUMBER = CASE WHEN ISNULL(@VFILTER,'')='' THEN G.VNUMBER ELSE @VFILTER END OR
			G.VCUSTOMER LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+G.VCUSTOMER+'%' ELSE '%'+@VFILTER+'%' END
			)

		)
		,
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
		T3 AS (
			SELECT * FROM T1
			ORDER BY T1.ID desc
			OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
			FETCH NEXT @TOPE ROWS ONLY
		)
		SELECT T3.*, T2.* FROM T3, T2;
	END
	ELSE
	BEGIN
		WITH T1 as(
			SELECT G.* FROM V_GUIDE G
			WHERE
			G.ID = @IDGUIDE

		)
		,
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
		T3 AS (
			SELECT * FROM T1
			ORDER BY T1.ID desc
			OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
			FETCH NEXT @TOPE ROWS ONLY
		)
		SELECT T3.*, T2.* FROM T3, T2;
	END

END