GO
/****** Object:  StoredProcedure [dbo].[USP_POST_LICENSE]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_LICENSE]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_LICENSE] AS BEGIN SET NOCOUNT ON  END')
GO


ALTER PROCEDURE [dbo].[USP_POST_LICENSE]
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

    BEGIN TRY
        BEGIN TRAN 
	DECLARE @ErrorMessage NVARCHAR(4000);

					DECLARE @TDATA AS TABLE
					(
					ID INT ,
					VDESCRIPTION VARCHAR (100),
					IDLICENSETYPE INT,
					IDSUPPLIER INT,
					BACTIVE BIT,
					DEXPIRATIONDATE DATETIME
					);

					INSERT INTO @TDATA
					SELECT M.Id, M.Description,M.TypeId, M.SupplierId,M.IsActive,M.ExpirationDate
					FROM OPENJSON(@DATA)
					WITH (
					Id INT,
					Description VARCHAR(100),
					TypeId INT,
					SupplierId INT,
					IsActive bit,
					ExpirationDate datetime
					) AS M

			EXEC USP_CHECK_SUPPLIERS @DATA,@IDUSER
			
			DECLARE @VACTION VARCHAR(20)
		    DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('SERVICIOS-LICENCIA')

		
		    DECLARE @IID INT
		    DECLARE @IINSERTED INT
		    DECLARE @IUPDATED INT

			--------insercion de data-------------------------------------------
			IF EXISTS (SELECT * FROM @TDATA WHERE ID=0)
			BEGIN
					SET @VACTION='CREATE'
					EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

					INSERT INTO LICENSE(VDESCRIPTION,IDLICENSETYPE,IDSUPPLIER,IESTATUS,BACTIVE,DEXPIRATIONDATE,VUPDATEDBY,DCREATED,DUPDATED)
					SELECT VDESCRIPTION,IDLICENSETYPE,IDSUPPLIER, DBO.UFN_GET_ISTATUS('ACTIVATE'),1,DEXPIRATIONDATE,DBO.UFN_GET_LOGIN(@IDUSER),GETDATE(),GETDATE()
					FROM @TDATA D
					WHERE NOT EXISTS (SELECT * FROM LICENSE M WITH (NOLOCK) WHERE M.ID = D.ID);

					SELECT @IINSERTED=@@ROWCOUNT
					SELECT @IID=SCOPE_IDENTITY()
            END
		    ELSE
			BEGIN
				SET @VACTION='EDIT'
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
					UPDATE M
					SET M.VDESCRIPTION = D.VDESCRIPTION,
					M.IDLICENSETYPE =  D.IDLICENSETYPE,
					M.IDSUPPLIER=D.IDSUPPLIER,
					M.BACTIVE = D.BACTIVE,
					M.DEXPIRATIONDATE=D.DEXPIRATIONDATE,
					M.VUPDATEDBY=DBO.UFN_GET_LOGIN(@IDUSER),
					M.DUPDATED = GETDATE()
					FROM LICENSE M
					INNER JOIN @TDATA D ON D.ID = M.ID;

					SELECT @IUPDATED=@@ROWCOUNT
			END

					SELECT
					ISNULL(@IID,0) AS IID , 
					ISNULL(@IINSERTED,0) AS IINSERTED,
					ISNULL(@IUPDATED,0) AS IUPDATED


            COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END