GO
/****** Object:  StoredProcedure [dbo].[USP_GET_MAINTENANCES]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_MAINTENANCES]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_MAINTENANCES] AS BEGIN SET NOCOUNT ON  END')
GO



ALTER PROCEDURE [dbo].[USP_GET_MAINTENANCES]-- USP_GET_MAINTENANCES 145,1,5103,NULL,NULL,3
@ID INT = NULL,
@IDUSER INT ,
@IDDEALER INT,
@VFILTER VARCHAR(100) = NULL,
@IROWFROM INT = NULL,
@IDSERVICETYPE INT = NULL 

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	DECLARE @ISDEALER BIT=0
	IF EXISTS (SELECT * FROM [dbo].[V_DEALERS_USER] WHERE IDUSER=@IDUSER)
	BEGIN
		SET @ISDEALER=1
	END

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

		DECLARE @VACTION VARCHAR(20)
		------MARCAR MODULO DEPENDIENDO DEL SERVICETYPE------
          DECLARE @IDMODULE INT;
          SELECT @IDMODULE = 
				CASE 
					WHEN @IDSERVICETYPE = 1 THEN [dbo].[UFN_GET_IDMODULE]('SERVICIOS-MANTENIMIENTO')
					WHEN @IDSERVICETYPE = 2 THEN [dbo].[UFN_GET_IDMODULE]('SERVICIOS-ASISTENCIA TECNICA') 
					WHEN @IDSERVICETYPE = 3 THEN [dbo].[UFN_GET_IDMODULE]('SERVICIOS-REPORTE FALLA')
					ELSE 8
				END
			
		SET @VACTION='GET'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

BEGIN
    WITH T1 AS (
       SELECT 
		M.ID,
		M.IDVEHICLE,
		V.VVIN,
		V.VPLATE,
		V.IYEAR,
		V.IDMODEL,
		L.VNAME AS VMODELNAME,
		V.IDDEALER AS IDDEALERSALE,
		C.VFIRSTNAME AS VDEALERSALE,
		C.VREFERENCE AS VDEALERSALECOD,
		M.IKM,
		M.BPARALYZED,
		P.VNUMBER as VNUMBERPOLICY,
		K.ID AS IDPOLICYDETAILS,
		M.IDSERVICETYPE,
		S.VNAME AS VSERVICETYPE,
		M.IDREPORTTYPE,
		R.VNAME AS VREPORTTYPE,
		M.VSERVICENUMBER,
		ISNULL(M.VREPORTCUSTOMER,'')VREPORTCUSTOMER,
		ISNULL(M.VTECHNICALREPORT,'')VTECHNICALREPORT,
		ISNULL(M.VTECHNICALSOLUTION,'')VTECHNICALSOLUTION,
		ISNULL(M.VSUPPLIERDECISION,'')VSUPPLIERDECISION,
		ISNULL(T.VFIRSTNAME,'')VAUTHORIZEDUSERNAME,
		ISNULL(T.VLASTNAME,'')VAUTHORIZEDUSERLASTNAME,
		ISNULL(M.VSRGNUMBER,'')VSRGNUMBER,
		M.DMAINTENANCEDATE,
		M.IDDEALER AS IDDEALERSERVICE,
		Q.VFIRSTNAME AS VDEALERSERVICE,
		Q.VREFERENCE AS VDEALERCOD,
		Q.VADDRESS AS VDEALERADDRESS,
		W.VNAME AS VNAMECITY,
		W.VSTATE AS VNAMESTATE,
		M.IDCUSTOMER,
		ISNULL(Z.VVAT,'') AS VVAT,
		ISNULL(Z.VFIRSTNAME,'') AS VCUSTOMERNAME,
		ISNULL(Z.VLASTNAME,'') AS VCUSTOMERLASTNAME,
		ISNULL(Z.VPHONE1,0) AS VPHONE1,
		ISNULL(M.VINVOICENUMBER,'') VINVOICENUMBER,
		M.NINVOICEAMOUNT,
		M.NTAXBASE, 
		M.TAX,
		M.NEXEMPT,
		M.DINVOICEDATE,
		M.BACTIVE,	
		m.IESTATUS,
		M.DUPDATED AS dAUTHORIZATIONDATE,
	    A.VDISPLAYESTATUS AS VESTATUSNAME,
		O.IDSUPPLIER,
		O.IDBRAND,
		U.IDLICENSE,
		X.VDESCRIPTION AS VDESCRIPTIONLICENSE,
		X.IDLICENSETYPE,
		G.VNAME AS VLICENSETYPE,
		AN.VUSERSUPPLIER
        FROM MAINTENANCE M WITH (NOLOCK)
        INNER JOIN VEHICLE V (NOLOCK) ON M.IDVEHICLE = V.ID
        INNER JOIN CONTACT C (NOLOCK) ON V.IDDEALER = C.ID
		INNER JOIN CONTACT Q  (NOLOCK) ON M.IDDEALER =Q.ID
		INNER JOIN CITY W (NOLOCK) ON Q.IDCITY = W.ID
		LEFT JOIN CONTACT Z (NOLOCK) ON M.IDCUSTOMER =Z.ID
		LEFT  JOIN CONTACT T (NOLOCK) ON M.IDAUTHORIZEDUSER =T.ID
        INNER JOIN ACTION A  (NOLOCK) ON M.IESTATUS = A.ID
        LEFT JOIN MODEL L   (NOLOCK) ON V.IDMODEL= L.ID
		INNER JOIN SERVICETYPE S(NOLOCK) ON M.IDSERVICETYPE = S.ID
		INNER JOIN REPORTTYPE R (NOLOCK)ON M.IDREPORTTYPE = R.ID
		LEFT JOIN POLICY P (NOLOCK) ON  V.ID= P.IDVEHICLE
		LEFT JOIN POLICYDETAILS K (NOLOCK) ON M.ID = K.IDMAINTENANCE
		INNER JOIN V_DEALERS O (NOLOCK) ON  M.IDDEALER =O.IDDEALER
		LEFT JOIN LICENSEDETAILS U (NOLOCK) ON M.ID =U.IDMAINTENANCE
		LEFT JOIN LICENSE X (NOLOCK) ON U.IDLICENSE=X.ID
		LEFT JOIN LICENSETYPE G (NOLOCK) ON X.IDLICENSETYPE =G.ID
		LEFT JOIN ASSESSMENT AN WITH (NOLOCK) ON M.ID=AN.IDRECORD AND @IDMODULE=AN.IDMODULE
        WHERE M.IDDEALER = @IDDEALER AND 
		EXISTS (SELECT * FROM [dbo].[V_RELATEDS_USER] R 
						    WHERE R.IDUSER=@IDUSER 
							AND R.IDDEALER   =CASE WHEN @ISDEALER = 1 THEN M.IDDEALER ELSE R.IDDEALER END )
		AND (
        V.VVIN LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR V.VPLATE LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR Z.VVAT LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR Z.VFIRSTNAME LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR Z.VLASTNAME LIKE '%' + ISNULL(@VFILTER, '') + '%'
		OR P.VNUMBER LIKE '%' + ISNULL(@VFILTER, '') + '%'
		OR M.VSERVICENUMBER LIKE '%' + ISNULL(@VFILTER, '') + '%'
			)
	    AND ( M.IDSERVICETYPE =CASE WHEN @IDSERVICETYPE IS NULL THEN M.IDSERVICETYPE ELSE @IDSERVICETYPE END)
		AND ( M.ID = CASE WHEN @ID IS NUll THEN M.ID ELSE @ID END)
	     
    ), 
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
    T3 AS (
        SELECT * FROM T1
        ORDER BY CASE WHEN T1.VESTATUSNAME='PARA APROBAR' THEN 1 ELSE 2 END,  T1.DMAINTENANCEDATE DESC
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
    )
    SELECT T3.*, T2.TOTAL
    FROM T3, T2

END
