GO
/****** Object:  StoredProcedure [dbo].[USP_GET_PARTSBYMODEL]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_PARTSBYMODEL]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_PARTSBYMODEL] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_GET_PARTSBYMODEL] -- [USP_GET_PARTSBYMODEL] 15057,Z,4076
@IDMODEL INT,
@IDUSER INT,
@IDSUPPLIER INT = 0

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : SEGURIDAD 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-REPUESTOS')
		SET @VACTION='GET'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
BEGIN
	WITH T1 as(
			SELECT 
			P.*,
			T.VNAME AS VTAX,
			PT.VNAME AS VPARTTYPE,
			F.VNAME AS VFAMILY,
			S.VNAME AS VSUBFAMILY,
			U.VNAME AS VUM,
			B.VNAME AS VBRAND,
			VS.VREFERENCE
			FROM dbo.PART P WITH (NOLOCK)
			INNER JOIN TAX T WITH (NOLOCK) ON T.ID=P.IDTAX
			INNER JOIN PARTTYPE PT WITH (NOLOCK) ON PT.ID=P.IDTYPE
			INNER JOIN FAMILY F WITH (NOLOCK) ON F.ID=P.IDFAMILY
			INNER JOIN SUBFAMILY S WITH (NOLOCK) ON S.ID=P.IDSUBFAMILY
			INNER JOIN UM U WITH (NOLOCK) ON U.ID=P.IDUM
			INNER JOIN BRAND B WITH (NOLOCK) ON B.ID=P.IDBRAND
			INNER JOIN V_SUPPLIERS VS ON VS.IDSUPPLIER=P.IDSUPPLIER
			INNER JOIN PARTMODEL  M WITH (NOLOCK) ON P.ID=M.IDPART
		
	WHERE
	    M.IDMODEL = @IDMODEL AND 
		P.IDSUPPLIER= CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 THEN P.IDSUPPLIER ELSE @IDSUPPLIER END AND
		EXISTS (SELECT * FROM V_RELATEDS_USER V WHERE V.IDUSER=@IDUSER AND V.IDSUPPLIER =  P.IDSUPPLIER)
	),
	T2 AS (SELECT COUNT(*) AS TOTAL FROM T1)
	
	SELECT T1.*, T2.* FROM T1, T2;
END
