GO
/****** Object:  StoredProcedure [dbo].[USP_POST_ACCESSGROUPUSER]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_ACCESSGROUPUSER]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_ACCESSGROUPUSER] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_ACCESSGROUPUSER] 
 @DATA NVARCHAR(MAX),
 @IDUSER INT
  
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

 

BEGIN
    BEGIN TRY
        BEGIN TRAN 

        
    
        DECLARE @TDATA AS TABLE
        (
            IDUSER INT,
			IDACCESGROUP INT,
			BASSIGN BIT
        );


        INSERT INTO @TDATA
        SELECT M.UserId,M.AccessGroupId,M.Assign
        FROM OPENJSON(@DATA)
        WITH (
            UserId INT ,
			AccessGroupId INT,
			Assign bit
        ) AS M				

        DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT
		DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('SEGURIDAD-ROLES')
	
		-- REGISTRO NUEVO
		IF NOT EXISTS(SELECT * FROM ACCESSGROUPUSER A (NOLOCK)
		           INNER JOIN @TDATA B ON A.IDACCESGROUP=B.IDACCESGROUP AND A.IDUSER=B.IDUSER)
		BEGIN
    		SET @VACTION='CREATE'
			EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
			INSERT INTO ACCESSGROUPUSER(IDUSER,IDACCESGROUP,BASSIGN)
			SELECT D.IDUSER,D.IDACCESGROUP,D.BASSIGN
       		FROM @TDATA D
       		WHERE NOT EXISTS (SELECT * FROM ACCESSGROUPUSER P(NOLOCK) WHERE P.IDUSER=D.IDUSER AND P.IDACCESGROUP=D.IDACCESGROUP);
			SELECT @IID=SCOPE_IDENTITY()
			SELECT @IINSERTED=@@ROWCOUNT
		END
		ELSE 
		BEGIN
         	SET @VACTION='EDIT'
			EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
	       UPDATE C
		   SET 
		      C.BASSIGN=D.BASSIGN
		      FROM ACCESSGROUPUSER C 
			  INNER JOIN @TDATA D ON D.IDUSER=C.IDUSER AND D.IDACCESGROUP=C.IDACCESGROUP 
			  WHERE D.IDUSER=C.IDUSER AND D.IDACCESGROUP=C.IDACCESGROUP 
			  SELECT @IID=SCOPE_IDENTITY()
			SELECT @IUPDATED=@@ROWCOUNT
		END
	
	
		SELECT
		ISNULL(@IID,0) AS IID , 
		ISNULL(@IINSERTED,0) AS IINSERTED,
		ISNULL(@IUPDATED,0) AS IUPDATED

	

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
