GO
/****** Object:  StoredProcedure [dbo].[USP_GET_MOVEMENTS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_MOVEMENTS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_MOVEMENTS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_GET_MOVEMENTS] -- USP_GET_MOVEMENTS 1,null,null,0,'',0
@IDUSER INT,
@IDSUPPLIER INT = 0,
@VTYPE VARCHAR(1) = NULL,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@ID INT = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

	DECLARE @VACTION VARCHAR(20)
    DECLARE @IDMODULE INT;
	DECLARE @TYPE VARCHAR(1)


	IF @ID is not null
	BEGIN
       SET @TYPE=(SELECT VTYPE FROM MOVEMENT WHERE ID=@ID)
		SELECT @IDMODULE = 
		CASE 
			WHEN @TYPE = 'P' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECOLECCION')
			WHEN @TYPE = 'R' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECEPCION') 
			WHEN @TYPE = 'T' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-TRASLADO')
			ELSE 'P'
		END
		SET @VACTION='GET'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE;

		WITH T1 AS (
			SELECT 
			M.*
			FROM V_MOVEMENT M WITH (NOLOCK)
			WHERE M.ID = @ID

		), 
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
		T3 AS (

				SELECT * FROM T1
				ORDER BY T1.DCREATED DESC, ID DESC
				OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
				FETCH NEXT @TOPE ROWS ONLY
			   )
		SELECT T3.*,T2.* FROM T3,T2;

	END
	ELSE
	BEGIN
	SET @TYPE=@VTYPE
	    SELECT @IDMODULE = 
		CASE 
			WHEN @TYPE = 'P' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECOLECCION')
			WHEN @TYPE = 'R' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECEPCION') 
			WHEN @TYPE = 'T' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-TRASLADO')
			ELSE 'P'
		END
		SET @VACTION='GET'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE;

			WITH T1 AS (
			SELECT 
			M.*
			FROM V_MOVEMENT M WITH (NOLOCK)
			WHERE
			M.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0)=0 THEN M.IDSUPPLIER ELSE @IDSUPPLIER END
			AND M.VTYPE =  CASE WHEN ISNULL(@VTYPE,'') = '' THEN M.VTYPE ELSE @VTYPE END 
			AND 
			( 
				M.VID = CASE WHEN ISNULL(@VFILTER,'') = '' THEN M.VID ELSE @VFILTER END OR
				M.VREFERENCE = CASE WHEN ISNULL(@VFILTER,'') = '' THEN M.VREFERENCE ELSE @VFILTER END
			)
			AND EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] R WHERE R.IDUSER=@IDUSER AND R.IDSUPPLIER=M.IDSUPPLIER)
			), 
			T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
			T3 AS (

					SELECT * FROM T1
					ORDER BY T1.DCREATED DESC, ID DESC
					OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
					FETCH NEXT @TOPE ROWS ONLY
				   )
			SELECT T3.*,T2.* FROM T3,T2;

	END



END
