GO
/****** Object:  StoredProcedure [dbo].[USP_GET_GUIDES_PENDING]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_GUIDES_PENDING]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_GUIDES_PENDING] AS BEGIN SET NOCOUNT ON  END')
GO
-- SELECT * FROM GUIDE
-- USP_GET_GUIDES_PENDING 4069,5103,1
ALTER PROCEDURE [dbo].[USP_GET_GUIDES_PENDING]
(
@IDSUPPLIER INT,
@IDCONTACT INT,
@IDUSER INT
)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-MOVIL-DESPACHO')
		SET @VACTION='GET'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE


SELECT 
G.ID,
G.IDSUPPLIER,
G.IDCUSTOMER,
G.IDPROVIDER,
G.VNUMBER,
G.DCREATEDDATE,
G.DDELIVERYDATE,
G.IDUSER,
G.ISTATUS,
CAST (CASE WHEN G.DDELIVERYDATE IS NULL THEN 0 ELSE 1 END AS BIT) AS BDELIVERED
FROM GUIDE G WITH (NOLOCK)
INNER JOIN CONTACT C WITH (NOLOCK) ON C.ID=G.IDCUSTOMER
WHERE G.IDSUPPLIER=@IDSUPPLIER
AND G.IDCUSTOMER=@IDCONTACT
AND G.IDUSER=@IDUSER
AND G.ISTATUS=DBO.UFN_GET_ISTATUS('CREATE')




