GO
/****** Object:  StoredProcedure [dbo].[USP_GET_CONTACTS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_CONTACTS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_CONTACTS] AS BEGIN SET NOCOUNT ON  END')
GO

-- SELECT * FROM CONTACT WHERE BUSER=1 and BSUPPLIER=1
ALTER PROCEDURE [dbo].[USP_GET_CONTACTS] -- USP_GET_CONTACTS '',0,1,NULL,'CONTACTOS-CONTACTOS'
(
@VFILTER VARCHAR(100) = NULL,
@IROWFROM INT = NULL,
@IDUSER INT ,
@ID INT = NULL,
@VMODULE VARCHAR(100) = NULL
)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

	DECLARE @BDEALERS BIT =0 
	DECLARE @ADMIN BIT =0 
	DECLARE @BCUSTOMERS BIT =0 
	DECLARE @BUSERS BIT =0 
	DECLARE @BSUPPLIERS BIT =0 


	IF @IDUSER=1
		SET @ADMIN=1

		 --  DECLARE @VACTION VARCHAR(20)
			--DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE](@VMODULE)
			--SET @VACTION='GET'
			--EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE


	-- USUARIO DE CONSESIONARIO
	IF EXISTS(SELECT * FROM CONTACT C WITH (NOLOCK) WHERE ID=@IDUSER AND BUSER=1 AND BDEALER=1)
	BEGIN
		SET @BCUSTOMERS=1
		SET @BDEALERS=0
		SET @BUSERS=0
		SET @BSUPPLIERS=0
	END
	ELSE -- USUARIO PLANTAS
	BEGIN
		SET @BCUSTOMERS=1
		SET @BDEALERS=1
		SET @BUSERS=0
		SET @BSUPPLIERS=0
	END

		

BEGIN

	IF ISNULL(@VMODULE,'') = ''
	BEGIN
		WITH T1 AS (
			SELECT C.*
			FROM V_CONTACTS C
			WHERE 
				C.ID>1 AND -- ADMIN
				C.ID = CASE WHEN @ID IS NULL THEN C.ID ELSE @ID END AND
				(	 
					( 1 = CASE WHEN @ADMIN =1 OR ISNULL(@ID,0)>0 THEN 1 ELSE CASE WHEN @BCUSTOMERS=1 THEN BCUSTOMER ELSE 0 END END ) OR 
					( 1 = CASE WHEN @ADMIN =1 OR ISNULL(@ID,0)>0 THEN 1 ELSE CASE WHEN @BSUPPLIERS=1 THEN BSUPPLIER ELSE 0 END END AND BUSER=0 )  OR
					( 1 = CASE WHEN @ADMIN =1 OR ISNULL(@ID,0)>0 THEN 1 ELSE CASE WHEN @BUSERS=1 THEN BUSER ELSE 0 END END ) OR
					( 1 = CASE WHEN @ADMIN =1 OR ISNULL(@ID,0)>0 THEN 1 ELSE CASE WHEN @BDEALERS=1 THEN BDEALER ELSE 0 END END AND BUSER=0)
				) AND
				(
					(C.VFIRSTNAME LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+C.VFIRSTNAME+'%' ELSE '%'+@VFILTER+'%'  END) OR 
					(C.VLASTNAME LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+C.VLASTNAME+'%' ELSE '%'+@VFILTER+'%'  END) OR 
					(C.VVAT LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+C.VVAT+'%' ELSE '%'+@VFILTER+'%'  END) 
				)
		),
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
		T3 AS (

				SELECT * FROM T1
				ORDER BY T1.VFIRSTNAME
				OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
				FETCH NEXT @TOPE ROWS ONLY
			   )
		SELECT T3.*,T2.* FROM T3,T2;
	END
	ELSE
	BEGIN
		IF ISNULL(@VMODULE,'') = 'CONTACTOS-CONTACTOS'
		BEGIN
			WITH T1 AS (
				SELECT C.*
				FROM V_CONTACTS C
				WHERE 
					C.ID>1 AND -- ADMIN
					(C.BCUSTOMER=1 OR C.BPROVIDER=1 ) AND
					C.ID = CASE WHEN @ID IS NULL THEN C.ID ELSE @ID END AND
					(	 
						( 1 = CASE WHEN @ADMIN =1 OR ISNULL(@ID,0)>0 THEN 1 ELSE CASE WHEN @BCUSTOMERS=1 THEN BCUSTOMER ELSE 0 END END ) OR 
						( 1 = CASE WHEN @ADMIN =1 OR ISNULL(@ID,0)>0 THEN 1 ELSE CASE WHEN @BSUPPLIERS=1 THEN BSUPPLIER ELSE 0 END END AND BUSER=0 )  OR
						( 1 = CASE WHEN @ADMIN =1 OR ISNULL(@ID,0)>0 THEN 1 ELSE CASE WHEN @BUSERS=1 THEN BUSER ELSE 0 END END ) OR
						( 1 = CASE WHEN @ADMIN =1 OR ISNULL(@ID,0)>0 THEN 1 ELSE CASE WHEN @BDEALERS=1 THEN BDEALER ELSE 0 END END AND BUSER=0)
					) AND
					(
						(C.VFIRSTNAME LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+C.VFIRSTNAME+'%' ELSE '%'+@VFILTER+'%'  END) OR 
						(C.VLASTNAME LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+C.VLASTNAME+'%' ELSE '%'+@VFILTER+'%'  END) OR 
						(C.VVAT LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+C.VVAT+'%' ELSE '%'+@VFILTER+'%'  END) 
					)
			),
			T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
			T3 AS (

					SELECT * FROM T1
					ORDER BY T1.VFIRSTNAME
					OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
					FETCH NEXT @TOPE ROWS ONLY
				   )
			SELECT T3.*,T2.* FROM T3,T2;
		END

		IF ISNULL(@VMODULE,'') = 'SEGURIDAD-USUARIOS'
		BEGIN
			WITH T1 AS (
				SELECT C.*
				FROM V_CONTACTS C
				WHERE 
					C.ID>1 AND -- ADMIN
					C.BUSER=1 AND
					C.ID = CASE WHEN @ID IS NULL THEN C.ID ELSE @ID END AND
					(	 
						( 1 = CASE WHEN @ADMIN =1 OR ISNULL(@ID,0)>0 THEN 1 ELSE CASE WHEN @BCUSTOMERS=1 THEN BCUSTOMER ELSE 0 END END ) OR 
						( 1 = CASE WHEN @ADMIN =1 OR ISNULL(@ID,0)>0 THEN 1 ELSE CASE WHEN @BSUPPLIERS=1 THEN BSUPPLIER ELSE 0 END END AND BUSER=0 )  OR
						( 1 = CASE WHEN @ADMIN =1 OR ISNULL(@ID,0)>0 THEN 1 ELSE CASE WHEN @BUSERS=1 THEN BUSER ELSE 0 END END ) OR
						( 1 = CASE WHEN @ADMIN =1 OR ISNULL(@ID,0)>0 THEN 1 ELSE CASE WHEN @BDEALERS=1 THEN BDEALER ELSE 0 END END AND BUSER=0)
					) AND
					(
						(C.VFIRSTNAME LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+C.VFIRSTNAME+'%' ELSE '%'+@VFILTER+'%'  END) OR 
						(C.VLASTNAME LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+C.VLASTNAME+'%' ELSE '%'+@VFILTER+'%'  END) OR 
						(C.VVAT LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+C.VVAT+'%' ELSE '%'+@VFILTER+'%'  END) 
					)
			),
			T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
			T3 AS (

					SELECT * FROM T1
					ORDER BY T1.VFIRSTNAME
					OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
					FETCH NEXT @TOPE ROWS ONLY
				   )
			SELECT T3.*,T2.* FROM T3,T2;
		END

		IF ISNULL(@VMODULE,'') = 'SEGURIDAD-CONTACTOS'
		BEGIN
			WITH T1 AS (
				SELECT C.*
				FROM V_CONTACTS C
				WHERE 
					C.ID>1 AND -- ADMIN
					C.BUSER=0 AND
					C.ID = CASE WHEN @ID IS NULL THEN C.ID ELSE @ID END AND
					(	 
						( 1 = CASE WHEN @ADMIN =1 OR ISNULL(@ID,0)>0 THEN 1 ELSE CASE WHEN @BCUSTOMERS=1 THEN BCUSTOMER ELSE 0 END END ) OR 
						( 1 = CASE WHEN @ADMIN =1 OR ISNULL(@ID,0)>0 THEN 1 ELSE CASE WHEN @BSUPPLIERS=1 THEN BSUPPLIER ELSE 0 END END AND BUSER=0 )  OR
						( 1 = CASE WHEN @ADMIN =1 OR ISNULL(@ID,0)>0 THEN 1 ELSE CASE WHEN @BUSERS=1 THEN BUSER ELSE 0 END END ) OR
						( 1 = CASE WHEN @ADMIN =1 OR ISNULL(@ID,0)>0 THEN 1 ELSE CASE WHEN @BDEALERS=1 THEN BDEALER ELSE 0 END END AND BUSER=0)
					) AND
					(
						(C.VFIRSTNAME LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+C.VFIRSTNAME+'%' ELSE '%'+@VFILTER+'%'  END) OR 
						(C.VLASTNAME LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+C.VLASTNAME+'%' ELSE '%'+@VFILTER+'%'  END) OR 
						(C.VVAT LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+C.VVAT+'%' ELSE '%'+@VFILTER+'%'  END) 
					)
			),
			T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
			T3 AS (

					SELECT * FROM T1
					ORDER BY T1.VFIRSTNAME
					OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
					FETCH NEXT @TOPE ROWS ONLY
				   )
			SELECT T3.*,T2.* FROM T3,T2;
		END
	END



END
