GO
/****** Object:  StoredProcedure [dbo].[USP_POST_REMINDER]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_REMINDER]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_REMINDER] AS BEGIN SET NOCOUNT ON  END')
GO


ALTER PROCEDURE [dbo].[USP_POST_REMINDER]
 @DATA NVARCHAR(MAX)
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

    BEGIN TRY
        BEGIN TRAN 
	

            DECLARE @TDATA AS TABLE
            (
                ID INT,
				VCONTEXT VARCHAR(50),
				VCONTENT VARCHAR(MAX),
				IDMODULE INT,
				VSENDER VARCHAR(50),
				IDUSER INT
	        );

            INSERT INTO @TDATA
            SELECT M.Id,M.Context,M.Content,M.ModuleId,M.Sender,M.UserId   
			FROM OPENJSON(@DATA)
            WITH (
                Id INT,
				Context varchar(50),
				Content Varchar(max),
				ModuleId INT,
				Sender Varchar(50),
				UserId int 
                ) AS M
            DECLARE @IID INT
		    DECLARE @IINSERTED INT
			DECLARE @IUPDATED INT
		    DECLARE @VEMAILRECEIVER VARCHAR(50)= (SELECT C.VEMAIL FROM CONTACT C (NOLOCK) 
			                                      INNER JOIN @TDATA T ON C.ID =T.IDUSER)
	        BEGIN
			INSERT INTO REMINDER(VCONTEXT,VCONTENT,IDMODULE,VSENDER,VRECEIVER,DCREATED,BSEND)
			SELECT D.VCONTEXT,D.VCONTENT,D.IDMODULE,D.VSENDER,@VEMAILRECEIVER,GETDATE(),0
       		FROM @TDATA D
       		WHERE NOT EXISTS (SELECT * FROM REMINDER P(NOLOCK) WHERE P.ID=D.ID)
			SELECT @IID=SCOPE_IDENTITY()
			SELECT @IINSERTED=@@ROWCOUNT
		     END 

			SELECT
			ISNULL(@IID,0) AS IID , 
			ISNULL(@IINSERTED,0) AS IINSERTED,
			ISNULL(@IUPDATED,0) AS IUPDATED

			COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
