GO
/****** Object:  StoredProcedure [dbo].[USP_GET_SALEORDERS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_SALEORDERS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_SALEORDERS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_GET_SALEORDERS] 
-- exec USP_GET_SALEORDERS @IDUSER = 1, @IDDEALER = 5103, @IROWFROM = 0
@IDUSER INT,
@IDDEALER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@BCLAIM BIT = NULL,
@ID INT = NULL

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END


		DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('PEDIDOS-PEDIDOS')
		SET @VACTION='GET'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

BEGIN

	IF @ID IS NOT NULL
	BEGIN
		WITH T1 as(
		SELECT 
			O.ID,O.IDDEALER , O.IDSUPPLIER, O.[IDESTATUS], O.[VREFERENCE], O.[VCOMMENT],
			CONVERT(VARCHAR(20),O.DCREATED,120) VCREATED,
			ISNULL(O.VCREATEDBY,'') VCREATEDBY,
			A.VDISPLAYESTATUS AS VESTATUS,
			D.DEALER AS VDEALER,S.VSUPPLIER,
			O.BCLAIM,
			ISNULL(O.IDTYPE,0) IDTYPE ,
			ISNULL(T.VNAME,'')  AS VTYPE
			FROM [dbo].SALEORDER O WITH (NOLOCK)
			LEFT JOIN SALEORDERTYPE T WITH (NOLOCK) ON T.ID=O.IDTYPE
			INNER JOIN ACTION A WITH (NOLOCK) ON A.ID=O.IDESTATUS
			INNER JOIN V_DEALERS D ON D.IDDEALER=O.IDDEALER
			INNER JOIN V_SUPPLIERS S ON S.IDSUPPLIER=O.IDSUPPLIER
			WHERE
			O.ID = @ID

		),
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
		T3 AS (
			SELECT * FROM T1
			ORDER BY T1.ID DESC
			OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
			FETCH NEXT @TOPE ROWS ONLY
		)
		SELECT T3.*, T2.* FROM T3, T2;
		END
	ELSE
	BEGIN
		WITH T1 as(
			SELECT 
			O.*
			FROM [dbo].V_SALEORDER O WITH (NOLOCK)
			--INNER JOIN SALEORDERTYPE T WITH (NOLOCK) ON T.ID=O.IDTYPE
			--INNER JOIN ACTION A WITH (NOLOCK) ON A.ID=O.IDESTATUS
			--INNER JOIN V_DEALERS D ON D.IDDEALER=O.IDDEALER
			--INNER JOIN V_SUPPLIERS S ON S.IDSUPPLIER=O.IDSUPPLIER
			WHERE
			O.IDDEALER= @IDDEALER AND
			( 
				O.VID = CASE WHEN ISNULL(@VFILTER,'') = '' THEN O.VID ELSE @VFILTER END OR
				O.VTYPE  LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+O.VTYPE+'%' ELSE '%'+@VFILTER+'%' END OR
				O.VESTATUS  LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+O.VESTATUS+'%' ELSE '%'+@VFILTER+'%' END
			) 
			--EXISTS (SELECT * FROM [dbo].[V_DEALERS_USER] R WHERE R.IDUSER=@IDUSER AND R.IDDEALER=O.IDDEALER) 

		),
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
		T3 AS (
			SELECT * FROM T1
			ORDER BY T1.ID DESC
			OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
			FETCH NEXT @TOPE ROWS ONLY
		)
		SELECT T3.*, T2.* FROM T3, T2;
	END
	
END