GO
/****** Object:  StoredProcedure [dbo].[USP_GET_POLICY]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_POLICY]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_POLICY] AS BEGIN SET NOCOUNT ON  END')
GO
--SELECT * FROM POLICY
ALTER PROCEDURE [dbo].[USP_GET_POLICY]-- USP_GET_POLICY 66,5073
@ID INT,
@IDUSER INT 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

DECLARE @ISDEALER BIT=0
	IF EXISTS (SELECT * FROM [dbo].[V_DEALERS_USER] WHERE IDUSER=@IDUSER)
	BEGIN
	SET @ISDEALER=1
	END

	DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('POLIZAS-POLIZAS')
		SET @VACTION='GET'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

BEGIN


    WITH T1 AS (
        SELECT 
        M.ID,ISNULL(M.VNUMBER,'') VNUMBER ,M.IDPOLICYTYPE, P.VDESCRIPTION,M.BACTIVE,M.IESTATUS AS IDESTATUS ,A.VDISPLAYESTATUS AS ESTATUSNAME,M.DACTIVATIONDATE,M.DLOCKDATE,M.DEXPIRATIONDATE,M.IDVEHICLE,
		V.VVIN,V.VPLATE,V.VENGINESERIAL,L.VNAME AS MODELNAME,B.ID AS IDBRAND,B.VNAME AS VBRAND ,V.IYEAR,T.VNAME as VCOLOR,M.IDPAYMETHOD, Z.VNAME AS NAMEMETHOD,
		V.IDCUSTOMER,C.VVAT,C.VFIRSTNAME,C.VLASTNAME,C.VPHONE1,C.VEMAIL,C.VADDRESS,X.VFIRSTNAME as DEALERNAME,X.VREFERENCE AS CODDEALER ,Y.ID AS IDSUPPLIER, Y.VFIRSTNAME SUPPLIERNAME,Y.VREFERENCE AS CODSUPPLIER, 
		M.VINVOICENUMBER,M.NINVOICEAMOUNT,M.DINVOICEDATE
        FROM POLICY M WITH (NOLOCK)
        INNER JOIN VEHICLE V ON M.IDVEHICLE = V.ID
        INNER JOIN CONTACT C ON V.IDCUSTOMER = C.ID
		INNER JOIN CONTACT X ON V.IDDEALER = X.ID
		INNER JOIN CONTACT Y ON V.IDSUPPLIER = Y.ID
		INNER JOIN POLICYTYPE P ON M.IDPOLICYTYPE= P.ID
		INNER JOIN ACTION A ON M.IESTATUS= A.ID
		INNER JOIN MODEL L ON V.IDMODEL= L.ID
		INNER JOIN BRAND B ON L.IDBRAND = B.ID
		INNER JOIN PAYMETHOD Z ON M.IDPAYMETHOD= Z.ID
		INNER JOIN COLOR T ON V.IDCOLOR= T.ID
 		WHERE 
		EXISTS (SELECT * FROM [dbo].[V_RELATEDS_USER] R 
						    WHERE R.IDUSER=@IDUSER 
							AND R.IDDEALER   =CASE WHEN @ISDEALER = 1 THEN V.IDDEALER ELSE R.IDDEALER END
							AND R.IDSUPPLIER =CASE WHEN @ISDEALER = 0 THEN V.IDSUPPLIER ELSE R.IDSUPPLIER END )
		 AND (
        M.ID = CASE WHEN @ID IS NUll THEN M.ID ELSE @ID END
		)
    ), 
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1)

    SELECT T1.*, T2.TOTAL
    FROM T1, T2
    WHERE T2.TOTAL > 0

END;