GO
/****** Object:  StoredProcedure [dbo].[USP_POST_CREDENTIALSUSER]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_CREDENTIALSUSER]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_CREDENTIALSUSER] AS BEGIN SET NOCOUNT ON  END')
GO




ALTER PROCEDURE [dbo].[USP_POST_CREDENTIALSUSER] 
 @DATA NVARCHAR(MAX),
 @IDUSER INT
  
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

 

BEGIN
    BEGIN TRY
        BEGIN TRAN 

        
               DECLARE @TDATA AS TABLE
				(
				    IDUSER INT ,
					VLOGIN VARCHAR (20)		
				);


				INSERT INTO @TDATA
				SELECT UserId,Login
				FROM OPENJSON(@DATA)
				WITH (
				        UserId Int,
						Login varchar(20)
					  ) AS M
						

        DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT
		DECLARE @VCONTENT VARCHAR(MAX)

		IF  EXISTS(SELECT * FROM INFOUSER A (NOLOCK)
		           INNER JOIN @TDATA B ON A.VLOGIN =B.VLOGIN)
		BEGIN
		RAISERROR('USUARIO NO VALIDO.', 16, 1);
            ROLLBACK TRAN;
            RETURN;
		END


		IF NOT EXISTS(SELECT * FROM ACCESSGROUPUSER A WITH (NOLOCK)
		           INNER JOIN @TDATA B ON A.IDUSER=B.IDUSER)
		BEGIN
		RAISERROR('USUARIO SIN ROL DE ACCESO.', 16, 1);
            ROLLBACK TRAN;
            RETURN;
		END

		IF NOT EXISTS(SELECT * FROM V_RELATEDS_USER A WITH (NOLOCK)
		           INNER JOIN @TDATA B ON A.IDUSER=B.IDUSER)
		BEGIN
		RAISERROR('USUARIO SIN COMPAÑIA ASOCIADA.', 16, 1);
            ROLLBACK TRAN;
            RETURN;
		END

		-- REGISTRO NUEVO
		IF NOT EXISTS(SELECT * FROM INFOUSER A (NOLOCK)
		           INNER JOIN @TDATA B ON A.VLOGIN =B.VLOGIN OR A.IDUSER =B.IDUSER)
		BEGIN
			INSERT INTO INFOUSER(IDUSER,VLOGIN,DCREATED,VUPDATEDBY,BACTIVE)
			SELECT d.IDUSER,D.VLOGIN,GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER),1
       		FROM @TDATA D
       		WHERE NOT EXISTS (SELECT * FROM INFOUSER A (NOLOCK)
		           INNER JOIN @TDATA B ON A.VLOGIN =B.VLOGIN);
			
			SELECT @IINSERTED=@@ROWCOUNT
			SELECT @IID=SCOPE_IDENTITY()
			
			
			IF @IINSERTED >0
			BEGIN
			DECLARE @IDRECEIVER INT=(SELECT IDUSER FROM @TDATA)
			SET @VCONTENT = (SELECT VLOGIN FROM @TDATA)
			EXEC USP_INSERT_REMINDERSECURITY @IDRECEIVER,@VCONTENT,6
			END
		END
	
	
		SELECT
		ISNULL(@IID,0) AS IID , 
		ISNULL(@IINSERTED,0) AS IINSERTED,
		ISNULL(@IUPDATED,0) AS IUPDATED

	

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
