GO
/****** Object:  StoredProcedure [dbo].[USP_POST_VEHICLES_ACTIONS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_VEHICLES_ACTIONS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_VEHICLES_ACTIONS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_VEHICLES_ACTIONS]
 @DATA VARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY


		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(200),
					IDRELATED INT
				);


				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS C
			

				DECLARE @IDACTION INT
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				SELECT TOP 1 @VACTION=VACTION FROM @TDATA
				DECLARE @IDMODULE INT=(SELECT IDMODULE FROM @TDATA)
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

		BEGIN TRAN 

				IF @VACTION='ACTIVATE' 
				BEGIN

					UPDATE C
						SET C.BACTIVE= 1,
							--C.IESTATUS = DBO.UFN_GET_ISTATUS('ACTIVATE'),
							C.DUPDATED = GETDATE(),
							C.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM VEHICLE C
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 

					SELECT @IUPDATED=@@ROWCOUNT

				END

				IF @VACTION='DEACTIVATE'
				BEGIN
					UPDATE C
						SET C.BACTIVE= 0,
							--C.IESTATUS = DBO.UFN_GET_ISTATUS('DEACTIVATE'),
							C.DUPDATED = GETDATE(),
							C.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM VEHICLE C
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 


					SELECT @IUPDATED=@@ROWCOUNT

				END
		
				IF @VACTION='ASSIGN'
				BEGIN

					DECLARE @IDDEALEAR INT
					SELECT TOP 1 @IDDEALEAR = IDRELATED FROM @TDATA

					DECLARE @IDBRAND INT
					SELECT TOP 1 @IDBRAND = IDBRAND FROM V_DEALERS WHERE IDDEALER=@IDDEALEAR

					
					IF EXISTS (SELECT * FROM VEHICLE V WITH (NOLOCK)
								INNER JOIN  @TDATA D ON D.IDRECORD=V.ID
								INNER JOIN V_SUPPLIERS S ON S.IDSUPPLIER=V.IDSUPPLIER
								WHERE S.IDBRAND <> @IDBRAND)
					BEGIN
						RAISERROR ( 'EXISTEN VEHICULOS QUE NO CORRESPONDEN A LA MARCA DEL CONCESIONARIO' , 16,1) 
					END

					UPDATE C
						SET
							C.IDDEALER = D.IDRELATED,
							C.IESTATUS = DBO.UFN_GET_ISTATUS('ASSIGN'),
							C.DUPDATED = GETDATE(),
							C.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM VEHICLE C
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
					WHERE C.IESTATUS=DBO.UFN_GET_ISTATUS('CREATE') or  C.IESTATUS=DBO.UFN_GET_ISTATUS('UNASSIGN')

					SELECT @IUPDATED=@@ROWCOUNT

				END

				IF @VACTION='UNASSIGN'
				BEGIN

					UPDATE C
						SET
							C.IDDEALER = 0,
							C.IESTATUS = DBO.UFN_GET_ISTATUS('UNASSIGN'),
							C.DUPDATED = GETDATE(),
							C.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM VEHICLE C
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
					WHERE C.IESTATUS=DBO.UFN_GET_ISTATUS('ASSIGN')

					SELECT @IUPDATED=@@ROWCOUNT
				END

				IF @VACTION='AVAILABLE'
				BEGIN
					UPDATE C
						SET
							C.IESTATUS = DBO.UFN_GET_ISTATUS('AVAILABLE'),
							C.DUPDATED = GETDATE(),
							C.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM VEHICLE C
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
					WHERE C.IESTATUS=DBO.UFN_GET_ISTATUS('ASSIGN') or C.IESTATUS=DBO.UFN_GET_ISTATUS('UNAVAILABLE')

					SELECT @IUPDATED=@@ROWCOUNT
				END

				IF @VACTION='UNAVAILABLE' 
				BEGIN
					UPDATE C
						SET
							C.IESTATUS = DBO.UFN_GET_ISTATUS('UNAVAILABLE'),
							C.DUPDATED = GETDATE(),
							C.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM VEHICLE C
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
					WHERE C.IESTATUS=DBO.UFN_GET_ISTATUS('ASSIGN') OR C.IESTATUS=DBO.UFN_GET_ISTATUS('AVAILABLE')

					SELECT @IUPDATED=@@ROWCOUNT
				END

			

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END




