GO
/****** Object:  StoredProcedure [dbo].[USP_SET_PASSWORD]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_SET_PASSWORD]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_SET_PASSWORD] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_SET_PASSWORD] 
 @DATA NVARCHAR(MAX)
  
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

 

BEGIN
    BEGIN TRY
        BEGIN TRAN 

        
               DECLARE @TDATA AS TABLE
				(
					VLOGIN VARCHAR (20),
					VTEMPORARYKEY VARCHAR(6),
					VPASSWORD VARCHAR(15)
				);


				INSERT INTO @TDATA
				SELECT Login, TemporaryKey, Password
				FROM OPENJSON(@DATA)
				WITH (
						Login varchar(20),
						TemporaryKey varchar(6),
						Password Varchar(15)
					  ) AS M
						

        DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT
		DECLARE @DTIMEEXPIRE DATETIME
		DECLARE @VKEY NVARCHAR(6)
		DECLARE @MENSAJE  VARCHAR(100)
		DECLARE @PASSWORD NVARCHAR(15)
        DECLARE @HASHED_PASSWORD VARBINARY(64)

		
		If NOT EXISTS(SELECT * FROM INFOUSER I
		INNER JOIN @TDATA D ON I.VLOGIN COLLATE Latin1_General_CI_AS = D.VLOGIN COLLATE Latin1_General_CI_AS  WHERE D.VTEMPORARYKEY=I.VTEMPORARYKEY AND GETDATE()<I.DTIMEEXPIRED)
		BEGIN
		SET @MENSAJE = 'CLAVE TEMPORAL INCORRECTA O EXPIRADA'
				RAISERROR ( @MENSAJE , 16,1) 
		END 


		-- REGISTRO NUEVO
		IF EXISTS(SELECT * FROM INFOUSER A (NOLOCK)
		           INNER JOIN @TDATA B ON A.VLOGIN =B.VLOGIN )
		BEGIN
		SET @PASSWORD = (SELECT VPASSWORD FROM @TDATA)
		SET @HASHED_PASSWORD = HASHBYTES('SHA2_512', @PASSWORD)
			UPDATE IU 
			SET 
			IU.VPASSWORD=@HASHED_PASSWORD,
			IU.VTEMPORARYKEY=NULL,
			IU.DTIMEEXPIRED=NULL
			FROM INFOUSER IU
       		INNER JOIN @TDATA D ON IU.VLOGIN=D.VLOGIN       		
         	SELECT @IINSERTED=@@ROWCOUNT
		    SELECT @IID=SCOPE_IDENTITY()
		END

		SELECT
		ISNULL(@IID,0) AS IID , 
		ISNULL(@IINSERTED,0) AS IINSERTED,
		ISNULL(@IUPDATED,0) AS IUPDATED
        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
