GO
/****** Object:  StoredProcedure [dbo].[USP_GET_POLICYTYPES]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_POLICYTYPES]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_POLICYTYPES] AS BEGIN SET NOCOUNT ON  END')
GO
-- SELECT * FROM V_SUPPLIERS
ALTER PROCEDURE [dbo].[USP_GET_POLICYTYPES] -- USP_GET_POLICYTYPES 1,NULL,NULL,NULL,NULL,1
@IDUSER INT ,
@IDSUPPLIER INT =NULL,
@VFILTER VARCHAR(100) = NULL,
@IROWFROM INT = NULL,
@ID INT = NULL,
@IDBRAND INT =NULL


AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

	DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('POLIZAS-TIPOS')
		SET @VACTION='GET'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

IF ISNULL(@ID,0)>0
BEGIN
    WITH T1 AS (
        SELECT 
        P.*, B.VNAME AS VBRANDNAME
        FROM POLICYTYPE P WITH (NOLOCK)
		INNER JOIN BRAND B WITH (NOLOCK) ON B.ID=P.IDBRAND 
        WHERE P.ID=@ID
    ), 
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
    T3 AS (
        SELECT * FROM T1
        ORDER BY T1.VDESCRIPTION
        OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
        FETCH NEXT 100 ROWS ONLY
    )
    SELECT T3.*, T2.* FROM T3, T2;
END
ELSE
BEGIN
    WITH T1 AS (
        SELECT 
        P.*, B.VNAME AS VBRANDNAME
        FROM POLICYTYPE P WITH (NOLOCK)
		INNER JOIN BRAND B WITH (NOLOCK) ON B.ID=P.IDBRAND 
        WHERE P.VDESCRIPTION LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+P.VDESCRIPTION+'%' ELSE '%'+@VFILTER+'%' END
		AND EXISTS (SELECT * FROM [dbo].[V_RELATEDS_USER] R WHERE R.IDUSER=@IDUSER AND R.IDBRAND=P.IDBRAND)
		AND P.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0) =0 THEN P.IDSUPPLIER ELSE @IDSUPPLIER END
		AND P.IDBRAND = CASE WHEN @IDBRAND IS NUll THEN P.IDBRAND ELSE @IDBRAND END
    ), 
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
    T3 AS (
        SELECT * FROM T1
        ORDER BY T1.VDESCRIPTION
        OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
        FETCH NEXT @TOPE ROWS ONLY
    )
    SELECT T3.*, T2.* FROM T3, T2;
END
END
