GO
/****** Object:  StoredProcedure [dbo].[USP_GET_INVENTORIES]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_INVENTORIES]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_INVENTORIES] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_GET_INVENTORIES] -- USP_GET_INVENTORIES 1,4069,0,'ALMOND'
@IDUSER INT,
@IDSUPPLIER INT,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL


AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : VALIDACION DE SEGURIDAD
  '   MODIFICADO POR        : JUAN GUARECUCO
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

		DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-INVENTARIO')
		SET @VACTION='GET'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

BEGIN

	

	WITH T1 as(
	SELECT 
		I.*
	FROM V_INVENTORY I
	WHERE
	I.IDSUPPLIER=@IDSUPPLIER AND
	EXISTS (    SELECT * FROM V_SUPPLIERS_USER S
				WHERE S.IDSUPPLIER=I.IDSUPPLIER AND S.IDUSER=1
			)
	AND (
		I.VPART LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+I.VPART+'%' ELSE '%'+@VFILTER+'%'END OR
		I.VINNERCODE = CASE WHEN ISNULL(@VFILTER,'')='' THEN I.VINNERCODE ELSE @VFILTER END 
		)
		
	),
	T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
	T3 AS (
		SELECT * FROM T1
        ORDER BY T1.VPART
        OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
        FETCH NEXT @TOPE ROWS ONLY
	)
	SELECT T3.*, T2.* FROM T3, T2;
END