GO
/****** Object:  StoredProcedure [dbo].[USP_GET_LOCATIONS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_LOCATIONS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_LOCATIONS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_GET_LOCATIONS] -- USP_GET_LOCATIONS 1,0,0
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@ID INT = NULL


AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         :  VALIDACION DE SEGURIDAD
  '   MODIFICADO POR        :  JUAN GUARECUCO
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END
		
		DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-UBICACIONES')
		SET @VACTION='GET'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
BEGIN

	WITH T1 as(
		SELECT * FROM V_LOCATION L
	WHERE
		L.BEDITABLE=1 AND
		L.IDSUPPLIER= CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 THEN L.IDSUPPLIER ELSE @IDSUPPLIER END AND 
		L.ID = CASE WHEN @ID IS NUll THEN L.ID ELSE @ID END AND
		(L.VNAME LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+L.VNAME+'%' ELSE '%'+@VFILTER+'%'  END) AND
	    EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] R WHERE R.IDUSER=@IDUSER AND R.IDSUPPLIER=L.IDSUPPLIER) 
		
	
	),
	T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
	T3 AS (
		SELECT * FROM T1
        ORDER BY T1.VNAME
        OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
        FETCH NEXT @TOPE ROWS ONLY
	)
	SELECT T3.*, T2.* FROM T3, T2;
END