GO
/****** Object:  StoredProcedure [dbo].[USP_DELETE_ORDERDETAILS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_DELETE_ORDERDETAILS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_DELETE_ORDERDETAILS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_DELETE_SALEORDERDETAILS] --[USP_DELETE_ORDERDETAILS] 2,5126
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

    BEGIN TRY
        BEGIN TRAN 
	
		
			DECLARE @IID INT
			DECLARE @IINSERTED INT
			DECLARE @IUPDATED INT

			DECLARE @TDATA AS TABLE
			(
				IDRECORD INT
			);


				
			INSERT INTO @TDATA
			SELECT Id
			FROM OPENJSON(@DATA)
			WITH (
					Id int
					) AS A

		    DECLARE @VACTION VARCHAR(20)
			DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('PEDIDOS-PEDIDOS')
			SET @VACTION='DECLINE'
			EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

			DELETE A 
			FROM SALEORDERDETAIL A
			INNER JOIN @TDATA D ON D.IDRECORD=A.ID
			WHERE EXISTS (SELECT * FROM SALEORDER B WITH (NOLOCK)
						WHERE B.ID=A.IDSALEORDER
						AND B.IDESTATUS=DBO.UFN_GET_ISTATUS('CREATE')
						)

			
			SELECT @IID=SCOPE_IDENTITY()
			SELECT @IUPDATED=@@ROWCOUNT
			
      
			SELECT
			ISNULL(@IID,0) AS IID , 
			ISNULL(@IINSERTED,0) AS IINSERTED,
			ISNULL(@IUPDATED,0) AS IUPDATED

            COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END

