GO
/****** Object:  StoredProcedure [dbo].[USP_POST_LICENSEDETAILS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_LICENSEDETAILS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_LICENSEDETAILS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_POST_LICENSEDETAILS]
 @IDUSER INT,
 @DATA NVARCHAR(MAX)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 
				
			
			

				DECLARE @TDATA AS TABLE
				(
					VVIN VARCHAR(20),
					IDLICENSE INT
				);


				INSERT INTO @TDATA
				SELECT
						Vin,
						LicenseId
						FROM OPENJSON(@DATA)
				WITH (
						Vin varchar(20),
						LicenseId int
					  ) AS L

                DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('SERVICIOS-DETALLESLICENCIA')
				 
						 
			  -- Buscar VIN no registrado en VEHICLE
					DECLARE @VIN VARCHAR(20);
					SELECT TOP 1 @VIN = T.VVIN
					FROM @TDATA T
					LEFT JOIN VEHICLE V WITH (NOLOCK) ON T.VVIN = V.VVIN
					WHERE V.VVIN IS NULL;

					IF @VIN IS NOT NULL
					BEGIN
						RAISERROR('OPERACIÓN INVÁLIDA. VIN %s NO VALIDO.', 16, 1, @VIN);
						RETURN;
					END

					-- Validar acceso del usuario a la planta del VIN
					DECLARE @VIN2 VARCHAR(20);
					SELECT TOP 1 @VIN2 = T.VVIN
					FROM @TDATA T;

					IF NOT EXISTS (
						SELECT 1
						FROM V_SUPPLIERS_USER R
						WHERE R.IDUSER = @IDUSER
						  AND R.IDSUPPLIER = (
							  SELECT V.IDSUPPLIER
							  FROM VEHICLE V WITH (NOLOCK)
							  WHERE V.VVIN = @VIN2
						  )
					)
					BEGIN
						RAISERROR('OPERACIÓN INVÁLIDA. VIN %s. USUARIO NO TIENE ACCESO A PLANTA.', 16, 1, @VIN2);
						RETURN;
					END

					-- Validar que la planta del vehículo coincida con la planta de la licencia
					IF EXISTS (
						SELECT 1
						FROM @TDATA T
						INNER JOIN VEHICLE V WITH (NOLOCK) ON T.VVIN = V.VVIN
						INNER JOIN LICENSE L WITH (NOLOCK) ON T.IDLICENSE = L.ID
						WHERE V.IDSUPPLIER <> L.IDSUPPLIER
					)
					BEGIN
						RAISERROR('OPERACIÓN INVÁLIDA. VIN %s. NO PERTENECE A LA PLANTA INDICADA EN LA LICENCIA.', 16, 1, @VIN2);
						RETURN;
					END

			
			 DECLARE 
            @IID INT = 0,
            @IINSERTED INT = 0,
            @IUPDATED INT = 0

			DECLARE @IRECORDS INT
			SELECT @IRECORDS = COUNT(*) FROM @TDATA

			BEGIN
			SET @VACTION='CREATE'
			EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
				INSERT INTO LICENSEDETAILS 
				(VVIN,IDLICENSE,IESTATUS,BACTIVE,DCREATED,DUPDATED,VUPDATEDBY)
				SELECT VVIN,IDLICENSE,DBO.UFN_GET_ISTATUS('AVAILABLE'),1,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER)
				FROM @TDATA D
				WHERE NOT EXISTS (SELECT * FROM LICENSEDETAILS P WITH (NOLOCK) WHERE P.VVIN =D.VVIN AND P.IDLICENSE = D.IDLICENSE)

				SELECT @IINSERTED=@@ROWCOUNT
				SELECT @IID=SCOPE_IDENTITY()
			END
			

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END