GO
/****** Object:  StoredProcedure [dbo].[USP_GET_REMINDER]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_REMINDER]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_REMINDER] AS BEGIN SET NOCOUNT ON  END')
GO


ALTER PROCEDURE [dbo].[USP_GET_REMINDER] --USP_GET_REMINDER 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000



SELECT TOP 50
c.ID,
C.VCONTEXT,
C.VCONTENT,
M.VNAME AS VMODULE,
C.VSENDER,
C.VRECEIVER,
C.BSEND
FROM REMINDER C WITH (NOLOCK)
INNER JOIN MODULE M WITH (NOLOCK) ON C.IDMODULE=M.ID
WHERE C.BSEND =0

