GO
/****** Object:  StoredProcedure [dbo].[USP_POST_LABORTIME]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_LABORTIME]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_LABORTIME] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_LABORTIME]  
 @DATA VARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : JUAN GUARECUCO 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

				DECLARE @TDATA AS TABLE
				(
				    ID INT ,
					IDMODEL INT,
					VREFERENCE VARCHAR(20),
					VDESCRIPTION VARCHAR(100),
					NHOURS DECIMAL(18,2),
					BACTIVE BIT
				);

				INSERT INTO @TDATA
				SELECT l.Id, l.ModelId,l.Reference,l.Description, l.Hours, l.IsActive FROM OPENJSON(@DATA)
				WITH (
					   Id int, ModelId int,Reference varchar(20),Description varchar(100),Hours numeric(18,2),IsActive  bit
					  ) AS l
			

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('VEHICULOS-LABORTIME')
        ---------------------VALIDACION  DE MODELOS--------------------------

		        EXEC [dbo].[USP_CHECK_MODELS] @DATA,@IDUSER
					

                IF EXISTS (SELECT * FROM @TDATA WHERE ID=0)
				BEGIN
				SET @VACTION='CREATE'
			    EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
				
				INSERT INTO LABORTIME(IDMODEL,VREFERENCE,VDESCRIPTION,NHOURS,BACTIVE,DCREATED,DUPDATED,VUPDATEDBY)
				SELECT IDMODEL,VREFERENCE,VDESCRIPTION,NHOURS,BACTIVE,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER)
				FROM @TDATA D
				WHERE NOT EXISTS (SELECT * FROM LABORTIME L WITH (NOLOCK) WHERE L.IDMODEL=D.IDMODEL AND L.VREFERENCE=D.VREFERENCE)
				AND D.BACTIVE=1 

				SELECT @IINSERTED=@@ROWCOUNT
				SELECT @IID=SCOPE_IDENTITY()
				END
				ELSE 
				BEGIN
				SET @VACTION='EDIT'
			    EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
				
				UPDATE L
					SET 
						L.VDESCRIPTION=D.VDESCRIPTION,
						L.NHOURS = D.NHOURS,
						L.BACTIVE= D.BACTIVE,
						L.DUPDATED=GETDATE(),
						L.VUPDATEDBY =DBO.UFN_GET_LOGIN(@IDUSER)
				FROM LABORTIME L
				INNER JOIN @TDATA D ON L.IDMODEL=D.IDMODEL AND L.VREFERENCE=D.VREFERENCE

				SELECT @IUPDATED=@@ROWCOUNT
				END
				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END




