GO
/****** Object:  StoredProcedure [dbo].[USP_GET_LICENSEDETAILS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_LICENSEDETAILS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_LICENSEDETAILS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_GET_LICENSEDETAILS] -- USP_GET_LICENSEDETAILS 1,4069,2,NULL,NULL,NULL
@IDUSER INT,
@IDLICENSE INT =NULL,
@VFILTER VARCHAR (20)=NULL,
@IROWFROM INT =NULL, 
@ID INT = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

			DECLARE @TOPE INT

				IF @IROWFROM IS NULL
				BEGIN
					SET @TOPE=1000000
					SET @IROWFROM=0
				END
				ELSE
				BEGIN
					SET @TOPE=100
				END

		DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('SERVICIOS-DETALLESLICENCIA')
		SET @VACTION='GET'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

BEGIN

	WITH T1 AS (
       SELECT 
			P.*,
			V.ID AS IDVEHICLE,
			N.VNAME AS VMODEL,
			V.IYEAR,
			ISNULL(V.IDCUSTOMER, '') AS IDCUSTOMER,
			ISNULL(C.VFIRSTNAME, '') AS VFIRSTNAME,
			ISNULL(C.VLASTNAME, '') AS VLASTNAME,
			ISNULL(V.IDDEALER, '') AS IDDEALER,
			ISNULL(D.DEALER, '') AS VDEALER,
			B.VDISPLAYESTATUS AS VESTATUSVEHICLE,
			L.VDESCRIPTION AS VLICENSENAME,
			A.VDISPLAYESTATUS AS VESTATUSDETAIL

        FROM LICENSEDETAILS P WITH (NOLOCK)
        INNER JOIN ACTION A (NOLOCK) ON P.IESTATUS = A.ID
        INNER JOIN VEHICLE V (NOLOCK) ON P.VVIN =V.VVIN
		INNER JOIN ACTION B (NOLOCK) ON V.IESTATUS = B.ID
		INNER JOIN LICENSE L (NOLOCK) ON P.IDLICENSE =L.ID
		INNER JOIN MODEL N (NOLOCK) ON V.IDMODEL =N.ID
		LEFT JOIN CONTACT C (NOLOCK) ON V.IDCUSTOMER =C.ID
		LEFT JOIN V_DEALERS D (NOLOCK) ON V.IDDEALER=D.IDDEALER
        WHERE    
		EXISTS (SELECT * FROM [dbo].[V_RELATEDS_USER] R 
						    WHERE R.IDUSER=@IDUSER AND R.IDSUPPLIER=L.IDSUPPLIER )
							AND ( P.IDLICENSE = CASE WHEN @IDLICENSE IS NUll THEN P.IDLICENSE ELSE @IDLICENSE END)
							AND (V.VVIN LIKE '%' + ISNULL(@VFILTER, '') + '%'	)
							AND ( P.ID = CASE WHEN @ID IS NUll THEN P.ID ELSE @ID END)
    ), 
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
    T3 AS (
        SELECT * FROM T1
        ORDER BY T1.ID
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
    )
    
    SELECT T3.*, T2.TOTAL
    FROM T3, T2
END

