GO
/****** Object:  StoredProcedure [dbo].[USP_GET_POLICIES]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_POLICIES]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_POLICIES] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_GET_POLICIES]-- USP_GET_POLICIES 1,5116
@IDUSER INT, 
@IDDEALER INT = null,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	DECLARE @ISDEALER BIT=0
	IF EXISTS (SELECT * FROM [dbo].[V_DEALERS_USER] WHERE IDUSER=@IDUSER)
	BEGIN
		SET @ISDEALER=1
	END

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END


		DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('POLIZAS-POLIZAS')
		SET @VACTION='GET'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE


BEGIN
    WITH T1 AS (
       SELECT 
		P.ID,
		P.IDPOLICYTYPE,
		P.IDVEHICLE,
		P.DACTIVATIONDATE,
		P.DLOCKDATE,
		P.DEXPIRATIONDATE,
		P.DCREATED,
		P.VINVOICENUMBER,
		P.NINVOICEAMOUNT,
		P.DINVOICEDATE,
		P.IDPAYMETHOD,
		P.IESTATUS,
		ISNULL(P.VNUMBER,'') VNUMBER,
		P.BACTIVE,
	     PT.VDESCRIPTION,
		 V.VVIN, V.VPLATE,L.VNAME MODELNAME, C.VVAT,C.VFIRSTNAME,ISNULL(C.VLASTNAME,'') VLASTNAME,
		 ISNULL (X.VREFERENCE,'') AS CODDEALER,ISNULL (Z.VREFERENCE,'') AS CODSUPPLIER ,
		 A.VDISPLAYESTATUS AS ESTATUSNAME,
		 V.IDCUSTOMER,V.IDDEALER
        FROM POLICY P WITH (NOLOCK)
        INNER JOIN VEHICLE V ON P.IDVEHICLE = V.ID
        INNER JOIN CONTACT C ON V.IDCUSTOMER = C.ID
        INNER JOIN CONTACT X ON V.IDDEALER = X.ID
        INNER JOIN CONTACT Z ON V.IDSUPPLIER = Z.ID
        INNER JOIN POLICYTYPE PT ON P.IDPOLICYTYPE = PT.ID
        INNER JOIN ACTION A ON P.IESTATUS = A.ID
        INNER JOIN MODEL L ON V.IDMODEL= L.ID
        WHERE V.IDDEALER =CASE WHEN ISNULL(@IDDEALER,0) = 0 THEN V.IDDEALER ELSE @IDDEALER END AND    
		EXISTS (SELECT * FROM [dbo].[V_RELATEDS_USER] R 
						    WHERE R.IDUSER=@IDUSER 
							AND R.IDDEALER   =CASE WHEN @ISDEALER = 1 THEN V.IDDEALER ELSE R.IDDEALER END
							AND R.IDSUPPLIER =CASE WHEN @ISDEALER = 0 THEN V.IDSUPPLIER ELSE R.IDSUPPLIER END )
		AND (
        V.VVIN LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR V.VPLATE LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR C.VVAT LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR C.VFIRSTNAME LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR C.VLASTNAME LIKE '%' + ISNULL(@VFILTER, '') + '%'
		OR P.VNUMBER LIKE '%' + ISNULL(@VFILTER, '') + '%'
			)
    ), 
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
    T3 AS (
        SELECT * FROM T1
        ORDER BY CASE WHEN T1.ESTATUSNAME = 'BLOQUEADO' THEN 1 
					  WHEN T1.ESTATUSNAME = 'CREADO' THEN 2 ELSE 3 END , 
					  CASE WHEN T1.DACTIVATIONDATE IS NULL THEN T1.DCREATED ELSE  T1.DACTIVATIONDATE END DESC,T1.VVIN
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
    )
    
    SELECT T3.*, T2.TOTAL
    FROM T3, T2

END