GO
/****** Object:  StoredProcedure [dbo].[USP_GET_ACCESSUSERBYGROUP]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_ACCESSUSERBYGROUP]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_ACCESSUSERBYGROUP] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_GET_ACCESSUSERBYGROUP]--USP_GET_ACCESSUSERBYGROUP 1,'YONDER'
    @IDACCESSGROUP INT ,
	@VFILTER VARCHAR(100)= NULL,
    @IROWFROM INT = NULL,
	@BASSIGN BIT= NULL
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END



BEGIN
        WITH T1 AS (
		SELECT  
		V.ID AS IDUSER,
		V.VFIRSTNAME,
		V.VLASTNAME,
		ISNULL(I.VLOGIN,'') AS VLOGIN,
		ISNULL(D.IDACCESGROUP,@IDACCESSGROUP)AS IDACCESSGROUP,
		ISNULL(A.VNAME, '') AS VACCESSGROUP,
		ISNULL(D.BASSIGN, 0) AS BASSIGN,
		V.BUSER
		FROM V_CONTACTS V WITH (NOLOCK)
		LEFT JOIN INFOUSER I WITH (NOLOCK) ON V.ID = I.IDUSER
		LEFT JOIN ACCESSGROUPUSER D WITH (NOLOCK) ON V.ID = D.IDUSER AND D.IDACCESGROUP = @IDACCESSGROUP
		LEFT JOIN ACCESSGROUP A WITH (NOLOCK) ON D.IDACCESGROUP=A.ID 
		WHERE 
			  (@BASSIGN IS NULL OR ISNULL(D.BASSIGN, 0) = @BASSIGN)
			  AND (
				(V.BUSER = 1 AND V.VFIRSTNAME LIKE '%' + ISNULL(@VFILTER, '') + '%') OR
				(V.BUSER = 1 AND V.VLASTNAME LIKE '%' + ISNULL(@VFILTER, '') + '%') OR
				(V.BUSER = 1 AND I.VLOGIN LIKE '%' + ISNULL(@VFILTER, '') + '%')
			  )



    ),
    T2 AS (
        SELECT COUNT(*) AS TOTAL FROM T1
    ),
    T3 AS (
        SELECT * FROM T1
        ORDER BY IDACCESSGROUP DESC
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
    )
    SELECT T3.*, T2.TOTAL
    FROM T3, T2


END

