GO
/****** Object:  StoredProcedure [dbo].[USP_POST_ACCESSGROUP]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_ACCESSGROUP]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_ACCESSGROUP] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_ACCESSGROUP] 
 @DATA NVARCHAR(MAX),
 @IDUSER INT
  
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

 

BEGIN
    BEGIN TRY
        BEGIN TRAN 

        
    
        DECLARE @TDATA AS TABLE
        (
            ID INT,
            VNAME VARCHAR (40)        
        );


        INSERT INTO @TDATA
        SELECT M.Id,M.Name
        FROM OPENJSON(@DATA)
        WITH (
            Id INT,
            Name VARCHAR(40)
        ) AS M				

             DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT
		DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('SEGURIDAD-ROLES')
	
		-- REGISTRO NUEVO
	IF EXISTS (SELECT * FROM @TDATA WHERE ID=0)
	BEGIN
	SET @VACTION='CREATE'
			EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
		INSERT INTO ACCESSGROUP (VNAME,VUPDATEBY,DCREATED,BACTIVE)
	    SELECT D.VNAME,dbo.UFN_GET_LOGIN(@IDUSER),GETDATE(),1
       	FROM @TDATA D
       	WHERE NOT EXISTS (SELECT * FROM ACCESSGROUP P WHERE P.ID = D.ID);
 
		SELECT @IID=SCOPE_IDENTITY()
		SELECT @IINSERTED=@@ROWCOUNT
	
	END

	ELSE
	BEGIN
		SET @VACTION='EDIT'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
			---------------------ACTUALIZAR REGISTRO-------------------------------------
       		UPDATE ACCESSGROUP
       		SET VNAME =D.VNAME,
           		VUPDATEBY = DBO.UFN_GET_LOGIN(@IDUSER),
           		DUPDATED = GETDATE()
       		FROM ACCESSGROUP P
       		INNER JOIN @TDATA D ON D.ID = P.ID
            SELECT @IUPDATED=@@ROWCOUNT
	END

	

		SELECT
		ISNULL(@IID,0) AS IID , 
		ISNULL(@IINSERTED,0) AS IINSERTED,
		ISNULL(@IUPDATED,0) AS IUPDATED

	

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END