GO
/****** Object:  StoredProcedure [dbo].[USP_POST_ACCESSGROUPDETAILS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_ACCESSGROUPDETAILS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_ACCESSGROUPDETAILS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_ACCESSGROUPDETAILS] 
 @DATA NVARCHAR(MAX),
 @IDUSER INT
  
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

 

BEGIN
    BEGIN TRY
        BEGIN TRAN 

        
    
        DECLARE @TDATA AS TABLE
        (
            IDACTION INT,
			IDMODULE INT,
			IDACCESGROUP INT,
			BASSIGN BIT
        );


        INSERT INTO @TDATA
        SELECT M.ActionId,M.ModuleId,M.AccessGroupId,M.Assign
        FROM OPENJSON(@DATA)
        WITH (
            ActionId INT,
            ModuleId INT,
			AccessGroupId INT,
			Assign bit
        ) AS M				

        DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT
		
		DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('SEGURIDAD-ROLES')
		SET @VACTION='CREATE'
	    EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
	
		-- REGISTRO NUEVO
			MERGE INTO ACCESSGROUPDETAIL AS TARGET
			USING @TDATA AS SOURCE
			ON TARGET.IDACTION = SOURCE.IDACTION 
			AND TARGET.IDMODULE = SOURCE.IDMODULE 
			AND TARGET.IDACCESGROUP = SOURCE.IDACCESGROUP
			WHEN MATCHED THEN 
			UPDATE SET TARGET.BASSIGN = SOURCE.BASSIGN

			WHEN NOT MATCHED BY TARGET THEN
			INSERT (IDACTION, IDMODULE, IDACCESGROUP, BASSIGN)
			VALUES (SOURCE.IDACTION, SOURCE.IDMODULE, SOURCE.IDACCESGROUP, SOURCE.BASSIGN);
 
			SELECT @IID=SCOPE_IDENTITY()
			SELECT @IINSERTED=@@ROWCOUNT
	   
		SELECT
		ISNULL(@IID,0) AS IID , 
		ISNULL(@IINSERTED,0) AS IINSERTED,
		ISNULL(@IUPDATED,0) AS IUPDATED

	

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
