GO
/****** Object:  StoredProcedure [dbo].[USP_POST_MAINTENANCE_ACTIONS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_MAINTENANCE_ACTIONS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_MAINTENANCE_ACTIONS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_MAINTENANCE_ACTIONS]
 @DATA NVARCHAR(MAX),
 @IDUSER INT,
 @IDSERVICETYPE INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(MAX),
					IDRELATED INT
				);

				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS A


				DECLARE @VACTION VARCHAR(20)
				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				SELECT TOP 1 @VACTION=VACTION FROM @TDATA
	            DECLARE @APROBADOS INT;
				DECLARE @PENDIENTES INT;
				DECLARE @IDCOMMENT INT ;
				DECLARE @IDMODULE INT=(SELECT IDMODULE FROM @TDATA)

				DECLARE @VCONTEXT VARCHAR(100) = (
													CASE 
														WHEN @IDSERVICETYPE = 1 THEN 'NOTIFICACION MODULO MANTENIMIENTO'
														WHEN @IDSERVICETYPE = 2 THEN 'NOTIFICACION MODULO ASISTENCIA TECNICA'
														WHEN @IDSERVICETYPE = 3 THEN 'NOTIFICACION MODULO REPORTE DE FALLA'
														ELSE 'CONTEXT DESCONOCIDO'
													END
												 );

		       EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

			     
				 ------REPORTE DE FALLA----
				IF @VACTION='TOVALIDATE' AND @IDSERVICETYPE = 3
				BEGIN 

				    UPDATE P
				        SET P.IESTATUS = DBO.UFN_GET_ISTATUS('TOVALIDATE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCE P 
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS = DBO.UFN_GET_ISTATUS('CREATE')
				    SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT
               -----------------------------INSERTAR LA ACCION-------------------------------------------------
						IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('TOVALIDATE')
							SELECT @IINSERTED=@@ROWCOUNT
						
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,5,@VCONTEXT
						END
				END
                 


				--------VALIDAR REPORTE DE FALLA-------
				 IF @VACTION='VALIDATE' AND @IDSERVICETYPE = 3
				BEGIN 

				    UPDATE P
				        SET P.IESTATUS = DBO.UFN_GET_ISTATUS('VALIDATE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
							P.VSUPPLIERDECISION=D.VCOMMENT 
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS = DBO.UFN_GET_ISTATUS('TOVALIDATE')
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT	
					    IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS+': '+D.VCOMMENT, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('VALIDATE')
							SELECT @IINSERTED=@@ROWCOUNT
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,5,@VCONTEXT
						END
				 END

				 	------------ ASIGNAR PARA ASISTENCIA TECNICA------

				IF @VACTION='ASSIGN' AND  @IDSERVICETYPE = 2
				BEGIN

					INSERT INTO ASSESSMENT (IDRECORD,IDMODULE,DSTARTDATE,VUSERSUPPLIER,DCREATED,BACTIVE)
					  SELECT D.IDRECORD,D.IDMODULE,GETDATE(),DBO.UFN_GET_LOGIN(D.IDRELATED),GETDATE(),1
				    FROM @TDATA D  
					SELECT @IINSERTED=@@ROWCOUNT
					IF @IINSERTED>0
					BEGIN
					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('ASSIGN'),
							P.DUPDATED = GETDATE(),
							P.IDAUTHORIZEDUSER=@IDUSER,
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('TOAPPROVE')
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT
					
					END 
						IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS+': '+D.VCOMMENT, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('ASSIGN')
							SELECT @IID=SCOPE_IDENTITY()
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,5,@VCONTEXT
						END

					
				END


				----------- DESASIGNAR PARA ASISTENCIA TECNICA------

				IF @VACTION='UNASSIGN' AND  @IDSERVICETYPE = 2
				BEGIN

					  DELETE D
					  FROM ASSESSMENT D
					  INNER JOIN @TDATA C ON D.IDRECORD=C.IDRECORD AND D.IDMODULE=C.IDMODULE
					  SELECT @IINSERTED=@@ROWCOUNT
					IF @IINSERTED>0
					BEGIN
					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('UNASSIGN'),
							P.DUPDATED = GETDATE(),
							P.IDAUTHORIZEDUSER=@IDUSER,
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('ASSIGN')
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT
					END 
						IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS+': '+D.VCOMMENT, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('UNASSIGN')
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,5,@VCONTEXT
						END

					
				END
				 
				 -----------------POR APROBAR ASISTENCIA TECNICA -----------------------------

				  IF @VACTION='TOAPPROVE' AND @IDSERVICETYPE = 2 
				BEGIN

					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('TOAPPROVE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('CREATE')
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT
						IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('TOAPPROVE')
							SELECT @IINSERTED=@@ROWCOUNT
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,5,@VCONTEXT
						END
				END

				-----------------POR APROBAR PARA  REPORTE DE FALLA -----------------------------
				 IF @VACTION='TOAPPROVE' AND @IDSERVICETYPE = 3
				BEGIN
					 SET @PENDIENTES = (SELECT COUNT(*) 
					FROM MAINTENANCEDETAILS D (NOLOCK)
					INNER JOIN @TDATA T ON D.IDMAINTENANCE =T.IDRECORD
					WHERE D.IDMAINTENANCE IS NOT NULL AND D.IESTATUS = DBO.UFN_GET_ISTATUS('TOAPPROVE'));

					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('TOAPPROVE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('VALIDATE') AND @PENDIENTES >=1 
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT
					  
					  IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('TOAPPROVE')
							SELECT @IINSERTED=@@ROWCOUNT
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,5,@VCONTEXT
						END

					
				END




				------------ APROBACION PARA ASISTENCIA TECNICA------

				IF @VACTION='APPROVE' AND  @IDSERVICETYPE = 2
				BEGIN

					UPDATE P
						SET P.DENDDATE=GETDATE(),
						    P.DUPDATE = GETDATE(),
							P.VUPDATEBY=DBO.UFN_GET_LOGIN(@IDUSER)
					FROM ASSESSMENT P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID AND P.IDMODULE=@IDMODULE 
					
					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('APPROVE'),
							P.DUPDATED = GETDATE(),
							P.IDAUTHORIZEDUSER=@IDUSER,
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('ASSIGN')
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT

						IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS+': '+D.VCOMMENT, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('APPROVE')
							SELECT @IINSERTED=@@ROWCOUNT
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,5,@VCONTEXT
						END

					
				END


				-----------------------APROBAR MANTENIMIENTO--------------------------------
				IF @VACTION='APPROVE' AND @IDSERVICETYPE = 1
				BEGIN
				-------------------ACTUALIZAR MANTENIMIENTO----------------
					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('APPROVE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
							P.VSUPPLIERDECISION=D.VCOMMENT 
					FROM MAINTENANCE P (NOLOCK)
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('TOAPPROVE')
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT

					-------------------ACTUALIZAR ESCALA----------------
					 UPDATE A
					 SET A.BVALID =1
					 FROM POLICYDETAILS A 
					 INNER JOIN @TDATA D  ON  A.IDMAINTENANCE=D.IDRECORD
					 INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
					 WHERE A.IDMAINTENANCE=D.IDRECORD AND P.IESTATUS=DBO.UFN_GET_ISTATUS('APPROVE')

					 -------------------ACTUALIZAR POLIZA----------------
					IF EXISTS ( SELECT * FROM MAINTENANCE P (NOLOCK) 
					                     INNER JOIN @TDATA T ON P.ID =T.IDRECORD          
					                     WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('APPROVE'))
					BEGIN 
					DECLARE @IDPOLICY INT =(SELECT P.ID FROM @TDATA A
					                INNER JOIN MAINTENANCE M (NOLOCK) ON A.IDRECORD =M.ID
									INNER JOIN VEHICLE V (NOLOCK) ON M.IDVEHICLE = V.ID
									LEFT JOIN POLICY P (NOLOCK) ON  V.ID= P.IDVEHICLE
									);
					 EXEC USP_ESTATUS_POLICY @IDPOLICY, @IDUSER;
					END 

					 -------------------INSERCION DE COMENTARIO----------------
						IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('APPROVE')
							SELECT @IINSERTED=@@ROWCOUNT
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,5,@VCONTEXT
						END
					
				END

				


				------------APROBACION PARA REPORTE DE FALLA------------
				IF @VACTION='APPROVE' AND @IDSERVICETYPE = 3 
				BEGIN
				------------------CONTEO DE REGISTROS EN MAINTENANCE DETAILS POR ESTATUS-------------------------------
	
                SET @APROBADOS = (SELECT COUNT(*) 
				FROM MAINTENANCEDETAILS D (NOLOCK)
				INNER JOIN @TDATA T ON D.IDMAINTENANCE =T.IDRECORD
				WHERE D.IDMAINTENANCE IS NOT NULL AND D.IESTATUS = DBO.UFN_GET_ISTATUS('APPROVE'));

				SET @PENDIENTES =(SELECT COUNT(*) 
				FROM MAINTENANCEDETAILS D (NOLOCK)
				INNER JOIN @TDATA T ON D.IDMAINTENANCE =T.IDRECORD
				WHERE D.IDMAINTENANCE IS NOT NULL AND  D.IESTATUS =DBO.UFN_GET_ISTATUS('TOAPPROVE'));
				-------------------------------------OBTENER PRECIO TOTAL DE LOS ITEMS CARGADOS SRG------------------------------------------------------------------
                DECLARE @PRICE NUMERIC (10,2)= (SELECT TOP 1 M.NINVOICEAMOUNT FROM MAINTENANCE M (NOLOCK)
				                                  INNER JOIN @TDATA T ON M.ID =T.IDRECORD)

					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('APPROVE'),
							P.DUPDATED = GETDATE(),
							P.IDAUTHORIZEDUSER=@IDUSER,
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('TOAPPROVE') AND @APROBADOS>=1 AND @PENDIENTES=0 AND EXISTS (SELECT * FROM LEVELUSER L (NOLOCK)
					                                                                                                   INNER JOIN LEVEL A (NOLOCK) ON L.IDLEVEL=A.ID
																													   WHERE IDUSER=@IDUSER AND @PRICE>=A.IFROM AND @PRICE<=A.IUPTO )   
					SELECT @IUPDATED=@@ROWCOUNT
					SELECT @IID=SCOPE_IDENTITY()
					    IF @IUPDATED>0
					 	BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('APPROVE')
							SELECT @IINSERTED=@@ROWCOUNT
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,5,@VCONTEXT
						END
				END





			-----------------------------RECHAZAR MANTENIMIENTO Y ASISTENCIA TECNICA--------------------------------------------------
				IF @VACTION='DECLINE' AND (@IDSERVICETYPE = 2 OR @IDSERVICETYPE = 1)
				BEGIN

					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('DECLINE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
							P.VSUPPLIERDECISION=D.VCOMMENT
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS= DBO.UFN_GET_ISTATUS('TOAPPROVE') OR P.IESTATUS= DBO.UFN_GET_ISTATUS('TOVALIDATE')
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT
					   
					    IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT 'REPORTE '+A.VDISPLAYESTATUS+': '+ D.VCOMMENT, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('DECLINE')
							SELECT @IINSERTED=@@ROWCOUNT							
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,5,@VCONTEXT
						END 
					
				END

				------------RECHAZAR REPORTE DE FALLA--------

				  IF @VACTION='DECLINE' AND @IDSERVICETYPE = 3
				BEGIN 

				    UPDATE P
				        SET P.IESTATUS = DBO.UFN_GET_ISTATUS('DECLINE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS = DBO.UFN_GET_ISTATUS('TOVALIDATE')
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT
						
						IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS+': '+D.VCOMMENT, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('DECLINE')
							SELECT @IINSERTED=@@ROWCOUNT
							SELECT @IID=SCOPE_IDENTITY()
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,5,@VCONTEXT
						END
                 END


				 ---------------------PROCESAR MANTENIMIENTO---------------------------------

				IF @VACTION='PROCESS' AND @IDSERVICETYPE = 1
				BEGIN

					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('PROCESS'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('CREATE')
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT
					   
					   IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('PROCESS')
							SELECT @IINSERTED=@@ROWCOUNT
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,5,@VCONTEXT
						END
					
				END


				------------ PORCESAR PARA ASISTENCIA TECNICA------

				IF @VACTION='PROCCESS' AND  @IDSERVICETYPE = 2
				BEGIN
				    
					UPDATE P
						SET P.IQUANTITY= D.IDRELATED,
							P.VUSERDEALER = DBO.UFN_GET_LOGIN(@IDUSER),
							P.DUPDATE = GETDATE(),
							P.VUPDATEBY=DBO.UFN_GET_LOGIN(@IDUSER)
					FROM ASSESSMENT P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID AND P.IDMODULE=@IDMODULE 
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IINSERTED=@@ROWCOUNT
						
						IF @IINSERTED>0
						BEGIN
							UPDATE P
								SET P.IESTATUS= DBO.UFN_GET_ISTATUS('PROCCESS'),
									P.DUPDATED = GETDATE(),
									P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
							FROM MAINTENANCE P
							INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
							WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('APPROVE')
							SELECT @IUPDATED=@@ROWCOUNT
						END
						IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS+': '+D.VCOMMENT, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('PROCCESS')
							SELECT @IINSERTED=@@ROWCOUNT
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,5,@VCONTEXT
						END

					
				END
			
					
				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED


				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
