GO
/****** Object:  StoredProcedure [dbo].[USP_GET_ACCESSGROUPDETAILS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_ACCESSGROUPDETAILS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_ACCESSGROUPDETAILS] AS BEGIN SET NOCOUNT ON  END')
GO



ALTER PROCEDURE [dbo].[USP_GET_ACCESSGROUPDETAILS]-- USP_GET_ACCESSGROUPDETAILS 2,DEACTIVATE
	@IDACCESSGROUP INT ,
	@VFILTER VARCHAR(50)=NULL,
    @IROWFROM INT = NULL
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END



BEGIN
        WITH T1 AS (
        SELECT DISTINCT 
		ISNULL(D.IDACCESGROUP,@IDACCESSGROUP) AS IDACCESGROUP,
        V.IDACTION,
        V.VACTION,
		A.VDISPLAY AS VACTIONDISPLAY,
        V.IDMODULE,
        V.VMODULE,
		ISNULL(D.BASSIGN,0) AS BASSIGN
		FROM V_ACTIONMODULE V WITH (NOLOCK)
		LEFT JOIN ACCESSGROUPDETAIL D WITH (NOLOCK) ON V.IDACTION = D.IDACTION AND V.IDMODULE = D.IDMODULE AND D.IDACCESGROUP = @IDACCESSGROUP
		LEFT JOIN ACCESSGROUP G WITH (NOLOCK) ON D.IDACCESGROUP = G.ID
		LEFT JOIN ACTION A WITH (NOLOCK) ON V.IDACTION=A.ID 
 		WHERE 
        (A.VDISPLAY LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR V.VMODULE LIKE '%' + ISNULL(@VFILTER, '') + '%')

    ),
    T2 AS (
        SELECT COUNT(*) AS TOTAL FROM T1
    ),
    T3 AS (
        SELECT * FROM T1
        ORDER BY IDMODULE, BASSIGN DESC
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
    )
    SELECT T3.*, T2.TOTAL
    FROM T3, T2


END
