GO
/****** Object:  StoredProcedure [dbo].[USP_DELETE_MAINTENANCEDETAILS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_DELETE_MAINTENANCEDETAILS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_DELETE_MAINTENANCEDETAILS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_DELETE_MAINTENANCEDETAILS] --USP_DELETE_MAINTENANCEDETAILS 4,5073
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

    BEGIN TRY
        BEGIN TRAN 
	
		
			DECLARE @IID INT
			DECLARE @IINSERTED INT
			DECLARE @IUPDATED INT
			

				DECLARE @TDATA AS TABLE
				(
					IDUSER INT,
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(200),
					IDRELATED INT
				);


				
				INSERT INTO @TDATA
				SELECT UserId ,RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						UserId int,RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS A
            DECLARE @IDMAINTENANCE INT =(SELECT IDMAINTENANCE FROM MAINTENANCEDETAILS A (NOLOCK) 
			                                   INNER JOIN @TDATA T ON A.ID= T.IDRECORD );

            DECLARE @VACTION VARCHAR(20)
			DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('SERVICIOS-DETALLES-REPORTE FALLA')
			SET @VACTION='DEACTIVATE'
			EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE


			 DELETE A
		   FROM MAINTENANCEDETAILS A
		   INNER JOIN @TDATA T ON A.ID =T.IDRECORD AND
			EXISTS (SELECT 1 FROM MAINTENANCE B WITH (NOLOCK)
						WHERE B.ID=A.IDMAINTENANCE
						AND B.IESTATUS=DBO.UFN_GET_ISTATUS('VALIDATE') OR B.IESTATUS=DBO.UFN_GET_ISTATUS('TOAPPROVE'))

			SELECT @IID=SCOPE_IDENTITY()
			SELECT @IUPDATED=@@ROWCOUNT
			EXEC USP_MOUNT_MAINTENANCE @IDMAINTENANCE,@IDUSER
			
			SELECT @IID=SCOPE_IDENTITY()
			SELECT @IUPDATED=@@ROWCOUNT
			
      
			SELECT
			ISNULL(@IID,0) AS IID , 
			ISNULL(@IINSERTED,0) AS IINSERTED,
			ISNULL(@IUPDATED,0) AS IUPDATED

            COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END