GO
/****** Object:  StoredProcedure [dbo].[USP_GET_ACCESSGROUPBYUSER]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_ACCESSGROUPBYUSER]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_ACCESSGROUPBYUSER] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_GET_ACCESSGROUPBYUSER]--USP_GET_ACCESSGROUPBYUSER 1,NULL,NULL
    @IDUSER INT ,
    @IROWFROM INT = NULL,
	@BASSIGN BIT= NULL
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END



BEGIN
        WITH T1 AS (
       SELECT 
			V.ID AS IDACCESSGROUP,
			V.VNAME  VACCESSGROUP,
			ISNULL(C.ID,@IDUSER) AS IDUSER,
		    C.VFIRSTNAME,
			C.VLASTNAME,
			I.VLOGIN,
			ISNULL(D.BASSIGN,0) AS BASSIGN
			FROM ACCESSGROUP V WITH (NOLOCK)
			LEFT JOIN ACCESSGROUPUSER D WITH (NOLOCK)
			ON V.ID = D.IDACCESGROUP AND D.IDUSER = @IDUSER
			LEFT JOIN V_CONTACTS C ON  D.IDUSER=C.ID
			LEFT JOIN INFOUSER I WITH (NOLOCK) ON C.ID=I.IDUSER
			WHERE (@BASSIGN IS NULL OR ISNULL(D.BASSIGN, 0) = @BASSIGN)

    ),
    T2 AS (
        SELECT COUNT(*) AS TOTAL FROM T1
    ),
    T3 AS (
        SELECT * FROM T1
        ORDER BY IDACCESSGROUP 
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
    )
    SELECT T3.*, T2.TOTAL
    FROM T3, T2


END
