GO
/****** Object:  StoredProcedure [dbo].[USP_INSERT_REMINDERCONTENT]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_INSERT_REMINDERCONTENT]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_INSERT_REMINDERCONTENT] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_INSERT_REMINDERCONTENT] --USP_INSERT_REMINDERCONTENT
 @IDCOMMENT INT,
 @IDTEMPLATE INT,
 @VCONTEXT VARCHAR(100)
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

    BEGIN TRY
        BEGIN TRAN 
	

            



				DECLARE @html NVARCHAR(MAX)

				SELECT @html = VCONTENT
				FROM TEMPLATE
				WHERE ID = @IDTEMPLATE

				DECLARE @VMODULE NVARCHAR(100)
				DECLARE @IDMODULE INT
				DECLARE @IDRECORD INT
				DECLARE @VCONTENT NVARCHAR(MAX)
				DECLARE @VSENDER NVARCHAR(100)
				DECLARE @DSENDDATE NVARCHAR(20)
				DECLARE @VCOMPANY VARCHAR(100)
				DECLARE @VSUPPLIER VARCHAR(100)



				SELECT 
				  @VMODULE = M.VNAME,
				  @IDMODULE=  C.IDMODULE,
				  @IDRECORD = C.IDRECORD,
				  @VCONTENT = C.VCONTENT,
				  @VSENDER = C.VCREATEDBY,
				  @DSENDDATE = CONVERT(VARCHAR, GETDATE(), 103),
				  @VCOMPANY= ISNULL(VS.SUPPLIER,CO.DEALER)
				FROM COMMENT C (NOLOCK)
				INNER JOIN MODULE M WITH (NOLOCK) ON C.IDMODULE=M.ID
				INNER JOIN MAINTENANCE ME WITH (NOLOCK) ON C.IDRECORD=ME.ID
				INNER JOIN INFOUSER IU WITH (NOLOCK) ON C.VCREATEDBY=IU.VLOGIN
				INNER JOIN V_DEALERS CO WITH (NOLOCK) ON ME.IDDEALER =CO.IDDEALER 
				LEFT JOIN V_SUPPLIERS_USER VS ON IU.IDUSER=VS.IDUSER AND CO.IDSUPPLIER=VS.IDSUPPLIER 
				WHERE C.ID=@IDCOMMENT

				-- Reemplazo de variables
				SET @html = REPLACE(@html, '{{name_module}}', @VMODULE)
				SET @html = REPLACE(@html, '{{id_notification}}', @IDRECORD)
				SET @html = REPLACE(@html, '{{name_Company}}', @VCOMPANY)
				SET @html = REPLACE(@html, '{{content_details}}', @VCONTENT)
				SET @html = REPLACE(@html, '{{sender}}', @VSENDER)
				SET @html = REPLACE(@html, '{{date_send}}', CONVERT(VARCHAR, GETDATE(), 103))


            DECLARE @IID INT
		    DECLARE @IINSERTED INT
			DECLARE @IUPDATED INT

	        BEGIN
		-- Paso 1: Insertar recordatorio a usuarios que comentaron
			WITH DestinatariosUnicos AS (
					SELECT 
					IU.VLOGIN,
					MAX(C.VEMAIL) AS VEMAIL  -- Puedes usar MAX o MIN si hay varios correos por login
					FROM COMMENT CM WITH (NOLOCK)
					INNER JOIN INFOUSER IU WITH (NOLOCK) ON CM.VCREATEDBY = IU.VLOGIN
					INNER JOIN CONTACT C WITH (NOLOCK) ON IU.IDUSER = C.ID
					WHERE CM.IDMODULE = @IDMODULE
					AND CM.IDRECORD = @IDRECORD
					AND CM.VCREATEDBY <> @VSENDER
					AND C.VEMAIL IS NOT NULL
					GROUP BY IU.VLOGIN
					)
			INSERT INTO REMINDER(VCONTEXT, VCONTENT, IDMODULE, VSENDER, VRECEIVER, DCREATED, BSEND)
				SELECT 
				@VCONTEXT,
				@html,
				@IDMODULE,
				@VSENDER,
				D.VEMAIL,
				GETDATE(),
				0
			FROM DestinatariosUnicos D;
				-- Guardar cantidad de insertados
				SELECT @IINSERTED = @@ROWCOUNT;

			-- Paso 2: Si no hubo comentarios, buscar usuarios con acceso a VALIDAR o APROBAR
			IF @IINSERTED = 0
			BEGIN
				INSERT INTO REMINDER(VCONTEXT, VCONTENT, IDMODULE, VSENDER, VRECEIVER, DCREATED, BSEND)
				SELECT DISTINCT
					@VCONTEXT,
					@html,
					@IDMODULE,
					@VSENDER,
					C.VEMAIL,
					GETDATE(),
					0
				FROM ACCESSGROUPUSER AU WITH (NOLOCK)
				INNER JOIN CONTACT C WITH (NOLOCK) ON AU.IDUSER = C.ID
				INNER JOIN ACCESSGROUP AG WITH (NOLOCK) ON AU.IDACCESGROUP = AG.ID
				INNER JOIN ACCESSGROUPDETAIL AD WITH (NOLOCK) ON AG.ID = AD.IDACCESGROUP
				WHERE AD.IDMODULE = @IDMODULE
				  AND AD.IDACTION IN (dbo.UFN_GET_ISTATUS('VALIDATE'), dbo.UFN_GET_ISTATUS('APPROVE'))
				  AND C.VEMAIL IS NOT NULL
				  AND C.VEMAIL <> @VSENDER; -- Evita enviar al mismo emisor

				SELECT @IINSERTED = @@ROWCOUNT;
			END

			-- Trazabilidad del último ID insertado (si aplica)
			SELECT @IID = SCOPE_IDENTITY();


		     END 

			SELECT
			ISNULL(@IID,0) AS IID , 
			ISNULL(@IINSERTED,0) AS IINSERTED,
			ISNULL(@IUPDATED,0) AS IUPDATED

			COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
