GO
/****** Object:  StoredProcedure [dbo].[USP_DELETE_MOVEMENTDETAIL]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_DELETE_MOVEMENTDETAIL]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_DELETE_MOVEMENTDETAIL] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_DELETE_MOVEMENTDETAIL] --USP_DELETE_MOVEMENTDETAIL 4,5073
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

    BEGIN TRY
        BEGIN TRAN 
	
		
			DECLARE @IID INT
			DECLARE @IINSERTED INT
			DECLARE @IUPDATED INT

				DECLARE @TDATA AS TABLE
				(
					IDUSER INT,
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(200),
					IDRELATED INT
				);


				
				INSERT INTO @TDATA
				SELECT UserId ,RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						UserId int,RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS A

		    DECLARE @VLOCATIONTYPE VARCHAR(1)
			SET @VLOCATIONTYPE=(SELECT MD.VLOCATIONTYPE FROM MOVEMENTDETAILS MD WITH (NOLOCK)
			            INNER JOIN @TDATA T ON MD.ID=T.IDRECORD)
            DECLARE @IDMODULE INT
			IF @VLOCATIONTYPE='R'
				BEGIN 
				SET @IDMODULE=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECEPCION')
				END
			ELSE
				BEGIN
				SET @IDMODULE=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-TRASLADO')
				END

			DECLARE @VACTION VARCHAR(20)
			SET @VACTION='DECLINE'
			EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE


			DELETE A 
			FROM MOVEMENTDETAILS A
			INNER JOIN @TDATA D ON D.IDRECORD=A.ID
			WHERE EXISTS (SELECT * FROM MOVEMENT B WITH (NOLOCK)
						WHERE B.ID=A.IDMOVEMENT
						AND B.IESTATUS=DBO.UFN_GET_ISTATUS('CREATE')
						)

			
			SELECT @IID=SCOPE_IDENTITY()
			SELECT @IUPDATED=@@ROWCOUNT
			
      
			SELECT
			ISNULL(@IID,0) AS IID , 
			ISNULL(@IINSERTED,0) AS IINSERTED,
			ISNULL(@IUPDATED,0) AS IUPDATED

            COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
