GO
/****** Object:  StoredProcedure [dbo].[USP_GET_VEHICLEFULL_BY]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_VEHICLEFULL_BY]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_VEHICLEFULL_BY] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_GET_VEHICLEFULL_BY]-- USP_GET_VEHICLEFULL_BY '3GYFK66N53G316725',0,1
@VFILTER VARCHAR(20),
@BY INT,
@IDUSER INT = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

  IF @IDUSER>0
	    BEGIN
		DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-DESPACHO')
		SET @VACTION='GET'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
		END

BEGIN


    WITH T1 AS (
        SELECT 
        V.ID AS ID,V.VVIN,V.VPLATE,V.VENGINESERIAL,L.ID AS IDMODEL,L.VNAME AS MODELNAME,B.ID AS IDBRAND,B.VNAME VBRAND ,V.IESTATUS,V.VESTATUS AS VESTATUSVEHICLE,V.IYEAR,T.ID AS IDCOLOR,T.VNAME as VCOLOR,
		M.ID AS IDPOLICY,ISNULL(M.VNUMBER,'') VNUMBER ,L.IDPOLICYTYPE, 
		P.VDESCRIPTION,M.BACTIVE,M.IESTATUS AS IDESTATUSPOLICY ,
		A.VDISPLAYESTATUS AS VESTATUSPOLICY,M.DACTIVATIONDATE,M.DLOCKDATE,M.DEXPIRATIONDATE,M.IDPAYMETHOD, 
		Z.VNAME AS NAMEMETHOD,V.IDCUSTOMER,C.VVAT,C.VFIRSTNAME,C.VLASTNAME,C.VPHONE1,C.VEMAIL,X.ID AS IDDEALER,C.VADDRESS,X.VFIRSTNAME as DEALERNAME,
		X.VREFERENCE AS CODDEALER ,Y.ID AS IDSUPPLIER,Y.VFIRSTNAME SUPPLIERNAME,Y.VREFERENCE AS CODSUPPLIER, 
		M.VINVOICENUMBER,M.NINVOICEAMOUNT,M.DINVOICEDATE
        FROM V_VEHICLES V WITH (NOLOCK)
        LEFT JOIN POLICY M ON V.ID=M.IDVEHICLE
        LEFT JOIN CONTACT C ON V.IDCUSTOMER = C.ID
		LEFT JOIN CONTACT X ON V.IDDEALER = X.ID
		LEFT JOIN CONTACT Y ON V.IDSUPPLIER = Y.ID
		LEFT JOIN ACTION A ON M.IESTATUS= A.ID
		LEFT JOIN MODEL L ON V.IDMODEL= L.ID
	    LEFT JOIN POLICYTYPE P ON L.IDPOLICYTYPE= P.ID
		LEFT JOIN BRAND B ON L.IDBRAND = B.ID
		LEFT JOIN PAYMETHOD Z ON M.IDPAYMETHOD= Z.ID
		LEFT JOIN COLOR T ON V.IDCOLOR= T.ID
 		WHERE 
		( @VFILTER = CASE WHEN @BY = 0 THEN V.VVIN
						  WHEN @BY = 1 THEN V.VVIN
						  WHEN @BY = 2 THEN V.VENGINESERIAL
						  WHEN @BY = 3 THEN V.VPLATE
					 END OR 
		 @VFILTER =  CASE WHEN @BY = 0 THEN V.VPLATE
						  WHEN @BY = 1 THEN V.VVIN
						  WHEN @BY = 2 THEN V.VENGINESERIAL
						  WHEN @BY = 3 THEN V.VPLATE
					 END
		)

    ), 
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1)

    SELECT T1.*, T2.TOTAL
    FROM T1, T2
    WHERE T2.TOTAL > 0

END;
