SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_KARDEX] -- USP_GET_KARDEX 1,4069,0,''
@IDUSER INT, 
@IDSUPPLIER INT = NULL,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;


	DECLARE @TOPE INT

    -- 1. PREPARAR VARIABLES DE TOPE Y PAGINACION
	IF @IROWFROM IS NULL
	    BEGIN
		    SET @TOPE=1000000
		    SET @IROWFROM=0
	    END
	ELSE
	    BEGIN
		    SET @TOPE=100
	    END

    -- 2. PREPARAR VARIABLES FILTRADOS
    DECLARE @LIKEFILTER VARCHAR(100)
    SELECT @DFROMDATE = CONVERT(VARCHAR(10), ISNULL(@DFROMDATE,GETDATE()),120)
    SELECT @DUPTODATE = CONVERT(VARCHAR(10), ISNULL(@DUPTODATE,GETDATE())+1,120)
    SELECT @VFILTER= ISNULL(@VFILTER,'')
    SELECT @LIKEFILTER = '%'+@VFILTER+'%'

BEGIN

      WITH 
        K AS (
                -- 3. FILTRAR MUESTRA DEL KARDEX
            SELECT IDSUPPLIER,IDPART,VTYPE,IQTY,IQTYOLD,IQTYNEW,NCOST,DCREATED,IDUSER,IREFERENCE
            FROM KARDEX WITH (NOLOCK)
            WHERE 
            IDSUPPLIER = @IDSUPPLIER
            AND DCREATED >= @DFROMDATE
            AND DCREATED < @DUPTODATE
        ),
        P AS (
                -- 3.1. FILTRAR MUESTRA DE PART
            SELECT P.ID AS IDPART,P.VINNERCODE , P.VDESCRIPTION
            FROM PART P WITH (NOLOCK)
            WHERE P.IDSUPPLIER= @IDSUPPLIER
            AND ( 
				@VFILTER=''
                OR ( P.VINNERCODE LIKE @LIKEFILTER OR P.VDESCRIPTION LIKE @LIKEFILTER )
                )
        ),
        T1 AS (
                -- 4. SELECCIONAR DATOS RESULTANTES
                SELECT 
                K.IDSUPPLIER,K.IDPART,K.VTYPE,K.IQTY,K.IQTYOLD,K.IQTYNEW,K.NCOST,K.DCREATED,K.IDUSER,K.IREFERENCE,
                P.VINNERCODE,P.VDESCRIPTION,
                COUNT(*) OVER() AS TOTAL
                FROM K
                INNER JOIN P ON P.IDPART=K.IDPART
        )
        -- 5. PAGINAR
        SELECT T1.*
        FROM T1
        ORDER BY T1.DCREATED DESC
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
 
END


