SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_REPORTS_REP005] --USP_GET_REPORTS_REP005 1,0,4069,0,'1581'
@IDUSER INT, 
@IDDEALER INT = NULL,
@IDSUPPLIER INT = NULL,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL,
@IDESTATUS INT =NULL


AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

    -- 1. PREPARAR PAGINACION
	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

    -- 2. PREPARAR VARIABLES DE FILTROS
    SELECT @VFILTER= ISNULL(@VFILTER,'')
    DECLARE @FechaInicio DATETIME = DATEADD(DAY, -360, GETDATE());
    SELECT @DFROMDATE = CONVERT(VARCHAR(10),isnull(@DFROMDATE,getdate()-30),120)
    SELECT @DUPTODATE = CONVERT(VARCHAR(10),isnull(@DUPTODATE,getdate()+1),120)
    DECLARE @SALEORDERID INT
    SELECT @SALEORDERID=0

    IF ISNUMERIC(@VFILTER)=1 AND LEN(@VFILTER) <= 6 
    BEGIN
        SELECT @SALEORDERID=CAST(@VFILTER AS INT)
        SELECT @VFILTER=''
    END

    SELECT @IDDEALER = ISNULL(@IDDEALER,0)
    SELECT @IDESTATUS = ISNULL(@IDESTATUS,0)
    DECLARE @LIKEFILTER VARCHAR(100)
    SELECT @LIKEFILTER = '%'+@VFILTER+'%'

BEGIN

        WITH O AS (
            -- 3. FILTRAR MUESTRAS
            SELECT O.ID AS IDSALEORDER, O.IDDEALER, O.IDSUPPLIER, O.IDESTATUS, O.IDTYPE, O.DCREATED,
            T.VNAME AS SALEORDERTYPE,A.VDISPLAYESTATUS AS VESTATUS 
            FROM SALEORDER O WITH (NOLOCK)
            INNER JOIN SALEORDERTYPE T WITH (NOLOCK) ON T.ID=O.IDTYPE
            INNER JOIN ACTION A WITH (NOLOCK) ON A.ID=O.IDESTATUS
            WHERE O.IDSUPPLIER = @IDSUPPLIER
            AND (@IDDEALER = 0 OR O.IDDEALER = @IDDEALER)
            AND O.DCREATED >= @DFROMDATE
            AND O.DCREATED < @DUPTODATE
            AND O.DCREATED >=@FechaInicio
            AND (@IDESTATUS =0 OR O.IDESTATUS = @IDESTATUS)
            AND (@SALEORDERID=0 OR O.ID=@SALEORDERID)
        ),
        P AS (
                -- FILTRO DE PARTES
                SELECT P.ID AS IDPART , P.VINNERCODE,P.VDESCRIPTION
                FROM PART P WITH (NOLOCK)
                WHERE P.IDSUPPLIER= @IDSUPPLIER
                AND ( @VFILTER='' OR P.VINNERCODE LIKE @LIKEFILTER OR P.VDESCRIPTION LIKE @LIKEFILTER )

            ),
        R AS (
                -- FILTRAR DETALLES DE PEDIDOS
            SELECT A.IDSALEORDER, A.IDPART, SUM(IREQUIRED) AS IREQUIRED
            FROM SALEORDERDETAIL A WITH (NOLOCK)
	        INNER JOIN O ON O.IDSALEORDER = A.IDSALEORDER 
            INNER JOIN P ON P.IDPART=A.IDPART
            GROUP BY A.IDSALEORDER, A.IDPART
        ),
        I AS (
            -- FILTRAR FACTURAS
            SELECT A.IDSUPPLIER,A.IDCUSTOMER AS IDDEALER, A.IDSALEORDER ,A.IDPART,
            ISNULL(A.IDINVOICE,0) IDINVOICE,
            ISNULL(SUM(A.IINVOICED),0) IINVOICED 
            FROM DISPATCHEDCONTROL A WITH (NOLOCK)
            INNER JOIN O ON O.IDSALEORDER=A.IDSALEORDER
            WHERE A.IDSUPPLIER= @IDSUPPLIER
            AND A.IDINVOICE>0
            AND A.IESTATUS<>19 -- DECLINE
            GROUP BY A.IDSUPPLIER,A.IDSALEORDER,A.IDCUSTOMER,A.IDPART,IDINVOICE
        )
            -- 3. SELECCION DE DATOS
        SELECT 
        O.IDSUPPLIER,
        CONVERT(VARCHAR(10),O.DCREATED,120) FECHAPEDIDO,
        O.IDSALEORDER NROPEDIDO,
        O.SALEORDERTYPE TIPO,
        P.VINNERCODE CODIGO,
        P.VDESCRIPTION REPUESTO,
        R.IREQUIRED SOLICITADO,
        ISNULL(I.IDINVOICE,0) NROFACTURA,
        ISNULL(I.IINVOICED,0) FACTURADO,
        D.DEALER CONCESIONARIO,
        O.VESTATUS ESTATUS,
        COUNT(*) OVER() AS TOTAL
        FROM O
        INNER JOIN R ON R.IDSALEORDER=O.IDSALEORDER
        INNER JOIN P ON P.IDPART= R.IDPART
        INNER JOIN V_DEALERS D WITH (NOLOCK) ON D.IDDEALER=O.IDDEALER
        LEFT JOIN I ON I.IDDEALER=O.IDDEALER AND I.IDSALEORDER=O.IDSALEORDER AND I.IDPART= R.IDPART
        ORDER BY O.DCREATED
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
		
END


