SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
ALTER PROCEDURE [dbo].[USP_POST_INVENTORY]    
@IDLOCATION INT,  
@IDPART INT,  
@ISTOCK INT,  
@IDUSER INT,  
@VMODE VARCHAR(1),
@VTYPE VARCHAR(1) = null,
@IREFERENCE INT = 0
AS  
/* '===============================================================            
  '   NOMBRE                :   
  '   FECHA CREACIÓN        :   
  '   CREADO POR            : WILMAN CAMACHO  
  '   CREADO PARA           :   
  '   FUNCIÓN               :    
  '   VERSIÓN               :   
  '   MODIFICADO EN         :   
  '   MODIFICADO POR        :    
  '   RAZÓN DE MODIFICACIÓN :   
  '===============================================================*/  
  
SET XACT_ABORT ON                 
SET NOCOUNT ON  
SET LOCK_TIMEOUT 180000  
  
BEGIN  
 
    BEGIN TRY
    BEGIN TRAN

    IF NOT EXISTS(SELECT * FROM INVENTORY WITH (NOLOCK)  
                WHERE IDLOCATION=@IDLOCATION AND IDPART=@IDPART)  
    BEGIN  
        INSERT INTO INVENTORY   
        (IDLOCATION,IDPART,ISTOCK,VSERIAL,IRESERVED,DCREATED,DUPDATED,VUPDATEDBY)  
        SELECT   
        @IDLOCATION,@IDPART,0,NULL,0,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER)  
    END  
  
    DECLARE @OLD INT
    DECLARE @NEW INT

    SELECT @OLD=0,@NEW=0

    SELECT @OLD=ISNULL(SUM(ISTOCK),0)
    FROM INVENTORY WITH (NOLOCK)
    WHERE IDPART=@IDPART

    IF @VMODE='+'  
        BEGIN  
            UPDATE INVENTORY   
            SET 
            ISTOCK  =ISTOCK+@ISTOCK,
            DUPDATED=GETDATE(),VUPDATEDBY=DBO.UFN_GET_LOGIN(@IDUSER)  
            WHERE IDLOCATION=@IDLOCATION AND IDPART=@IDPART  
        END  
    ELSE  
        BEGIN  
            UPDATE INVENTORY   
            SET  
            ISTOCK  = CASE WHEN ISTOCK-@ISTOCK > 0 THEN ISTOCK-@ISTOCK ELSE 0 END,
            DUPDATED=GETDATE(),VUPDATEDBY=DBO.UFN_GET_LOGIN(@IDUSER)  
            WHERE IDLOCATION=@IDLOCATION AND IDPART=@IDPART  
        END  
  
    IF @VTYPE='E' OR @VTYPE='S' OR @VTYPE='R' OR @VTYPE='D' 
    BEGIN

        SELECT @NEW=ISNULL(SUM(ISTOCK),0)
        FROM INVENTORY WITH (NOLOCK)
        WHERE IDPART=@IDPART

        INSERT INTO KARDEX 
        (IDSUPPLIER,IDPART,VTYPE,IQTY,IQTYOLD,IQTYNEW,NCOST,DCREATED,IDUSER,IREFERENCE)
        SELECT 
        IDSUPPLIER,@IDPART,@VTYPE,@ISTOCK,@OLD,@NEW,NCOST,GETDATE(),@IDUSER,@IREFERENCE
        FROM PART WITH (NOLOCK)
        WHERE ID=@IDPART

    END
  

    COMMIT TRAN
    END TRY
    BEGIN CATCH
	    IF XACT_STATE() <> 0
		    ROLLBACK TRAN
	    DECLARE @ErrorMessage NVARCHAR(4000) 
	    SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
	    RAISERROR ( @ErrorMessage , 16,1) 
    END CATCH

END  
  