SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_REPORTS_REP006] --USP_GET_REPORTS_REP006 1,0,4069,0,'AMOR'
@IDUSER INT, 
@IDDEALER INT = NULL,
@IDSUPPLIER INT = NULL,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL,
@IDESTATUS INT =NULL


AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

    -- PREPARAR VARIABLES PAGINACION
	DECLARE @TOPE INT
	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

    -- PREPARAR VARIABLES DE FILTROS
    SELECT @VFILTER= ISNULL(@VFILTER,'')
    DECLARE @FechaInicio DATETIME = DATEADD(DAY, -360, GETDATE());
    SELECT @DFROMDATE = CONVERT(VARCHAR(10),isnull(@DFROMDATE,getdate()-30),120)
    SELECT @DUPTODATE = CONVERT(VARCHAR(10),isnull(@DUPTODATE,getdate()+1),120)
    DECLARE @SALEORDERID INT
    SELECT @SALEORDERID=0

    IF ISNUMERIC(@VFILTER)=1 AND LEN(@VFILTER) <= 6 
    BEGIN
        SELECT @SALEORDERID=CAST(@VFILTER AS INT)
        SELECT @VFILTER=''
    END

    SELECT @IDDEALER = ISNULL(@IDDEALER,0)
    SELECT @IDESTATUS = ISNULL(@IDESTATUS,0)
    DECLARE @LIKEFILTER VARCHAR(100)
    SELECT @LIKEFILTER = '%'+@VFILTER+'%'

 
    SELECT O.ID AS IDSALEORDER, O.IDDEALER, O.IDSUPPLIER, O.IDESTATUS, O.IDTYPE, O.DCREATED,
    T.VNAME AS SALEORDERTYPE,A.VDISPLAYESTATUS AS VESTATUS 
    INTO #PEDIDOS
    FROM SALEORDER O WITH (NOLOCK)
    INNER JOIN SALEORDERTYPE T WITH (NOLOCK) ON T.ID=O.IDTYPE
    INNER JOIN ACTION A WITH (NOLOCK) ON A.ID=O.IDESTATUS
    WHERE O.IDSUPPLIER = @IDSUPPLIER
    AND (@IDDEALER = 0 OR O.IDDEALER = @IDDEALER)
    AND O.DCREATED >= @DFROMDATE
    AND O.DCREATED < @DUPTODATE
    AND O.DCREATED >=@FechaInicio
    AND (@IDESTATUS =0 OR O.IDESTATUS = @IDESTATUS)
    AND (@SALEORDERID=0 OR O.ID=@SALEORDERID)

    CREATE NONCLUSTERED INDEX #IND_PEDIDOS_01 ON #PEDIDOS (IDSALEORDER ASC)
    
    SELECT Z.IDDEALER,Z.IDSALEORDER,P.IDPART,PP.VCODE AS VPACKAGE,
    ISNULL(PP.IDGUIDE,0) IDGUIDE ,SUM(X.IQUANTITY) IQUANTITY
    INTO #BULTOS
    FROM MOVEMENTDETAILSPACKAGED X WITH (NOLOCK)
    INNER JOIN MOVEMENTDETAILS Y WITH (NOLOCK) ON Y.ID=X.IDMOVEMENTDETAIL
    INNER JOIN PACKAGEDETAIL P WITH (NOLOCK) ON P.ID=X.IDPACKAGEDETAIL
    INNER JOIN PACKAGE PP (NOLOCK) ON PP.ID=P.IDPACKAGE
    INNER JOIN BACKORDER Z WITH (NOLOCK) ON Z.ID=Y.IDBACKORDER
    WHERE X.IQUANTITY>0
    AND EXISTS (
                SELECT *
                FROM #PEDIDOS X WITH (NOLOCK)
                WHERE X.IDSALEORDER=Z.IDSALEORDER
                )
    GROUP BY Z.IDDEALER,Z.IDSALEORDER,P.IDPART,PP.VCODE,PP.IDGUIDE

BEGIN

   WITH O AS (
            -- 1. FILTRAR LA MUESTRA CON DEALER,SUPPLIER,FECHA Y ESTATUS 
            SELECT IDSALEORDER, IDDEALER, IDSUPPLIER, IDESTATUS, IDTYPE, DCREATED,
            SALEORDERTYPE,VESTATUS 
            FROM #PEDIDOS
        ),
       P AS (
                -- FILTRO DE PARTES
                SELECT P.ID AS IDPART , P.VINNERCODE,P.VDESCRIPTION
                FROM PART P WITH (NOLOCK)
                WHERE P.IDSUPPLIER= @IDSUPPLIER
                AND ( @VFILTER='' OR P.VINNERCODE LIKE @LIKEFILTER OR P.VDESCRIPTION LIKE @LIKEFILTER )
            ),
        R AS (
                -- FILTRAR DETALLES DE PEDIDOS
            SELECT A.IDSALEORDER, A.IDPART, SUM(IREQUIRED) AS IREQUIRED
            FROM SALEORDERDETAIL A WITH (NOLOCK)
	        INNER JOIN O ON O.IDSALEORDER = A.IDSALEORDER 
            INNER JOIN P ON P.IDPART=A.IDPART
            GROUP BY A.IDSALEORDER, A.IDPART
        )
         -- 3. SELECCION DE DATOS
        SELECT 
        CONVERT(VARCHAR(10),O.DCREATED,120) FECHAPEDIDO,
        O.IDSALEORDER NROPEDIDO,
        O.SALEORDERTYPE TIPO,
        P.VINNERCODE CODIGO,
        P.VDESCRIPTION REPUESTO,
        R.IREQUIRED SOLICITADO,
        ISNULL(B.VPACKAGE,'') BULTO,
        ISNULL(B.IDGUIDE,0) NROGUIA,
        ISNULL(B.IQUANTITY,0) EMBALADO,
        D.DEALER CONCESIONARIO,
        O.VESTATUS ESTATUS,
        COUNT(*) OVER() AS TOTAL
        FROM O
        INNER JOIN R ON R.IDSALEORDER=O.IDSALEORDER
        INNER JOIN P ON P.IDPART= R.IDPART
        INNER JOIN V_DEALERS D WITH (NOLOCK) ON D.IDDEALER=O.IDDEALER
        LEFT JOIN #BULTOS B ON B.IDDEALER=O.IDDEALER AND B.IDSALEORDER=O.IDSALEORDER AND B.IDPART= R.IDPART
        ORDER BY O.DCREATED
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY

        DROP TABLE #BULTOS
        DROP TABLE #PEDIDOS
END


