SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- USP_POST_GUIDE_ISSUEOUT 108
ALTER PROCEDURE [dbo].[USP_POST_GUIDE_ISSUEOUT]  
@IDGUIDE INT,
@IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 
				

				DECLARE @IDPART INT
				DECLARE @IDLOCATION INT
				DECLARE @IQUANTITY INT


				DECLARE DETAIL_CURSOR CURSOR FOR 
					SELECT P2.IDPART,D.IDLOCATION,M.IQUANTITY
					FROM PACKAGE P1 WITH (NOLOCK)
					INNER JOIN PACKAGEDETAIL P2 WITH (NOLOCK) ON P2.IDPACKAGE=P1.ID
					INNER JOIN MOVEMENTDETAILSPACKAGED M WITH (NOLOCK) ON M.IDPACKAGEDETAIL=P2.ID
					INNER JOIN MOVEMENTDETAILS D WITH (NOLOCK) ON D.ID=M.IDMOVEMENTDETAIL
					WHERE P1.IDGUIDE=@IDGUIDE
				OPEN DETAIL_CURSOR;
				FETCH NEXT FROM DETAIL_CURSOR INTO @IDPART,@IDLOCATION,@IQUANTITY

				WHILE @@FETCH_STATUS = 0
				BEGIN
										
						--UPDATE INVENTORY SET ISTOCK=CASE WHEN ISTOCK-@IQUANTITY >= 0 THEN ISTOCK-@IQUANTITY ELSE 0 END
						--WHERE IDLOCATION=@IDLOCATION AND IDPART=@IDPART

						EXEC USP_POST_INVENTORY @IDLOCATION,@IDPART,@IQUANTITY,@IDUSER,'-','D',@IDGUIDE

					FETCH NEXT FROM DETAIL_CURSOR INTO @IDPART,@IDLOCATION,@IQUANTITY
				END;

				CLOSE DETAIL_CURSOR;
				DEALLOCATE DETAIL_CURSOR;


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END