GO
/****** Object:  StoredProcedure [dbo].[USP_POST_COMMENT]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_COMMENT]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_COMMENT] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_COMMENT]
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

    BEGIN TRY
        BEGIN TRAN 
	

            DECLARE @TDATA AS TABLE
            (
                ID INT,
                VCONTENT VARCHAR(MAX),
                IDRECORD INT,
				VMODULE VARCHAR(30),
				VCREATEDBY VARCHAR(30),
                BACTIVE BIT
            );

            INSERT INTO @TDATA
            SELECT M.Id, M.content,M.RecordId,M.ModuleName,DBO.UFN_GET_LOGIN(@IDUSER),IsActive  
			FROM OPENJSON(@DATA)
            WITH (
                Id INT,
                Content VARCHAR (MAX),
				RecordId INT,
				ModuleName VARCHAR(50),
				IsActive BIT
				) AS M
		
		    DECLARE @IID INT
		    DECLARE @IINSERTED INT
			DECLARE @IUPDATED INT
			DECLARE @TEMPLATE VARCHAR(30) ='PLANTILLA DE NOTIFICACION ESTATUS Y MSJ'

			--------insercion de data-------------------------------------------
			DECLARE @IDMODULE INT =(SELECT TOP 1 M.ID FROM MODULE M 
			        INNER JOIN @TDATA  T ON M.VNAME = T.VMODULE)

			INSERT INTO COMMENT(VCONTENT,BACTIVE,VCREATEDBY,IDRECORD,IDMODULE,DCREATED)
			SELECT VCONTENT,BACTIVE,DBO.UFN_GET_LOGIN(@IDUSER),IDRECORD,@IDMODULE,GETDATE()
			FROM @TDATA D
			WHERE NOT EXISTS (SELECT * FROM COMMENT M WITH (NOLOCK) WHERE M.ID = D.ID);

			SELECT @IINSERTED=@@ROWCOUNT
			SELECT @IID=SCOPE_IDENTITY()
			
			DECLARE @IDCOMMENT INT =@IID

			DECLARE @VCONTEXT VARCHAR(100) = (
													CASE 
														WHEN @IDMODULE = 8 THEN 'NOTIFICACION MODULO MANTENIMIENTO'
														WHEN @IDMODULE = 9 THEN 'NOTIFICACION MODULO ASISTENCIA TECNICA'
														WHEN @IDMODULE = 7 THEN 'NOTIFICACION MODULO REPORTE DE FALLA'
														ELSE 'CONTEXT DESCONOCIDO'
													END
												 );
			EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,5,@VCONTEXT
      
			SELECT
			ISNULL(@IID,0) AS IID , 
			ISNULL(@IINSERTED,0) AS IINSERTED,
			ISNULL(@IUPDATED,0) AS IUPDATED

            COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END