GO
/** Object:  StoredProcedure [dbo].[USP_POST_ADJUSTMENT_ACTIONS]    Script Date: 18/08/2025 8:46:26 **/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_ADJUSTMENT_ACTIONS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_ADJUSTMENT_ACTIONS] AS BEGIN SET NOCOUNT ON  END')
GO

--select * from ACTION
ALTER PROCEDURE [dbo].[USP_POST_ADJUSTMENT_ACTIONS]
    @DATA NVARCHAR(MAX),
    @IDUSER INT 
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               : 
  '   VERSIÓN               :
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;  

BEGIN

	BEGIN TRY
		DECLARE @TDATA AS TABLE
		(
			IDRECORD INT,
			IDMODULE INT,
			VACTION VARCHAR(20),
			VCOMMENT VARCHAR(200),
			IDRELATED INT
		);

		INSERT INTO @TDATA
		SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
		FROM OPENJSON(@DATA)
		WITH (
				RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
			) AS C

		DECLARE @IDACTION INT
		DECLARE @VACTION VARCHAR(20)
		DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT

		SELECT TOP 1 @VACTION=VACTION FROM @TDATA

		BEGIN TRAN 
				
				IF @VACTION='GENERATE'
				BEGIN

					DECLARE @ADJUSTMENT AS TABLE (ID INT)
					
					INSERT INTO @ADJUSTMENT
					SELECT ID FROM ADJUSTMENT C WITH (NOLOCK)
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
					WHERE C.IDSTATUS=DBO.UFN_GET_ISTATUS('CREATE')

					DECLARE @IDERROR INT
					SELECT TOP 1 @IDERROR=ID
					FROM ADJUSTMENT A WITH (NOLOCK)
					WHERE NOT EXISTS (SELECT * FROM ADJUSTMENTDETAILS B WITH (NOLOCK)
									  WHERE B.IDADJUSTMENT=A.ID)
					AND A.ID IN (SELECT ID FROM @ADJUSTMENT)

					IF @IDERROR > 0
					BEGIN
						DECLARE @MENSAJE  VARCHAR(100)
						SET @MENSAJE = 'AJUSTE INVALIDO ID: '+CAST( @IDERROR AS VARCHAR(5))
						RAISERROR ( @MENSAJE , 16,1) 
					END

					UPDATE C
						SET
							C.IDSTATUS = DBO.UFN_GET_ISTATUS('PROCESS'),
							--C.DCREATED = GETDATE(),-- INCLUIR CAMPO DUPDATED
							C.IDUSER = @IDUSER
					FROM ADJUSTMENT C
					INNER JOIN @ADJUSTMENT S ON S.ID=C.ID

					SELECT @IUPDATED=@@ROWCOUNT


					IF @IUPDATED>0
					BEGIN
						-- ACTUALIZAR INVENTARIO CON LAS CANTIDADES DEL DETALLE DEL AJUSTE
						--UPDATE I
						--	SET I.ISTOCK = I.ISTOCK + 
						--		CASE WHEN AD.CTYPE = 'E' THEN AD.ISTOCK  -- ENTRADA
						--			 WHEN AD.CTYPE = 'S' THEN -AD.ISTOCK -- SALIDA
						--			 ELSE 0 END,
						--		I.DUPDATED = GETDATE(),
						--		I.VUPDATEDBY = @IDUSER
						--FROM INVENTORY I
						--INNER JOIN ADJUSTMENTDETAILS AD ON AD.IDPART = I.IDPART
						--INNER JOIN @ADJUSTMENT A ON A.ID = AD.IDADJUSTMENT
						--WHERE I.IDLOCATION = (SELECT ID FROM ADJUSTMENT WHERE ID = A.ID)

						DECLARE @IDLOCATION INT,@IDPART INT, @ISTOCK INT , @CTYPE CHAR(1)
						DECLARE DETAIL_CURSOR CURSOR FOR 
							SELECT  IDLOCATION,IDPART,ISTOCK,
							CASE WHEN CTYPE ='E' THEN '+' ELSE '-' END
							FROM  ADJUSTMENTDETAILS WITH (NOLOCK)
							WHERE IDADJUSTMENT IN (SELECT ID FROM @ADJUSTMENT)
						OPEN DETAIL_CURSOR;
						FETCH NEXT FROM DETAIL_CURSOR INTO @IDLOCATION,@IDPART,@ISTOCK,@CTYPE;

						WHILE @@FETCH_STATUS = 0
						BEGIN
										
							EXEC USP_POST_INVENTORY @IDLOCATION,@IDPART,@ISTOCK,@IDUSER,@CTYPE

							FETCH NEXT FROM DETAIL_CURSOR INTO @IDLOCATION,@IDPART,@ISTOCK,@CTYPE;
						END;

						CLOSE DETAIL_CURSOR;
						DEALLOCATE DETAIL_CURSOR;

					END 
				END 

				IF @VACTION='DECLINE'
				BEGIN
					UPDATE C
						SET
							C.IDSTATUS = DBO.UFN_GET_ISTATUS('DECLINE'),
							--C.DCREATED = GETDATE(),-- INCLUIR CAMPO DUPDATED
							C.IDUSER = @IDUSER
					FROM ADJUSTMENT C
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
					WHERE C.IDSTATUS=DBO.UFN_GET_ISTATUS('CREATE')

					SELECT @IUPDATED=@@ROWCOUNT
				END

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
