USE [SODA]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_LABORTIME_ACTIONS]
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : WILMAN
  '   RAZÓN DE MODIFICACIÓN : ADAPTAR PARA POST ACTIONS
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

    BEGIN TRY
        BEGIN TRAN 
	
		
			DECLARE @IID INT
			DECLARE @IINSERTED INT
			DECLARE @IUPDATED INT

			DECLARE @TDATA AS TABLE
			(
				IDUSER INT,
				IDRECORD INT,
				IDMODULE INT,
				VACTION VARCHAR(20),
				VCOMMENT VARCHAR(200),
				IDRELATED INT
			);


				
			INSERT INTO @TDATA
			SELECT UserId ,RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
			FROM OPENJSON(@DATA)
			WITH (
					UserId int,RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					) AS A


			DECLARE @VACTION VARCHAR(20)
			SELECT TOP 1 @VACTION=VACTION FROM @TDATA

			
			DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('VEHICULOS-LABORTIME')

			EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE


			IF @VACTION='DEACTIVATE'
			BEGIN
				UPDATE A 
				SET BACTIVE=0, 
					VUPDATEDBY=DBO.UFN_GET_LOGIN(@IDUSER)
				FROM LABORTIME A
				INNER JOIN @TDATA D ON D.IDRECORD=A.ID
			
				SELECT @IID=SCOPE_IDENTITY()
				SELECT @IUPDATED=@@ROWCOUNT
			END

      
			INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
			SELECT IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
			FROM @TDATA


			SELECT
			ISNULL(@IID,0) AS IID , 
			ISNULL(@IINSERTED,0) AS IINSERTED,
			ISNULL(@IUPDATED,0) AS IUPDATED

            COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END

