GO
/****** Object:  StoredProcedure [dbo].[USP_GET_VEHICLES]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_VEHICLES]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_VEHICLES] AS BEGIN SET NOCOUNT ON  END')
GO

-- SELECT * FROM VEHICLE
-- SELECT * FROM V_SUPPLIERS
-- SELECT * FROM V_DEALERS
ALTER PROCEDURE [dbo].[USP_GET_VEHICLES] -- USP_GET_VEHICLES 4549,0,5103,0,'WAUBF98EX8A902430'
(
@IDUSER INT ,
@IDSUPPLIER INT = 0,
@IDDEALER INT = 0 ,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@ID INT = NULL
)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

	DECLARE @ISDEALER BIT=0
	IF NOT EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] WHERE IDUSER=@IDUSER)
	BEGIN
		SET @ISDEALER=1
	END


	IF ISNULL(@ID,0)=0

		IF @IDDEALER>0
		BEGIN

			WITH  T1 AS (
				SELECT 
				V.*
				FROM V_VEHICLES V
				WHERE
				V.IDDEALER=@IDDEALER AND
				(
				(VVIN LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+VVIN+'%' ELSE '%'+@VFILTER+'%'  END) OR 
				(VENGINESERIAL LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+VENGINESERIAL+'%' ELSE '%'+@VFILTER+'%'  END) OR 
				(VMODEL LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+VMODEL+'%' ELSE '%'+@VFILTER+'%'  END) OR 
				(VPLATE  LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+VPLATE+'%' ELSE '%'+@VFILTER+'%'  END)
				)
				AND (
						(@ISDEALER = 0 AND EXISTS (
							SELECT *
							FROM V_SUPPLIERS_USER R
							WHERE R.IDUSER = @IDUSER
							  AND R.IDSUPPLIER = V.IDSUPPLIER
						))
						OR
						(@ISDEALER = 1 AND EXISTS (
							SELECT * FROM V_DEALERS_USER D 
							WHERE D.IDUSER = @IDUSER
							  AND D.IDDEALER = V.IDDEALER
						))
					)
			),
			T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
			T3 AS (

					SELECT * FROM T1
					ORDER BY CASE WHEN T1.VESTATUS='Desasignado' THEN 1 ELSE 2 END ASC,T1.VESTATUS, T1.VVIN
					OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
					FETCH NEXT @TOPE ROWS ONLY
				   )
			SELECT T3.*,T2.* FROM T3,T2;
		

		END
		ELSE
		BEGIN
			WITH  T1 AS (
				SELECT V.*
				FROM V_VEHICLES V
				WHERE	(
						V.VVIN          LIKE CASE WHEN ISNULL(@VFILTER, '') = '' THEN '%' + V.VVIN + '%' ELSE '%' + @VFILTER + '%' END OR
						V.VENGINESERIAL LIKE CASE WHEN ISNULL(@VFILTER, '') = '' THEN '%' + V.VENGINESERIAL + '%' ELSE '%' + @VFILTER + '%' END OR
						V.VMODEL        LIKE CASE WHEN ISNULL(@VFILTER, '') = '' THEN '%' + V.VMODEL + '%' ELSE '%' + @VFILTER + '%' END OR
						V.VPLATE        LIKE CASE WHEN ISNULL(@VFILTER, '') = '' THEN '%' + V.VPLATE + '%' ELSE '%' + @VFILTER + '%' END
					)
					AND (
						(@ISDEALER = 0 AND EXISTS (
							SELECT *
							FROM V_SUPPLIERS_USER R
							WHERE R.IDUSER = @IDUSER
							  AND R.IDSUPPLIER = V.IDSUPPLIER
						))
						OR
						(@ISDEALER = 1 AND EXISTS (
							SELECT * FROM V_DEALERS_USER D 
							WHERE D.IDUSER = @IDUSER
							  AND D.IDDEALER = V.IDDEALER
						))
					)

			),
			T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
			T3 AS (

					SELECT * FROM T1
					ORDER BY CASE WHEN T1.VESTATUS='Desasignado' THEN 1 ELSE 2 END ASC, T1.VESTATUS,T1.VVIN
					OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
					FETCH NEXT @TOPE ROWS ONLY
				   )
			SELECT T3.*,T2.* FROM T3,T2;
		END

	ELSE 
		BEGIN
			WITH  T1 AS (
	
				SELECT 
				V.*
				FROM V_VEHICLES V
				WHERE V.ID = @ID

			),
			T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
			T3 AS (

					SELECT * FROM T1
					ORDER BY T1.VVIN
					OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
					FETCH NEXT 100 ROWS ONLY
				   )
			SELECT T3.*,T2.* FROM T3,T2;
		END

	
END