GO
/****** Object:  StoredProcedure [dbo].[USP_CHECK_DEALERS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_CHECK_DEALERS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_CHECK_DEALERS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_CHECK_DEALERS]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            :
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000



		DECLARE @TDATA AS TABLE
		(
			IDDEALER INT,
			VROWREFERENCE VARCHAR(5)
		);

		INSERT INTO @TDATA
		SELECT W.DealerId,W.RowReference FROM OPENJSON(@DATA)
		WITH (
				DealerId int,
				RowReference varchar(5)
				) AS W


		--DECLARE @ISDEALER BIT=0
		--IF EXISTS (SELECT * FROM [dbo].[V_DEALERS_USER] WHERE IDUSER=@IDUSER)
		--BEGIN
		--	SET @ISDEALER=1
		--END


		--VALIDACIONES

		DECLARE @IDDEALER INT
		DECLARE @VDEALER VARCHAR(100)
		DECLARE @MENSAJE  VARCHAR(100)=NULL
		DECLARE @VROWREF VARCHAR(5)

		UPDATE @TDATA SET IDDEALER = 0 WHERE IDDEALER IS NULL

		SELECT @IDDEALER = -1

		SELECT TOP 1 @IDDEALER=IDDEALER,@VROWREF=VROWREFERENCE
		FROM @TDATA T
		WHERE IDDEALER > 0
		AND NOT EXISTS
		(SELECT * FROM V_DEALERS S WHERE S.IDDEALER = T.IDDEALER)

		IF @IDDEALER >= 0
		BEGIN
			SET @MENSAJE = 'CONCESIONARIO INVALIDO ID: ' +CAST (@IDDEALER AS VARCHAR(5))
		END

		IF @MENSAJE IS NULL
		BEGIN
		SELECT TOP 1 @IDDEALER=IDDEALER,@VROWREF=VROWREFERENCE
		FROM @TDATA T
		WHERE NOT EXISTS
		(SELECT * FROM [dbo].[V_RELATEDS_USER] R 
		WHERE R.IDUSER = @IDUSER 
		AND R.IDDEALER   = T.IDDEALER)

				
		IF @IDDEALER > 0
		BEGIN
			SELECT @VDEALER=DEALER FROM V_DEALERS WHERE IDDEALER=@IDDEALER
			SET @MENSAJE = 'EL USUARIO NO TIENE ACCESO AL CONCESIONARIO: '+@VDEALER
		END
		END


		  IF @MENSAJE IS NOT NULL
				BEGIN
					IF @VROWREF IS NOT NULL AND LTRIM(RTRIM(@VROWREF)) <> ''
						SET @MENSAJE = @MENSAJE + ' -FILA: ' + @VROWREF

					RAISERROR(@MENSAJE, 16, 1)
					RETURN
				END
		--FIN VALIDACIONES

