GO
/****** Object:  StoredProcedure [dbo].[USP_POST_WAREHOUSES]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_WAREHOUSES]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_WAREHOUSES] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_WAREHOUSES]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         :  ESTANDARIZACION DE MSJ 
  '   MODIFICADO POR        :  JUAN GUARECUCO
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 
				  

				DECLARE @TDATA AS TABLE
				(
					ID INT,
					VNAME VARCHAR(20),
					IDSUPPLIER INT,
					BACTIVE BIT,
					BSELL BIT,
					VROWREFERENCE VARCHAR(5)
				);

				INSERT INTO @TDATA
				SELECT W.Id, W.Name, W.SupplierId, W.IsActive, W.Sell,W.RowReference FROM OPENJSON(@DATA)
				WITH (
						Id int,Name varchar(20), SupplierId int, IsActive bit, Sell bit,RowReference varchar(5)
					  ) AS W


				EXEC USP_CHECK_SUPPLIERS @DATA,@IDUSER

				DECLARE @REPETIDO VARCHAR(20)
				DECLARE @ErrorMessage NVARCHAR(4000) =NULL

				DECLARE @VROWREF VARCHAR(5)=Null
			    DECLARE @Duplicados NVARCHAR(MAX) = ''


				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-ALMACEN')
				SET @VACTION='CREATE'
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

				---------------------------------- VALIDACION PARA LONGITUDES------------------------------------------------
				SELECT TOP 1 @VROWREF = W.RowReference
				FROM OPENJSON(@DATA)
					WITH (
							Name VARCHAR(MAX),
							RowReference VARCHAR(5)
				) AS W
				WHERE LEN(W.Name) > 20

				-- Validación defensiva
					IF @VROWREF IS NOT NULL
					BEGIN
					  SET @ErrorMessage = 'UNO O MAS CAMPOS EXCEDEN LA LONGITUD PERMITIDA: '
					END


					---------------------------------- VALIDACION PARA REGISTROS DUPLICADOS------------------------------------------------
					IF @ErrorMessage IS NULL
					BEGIN
					SELECT TOP 1 @Duplicados = VNAME
					FROM (
						SELECT VNAME
						FROM @TDATA
						GROUP BY VNAME
						HAVING COUNT(*) > 1
					) AS Duplicados
					SELECT TOP 1 @VROWREF= VROWREFERENCE FROM @TDATA WHERE VNAME=@Duplicados
					IF @Duplicados <> ''
					BEGIN
						SET @ErrorMessage = 'DOCUMENTO CONTIENE REGISTRO DUPLICADO: ' + @Duplicados
					END
					END
					

					---------------------------------- VALIDACIÓN PARA MÁS DE 2 IDSUPPLIER DISTINTOS ----------------------------------
					DECLARE @IDSupplierCount INT=0
					IF @ErrorMessage IS NULL
					BEGIN
					-- Contamos cuántos IDSUPPLIER distintos hay
					SET @IDSupplierCount =(SELECT COUNT(DISTINCT IDSUPPLIER)
					FROM @TDATA)
					-- Capturamos uno de los IDSUPPLIER como referencia
					SELECT TOP 1 @VROWREF= VROWREFERENCE 
					FROM @TDATA
					-- Si hay más de 2 distintos, generamos mensaje de error
					IF @IDSupplierCount > 1
					BEGIN
						SET @ErrorMessage = 'DOCUMENTO CONTIENE 2 PLANTAS DISTINTAS'
					END
					END


           --------------------------------------------------------------------------------------------------------
		      IF @ErrorMessage IS NULL

				BEGIN
				SELECT TOP 1
				@REPETIDO=D.VNAME ,@VROWREF= VROWREFERENCE 
				FROM @TDATA D
				WHERE EXISTS (SELECT * FROM WAREHOUSE W WITH (NOLOCK) 
							  WHERE W.VNAME=D.VNAME AND W.IDSUPPLIER=D.IDSUPPLIER AND W.ID<>D.ID
							  )

				IF ISNULL(@REPETIDO,'')<>''
				BEGIN
					SET @ErrorMessage = 'EL REGISTRO QUE INTENTAS CREAR YA EXISTE: '+@REPETIDO 
				END
				END
				--------------------------ENVIO DE MSJ---------------------------------------------------------------------------
			IF @ErrorMessage IS NOT NULL
				BEGIN
					IF @VROWREF IS NOT NULL AND LTRIM(RTRIM(@VROWREF)) <> ''
						SET @ErrorMessage= @ErrorMessage + ' -FILA: ' + @VROWREF

					RAISERROR(@ErrorMessage, 16, 1)
					RETURN
				END




				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

			
				INSERT INTO WAREHOUSE(VNAME,IDSUPPLIER,BACTIVE,BSELL,DCREATED,DUPDATED,VUPDATEDBY)
				SELECT				VNAME,IDSUPPLIER, BACTIVE,BSELL,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER)
				FROM @TDATA D
				WHERE NOT EXISTS (SELECT * FROM WAREHOUSE W WITH (NOLOCK) WHERE W.ID=D.ID)
				AND NOT EXISTS (SELECT * FROM WAREHOUSE W WITH (NOLOCK) WHERE W.VNAME=D.VNAME AND W.IDSUPPLIER=D.IDSUPPLIER)

				SELECT @IINSERTED=@@ROWCOUNT
				SELECT @IID=SCOPE_IDENTITY()

				UPDATE W
					SET W.VNAME=D.VNAME,
						W.DUPDATED = GETDATE(),
						W.BACTIVE = D.BACTIVE,
						W.BSELL = D.BSELL,
						W.IDSUPPLIER = D.IDSUPPLIER,
						W.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
				FROM WAREHOUSE W
				INNER JOIN @TDATA D ON D.ID=W.ID

				SELECT @IUPDATED=@@ROWCOUNT

				DECLARE @IDSUPPLIER INT
				SELECT TOP 1 @IDSUPPLIER = IDSUPPLIER FROM @TDATA

				EXEC USP_CHECK_TRANSITLOCATION @IDSUPPLIER

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END

