GO
/****** Object:  StoredProcedure [dbo].[USP_CHECK_COLORS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_CHECK_COLORS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_CHECK_COLORS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_CHECK_COLORS]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


			--DECLARA UNA VARIABLE @TDATA
			DECLARE @TDATA AS TABLE
			(
				IDCOLOR INT,
				VROWREFERENCE VARCHAR(5)
			);

			--pone la data recibida en json de @DATA dentro de una tabla @TDATA
			INSERT INTO @TDATA
			SELECT L.ColorId,L.RowReference  FROM OPENJSON(@DATA)
			WITH (
						ColorId int,
						RowReference VARCHAR(5)
			     ) AS L

			--VALIDACIONES

			DECLARE @MENSAJE  VARCHAR(100)=NULL
			DECLARE @IDCOLOR INT
			DECLARE @VALOR VARCHAR(50)
			DECLARE @VROWREF VARCHAR(5)

			UPDATE @TDATA SET IDCOLOR = 0 WHERE IDCOLOR IS NULL
			SELECT @IDCOLOR = -1


			SELECT TOP 1 @IDCOLOR=D.IDCOLOR, @VROWREF=VROWREFERENCE
			FROM @TDATA D
			WHERE NOT EXISTS (SELECT * FROM COLOR A WITH (NOLOCK) WHERE A.ID=D.IDCOLOR)
			
			IF @IDCOLOR  >= 0
			BEGIN
				SET @VALOR= CAST (@IDCOLOR AS VARCHAR(10))
				SET @MENSAJE = 'COLOR NO EXISTE, ID: '+@VALOR
			END

			IF @MENSAJE IS NOT NULL
				BEGIN
					IF @VROWREF IS NOT NULL AND LTRIM(RTRIM(@VROWREF)) <> ''
						SET @MENSAJE = @MENSAJE + ' -FILA: ' + @VROWREF

					RAISERROR(@MENSAJE, 16, 1)
					RETURN
				END
