GO
/****** Object:  StoredProcedure [dbo].[USP_POST_LOCATIONS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_LOCATIONS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_LOCATIONS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_LOCATIONS]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : MENSAJES DE ERROR
  '   MODIFICADO POR        :  JUAN GUARECUCO
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 
				
				    

				--DECLARA UNA VARIABLE @TDATA
				DECLARE @TDATA AS TABLE
				(
					ID INT,
					VNAME VARCHAR(20),
					IDZONE INT,
					BACTIVE BIT,
					IMAPPING INT,
					VTYPE VARCHAR(1),
					VROWREFERENCE VARCHAR(5)
				);

				--pone la data recibida en json de @DATA dentro de una tabla @TDATA
				INSERT INTO @TDATA
				SELECT L.Id, L.Name, L.ZoneId, IsActive, Mapping,TypeId,RowReference  FROM OPENJSON(@DATA)
				WITH (
						Id int,Name varchar(20), ZoneId int, IsActive bit, Mapping int, TypeId varchar(1),RowReference varchar(5)
					  ) AS L
                
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-ZONAS')
				SET @VACTION='CREATE'
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

				DECLARE @VROWREF VARCHAR(5)=Null
			    DECLARE @Duplicados NVARCHAR(MAX) = ''
				DECLARE @ErrorMessage NVARCHAR(4000) 

								--VALIDACIONES
				EXEC USP_CHECK_ZONES @DATA,@IDUSER
				---------------------------------- VALIDACION PARA LONGITUDES------------------------------------------------
				SELECT TOP 1 @VROWREF = W.RowReference
				FROM OPENJSON(@DATA)
					WITH (
							Name VARCHAR(MAX),
							RowReference VARCHAR(5)
				) AS W
				WHERE LEN(W.Name) > 20

				-- Validación defensiva
					IF @VROWREF IS NOT NULL
					BEGIN
					  SET @ErrorMessage = 'UNO O MAS CAMPOS EXCEDEN LA LONGITUD PERMITIDA: '
					END

					---------------------------------- VALIDACION PARA REGISTROS DUPLICADOS------------------------------------------------
				IF @ErrorMessage IS NULL
				BEGIN
				SELECT TOP 1 @Duplicados = VNAME
				FROM (
					SELECT VNAME
					FROM @TDATA
					GROUP BY VNAME,IDZONE
					HAVING COUNT(*) > 1
				) AS Duplicados
				SELECT TOP 1 @VROWREF= VROWREFERENCE FROM @TDATA WHERE VNAME=@Duplicados
				IF @Duplicados <> ''
				BEGIN
					SET @ErrorMessage = 'DOCUMENTO CONTIENE REGISTRO DUPLICADO POR ZONA: ' + @Duplicados
				END
				END


				IF @ErrorMessage IS NULL
				BEGIN
				DECLARE @REPETIDO VARCHAR(20)
				SELECT TOP 1
				@REPETIDO=D.VNAME, @VROWREF=VROWREFERENCE
				FROM @TDATA D
				INNER JOIN ZONE Z WITH (NOLOCK) ON Z.ID=D.IDZONE
				INNER JOIN WAREHOUSE X WITH (NOLOCK) ON X.ID=Z.IDWAREHOUSE
				WHERE D.ID=0 AND
				EXISTS (SELECT * FROM LOCATION L WITH (NOLOCK)
						INNER JOIN ZONE Z WITH (NOLOCK) ON Z.ID=L.IDZONE
						INNER JOIN WAREHOUSE W WITH (NOLOCK) ON W.ID=Z.IDWAREHOUSE
						WHERE L.VNAME=D.VNAME AND W.IDSUPPLIER=X.IDSUPPLIER
							  )

				IF ISNULL(@REPETIDO,'')<>''
				BEGIN
					SELECT  @ErrorMessage = 'UBICACION YA EXISTE: '+@REPETIDO
				END
				END

				--------------------------ENVIO DE MSJ---------------------------------------------------------------------------
			IF @ErrorMessage IS NOT NULL
				BEGIN
					IF @VROWREF IS NOT NULL AND LTRIM(RTRIM(@VROWREF)) <> ''
						SET @ErrorMessage= @ErrorMessage + ' -FILA: ' + @VROWREF

					RAISERROR(@ErrorMessage, 16, 1)
					RETURN
				END




				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				--Select principal
				INSERT INTO LOCATION(VNAME,IDZONE,BACTIVE,DCREATED,DUPDATED,VUPDATEDBY,IMAPPING,VTYPE)
				SELECT				VNAME,IDZONE, BACTIVE,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER),IMAPPING,VTYPE
				FROM @TDATA D
				WHERE NOT EXISTS (SELECT * FROM LOCATION L WITH (NOLOCK) WHERE L.ID=D.ID)

				SELECT @IINSERTED=@@ROWCOUNT
				SELECT @IID=SCOPE_IDENTITY()

				UPDATE L
					SET L.VNAME=D.VNAME,
						L.IDZONE= D.IDZONE,
						L.DUPDATED = GETDATE(),
						L.BACTIVE = D.BACTIVE,
						L.VUPDATEDBY= DBO.UFN_GET_LOGIN(@IDUSER),
						L.IMAPPING =D.IMAPPING,
						L.VTYPE = D.VTYPE
				FROM LOCATION L
				INNER JOIN @TDATA D ON D.ID=L.ID 

				SELECT @IUPDATED=@@ROWCOUNT

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END