GO
/****** Object:  StoredProcedure [dbo].[USP_CHECK_BARCODE]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_CHECK_BARCODE]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_CHECK_BARCODE] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_CHECK_BARCODE]  
 @DATA NVARCHAR(MAX)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


			--DECLARA UNA VARIABLE @TDATA
			DECLARE @TDATA AS TABLE
			(   ID INT,
				VBARCODE VARCHAR(20),
				VROWREFERENCE VARCHAR(5)
			);

			--pone la data recibida en json de @DATA dentro de una tabla @TDATA
			INSERT INTO @TDATA
			SELECT d.Id,d.BarCode,d.RowReference FROM OPENJSON(@DATA)
			WITH (
						Id INT,
						BarCode VARCHAR(20),
						RowReference Varchar(5)
			     ) AS d

			--VALIDACIONES

			DECLARE @MENSAJE  VARCHAR(100)
			DECLARE @VBARCODE VARCHAR(20)
			DECLARE @VROWREF VARCHAR(5)=Null
	

			SELECT TOP 1 @VBARCODE=VBARCODE
			FROM @TDATA
			WHERE ISNULL(VBARCODE,'') <> ''
			GROUP BY VBARCODE
			HAVING COUNT(*)>1

			IF ISNULL(@VBARCODE,'') <> ''
			BEGIN
				SET @MENSAJE = 'CODIGO DE BARRA REPETIDO: '+ @VBARCODE
				RAISERROR ( @MENSAJE , 16,1) 
			END


			if @MENSAJE IS NULL
			BEGIN
			SELECT TOP 1 @VBARCODE=D.VBARCODE,@VROWREF=VROWREFERENCE
			FROM @TDATA D
			WHERE isnull(D.VBARCODE,'') <> ''
			AND EXISTS (SELECT * FROM PART P WITH (NOLOCK) WHERE P.VBARCODE=D.VBARCODE AND P.ID<>D.ID)
			
			IF ISNULL(@VBARCODE,'') <> ''
			BEGIN
				SET @MENSAJE = 'CODIGO DE BARRA REPETIDO: '+ @VBARCODE
				RAISERROR ( @MENSAJE , 16,1) 
			END
			END



			--------------------------ENVIO DE MSJ---------------------------------------------------------------------------
			IF @MENSAJE IS NOT NULL
				BEGIN
					IF @VROWREF IS NOT NULL AND LTRIM(RTRIM(@VROWREF)) <> ''
						SET @MENSAJE= @MENSAJE + ' -FILA: ' + @VROWREF

					RAISERROR(@MENSAJE, 16, 1)
					RETURN
				END