GO
/****** Object:  StoredProcedure [dbo].[USP_CHECK_MODELS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_CHECK_MODELS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_CHECK_MODELS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_CHECK_MODELS]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


			--DECLARA UNA VARIABLE @TDATA
			DECLARE @TDATA AS TABLE
			(
				IDMODEL INT,
				VROWREFERENCE VARCHAR(5)
			);

			--pone la data recibida en json de @DATA dentro de una tabla @TDATA
			INSERT INTO @TDATA
			SELECT L.ModelId,L.RowReference FROM OPENJSON(@DATA)
			WITH (
						ModelId int,
						RowReference Varchar(5)

			     ) AS L

			--VALIDACIONES

			DECLARE @MENSAJE  VARCHAR(100)=NULL
			DECLARE @IDMODEL INT
			DECLARE @VROWREF VARCHAR(5)=NULL
			DECLARE @VBRAND VARCHAR(50)
			DECLARE @IDBRAND INT

			UPDATE @TDATA SET IDMODEL = 0 WHERE IDMODEL IS NULL
			SELECT @IDMODEL = -1


			SELECT TOP 1 @IDMODEL=IDMODEL, @VROWREF=VROWREFERENCE
			FROM @TDATA T
			WHERE NOT EXISTS (SELECT * FROM MODEL B WITH (NOLOCK) WHERE B.ID=T.IDMODEL)

			IF @IDMODEL >= 0
			BEGIN
				SET @MENSAJE = 'MODELO INVALIDO'
			END


			IF @MENSAJE IS NULL
			BEGIN
			SELECT TOP 1 @IDBRAND=M.IDBRAND, @VROWREF=VROWREFERENCE
			FROM @TDATA T 
			INNER JOIN MODEL M WITH (NOLOCK) ON M.ID=T.IDMODEL
			WHERE NOT EXISTS 
			(SELECT * FROM [dbo].[V_RELATEDS_USER] R WHERE R.IDUSER=@IDUSER AND R.IDBRAND=M.IDBRAND)
			IF @IDBRAND > 0
			BEGIN
				SELECT TOP 1 @VBRAND=VNAME FROM BRAND WHERE ID=@IDBRAND
				SET @MENSAJE = 'USUARIO NO TIENE ACCESO A LA MARCA: '+@VBRAND
			END
			END


			IF @MENSAJE IS NOT NULL
				BEGIN
					IF @VROWREF IS NOT NULL AND LTRIM(RTRIM(@VROWREF)) <> ''
						SET @MENSAJE = @MENSAJE + ' -FILA: ' + @VROWREF

					RAISERROR(@MENSAJE, 16, 1)
					RETURN
				END