GO
/****** Object:  StoredProcedure [dbo].[USP_CHECK_ZONES]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_CHECK_ZONES]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_CHECK_ZONES] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_CHECK_ZONES]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


			--DECLARA UNA VARIABLE @TDATA
			DECLARE @TDATA AS TABLE
			(
				IDZONE INT,
				VROWREFERENCE VARCHAR(5)
			);

			--pone la data recibida en json de @DATA dentro de una tabla @TDATA
			INSERT INTO @TDATA
			SELECT L.ZoneId,L.RowReference FROM OPENJSON(@DATA)
			WITH (
						ZoneId int,
						RowReference Varchar(5)
			     ) AS L

			--VALIDACIONES


			DECLARE @IDPLANTA INT
			DECLARE @VPLANTA VARCHAR(100)
			DECLARE @MENSAJE  VARCHAR(100)
			DECLARE @IDZONA INT
			DECLARE @VROWREF VARCHAR(5)=Null

			UPDATE @TDATA SET IDZONE = 0 WHERE IDZONE IS NULL
			SELECT @IDZONA=-1

			IF @MENSAJE IS NULL
			BEGIN
			SELECT TOP 1 @IDZONA=IDZONE, @VROWREF=VROWREFERENCE
			FROM @TDATA T
			WHERE NOT EXISTS (SELECT * FROM ZONE Z WITH (NOLOCK) WHERE Z.ID=T.IDZONE)

			IF @IDZONA >= 0
			BEGIN
				SET @MENSAJE = 'ESTA INGRESANDO UNA ZONA INVALIDA: '
			END
			END

			IF @MENSAJE IS NULL
			BEGIN
			SELECT TOP 1 @IDPLANTA=W.IDSUPPLIER,@VROWREF=VROWREFERENCE
			FROM @TDATA T
			INNER JOIN ZONE Z WITH (NOLOCK) ON Z.ID=T.IDZONE
			INNER JOIN WAREHOUSE W WITH (NOLOCK) ON W.ID=Z.IDWAREHOUSE
			WHERE NOT EXISTS
			(SELECT * FROM V_SUPPLIERS_USER R 
			WHERE  R.IDUSER = @IDUSER AND R.IDSUPPLIER = W.IDSUPPLIER)

	        
			IF @IDPLANTA > 0
			BEGIN
				SELECT @VPLANTA=VSUPPLIER FROM V_SUPPLIERS WHERE IDSUPPLIER=@IDPLANTA
				SET @MENSAJE = 'EL USUARIO NO TIENE ACCESO A LA PLANTA: '+@VPLANTA
			END
			END


			IF @MENSAJE IS NOT NULL
				BEGIN
					IF @VROWREF IS NOT NULL AND LTRIM(RTRIM(@VROWREF)) <> ''
						SET @MENSAJE = @MENSAJE + ' -FILA: ' + @VROWREF

					RAISERROR(@MENSAJE, 16, 1)
					RETURN
				END
			--FIN VALIDACIONES


