GO
/****** Object:  StoredProcedure [dbo].[USP_POST_CONTACTS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_CONTACTS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_CONTACTS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_CONTACTS]
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : SE ELIMINO LOGIN Y PASSWORD DE ESTE SP 
  '   MODIFICADO POR        :  JUAN GUARECUCO
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

		
				DECLARE @IRESULT INT=0
		
			
				DECLARE @TDATA AS TABLE
				(
					ID INT,
					VVAT VARCHAR(12),
					VFIRSTNAME VARCHAR(100),
					VLASTNAME VARCHAR(100),
					IDCITY INT,
					VADDRESS VARCHAR(150),
					VPHONE1 VARCHAR(12),
					VPHONE2 VARCHAR(12),
					VEMAIL VARCHAR(50),
					VREFERENCE VARCHAR(10),
					IDBRAND INT,
					BCUSTOMER BIT,
					BDEALER BIT,
					BSUPPLIER BIT,
					BUSER BIT,
					BPROVIDER BIT,
					BACTIVE BIT,
					DBIRTHDATE DATETIME,
					BMALE bit,
					IDPAYMETHOD int,
					IDGROUP int,
					IDAGENT int,
					BLOCKED BIT
				);

				INSERT INTO @TDATA
				SELECT C.Id,C.Vat,C.FirstName,C.LastName,C.CityId,C.Address,C.Phone1,C.Phone2,C.Email,C.Reference,C.BrandId,
				C.IsCustomer,C.IsDealer,C.IsSupplier,C.IsUser,C.IsProvider,C.IsActive,C.Birthday,C.Male,C.PayMethodId,C.GroupId,C.AgentId,
				C.Blocked
				FROM OPENJSON(@DATA)
				WITH (
						Id int,Vat varchar(12),FirstName varchar(100),LastName varchar(100),CityId int,Address varchar(150), Phone1 varchar(12),Phone2 varchar(12),
						Email varchar(50),Reference varchar(10),BrandId int,IsCustomer bit,IsDealer bit,IsSupplier bit,IsUser bit,IsProvider bit,IsActive bit,
						Birthday datetime,Male bit,	PayMethodId int,GroupId int,AgentId int,Blocked bit
					  ) AS C
			
				

				DECLARE @IDBRAND INT 
				DECLARE @IDCONTACT INT
				DECLARE @BSUPPLIER BIT
				DECLARE @VEMAIL VARCHAR(100)
				DECLARE @VVAT VARCHAR(15)

				SELECT TOP 1 @IDCONTACT=ID , @IDBRAND = IDBRAND,@BSUPPLIER=BSUPPLIER,@VEMAIL=VEMAIL,@VVAT=VVAT
				FROM @TDATA

				IF @BSUPPLIER =1
				BEGIN
					IF EXISTS (SELECT * FROM CONTACT WITH (NOLOCK) WHERE BSUPPLIER=1 AND ID<> @IDBRAND AND IDBRAND=@IDBRAND )
					BEGIN
						DECLARE @MENSAJE VARCHAR(50)
						SET @MENSAJE = 'MARCA NO PERMITIDA PARA LA PLANTA ESPECIFICADA'
						RAISERROR ( @MENSAJE , 16,1) 
					END
				END 
	

				IF EXISTS (SELECT * FROM CONTACT WITH (NOLOCK) WHERE VVAT=@VVAT AND ID<>@IDCONTACT)
				BEGIN
					RAISERROR ( 'RIF DE CONTACTO YA EXISTE' , 16,1) 
				END

				--IF EXISTS (SELECT * FROM CONTACT WITH (NOLOCK) WHERE VEMAIL=@VEMAIL AND ID<>@IDCONTACT)
				--BEGIN
				--	RAISERROR ( 'CORREO DE CONTACTO YA EXISTE' , 16,1) 
				--END

				IF EXISTS (
							SELECT *
							FROM @TDATA D
							WHERE D.ID=0
							)
				BEGIN
					

					INSERT INTO CONTACT(VVAT,VFIRSTNAME,VLASTNAME,IDCITY,VADDRESS,VPHONE1,VPHONE2,VEMAIL,VREFERENCE,
					IDBRAND,BCUSTOMER,BDEALER,BSUPPLIER,BUSER,BPROVIDER,BACTIVE,DCREATED,DUPDATED,VUPDATEDBY,DBIRTHDATE,BMALE,
					IDPAYMETHOD,IDGROUP,IDAGENT,BLOCKED)
					SELECT VVAT,VFIRSTNAME,VLASTNAME,IDCITY,VADDRESS,VPHONE1,VPHONE2,VEMAIL,VREFERENCE,
					IDBRAND,BCUSTOMER,BDEALER,BSUPPLIER,BUSER,BPROVIDER,1,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER),D.DBIRTHDATE,D.BMALE,
					IDPAYMETHOD,IDGROUP,IDAGENT,BLOCKED
					FROM @TDATA D
					WHERE NOT EXISTS (SELECT * FROM CONTACT C WITH (NOLOCK) WHERE C.ID=D.ID)

					SELECT @IRESULT=SCOPE_IDENTITY()

				END
				ELSE
				BEGIN

					UPDATE C
						SET C.VVAT=D.VVAT,
							C.VFIRSTNAME=D.VFIRSTNAME,
							C.VLASTNAME=D.VLASTNAME,
							C.IDCITY=D.IDCITY,
							C.VADDRESS=D.VADDRESS,
							C.VPHONE1=D.VPHONE1,
							C.VPHONE2=D.VPHONE2,
							C.VEMAIL=D.VEMAIL,
							C.VREFERENCE=D.VREFERENCE,
							C.IDBRAND=D.IDBRAND,
							C.BCUSTOMER=D.BCUSTOMER,
							C.BDEALER=D.BDEALER,
							C.BSUPPLIER=D.BSUPPLIER,
							C.BUSER=D.BUSER,
							C.BPROVIDER=D.BPROVIDER,
							C.BACTIVE=D.BACTIVE,
							C.DUPDATED = GETDATE(),
							C.VUPDATEDBY=DBO.UFN_GET_LOGIN(@IDUSER),
							C.DBIRTHDATE = D.DBIRTHDATE,
							C.BMALE = D.BMALE,
							C.IDPAYMETHOD=D.IDPAYMETHOD,
							C.IDGROUP=D.IDGROUP,
							C.IDAGENT=D.IDAGENT,
							C.BLOCKED =D.BLOCKED
					FROM CONTACT C
					INNER JOIN @TDATA D ON D.ID=C.ID 
					WHERE C.BACTIVE=1

					SELECT @IRESULT=@@ROWCOUNT

				END

		SELECT @IRESULT AS IRESULT

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END




