GO
/****** Object:  StoredProcedure [dbo].[USP_CHECK_POLICYTYPES]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_CHECK_POLICYTYPES]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_CHECK_POLICYTYPES] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_CHECK_POLICYTYPES]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : DEVOLVER FILA DEL MSJ SI VIENE DEL EXCEL
  '   MODIFICADO POR        :  JUAN GUARECUCO
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


			--DECLARA UNA VARIABLE @TDATA
			DECLARE @TDATA AS TABLE
			(
				IDPOLICYTYPE INT,
				VROWREFERENCE VARCHAR(5)
			);

			--pone la data recibida en json de @DATA dentro de una tabla @TDATA
			INSERT INTO @TDATA
			SELECT L.PolicyTypeId,L.RowReference  FROM OPENJSON(@DATA)
			WITH (
						PolicyTypeId int,
						RowReference VARCHAR(5)
			     ) AS L

			--VALIDACIONES

			DECLARE @MENSAJE  VARCHAR(100)
			DECLARE @IDPOLICYTYPE INT
			DECLARE @VROWREF VARCHAR(5)=NULL

			UPDATE @TDATA SET IDPOLICYTYPE = 0 WHERE IDPOLICYTYPE IS NULL
			SELECT @IDPOLICYTYPE = -1


			SELECT TOP 1 @VROWREF=VROWREFERENCE
			FROM @TDATA T
			WHERE NOT EXISTS (SELECT * FROM POLICYTYPE B WITH (NOLOCK) WHERE B.ID=T.IDPOLICYTYPE)

			IF @IDPOLICYTYPE >= 0
			BEGIN
				SET @MENSAJE = 'TIPO POLIZA INVALIDO'
				RAISERROR ( @MENSAJE , 16,1) 
			END


			DECLARE @VBRAND VARCHAR(50)
			DECLARE @IDBRAND INT

			SELECT TOP 1 @VROWREF=VROWREFERENCE
			FROM @TDATA T 
			INNER JOIN POLICYTYPE M WITH (NOLOCK) ON M.ID=T.IDPOLICYTYPE
			WHERE NOT EXISTS 
			(SELECT * FROM [dbo].[V_RELATEDS_USER] R WHERE R.IDUSER=@IDUSER AND R.IDBRAND=M.IDBRAND)

				
			IF @IDBRAND > 0
			BEGIN
				SELECT TOP 1 @VBRAND=VNAME FROM BRAND WHERE ID=@IDBRAND
				SET @MENSAJE = 'USUARIO NO TIENE ACCESO A LA MARCA'
				RAISERROR ( @MENSAJE , 16,1) 
			END

			IF @MENSAJE IS NOT NULL
				BEGIN
					IF @VROWREF IS NOT NULL AND LTRIM(RTRIM(@VROWREF)) <> ''
						SET @MENSAJE = @MENSAJE + ' -FILA: ' + @VROWREF

					RAISERROR(@MENSAJE, 16, 1)
					RETURN
				END

			--FIN VALIDACIONES


