GO
/****** Object:  StoredProcedure [dbo].[USP_POST_POLICYTYPES]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_POLICYTYPES]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_POLICYTYPES] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_POST_POLICYTYPES]
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

    BEGIN TRY
        BEGIN TRAN 
	DECLARE @ErrorMessage NVARCHAR(4000);

            DECLARE @TDATA AS TABLE
            (
                ID INT,
                VDESCRIPTION VARCHAR(100),
                IKM INT,
                IGAPKM INT,
                ITOPKM INT,
                IMONTHS INT,
                IGAPMONTHS INT,
                ITOPMONTHS INT,
				IDSUPPLIER INT,
                BACTIVE BIT,
				IDBRAND INT,
				VROWREFERENCE VARCHAR(5)
            );

            INSERT INTO @TDATA
            SELECT M.Id, M.Description, M.Km,M.GapKm,M.TopKm,M.Months,M.GapMonths,M.TopMonths,M.SupplierId,M.IsActive,M.BrandId,RowReference
            FROM OPENJSON(@DATA)
            WITH (
                Id INT,
                Description VARCHAR(100),
                Km INT,
                GapKm INT,
                TopKm INT,
                Months INT,
                GapMonths INT,
                TopMonths INT,
				SupplierId INT,
                IsActive BIT,
				BrandId int,
				RowReference Varchar(5)
            ) AS M

    
			EXEC USP_CHECK_BRANDS @DATA,@IDUSER
			EXEC USP_CHECK_SUPPLIERS @DATA,@IDUSER

			DECLARE @NAME VARCHAR(100)
			DECLARE @NAME1 VARCHAR(100)
			DECLARE @VROWREF VARCHAR(5)=Null
			DECLARE @Duplicados NVARCHAR(MAX) = ''




			---------------------------------- VALIDACION PARA LONGITUDES------------------------------------------------
				SELECT TOP 1 @VROWREF = W.RowReference
				FROM OPENJSON(@DATA)
					WITH (
							Description VARCHAR(MAX),
							RowReference VARCHAR(5)
				) AS W
				WHERE LEN(W.Description) > 100

				-- Validación defensiva
					IF @VROWREF IS NOT NULL
					BEGIN
					  SET @ErrorMessage = 'Uno o más campos exceden la longitud permitida: '
					END

			---------------------------------- VALIDACION PARA REGISTROS DUPLICADOS------------------------------------------------
			IF @ErrorMessage IS NULL
			BEGIN
			SELECT TOP 1 @Duplicados = VDESCRIPTION
			FROM (
				SELECT VDESCRIPTION
				FROM @TDATA
				GROUP BY VDESCRIPTION
				HAVING COUNT(*) > 1
			) AS Duplicados
			SELECT TOP 1 @VROWREF= VROWREFERENCE FROM @TDATA WHERE VDESCRIPTION=@Duplicados
			IF @Duplicados <> ''
			BEGIN
				SET @ErrorMessage = 'DOCUMENTO CONTIENE REGISTRO DUPLICADO: ' + @Duplicados
			END
			END
			---------------------------------- VALIDACIÓN PARA MÁS DE 2 IDSUPPLIER DISTINTOS ----------------------------------
					DECLARE @IDSupplierCount INT=0
					IF @ErrorMessage IS NULL
					BEGIN
					-- Contamos cuántos IDSUPPLIER distintos hay
					SET @IDSupplierCount =(SELECT COUNT(DISTINCT IDSUPPLIER)
					FROM @TDATA)
					-- Capturamos uno de los IDSUPPLIER como referencia
					SELECT TOP 1 @VROWREF= VROWREFERENCE 
					FROM @TDATA
					-- Si hay más de 2 distintos, generamos mensaje de error
					IF @IDSupplierCount > 1
					BEGIN
						SET @ErrorMessage = 'DOCUMENTO CONTIENE 2 PLANTAS DISTINTAS'
					END
					END
					
			--------------------------VERIFICAR FRECUENCIAS----------------------------------------
			SELECT TOP 1 @NAME=T.VDESCRIPTION, @VROWREF=VROWREFERENCE FROM @TDATA T WHERE T.IKM >=T.ITOPKM OR T.IMONTHS>=T.ITOPMONTHS
			IF (@NAME IS NOT NULL AND @NAME <> '') 
			BEGIN
			SET @ErrorMessage = 'FRECUENCIA MAYOR QUE TOP EN : '+@NAME
			END

			--------------------------VERIFICAR MARCA CON PLANTA----------------------------------------
			SELECT TOP 1 @NAME1=T.VDESCRIPTION, @VROWREF=VROWREFERENCE FROM @TDATA T
			                           INNER JOIN V_SUPPLIERS L ON T.IDSUPPLIER =L.IDSUPPLIER
									   WHERE T.IDBRAND!=L.IDBRAND
			
			IF (@NAME1 IS NOT NULL AND @NAME1 <> '') 
			BEGIN
			SET @ErrorMessage = 'MARCA NO CORRESPONDIENTE A PLANTA : '+@NAME1 
			END

			--------------------------------VALIDACION PARA DESCRIPCION---------------------------------------------
    
			IF  @ErrorMessage IS NULL AND  EXISTS (SELECT * FROM @TDATA T 
						INNER JOIN  POLICYTYPE PT WITH (NOLOCK) ON T.VDESCRIPTION=PT.VDESCRIPTION
						WHERE T.ID<>PT.ID)
			BEGIN
			SELECT TOP 1 @NAME1=T.VDESCRIPTION, @VROWREF=VROWREFERENCE FROM @TDATA T
			                           INNER JOIN POLICYTYPE P WITH (NOLOCK) ON T.VDESCRIPTION=P.VDESCRIPTION 
									   WHERE T.ID<>P.ID

			SET @ErrorMessage = 'EL REGISTRO QUE INTENTAS CREAR YA EXISTE: '+@NAME1 
			END 
			


			-- Validar que IGAPKM esté fuera del rango permitido
			IF @ErrorMessage IS NULL AND EXISTS (
			SELECT * FROM @TDATA T WHERE T.IGAPKM < 100 OR T.IGAPKM > 1500
			)
			BEGIN
			SELECT TOP 1 @VROWREF = T.VROWREFERENCE
			FROM @TDATA T
			WHERE T.IGAPKM < 100 OR T.IGAPKM > 1500

			SET @ErrorMessage = 'TOLERANCIA NO CUMPLE CON EL RANGO 100-1000 KM: ' 
			END


            -- Validar que IGAPMONTHS esté fuera del rango permitido
			IF @ErrorMessage IS NULL AND EXISTS (
			SELECT * FROM @TDATA T WHERE T.IGAPMONTHS < 1 OR T.IGAPMONTHS > 30
			)
			BEGIN
			SELECT TOP 1 @VROWREF = T.VROWREFERENCE
			FROM @TDATA T
			WHERE T.IGAPMONTHS < 1 OR T.IGAPMONTHS > 30

			SET @ErrorMessage = 'TOLERANCIA NO CUMPLE CON EL RANGO 1-30 DIAS: ' 
			END



			--------------------------ENVIO DE MSJ---------------------------------------------------------------------------
			IF @ErrorMessage IS NOT NULL
				BEGIN
					IF @VROWREF IS NOT NULL AND LTRIM(RTRIM(@VROWREF)) <> ''
						SET @ErrorMessage= @ErrorMessage + ' -FILA: ' + @VROWREF

					RAISERROR(@ErrorMessage, 16, 1)
					RETURN
				END


		
		    DECLARE @IID INT
		    DECLARE @IINSERTED INT
		    DECLARE @IUPDATED INT

			--------insercion de data-------------------------------------------

			INSERT INTO POLICYTYPE(VDESCRIPTION,IKM,IGAPKM,ITOPKM,IMONTHS,IGAPMONTHS,ITOPMONTHS,IDSUPPLIER,BACTIVE,VUPDATEDBY,DCREATED,DUPDATED,IDBRAND)
			SELECT VDESCRIPTION,IKM,IGAPKM,ITOPKM,IMONTHS,IGAPMONTHS,ITOPMONTHS,IDSUPPLIER,1,DBO.UFN_GET_LOGIN(@IDUSER),GETDATE(),GETDATE(),IDBRAND
			FROM @TDATA D
			WHERE NOT EXISTS (SELECT * FROM POLICYTYPE M WITH (NOLOCK) WHERE M.ID = D.ID);

			SELECT @IINSERTED=@@ROWCOUNT
			SELECT @IID=SCOPE_IDENTITY()
      
		
			UPDATE M
			SET M.VDESCRIPTION = D.VDESCRIPTION,
				M.IKM= D.IKM,
				M.IGAPKM = D.IGAPKM,
				M.ITOPKM = D.ITOPKM,
				M.IMONTHS = D.IMONTHS,
				M.IGAPMONTHS = D.IGAPMONTHS,
				M.ITOPMONTHS = D.ITOPMONTHS,
				M.VUPDATEDBY=DBO.UFN_GET_LOGIN(@IDUSER),
				M.DUPDATED = GETDATE(),
				M.IDBRAND = D.IDBRAND,
				M.BACTIVE = D.BACTIVE
			FROM POLICYTYPE M
			INNER JOIN @TDATA D ON D.ID = M.ID
			WHERE M.BACTIVE=1

			SELECT @IUPDATED=@@ROWCOUNT


			SELECT
			ISNULL(@IID,0) AS IID , 
			ISNULL(@IINSERTED,0) AS IINSERTED,
			ISNULL(@IUPDATED,0) AS IUPDATED


            COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
 

 