GO
/****** Object:  StoredProcedure [dbo].[USP_CHECK_BRANDS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_CHECK_BRANDS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_CHECK_BRANDS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_CHECK_BRANDS]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


			--DECLARA UNA VARIABLE @TDATA
			DECLARE @TDATA AS TABLE
			(
				IDBRAND INT,
				VROWREFERENCE VARCHAR(5)
			);

			--pone la data recibida en json de @DATA dentro de una tabla @TDATA
			INSERT INTO @TDATA
			SELECT L.BrandId,L.RowReference FROM OPENJSON(@DATA)
			WITH (
						BrandId int,
						RowReference VARCHAR(5)
			     ) AS L

			--VALIDACIONES

			DECLARE @MENSAJE VARCHAR(100)
			SET @MENSAJE=NULL
			DECLARE @IDBRAND INT
			DECLARE @VROWREF VARCHAR(5)

			UPDATE @TDATA SET IDBRAND = 0 WHERE IDBRAND IS NULL
			SELECT @IDBRAND = -1


			SELECT TOP 1 @IDBRAND=IDBRAND,@VROWREF=VROWREFERENCE
			FROM @TDATA T
			WHERE NOT EXISTS (SELECT * FROM BRAND B WITH (NOLOCK) WHERE B.ID=T.IDBRAND)

			IF @IDBRAND >= 0
			BEGIN
				SET @MENSAJE = 'MARCA INVALIDA'
			END


			DECLARE @VBRAND VARCHAR(50)
			SELECT TOP 1 @IDBRAND=T.IDBRAND, @VROWREF=VROWREFERENCE
			FROM @TDATA T
			WHERE NOT EXISTS 
			(SELECT * FROM [dbo].[V_RELATEDS_USER] R WHERE R.IDUSER=@IDUSER AND R.IDBRAND=T.IDBRAND)

				
			IF @IDBRAND > 0
			BEGIN
				SELECT TOP 1 @VBRAND=VNAME FROM BRAND WHERE ID=@IDBRAND
				SET @MENSAJE = 'USUARIO NO TIENE ACCESO A LA MARCA'
			END


			IF @MENSAJE IS NOT NULL
				BEGIN
					IF @VROWREF IS NOT NULL AND LTRIM(RTRIM(@VROWREF)) <> ''
						SET @MENSAJE = @MENSAJE + ' -FILA: ' + @VROWREF

					RAISERROR(@MENSAJE, 16, 1)
					RETURN
				END
			--FIN VALIDACIONES


