GO
/****** Object:  StoredProcedure [dbo].[USP_GET_BRANDS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_BRANDS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_BRANDS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_GET_BRANDS] --USP_GET_BRANDS 4069 
@IDSUPPLIER INT =NULL

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         :  PARAMETRO IDSUPPLIER
  '   MODIFICADO POR        :  JUAN GUARECUCO
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


SELECT D.* FROM BRAND D WITH (NOLOCK)
INNER JOIN V_SUPPLIERS V ON D.ID=V.IDBRAND
WHERE V.IDSUPPLIER = CASE WHEN @IDSUPPLIER IS NULL THEN V.IDSUPPLIER ELSE @IDSUPPLIER END
