GO
/****** Object:  StoredProcedure [dbo].[USP_POST_TEMPORARYKEY]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_TEMPORARYKEY]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_TEMPORARYKEY] AS BEGIN SET NOCOUNT ON  END')
GO


ALTER PROCEDURE [dbo].[USP_POST_TEMPORARYKEY] 
 @DATA NVARCHAR(MAX)
  
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

 

BEGIN
    BEGIN TRY
        BEGIN TRAN 

        
               DECLARE @TDATA AS TABLE
				(
					VLOGIN VARCHAR (20)
				);


				INSERT INTO @TDATA
				SELECT Login
				FROM OPENJSON(@DATA)
				WITH (
						Login varchar(20)
					  ) AS M
						

			DECLARE @IID INT,
					@IINSERTED INT,
					@IUPDATED INT,
					@DTIMEEXPIRE DATETIME,
					@VKEY NVARCHAR(6),
					@VCONTENT VARCHAR(MAX),
					@TEMPLATE VARCHAR (30)='PLANTILLA DE SEGURIDAD CODIGO TEMPORAL'

		-- REGISTRO NUEVO
		IF EXISTS(SELECT * FROM INFOUSER A (NOLOCK)
		           INNER JOIN @TDATA B ON A.VLOGIN COLLATE Latin1_General_CI_AS = B.VLOGIN COLLATE Latin1_General_CI_AS )
		BEGIN

			SET @VKEY = RIGHT('000000' + CAST(CAST(RAND(CHECKSUM(NEWID())) * 1000000 AS INT) AS NVARCHAR(6)), 6)
			-- Calcula la fecha y hora actual + 24 horas
			SET @DTIMEEXPIRE = DATEADD(HOUR, 24, GETDATE())
			
			UPDATE IU 
			SET 
			IU.VTEMPORARYKEY=@VKEY,
			IU.DTIMEEXPIRED=@DTIMEEXPIRE
			FROM INFOUSER IU
       		INNER JOIN @TDATA D ON IU.VLOGIN COLLATE Latin1_General_CI_AS = D.VLOGIN COLLATE Latin1_General_CI_AS       		
         
			SELECT @IINSERTED=@@ROWCOUNT
		    SELECT @IID=SCOPE_IDENTITY()
			----------------------------iNSERCION DE COLA DE NOTIFICACIONES----------------------------------------------
            IF @IINSERTED>0
			BEGIN
			DECLARE @IDRECEIVER INT=(SELECT IDUSER FROM INFOUSER IU (NOLOCK)
			INNER JOIN @TDATA T ON IU.VLOGIN COLLATE Latin1_General_CI_AS = T.VLOGIN COLLATE Latin1_General_CI_AS)
			SET @VCONTENT = @VKEY
			EXEC USP_INSERT_REMINDERSECURITY @IDRECEIVER,@VCONTENT,@TEMPLATE
			END

		END
	
	
		SELECT
		ISNULL(@IID,0) AS IID , 
		ISNULL(@IINSERTED,0) AS IINSERTED,
		ISNULL(@IUPDATED,0) AS IUPDATED

	

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
