GO
/****** Object:  StoredProcedure [dbo].[USP_POST_VEHICLES]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_VEHICLES]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_VEHICLES] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_VEHICLES]  
 @DATA VARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY

	
				DECLARE @TDATA AS TABLE
				(
				    IDRECORD INT IDENTITY(1,1),
					ID INT,
					VVIN VARCHAR(20),
					VENGINESERIAL VARCHAR(20),
					VPLATE VARCHAR(10),
					IDMODEL INT,
					IDCOLOR INT,
					IYEAR INT,
					IDSUPPLIER INT,
					IDDEALER INT,
					IDCUSTOMER INT,
					BACTIVE BIT
				);

				INSERT INTO @TDATA
				SELECT V.Id,V.Vin,V.EngineSerial,V.Plate,V.ModelId,V.ColorId,V.Year,
				V.SupplierId,V.DealerId,V.CustomerId,V.IsActive
				FROM OPENJSON(@DATA)
				WITH (
						Id int,Vin varchar(20),EngineSerial varchar(20),Plate varchar(10), 
						ModelId int,ColorId int,Year int,SupplierId int,DealerId int, CustomerId int, IsActive bit
					  ) AS V;
			

			    EXEC USP_CHECK_MODELS @DATA,@IDUSER

				EXEC USP_CHECK_COLORS @DATA,@IDUSER

				EXEC USP_CHECK_SUPPLIERS @DATA,@IDUSER

				EXEC USP_CHECK_DEALERS @DATA,@IDUSER
				
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('VEHICULOS-VEHICULOS')
				SET @VACTION='CREATE'
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

				IF EXISTS ( SELECT * FROM @TDATA A
							INNER JOIN MODEL M ON M.ID=A.IDMODEL
							INNER JOIN V_SUPPLIERS S ON S.IDSUPPLIER=A.IDSUPPLIER
							WHERE S.IDBRAND <> M.IDBRAND
							)
				BEGIN
					RAISERROR ( 'ERROR: EXISTEN VEHICULOS CON MODELOS NO ACORDE A LA MARCA DE LA PLANTA' , 16,1) 
				END


				DECLARE @IDDEALEAR INT
				SELECT TOP 1 @IDDEALEAR = IDDEALER FROM @TDATA

				DECLARE @IDBRAND INT
				SELECT TOP 1 @IDBRAND = IDBRAND FROM V_DEALERS WHERE IDDEALER=@IDDEALEAR

					
				IF EXISTS (SELECT * FROM @TDATA D
							INNER JOIN V_SUPPLIERS S ON S.IDSUPPLIER=D.IDSUPPLIER
							WHERE S.IDBRAND <> @IDBRAND)
				BEGIN
					RAISERROR ( 'ERROR: VEHICULO QUE NO CORRESPONDEN A LA MARCA DEL CONCESIONARIO ASIGNADO' , 16,1) 
				END


	BEGIN TRAN 

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				INSERT INTO VEHICLE
				(VVIN,VENGINESERIAL,VPLATE,IDMODEL,IDCOLOR,IYEAR,IDSUPPLIER,IDDEALER,IDCUSTOMER,BACTIVE,DCREATED,DUPDATED,VUPDATEDBY,IESTATUS)
				SELECT VVIN,VENGINESERIAL,VPLATE,IDMODEL,IDCOLOR,IYEAR,IDSUPPLIER,IDDEALER,IDCUSTOMER,1
				,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER),DBO.UFN_GET_ISTATUS('UNASSIGN')
				FROM @TDATA D
				WHERE NOT EXISTS (SELECT * FROM VEHICLE V WITH (NOLOCK) WHERE V.ID=D.ID)

				SELECT @IINSERTED=@@ROWCOUNT
				SELECT @IID=SCOPE_IDENTITY()

				UPDATE V
					SET V.VVIN = D.VVIN,
					V.VENGINESERIAL = D.VENGINESERIAL,
					V.VPLATE = D.VPLATE,
					V.IDMODEL = D.IDMODEL,
					V.IDCOLOR = D.IDCOLOR,
					V.IYEAR =  D.IYEAR,
					V.IDSUPPLIER =  D.IDSUPPLIER,
					V.IDDEALER = D.IDDEALER,
					V.IDCUSTOMER = D.IDCUSTOMER,
					V.BACTIVE = D.BACTIVE, 
					V.DUPDATED = GETDATE(),
					V.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
				FROM VEHICLE V
				INNER JOIN @TDATA D ON D.ID=V.ID 

				SELECT @IUPDATED=@@ROWCOUNT

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END




