GO
/****** Object:  StoredProcedure [dbo].[USP_CHECK_SUPPLIERS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_CHECK_SUPPLIERS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_CHECK_SUPPLIERS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_CHECK_SUPPLIERS]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            :
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000



				DECLARE @TDATA AS TABLE
				(
					IDSUPPLIER INT,
					VROWREFERENCE VARCHAR(5)
				);

				INSERT INTO @TDATA
				SELECT W.SupplierId,W.RowReference FROM OPENJSON(@DATA)
				WITH (
						SupplierId int,
						RowReference VARCHAR(5)
					  ) AS W


		--VALIDACIONES

		DECLARE @IDPLANTA INT
		DECLARE @VPLANTA VARCHAR(100)
		DECLARE @MENSAJE  VARCHAR(100)=NULL
		DECLARE @VROWREF VARCHAR(5)

		UPDATE @TDATA SET IDSUPPLIER = 0 WHERE IDSUPPLIER IS NULL

		SELECT @IDPLANTA = -1

		SELECT TOP 1 @IDPLANTA=IDSUPPLIER,@VROWREF=VROWREFERENCE
		FROM @TDATA T
		WHERE NOT EXISTS
		(SELECT * FROM V_SUPPLIERS S WHERE S.IDSUPPLIER = T.IDSUPPLIER)

		IF @IDPLANTA >= 0
		BEGIN
			SET @MENSAJE = 'PLANTA INVALIDA ID: ' +CAST (@IDPLANTA AS VARCHAR(5))
		END


		SELECT TOP 1 @IDPLANTA=IDSUPPLIER,@VROWREF=VROWREFERENCE
		FROM @TDATA T
		WHERE NOT EXISTS
		(SELECT * FROM V_SUPPLIERS_USER R 
		WHERE  R.IDUSER = @IDUSER AND R.IDSUPPLIER = T.IDSUPPLIER)
	
		IF @IDPLANTA > 0
		BEGIN
			SELECT @VPLANTA=VSUPPLIER FROM V_SUPPLIERS WHERE IDSUPPLIER=@IDPLANTA
			SET @MENSAJE = 'EL USUARIO NO TIENE ACCESO A LA PLANTA: '+@VPLANTA
		END


		 IF @MENSAJE IS NOT NULL
				BEGIN
					IF @VROWREF IS NOT NULL AND LTRIM(RTRIM(@VROWREF)) <> ''
						SET @MENSAJE = @MENSAJE + ' -FILA: ' + @VROWREF

					RAISERROR(@MENSAJE, 16, 1)
					RETURN
				END

