GO
/****** Object:  StoredProcedure [dbo].[USP_CHECK_VEHICLES]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_CHECK_VEHICLES]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_CHECK_VEHICLES] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_CHECK_VEHICLES]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


			--DECLARA UNA VARIABLE @TDATA
			DECLARE @TDATA AS TABLE
			(
				IDVEHICLE INT,
				VROWREFERENCE VARCHAR(5)
			);

			--pone la data recibida en json de @DATA dentro de una tabla @TDATA
			INSERT INTO @TDATA
			SELECT L.VehicleId,L.RowReference FROM OPENJSON(@DATA)
			WITH (
						VehicleId int,
						RowReference Varchar(5)
			     ) AS L

			--VALIDACIONES

			DECLARE @MENSAJE  VARCHAR(100)=NULL
			DECLARE @IDVEHICLE INT
			DECLARE @VROWREF VARCHAR(5)=Null
			DECLARE @VDEALER VARCHAR(50)
			DECLARE @IDDEALER INT

			UPDATE @TDATA SET IDVEHICLE = 0 WHERE IDVEHICLE IS NULL
			SELECT @IDVEHICLE = -1

			IF @MENSAJE IS NULL
			BEGIN
			SELECT TOP 1 @IDVEHICLE=IDVEHICLE ,@VROWREF=VROWREFERENCE
			FROM @TDATA T
			WHERE NOT EXISTS (SELECT * FROM VEHICLE B WITH (NOLOCK) WHERE B.ID=T.IDVEHICLE)

			IF @IDVEHICLE >= 0
			BEGIN
				SET @MENSAJE = 'VEHICULO INVALIDO ID: '+CAST( @IDVEHICLE AS VARCHAR(5))
				RAISERROR ( @MENSAJE , 16,1) 
			END
			END 


			
			IF @MENSAJE IS NULL
			BEGIN
			SELECT TOP 1 @IDDEALER=M.IDDEALER,@VROWREF=VROWREFERENCE
			FROM @TDATA T 
			INNER JOIN VEHICLE M WITH (NOLOCK) ON M.ID=T.IDVEHICLE
			WHERE NOT EXISTS 
			(SELECT * FROM [dbo].[V_RELATEDS_USER] R WHERE R.IDUSER=@IDUSER AND R.IDDEALER=M.IDDEALER )
			

			DECLARE @VSUPPLIER VARCHAR(50)
			DECLARE @IDSUPPLIER INT
			SELECT TOP 1 @IDSUPPLIER=M.IDDEALER,@VROWREF=VROWREFERENCE
			FROM @TDATA T 
			INNER JOIN VEHICLE M WITH (NOLOCK) ON M.ID=T.IDVEHICLE
			WHERE
			 NOT EXISTS 
			(SELECT * FROM [dbo].[V_SUPPLIERS_USER] R WHERE R.IDUSER=@IDUSER AND R.IDSUPPLIER=M.IDSUPPLIER)
				
			IF @IDDEALER >= 0 AND @IDSUPPLIER>= 0
			BEGIN
				SELECT TOP 1 @VDEALER= DEALER  FROM V_DEALERS WHERE IDDEALER=@IDDEALER
				SET @MENSAJE = 'USUARIO NO TIENE ACCESO A EMPRESA' 
				RAISERROR ( @MENSAJE , 16,1) 
			END
			END

		     --------------------------ENVIO DE MSJ---------------------------------------------------------------------------
			IF @MENSAJE IS NOT NULL
				BEGIN
					IF @VROWREF IS NOT NULL AND LTRIM(RTRIM(@VROWREF)) <> ''
						SET @MENSAJE= @MENSAJE + ' -FILA: ' + @VROWREF

					RAISERROR(@MENSAJE, 16, 1)
					RETURN
				END
