USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_INVENTORYCOUNT_ACTIONS]    Script Date: 20/08/2026 9:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_INVENTORYCOUNT_ACTIONS]
 @DATA NVARCHAR(MAX),
 @IDUSER INT 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           :  
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(500),
					IDRELATED INT
				);

				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS A


				DECLARE @VACTION VARCHAR(20)
				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @VRECORD VARCHAR(20) 
				DECLARE @VACTIONRECORD VARCHAR(20)
				DECLARE @ErrorMessage NVARCHAR(4000) 
				DECLARE @IDMODULE INT 

				DECLARE @IDINVENTORYCOUNT INT = (SELECT TOP 1 IDRECORD FROM @TDATA)

				IF EXISTS (SELECT T.* FROM  @TDATA T
				INNER JOIN INVENTORYCOUNT P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IDESTATUS=A.ID
				WHERE (T.VACTION= 'AVAILABLE' AND A.VNAME<>'CREATE')OR
				      (T.VACTION= 'ACTIVATE' AND A.VNAME<>'AVAILABLE')OR
					  (T.VACTION= 'GENERATE' AND A.VNAME<>'ACTIVATE')OR
					  (T.VACTION= 'PROCESS' AND A.VNAME<>'GENERATE') OR
					  (T.VACTION = 'DECLINE' AND A.VNAME <>'CREATE'  )
				       )
				BEGIN
				   SET @ErrorMessage ='ACCION NO PERMITIDA'
				   RAISERROR ( @ErrorMessage , 16,1) 
				   RETURN
				END

				
				   
                SELECT TOP 1  @VACTION=T.VACTION, @VACTIONRECORD=A.VNAME, @IDMODULE=T.IDMODULE FROM @TDATA T
				INNER JOIN INVENTORYCOUNT P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IDESTATUS=A.ID

				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

				   
			
				-- ACTIVAR
				IF @VACTION='AVAILABLE' AND @VACTIONRECORD='CREATE'
				BEGIN
					UPDATE P
						SET P.IDESTATUS= DBO.UFN_GET_ISTATUS('AVAILABLE'),
							P.IDUSER = IDUSER,
							P.DPREINVENTORYDATE = GETDATE()
							FROM INVENTORYCOUNT P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IDESTATUS=DBO.UFN_GET_ISTATUS('CREATE')
					SELECT @IUPDATED=@@ROWCOUNT

				END




				IF @VACTION='ACTIVATE' AND @VACTIONRECORD='AVAILABLE'
				BEGIN
					UPDATE P
						SET P.IDESTATUS= DBO.UFN_GET_ISTATUS('ACTIVATE'),
							P.IDUSER = IDUSER,
							P.DINVENTORYDATE = GETDATE()
							FROM INVENTORYCOUNT P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IDESTATUS=DBO.UFN_GET_ISTATUS('AVAILABLE')
					SELECT @IUPDATED=@@ROWCOUNT

					IF @IUPDATED>0
					BEGIN
						EXEC USP_CONTROL_COUNT @IDUSER,@IDINVENTORYCOUNT
					END
				END


				IF @VACTION='GENERATE' AND @VACTIONRECORD='ACTIVATE'
				BEGIN
					UPDATE P
						SET P.IDESTATUS= DBO.UFN_GET_ISTATUS('GENERATE'),
							P.IDUSER = IDUSER,
							P.DFINISHDATE = GETDATE()
							FROM INVENTORYCOUNT P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IDESTATUS=DBO.UFN_GET_ISTATUS('ACTIVATE')

					
					SELECT @IUPDATED=@@ROWCOUNT
				END


				IF @VACTION='PROCESS' AND @VACTIONRECORD='GENERATE'
				BEGIN
					UPDATE P
						SET P.IDESTATUS= DBO.UFN_GET_ISTATUS('PROCESS'),
							P.IDUSER = IDUSER
							FROM INVENTORYCOUNT P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IDESTATUS=DBO.UFN_GET_ISTATUS('GENERATE')

					
					SELECT @IUPDATED=@@ROWCOUNT
				END

				IF @VACTION='DECLINE' AND @VACTIONRECORD='CREATE'
				BEGIN
					UPDATE P
						SET P.IDESTATUS= DBO.UFN_GET_ISTATUS('DECLINE'),
							P.IDUSER = IDUSER,
							P.DINVENTORYDATE = GETDATE()
							FROM INVENTORYCOUNT P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IDESTATUS=DBO.UFN_GET_ISTATUS('CREATE')

					
					SELECT @IUPDATED=@@ROWCOUNT
				END

			

				
					
				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				IF @IUPDATED>0
				BEGIN
				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA
				END 
	
				


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END

