USE [ZEPPELIN]
GO
/****** Object:  StoredProcedure [dbo].[USP_IMPORT_PLATES_FIGO]    Script Date: 17/08/2026 8:47:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_IMPORT_PLATES_FIGO]  
 @DATA VARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
	     
		  
			DECLARE @ErrorMessage NVARCHAR(4000)
			SET @ErrorMessage=NULL
			DECLARE @UpdatedIDs TABLE (IDVEHICLE INT);
			DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('VEHICULOS-VEHICULOS')
			DECLARE @SERIAL VARCHAR(20)=NULL
			DECLARE @VROWREF VARCHAR(5)=NULL
			DECLARE @Duplicados NVARCHAR(MAX) = ''
			DECLARE @VACTION VARCHAR(20)

			

	
				DECLARE @TDATA AS TABLE
				(
					VVIN VARCHAR(20),
					VPLATE VARCHAR(10),
					DDATE  DATETIME,
					IDSUPPLIER INT,
					VROWREFERENCE VARCHAR(5)
				);

				INSERT INTO @TDATA (
					VVIN, 
					VPLATE,
					DDATE,
					IDSUPPLIER,
					VROWREFERENCE
				)
				SELECT 
				    H.Vin,
					H.Plate,
					H.Date,
					H.SupplierId,
					H.RowReference
				FROM OPENJSON(@DATA)
				WITH (
					Vin     VARCHAR(20),
					Plate VARCHAR (10),
					Date datetime,
					SupplierId int,
					RowReference Varchar(5)
				) AS H;

			
			
			
				SELECT TOP 1 @VROWREF = D.VROWREFERENCE FROM @TDATA D 
				WHERE D.VVIN <> ''
				AND NOT EXISTS (SELECT * FROM VEHICLE P WITH (NOLOCK) WHERE D.VVIN=P.VVIN AND P.IDSUPPLIER=D.IDSUPPLIER)
				IF ISNULL(@VROWREF,0) > 0
				BEGIN
					SET @ErrorMessage = 'VIN NO EXISTE, FILA :'+CAST(@VROWREF AS VARCHAR(5))
					RAISERROR(@ErrorMessage, 16, 1)  
				END
				 

				IF @ErrorMessage IS NULL
				BEGIN
					SELECT TOP 1 @VROWREF = W.RowReference
				FROM OPENJSON(@DATA)
					WITH (
							Vin varchar(MAX),
							Plate varchar(MAX),
							RowReference VARCHAR(5)
				) AS W
				WHERE LEN(W.Vin) > 20 OR LEN(W.Plate) > 10 

				-- Validación defensiva
					IF @VROWREF IS NOT NULL
					BEGIN
					  SET @ErrorMessage = 'UNO O MAS CAMPOS EXCENDEN LA LONGITUD PERMITIDA: ' +CAST(@VROWREF AS VARCHAR(5))
					  RAISERROR(@ErrorMessage, 16, 1)  
					END
				END
				
				IF @ErrorMessage IS NULL
				BEGIN
					SELECT TOP 1 @VROWREF = D.VROWREFERENCE FROM @TDATA D WHERE ISNULL(D.VVIN,'') = ''
					 IF ISNULL(@VROWREF,0) > 0
					 BEGIN
						SET @ErrorMessage = 'CAMPO VIN VACIO. FILA :'+CAST(@VROWREF AS VARCHAR(5))
						RAISERROR(@ErrorMessage, 16, 1)  
					 END
				END

				
				IF @ErrorMessage IS NULL
				BEGIN
					SELECT TOP 1 @VROWREF = D.VROWREFERENCE FROM @TDATA D WHERE ISNULL(D.VPLATE,'') = ''
					IF ISNULL(@VROWREF,0) > 0
					BEGIN
						SET @ErrorMessage = 'CAMPO PLACA VACIO. FILA :'+CAST(@VROWREF AS VARCHAR(5))
						RAISERROR(@ErrorMessage, 16, 1)  
					END
				END

				IF @ErrorMessage IS NULL
				BEGIN
					SET @Duplicados = NULL
    
					-- Buscamos en @TDATA (el documento), no en VEHICLE
					SELECT TOP 1 @Duplicados = VVIN 
					FROM @TDATA 
					WHERE ISNULL(VVIN, '') <> ''
					GROUP BY VVIN 
					HAVING COUNT(*) > 1

					IF @Duplicados IS NOT NULL
					BEGIN
						SELECT TOP 1 @VROWREF = VROWREFERENCE FROM @TDATA WHERE VVIN = @Duplicados
						SET @ErrorMessage = 'DOCUMENTO CONTIENE VIN REPETIDO: ' + @Duplicados + '. FILA: ' + CAST(@VROWREF AS VARCHAR(5))
						-- Es importante lanzar el error o el código seguirá al siguiente bloque
						RAISERROR(@ErrorMessage, 16, 1) 
					END
				END

				-- 2. VALIDACIÓN DE PLACA DUPLICADA EN EL DOCUMENTO
				IF @ErrorMessage IS NULL
				BEGIN
					SET @Duplicados = NULL
    
					SELECT TOP 1 @Duplicados = VPLATE 
					FROM @TDATA 
					WHERE ISNULL(VPLATE, '') <> ''
					GROUP BY VPLATE 
					HAVING COUNT(*) > 1

					IF @Duplicados IS NOT NULL
					BEGIN
						SELECT TOP 1 @VROWREF = VROWREFERENCE FROM @TDATA WHERE VPLATE = @Duplicados
						SET @ErrorMessage = 'DOCUMENTO CONTIENE PLACA REPETIDA: ' + @Duplicados + '. FILA: ' + CAST(@VROWREF AS VARCHAR(5))
						RAISERROR(@ErrorMessage, 16, 1)
					END
                 END


				IF @ErrorMessage IS NULL
				BEGIN
					 SELECT TOP 1 @VROWREF = D.VROWREFERENCE FROM @TDATA D 
					 WHERE D.VPLATE <> ''
					 AND EXISTS (SELECT * FROM VEHICLE P WITH (NOLOCK) WHERE  D.VPLATE=P.VPLATE AND D.VVIN<>P.VVIN)
					 IF ISNULL(@VROWREF,0) > 0
					 BEGIN
						SET @ErrorMessage = 'PLACA YA EXISTE, FILA :'+CAST(@VROWREF AS VARCHAR(5))
						RAISERROR(@ErrorMessage, 16, 1)  
					 END
				  END

				IF @ErrorMessage IS NULL
				BEGIN
					 SELECT TOP 1 @VROWREF = D.VROWREFERENCE FROM @TDATA D 
					 WHERE D.VVIN <> ''
					 AND EXISTS (SELECT * FROM VEHICLE P WITH (NOLOCK) WHERE  D.VVIN=P.VVIN AND P.IESTATUS IN (DBO.UFN_GET_ISTATUS('ASSIGN'),DBO.UFN_GET_ISTATUS('AVAILABLE'),DBO.UFN_GET_ISTATUS('UNAVAILABLE'),DBO.UFN_GET_ISTATUS('BINVOICE')))
					 IF ISNULL(@VROWREF,0) > 0
					 BEGIN
						SET @ErrorMessage = 'ESTATUS DE VEHICULO INCORRECTO PARA ASIGNACION DE PLACA, FILA :'+CAST(@VROWREF AS VARCHAR(5))
						RAISERROR(@ErrorMessage, 16, 1)  
					 END
				  END

				SET @VACTION='EDIT'
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
		

	            BEGIN TRAN 

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				UPDATE V
				SET
					V.VPLATE = D.VPLATE,
					v.BPLATEASINC=0,
					V.DUPDATED = GETDATE(),
					V.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
				OUTPUT 
					inserted.ID -- El ID de la tabla VEHICLE
				INTO @UpdatedIDs (IDVEHICLE)
				FROM VEHICLE V
				INNER JOIN @TDATA D ON V.VVIN = D.VVIN  
				WHERE V.IDSUPPLIER = D.IDSUPPLIER 
				  AND V.IESTATUS NOT IN (DBO.UFN_GET_ISTATUS('ASSIGN'),DBO.UFN_GET_ISTATUS('AVAILABLE'),DBO.UFN_GET_ISTATUS('UNAVAILABLE'),DBO.UFN_GET_ISTATUS('BINVOICE'));

				SELECT @IUPDATED = @@ROWCOUNT;
				
				 IF @IUPDATED > 0
				BEGIN
					INSERT INTO AUDIT (IDUSER, IDRECORD, IDMODULE, VCOMMENT, DCREATED, VACTION, IDRELATED)
					SELECT  
						@IDUSER,
						UP.IDVEHICLE,
						@IDMODULE,
						'Asignación de Placa: '+ V.VPLATE, -- Comentario opcional
						GETDATE(),
						'EDIT',
						0
					FROM @UpdatedIDs UP
					INNER JOIN VEHICLE V  WITH (NOLOCK) ON  UP.IDVEHICLE=V.ID
				END


				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
