USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_DISPATCHEDCONTROL_ACTION]    Script Date: 10/08/2026 10:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_DISPATCHEDCONTROL_ACTION]
 @DATA VARCHAR(MAX),
 @IDUSER INT,
 @IDSUPPLIER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               : 
  '   VERSIÓN               :
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000
BEGIN
	BEGIN TRY
		BEGIN TRAN 

		DECLARE @TDATA AS TABLE
		(
			IDRECORD INT,
			IDMODULE INT,
			VACTION VARCHAR(20),
			VCOMMENT VARCHAR(200),
			IDRELATED INT
		);

		INSERT INTO @TDATA
		SELECT RecordId, ModuleId, ActionName, ActionComment, RelatedId
		FROM OPENJSON(@DATA)
		WITH (
			RecordId int, 
	 		ModuleId int, 
			ActionName varchar(20),
			ActionComment varchar(200),
			RelatedId int
		) AS C

		DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT
		DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT
		DECLARE @CORRELATIVE_A INT
		DECLARE @CORRELATIVE_B INT
		DECLARE @VCONTROLNUMBERA VARCHAR(20)
		DECLARE @VCONTROLNUMBERB VARCHAR(20)
		DECLARE @IDCUSTOMER INT
		DECLARE @PRODUCTS_COUNT INT
		DECLARE @TYPES_COUNT INT
		DECLARE @VRECORD VARCHAR(20) 
		DECLARE @VACTIONRECORD VARCHAR(20)

		SELECT TOP 1 @VACTION = VACTION , @IDMODULE = IDMODULE FROM @TDATA

		--EXEC USP_CHECK_CREDENTIALS @IDUSER, @VACTION  , @IDMODULE 

		IF @VACTION = 'GENERATE'
		BEGIN 

			-- Contar products marcados para exportar
			SELECT @PRODUCTS_COUNT = COUNT(DISTINCT I.IDPART)  
			FROM DISPATCHEDCONTROL I WITH (NOLOCK)
			WHERE IDSUPPLIER=@IDSUPPLIER and I.BMARK = 1 AND I.IDCONTROL = 0

			-- Validar que no haya ms de 8 productos marcados
			IF @PRODUCTS_COUNT > 20
			BEGIN
				RAISERROR('No se pueden GENERAR más de 20 productos distintos. Productos marcados: %d', 16, 1, @PRODUCTS_COUNT)
				RETURN
			END

			SELECT @TYPES_COUNT = COUNT(DISTINCT SO.IDTYPE)  
			FROM DISPATCHEDCONTROL I WITH (NOLOCK)
			INNER JOIN SALEORDER SO WITH (NOLOCK) ON SO.ID=I.IDSALEORDER
			WHERE I.IDSUPPLIER=@IDSUPPLIER and I.BMARK = 1 AND I.IDCONTROL = 0

			IF @TYPES_COUNT > 1
			BEGIN
				RAISERROR('No se pueden GENERAR despachos de disferentes tipos.', 16, 1)
				RETURN
			END

			-- Validar que sean del mismo cliente
			SELECT TOP 1 @IDCUSTOMER = I.IDCUSTOMER
			FROM DISPATCHEDCONTROL I WITH (NOLOCK)
			WHERE I.IDSUPPLIER=@IDSUPPLIER  AND I.BMARK = 1 AND I.IDCONTROL = 0 
			 
			IF EXISTS (SELECT 1 FROM DISPATCHEDCONTROL WITH (NOLOCK)
					   WHERE IDSUPPLIER=@IDSUPPLIER AND
					   BMARK = 1 AND IDCONTROL = 0 AND IDCUSTOMER <> @IDCUSTOMER)
			BEGIN
				RAISERROR('No se pueden exportar repuestos de diferentes clientes', 16, 1)
				RETURN
			END


			-- Generar correlativo
			CREATE TABLE #TMP_DISPATCHEDCONTROL 
			(ID INT,IDPART INT,IDISPATCHED INT,IFIGOA INT,ITXTA INT, ITXTB INT,IPENDIENTE INT)

			INSERT INTO #TMP_DISPATCHEDCONTROL
			SELECT I.ID,I.IDPART,I.IDISPATCHED,0,0,0,0
			FROM DISPATCHEDCONTROL I WITH (NOLOCK)
			WHERE IDSUPPLIER=@IDSUPPLIER AND I.BMARK = 1 AND I.IDCONTROL = 0 AND I.IDCUSTOMER = @IDCUSTOMER

			UPDATE A
				SET A.IFIGOA=ISNULL(F.IQTY_A,0)
			FROM #TMP_DISPATCHEDCONTROL A
			INNER JOIN (
							SELECT IDPART,IQTY_A
							FROM INVENTORYFIGO WITH (NOLOCK)
							WHERE IDSUPPLIER=@IDSUPPLIER
							AND IQTY_A>0
						) F ON F.IDPART=A.IDPART


			UPDATE A
				SET A.IPENDIENTE=F.IPENDIENTE
			FROM #TMP_DISPATCHEDCONTROL A
			INNER JOIN (
						SELECT IDSUPPLIER,IDPART,SUM(IDISPATCHED) IPENDIENTE
						FROM DISPATCHEDCONTROL WITH (NOLOCK)
						WHERE IDSUPPLIER=@IDSUPPLIER
						AND IDCONTROL>0 AND IDINVOICE=0
						AND DCONTROLDATE >GETDATE()-30
						AND IESTATUS=2
						GROUP BY IDSUPPLIER,IDPART
						) F ON F.IDPART=A.IDPART


			UPDATE #TMP_DISPATCHEDCONTROL SET IFIGOA=IFIGOA-IPENDIENTE

			UPDATE #TMP_DISPATCHEDCONTROL SET IFIGOA=0 WHERE IFIGOA<0

			UPDATE #TMP_DISPATCHEDCONTROL
				SET ITXTA=CASE WHEN IDISPATCHED<=IFIGOA THEN IDISPATCHED ELSE IFIGOA END
			WHERE IFIGOA>0

			UPDATE #TMP_DISPATCHEDCONTROL SET ITXTB= IDISPATCHED-ITXTA

			IF EXISTS (SELECT * FROM #TMP_DISPATCHEDCONTROL WHERE ITXTA>0)
			BEGIN
				EXEC USP_ACT_SECUENCE 'CONTROL', @CORRELATIVE_A OUT 
			END

			IF EXISTS (SELECT * FROM #TMP_DISPATCHEDCONTROL WHERE ITXTB>0)
			BEGIN
				EXEC USP_ACT_SECUENCE 'CONTROL', @CORRELATIVE_B OUT 
			END

					
			DECLARE @IDDIS INT,@ITXTA INT,@ITXTB INT
			DECLARE DETAIL_CURSOR CURSOR FOR 
				SELECT ID,ITXTA,ITXTB FROM #TMP_DISPATCHEDCONTROL
			OPEN DETAIL_CURSOR;
			FETCH NEXT FROM DETAIL_CURSOR INTO @IDDIS,@ITXTA,@ITXTB

			WHILE @@FETCH_STATUS = 0
			BEGIN
			
				IF @ITXTA>0
				BEGIN
					-- CANTIDADES QUE HAY EN FIGO A
					UPDATE I 
					SET I.IDCONTROL = @CORRELATIVE_A,
						I.DCONTROLDATE = GETDATE(),
						I.IDISPATCHED = @ITXTA,
						I.VTYPE='A'
					FROM DISPATCHEDCONTROL I
					WHERE I.ID=@IDDIS
				END

				IF @ITXTB>0
				BEGIN
					IF @ITXTA=0
					BEGIN
						-- CANTIDADES QUE HAY EN FIGO B Y NO HAY EN A SE ACTUALIZA TODO EL REGISTRO
						UPDATE I
						SET I.IDCONTROL = @CORRELATIVE_B,
							I.DCONTROLDATE = GETDATE(),
							I.IDISPATCHED = @ITXTB,
							I.VTYPE='B'
						FROM DISPATCHEDCONTROL I
						WHERE I.ID=@IDDIS
					END
					ELSE
					BEGIN
						-- CANTIDADES QUE HAY EN FIGO B Y Y SI TENIA UNA PARTE EN FIGO A.. SE PASA EL REMANENTE EN TXT B
						INSERT INTO DISPATCHEDCONTROL 
						(IDMOVEMENTDETAIL,IDBACKORDER,IDSALEORDER,IDPART,IDCUSTOMER,IDSUPPLIER,IDISPATCHED,BMARK,IDCONTROL,IDINVOICE,
						IINVOICED,DCONTROLDATE,DSINCDATE,IDUSERSINC,IESTATUS,STOCKINFO,BSINC,IDCUSTOMERINVOICE,VTYPE)
						SELECT
						IDMOVEMENTDETAIL,IDBACKORDER,IDSALEORDER,IDPART,IDCUSTOMER,IDSUPPLIER,@ITXTB,BMARK,@CORRELATIVE_B,NULL,
						NULL,GETDATE(),NULL,@IDUSER,2,STOCKINFO,BSINC,IDCUSTOMERINVOICE,'B'
						FROM DISPATCHEDCONTROL WITH (NOLOCK)
						WHERE ID=@IDDIS
					END
				END


				FETCH NEXT FROM DETAIL_CURSOR INTO @IDDIS,@ITXTA,@ITXTB
			END;

			CLOSE DETAIL_CURSOR;
			DEALLOCATE DETAIL_CURSOR;

		
			SELECT @IUPDATED = (SELECT COUNT(*) FROM #TMP_DISPATCHEDCONTROL)

			IF @CORRELATIVE_A>0
				SET @IID = @CORRELATIVE_A
			ELSE
				SET @IID = @CORRELATIVE_B

		END 

			--------------------------------------------------------------------------------------------------------
		IF @VACTION = 'DECLINE'
		BEGIN   
			IF EXISTS (
				SELECT 1 
				FROM DISPATCHEDCONTROL DC
				INNER JOIN @TDATA T ON DC.IDCONTROL = T.IDRECORD
				WHERE DC.IDINVOICE IS NOT NULL AND DC.IDINVOICE <> 0
			)
			BEGIN
				RAISERROR('No se pueden declinar registros que ya estan sincronizados', 16, 1)
				RETURN
			END
     
			UPDATE DC
			SET DC.IDCONTROL = 0,
				DC.DCONTROLDATE = NULL,
				DC.IESTATUS = 2, 
				DC.BMARK = 0,
				DC.VTYPE=NULL
			FROM DISPATCHEDCONTROL DC
			INNER JOIN @TDATA T ON DC.IDCONTROL = T.IDRECORD 
			WHERE DC.IESTATUS = 2            
			  AND DC.IDCONTROL > 0           
			  AND (DC.IDINVOICE IS NULL OR DC.IDINVOICE = 0)  
    
			SELECT @IUPDATED = @@ROWCOUNT
		END
		--------------------------------------------------------------------------------------------------------

		IF @VACTION = 'SINC'
		BEGIN 
			DECLARE @IDCONTROL INT
			DECLARE @IDINVOICE INT

			SELECT TOP 1 @IDCONTROL=IDRECORD, @IDINVOICE = IDRELATED FROM @TDATA

			EXEC USP_POST_INVOICECONTROL_SINC @IDCONTROL,@IDINVOICE,@IDUSER,@IDSUPPLIER

			SELECT @IUPDATED=1

		END

		 
		SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				IF @IUPDATED>0
				BEGIN
				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA
				END

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
 
