USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_DELETE_ACCOUNT_FROM_CART]    Script Date: 18/09/2026 9:54:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_DELETE_CART] --USP_DELETE_CART 4,5073
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

    BEGIN TRY
        BEGIN TRAN 
	
		
			DECLARE @IID INT
			DECLARE @IINSERTED INT
			DECLARE @IUPDATED INT
			

				DECLARE @TDATA AS TABLE
				(
					IDUSER INT,
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(200),
					IDRELATED INT
				);


				
				INSERT INTO @TDATA
				SELECT UserId ,RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						UserId int,RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS A
		    
			
			DECLARE @IDPAYMENT INT =(SELECT TOP 1 IDRECORD FROM @TDATA );

            DECLARE @VACTION VARCHAR(20)
			DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('PAGOS-ASEGURAMIENTO')
			
			
			SET @VACTION='EDIT'
			EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE



		BEGIN
		    	-----CAMBIO DE ESTATUS DE DOCUMENTO AL LIBERAR----
		   UPDATE A
		   SET A.IDTRANSACTIONSTATUS=  DBO.UFN_GET_ISTATUS('AVAILABLE')
		   FROM ACCOUNTRECEIVABLE A
		   INNER JOIN SETTLEMENTS S WITH (NOLOCK) ON A.ID=S.IDACCOUNTRECEIVABLE
		   WHERE S.IDPAYMENT=@IDPAYMENT

		   -------ELIMINACION DE LA RELACION DE PAGO CON DOCUMENTO ------
		   DELETE A
		   FROM SETTLEMENTS A
		   WHERE A.IDPAYMENT=@IDPAYMENT
	
			----ELIMINACION DE DETALLES DE PAGO------
			DELETE PAYMENTDETAILS WHERE IDPAYMENT=@IDPAYMENT
			----ELIMINACION DE CABECERA---------
			DELETE PAYMENT  WHERE ID=@IDPAYMENT

		   SELECT @IID=SCOPE_IDENTITY()
		   SELECT @IUPDATED=@@ROWCOUNT
		
		END

			SELECT
			ISNULL(@IID,0) AS IID , 
			ISNULL(@IINSERTED,0) AS IINSERTED,
			ISNULL(@IUPDATED,0) AS IUPDATED

            COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END