USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_INVENTORYCOUNTDETAIL]    Script Date: 27/08/2026 13:52:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_INVENTORYCOUNTDETAIL]-- USP_GET_INVENTORYCOUNTDETAIL 1,4069,1,0,0,18,'2021-02-12 00:00:00.000','2022-02-12 00:00:00.000'
@IDUSER INT, 
@IDSUPPLIER INT =NULL,
@ID INT,
@IROWFROM INT = NULL,
@BGROUPZONE BIT,
@VFILTER VARCHAR(100) = NULL,
@IESTATUS INT =NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL


AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

	  DECLARE @FechaInicio DATETIME = DATEADD(DAY, -360, GETDATE());
    SELECT @DFROMDATE = CONVERT(VARCHAR(10),isnull(@DFROMDATE,getdate()-30),120)
    SELECT @DUPTODATE = CONVERT(VARCHAR(10),isnull(@DUPTODATE,getdate()+1),120)



 IF @BGROUPZONE=1
	BEGIN
       	WITH T1 AS (
			SELECT 
				PD.*,
				CASE 
					WHEN A.ID=2 THEN 'POR CONTAR'
					WHEN A.ID=18 THEN 'CONTADO'
					ELSE A.VDISPLAYESTATUS 
				END AS VESTATUS,
				ISNULL(I.VLOGIN,'') AS VASSIGN,
				L.VNAME AS VLOCATION,
				Z.VNAME AS VZONE,
				R.VINNERCODE,
				R.VDESCRIPTION AS VPART,
				(PD.IQUANTITY_OLD - PD.IQUANTITY_NEW) AS IDIFERENCE,
				ROW_NUMBER() OVER (
					PARTITION BY Z.ID 
					ORDER BY 
						CASE 
							WHEN A.ID=2 THEN 1 
							WHEN A.ID=6 THEN 2 
							ELSE 3 
						END, 
						PD.DCREATED DESC
				) AS RN_ZONE,
				I.VLOGIN VTOASSIGN
			FROM INVENTORYCOUNTDETAIL PD WITH (NOLOCK)
			INNER JOIN INVENTORYCOUNT P WITH (NOLOCK) ON PD.IDINVENTORY = P.ID
			INNER JOIN ACTION A WITH (NOLOCK) ON PD.IDSTATUS = A.ID
			INNER JOIN [LOCATION] L WITH (NOLOCK) ON PD.IDLOCATION = L.ID
			INNER JOIN [ZONE] Z WITH (NOLOCK) ON PD.IDZONE = Z.ID
			LEFT JOIN PART R WITH (NOLOCK) ON PD.IDPART = R.ID 
			LEFT JOIN INFOUSER I WITH (NOLOCK) ON PD.IDUSER = I.IDUSER
			WHERE P.IDSUPPLIER = @IDSUPPLIER
			  AND P.ID = @ID
			  AND (
				  CAST(P.ID AS VARCHAR) LIKE '%' + ISNULL(@VFILTER, '') + '%'
				  OR P.VDESCRIPTION LIKE '%' + ISNULL(@VFILTER, '') + '%'
				   OR L.VNAME LIKE '%' + ISNULL(@VFILTER, '') + '%'
				   --OR C.VNAME LIKE '%' + ISNULL(@VFILTER, '') + '%'
			  )
			  AND PD.DCREATED >= @DFROMDATE
			  AND PD.DCREATED < @DUPTODATE
			  AND PD.DCREATED >= @FechaInicio
			  AND PD.IDSTATUS = ISNULL(@IESTATUS, PD.IDSTATUS)

		), 
		T2 AS (
			SELECT COUNT(*) AS TOTAL FROM T1
		)
		SELECT 
			T1.*, 
			T2.TOTAL
		FROM T1, T2
		WHERE T1.RN_ZONE > (@IROWFROM * 100) 
		  AND T1.RN_ZONE <= ((@IROWFROM + 1) * 100)
		ORDER BY 
			T1.IFORM ASC,
			CASE 
				WHEN T1.VESTATUS = 'POR CONTAR' THEN 1 
				WHEN T1.VESTATUS = 'CONTADO' THEN 2 
				ELSE 3 
			END

	END
	ELSE

	BEGIN 
		WITH T1 AS (
			SELECT 
				PD.*,
				CASE 
					WHEN A.ID=2 THEN 'POR CONTAR'
					WHEN A.ID=18 THEN 'CONTADO'
					ELSE A.VDISPLAYESTATUS 
				END AS VESTATUS,
				ISNULL(I.VLOGIN,'') AS VASSIGN,
				L.VNAME AS VLOCATION,
				Z.VNAME AS VZONE,
				R.VINNERCODE,
				R.VDESCRIPTION AS VPART,
				(PD.IQUANTITY_OLD - PD.IQUANTITY_NEW) AS IDIFERENCE,
				I.VLOGIN VTOASSIGN
			FROM INVENTORYCOUNTDETAIL PD WITH (NOLOCK)
			INNER JOIN INVENTORYCOUNT P WITH (NOLOCK) ON PD.IDINVENTORY = P.ID
			INNER JOIN ACTION A WITH (NOLOCK) ON PD.IDSTATUS = A.ID
			INNER JOIN [LOCATION] L WITH (NOLOCK) ON PD.IDLOCATION = L.ID
			INNER JOIN [ZONE] Z WITH (NOLOCK) ON PD.IDZONE = Z.ID
			LEFT JOIN PART R WITH (NOLOCK) ON PD.IDPART = R.ID 
			LEFT JOIN INFOUSER I WITH (NOLOCK) ON PD.IDUSER = I.IDUSER
			WHERE P.IDSUPPLIER = @IDSUPPLIER
			  AND P.ID = @ID
			  AND (
				  CAST(P.ID AS VARCHAR) LIKE '%' + ISNULL(@VFILTER, '') + '%'
				  OR P.VDESCRIPTION LIKE '%' + ISNULL(@VFILTER, '') + '%'
				   OR L.VNAME LIKE '%' + ISNULL(@VFILTER, '') + '%'
			  )
			  AND PD.DCREATED >= @DFROMDATE
			  AND PD.DCREATED < @DUPTODATE
			  AND PD.DCREATED >= @FechaInicio
			  AND PD.IDSTATUS = ISNULL(@IESTATUS, PD.IDSTATUS)

		), 
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
			T3 AS (
				SELECT * FROM T1
				ORDER BY T1.IFORM ASC,
					CASE 
						WHEN T1.VESTATUS = 'POR CONTAR' THEN 1 
						WHEN T1.VESTATUS = 'CONTADO' THEN 2 
						ELSE 3 
					END
					OFFSET @IROWFROM  ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
					FETCH NEXT 300 ROWS ONLY
			)
			SELECT T3.*, T2.* FROM T3, T2;

	END

