USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_ACCOUNTRECEIVABLE]    Script Date: 03/09/2026 14:31:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_ACCOUNTRECEIVABLE] 
-- [USP_GET_ACCOUNTRECEIVABLE] 1,4076,0,'U','B-P',NULL,NULL,NULL,null,NULL,'2026-01-19'
@IDUSER INT,
@IDSUPPLIER INT,
@IDDEALER INT = 0,
@VTYPE VARCHAR(10),
@VCONCEPT VARCHAR(10),
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL,
@IDESTATUS INT =NULL,
@DRATEDATE DATETIME = NULL,
@BMIGRATION BIT=NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : OBTENER TASA MENOR 
  '   MODIFICADO POR        :  JUAN GUARECUCO
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	-- 1. PREPARAR VARIABLES DE TOPE Y PAGINACION
	IF @IROWFROM IS NULL
	    BEGIN
		    SET @TOPE=1000000
		    SET @IROWFROM=0
	    END
	ELSE
	    BEGIN
		    SET @TOPE=100
	    END

	IF @DRATEDATE IS NULL
	BEGIN
		SELECT @DRATEDATE = CONVERT(VARCHAR(10),GETDATE(),120)
	END
	
	DECLARE @NALTERRATE NUMERIC(18,4)
	DECLARE @NRATE NUMERIC(18,4)
	SELECT TOP 1 @NRATE=NRATE FROM RATE WITH (NOLOCK) WHERE DDATE <= @DRATEDATE ORDER BY DDATE DESC;
	SELECT TOP 1 @NALTERRATE = NALTERRATE FROM RATE WITH (NOLOCK) WHERE DDATE = @DRATEDATE ORDER BY DDATE DESC;
	
	SELECT @NRATE = ISNULL(@NRATE,0)

    -- 2. PREPARAR VARIABLES FILTRADOS
    SELECT @VFILTER= ISNULL(@VFILTER,'')
    DECLARE @FechaInicio DATETIME = DATEADD(DAY, -360, GETDATE());
    SELECT @DFROMDATE = CONVERT(VARCHAR(10),isnull(@DFROMDATE,'2020-01-01'),120)
    SELECT @DUPTODATE = CONVERT(VARCHAR(10),isnull(@DUPTODATE,getdate())+1,120)
	SELECT @IDDEALER = ISNULL(@IDDEALER,0)
    SELECT @IDESTATUS = ISNULL(@IDESTATUS,0)


	    DECLARE @LIKEFILTER VARCHAR(100)
    SELECT @LIKEFILTER = '%'+@VFILTER+'%'


	DECLARE @CONCEPT AS TABLE (VCODE VARCHAR(1))
	INSERT INTO @CONCEPT
	SELECT s.value 
	FROM STRING_SPLIT(@VCONCEPT,',') as s
	where s.value <> ''

	DECLARE @TYPE AS TABLE (VCODE VARCHAR(1))
	INSERT INTO @TYPE
	SELECT s.value 
	FROM STRING_SPLIT(@VTYPE,',') as s
	where s.value <> ''

BEGIN
	WITH 
		T1 AS (
			-- 1. FILTRAR MUESTRA DE PARTIDAS
			SELECT 
				A.ID,
				A.IDSUPPLIER,
				A.IDDEALER,
				D.DEALER AS VDEALER,
				T.VCODE AS VTYPECODE,
				T.VNAME AS VTYPENAME,
				C.VCODE AS VCONCEPTCODE,
				C.VNAME AS VCONCEPTNAME,
				A.VREFERENCE AS VNUMBER,
				A.VREFERENCE,
				A.DDATE AS VDATE,
				A.DDUEDATE AS VDUEDATE,
				A.NAMOUNT,
				A.NBALANCE,
				CAST((A.NAMOUNT * (CASE 
										WHEN A.VCONCEPT='R' THEN A.NRATE
										WHEN A.VCONCEPT='B' THEN @NALTERRATE
										WHEN A.VCONCEPT='P' THEN @NRATE
										WHEN A.VCONCEPT='I' THEN @NRATE
										ELSE @NRATE END)) AS NUMERIC(18,2)) AS NAMOUNTBS,
				CAST((A.NBALANCE * (CASE 
										WHEN A.VCONCEPT='R' THEN A.NRATE
										WHEN A.VCONCEPT='B' THEN @NALTERRATE
										WHEN A.VCONCEPT='P' THEN @NRATE
										WHEN A.VCONCEPT='I' THEN @NRATE
										ELSE @NRATE END)) AS NUMERIC(18,2)) AS NBALANCEBS,
									CASE 
										WHEN A.VCONCEPT='R' THEN A.NRATE
										WHEN A.VCONCEPT='B' THEN @NALTERRATE
										WHEN A.VCONCEPT='P' THEN @NRATE
										WHEN A.VCONCEPT='I' THEN @NRATE
										ELSE @NRATE END AS NRATE,
				A.IDSTATUS AS ISTATUSID,
				E.VDISPLAYESTATUS AS VSTATUSNAME,
				COUNT(*) OVER() AS TOTAL,
				CASE 
					WHEN @VCONCEPT='R' THEN A.DDATE 
					ELSE @DRATEDATE 
				END AS DRATEDATE,
				
				CASE 
					WHEN A.IDTRANSACTIONSTATUS = DBO.UFN_GET_ISTATUS('CREATE') THEN 
						(
							SELECT TOP 1 PD.ID 
							FROM dbo.SETTLEMENTS S WITH (NOLOCK)
							INNER JOIN dbo.PAYMENTDETAILS PD WITH (NOLOCK) ON S.IDPAYMENT = PD.IDPAYMENT
							WHERE S.IDACCOUNTRECEIVABLE = A.ID AND PD.IDSTATUS=DBO.UFN_GET_ISTATUS('CREATE')
						)
					ELSE 0 
				END AS IDPAYMENDETAIL,
				A.IDTRANSACTIONSTATUS,
				IT.VDISPLAYESTATUS AS VTRANSACTIONSTATUS,
				A.NAMOUNTFULL,
				A.BMIGRATION,
				
				-- Generamos un consecutivo independiente para Migrados (1) y No Migrados (0)
				ROW_NUMBER() OVER (
					PARTITION BY ISNULL(A.BMIGRATION, 0)
					ORDER BY 
						CASE A.IDTRANSACTIONSTATUS
							WHEN DBO.UFN_GET_ISTATUS('CREATE') THEN 1 
							ELSE 2       
						END ASC,
						A.DDATE,
						CASE A.IDSTATUS
							WHEN DBO.UFN_GET_ISTATUS('OVERDUE') THEN 1
							WHEN DBO.UFN_GET_ISTATUS('OPEN') THEN 2
							ELSE 3       
						END ASC,
						A.ID ASC
				) AS RN_GRUPO
			FROM dbo.ACCOUNTRECEIVABLE A WITH (NOLOCK)
			INNER JOIN [dbo].[DOCUMENTTYPE] T WITH (NOLOCK) ON T.VCODE = A.VTYPE
			INNER JOIN [dbo].[DOCUMENTCONCEPT] C WITH (NOLOCK) ON C.VCODE = A.VCONCEPT
			INNER JOIN [dbo].[ACTION] E WITH (NOLOCK) ON E.ID = A.IDSTATUS
			INNER JOIN V_DEALERS D ON D.IDDEALER = A.IDDEALER
			INNER JOIN [dbo].[ACTION] IT WITH (NOLOCK) ON IT.ID = A.IDTRANSACTIONSTATUS
			WHERE A.IDSUPPLIER = @IDSUPPLIER
			  AND (@IDDEALER = 0 OR A.IDDEALER = @IDDEALER)
			  AND A.VTYPE IN (SELECT VCODE FROM @TYPE)
			  AND A.VCONCEPT IN (SELECT VCODE FROM @CONCEPT)
			  AND (@IDESTATUS = 0 OR A.IDSTATUS = @IDESTATUS)
			  AND A.DDATE >= @DFROMDATE
			  AND A.DDATE < @DUPTODATE
			  AND A.DDATE >= @FechaInicio
			  AND ( @VFILTER='' OR A.VNUMBER LIKE @LIKEFILTER OR A.VNUMBER LIKE @LIKEFILTER )
			  AND ( @VFILTER='' OR A.VREFERENCE LIKE @LIKEFILTER OR A.VREFERENCE LIKE @LIKEFILTER )
			  AND A.IDTRANSACTIONSTATUS<>2
			 -- AND A.BMIGRATION=@BMIGRATION
		),
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
		T3 AS (
		SELECT * FROM T1
        ORDER BY T1.VDATE ASC,
		T1.VREFERENCE ASC,
		CASE 
			WHEN T1.IDTRANSACTIONSTATUS=DBO.UFN_GET_ISTATUS('AVAILABLE') THEN 1
			ELSE 2
		END
		
        OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
        FETCH NEXT @TOPE ROWS ONLY
	)
	SELECT T3.*, T2.* FROM T3, T2;

END
