USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_PENDING_CART]    Script Date: 01/09/2026 16:06:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[USP_GET_PENDING_CART] -- USP_GET_PENDING_CART 15468,1
@IDDEALER INT,
@IDUSER INT

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


SELECT TOP 1 P.ID AS IDPAYMENT, P.DDATERATE, P.NAMOUNT, COUNT(AR.ID) ICOUNT ,P.IDCURRENCY , COUNT(*) AS TOTAL  FROM ACCOUNTRECEIVABLE AR WITH (NOLOCK)
 INNER JOIN SETTLEMENTS S WITH (NOLOCK) ON AR.ID=S.IDACCOUNTRECEIVABLE
 INNER JOIN PAYMENT P WITH (NOLOCK) ON S.IDPAYMENT=P.ID
WHERE AR.IDTRANSACTIONSTATUS=2 AND P.IDUSER=@IDUSER AND P.IDDEALER=@IDDEALER
GROUP BY P.ID,P.DDATERATE, P.IDCURRENCY, P.DCREATED,P.NAMOUNT
ORDER BY P.DCREATED ASC
