USE [OASIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_PAYMENTSTATUS]    Script Date: 07/09/2026 16:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_PAYMENTSTATUS] -- [USP_GET_PAYMENTSTATUS] 1,4069,0,0,NULL,NULL,null,null,null,null
@IDUSER INT,
@IDSUPPLIER INT,
@IDDEALER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL,
@IDESTATUS INT =NULL,
@IDCURRENCY INT=NULL,
@IDTYPE INT =NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END 


    SELECT @VFILTER= ISNULL(@VFILTER,'')
    DECLARE @FechaInicio DATETIME = DATEADD(DAY, -360, GETDATE());
    SELECT @DFROMDATE = CONVERT(VARCHAR(10),isnull(@DFROMDATE,'2020-01-01'),120)
    SELECT @DUPTODATE = CONVERT(VARCHAR(10),isnull(@DUPTODATE,getdate())+1,120)
	SELECT @IDDEALER = ISNULL(@IDDEALER,0)
    SELECT @IDESTATUS = ISNULL(@IDESTATUS,0)
	SELECT @IDCURRENCY = ISNULL(@IDCURRENCY,0)
	SELECT @IDTYPE = ISNULL(@IDTYPE,0)
 

BEGIN
    WITH T1 AS (
        -- Primero obtenemos los conteos filtrados
        SELECT 
            PM.IDSTATUS,
            COUNT(PM.IDSTATUS) AS NCOUNT
        FROM PAYMENTDETAILS PM WITH (NOLOCK)
        INNER JOIN PAYMENT P ON PM.IDPAYMENT = P.ID
        WHERE P.IDSUPPLIER = @IDSUPPLIER
            AND (@IDDEALER = 0 OR P.IDDEALER = @IDDEALER)
            AND (@IDESTATUS = 0 OR PM.IDSTATUS = @IDESTATUS) -- Filtro dinámico
            AND PM.DDATE >= @DFROMDATE
            AND PM.DDATE < @DUPTODATE
            AND PM.DDATE >= @FechaInicio
            AND (@VFILTER = '' OR PM.VREFERENCE = @VFILTER)
            AND (@IDCURRENCY = 0 OR PM.IDCURRENCY = @IDCURRENCY)
            AND (@IDTYPE = 0 OR PM.IDTYPE = @IDTYPE)
        GROUP BY PM.IDSTATUS
    )
    
    -- Seleccionamos los estados fijos y cruzamos con los resultados de la CTE
    SELECT 
        A.ID,
        A.VDISPLAYESTATUS AS VNAME,
        ISNULL(T1.NCOUNT, 0) AS NCOUNT -- Si no hay registros en T1, ponemos 0
    FROM ACTION A
    LEFT JOIN T1 ON A.ID = T1.IDSTATUS
    WHERE A.ID IN (2, 16, 17) -- Mantenemos siempre estos estados
    ORDER BY A.ID;

END