USE [OASIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_PAIDAMOUNT]    Script Date: 07/09/2026 10:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_PAIDAMOUNT]  
 @DATA VARCHAR(MAX),
 @IDUSER INT =0
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		  DECLARE @ErrorMessage NVARCHAR(4000)
		  DECLARE @InsertedSettlementsDetails TABLE (ID INT);
		  DECLARE @IDPAYMENT INT 
	
				DECLARE @TDATA AS TABLE
				(
					ID INT,
					NPAIDAMOUNT NUMERIC(18,2),
					IDPAYMENT INT
				);


				INSERT INTO @TDATA (ID,NPAIDAMOUNT,IDPAYMENT)
				SELECT  H.Id,H.PaidAmount,H.PaymentId
				FROM OPENJSON(@DATA)
				WITH (
				    Id int,
					PaidAmount Numeric(18,2),
					PaymentId int
				) AS H;



				
			
	            BEGIN TRAN 

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('PAGOS-ASEGURAMIENTO');


				--IF EXISTS (SELECT * FROM  SETTLEMENTS S 
				--  INNER JOIN @TDATA T ON S.IDACCOUNTRECEIVABLE=T.ID AND  S.IDPAYMENT= T.IDPAYMENT
				--  INNER JOIN ACCOUNTRECEIVABLE A WITH (NOLOCK) ON T.ID=A.ID
				--  WHERE A.NBALANCE<T.NPAIDAMOUNT)
				--  BEGIN

				--		RAISERROR('ACCION NO PERMITIDA: MONTO ABONO MAYOR AL SALDO PENDIENTE.', 16, 1);
				--		RETURN;
				--  END 


				BEGIN
			      SET @VACTION='CREATE'
				  EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

				  UPDATE S
				  SET S.NPAIDAMOUNT=T.NPAIDAMOUNT
				  OUTPUT INSERTED.ID INTO @InsertedSettlementsDetails (ID)
				  FROM SETTLEMENTS S 
				  INNER JOIN @TDATA T ON S.IDACCOUNTRECEIVABLE=T.ID AND  S.IDPAYMENT= T.IDPAYMENT
					SELECT @IUPDATED=@@ROWCOUNT
				END
				

				   IF @IUPDATED>0 
				BEGIN
				INSERT INTO AUDIT (IDUSER, IDRECORD, IDMODULE, VCOMMENT, DCREATED, VACTION)
					SELECT 
						@IDUSER,
						PD.ID,
						@IDMODULE,
						'MODIFICACION DE ABONO',
						GETDATE(),
						'EDIT'
					FROM @InsertedSettlementsDetails PD 
				END


				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
