USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_COUNTSUMMARY]    Script Date: 27/08/2026 15:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_COUNTSUMMARY]-- USP_GET_COUNTSUMMARY 1,4069,NULL,1
@IDUSER INT, 
@IDSUPPLIER INT =NULL,
@IROWFROM INT = NULL,
@ID INT =NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	DECLARE @ISDEALER BIT=0
	IF NOT EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] WHERE IDUSER=@IDUSER)
	BEGIN
		SET @ISDEALER=1
	END

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END


BEGIN
    WITH UsersPerZone AS (
    -- Unificamos usuarios únicos asignados por Zona ('Z'), Ubicación ('L') o Planilla ('F')
    SELECT 
        ZoneId, 
        COUNT(DISTINCT UserId) AS TotalUsers
    FROM (
        -- 1. Asignados a la Zona ('Z')
        SELECT  DISTINCT
            IDASSIGN AS ZoneId, 
            IDUSER AS UserId
        FROM COUNTBYUSER WITH (NOLOCK)
        WHERE VASSIGNTYPE = 'Z' 
          AND IDINVENTORYCOUNT = @ID

        UNION

        -- 2. Asignados a una Ubicación ('L')
        SELECT 
		   DISTINCT
            L.IDZONE AS ZoneId, 
            CU.IDUSER AS UserId
        FROM COUNTBYUSER CU WITH (NOLOCK)
        INNER JOIN [LOCATION] L WITH (NOLOCK) ON CU.IDASSIGN = L.ID
        WHERE CU.VASSIGNTYPE = 'L' 
          AND CU.IDINVENTORYCOUNT = @ID

        UNION

        -- 3. Asignados a una Planilla/Formulario ('F')
        SELECT 
            L.IDZONE AS ZoneId, 
            CU.IDUSER AS UserId
        FROM COUNTBYUSER CU WITH (NOLOCK)
        INNER JOIN INVENTORYCOUNTDETAIL PD WITH (NOLOCK) ON CU.IDASSIGN = PD.IFORM
        INNER JOIN [LOCATION] L WITH (NOLOCK) ON PD.IDLOCATION = L.ID
        WHERE CU.VASSIGNTYPE = 'F' 
          AND CU.IDINVENTORYCOUNT = @ID
          AND PD.IDINVENTORY = @ID
    ) U
    GROUP BY ZoneId
),
T1 AS (
    SELECT 
        Z.ID,
        Z.VNAME AS VZONE,
        
        -- 1. Total absoluto de ubicaciones físicas
        COUNT(DISTINCT L.ID) AS ILOCATIONTOTAL,
        
        -- 2. Ubicaciones procesadas
        ISNULL(COUNT(DISTINCT CASE WHEN A.VDISPLAYESTATUS = 'PROCESADO' THEN PD.IDLOCATION END), 0) AS ILOCATIONCOUNTED,
        
        -- 3. Porcentaje de avance
        ISNULL(
            CAST(
                COUNT(DISTINCT CASE WHEN A.VDISPLAYESTATUS = 'PROCESADO' THEN PD.IDLOCATION END) * 100.0 
                / NULLIF(COUNT(DISTINCT L.ID), 0) 
                AS DECIMAL(18,2)
            ), 
            0.00
        ) AS DPORCENTAGE,

        -- 4. Cantidad de usuarios únicos asignados
        ISNULL(UZ.TotalUsers, 0) AS IUSERSASSIGNED

    FROM [ZONE] Z WITH (NOLOCK) 
    LEFT JOIN [LOCATION] L WITH (NOLOCK) 
        ON Z.ID = L.IDZONE
    LEFT JOIN INVENTORYCOUNTDETAIL PD WITH (NOLOCK) 
        ON L.ID = PD.IDLOCATION AND PD.IDINVENTORY = @ID
    LEFT JOIN ACTION A WITH (NOLOCK) 
        ON PD.IDSTATUS = A.ID
    LEFT JOIN UsersPerZone UZ 
        ON Z.ID = UZ.ZoneId

    WHERE Z.IDSUPPLIER = @IDSUPPLIER
      AND Z.VNAME NOT IN ('TRANSITO', 'CROSS DOCKING')
	  AND EXISTS (SELECT * FROM INVENTORY I WITH (NOLOCK) WHERE I.IDLOCATION=L.ID AND ISNULL (I.ISTOCK,0)<>0)


    GROUP BY 
        Z.ID, 
        Z.VNAME,
        UZ.TotalUsers
), 
T2 AS (
    SELECT COUNT(*) AS TOTAL FROM T1
),
T3 AS (
    SELECT * 
    FROM T1
    ORDER BY T1.VZONE DESC
    OFFSET @IROWFROM ROWS
    FETCH NEXT @TOPE ROWS ONLY
)

SELECT 
    T3.*, 
    T2.TOTAL
FROM T3
CROSS JOIN T2;

END