USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_DOCUMENTCONCEPTS]    Script Date: 28/08/2026 11:22:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_DOCUMENTCONCEPTS] --USP_GET_DOCUMENTCONCEPTS 1
@IDCURRENCY INT

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	IF @IDCURRENCY=2 
	BEGIN

	SELECT C.* FROM DOCUMENTCONCEPT C WITH (NOLOCK)
	WHERE VNAME NOT IN ('RETENCION IVA (75%)','IVA (25%)','IGTF')
	END
	ELSE 
	BEGIN 
		SELECT C.* FROM DOCUMENTCONCEPT C WITH (NOLOCK)
	END
	

