USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_DISPATCHEDCONTROL_GROUP]    Script Date: 10/08/2026 11:12:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
ALTER PROCEDURE [dbo].[USP_GET_DISPATCHEDCONTROL_GROUP]   
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IROWFROM INT = NULL,
@IDCONTROL INT = 0
 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000 

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END  
BEGIN
    SELECT 
        I.IDCONTROL, 
        P.VINNERCODE AS VCODEPART,  
        P.VDESCRIPTION AS VPART,
        SUM(I.IDISPATCHED) AS IDISPATCHED,  
        P.NPRICE,
		I.VTYPE
    FROM DISPATCHEDCONTROL I WITH (NOLOCK) 
    INNER JOIN PART P ON P.ID = I.IDPART
    WHERE   
		I.IESTATUS = 2
        AND I.IDCONTROL = @IDCONTROL
        AND I.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 THEN I.IDSUPPLIER ELSE @IDSUPPLIER END 
        AND EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] R WHERE R.IDUSER = @IDUSER AND R.IDSUPPLIER = I.IDSUPPLIER)
        AND I.BMARK = 1 
    GROUP BY 
        I.IDCONTROL, 
        P.VINNERCODE,  
        P.VDESCRIPTION,
        P.NPRICE,
		I.VTYPE
    ORDER BY P.VINNERCODE
END