USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_DOCUMENTTYPES]    Script Date: 28/08/2026 11:33:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[USP_GET_DOCUMENTTYPES] --USP_GET_DOCUMENTTYPES 2
@IDCURRENCY INT 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

   IF @IDCURRENCY=1
   BEGIN
		SELECT C.* FROM DOCUMENTTYPE C WITH (NOLOCK)
		WHERE C.VNAME <>'PROFORMA' 
		ORDER BY ID ASC
   END

   ELSE
   BEGIN
	   SELECT C.* FROM DOCUMENTTYPE C WITH (NOLOCK)
   END

