USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GROUP_FROM]    Script Date: 21/08/2026 14:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GROUP_FORM] --USP_GROUP_FORM 5,4076
 @IDINVENTORYCOUNT INT,
 @IDSUPPLIER INT 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         :  
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
	SET NOCOUNT ON;

DECLARE @IFROM VARCHAR(50);
DECLARE @ContadorBloque INT = -1;
DECLARE @IDZoneActual INT;

-- 1. Crear tabla temporal clasificando registros normales y registros NULL por ZONA
IF OBJECT_ID('tempdb..#TmpInventory') IS NOT NULL 
    DROP TABLE #TmpInventory;

SELECT 
    D.ID,
    Z.ID AS IDZONE,
    -- Si es un registro con valores en NULL, le asignamos un identificador de bloque especial (-1)
    -- Para el resto, agrupamos de 20 en 20 por zona
    CASE 
        WHEN D.IDPART IS NULL AND D.IDLOCATION IS NULL THEN -1
        ELSE (ROW_NUMBER() OVER(
            PARTITION BY Z.ID, (CASE WHEN D.IDPART IS NULL AND D.IDLOCATION IS NULL THEN 1 ELSE 0 END)
            ORDER BY 
                CASE WHEN Z.VSIZE = 'P' THEN 1 WHEN Z.VSIZE = 'M' THEN 2 ELSE 3 END, 
                L.VNAME ASC
        ) - 1) / 20
    END AS NumBloque,
    CAST(NULL AS VARCHAR(50)) AS NuevoCorrelativo
INTO #TmpInventory
FROM INVENTORYCOUNTDETAIL D WITH (NOLOCK)
INNER JOIN INVENTORYCOUNT C WITH (NOLOCK) ON D.IDINVENTORY = C.ID
LEFT JOIN [LOCATION] L WITH (NOLOCK) ON D.IDLOCATION = L.ID
LEFT JOIN [ZONE] Z WITH (NOLOCK) ON L.IDZONE = Z.ID OR D.IDZONE = Z.ID -- Soporta IDZONE directo en D
WHERE D.IDINVENTORY = @IDINVENTORYCOUNT 
  AND C.IDSUPPLIER = @IDSUPPLIER;

-- 2. Recorrer TODOS los bloques por zona (incluyendo el bloque -1 de registros NULL)
DECLARE cur_bloques CURSOR LOCAL FAST_FORWARD FOR 
    SELECT DISTINCT IDZONE, NumBloque 
    FROM #TmpInventory 
    WHERE IDZONE IS NOT NULL
    ORDER BY IDZONE, NumBloque;

OPEN cur_bloques;
FETCH NEXT FROM cur_bloques INTO @IDZoneActual, @ContadorBloque;

WHILE @@FETCH_STATUS = 0
BEGIN
    -- Ejecutar la secuencia para obtener un correlativo nuevo por cada bloque (normal o NULL)
    IF @IDSUPPLIER = 4069
    BEGIN
        EXEC USP_ACT_SECUENCE 'CICHANGAN', @IFROM OUT;
    END
    ELSE IF @IDSUPPLIER = 4076
    BEGIN 
        EXEC USP_ACT_SECUENCE 'CIFOTON', @IFROM OUT;
    END

    -- Asignar el correlativo correspondiente
    UPDATE #TmpInventory
    SET NuevoCorrelativo = @IFROM
    WHERE IDZONE = @IDZoneActual 
      AND NumBloque = @ContadorBloque;

    FETCH NEXT FROM cur_bloques INTO @IDZoneActual, @ContadorBloque;
END;

CLOSE cur_bloques;
DEALLOCATE cur_bloques;

-- 3. Actualizar el campo IFORM en la tabla principal
UPDATE D
SET D.IFORM = T.NuevoCorrelativo
FROM INVENTORYCOUNTDETAIL D
INNER JOIN #TmpInventory T ON D.ID = T.ID;

-- 4. Tratar casos donde la cantidad no cambió
UPDATE D
SET D.IFORM = '0'
FROM INVENTORYCOUNTDETAIL D
WHERE D.IQUANTITY_OLD = D.IQUANTITY_NEW 
  AND D.IDINVENTORY = @IDINVENTORYCOUNT
  AND D.IDCOUNT = 0;

-- Limpieza
DROP TABLE #TmpInventory;
END;
GO
