USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_PAYMENTDETAILS_BY_ID]    Script Date: 04/09/2026 8:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_ONE_PAYMENTDETAILS] -- [USP_GET_ONE_PAYMENTDETAILS] 1,0,45
@IDUSER INT,
@IROWFROM INT = NULL,
@IDPAYMENTDETAIL INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	-- 1. PREPARAR VARIABLES DE TOPE Y PAGINACION
	IF @IROWFROM IS NULL
	    BEGIN
		    SET @TOPE=1000000
		    SET @IROWFROM=0
	    END
	ELSE
	    BEGIN
		    SET @TOPE=100
	    END

 
BEGIN
	WITH 
		T1 AS (
			SELECT
				PM.ID,
				PM.DDATE,
				CAST( ROUND( CASE WHEN PM.IDCURRENCY = 1 THEN (PM.NAMOUNT / NRATE) ELSE PM.NAMOUNT END, 2) AS DECIMAL(18,2)) AS NAMOUNT,
				CAST( ROUND( CASE WHEN PM.IDCURRENCY = 2 THEN (PM.NAMOUNT * NRATE) ELSE PM.NAMOUNT END, 2) AS DECIMAL(18,2)) AS NAMOUNTBS,
				P.NRATE,
				C.VNAME AS VCURRENCY,
				c.ID AS IDCURRENCY,
				PT.VNAME AS VTYPE,
				PT.ID AS IDTYPE,
				PM.VREFERENCE,
				B.VNAME AS VBANK,
				B.ID AS IDBANK,
				BA.ID AS IDACCOUNT,
				B.VCODE+ BA.VCODE AS VACCOUNTNUMBER,
				P.IDDEALER,
				P.IDSUPPLIER,
				V.DEALER AS VDEALER,
			    A.VDISPLAYESTATUS  AS VESTATUS,
				a.ID as IDESTATUS,
				P.ID AS IDPAYMENT,
			    P.DDATERATE,
				BO.VCODE+'-'+BO.VNAME AS VBANKORIGIN,
				BO.ID AS IDBANKORIGIN
			FROM PAYMENTDETAILS PM WITH (NOLOCK)
			INNER JOIN PAYMENT P WITH (NOLOCK) ON PM.IDPAYMENT=P.ID 
			INNER JOIN CURRENCY C WITH (NOLOCK) ON PM.IDCURRENCY=C.ID
			INNER JOIN PAYMENTTYPE PT WITH (NOLOCK) ON PM.IDTYPE=PT.ID
			LEFT JOIN BANKACCOUNT BA WITH (NOLOCK) ON PM.IDBANKACCOUNT=BA.ID
			LEFT JOIN DESTINYBANK B WITH (NOLOCK) ON BA.IDBANK=B.ID
			LEFT JOIN BANK BO WITH (NOLOCK) ON PM.IDBANKORIGIN=BO.ID
			INNER JOIN ACTION A WITH (NOLOCK) ON PM.IDSTATUS=A.ID
			INNER JOIN V_DEALERS V ON P.IDDEALER=V.IDDEALER
			WHERE PM.ID=@IDPAYMENTDETAIL
			
		)
		 -- 5. PAGINAR 
		SELECT T1.* 
		FROM T1
        ORDER BY T1.DDATE
        OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
        FETCH NEXT @TOPE ROWS ONLY

END

