USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_BANKSTATEMENT]    Script Date: 02/09/2026 22:04:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_BANKSTATEMENT] -- [USP_GET_BANKSTATEMENT] 1,4069,0,NULL,NULL,null,0
@IDUSER INT,
@IDSUPPLIER INT,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL,
@BPENDING INT =NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	-- 1. PREPARAR VARIABLES DE TOPE Y PAGINACION
	IF @IROWFROM IS NULL
	    BEGIN
		    SET @TOPE=1000000
		    SET @IROWFROM=0
	    END
	ELSE
	    BEGIN
		    SET @TOPE=100
	    END

    -- 2. PREPARAR VARIABLES FILTRADOS
    SELECT @VFILTER= ISNULL(@VFILTER,'')
    DECLARE @FechaInicio DATETIME = DATEADD(DAY, -360, GETDATE());
    SELECT @DFROMDATE = CONVERT(VARCHAR(10),isnull(@DFROMDATE,'2020-01-01'),120)
    SELECT @DUPTODATE = CONVERT(VARCHAR(10),isnull(@DUPTODATE,getdate())+1,120)


BEGIN
	WITH 
		T1 AS (
			SELECT
			PM.ID,
			PM.DTRANSDATE,
			PM.VBANKACCOUNTFULL,
			PM.VREFERENCE,
			PM.NAMOUNT,
			PM.IDPAYMENTDETAIL,
			PM.DCREATED,
			CASE 
				WHEN ISNULL(PM.IDPAYMENTDETAIL,0)>0 THEN 'SINCRONIZADO'
				ELSE 'PENDIENTE'
			END AS VESTATUS
			FROM BANKSTATEMENT PM WITH (NOLOCK)
			WHERE
				PM.IDSUPPLIER= @IDSUPPLIER
				AND PM.DTRANSDATE >= @DFROMDATE
				AND PM.DTRANSDATE < @DUPTODATE
				AND PM.DTRANSDATE >=@FechaInicio
				AND (@VFILTER='' OR PM.VREFERENCE=@VFILTER)
				AND (@BPENDING <> 1 OR ISNULL(PM.IDPAYMENTDETAIL, 0) > 0)
		)
		 -- 5. PAGINAR 
		SELECT T1.* 
		FROM T1
        ORDER BY 
		T1.DTRANSDATE DESC
        OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
        FETCH NEXT @TOPE ROWS ONLY
END
