USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_MOUNT_PAYMENT]    Script Date: 03/09/2026 11:29:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_MOUNT_PAYMENT]--USP_MOUNT_PAYMENT 78,1
@IDPAYMENT INT,
@IDUSER INT
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/


SET NOCOUNT ON;
BEGIN
   
			    DECLARE @TOTAL NUMERIC(18,2),
						@NRATE NUMERIC (18,4),
						@SALDO NUMERIC(18,2);

				  --------------SELECCION DE TASA --------------
				 SET @NRATE = (SELECT NRATE FROM PAYMENT WITH (NOLOCK) WHERE ID=@IDPAYMENT)
	       
			     -------------------------CALCULO DE TOTAL PAGADO-------------------------------------
				 SET @TOTAL = (SELECT  SUM( CASE WHEN C.VNAME ='$ - Dolar'  THEN PD.NAMOUNT ELSE (PD.NAMOUNT / NULLIF(@NRATE, 0)) END)
										FROM PAYMENTDETAILS PD WITH (NOLOCK)
										LEFT JOIN CURRENCY C  WITH (NOLOCK) ON PD.IDCURRENCY=C.ID 
										WHERE IDPAYMENT=@IDPAYMENT AND IDSTATUS<>DBO.UFN_GET_ISTATUS('DECLINE') )	
				
				SET @SALDO=(SELECT SUM(NPAIDAMOUNT) FROM SETTLEMENTS WHERE IDPAYMENT=@IDPAYMENT)

				-- INGRESAR EL TOTAL EN TABLA PAYMENT
				UPDATE PAYMENT 
				SET NPAIDAMOUNT=@TOTAL,
				    NAMOUNT=@SALDO
				WHERE ID=@IDPAYMENT
				 ----------------------------CALCULO TOTAL PAGADO------------------------------------------
				UPDATE S
				SET S.NPAIDAMOUNT = CASE 
										WHEN P.IDCURRENCY=2 AND ISNULL(S.NPAIDAMOUNT,0)=0 THEN  A.NBALANCE
										WHEN P.IDCURRENCY=1 AND ISNULL(S.NPAIDAMOUNT,0)=0 THEN  (A.NBALANCE*@NRATE)
										WHEN A.VCONCEPT='R' AND  P.IDCURRENCY=1 AND ISNULL(S.NPAIDAMOUNT,0)=0 THEN  CAST((A.NBALANCE * A.NRATE) AS DECIMAL(18,2))
										ELSE S.NPAIDAMOUNT END
				FROM SETTLEMENTS S
				INNER JOIN PAYMENT P WITH (NOLOCK) ON S.IDPAYMENT=P.ID 
				INNER JOIN ACCOUNTRECEIVABLE A WITH (NOLOCK) ON S.IDACCOUNTRECEIVABLE=A.ID
				WHERE S.IDPAYMENT=@IDPAYMENT

END
