USE OASIS
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_CLAIM]    Script Date: 2/5/2026 9:46:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[USP_POST_CLAIM]
    @DATA NVARCHAR(MAX) = NULL,
    @IDUSER INT = 0,
	@IDGUIDE INT = 0
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               : 
  '   VERSIÓN               :
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/   
SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000
 
BEGIN
    BEGIN TRY
        BEGIN TRAN 

        DECLARE @IID INT
        DECLARE @IINSERTED INT
        DECLARE @IUPDATED INT 
        DECLARE @VACTION VARCHAR(50) 
		  
		DECLARE @IDSUPPLIER_GUIDE INT
        DECLARE @IDDEALER_GUIDE INT 
        DECLARE @IDSUPPLIER_DEALER INT
        DECLARE @IDDEALER_ACTUAL INT

		-- SELECT * FROM MODULE
		DECLARE @IDMODULE INT = [dbo].[UFN_GET_IDMODULE]('PEDIDOS-RECLAMOS');  --cambio del nombre del modulo INVENTARIO-PROCESOS-RECLAMOS

        DECLARE @TDATA TABLE (  
            ID INT,
            IDSUPPLIER INT,
            IDDEALER INT,  
			IDUSER INT,
			--IDESTATUS INT,
            VREFERENCE VARCHAR(100),
            VNOTE VARCHAR(500),
            VCOMMENT VARCHAR(500),
            VINVOICE VARCHAR(100),
            VGUIDE VARCHAR(100)
        )
				  
        ---------------------------------------------- AUTOMÁTICO----------------------------------------------------------
        IF @IDGUIDE > 0
        BEGIN  
		 
		  SELECT TOP 1
				@IDSUPPLIER_GUIDE = G.IDSUPPLIER,
				@IDDEALER_GUIDE = S.IDDEALER 
			FROM GUIDE G WITH (NOLOCK)  
			INNER JOIN GUIDEDETAILS GD ON GD.IDGUIDE = G.ID
			INNER JOIN SALEORDER S ON S.ID = GD.IDSALEORDER
			WHERE G.ID = @IDGUIDE
                
            INSERT INTO CLAIM (
                IDSUPPLIER,
                IDDEALER,
                IDUSER,
                IDSTATUS, 
                VREFERENCE,   
                DCREATED,
                DUPDATED
            )
            VALUES (
                @IDSUPPLIER_GUIDE,
                @IDDEALER_GUIDE,
                @IDUSER,
                dbo.UFN_GET_ISTATUS('TOAPPROVE'), 
				CAST(@IDGUIDE AS VARCHAR(10)),  
                GETDATE(),
                GETDATE()
            )
            
            SET @IID = SCOPE_IDENTITY()
            SET @IINSERTED = 1
              
            INSERT INTO CLAIMDETAIL (
                IDCLAIM,
                IDPART,
                IQUANTITY,
                IDREASON,
                IDSTATUS
            )
            SELECT 
                @IID,
                GD.IDPART,
                abs(GD.IRECEIVED - GD.IQUANTITY), 
                GD.IDREASON,
                DBO.UFN_GET_ISTATUS('CREATE')
            FROM GUIDEDETAILS GD
            WHERE GD.IDGUIDE = @IDGUIDE
                AND GD.IRECEIVED <> GD.IQUANTITY  


            SELECT 
                ISNULL(@IID, 0) AS IID, 
                ISNULL(@IINSERTED, 0) AS IINSERTED,
                ISNULL(@IUPDATED, 0) AS IUPDATED
        END


        ------------------------------------------------------- MANUAL----------------------------------------------------------
        ELSE IF @DATA IS NOT NULL
        BEGIN
			INSERT INTO @TDATA
			SELECT  
				C.Id,
                C.SupplierId,
                C.DealerId, 
				C.UserId,
				--C.StatusId,
                C.Reference,
                C.Note,
                C.Comment,
                C.Invoice,
				C.Guide
			FROM OPENJSON(@DATA)
			WITH (
               Id int,
               SupplierId int,
                DealerId int, 
				UserId int,
				--StatusId int,
                Reference VARCHAR(100),
                Note VARCHAR(100),
               Comment VARCHAR(100),
                Invoice VARCHAR(100),
                Guide VARCHAR(100)
				) AS C

 SELECT TOP 1 @IDDEALER_ACTUAL = IDDEALER FROM @TDATA
            SELECT @IDSUPPLIER_DEALER = IDSUPPLIER FROM V_DEALERS WHERE IDDEALER = @IDDEALER_ACTUAL
            
            --  Actualizar el SupplierId en @TDATA 
            UPDATE @TDATA SET IDSUPPLIER = @IDSUPPLIER_DEALER

            -- Insertar nuevo reclamo manual
           IF EXISTS (SELECT * FROM @TDATA WHERE ID=0)
			BEGIN
			    SET @VACTION='CREATE'
			   -- EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
                 
	
                INSERT INTO CLAIM (
                    IDSUPPLIER,
                    IDDEALER, 
					IDUSER,
                    IDSTATUS,
                    VREFERENCE,
                    --VNOTE,
                    VCOMMENT,
					DCREATED,
                    VINVOICE
                    --VGUIDE
                )
                SELECT 
                    IDSUPPLIER,
                    IDDEALER,
					IDUSER,
                    DBO.UFN_GET_ISTATUS('CREATE'),  
                    VREFERENCE,
                    --VNOTE,
                    VCOMMENT,
                    GETDATE(),
                    VINVOICE
                    --VGUIDE
                FROM @TDATA D
					WHERE NOT EXISTS (SELECT * FROM CLAIM M WITH (NOLOCK) WHERE M.ID = D.ID);
                 
				SELECT @IINSERTED=@@ROWCOUNT
				SELECT @IID=SCOPE_IDENTITY() 
            END

            ELSE IF EXISTS (SELECT * FROM @TDATA WHERE ID > 0)
            BEGIN
                -- Validar que el reclamo existe  
				IF EXISTS (
                    SELECT 1 FROM CLAIM C
                    INNER JOIN @TDATA D ON D.ID = C.ID
                    WHERE C.IDSTATUS IN (
                        DBO.UFN_GET_ISTATUS('CREATE')
                        --DBO.UFN_GET_ISTATUS('APPROVE')  
                    ) 
                )

                BEGIN 
                    SET @VACTION = 'EDIT'
                  --  EXEC USP_CHECK_CREDENTIALS @IDUSER, @VACTION, @IDMODULE
                    
                    UPDATE C
                    SET 
                        C.VREFERENCE = D.VREFERENCE,
                        --C.VNOTE = D.VNOTE,
                        C.VCOMMENT = D.VCOMMENT,
                        C.VINVOICE = D.VINVOICE, 
                        C.DUPDATED = GETDATE()
                        --C.VGUIDE = D.VGUIDE 
                    FROM CLAIM C
                    INNER JOIN @TDATA D ON D.ID = C.ID
                    WHERE C.ID = D.ID 
                    
                    SET @IUPDATED = @@ROWCOUNT
                    SELECT TOP 1 @IID = ID FROM @TDATA WHERE ID > 0 
                END
				ELSE
				BEGIN
					RAISERROR('El reclamo no se puede editar en su estado actual.', 16, 1)
					RETURN
				END
            END
            
            SELECT 
                ISNULL(@IID, 0) AS IID, 
                ISNULL(@IINSERTED, 0) AS IINSERTED,
                ISNULL(@IUPDATED, 0) AS IUPDATED
        END 

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000) 
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
        RAISERROR (@ErrorMessage, 16, 1)
    END CATCH
END
