USE OASIS
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_REPLICATE_PACKAGE]    Script Date: 1/28/2026 11:00:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[USP_POST_REPLICATE_PACKAGE]  
  @IDPACKAGE INT,          
  @REPLICATION_COUNT INT     
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : sarahy chirinos
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
    BEGIN TRY
          BEGIN TRAN 

            DECLARE @IID INT 
		DECLARE @IINSERTED INT
			DECLARE @IUPDATED INT
            DECLARE @IDSUPPLIER INT
            DECLARE @IDCUSTOMER INT
            DECLARE @NWEIGHT NUMERIC(18,2)
            DECLARE @IDPART INT
            
            -- Validación básica
            IF @REPLICATION_COUNT <= 0
                RAISERROR ('ERROR: La cantidad de replicaciones debe ser mayor a 0', 16, 1)
            
            -- Verificar bulto válido con un solo producto de cantidad 1
            IF NOT EXISTS (
                SELECT 1 
                FROM PACKAGE P
                INNER JOIN PACKAGEDETAIL PD ON P.ID = PD.IDPACKAGE
                WHERE P.ID = @IDPACKAGE
                AND P.BCLOSED = 1
                AND ISNULL(P.NWEIGHT, 0) > 0
                AND (P.IDGUIDE IS NULL OR P.IDGUIDE = 0)
                AND PD.IQUANTITY = 1
                AND NOT EXISTS (
                    SELECT 1 FROM PACKAGEDETAIL PD2 
                    WHERE PD2.IDPACKAGE = P.ID AND PD2.ID != PD.ID
                )
            )
            BEGIN
                RAISERROR ('ERROR: Bulto no válido para replicación', 16, 1)
            END
            

			IF @REPLICATION_COUNT > 10
            BEGIN
                RAISERROR ('ERROR: La cantidad de replicaciones no puede ser mayor a 10', 16, 1)
            END

            -- Obtener datos
            SELECT 
                @IDSUPPLIER = P.IDSUPPLIER,
                @IDCUSTOMER = P.IDCUSTOMER,
                @NWEIGHT = P.NWEIGHT,
                @IDPART = PD.IDPART
            FROM PACKAGE P
            INNER JOIN PACKAGEDETAIL PD ON P.ID = PD.IDPACKAGE
            WHERE P.ID = @IDPACKAGE
            
            -- Obtener inventario pendiente DIRECTAMENTE de la vista
            DECLARE @AVAILABLE_QUANTITY INT
            
            SELECT @AVAILABLE_QUANTITY = ISNULL(SUM(V.IPENDING), 0)
            FROM V_MOVEMENTDETAILS_FORPACKAGING V
            WHERE V.IDSUPPLIER = @IDSUPPLIER
                AND V.IDCUSTOMER = @IDCUSTOMER
                AND V.IDPART = @IDPART
            
            -- Si no hay inventario, terminar
            IF ISNULL(@AVAILABLE_QUANTITY, 0) <= 0
            BEGIN
                RAISERROR ('ERROR: No hay unidades disponibles de este repuesto', 16, 1)
            END
            
            -- Validar que haya suficiente
            IF @AVAILABLE_QUANTITY < @REPLICATION_COUNT
            BEGIN
                RAISERROR ('ERROR: Unidades insuficientes', 
                          16, 1, @AVAILABLE_QUANTITY, @REPLICATION_COUNT)
            END
            
            -- Replicar
            DECLARE @counter INT = 1
            
            WHILE @counter <= @REPLICATION_COUNT
            BEGIN
                DECLARE @NEW_PACKAGE_ID INT
                DECLARE @VCODE NVARCHAR(10)
                
                INSERT INTO PACKAGE (IDSUPPLIER, IDCUSTOMER, VCODE, NWEIGHT, BCLOSED, IDGUIDE, INUMBER)
                VALUES (@IDSUPPLIER, @IDCUSTOMER, '', @NWEIGHT, 1, NULL, NULL)
                
                SET @NEW_PACKAGE_ID = SCOPE_IDENTITY()
                
                SET @VCODE = RIGHT('00000000' + CAST(@NEW_PACKAGE_ID AS NVARCHAR(8)), 8)
                UPDATE PACKAGE SET VCODE = @VCODE WHERE ID = @NEW_PACKAGE_ID
                
                INSERT INTO PACKAGEDETAIL (IDPACKAGE, IDPART, IQUANTITY)
                VALUES (@NEW_PACKAGE_ID, @IDPART, 1)
                
                DECLARE @NEW_DETAIL_ID INT = SCOPE_IDENTITY()
                EXEC USP_POST_PACKAGEDETAIL_RELATED @NEW_DETAIL_ID
                
                SET @counter = @counter + 1

				SELECT @IUPDATED=@@ROWCOUNT
            END
			SELECT
			ISNULL(@IID,0) AS IID ,  
		ISNULL(@IINSERTED,0) AS IINSERTED,
			ISNULL(@IUPDATED,0) AS IUPDATED
        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        
        DECLARE @ErrorMessage NVARCHAR(4000) 
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
        RAISERROR (@ErrorMessage, 16, 1) 
    END CATCH
END
