USE [ZEPPELIN]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_MOVEMENTDETAILS]    Script Date: 1/6/2026 12:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_MOVEMENTDETAILS] -- USP_GET_MOVEMENTDETAILS 831
@IDMOVEMENT INT,
@ID INT = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	DECLARE @INVENTARIO AS TABLE (IDPART INT,ISTOCK INT)

	INSERT INTO @INVENTARIO
	SELECT I.IDPART,SUM(I.ISTOCK) ISTOCK
	FROM INVENTORY I WITH (NOLOCK)
	INNER JOIN DBO.LOCATION L WITH (NOLOCK) ON L.ID=I.IDLOCATION
	WHERE L.VTYPE='A' AND I.ISTOCK>0
	GROUP BY I.IDPART


	SELECT D.*,ISNULL(I.ISTOCK,0) ISTOCK,
		PT.VNAME AS VPARTIALTYPE,  
		PT.ID AS IDPARTIALTYPE    
	FROM V_MOVEMENTDETAILS D
	LEFT JOIN @INVENTARIO I ON I.IDPART=D.IDPART
	LEFT JOIN PARTIALTYPE PT WITH (NOLOCK) ON PT.ID = D.IDPARTIALTYPE
	WHERE D.IDMOVEMENT=@IDMOVEMENT
	AND D.ID =  CASE WHEN ISNULL(@ID,0)=0 THEN D.ID ELSE @ID END 
	ORDER BY D.VCODEPART, CASE WHEN D.VTYPE='P' THEN 1 ELSE 2 END ASC,
	D.VPART

END

 
	 
	 
	 