USE OASIS
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_CLAIMDETAILS]    Script Date: 2/5/2026 9:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_POST_CLAIMDETAILS]
    @DATA NVARCHAR(MAX),
    @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               : 
  '   VERSIÓN               :
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN :  
  '===============================================================*/   
     
SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
    BEGIN TRY
        BEGIN TRAN 
			 
        DECLARE @TDATA AS TABLE
        (
            ID INT,
            IDCLAIM INT,
            IDPART INT,
            IQUANTITY INT,
            IDSTATUS INT,
            IDREPLACEMENT_PART INT,
            IDREASON INT,
            VCOMMENT VARCHAR(1000),
            IAPPROVEDQUANTITY INT
        );

        INSERT INTO @TDATA
        SELECT 
            M.Id, 
            M.ClaimId,
            M.PartId,
            M.Quantity,
            M.StatusId,
            M.ReplacementPartId,
            M.ReasonId,
            M.Comment,
            M.IApproved
        FROM OPENJSON(@DATA)
        WITH (
            Id INT,
            ClaimId INT,
            PartId INT,
            Quantity INT,
            StatusId INT,
            ReplacementPartId INT,
            ReasonId INT,
            Comment VARCHAR(1000),
            IApproved INT
        ) AS M

        DECLARE @IID INT
        DECLARE @IINSERTED INT
        DECLARE @IUPDATED INT
        DECLARE @CURRENT_CLAIM_ID INT

        SELECT TOP 1 @CURRENT_CLAIM_ID = IDCLAIM FROM @TDATA

        -- VALIDAR QUE EL RECLAMO EXISTA
        IF NOT EXISTS (SELECT 1 FROM CLAIM WHERE ID = @CURRENT_CLAIM_ID)
        BEGIN
            RAISERROR('El reclamo no existe.', 16, 1)
            RETURN
        END

        -- VALIDAR QUE EL RECLAMO ESTÉ EN BORRADOR (CREATE)
        IF NOT EXISTS (
            SELECT 1 FROM CLAIM 
            WHERE ID = @CURRENT_CLAIM_ID 
            AND IDSTATUS = dbo.UFN_GET_ISTATUS('CREATE')
        )
        BEGIN
            RAISERROR('Solo se pueden agregar/editar items cuando el reclamo está en estado BORRADOR.', 16, 1)
            RETURN
        END

        -- INSERTAR NUEVOS ITEMS (ID = 0)
        IF EXISTS (SELECT * FROM @TDATA WHERE ID = 0)
        BEGIN
            INSERT INTO CLAIMDETAIL(
                IDCLAIM,
                IDPART,
                IQUANTITY, 
                IDSTATUS   ,
                --IDREPLACEMENT_PART,
                IDREASON 
                --VCOMMENT,
                --IAPPROVEDQUANTITY
            )
            SELECT	
                IDCLAIM,
                IDPART,
                IQUANTITY, 
                dbo.UFN_GET_ISTATUS('CREATE')  ,
                --IDREPLACEMENT_PART,
                IDREASON 
                --VCOMMENT,
                --IAPPROVEDQUANTITY  
            FROM @TDATA D
            WHERE D.ID = 0   

            SELECT @IINSERTED = @@ROWCOUNT
            SELECT @IID = SCOPE_IDENTITY()
        END

        -- EDITAR ITEMS EXISTENTES (ID > 0)
        IF EXISTS (SELECT * FROM @TDATA WHERE ID > 0)
        BEGIN
            UPDATE CD
            SET  
                CD.IQUANTITY = D.IQUANTITY,  
                CD.IDREASON = D.IDREASON   
            FROM CLAIMDETAIL CD
            INNER JOIN @TDATA D ON D.ID = CD.ID
            WHERE D.ID > 0
            AND CD.IDSTATUS = dbo.UFN_GET_ISTATUS('CREATE')   

            SET @IUPDATED = @@ROWCOUNT
        END

        SELECT 
            ISNULL(@IID, 0) AS IID, 
            ISNULL(@IINSERTED, 0) AS IINSERTED,
            ISNULL(@IUPDATED, 0) AS IUPDATED

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000) 
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
        RAISERROR (@ErrorMessage, 16, 1)
    END CATCH
END