GO
/****** Object:  StoredProcedure [dbo].[USP_POST_MAINTENANCE_ACTIONS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_MAINTENANCE_ACTIONS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_MAINTENANCE_ACTIONS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_POST_MAINTENANCE_ACTIONS]
 @DATA NVARCHAR(MAX),
 @IDUSER INT,
 @IDSERVICETYPE INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
 

		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(MAX),
					IDRELATED INT
				);

				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS A


				DECLARE @VACTION VARCHAR(20)
				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				SELECT TOP 1 @VACTION=VACTION FROM @TDATA
	            DECLARE @APROBADOS INT;
				DECLARE @PENDIENTES INT;
				DECLARE @IDCOMMENT INT ;
				DECLARE @IDMODULE INT=(SELECT TOP 1 IDMODULE FROM @TDATA)
				DECLARE @TEMPLATE VARCHAR(100)='PLANTILLA DE NOTIFICACION ESTATUS Y MSJ'
				DECLARE @VRECORD VARCHAR(20) 
				DECLARE @VACTIONRECORD VARCHAR(20)
				DECLARE @ErrorMessage NVARCHAR(4000) 

				DECLARE @VCONTEXT VARCHAR(100) = (
													CASE 
														WHEN @IDSERVICETYPE = 1 THEN 'NOTIFICACION MODULO MANTENIMIENTO'
														WHEN @IDSERVICETYPE = 2 THEN 'NOTIFICACION MODULO ASISTENCIA TECNICA'
														WHEN @IDSERVICETYPE = 3 THEN 'NOTIFICACION MODULO REPORTE DE FALLA'
														ELSE 'CONTEXT DESCONOCIDO'
													END
												 );

		       EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE


	BEGIN TRAN

			   -----------------------------VALIDACION DE ACCIONES PARA MANTENIMIENTO--------------------------------------------
			   IF @IDSERVICETYPE=1 AND EXISTS (SELECT T.* FROM  @TDATA T
				INNER JOIN MAINTENANCE P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
				WHERE (T.VACTION= 'APPROVE' AND A.VNAME<>'TOAPPROVE')OR
				     (T.VACTION = 'DECLINE' AND A.VNAME <>'TOAPPROVE')
				       )
				BEGIN

				SELECT TOP 1 @VRECORD='0000000'+p.ID, @VACTION=T.VACTION, @VACTIONRECORD=A.VNAME FROM @TDATA T
				INNER JOIN MAINTENANCE P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
				WHERE (T.VACTION= 'APPROVE' AND A.VNAME<>'TOAPPROVE')OR
				     (T.VACTION = 'DECLINE'  AND A.VNAME <>'TOAPPROVE')
				   SET @ErrorMessage ='ACCION NO PERMITIDA PARA EL ESTADO ACTUAL DEL REPORTE '+ISNULL(@VRECORD,'')
				   RAISERROR ( @ErrorMessage , 16,1) 
				   RETURN
				END
				----------------------------------VALIDACION DE ACCIONES PARA ASISTENCIA TECNICA-----------------------------------


				   IF @IDSERVICETYPE=2 AND EXISTS (SELECT T.* FROM  @TDATA T
				INNER JOIN MAINTENANCE P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
				WHERE (T.VACTION= 'TOAPPROVE' AND A.VNAME<>'CREATE')OR
				      (T.VACTION= 'ASSIGN' AND A.VNAME<>'TOAPPROVE')OR
				      (T.VACTION= 'UNASSIGN' AND A.VNAME<>'ASSIGN') OR
					  (T.VACTION= 'APPROVE' AND A.VNAME<>'ASSIGN') OR
					  (T.VACTION= 'PROCESS' AND A.VNAME<>'APPROVE') OR
				      (T.VACTION = 'DECLINE' AND A.VNAME<>'ASSIGN') 
				       )
				BEGIN

				SELECT TOP 1 @VRECORD='0000000'+P.ID, @VACTION=T.VACTION, @VACTIONRECORD=A.VNAME FROM @TDATA T
				INNER JOIN MAINTENANCE P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
				WHERE (T.VACTION= 'TOAPPROVE' AND A.VNAME<>'CREATE')OR
				      (T.VACTION= 'ASSIGN' AND A.VNAME<>'TOAPPROVE')OR
				      (T.VACTION= 'UNASSIGN' AND A.VNAME<>'ASSIGN') OR
					  (T.VACTION= 'APPROVE' AND A.VNAME<>'ASSIGN') OR
					  (T.VACTION= 'PROCESS' AND A.VNAME<>'APPROVE') OR
				      (T.VACTION = 'DECLINE' AND A.VNAME<>'ASSIGN')

				   SET @ErrorMessage ='ACCION NO PERMITIDA PARA EL ESTADO ACTUAL DEL REPORTE '+ISNULL(@VRECORD,'')
				   RAISERROR ( @ErrorMessage , 16,1) 
				   RETURN
				END
			     

				 ----------------------------------VALIDACION DE ACCIONES PARA REPORTE DE FALLA -----------------------------------

				 IF @IDSERVICETYPE=3 AND EXISTS (SELECT T.* FROM  @TDATA T
				INNER JOIN MAINTENANCE P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
				WHERE (T.VACTION= 'TOVALIDATE' AND A.VNAME<>'CREATE') OR
				      (T.VACTION= 'VALIDATE' AND A.VNAME<>'TOVALIDATE') OR
				      (T.VACTION= 'TOAPPROVE' AND A.VNAME<>'VALIDATE')OR
					  (T.VACTION= 'APPROVE' AND A.VNAME<>'TOAPPROVE') OR 
					  (T.VACTION= 'GENERATE' AND A.VNAME<>'APPROVE') OR
				      (T.VACTION = 'DECLINE' AND A.VNAME NOT IN ('TOAPPROVE','APPROVE','TOVALIDATE') )
					                
				                                )
				BEGIN

				SELECT TOP 1 @VRECORD='0000000'+P.ID, @VACTION=T.VACTION, @VACTIONRECORD=A.VNAME FROM @TDATA T
				INNER JOIN MAINTENANCE P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
				WHERE (T.VACTION= 'TOVALIDATE' AND A.VNAME<>'CREATE') OR
				      (T.VACTION= 'VALIDATE' AND A.VNAME<>'TOVALIDATE') OR
				      (T.VACTION= 'TOAPPROVE' AND A.VNAME<>'VALIDATE')OR
					  (T.VACTION= 'APPROVE' AND A.VNAME<>'TOPAPPROVE') OR 
					  (T.VACTION= 'GENERATE' AND A.VNAME<>'APPROVE') OR
				      (T.VACTION = 'DECLINE' AND A.VNAME NOT IN ('TOAPPROVE','APPROVE','TOVALIDATE') )

				   SET @ErrorMessage ='ACCION NO PERMITIDA PARA EL ESTADO ACTUAL DEL REPORTE '+ISNULL(@VRECORD,'')
				   RAISERROR ( @ErrorMessage , 16,1) 
				   RETURN
				END
				-------------------------------------------------------------------------------------------------------------
				 IF @IDSERVICETYPE=3 AND EXISTS (SELECT T.* FROM  @TDATA T
				WHERE T.VACTION= 'TOVALIDATE' AND NOT EXISTS(SELECT * FROM ATTACHMENT WHERE IDRECORD=T.IDRECORD AND IDMODULE=T.IDMODULE))
				BEGIN

				SELECT TOP 1 @VRECORD='0000000'+P.ID, @VACTION=T.VACTION, @VACTIONRECORD=A.VNAME FROM @TDATA T
				INNER JOIN MAINTENANCE P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
				WHERE T.VACTION= 'TOVALIDATE' AND NOT EXISTS(SELECT * FROM ATTACHMENT WHERE IDRECORD=T.IDRECORD AND IDMODULE=T.IDMODULE)

				   SET @ErrorMessage ='ACCION NO PERMITIDA: REPORTE SIN ADJUNTOS O EVIDENCIA CARGADA, NUM REPORTE '+ISNULL(@VRECORD,'')
				   RAISERROR ( @ErrorMessage , 16,1) 
				   RETURN
				END

				------------------------------------------------------------------------------------------------------------------
				 IF @IDSERVICETYPE=3 AND EXISTS (SELECT T.* FROM  @TDATA T
				WHERE T.VACTION= 'TOAPPROVE' AND NOT EXISTS(SELECT * FROM MAINTENANCEDETAILS D (NOLOCK)
					WHERE T.IDRECORD=D.IDMAINTENANCE ))
				BEGIN

				SELECT TOP 1 @VRECORD='0000000'+P.ID, @VACTION=T.VACTION, @VACTIONRECORD=A.VNAME FROM @TDATA T
				INNER JOIN MAINTENANCE P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
				WHERE  T.VACTION= 'TOAPPROVE' AND NOT EXISTS(SELECT D.* FROM MAINTENANCEDETAILS D (NOLOCK)
					                                          INNER JOIN @TDATA T ON D.IDMAINTENANCE =T.IDRECORD )

				   SET @ErrorMessage ='ACCION NO PERMITIDA: REPORTE SIN REPUESTOS Y MANOS DE OBRAS CARGADAS, NUM REPORTE '+ISNULL(@VRECORD,'')
				   RAISERROR ( @ErrorMessage , 16,1) 
				   RETURN
				END

				-----------------------------------------------------------------------------------------------------------------
				 IF @IDSERVICETYPE=3 AND EXISTS (SELECT T.* FROM  @TDATA T
				WHERE T.VACTION= 'APPROVE' AND  EXISTS(SELECT D.* FROM MAINTENANCEDETAILS D (NOLOCK)
					WHERE T.IDRECORD=D.IDMAINTENANCE AND D.IESTATUS = DBO.UFN_GET_ISTATUS('TOAPPROVE')))
				BEGIN

				SELECT TOP 1 @VRECORD='0000000'+P.ID, @VACTION=T.VACTION, @VACTIONRECORD=A.VNAME FROM @TDATA T
				INNER JOIN MAINTENANCE P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
				WHERE  T.VACTION= 'APPROVE' AND  EXISTS(SELECT * FROM MAINTENANCEDETAILS D (NOLOCK)
					INNER JOIN @TDATA T ON D.IDMAINTENANCE =T.IDRECORD
					WHERE D.IESTATUS = DBO.UFN_GET_ISTATUS('TOAPPROVE'))

				   SET @ErrorMessage ='ACCION NO PERMITIDA: REPORTE CON REPUESTOS O MANOS DE OBRAS POR APROBAR, NUM REPORTE '+ISNULL(@VRECORD,'')
				   RAISERROR ( @ErrorMessage , 16,1) 
				   RETURN
				END

                ----------------------------------------------------------------------------------------------------------------------

				 IF @IDSERVICETYPE=3 AND EXISTS (SELECT T.* FROM  @TDATA T
				 INNER JOIN MAINTENANCE P WITH(NOLOCK) ON T.IDRECORD=P.ID 
				WHERE T.VACTION= 'GENERATE'  AND NOT EXISTS (SELECT * FROM LEVELUSER L (NOLOCK)
					                                                             INNER JOIN LEVEL A (NOLOCK) ON L.IDLEVEL=A.ID
																                 WHERE IDUSER=@IDUSER AND P.NINVOICEAMOUNT>=A.IFROM AND P.NINVOICEAMOUNT<=A.IUPTO AND A.IDREPORTTYPE=P.IDREPORTTYPE ))
				BEGIN

				SELECT TOP 1 @VRECORD='0000000'+P.ID, @VACTION=T.VACTION FROM  @TDATA T
				 INNER JOIN MAINTENANCE P WITH(NOLOCK) ON T.IDRECORD=P.ID 
				WHERE T.VACTION= 'GENERATE'  AND NOT EXISTS (SELECT * FROM LEVELUSER L (NOLOCK)
					                                                             INNER JOIN LEVEL A (NOLOCK) ON L.IDLEVEL=A.ID
																                 WHERE IDUSER=@IDUSER AND P.NINVOICEAMOUNT>=A.IFROM AND P.NINVOICEAMOUNT<=A.IUPTO AND A.IDREPORTTYPE=P.IDREPORTTYPE )

				   SET @ErrorMessage ='ACCION NO PERMITIDA: USTED NO POSEE EL NIVEL DE GENERACION SRG ACORDE A MONTO DE REPORTE DE FALLA '+ISNULL(@VRECORD,'')
				   RAISERROR ( @ErrorMessage , 16,1) 
				   RETURN
				END



				 ------REPORTE DE FALLA----
				IF @VACTION='TOVALIDATE' AND @IDSERVICETYPE = 3
				BEGIN 

				    UPDATE P
				        SET P.IESTATUS = DBO.UFN_GET_ISTATUS('TOVALIDATE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCE P 
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS = DBO.UFN_GET_ISTATUS('CREATE') AND EXISTS(SELECT * FROM ATTACHMENT WHERE IDRECORD=D.IDRECORD AND IDMODULE=D.IDMODULE)
				    SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT
               -----------------------------INSERTAR LA ACCION-------------------------------------------------
						IF @IUPDATED>0
						BEGIN

						IF EXISTS (SELECT T.* FROM @TDATA T
						            INNER JOIN MAINTENANCE M WITH (NOLOCK) ON T.IDRECORD=M.ID
									WHERE  @IDSERVICETYPE=3 AND M.IDREPORTTYPE = 4)
							BEGIN
								UPDATE LD
								SET LD.IESTATUS=DBO.UFN_GET_ISTATUS('UNAVAILABLE')
								FROM LICENSEDETAILS LD
								INNER JOIN @TDATA T ON LD.IDMAINTENANCE =T.IDRECORD
								WHERE LD.IDMAINTENANCE IS NOT NULL
							END

							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('TOVALIDATE') 
							SELECT @IINSERTED=@@ROWCOUNT
						
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,@TEMPLATE,@VCONTEXT
						END
				END
                
				--------VALIDAR REPORTE DE FALLA-------
				 IF @VACTION='VALIDATE' AND @IDSERVICETYPE = 3
				BEGIN 

				    UPDATE P
				        SET P.IESTATUS = DBO.UFN_GET_ISTATUS('VALIDATE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
							P.VSUPPLIERDECISION=D.VCOMMENT 
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS = DBO.UFN_GET_ISTATUS('TOVALIDATE')
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT	
					    IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS+': '+D.VCOMMENT, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('VALIDATE')
							SELECT @IINSERTED=@@ROWCOUNT
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,@TEMPLATE,@VCONTEXT
						END
				 END



				  IF @VACTION='DECLINE' AND @IDSERVICETYPE = 3 AND EXISTS(SELECT M.* FROM MAINTENANCE M WITH (NOLOCK)
				                                                            INNER JOIN @TDATA T ON M.ID= T.IDRECORD WHERE M.IESTATUS IN (DBO.UFN_GET_ISTATUS('TOAPPROVE'),DBO.UFN_GET_ISTATUS('APPROVE')))
				BEGIN 

				    UPDATE P
				        SET P.IESTATUS = DBO.UFN_GET_ISTATUS('VALIDATE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS IN( DBO.UFN_GET_ISTATUS('TOAPPROVE'),DBO.UFN_GET_ISTATUS('APPROVE'))
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT	
					    IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS+': '+D.VCOMMENT, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('VALIDATE')
							SELECT @IINSERTED=@@ROWCOUNT
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,@TEMPLATE,@VCONTEXT
						END
				 END

				 	------------ ASIGNAR PARA ASISTENCIA TECNICA------

				IF @VACTION='ASSIGN' AND  @IDSERVICETYPE = 2
				BEGIN

					INSERT INTO ASSESSMENT (IDRECORD,IDMODULE,DSTARTDATE,VUSERSUPPLIER,DCREATED,BACTIVE)
					  SELECT D.IDRECORD,D.IDMODULE,GETDATE(),DBO.UFN_GET_LOGIN(D.IDRELATED),GETDATE(),1
				    FROM @TDATA D  
					SELECT @IINSERTED=@@ROWCOUNT
					IF @IINSERTED>0
					BEGIN
					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('ASSIGN'),
							P.DUPDATED = GETDATE(),
							P.IDAUTHORIZEDUSER=@IDUSER,
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('TOAPPROVE')
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT
					
					END 
						IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS+': '+D.VCOMMENT, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('ASSIGN')
							SELECT @IID=SCOPE_IDENTITY()
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,@TEMPLATE,@VCONTEXT
						END

					
				END


				----------- DESASIGNAR PARA ASISTENCIA TECNICA------

				IF @VACTION='UNASSIGN' AND  @IDSERVICETYPE = 2
				BEGIN

					  DELETE D
					  FROM ASSESSMENT D
					  INNER JOIN @TDATA C ON D.IDRECORD=C.IDRECORD AND D.IDMODULE=C.IDMODULE
					  SELECT @IINSERTED=@@ROWCOUNT

					IF @IINSERTED>0
					BEGIN
						UPDATE P
							SET P.IESTATUS= DBO.UFN_GET_ISTATUS('TOAPPROVE'),
								P.DUPDATED = GETDATE(),
								P.IDAUTHORIZEDUSER=@IDUSER,
								P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
						FROM MAINTENANCE P
						INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
						WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('ASSIGN')

						SELECT @IID=SCOPE_IDENTITY()
						SELECT @IUPDATED=@@ROWCOUNT
					END 
						IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS+': '+D.VCOMMENT, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('UNASSIGN')

							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,@TEMPLATE,@VCONTEXT
						END

					
				END
				 
				 -----------------POR APROBAR ASISTENCIA TECNICA -----------------------------

				  IF @VACTION='TOAPPROVE' AND @IDSERVICETYPE = 2 
				BEGIN

					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('TOAPPROVE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('CREATE')
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT
						IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('TOAPPROVE')
							SELECT @IINSERTED=@@ROWCOUNT
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,@TEMPLATE,@VCONTEXT
						END
				END

				-----------------POR APROBAR PARA  REPORTE DE FALLA -----------------------------
				 IF @VACTION='TOAPPROVE' AND @IDSERVICETYPE = 3
				BEGIN
					 SET @PENDIENTES = (SELECT COUNT(*) 
					FROM MAINTENANCEDETAILS D (NOLOCK)
					INNER JOIN @TDATA T ON D.IDMAINTENANCE =T.IDRECORD
					WHERE D.IDMAINTENANCE IS NOT NULL );

					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('TOAPPROVE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID  
					WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('VALIDATE') AND @PENDIENTES >=1 
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT
					  
					  IF @IUPDATED>0
						BEGIN
						    UPDATE MD
							SET MD.IESTATUS=DBO.UFN_GET_ISTATUS('TOAPPROVE')
							FROM MAINTENANCEDETAILS MD
							INNER JOIN @TDATA T ON MD.IDMAINTENANCE=T.IDRECORD
							WHERE  MD.IDMAINTENANCE=T.IDRECORD AND MD.IESTATUS=DBO.UFN_GET_ISTATUS('CREATE')

							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('TOAPPROVE')
							SELECT @IINSERTED=@@ROWCOUNT
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,@TEMPLATE,@VCONTEXT
							
						END

					
				END




				------------ APROBACION PARA ASISTENCIA TECNICA------

				IF @VACTION='APPROVE' AND  @IDSERVICETYPE = 2
				BEGIN

					UPDATE P
						SET P.DENDDATE=GETDATE(),
						    P.DUPDATE = GETDATE(),
							P.VUPDATEBY=DBO.UFN_GET_LOGIN(@IDUSER)
					FROM ASSESSMENT P
					INNER JOIN @TDATA D ON D.IDRECORD=P.IDRECORD AND P.IDMODULE=@IDMODULE 
					
					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('APPROVE'),
							P.DUPDATED = GETDATE(),
							P.IDAUTHORIZEDUSER=@IDUSER,
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
							P.IDASSISTANCETYPE=D.IDRELATED
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('ASSIGN')
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT

						IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS+': '+D.VCOMMENT, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('APPROVE')
							SELECT @IINSERTED=@@ROWCOUNT
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,@TEMPLATE,@VCONTEXT
						END

					
				END


				-----------------------APROBAR MANTENIMIENTO--------------------------------
				IF @VACTION='APPROVE' AND @IDSERVICETYPE = 1
				BEGIN
				-------------------ACTUALIZAR MANTENIMIENTO----------------
					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('APPROVE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
							P.VSUPPLIERDECISION=D.VCOMMENT 
					FROM MAINTENANCE P (NOLOCK)
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('TOAPPROVE')
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT

					-------------------ACTUALIZAR ESCALA----------------
					 UPDATE A
					 SET A.BVALID =1
					 FROM POLICYDETAILS A 
					 INNER JOIN @TDATA D  ON  A.IDMAINTENANCE=D.IDRECORD
					 INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
					 WHERE A.IDMAINTENANCE=D.IDRECORD AND P.IESTATUS=DBO.UFN_GET_ISTATUS('APPROVE')

					 -------------------ACTUALIZAR POLIZA----------------
					IF EXISTS ( SELECT * FROM MAINTENANCE P (NOLOCK) 
					                     INNER JOIN @TDATA T ON P.ID =T.IDRECORD          
					                     WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('APPROVE'))
					BEGIN 
					DECLARE @IDPOLICY INT =(SELECT P.ID FROM @TDATA A
					                INNER JOIN MAINTENANCE M (NOLOCK) ON A.IDRECORD =M.ID
									INNER JOIN VEHICLE V (NOLOCK) ON M.IDVEHICLE = V.ID
									LEFT JOIN POLICY P (NOLOCK) ON  V.ID= P.IDVEHICLE
									);
					 EXEC USP_ESTATUS_POLICY @IDPOLICY, @IDUSER;
					END 

					 -------------------INSERCION DE COMENTARIO----------------
						IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('APPROVE')
							SELECT @IINSERTED=@@ROWCOUNT
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,@TEMPLATE,@VCONTEXT
						END
					
				END

				
				

				------------APROBACION PARA REPORTE DE FALLA------------
				IF @VACTION='APPROVE' AND @IDSERVICETYPE = 3 
				BEGIN
				------------------CONTEO DE REGISTROS EN MAINTENANCE DETAILS POR ESTATUS-------------------------------
	
                SET @APROBADOS = (SELECT COUNT(*) 
				FROM MAINTENANCEDETAILS D (NOLOCK)
				INNER JOIN @TDATA T ON D.IDMAINTENANCE =T.IDRECORD
				WHERE D.IDMAINTENANCE IS NOT NULL AND D.IESTATUS = DBO.UFN_GET_ISTATUS('APPROVE'));

				SET @PENDIENTES =(SELECT COUNT(*) 
				FROM MAINTENANCEDETAILS D (NOLOCK)
				INNER JOIN @TDATA T ON D.IDMAINTENANCE =T.IDRECORD
				WHERE D.IDMAINTENANCE IS NOT NULL AND  D.IESTATUS =DBO.UFN_GET_ISTATUS('TOAPPROVE'));
     

					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('APPROVE'),
							P.DUPDATED = GETDATE(),
							P.IDAUTHORIZEDUSER=@IDUSER,
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('TOAPPROVE') AND @APROBADOS>=1 AND @PENDIENTES=0  
					SELECT @IUPDATED=@@ROWCOUNT
					SELECT @IID=SCOPE_IDENTITY()
					    IF @IUPDATED>0
					 	BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('APPROVE')
							SELECT @IINSERTED=@@ROWCOUNT
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,@TEMPLATE,@VCONTEXT
						END
				END


				------------GENERAR PARA REPORTE DE FALLA------------
				IF @VACTION='GENERATE' AND @IDSERVICETYPE = 3 
				BEGIN
				DECLARE @VBRAND VARCHAR(10)
                 SET @VBRAND=( SELECT TOP 1 S.VBRAND FROM @TDATA T
				            INNER JOIN MAINTENANCE P WITH (NOLOCK) ON T.IDRECORD=P.ID
						    INNER JOIN VEHICLE V WITH (NOLOCK) ON P.IDVEHICLE =V.ID
							INNER JOIN V_SUPPLIERS S WITH (NOLOCK) ON V.IDSUPPLIER=S.IDSUPPLIER)
				DECLARE @SRG INT ;	
					
					IF @VBRAND='CHANGAN'
				    BEGIN
					EXEC USP_ACT_SECUENCE 'SRGCHAN', @SRG OUT;
					END
					ELSE IF (@VBRAND='FOTON')
					BEGIN
					EXEC USP_ACT_SECUENCE 'SRGFOTON', @SRG OUT;
					END
                 
				 
					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('GENERATE'),
							P.DUPDATED = GETDATE(),
							P.IDAUTHORIZEDUSER=@IDUSER,
							P.VSRGNUMBER= ('50'+(SELECT RIGHT('000000000' + CAST(@SRG AS VARCHAR), 10))),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID
					WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('APPROVE')  AND EXISTS (SELECT * FROM LEVELUSER L (NOLOCK)
					                                                             INNER JOIN LEVEL A (NOLOCK) ON L.IDLEVEL=A.ID
																                 WHERE IDUSER=@IDUSER AND P.NINVOICEAMOUNT>=A.IFROM AND P.NINVOICEAMOUNT<=A.IUPTO AND A.IDREPORTTYPE=P.IDREPORTTYPE ) 
					SELECT @IUPDATED=@@ROWCOUNT
					SELECT @IID=SCOPE_IDENTITY()
					EXEC USP_INSERT_SRG @IDUSER
					
					    IF @IUPDATED>0
					 	BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('GENERATE')
							SELECT @IINSERTED=@@ROWCOUNT
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,@TEMPLATE,@VCONTEXT
						END
				END




			-----------------------------RECHAZAR MANTENIMIENTO Y ASISTENCIA TECNICA--------------------------------------------------
				IF @VACTION='DECLINE' AND @IDSERVICETYPE = 2
				BEGIN

					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('DECLINE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
							P.VSUPPLIERDECISION=D.VCOMMENT
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS= DBO.UFN_GET_ISTATUS('ASSIGN') 
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT
					   
					    IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT 'REPORTE '+A.VDISPLAYESTATUS+': '+ D.VCOMMENT, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('DECLINE')
							SELECT @IINSERTED=@@ROWCOUNT							
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,@TEMPLATE,@VCONTEXT
						END 
					
				END


					IF @VACTION='DECLINE' AND @IDSERVICETYPE = 1
				BEGIN

					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('DECLINE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
							P.VSUPPLIERDECISION=D.VCOMMENT
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS= DBO.UFN_GET_ISTATUS('TOAPPROVE') OR P.IESTATUS= DBO.UFN_GET_ISTATUS('TOVALIDATE')
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT
					   
					    IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT 'REPORTE '+A.VDISPLAYESTATUS+': '+ D.VCOMMENT, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('DECLINE')
							SELECT @IINSERTED=@@ROWCOUNT							
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,@TEMPLATE,@VCONTEXT
						END 
					
				END

				------------RECHAZAR REPORTE DE FALLA--------

				  IF @VACTION='DECLINE' AND @IDSERVICETYPE = 3 AND EXISTS (SELECT M.* FROM MAINTENANCE M WITH (NOLOCK)
				                                                            INNER JOIN @TDATA T ON M.ID= T.IDRECORD WHERE M.IESTATUS=DBO.UFN_GET_ISTATUS('TOVALIDATE'))
				BEGIN 

				    UPDATE P
				        SET P.IESTATUS = DBO.UFN_GET_ISTATUS('DECLINE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS = DBO.UFN_GET_ISTATUS('TOVALIDATE')
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IUPDATED=@@ROWCOUNT
						
						IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS+': '+D.VCOMMENT, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('DECLINE')
							SELECT @IINSERTED=@@ROWCOUNT
							SELECT @IID=SCOPE_IDENTITY()
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,@TEMPLATE,@VCONTEXT
						END
                 END


				

				------------ PORCESAR PARA ASISTENCIA TECNICA------

				IF @VACTION='PROCESS' AND  @IDSERVICETYPE = 2
				BEGIN
				    
					UPDATE P
						SET P.IQUANTITY= D.IDRELATED,
							P.VUSERDEALER = DBO.UFN_GET_LOGIN(@IDUSER),
							P.DUPDATE = GETDATE(),
							P.VUPDATEBY=DBO.UFN_GET_LOGIN(@IDUSER)
					FROM ASSESSMENT P
					INNER JOIN @TDATA D ON D.IDRECORD=P.IDRECORD AND P.IDMODULE=@IDMODULE 
					SELECT @IID=SCOPE_IDENTITY()
					SELECT @IINSERTED=@@ROWCOUNT
						
						IF @IINSERTED>0
						BEGIN
							UPDATE P
								SET P.IESTATUS= DBO.UFN_GET_ISTATUS('PROCESS'),
									P.DUPDATED = GETDATE(),
									P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
							FROM MAINTENANCE P
							INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
							WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('APPROVE')
							SELECT @IUPDATED=@@ROWCOUNT
						END
						IF @IUPDATED>0
						BEGIN
							INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
							SELECT A.VDISPLAYESTATUS+': '+D.VCOMMENT, DBO.UFN_GET_LOGIN(@IDUSER),D.IDRECORD,D.IDMODULE,1,GETDATE()
							FROM @TDATA D
							INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
							INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
							WHERE  P.IESTATUS = DBO.UFN_GET_ISTATUS('PROCESS')
							SELECT @IINSERTED=@@ROWCOUNT
							SET @IDCOMMENT=SCOPE_IDENTITY()
							EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,@TEMPLATE,@VCONTEXT
						END

					
				END
			
					
				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				IF @IUPDATED>0
				BEGIN
				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA
				END


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END


