GO
/****** Object:  StoredProcedure [dbo].[USP_GET_SERVICE_BY_VEHICLE]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_SERVICE_BY_VEHICLE]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_SERVICE_BY_VEHICLE] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_GET_SERVICE_BY_VEHICLE]-- USP_GET_SERVICE_BY_VEHICLE 'LVAC2ZBB1RS024195',4076,1
@VVIN VARCHAR(20),
@IDSUPPLIER INT,
@IDUSER INT 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

DECLARE @ISDEALER BIT=0
	IF NOT EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] WHERE IDUSER=@IDUSER)
	BEGIN
	SET @ISDEALER=1
	END

	    DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('VEHICULOS-VEHICULOS')
	

BEGIN


    WITH T1 AS (
        SELECT 
		M.IDSERVICETYPE,
		ST.VNAME AS  VSERVICETYPE,
		M.IDREPORTTYPE,
		RT.VNAME AS VREPORTTYPE,
		M.ID AS IDREPORT,
		M.VSERVICENUMBER,
		M.IKM,
		M.IDVEHICLE,
		V.VVIN,
		M.IDDEALER,
		M.IESTATUS,
		A.VDISPLAYESTATUS AS VESTATUS,
		ISNULL(M.VSRGNUMBER,'') AS VSRGNUMBER,
		M.DMAINTENANCEDATE,
		M.NINVOICEAMOUNT,
		D.DEALER,
		D.VREFERENCEDEALER,
		M.DCREATED
        FROM MAINTENANCE M WITH (NOLOCK)
		INNER JOIN SERVICETYPE ST WITH(NOLOCK) ON M.IDSERVICETYPE=ST.ID
		INNER JOIN REPORTTYPE RT WITH (NOLOCK) ON M.IDREPORTTYPE=RT.ID
		INNER JOIN VEHICLE V WITH (NOLOCK) ON M.IDVEHICLE =V.ID
		INNER JOIN ACTION A WITH (NOLOCK) ON M.IESTATUS=A.ID
		INNER JOIN V_DEALERS D ON M.IDDEALER=D.IDDEALER
		WHERE 
		V.VVIN =@VVIN 
		AND V.IDSUPPLIER=@IDSUPPLIER


		UNION ALL
        
		SELECT
		M.IDSERVICETYPE,
		ST.VNAME AS  VSERVICETYPE,
		M.IDREPORTTYPE,
		RT.VNAME AS VREPORTTYPE,
		M.IDMAINTENANCE AS IDREPORT,
		M.VSERVICENUMBER,
		ISNULL(M.KM,0) AS IKM,
		V.ID AS IDVEHICLE,
		V.VVIN,
		M.IDDEALER,
		M.IESTATUS,
		A.VDISPLAYESTATUS AS VESTATUS,
		ISNULL(M.VSRGNUMBER,'') AS VSRGNUMBER,
		M.DMAINTENANCEDATE,
		M.NINVOICEAMOUNT,
		D.DEALER,
		D.VREFERENCEDEALER,
		M.DCREATED
        FROM RECORD M WITH (NOLOCK)
		INNER JOIN SERVICETYPE ST WITH(NOLOCK) ON M.IDSERVICETYPE=ST.ID
		INNER JOIN REPORTTYPE RT WITH (NOLOCK) ON M.IDREPORTTYPE=RT.ID
		INNER JOIN VEHICLE V WITH (NOLOCK) ON M.VVIN =V.VVIN
		INNER JOIN ACTION A WITH (NOLOCK) ON M.IESTATUS=A.ID
		INNER JOIN V_DEALERS D ON M.IDDEALER=D.IDDEALER
		WHERE 
		V.VVIN =@VVIN 
		AND V.IDSUPPLIER=@IDSUPPLIER
		

    ), 
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1)

    SELECT T1.*, T2.TOTAL
    FROM T1, T2
    WHERE T2.TOTAL > 0
    ORDER BY T1.IKM ASC

END;


