GO
/****** Object:  StoredProcedure [dbo].[USP_INSERT_SRG]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_INSERT_SRG]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_INSERT_SRG] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_INSERT_SRG]--USP_INSERT_SRG 1
    @IDUSER INT
AS


/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/


BEGIN
    SET NOCOUNT ON;
	 
	-- Caso 4069: inserta por cada detalle aprobado
	INSERT INTO DMS (SRG, VCODITEM, NBASEAMOUNT, NPAIDAMOUNT, DCREATED, VUPDATEDBY, BACTIVE, IESTATUS)
	SELECT 
		M.VSRGNUMBER AS SRG,
		CASE 
			WHEN MD.CTYPE = 'P' THEN P.VINNERCODE
			WHEN MD.CTYPE = 'L' THEN L.VREFERENCE
		END AS VCODITEM,
		MD.NPRICE AS NBASEAMOUNT,
		0 AS NPAIDAMOUNT,
		GETDATE() AS DCREATED,
		DBO.UFN_GET_LOGIN(@IDUSER) AS VUPDATEDBY,
		1 AS BACTIVE,
		DBO.UFN_GET_ISTATUS('TOVALIDATE') AS IESTATUS
	FROM MAINTENANCE M WITH (NOLOCK)
	INNER JOIN VEHICLE V WITH (NOLOCK) ON M.IDVEHICLE = V.ID
	INNER JOIN MAINTENANCEDETAILS MD WITH (NOLOCK) ON M.ID = MD.IDMAINTENANCE
	LEFT JOIN PART P WITH (NOLOCK) ON MD.CTYPE = 'P' AND MD.IDITEM = P.ID
	LEFT JOIN LABORTIME L WITH (NOLOCK) ON MD.CTYPE = 'L' AND MD.IDITEM = L.ID
	WHERE M.IESTATUS = DBO.UFN_GET_ISTATUS('GENERATE')
	  AND V.IDSUPPLIER = 4069
	  AND MD.IESTATUS = DBO.UFN_GET_ISTATUS('APPROVE')
	  AND M.VSRGNUMBER NOT IN (SELECT DISTINCT SRG FROM DMS WITH (NOLOCK));

	-- Caso 4076: un único registro por SRG
	INSERT INTO DMS (SRG, VCODITEM, NBASEAMOUNT, NPAIDAMOUNT, DCREATED, VUPDATEDBY, BACTIVE, IESTATUS)
	SELECT 
		M.VSRGNUMBER AS SRG,
		'NO APLICA' AS VCODITEM,
		(M.NINVOICEAMOUNT - M.TAX) AS NBASEAMOUNT,
		0 AS NPAIDAMOUNT,
		GETDATE() AS DCREATED,
		DBO.UFN_GET_LOGIN(@IDUSER) AS VUPDATEDBY,
		1 AS BACTIVE,
		DBO.UFN_GET_ISTATUS('TOVALIDATE') AS IESTATUS
	FROM MAINTENANCE M WITH (NOLOCK)
	INNER JOIN VEHICLE V WITH (NOLOCK) ON M.IDVEHICLE = V.ID
	WHERE M.IESTATUS = DBO.UFN_GET_ISTATUS('GENERATE')
	  AND V.IDSUPPLIER = 4076
	  AND M.VSRGNUMBER NOT IN (SELECT DISTINCT SRG FROM DMS WITH (NOLOCK));


END;