GO
/****** Object:  StoredProcedure [dbo].[USP_GET_EXPORTSALEORDERS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_EXPORTSALEORDERS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_EXPORTSALEORDERS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_GET_EXPORTSALEORDERS] 
-- exec USP_GET_EXPORTSALEORDERS 1,4069,0
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IDDEALER INT = 0,
@IESTATUS INT =NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL


AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	

DECLARE @DATA AS TABLE(
IDSALEORDERDETAIL INT,
IDSUPPLIER INT,
IDSALEORDER INT,
IDVEHICLE INT,
BPARALYZED BIT,
VVIN VARCHAR(25),
VCUSTOMER VARCHAR(250),
VSALEORDERTYPE VARCHAR(20),
VSALEORDERDATE VARCHAR(20),
IDDEALER INT,
VDEALER VARCHAR(150),
IDPART INT,
VINNERCODE VARCHAR(25),
VPART VARCHAR(250),
NPRICE NUMERIC(18,2),
IREQUIRED INT,
IBACKORDER INT,
IDISMISSED INT,
IPICKING INT,
IDISPATCHED INT,
IINVOICED INT,
ISENT INT,
IRECEIVED INT
)



INSERT INTO @DATA
SELECT SD.ID, SO.IDSUPPLIER,SO.ID AS IDSALEORDER,
SO.IDVEHICLE,SO.BPARALYZED,
'','',
ST.VNAME, 
CONVERT(VARCHAR(20),SO.DCREATED,120),
D.IDDEALER,
D.DEALER,
SD.IDPART,
P.VINNERCODE,
P.VDESCRIPTION,
P.NPRICE,
SD.IREQUIRED,0,0,0,0,0,0,0
FROM SALEORDER SO WITH (NOLOCK)
INNER JOIN V_DEALERS D ON D.IDDEALER=SO.IDDEALER
INNER JOIN SALEORDERDETAIL SD WITH (NOLOCK) ON SD.IDSALEORDER=SO.ID
INNER JOIN PART P WITH (NOLOCK) ON P.ID=SD.IDPART
INNER JOIN SALEORDERTYPE ST WITH (NOLOCK) ON ST.ID=SO.IDTYPE
WHERE SO.IDESTATUS NOT IN (2,19)
AND SO.DCREATED>GETDATE()-180
AND SO.IDSUPPLIER =  CASE WHEN ISNULL(@IDSUPPLIER,0)=0 THEN  SO.IDSUPPLIER ELSE @IDSUPPLIER END
AND SO.IDDEALER =  CASE WHEN ISNULL(@IDDEALER,0)=0 THEN  SO.IDDEALER ELSE @IDDEALER END
AND SO.DCREATED BETWEEN ISNULL(@DFROMDATE, SO.DCREATED) AND ISNULL(@DUPTODATE, SO.DCREATED)
AND ( SO.IDESTATUS = CASE WHEN @IESTATUS IS NUll THEN SO.IDESTATUS ELSE @IESTATUS END)


UPDATE A
	SET A.VVIN = B.VVIN, A.VCUSTOMER=B.VCUSTOMER
FROM @DATA A
INNER JOIN (
				SELECT V.ID AS IDVEHICLE ,V.VVIN,
				CASE WHEN  isnull(C.VFIRSTNAME,'')='' THEN 'N/A' ELSE isnull(C.VFIRSTNAME,'') + ' '+isnull(C.VLASTNAME,'') END AS VCUSTOMER 
				FROM VEHICLE V WITH (NOLOCK)
				INNER JOIN CONTACT C WITH (NOLOCK) ON C.ID=V.IDCUSTOMER
			) B ON B.IDVEHICLE=A.IDVEHICLE


UPDATE A
SET A.IBACKORDER=B.IBACKORDER
FROM @DATA A 
INNER JOIN (
			SELECT  
			BO.IDSALEORDERDETAIL,
			SUM(BO.IBACKORDER) IBACKORDER
			FROM BACKORDER BO WITH (NOLOCK)
			WHERE BO.IDSTATUS=2
			GROUP BY BO.IDSALEORDERDETAIL
			) B ON B.IDSALEORDERDETAIL=A.IDSALEORDERDETAIL

UPDATE A
SET A.IDISMISSED=B.IBACKORDER
FROM @DATA A 
INNER JOIN (
			SELECT  
			BO.IDSALEORDERDETAIL,
			SUM(BO.IBACKORDER) IBACKORDER
			FROM BACKORDER BO WITH (NOLOCK)
			WHERE BO.IDSTATUS=19
			GROUP BY BO.IDSALEORDERDETAIL
			) B ON B.IDSALEORDERDETAIL=A.IDSALEORDERDETAIL


UPDATE A
	SET A.IPICKING = B.IQUANTITY
FROM @DATA A
INNER JOIN V_SALEORDERVSPICKING B ON B.IDSALEORDER=A.IDSALEORDER AND B.IDPART=A.IDPART

UPDATE A
	SET A.IDISPATCHED = B.IDISPATCHED
FROM @DATA A
INNER JOIN V_SALEORDERVSDISPATCHED B ON B.IDSALEORDER=A.IDSALEORDER AND B.IDPART=A.IDPART

UPDATE A
	SET A.IINVOICED = B.IINVOICED
FROM @DATA A
INNER JOIN V_SALEORDERVSINVOICED B ON B.IDSALEORDER=A.IDSALEORDER AND B.IDPART=A.IDPART

UPDATE A
	SET A.ISENT = B.ISENT
FROM @DATA A
INNER JOIN V_SALEORDERVSSENT B ON B.IDSALEORDER=A.IDSALEORDER AND B.IDPART=A.IDPART

UPDATE A
	SET A.IRECEIVED = B.IRECEIVED
FROM @DATA A
INNER JOIN V_SALEORDERVSRECEIVED B ON B.IDSALEORDER=A.IDSALEORDER AND B.IDPART=A.IDPART



SELECT * FROM @DATA












