GO
/****** Object:  StoredProcedure [dbo].[USP_POST_MAINTENANCEDETAILS_ACTIONS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_MAINTENANCEDETAILS_ACTIONS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_MAINTENANCEDETAILS_ACTIONS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_MAINTENANCEDETAILS_ACTIONS]
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(MAX),
					IDRELATED INT
				);

				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS A


				DECLARE @VACTION VARCHAR(20)
				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @VRECORD VARCHAR(20) 
				DECLARE @VACTIONRECORD VARCHAR(20)
				DECLARE @ErrorMessage NVARCHAR(4000) 
				DECLARE @VACTIONMAINTENANCE VARCHAR(20)

			
				
				   
                SELECT TOP 1  @VACTION=T.VACTION, @VACTIONRECORD=A.VNAME , @VACTIONMAINTENANCE=B.VNAME FROM @TDATA T
				INNER JOIN MAINTENANCEDETAILS P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
				INNER JOIN MAINTENANCE M WITH (NOLOCK) ON P.IDMAINTENANCE=M.ID
				INNER JOIN ACTION B WITH (NOLOCK) ON M.IESTATUS=B.ID
	


				------------ APROBACION------

				IF @VACTION='APPROVE' AND (@VACTIONRECORD ='TOAPPROVE' OR (@VACTIONRECORD ='DECLINE' AND @VACTIONMAINTENANCE IN ('TOAPPROVE','APPROVE')))
				BEGIN

					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('APPROVE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCEDETAILS P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					INNER JOIN MAINTENANCE M WITH(NOLOCK) ON P.IDMAINTENANCE=M.ID
					WHERE (P.IESTATUS=DBO.UFN_GET_ISTATUS('TOAPPROVE')) OR (P.IESTATUS=DBO.UFN_GET_ISTATUS('DECLINE') AND M.IESTATUS IN (dbo.UFN_GET_ISTATUS('TOAPPROVE'),dbo.UFN_GET_ISTATUS('APPROVE'))) 
					SELECT @IUPDATED=@@ROWCOUNT
					
				END


			 ------------ RECHAZAR-------------------
				IF @VACTION='DECLINE' AND (@VACTIONRECORD ='TOAPPROVE' OR (@VACTIONRECORD ='APPROVE' AND @VACTIONMAINTENANCE IN ('TOAPPROVE','APPROVE')))
				BEGIN

					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('DECLINE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCEDETAILS P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					INNER JOIN MAINTENANCE M WITH(NOLOCK) ON P.IDMAINTENANCE=M.ID
					WHERE (P.IESTATUS= DBO.UFN_GET_ISTATUS('TOAPPROVE') ) OR (P.IESTATUS=DBO.UFN_GET_ISTATUS('APPROVE') AND M.IESTATUS IN (dbo.UFN_GET_ISTATUS('TOAPPROVE'),dbo.UFN_GET_ISTATUS('APPROVE')))
					SELECT @IUPDATED=@@ROWCOUNT
					
				END


				------------ PROCESADO-------------------
				IF @VACTION='PROCESS' 
				BEGIN

					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('PROCESS'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCEDETAILS P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('APPROVE')
					SELECT @IUPDATED=@@ROWCOUNT
					
				END
			
					
				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				IF @IUPDATED>0
				BEGIN
				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA
				END

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END