USE OASIS
GO
/****** Object:  StoredProcedure [dbo].[USP_PROCESS_DECLINE_DETAILS]    Script Date: 2/4/2026 9:31:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[USP_PROCESS_DECLINE_DETAILS]
    @IDMOVEMENTDETAIL INT,
    @IDUSER INT 
AS 
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/ 
SET NOCOUNT ON
SET XACT_ABORT ON

BEGIN TRY
    DECLARE @MovementType CHAR(1)
    DECLARE @DetailType CHAR(1)
    DECLARE @BProcessed BIT
    DECLARE @IDPart INT
    DECLARE @IReal INT
    DECLARE @IRequired INT
    DECLARE @IDBackorder INT
    DECLARE @IDMovement INT
    DECLARE @IDSupplier INT
    DECLARE @IDESTATUS INT

    -- 1. OBTENER DATOS DEL DETALLE
    SELECT 
        @DetailType = MD.VTYPE,
        @BProcessed = MD.BPROCESSED,
        @IDPart = MD.IDPART,
        @IReal = MD.IREAL,
        @IRequired = MD.IREQUIRED,
        @IDBackorder = MD.IDBACKORDER,
        @IDMovement = MD.IDMOVEMENT,
        @IDESTATUS = MD.IDSTATUS
    FROM MOVEMENTDETAILS MD WITH (NOLOCK)
    WHERE MD.ID = @IDMOVEMENTDETAIL
    
    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('Detalle no encontrado: %d', 16, 1, @IDMOVEMENTDETAIL)
        RETURN
    END
    
    -- 2. OBTENER DATOS DEL MOVIMIENTO PADRE
    SELECT 
        @MovementType = M.VTYPE,
        @IDSupplier = M.IDSUPPLIER
    FROM MOVEMENT M WITH (NOLOCK)
    WHERE M.ID = @IDMovement
    
    -- 3. DETERMINAR CANTIDAD A RECHAZAR (SIEMPRE TODO)
    DECLARE @IDeclineQty INT
    
    IF @BProcessed = 1 AND @DetailType = 'D'
        SET @IDeclineQty = @IReal  -- Para entrega: cantidad real
    ELSE
        SET @IDeclineQty = @IRequired  -- Para picking: cantidad requerida
    
    
    IF @MovementType = 'P' AND @DetailType = 'P' AND @BProcessed = 0 AND @IDESTATUS<>DBO.UFN_GET_ISTATUS('DECLINE')
    BEGIN
        -- RECOLECCION: PICKING NO PROCESADO

        EXEC USP_DECLINE_PICKING 
            @IDMOVEMENTDETAIL = @IDMOVEMENTDETAIL,
            @IDUSER = @IDUSER

            --@IDECLINEQTY = @IDeclineQty,
            --@IREMAININGQTY = 0,  -- SIEMPRE 0 (rechazo total)
            --@IDBACKORDER = @IDBackorder
    END
    ELSE IF @MovementType = 'P' AND @DetailType = 'D' AND @BProcessed = 1 AND @IDESTATUS<>DBO.UFN_GET_ISTATUS('DECLINE')
    BEGIN
        -- RECOLECCION: ENTRGA PROCESADA

        EXEC USP_DECLINE_DELIVERY 
            @IDMOVEMENTDETAIL = @IDMOVEMENTDETAIL,
            @IDUSER = @IDUSER

            --@IDECLINEQTY = @IDeclineQty,
            --@IREMAININGQTY = 0,  -- SIEMPRE 0 (rechazo total)
            --@IDBACKORDER = @IDBackorder,
            --@IDSUPPLIER = @IDSupplier
    END
    ELSE IF @MovementType = 'T' AND  @DetailType = 'P' AND @BProcessed = 0 AND @IDESTATUS<>DBO.UFN_GET_ISTATUS('DECLINE') AND @IDESTATUS<>DBO.UFN_GET_ISTATUS('CREATE')
    BEGIN
       
            -- TRASLADO: PICKING NO PROCESADO

            UPDATE MOVEMENTDETAILS
            SET IDUSER = @IDUSER, 
                IDSTATUS = DBO.UFN_GET_ISTATUS('DECLINE'),
                VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
                DUPDATED = GETDATE(),
                BPROCESSED=1
            WHERE ID = @IDMOVEMENTDETAIL
    END
    ELSE IF @MovementType = 'T' AND  @DetailType = 'D' AND @BProcessed = 1 AND @IDESTATUS<>DBO.UFN_GET_ISTATUS('DECLINE')
    BEGIN
        EXEC USP_DECLINE_DELIVERY 
            @IDMOVEMENTDETAIL = @IDMOVEMENTDETAIL,
            @IDUSER = @IDUSER
    END
    ELSE
        BEGIN

            DECLARE @VRECOLECCION VARCHAR (10)
            SELECT @VRECOLECCION = CAST (@IDMOVEMENTDETAIL AS VARCHAR(10))

            DECLARE @MENSAJE VARCHAR (50)

            SELECT @MENSAJE =  'ACCION NO PERMITIDA PARA RECOLECCION NRO: '+@VRECOLECCION

            --SELECT @MENSAJE = CAST(@IDMOVEMENTDETAIL AS VARCHAR(10))+','+@MovementType+','+@DetailType+','+CAST(@BProcessed AS VARCHAR(1))+','+CAST(@IDESTATUS AS VARCHAR(10))
        
            RAISERROR(@MENSAJE, 16, 1)
        END


    
END TRY
BEGIN CATCH
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
    RAISERROR( @ErrorMessage,16, 1)
END CATCH
