GO
/****** Object:  StoredProcedure [dbo].[USP_POST_MAINTENANCE]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_MAINTENANCE]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_MAINTENANCE] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_MAINTENANCE] 
 @DATA NVARCHAR(MAX),
 @IDUSER INT
  
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

 

BEGIN
    BEGIN TRY
        BEGIN TRAN 

        
    
        DECLARE @TDATA AS TABLE
        (
            ID INT,
            IDSERVICETYPE INT,
			IDREPORTTYPE INT,
			VSERVICENUMBER VARCHAR (30),
			DMAINTENANCEDATE DATETIME,
			VREPORTCUSTOMER VARCHAR (MAX),
			VTECHNICALREPORT VARCHAR (MAX),
			VTECHNICALSOLUTION VARCHAR (MAX),
			IDDEALER INT,
			IDVEHICLE INT,
			IDCUSTOMER INT,
			IKM INT,
			DINVOICEDATE DATETIME,
			VINVOICENUMBER VARCHAR (20),
			NINVOICEAMOUNT NUMERIC,
			VUPDATEDBY VARCHAR(15),
			IESTATUS INT,
			BACTIVE BIT,
			IDPOLICYDETAIL INT,
			BPARALYZED BIT,
			IDLICENSE INT 
        );


        INSERT INTO @TDATA
        SELECT M.Id, M.ServiceTypeId, M.ReportTypeId,M.OrderNumber,M.ServiceDate,M.CustomerReport, M.DealerReport,M.TechnicalSolution, M.DealerId,
        M.VehicleId, M.CustomerId,M.Km,M.InvoiceDate, M.InvoiceNumber, M.InvoiceAmount,DBO.UFN_GET_LOGIN(@IDUSER),M.EstatusId,M.IsActive,M.PolicyDetailId,M.Paralyzed,M.LicenseId
        FROM OPENJSON(@DATA)
        WITH (
            Id INT,
            ServiceTypeId INT,
            ReportTypeId INT,
            OrderNumber VARCHAR(30),
            ServiceDate DATETIME,
            CustomerReport VARCHAR(MAX),
            DealerReport VARCHAR(MAX),
            TechnicalSolution VARCHAR(MAX),
            DealerId INT,
            VehicleId INT,
			CustomerId INT,
			Km INT,
			InvoiceDate DATETIME,
			InvoiceNumber VARCHAR (20),
			InvoiceAmount NUMERIC,
            EstatusId INT,
            IsActive BIT,
            PolicyDetailId INT,
			Paralyzed bit ,
			LicenseId INT
        ) AS M				



		-------VALIDACIONES------
		EXEC USP_CHECK_DEALERS @DATA,@IDUSER
		EXEC USP_CHECK_MAINTENANCE @DATA,@IDUSER

		DECLARE @VACTION VARCHAR(20)
		------MARCAR MODULO DEPENDIENDO DEL SERVICETYPE------
          DECLARE @IDMODULE INT;
          SELECT @IDMODULE = 
				CASE 
					WHEN M.IDSERVICETYPE = 1 THEN [dbo].[UFN_GET_IDMODULE]('SERVICIOS-MANTENIMIENTO')
					WHEN M.IDSERVICETYPE = 2 THEN [dbo].[UFN_GET_IDMODULE]('SERVICIOS-ASISTENCIA TECNICA') 
					WHEN M.IDSERVICETYPE = 3 THEN [dbo].[UFN_GET_IDMODULE]('SERVICIOS-REPORTE FALLA')
					ELSE 8
				END
			FROM @TDATA M;
		
	
		
		-------------------------------------------------
		
	    DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT
		DECLARE @IDMAINTENANCE INT
		DECLARE @IDPOLICYDETAIL INT,@CURRENTKM INT,@IDPOLICY INT,@CURRENTDATE DATETIME -- 
		DECLARE @IDLICENSE INT = (SELECT TOP 1 IDLICENSE FROM @TDATA)
		DECLARE @LASTKM INT = (SELECT TOP 1 V.ILASTKM FROM VEHICLE V WITH(NOLOCK) 
		                INNER JOIN @TDATA T ON  V.ID=T.IDVEHICLE )
		
		DECLARE @ESTATUS INT;
	    DECLARE @VALID BIT 





		  
      ------------------------CONSULTA PARA MODIFCAR EL ESTATUS DE MANTENIMIENTO DEPENDIENDO DE LA ESCALA------------------------------------
			IF EXISTS (SELECT * FROM @TDATA WHERE IDSERVICETYPE=1 )
			BEGIN
			SELECT @IDPOLICY = P.ID
					FROM @TDATA A
					INNER JOIN VEHICLE V (NOLOCK) ON A.IDVEHICLE = V.ID
					INNER JOIN POLICY P (NOLOCK) ON  V.ID= P.IDVEHICLE

					SELECT @CURRENTKM=IKM, @CURRENTDATE=DMAINTENANCEDATE FROM @TDATA
					SELECT @IDPOLICYDETAIL = DBO.[UFN_GETONE_POLICYDETAILS](@IDPOLICY,@CURRENTKM,@CURRENTDATE)
					SELECT @VALID=BVALID FROM POLICYDETAILS WHERE ID= @IDPOLICYDETAIL


             END      

					SELECT @ESTATUS = 
					CASE 
						WHEN M.IDSERVICETYPE = 1 AND @VALID=0 THEN 16
						WHEN M.IDSERVICETYPE = 1 AND @VALID IS NULL THEN 18
						WHEN M.IDSERVICETYPE = 2 THEN 2
						WHEN M.IDSERVICETYPE = 3 THEN 2
						ELSE 2
					END
					FROM @TDATA M;
    

	       
		   
			
			
			
		---------------------------------------------------------------------------------------------------------------------------------------------------

		-- REGISTRO NUEVO
	IF EXISTS (SELECT * FROM @TDATA WHERE ID=0)
	BEGIN
	        SET @VACTION='CREATE'
			EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

       	INSERT INTO MAINTENANCE
		(IDSERVICETYPE,IDREPORTTYPE, VSERVICENUMBER,DMAINTENANCEDATE, VREPORTCUSTOMER, VTECHNICALREPORT, VTECHNICALSOLUTION, IDDEALER, IDVEHICLE, IKM, IDCUSTOMER,DINVOICEDATE, VINVOICENUMBER,NINVOICEAMOUNT,VUPDATEDBY, IESTATUS,BACTIVE,DCREATED, DUPDATED,BPARALYZED )
         SELECT D.IDSERVICETYPE, D.IDREPORTTYPE,D.VSERVICENUMBER,D.DMAINTENANCEDATE,D.VREPORTCUSTOMER, D.VTECHNICALREPORT,D.VTECHNICALSOLUTION,D.IDDEALER,D.IDVEHICLE,D.IKM,D.IDCUSTOMER,D.DINVOICEDATE,D.VINVOICENUMBER,D.NINVOICEAMOUNT,DBO.UFN_GET_LOGIN(@IDUSER),@ESTATUS,1, GETDATE(), GETDATE(), D.BPARALYZED
       	FROM @TDATA D
       	WHERE NOT EXISTS (SELECT * FROM MAINTENANCE P WHERE P.ID = D.ID);
         

       
	   SELECT @IID=SCOPE_IDENTITY()
       SELECT @IINSERTED=@@ROWCOUNT
	   SELECT @IDMAINTENANCE=@IID

	    IF @LASTKM<= (SELECT IKM FROM MAINTENANCE WHERE ID=@IDMAINTENANCE)
		BEGIN
        UPDATE V
		SET 
		V.ILASTKM=M.IKM
		FROM VEHICLE V
		INNER JOIN MAINTENANCE M WITH (NOLOCK) ON V.ID=M.IDVEHICLE
		WHERE M.ID =@IDMAINTENANCE
		END

	   
	--------------------------ACTUALIZAR DETALLE DE LICENCIA CON EL IDMAINTENCE SEA EL CASO ----------------------------------------------	
		IF EXISTS (SELECT * FROM @TDATA WHERE  IDSERVICETYPE=3 AND IDREPORTTYPE = 4)
			BEGIN
				UPDATE LD
				SET LD.IDMAINTENANCE = @IID,
				LD.IESTATUS=DBO.UFN_GET_ISTATUS('UNAVAILABLE')
				FROM LICENSEDETAILS LD
				JOIN VEHICLE V(NOLOCK) ON LD.VVIN =V.VVIN
				JOIN @TDATA D ON V.ID = D.IDVEHICLE
				WHERE D.IDREPORTTYPE = 4 AND LD.IDLICENSE=@IDLICENSE;
			END

	
     ------------------ACTUALIZAR ESCALA -----------------------------	
		
		-- MANTENIMIENTO
		IF EXISTS (SELECT * FROM @TDATA WHERE IDSERVICETYPE=1  )
		BEGIN
				-- CONSIGUIO ESCALA
				If @IDPOLICYDETAIL > 0 
				BEGIN
					EXEC USP_POST_POLICYDETAILS2 @IDPOLICYDETAIL, @IDPOLICY, @IDMAINTENANCE, @CURRENTKM, @CURRENTDATE, @IDUSER;
				END 
				ELSE
				BEGIN
					 RAISERROR ('MANTENIMIENTO SIN ESCALA VALIDO', 16, 1);
				END

		END

	END

	ELSE
	BEGIN
	        SET @VACTION='EDIT'
			EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
	----------------------IDENTIFICAR ESTATUS-----------------------------
			SELECT @ESTATUS = 
				CASE 
					WHEN M.IDSERVICETYPE = 1 THEN 16
					WHEN M.IDSERVICETYPE = 2 THEN 16
					WHEN M.IDSERVICETYPE = 3 THEN 14
					ELSE 2
				END
			FROM @TDATA M;
			---------------------ACTUALIZAR REGISTRO-------------------------------------
       		UPDATE MAINTENANCE
       		SET IDSERVICETYPE = D.IDSERVICETYPE,
                IDREPORTTYPE= D.IDREPORTTYPE,
				VSERVICENUMBER= D.VSERVICENUMBER,
				DMAINTENANCEDATE= D.DMAINTENANCEDATE,
           		IDVEHICLE = D.IDVEHICLE,
                VREPORTCUSTOMER = D.VREPORTCUSTOMER,
				VTECHNICALREPORT=D.VTECHNICALREPORT,
				VTECHNICALSOLUTION=D.VTECHNICALSOLUTION,
				IDDEALER= D.IDDEALER,
				IKM = D.IKM,
				IDCUSTOMER =D.IDCUSTOMER,
           		VINVOICENUMBER = D.VINVOICENUMBER,
           		NINVOICEAMOUNT = D.NINVOICEAMOUNT,
           		DINVOICEDATE = D.DINVOICEDATE,
                IESTATUS =@ESTATUS,
				BACTIVE= D.BACTIVE,
           		VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
           		DUPDATED = GETDATE(),
                BPARALYZED=D.BPARALYZED
       		FROM MAINTENANCE P
       		INNER JOIN @TDATA D ON D.ID = P.ID
            SELECT @IUPDATED=@@ROWCOUNT
	END

		-----------------------OBTENER EL ID DEL SERVICIO--------------------------------
		SET @IDMAINTENANCE = 
   				CASE 
       				WHEN @IID IS NOT NULL AND @IID != 0 THEN @IID
       				WHEN @IUPDATED != 0 THEN (SELECT TOP 1 ID FROM @TDATA)
       				ELSE 0
   				END;



			--------------------------GUARDAR COMENTARIO--------------------------------
			IF @IDMAINTENANCE != 0
			BEGIN
   				INSERT INTO COMMENT (VCONTENT, DCREATED, VCREATEDBY,BACTIVE, IDRECORD, IDMODULE)
   				SELECT VCONTENT, GETDATE(), DBO.UFN_GET_LOGIN(@IDUSER),1, @IDMAINTENANCE,@IDMODULE
   				FROM (
       				SELECT M.VREPORTCUSTOMER AS VCONTENT FROM @TDATA M
       				UNION ALL
       				SELECT M.VTECHNICALREPORT FROM @TDATA M
       				UNION ALL
       				SELECT M.VTECHNICALSOLUTION FROM @TDATA M
   				) AS AllContents
   				WHERE VCONTENT IS NOT NULL
     			  AND NOT EXISTS (
         			  SELECT 1 
         			  FROM COMMENT C 
         			  WHERE C.IDRECORD = @IDMAINTENANCE AND C.IDMODULE = @IDMODULE AND C.VCONTENT = AllContents.VCONTENT
     			  );
			END;

		SELECT
		ISNULL(@IID,0) AS IID , 
		ISNULL(@IINSERTED,0) AS IINSERTED,
		ISNULL(@IUPDATED,0) AS IUPDATED

	

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
