GO
/****** Object:  StoredProcedure [dbo].[USP_GET_DMS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_DMS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_DMS] AS BEGIN SET NOCOUNT ON  END')
GO


ALTER PROCEDURE [dbo].[USP_GET_DMS] -- EXEC USP_GET_DMS 1,4069,NULL,NULL,NULL,NULL,14
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IROWFROM INT = NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL,
@VFILTER VARCHAR(100) = NULL,
@IESTATUS INT =NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

BEGIN

		WITH T1 as(
		SELECT 
		D.ID,
		D.SRG,
		D.VCODITEM,
		ISNULL(COALESCE(P.VDESCRIPTION, L.VDESCRIPTION),'NO APLICA') AS VDESCRIPTION,
		D.NBASEAMOUNT,
		D.VDMS,
		D.DDATEDMS,
		D.VPREAPPROVAL,
		D.DDATEPREAPPROVAL,
		D.NPAIDAMOUNT,
		D.DDATEFINALAPPROVAL,
		D.DCREATED,
		D.IESTATUS,
		CASE 
			WHEN D.IESTATUS=DBO.UFN_GET_ISTATUS('PROCESS') AND BCOMPLETED=1 THEN A.VDISPLAYESTATUS
			WHEN D.IESTATUS=DBO.UFN_GET_ISTATUS('PROCESS') AND BCOMPLETED=0 THEN A.VDISPLAYESTATUS+' Parcial'
		    ELSE A.VDISPLAYESTATUS
		END AS VESTATUS,
		D.BCOMPLETED,
		D.IDSUPPLIER
		FROM DMS D
		INNER JOIN MAINTENANCE M WITH (NOLOCK) ON D.SRG=M.VSRGNUMBER 
		INNER JOIN VEHICLE V WITH (NOLOCK) ON M.IDVEHICLE=V.ID
		LEFT JOIN PART P WITH (NOLOCK) ON D.VCODITEM = P.VINNERCODE 
		LEFT JOIN LABORTIME L WITH (NOLOCK) ON D.VCODITEM = L.VREFERENCE AND P.VINNERCODE IS NULL AND L.IDMODEL=V.IDMODEL
		INNER JOIN ACTION A WITH (NOLOCK) ON D.IESTATUS=A.ID
		WHERE D.IDSUPPLIER=@IDSUPPLIER
		AND (
        D.SRG LIKE '%' + ISNULL(@VFILTER, '') + '%' 
        OR D.VCODITEM LIKE '%' + ISNULL(@VFILTER, '') + '%'
		OR D.VDMS LIKE '%' + ISNULL(@VFILTER, '') + '%'
		OR D.VPREAPPROVAL LIKE '%' + ISNULL(@VFILTER, '') + '%'
			)
			AND D.DCREATED BETWEEN ISNULL(@DFROMDATE, D.DCREATED) AND ISNULL(@DUPTODATE, D.DCREATED)
			AND ( D.IESTATUS = CASE WHEN @IESTATUS IS NUll THEN D.IESTATUS ELSE @IESTATUS END)
		),
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
		T3 AS (
			SELECT * FROM T1
			ORDER BY T1.ID DESC
			OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
			FETCH NEXT @TOPE ROWS ONLY
		)
		SELECT T3.*, T2.* FROM T3, T2;
	
END

