GO
/****** Object:  StoredProcedure [dbo].[USP_GET_REPORTS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_REPORTS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_REPORTS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_GET_REPORTS]--USP_GET_REPORTS 1,0,4069,NULL,NULL,1,NULL,NULL,NULL
@IDUSER INT, 
@IDDEALER INT = NULL,
@IDSUPPLIER INT = NULL,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@IDREPORTING INT,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL,
@IESTATUS INT =NULL


AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	DECLARE @ISDEALER BIT=0
	IF NOT EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] WHERE IDUSER=@IDUSER)
	BEGIN
		SET @ISDEALER=1
	END

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END




BEGIN
    IF @IDREPORTING = 1
    BEGIN
        ;WITH T1 AS (
            SELECT P.*
            FROM V_POLICY P
            WHERE (
                (@ISDEALER = 0 AND EXISTS (
                    SELECT 1
                    FROM V_SUPPLIERS_USER R
                    WHERE R.IDUSER = @IDUSER
                      AND R.IDSUPPLIER = P.IDSUPPLIER
                      AND P.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0)=0 THEN P.IDSUPPLIER ELSE @IDSUPPLIER END
                      AND P.IDDEALER   = CASE WHEN ISNULL(@IDDEALER,0)=0 THEN P.IDDEALER ELSE @IDDEALER END
                ))
                OR
                (@ISDEALER = 1 AND EXISTS (
                    SELECT 1 FROM V_DEALERS_USER D 
                    WHERE D.IDUSER = @IDUSER
                      AND D.IDDEALER = P.IDDEALER
                ))
            )
            AND (
                P.VIN LIKE '%' + ISNULL(@VFILTER, '') + '%'
                OR P.PLACA LIKE '%' + ISNULL(@VFILTER, '') + '%'
                OR P.[DOCUMENTO CLIENTE] LIKE '%' + ISNULL(@VFILTER, '') + '%'
                OR P.[NOMBRE CLIENTE] LIKE '%' + ISNULL(@VFILTER, '') + '%'
                OR P.[NUMERO DE POLIZA] LIKE '%' + ISNULL(@VFILTER, '') + '%'
            )
			AND P.[FECHA CREACION POLIZA] BETWEEN ISNULL(@DFROMDATE, P.[FECHA CREACION POLIZA]) AND ISNULL(@DUPTODATE, P.[FECHA CREACION POLIZA])
			AND ( P.IESTATUS = CASE WHEN @IESTATUS IS NUll THEN P.IESTATUS ELSE @IESTATUS END)
        ),
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
        T3 AS (
            SELECT * FROM T1
            ORDER BY 
                     [FECHA CREACION POLIZA] DESC,
                     VIN
            OFFSET @IROWFROM ROWS
            FETCH NEXT @TOPE ROWS ONLY
        )
        SELECT T3.*, T2.TOTAL
        FROM T3, T2
    END

    ELSE IF @IDREPORTING = 2
    BEGIN
        ;WITH T1 AS (
            SELECT P.*
            FROM V_SALEORDER P
            WHERE (
                (@ISDEALER = 0 AND EXISTS (
                    SELECT 1
                    FROM V_SUPPLIERS_USER R
                    WHERE R.IDUSER = @IDUSER
                      AND R.IDSUPPLIER = P.IDSUPPLIER
                      AND P.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0)=0 THEN P.IDSUPPLIER ELSE @IDSUPPLIER END
                      AND P.IDDEALER   = CASE WHEN ISNULL(@IDDEALER,0)=0 THEN P.IDDEALER ELSE @IDDEALER END
                ))
                OR
                (@ISDEALER = 1 AND EXISTS (
                    SELECT 1 FROM V_DEALERS_USER D 
                    WHERE D.IDUSER = @IDUSER
                      AND D.IDDEALER = P.IDDEALER
                ))
            )
			AND P.VCREATED BETWEEN ISNULL(@DFROMDATE, P.VCREATED) AND ISNULL(@DUPTODATE, P.VCREATED)
			AND ( P.IDESTATUS = CASE WHEN @IESTATUS IS NUll THEN P.IDESTATUS ELSE @IESTATUS END)

        ),
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
        T3 AS (
            SELECT * FROM T1
            ORDER BY 
            VCREATED DESC
            OFFSET @IROWFROM ROWS
            FETCH NEXT @TOPE ROWS ONLY
        )
        SELECT T3.*, T2.TOTAL
        FROM T3, T2
    END

	ELSE IF @IDREPORTING = 4
    BEGIN
        ;WITH T1 AS (
            SELECT P.*
            FROM V_BACKORDER P
            WHERE (
                (@ISDEALER = 0 AND EXISTS (
                    SELECT 1
                    FROM V_SUPPLIERS_USER R
                    WHERE R.IDUSER = @IDUSER
                      AND R.IDSUPPLIER = P.IDSUPPLIER
                      AND P.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0)=0 THEN P.IDSUPPLIER ELSE @IDSUPPLIER END
                      AND P.IDDEALER   = CASE WHEN ISNULL(@IDDEALER,0)=0 THEN P.IDDEALER ELSE @IDDEALER END
                ))
                OR
                (@ISDEALER = 1 AND EXISTS (
                    SELECT 1 FROM V_DEALERS_USER D 
                    WHERE D.IDUSER = @IDUSER
                      AND D.IDDEALER = P.IDDEALER
                ))
            )
			AND P.DCREATED BETWEEN ISNULL(@DFROMDATE, P.DCREATED) AND ISNULL(@DUPTODATE, P.DCREATED)
        ),
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
        T3 AS (
            SELECT * FROM T1
            ORDER BY 
            DCREATED DESC
            OFFSET @IROWFROM ROWS
            FETCH NEXT @TOPE ROWS ONLY
        )
        SELECT T3.*, T2.TOTAL
        FROM T3, T2
    END

END




