GO
/****** Object:  StoredProcedure [dbo].[USP_POST_ASSESSMENT]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_ASSESSMENT]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_ASSESSMENT] AS BEGIN SET NOCOUNT ON  END')
GO


ALTER PROCEDURE [dbo].[USP_POST_ASSESSMENT]
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

    BEGIN TRY
        BEGIN TRAN 
	

            DECLARE @TDATA AS TABLE
            ( 
			    ID INT,
				IQUANTITY INT,
				BACTIVE BIT
            );

            INSERT INTO @TDATA
            SELECT M.Id,M.Assesment,IsActive  
			FROM OPENJSON(@DATA)
            WITH (
                Id INT,
				Assesment INT,
				IsActive BIT
				) AS M
		
		    DECLARE @IID INT
		    DECLARE @IINSERTED INT
			DECLARE @IUPDATED INT

			UPDATE L
					SET 
					    L.IQUANTITY= D.IQUANTITY,
						L.DUPDATE=GETDATE(),
						L.DENDDATE=GETDATE(),
						L.VUPDATEBY =DBO.UFN_GET_LOGIN(@IDUSER),
						L.VUSERDEALER =DBO.UFN_GET_LOGIN(@IDUSER)
				FROM ASSESSMENT L
				INNER JOIN @TDATA D ON L.ID=D.ID


			SELECT @IINSERTED=@@ROWCOUNT
			SELECT @IID=SCOPE_IDENTITY()
      
			SELECT
			ISNULL(@IID,0) AS IID , 
			ISNULL(@IINSERTED,0) AS IINSERTED,
			ISNULL(@IUPDATED,0) AS IUPDATED

            COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
