GO
/****** Object:  StoredProcedure [dbo].[USP_POST_DMS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_DMS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_DMS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_POST_DMS]
 @DATA NVARCHAR(MAX),
 @IDUSER INT,
 @TYPE INT 
  
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000



BEGIN
    BEGIN TRY
        BEGIN TRAN 

        

        DECLARE @TDATA AS TABLE
        (
            VSRG VARCHAR(20),
            VCODITEM VARCHAR(100),
			VDMS VARCHAR (100),
			VPREAPPROVAL VARCHAR(100),
			NPAIDAMOUNT NUMERIC(10,2),
			IDSUPPLIER INT,
			VROWREFERENCE VARCHAR(5)

        );
        

        INSERT INTO @TDATA
        SELECT M.Srg,M.CodItem,M.CodDms,M.PreApproval,M.PaidAmount,M.SupplierId,M.RowReference
        FROM OPENJSON(@DATA)
        WITH (
            Srg VARCHAR(20),
            CodItem VARCHAR(100),
			CodDms VARCHAR(100),
			PreApproval VARCHAR(100),
            PaidAmount NUMERIC(12,2),
            SupplierId INT ,
			RowReference Varchar(5)
        ) AS M

		DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('SERVICIOS-CONCILIACION SRG')
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @VROWREF VARCHAR(5)=NULL
		
		IF @TYPE=1
		BEGIN
		

			IF @ErrorMessage IS NULL
				BEGIN
					IF EXISTS (SELECT * FROM DMS D WITH (NOLOCK) INNER JOIN @TDATA T ON D.SRG=D.SRG 
					WHERE D.IDSUPPLIER<>T.IDSUPPLIER)
					BEGIN
						SELECT TOP 1 @VROWREF=T.VROWREFERENCE FROM DMS D WITH (NOLOCK)
						INNER JOIN @TDATA T ON D.SRG=D.SRG
						WHERE D.IDSUPPLIER<>T.IDSUPPLIER
						
						SET @ErrorMessage ='ERROR: REGISTRO NO ACORDE A LA MARCA'
					END
				END

			IF @ErrorMessage IS NULL
				BEGIN
					IF EXISTS (SELECT * FROM DMS D WITH (NOLOCK) 
					           INNER JOIN @TDATA T ON D.SRG=D.SRG 
					           WHERE D.VDMS IS NOT NULL)
					BEGIN
						SELECT TOP 1 @VROWREF=T.VROWREFERENCE FROM DMS D WITH (NOLOCK)
						INNER JOIN @TDATA T ON D.SRG=D.SRG
						WHERE D.VDMS IS NOT NULL
						
						SET @ErrorMessage ='ERROR: DMS YA INGRESADO PARA CODIGO SRG'
					END
				END

		END

		IF @TYPE=2
		BEGIN
		

			IF @ErrorMessage IS NULL
				BEGIN
					IF EXISTS (SELECT * FROM DMS D WITH (NOLOCK) 
					           INNER JOIN @TDATA T ON D.VDMS=D.VDMS 
					           WHERE D.IDSUPPLIER<>T.IDSUPPLIER)
					BEGIN
						SELECT TOP 1 @VROWREF=T.VROWREFERENCE FROM DMS D WITH (NOLOCK)
						INNER JOIN @TDATA T ON D.VDMS=D.VDMS
						WHERE D.IDSUPPLIER<>T.IDSUPPLIER
						
						SET @ErrorMessage ='ERROR: REGISTRO NO ACORDE A LA MARCA'
					END
				END

			IF @ErrorMessage IS NULL
				BEGIN
					IF EXISTS (SELECT * FROM DMS D WITH (NOLOCK) 
					           INNER JOIN @TDATA T ON D.VDMS=T.VDMS 
					           WHERE D.BCOMPLETED=1 AND T.IDSUPPLIER=4076 )
					BEGIN
						SELECT TOP 1 @VROWREF=T.VROWREFERENCE FROM DMS D WITH (NOLOCK)
						INNER JOIN @TDATA T ON D.SRG=D.SRG
						WHERE D.BCOMPLETED=1 AND T.IDSUPPLIER=4076
						
						SET @ErrorMessage ='ERROR: MONTO TOTAL YA INGRESADO PARA CODIGO DMS'
					END

					IF EXISTS (SELECT * FROM DMS D WITH (NOLOCK) 
					           INNER JOIN @TDATA T ON D.VDMS=T.VDMS 
					           WHERE D.VPREAPPROVAL IS NOT NULL AND T.IDSUPPLIER=4069 )
					BEGIN
						SELECT TOP 1 @VROWREF=T.VROWREFERENCE FROM DMS D WITH (NOLOCK)
						INNER JOIN @TDATA T ON D.SRG=D.SRG
						WHERE D.VPREAPPROVAL IS NOT NULL AND T.IDSUPPLIER=4069
						
						SET @ErrorMessage ='ERROR: CODIGO PREAPROBATORIO YA INGRESADO PARA CODIGO DMS'
					END
				END

		END

		IF @TYPE=3
		BEGIN
		
			IF @ErrorMessage IS NULL
				BEGIN
					IF EXISTS (SELECT * FROM DMS D WITH (NOLOCK) 
					           INNER JOIN @TDATA T ON D.VPREAPPROVAL=D.VPREAPPROVAL 
					           WHERE D.IDSUPPLIER<>T.IDSUPPLIER)
					BEGIN
						SELECT TOP 1 @VROWREF=T.VROWREFERENCE FROM DMS D WITH (NOLOCK)
						INNER JOIN @TDATA T ON D.VPREAPPROVAL=D.VPREAPPROVAL
						WHERE D.IDSUPPLIER<>T.IDSUPPLIER
						
						SET @ErrorMessage ='ERROR: REGISTRO NO ACORDE A LA MARCA'
					END
				END

			IF @ErrorMessage IS NULL
				BEGIN
					IF EXISTS (SELECT * FROM DMS D WITH (NOLOCK) 
					           INNER JOIN @TDATA T ON D.VDMS=T.VDMS 
					           WHERE D.BCOMPLETED=1 )
					BEGIN
						SELECT TOP 1 @VROWREF=T.VROWREFERENCE FROM DMS D WITH (NOLOCK)
						INNER JOIN @TDATA T ON D.SRG=D.SRG
						WHERE D.BCOMPLETED=1 
						
						SET @ErrorMessage ='ERROR: MONTO TOTAL YA INGRESADO PARA CODIGO DMS'
					END
				END

		END

		
		IF @ErrorMessage IS NOT NULL
				BEGIN
					IF @VROWREF IS NOT NULL AND LTRIM(RTRIM(@VROWREF)) <> ''
						SET @ErrorMessage= @ErrorMessage + ' -FILA: ' + @VROWREF

					RAISERROR(@ErrorMessage, 16, 1)
					RETURN
				END
				

		DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT


		-- REGISTRO NUEVO
		
		SET @VACTION='CREATE'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
    -----------------------------INSERTAR DMS-----------------------------------------
        IF @TYPE=1
       	BEGIN
			UPDATE D
			SET	
			    D.VDMS=T.VDMS,
				D.DDATEDMS=GETDATE(),
			    D.IESTATUS=DBO.UFN_GET_ISTATUS('GENERATE'),
				VUPDATEDBY=DBO.UFN_GET_LOGIN(@IDUSER), 
				DUPDATED=GETDATE()
			FROM DMS D
			INNER JOIN  @TDATA T ON T.VSRG=D.SRG
 
			SELECT @IINSERTED=@@ROWCOUNT
		END
		
		-----------------------------INSERTAR PRO APROBATORIO---------------------------
		 ELSE IF @TYPE=2 AND EXISTS (SELECT * FROM @TDATA WHERE IDSUPPLIER=4069)
       	BEGIN
				UPDATE D
				SET	
					D.VPREAPPROVAL=T.VPREAPPROVAL,
					D.DDATEPREAPPROVAL=GETDATE(),
					D.IESTATUS=DBO.UFN_GET_ISTATUS('APPROVE'),
					VUPDATEDBY=DBO.UFN_GET_LOGIN(@IDUSER), 
					DUPDATED=GETDATE()
				FROM DMS D
				INNER JOIN  @TDATA T ON D.VDMS=T.VDMS
      

				UPDATE D
					SET	
					D.BCOMPLETED=CASE
									WHEN D.NPAIDAMOUNT>=D.NBASEAMOUNT THEN 1
									ELSE 0
								END
					FROM DMS D
					INNER JOIN  @TDATA T ON D.VPREAPPROVAL=T.VPREAPPROVAL AND D.VCODITEM=T.VCODITEM


			SELECT @IINSERTED=@@ROWCOUNT
		END

		-----------------------------FOTON INSERTA MONTO -----------------------------------------
	      ELSE IF @TYPE=2 AND EXISTS (SELECT * FROM @TDATA WHERE IDSUPPLIER=4076)
		  BEGIN
				UPDATE D
					SET	
						D.NPAIDAMOUNT=(D.NPAIDAMOUNT+T.NPAIDAMOUNT),
						D.DDATEFINALAPPROVAL=GETDATE(),
						D.IESTATUS=DBO.UFN_GET_ISTATUS('PROCESS'),
						VUPDATEDBY=DBO.UFN_GET_LOGIN(@IDUSER), 
						DUPDATED=GETDATE()
					FROM DMS D
					INNER JOIN  @TDATA T ON D.VDMS=T.VDMS
					AND D.BCOMPLETED=0
				
				INSERT INTO PAIDDETAILS(IDDMS,NAMOUNT,DPAIDDATE,DCREATED,VUPDATEDBY)
				SELECT D.ID,T.NPAIDAMOUNT,D.DDATEFINALAPPROVAL,GETDATE(),dbo.UFN_GET_LOGIN(@IDUSER)
				FROM @TDATA T 
				INNER JOIN DMS D WITH (NOLOCK) ON T.VDMS=D.VDMS 
			    AND D.BCOMPLETED=0

				UPDATE D
					SET	
					D.BCOMPLETED=CASE
									WHEN D.NPAIDAMOUNT>=D.NBASEAMOUNT THEN 1
									ELSE 0
								END
					FROM DMS D
					INNER JOIN  @TDATA T ON D.VDMS=T.VDMS
					WHERE D.BCOMPLETED=0
				
				SELECT @IINSERTED=@@ROWCOUNT

		   END 
    
	
	-----------------------------REGISTRO MONTO POR REPUESTO CHANGAN -----------------------------------------
		ELSE IF @TYPE=3
       	BEGIN
			UPDATE D
			SET	
			    D.NPAIDAMOUNT=(D.NPAIDAMOUNT+T.NPAIDAMOUNT),
				D.DDATEFINALAPPROVAL=GETDATE(),
			    D.IESTATUS=DBO.UFN_GET_ISTATUS('PROCESS'),
				VUPDATEDBY=DBO.UFN_GET_LOGIN(@IDUSER), 
				DUPDATED=GETDATE()
	      	FROM DMS D
			INNER JOIN  @TDATA T ON D.VPREAPPROVAL=T.VPREAPPROVAL AND D.VCODITEM=T.VCODITEM
			AND D.BCOMPLETED=0

			-----------------------------REGISTRO TABLA DE MONTO POR FECHA ----------------------------------------
			INSERT INTO PAIDDETAILS(IDDMS,NAMOUNT,DPAIDDATE,DCREATED,VUPDATEDBY)
			SELECT D.ID,T.NPAIDAMOUNT,D.DDATEFINALAPPROVAL,GETDATE(),dbo.UFN_GET_LOGIN(@IDUSER)
			FROM @TDATA T 
			INNER JOIN DMS D WITH (NOLOCK) ON T.VPREAPPROVAL=D.VPREAPPROVAL AND T.VCODITEM=D.VCODITEM
			WHERE D.BCOMPLETED=0

			----------------------------------ESTATUS POR SI PAGARON PARCIAL O TOTAL-------------------------------
			UPDATE D
			SET	
				D.BCOMPLETED=CASE
								WHEN D.NPAIDAMOUNT>=D.NBASEAMOUNT THEN 1
								ELSE 0
                           END
			FROM DMS D
			INNER JOIN  @TDATA T ON D.VPREAPPROVAL=T.VPREAPPROVAL AND D.VCODITEM=T.VCODITEM
			WHERE D.BCOMPLETED=0

			SELECT @IINSERTED=@@ROWCOUNT
		END


				
		------REGISTRO DE AUDITORIA-------
		  IF @IINSERTED>0 OR @IUPDATED>0
		BEGIN	
			INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
			SELECT 
			@IDUSER,
			D.ID,
			[dbo].[UFN_GET_IDMODULE]('SERVICIOS-CONCILIACION SRG'),
			'CREATE',
			CASE 
				WHEN @TYPE=1 THEN T.VDMS
				WHEN @TYPE=2 THEN T.VPREAPPROVAL
				WHEN @TYPE=3 THEN CAST(T.NPAIDAMOUNT AS VARCHAR(40))
			    ELSE ''
			END,
			NULL,
			GETDATE()
			FROM @TDATA T
			INNER JOIN DMS D WITH (NOLOCK) ON D.VPREAPPROVAL=T.VPREAPPROVAL AND D.VCODITEM=T.VCODITEM
		END 

		SELECT
		ISNULL(@IID,0) AS IID , 
		ISNULL(@IINSERTED,0) AS IINSERTED,
		ISNULL(@IUPDATED,0) AS IUPDATED

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
