GO
/****** Object:  StoredProcedure [dbo].[USP_POST_CLAIMDETAILS_ACTIONS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_CLAIMDETAILS_ACTIONS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_CLAIMDETAILS_ACTIONS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_POST_CLAIMDETAILS_ACTIONS]
    @DATA NVARCHAR(MAX),
    @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               : 
  '   VERSIÓN               :
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN :  
  '===============================================================*/     
   
SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
    BEGIN TRY
        BEGIN TRAN 

        -- ================================================================
        -- 1. PARSEO DE DATOS
        -- ================================================================
        DECLARE @TDATA TABLE (
            IDRECORD INT,
            IDMODULE INT,
            VACTION VARCHAR(20),
            VCOMMENT VARCHAR(MAX),
            IDRELATED INT
        );
 
        INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS C

        -- Variables principales
		DECLARE @IDACTION INT
		DECLARE @VACTION VARCHAR(20)
		DECLARE @IDRELATED INT
		DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT
		DECLARE @IDMODULE INT
        DECLARE @IDDETAIL INT
        DECLARE @IDRELATED_PART INT
        DECLARE @VCOMMENT_INPUT VARCHAR(MAX)

        SELECT TOP 1 
            @IDDETAIL = IDRECORD,
            @IDRELATED_PART = IDRELATED,
            @VCOMMENT_INPUT = VCOMMENT,
            @VACTION = VACTION
        FROM @TDATA;

        -- ================================================================
        -- 2. VALIDACIONES BÁSICAS
        -- ================================================================
        IF NOT EXISTS (SELECT 1 FROM CLAIMDETAIL WHERE ID = @IDDETAIL)
        BEGIN
            RAISERROR('El item no existe.', 16, 1);
            RETURN;
        END

        -- Obtener datos actuales del item
        DECLARE @CURRENT_STATUS INT
        DECLARE @IDREASON INT
        DECLARE @REASON_DESC VARCHAR(100)
        DECLARE @IQUANTITY_ORIGINAL INT
        DECLARE @IDCLAIM INT

        SELECT 
            @CURRENT_STATUS = CD.IDSTATUS,
            @IDREASON = CD.IDREASON,
            @IQUANTITY_ORIGINAL = CD.IQUANTITY,
            @IDCLAIM = CD.IDCLAIM
        FROM CLAIMDETAIL CD
        WHERE CD.ID = @IDDETAIL;

        
        -- Obtener descripción del motivo
        SELECT @REASON_DESC = VDESCRIPTION  
        FROM CLAIMREASON  
        WHERE ID = @IDREASON;

        -- Validar estado del reclamo 
        IF NOT EXISTS (
            SELECT 1 FROM CLAIM 
            WHERE ID = @IDCLAIM 
            AND IDSTATUS IN ( 
                dbo.UFN_GET_ISTATUS('TOAPPROVE')
            )
        )
        BEGIN
            RAISERROR('El reclamo no está en estado para aprobar.', 16, 1);
            RETURN;
        END

        -- ================================================================
        -- 3. EJECUCIÓN POR TIPO DE ACCIÓN
        -- ================================================================

        -- ACCIÓN: APROBAR
        IF @VACTION = 'APPROVE'
        BEGIN
            -- Validar según tipo de motivo
            IF @REASON_DESC = 'SOBRANTE' AND @IDRELATED_PART > 0
            BEGIN
                RAISERROR('Sobrante no debe tener repuesto de reemplazo.', 16, 1);
                RETURN;
            END

            -- Motivos que requieren repuesto de reemplazo
            IF @REASON_DESC IN ('FALTANTE', 'NO SOLICITADO', 'MAL ESTADO') AND @IDRELATED_PART> 0
            BEGIN  
                
                -- Validar que el comentario tenga solo números (cantidad aprobada)
                IF @VCOMMENT_INPUT IS NULL OR @VCOMMENT_INPUT = ''
                BEGIN
                    RAISERROR('Debe especificar la cantidad aprobada (solo números).', 16, 1);
                    RETURN;
                END

                IF @VCOMMENT_INPUT LIKE '%[^0-9]%'
                BEGIN
                    RAISERROR('La cantidad aprobada debe contener solo números.', 16, 1);
                    RETURN;
                END

                -- Convertir y validar cantidad
                DECLARE @CANTIDAD_APROBADA INT = TRY_CAST(@VCOMMENT_INPUT AS INT);
                
                IF @CANTIDAD_APROBADA IS NULL OR @CANTIDAD_APROBADA <= 0
                BEGIN
                    RAISERROR('La cantidad aprobada debe ser mayor a 0.', 16, 1);
                    RETURN;
                END

                IF @CANTIDAD_APROBADA > @IQUANTITY_ORIGINAL
                BEGIN
                    RAISERROR('No puede aprobar más de lo reclamado (%d unidades).', 16, 1, @IQUANTITY_ORIGINAL);
                    RETURN;
                END

                ---- Validar que exista el repuesto de reemplazo
                IF NOT EXISTS (SELECT 1 FROM PART WHERE ID = @IDRELATED_PART)
                BEGIN
                    RAISERROR('El repuesto de reemplazo no existe.', 16, 1);
                    RETURN;
                END

                -- Actualizar con repuesto y cantidad
                UPDATE CLAIMDETAIL
                SET 
                    IDREPLACEMENT_PART = @IDRELATED_PART,
                    IAPPROVEDQUANTITY = @CANTIDAD_APROBADA, 
                    IDSTATUS = dbo.UFN_GET_ISTATUS('APPROVE') 
                WHERE ID = @IDDETAIL;
            END
            ELSE
            BEGIN  
                -- Aprobar sin repuesto  
                UPDATE CLAIMDETAIL
                SET 
                    VCOMMENT = ISNULL(@VCOMMENT_INPUT, VCOMMENT),
                    IDSTATUS = dbo.UFN_GET_ISTATUS('APPROVE')  
                WHERE ID = @IDDETAIL;
            END
            
            SET @IUPDATED = @@ROWCOUNT;
        END

        -- ACCIÓN: RECHAZAR
        ELSE IF @VACTION = 'DECLINE'
        BEGIN
            UPDATE CLAIMDETAIL
            SET 
                VCOMMENT = ISNULL(@VCOMMENT_INPUT, VCOMMENT),
                IDSTATUS = dbo.UFN_GET_ISTATUS('DECLINE') 
            WHERE ID = @IDDETAIL;
            
            SET @IUPDATED = @@ROWCOUNT;
        END
        ELSE
        BEGIN
            RAISERROR('Acción no válida: %s', 16, 1, @VACTION);
            RETURN;
        END

        -- ================================================================
        -- 4. RESULTADOS Y AUDITORÍA
        -- ================================================================ 

SELECT
    ISNULL(@IID, 0) AS IID,
    ISNULL(@IINSERTED, 0) AS IINSERTED,
    ISNULL(@IUPDATED, 0) AS IUPDATED

IF @IUPDATED > 0
BEGIN
    INSERT INTO AUDIT (IDUSER, IDRECORD, IDMODULE, VACTION, VCOMMENT, IDRELATED, DCREATED)
    SELECT @IDUSER, IDRECORD, IDMODULE, @VACTION, VCOMMENT, IDRELATED, GETDATE()
    FROM @TDATA;
END

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN;
        
        DECLARE @ErrorMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMsg, 16, 1);
    END CATCH
END