GO
/****** Object:  StoredProcedure [dbo].[USP_CHECK_CREDENTIALS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_CHECK_CREDENTIALS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_CHECK_CREDENTIALS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_CHECK_CREDENTIALS]  
 @IDUSER INT,
 @VACTION VARCHAR(20),
 @IDMODULE INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            :  JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

		--VALIDACIONES
		DECLARE @VUSER VARCHAR(100)
		DECLARE @MENSAJE  VARCHAR(100)

		IF NOT EXISTS(SELECT * FROM INFOUSER WHERE IDUSER=@IDUSER AND BACTIVE=1 AND VPASSWORD IS NOT NULL)
		BEGIN
			SET @MENSAJE = 'USUARIO INACTIVO: '+CAST (@IDUSER AS VARCHAR(5))
			RAISERROR ( @MENSAJE , 16,1)
			RETURN
		END

		IF NOT EXISTS(SELECT * FROM ACCESSGROUPUSER AG WITH (NOLOCK)
		 INNER JOIN ACCESSGROUPDETAIL AD WITH (NOLOCK) ON AG.IDACCESGROUP=AD.IDACCESGROUP
		 INNER JOIN ACCESSGROUP A WITH (NOLOCK) ON AG.IDACCESGROUP=A.ID
		WHERE AG.IDUSER=@IDUSER AND AD.IDACTION=dbo.UFN_GET_ISTATUS(@VACTION) AND AD.IDMODULE=@IDMODULE AND AG.BASSIGN=1 AND AD.BASSIGN=1 AND A.BACTIVE=1 )
		BEGIN
			SET @MENSAJE = 'ACCION NO PERMITIDA PARA USUARIO: '+CAST (@IDUSER AS VARCHAR(5))
			RAISERROR ( @MENSAJE , 16,1) 
			RETURN
		END


