GO
/****** Object:  StoredProcedure [dbo].[USP_GET_ADJUSTMENT]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_ADJUSTMENT]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_ADJUSTMENT] AS BEGIN SET NOCOUNT ON  END')
GO
-- USP_GET_ADJUSTMENT 1,4069
ALTER PROCEDURE [dbo].[USP_GET_ADJUSTMENT] 
    @IDUSER INT,
    @IDSUPPLIER INT = 0,
    @IROWFROM INT = NULL,
    @VFILTER VARCHAR(100) = NULL,
    @ID INT = NULL,
	@IESTATUS INT =NULL,
	@DFROMDATE DATETIME = NULL,
	@DUPTODATE DATETIME = NULL
AS
/* '===============================================================          
  '   NOMBRE                :  
  '   FECHA CREACIÓN        :  
  '   CREADO POR            :  SARAHY CHIRNOS
  '   CREADO PARA           :  
  '   FUNCIÓN               :  
  '   VERSIÓN               :  
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

DECLARE @TOPE INT
IF @IROWFROM IS NULL BEGIN SET @TOPE=1000000 SET @IROWFROM=0 END
ELSE BEGIN SET @TOPE=100 END 
 
BEGIN
    IF @ID IS NOT NULL
    BEGIN
        -- 1 REGISTRO 
        WITH T1 AS (
            SELECT 
                A.ID,
				A.IDUSER,
                A.DCREATED, 
				A.DUPDATED,
				A.VCOMMENT,
				A.IDSTATUS,
                ACT.VDISPLAYESTATUS AS VSTATUS,
                C.VLOGIN,
				A.IDSUPPLIER,
				S.VSUPPLIER
            FROM ADJUSTMENT A WITH (NOLOCK) 
            INNER JOIN ACTION ACT ON A.IDSTATUS = ACT.ID
            INNER JOIN CONTACT C ON A.IDUSER = C.ID
			INNER JOIN V_SUPPLIERS S ON S.IDSUPPLIER=A.IDSUPPLIER
            WHERE A.ID = @ID
        ), T2 AS (SELECT COUNT(*) AS TOTAL FROM T1), T3 AS (SELECT * FROM T1 ORDER BY ID DESC OFFSET @IROWFROM ROWS FETCH NEXT @TOPE ROWS ONLY)
        SELECT T3.*, T2.TOTAL FROM T3, T2;
    END
    ELSE
    BEGIN 
	-- LISTA
        WITH T1 AS (
            SELECT 
                A.ID,
				A.IDUSER,
				A.DCREATED, 
				A.DUPDATED,
				A.VCOMMENT,
				A.IDSTATUS,
                ACT.VDISPLAYESTATUS AS VSTATUS,
                C.VLOGIN ,
				A.IDSUPPLIER,
				S.VSUPPLIER
            FROM ADJUSTMENT A WITH (NOLOCK) 
            INNER JOIN ACTION ACT ON A.IDSTATUS = ACT.ID
            INNER JOIN CONTACT C ON A.IDUSER = C.ID
			INNER JOIN V_SUPPLIERS S ON S.IDSUPPLIER=A.IDSUPPLIER
            WHERE A.IDSUPPLIER = CASE WHEN @IDSUPPLIER = 0 THEN A.IDSUPPLIER ELSE @IDSUPPLIER END 
			AND A.DCREATED BETWEEN ISNULL(@DFROMDATE, A.DCREATED) AND ISNULL(@DUPTODATE, A.DCREATED)
			AND ( A.IDSTATUS = CASE WHEN @IESTATUS IS NUll THEN A.IDSTATUS ELSE @IESTATUS END)
            AND (@VFILTER IS NULL OR 
                CAST(A.ID AS VARCHAR) LIKE '%' + ISNULL(@VFILTER, '') + '%' OR
                ACT.VDISPLAYESTATUS LIKE '%' + ISNULL(@VFILTER, '') + '%' OR
                C.VLOGIN LIKE '%' + ISNULL(@VFILTER, '') + '%')
        ), T2 AS (SELECT COUNT(*) AS TOTAL FROM T1), T3 AS (SELECT * FROM T1 ORDER BY DCREATED DESC OFFSET @IROWFROM ROWS FETCH NEXT @TOPE ROWS ONLY)
        SELECT T3.*, T2.TOTAL FROM T3, T2;
    END
END
