USE oasis
GO
/****** Object:  StoredProcedure [dbo].[USP_DECLINE_PICKING]    Script Date: 2/4/2026 9:41:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[USP_DECLINE_PICKING]
    @IDMOVEMENTDETAIL INT,
    @IDUSER INT
    --@IDECLINEQTY INT,
    --@IREMAININGQTY INT,
    --@IDBACKORDER INT
AS 
/* '===============================================================          
  '   NOMBRE                :  
  '   FECHA CREACIÓN        :  
  '   CREADO POR            :  SARAHY CHIRNOS
  '   CREADO PARA           :  
  '   FUNCIÓN               :  
  '   VERSIÓN               :  
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/  
SET NOCOUNT ON

BEGIN TRY
    DECLARE @IDLocation INT
    DECLARE @IDPart INT
    DECLARE @IDMovement INT
    DECLARE @OriginalBackorderQty INT

    DECLARE @IDECLINEQTY INT 
    DECLARE @IDBACKORDER_OLD INT

    
    --SELECT @IDLocation = IDLOCATION, 
    --       @IDPart = IDPART, 
    --       @IDMovement = IDMOVEMENT
    --FROM MOVEMENTDETAILS WITH (NOLOCK)
    --WHERE ID = @IDMOVEMENTDETAIL
    
    SELECT @IDBACKORDER_OLD = IDBACKORDER,@IDECLINEQTY=IREQUIRED
    FROM MOVEMENTDETAILS WITH (NOLOCK)
    WHERE ID = @IDMOVEMENTDETAIL


    -- SE RETORNA LA CANTIDAD AL  BACKORDER, SIEMPRE CON NUEVO ID, A PARTIR DEL IDBACKORDER ANTERIOR
    DECLARE @IDBACKORDER_NEW INT

    EXEC USP_NEW_BACKORDER @IDBACKORDER_NEW,@IDBACKORDER_OLD,@IDECLINEQTY,@IDUSER


    -- 1. OBTENER CANTIDAD ORIGINAL DEL BACKORDER (SOLO PARA LOG)
    --IF @IDBackorder IS NOT NULL AND @IDBackorder > 0
    --BEGIN
    --    SELECT @OriginalBackorderQty = IBACKORDER
    --    FROM BACKORDER
    --    WHERE ID = @IDBackorder
        
    --    -- ¡NO INCREMENTAR! Solo cambiar estado y agregar observación
    --    UPDATE BACKORDER 
    --    SET IDSTATUS = DBO.UFN_GET_ISTATUS('CREATE'),  -- Volver a pendiente
    --        IDASSIGNED = NULL,  -- Quitar asignación
    --        DCREATED = GETDATE(),
    --        VOBSERVATION = ISNULL(VOBSERVATION, '') + 
    --                      ' | Pick rechazado ID: ' + CAST(@IDMOVEMENTDETAIL AS VARCHAR(10)) +
    --                      ' (Qty: ' + CAST(@IDeclineQty AS VARCHAR(10)) + ')'
    --    WHERE ID = @IDBackorder
    --END
    
    ---- 2. LIBERAR RESERVA EN ALMACÉN
    --UPDATE INVENTORY 
    --SET IRESERVED = CASE 
    --                WHEN IRESERVED >= @IDeclineQty 
    --                THEN IRESERVED - @IDeclineQty 
    --                ELSE 0 
    --                END,
    --    DUPDATED = GETDATE(),
    --    VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
    --WHERE IDLOCATION = @IDLocation 
    --  AND IDPART = @IDPart
    --  AND IRESERVED > 0
    
    -- 3. MARCAR DETALLE COMO RECHAZADO
    UPDATE MOVEMENTDETAILS
    SET IDSTATUS = DBO.UFN_GET_ISTATUS('DECLINE'), 
        IDUSER = @IDUSER,
        DUPDATED = GETDATE(),
        VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
        BPROCESSED=1
    WHERE ID = @IDMOVEMENTDETAIL

    
END TRY
BEGIN CATCH
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
    RAISERROR('Error en USP_DECLINE_PICKING: %s', 16, 1, @ErrorMessage)
END CATCH
