GO
/****** Object:  StoredProcedure [dbo].[USP_POST_DISPATCHEDCONTROL_ACTION]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_DISPATCHEDCONTROL_ACTION]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_DISPATCHEDCONTROL_ACTION] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_DISPATCHEDCONTROL_ACTION]
 @DATA VARCHAR(MAX),
 @IDUSER INT,
 @IDSUPPLIER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               : 
  '   VERSIÓN               :
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000
BEGIN
	BEGIN TRY
		BEGIN TRAN 

		DECLARE @TDATA AS TABLE
		(
			IDRECORD INT,
			IDMODULE INT,
			VACTION VARCHAR(20),
			VCOMMENT VARCHAR(200),
			IDRELATED INT
		);

		INSERT INTO @TDATA
		SELECT RecordId, ModuleId, ActionName, ActionComment, RelatedId
		FROM OPENJSON(@DATA)
		WITH (
			RecordId int, 
	 		ModuleId int, 
			ActionName varchar(20),
			ActionComment varchar(200),
			RelatedId int
		) AS C

		DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT
		DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT
		DECLARE @CORRELATIVE INT
		DECLARE @VCONTROLNUMBER VARCHAR(20)
		DECLARE @IDCUSTOMER INT
		DECLARE @PRODUCTS_COUNT INT
		DECLARE @VRECORD VARCHAR(20) 
		DECLARE @VACTIONRECORD VARCHAR(20)

		SELECT TOP 1 @VACTION = VACTION , @IDMODULE = IDMODULE FROM @TDATA

		--EXEC USP_CHECK_CREDENTIALS @IDUSER, @VACTION  , @IDMODULE 

		IF @VACTION = 'GENERATE'
		BEGIN 

			-- Contar products marcados para exportar
			SELECT @PRODUCTS_COUNT = COUNT(DISTINCT I.IDPART)  
			FROM DISPATCHEDCONTROL I WITH (NOLOCK)
			WHERE IDSUPPLIER=@IDSUPPLIER and I.BMARK = 1 AND I.IDCONTROL = 0

			-- Validar que no haya ms de 8 productos marcados
			IF @PRODUCTS_COUNT > 50
			BEGIN
				RAISERROR('No se pueden GENERAR más de 50 productos distintos. Productos marcados: %d', 16, 1, @PRODUCTS_COUNT)
				RETURN
			END
			-- Validar que sean del mismo cliente
			SELECT TOP 1 @IDCUSTOMER = I.IDCUSTOMER
			FROM DISPATCHEDCONTROL I WITH (NOLOCK)
			WHERE I.IDSUPPLIER=@IDSUPPLIER  AND I.BMARK = 1 AND I.IDCONTROL = 0 
			 
			IF EXISTS (SELECT 1 FROM DISPATCHEDCONTROL WITH (NOLOCK)
					   WHERE IDSUPPLIER=@IDSUPPLIER AND
					   BMARK = 1 AND IDCONTROL = 0 AND IDCUSTOMER <> @IDCUSTOMER)
			BEGIN
				RAISERROR('No se pueden exportar repuestos de diferentes clientes', 16, 1)
				RETURN
			END

			-- Generar correlativo
			EXEC USP_ACT_SECUENCE 'CONTROL', @CORRELATIVE OUT 
			SET @VCONTROLNUMBER = (SELECT RIGHT(CAST(@CORRELATIVE AS VARCHAR(10)), 10))

			-- Asignar correlativo a los registros marcados solo los que tienen idcontrol 0
			UPDATE I
			SET I.IDCONTROL = @CORRELATIVE,
				I.DCONTROLDATE = GETDATE() 
			FROM DISPATCHEDCONTROL I
			WHERE IDSUPPLIER=@IDSUPPLIER and I.BMARK = 1 AND I.IDCONTROL = 0 AND I.IDCUSTOMER = @IDCUSTOMER

			SELECT @IUPDATED = @@ROWCOUNT

			SET @IID = @CORRELATIVE
		END 

			--------------------------------------------------------------------------------------------------------
		IF @VACTION = 'DECLINE'
		BEGIN   
			IF EXISTS (
				SELECT 1 
				FROM DISPATCHEDCONTROL DC
				INNER JOIN @TDATA T ON DC.IDCONTROL = T.IDRECORD
				WHERE DC.IDINVOICE IS NOT NULL AND DC.IDINVOICE <> 0
			)
			BEGIN
				RAISERROR('No se pueden declinar registros que ya estan sincronizados', 16, 1)
				RETURN
			END
     
			UPDATE DC
			SET DC.IDCONTROL = 0,
				DC.DCONTROLDATE = NULL,
				DC.IESTATUS = 2, 
				DC.BMARK = 0       
			FROM DISPATCHEDCONTROL DC
			INNER JOIN @TDATA T ON DC.IDCONTROL = T.IDRECORD 
			WHERE DC.IESTATUS = 2            
			  AND DC.IDCONTROL > 0           
			  AND (DC.IDINVOICE IS NULL OR DC.IDINVOICE = 0)  
    
			SELECT @IUPDATED = @@ROWCOUNT
		END
		--------------------------------------------------------------------------------------------------------

		IF @VACTION = 'SINC'
		BEGIN 
			DECLARE @IDCONTROL INT
			DECLARE @IDINVOICE INT

			SELECT TOP 1 @IDCONTROL=IDRECORD, @IDINVOICE = IDRELATED FROM @TDATA

			EXEC USP_POST_INVOICECONTROL_SINC @IDCONTROL,@IDINVOICE,@IDUSER,@IDSUPPLIER

			SELECT @IUPDATED=1

		END

		 
		SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				IF @IUPDATED>0
				BEGIN
				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA
				END

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
 