GO
/****** Object:  StoredProcedure [dbo].[USP_GET_LASTSCLAIM]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_LASTSCLAIM]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_LASTSCLAIM] AS BEGIN SET NOCOUNT ON  END')
GO
-- SELECT * FROM V_DEALERS
ALTER PROCEDURE [dbo].[USP_GET_LASTSCLAIM]  
@IDUSER INT, 
@IDDEALER INT = 0

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


BEGIN
		WITH T1 as(
		SELECT TOP 1
			C.*,
			S.VSUPPLIER, 
			D.DEALER, 
			U.VLOGIN,
			U.VFISCALNAME, 
			A.VNAME AS STATUS,
			A.VDISPLAYESTATUS AS DISPLAY_STATUS
			FROM [dbo].CLAIM C WITH (NOLOCK)
			INNER JOIN V_SUPPLIERS S WITH (NOLOCK) ON C.IDSUPPLIER = S.IDSUPPLIER 
			INNER JOIN V_DEALERS D WITH (NOLOCK) ON C.IDDEALER = D.IDDEALER 
			INNER JOIN V_CONTACTS U WITH (NOLOCK) ON C.IDUSER = U.ID  
			INNER JOIN ACTION A WITH (NOLOCK) ON C.IDSTATUS = A.ID
			WHERE
			C.IDDEALER= @IDDEALER 
			AND C.IDUSER=@IDUSER
			AND C.IDSTATUS=2
			AND NOT EXISTS (SELECT * FROM CLAIMDETAIL OD WITH (NOLOCK) WHERE OD.IDCLAIM=C.ID)

		),
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
		T3 AS (
			SELECT * FROM T1
			ORDER BY T1.ID
			OFFSET 0 ROWS  
			FETCH NEXT 100 ROWS ONLY
		)
		SELECT T3.*, T2.* FROM T3, T2;
	
END
