GO
/****** Object:  StoredProcedure [dbo].[USP_GENERATE_CLAIM_PROCESSES]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GENERATE_CLAIM_PROCESSES]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GENERATE_CLAIM_PROCESSES] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_GENERATE_CLAIM_PROCESSES]
    @IDCLAIM INT,
    @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN :  
  '===============================================================*/   

SET NOCOUNT ON
SET XACT_ABORT ON 
BEGIN
    SET NOCOUNT ON
    
    BEGIN TRY
        BEGIN TRANSACTION
        
        -- Obtener información del reclamo
        DECLARE @IDSUPPLIER_CLAIM INT,
                @IDDEALER_CLAIM INT,
                @VREFERENCE_CLAIM VARCHAR(100),
                @VINVOICE_CLAIM VARCHAR(100),
                @IDLOCATION_TRASLADO INT,
                @IDLOCATION_DESTINO INT,
                @IDLOCATION_DISPATCHED INT,
                @LoginName VARCHAR(100) = dbo.UFN_GET_LOGIN(@IDUSER),
                @CurrentDate DATETIME = GETDATE()

        SELECT 
            @IDSUPPLIER_CLAIM = C.IDSUPPLIER,
            @IDDEALER_CLAIM = C.IDDEALER,
            @VREFERENCE_CLAIM = C.VREFERENCE, 
            @VINVOICE_CLAIM = C.VINVOICE
        FROM CLAIM C
        WHERE C.ID = @IDCLAIM
        
        IF @IDSUPPLIER_CLAIM IS NULL
        BEGIN
            RAISERROR('El reclamo especificado no existe.', 16, 1)
            RETURN
        END
        
        -- Determinar IDLOCATION para traslados
        SELECT TOP 1 @IDLOCATION_TRASLADO = ID 
        FROM LOCATION L  
        WHERE L.VTYPE = 'R'
          AND L.BACTIVE = 1 AND L.IDSUPPLIER=@IDSUPPLIER_CLAIM
        
        IF @IDLOCATION_TRASLADO IS NULL
        BEGIN
            RAISERROR('No se encontró una ubicación tipo RECEPCION activa.', 16, 1)
            RETURN
        END 

        SELECT TOP 1 @IDLOCATION_DESTINO = ID 
        FROM LOCATION L  
        WHERE L.VTYPE = 'A'
          AND L.BACTIVE = 1 AND L.IDSUPPLIER=@IDSUPPLIER_CLAIM
        
        IF @IDLOCATION_DESTINO IS NULL
        BEGIN
            RAISERROR('No se encontró una ubicación tipo ALMACENAJE activa.', 16, 1)
            RETURN
        END 
       
        SELECT TOP 1 @IDLOCATION_DISPATCHED= ID 
        FROM LOCATION L  
        WHERE L.VTYPE = 'D'
          AND L.BACTIVE = 1 AND L.IDSUPPLIER=@IDSUPPLIER_CLAIM
        
        IF @IDLOCATION_DISPATCHED IS NULL
        BEGIN
            RAISERROR('No se encontró una ubicación tipo DESPACHO activa.', 16, 1)
            RETURN
        END 

        -- Tabla temporal para todos los items del reclamo
        DECLARE @ClaimItems TABLE (
            ID INT IDENTITY(1,1),
            IDPART INT,
            IDREPLACEMENT_PART INT,
            IQUANTITY INT,
            IAPPROVEDQUANTITY INT,
            ITRANSACTIONQUANTITY INT,
            VREASON VARCHAR(100),
            IDCLAIMDETAIL INT
        )
        
        -- Obtener todos los items aprobados del reclamo
        INSERT INTO @ClaimItems (IDPART, IDREPLACEMENT_PART, IQUANTITY, 
                                 IAPPROVEDQUANTITY, ITRANSACTIONQUANTITY, 
                                 VREASON, IDCLAIMDETAIL)
        SELECT 
            CD.IDPART,
            CD.IDREPLACEMENT_PART,
            CD.IQUANTITY,
            CD.IAPPROVEDQUANTITY,
            CD.ITRANSACTIONQUANTITY,
            CR.VDESCRIPTION,
            CD.ID
        FROM CLAIMDETAIL CD
        INNER JOIN CLAIMREASON CR ON CD.IDREASON = CR.ID
        WHERE CD.IDCLAIM = @IDCLAIM 
          AND CD.IDSTATUS = dbo.UFN_GET_ISTATUS('APPROVE')
        
        DECLARE @IDSALEORDER_TEMP INT = NULL
        
        -- ==================== PROCESAR BACKORDERS ====================
        -- FALTANTE y MAL ESTADO con IDREPLACEMENT_PART e IAPPROVEDQUANTITY > 0
        IF EXISTS (SELECT 1 FROM @ClaimItems 
                  WHERE VREASON IN ('FALTANTE', 'MAL ESTADO') 
                    AND IDREPLACEMENT_PART IS NOT NULL
                    AND IAPPROVEDQUANTITY > 0)
        BEGIN 
            INSERT INTO SALEORDER (
                IDDEALER,
                IDSUPPLIER,
                IDESTATUS,
                VREFERENCE,
                VCOMMENT,
                DCREATED,
                DUPDATED,
                VCREATEDBY,
                VUPDATEDBY,
                IDTYPE,
                BCLAIM,
                BPARALYZED,
                IDVEHICLE,
                BCOMPLETED
            )
            VALUES (
                @IDDEALER_CLAIM,
                @IDSUPPLIER_CLAIM,
                dbo.UFN_GET_ISTATUS('GENERATE'),
                'R-' + CAST(@IDCLAIM AS VARCHAR),
                'ORDEN PARA RECLAMO ' + CAST(@IDCLAIM AS VARCHAR),
                @CurrentDate,
                @CurrentDate,
                @LoginName,
                @LoginName,
                (SELECT ID FROM SALEORDERTYPE WHERE VNAME = 'RECLAMO'),
                1,
                0,
                0,
                0
            )
            
            SET @IDSALEORDER_TEMP = SCOPE_IDENTITY()
            
            DECLARE @SALEORDERDETAIL_IDS TABLE (
                IDSALEORDERDETAIL INT,
                IDREPLACEMENT_PART INT,
                IAPPROVEDQUANTITY INT
            )
            
            -- Insertar todos los SALEORDERDETAILS
            INSERT INTO SALEORDERDETAIL (
                IDSALEORDER,
                IDPART,
                IREQUIRED,
                IINVOICED,
                NCOST,
                NPRICE,
                ICLAIM,
                IDREASON,
                NTAX
            )
            OUTPUT INSERTED.ID, INSERTED.IDPART, INSERTED.IREQUIRED
            INTO @SALEORDERDETAIL_IDS (IDSALEORDERDETAIL, IDREPLACEMENT_PART, IAPPROVEDQUANTITY)
            SELECT 
                @IDSALEORDER_TEMP,
                CI.IDREPLACEMENT_PART,
                CI.IAPPROVEDQUANTITY,
                0,
                ISNULL((SELECT TOP 1 NCOST FROM PART WHERE ID = CI.IDREPLACEMENT_PART), 0),
                ISNULL((SELECT TOP 1 NPRICE FROM PART WHERE ID = CI.IDREPLACEMENT_PART), 0),
                1,
                0,
                16.00
            FROM @ClaimItems CI
            --WHERE CI.VREASON IN ('FALTANTE', 'MAL ESTADO') 
            --  AND CI.IDREPLACEMENT_PART IS NOT NULL OR CI.IDREPLACEMENT_PART>0
            --  AND CI.IAPPROVEDQUANTITY > 0
            
            INSERT INTO BACKORDER (
                IDSUPPLIER,
                IDDEALER,
                IDSALEORDERDETAIL,
                IBACKORDER,
                DCREATED,
                IDSTATUS,
                IDASSIGNED,
                IDUSER,
                DARRIVAL,
                IDSALEORDER,
                VOBSERVATION,
                BCLAIM
            )
            SELECT 
                @IDSUPPLIER_CLAIM,
                @IDDEALER_CLAIM,
                sod.IDSALEORDERDETAIL,
                sod.IAPPROVEDQUANTITY,
                @CurrentDate,
                dbo.UFN_GET_ISTATUS('CREATE'),
                NULL,
                @IDUSER,
                NULL,
                @IDSALEORDER_TEMP,
                'R-' + CAST(@IDCLAIM AS VARCHAR),
                1
            FROM @SALEORDERDETAIL_IDS sod
        END
         
          
        -- ==================== PROCESAR FACTURAS (ITRANSACTIONQUANTITY) ==================== 
        -- SOBRANTE y NO SOLICITADO con ITRANSACTIONQUANTITY > 0
        IF EXISTS (SELECT 1 FROM @ClaimItems 
                  WHERE VREASON IN ('SOBRANTE', 'NO SOLICITADO') 
                    AND ITRANSACTIONQUANTITY > 0)
        BEGIN
            -- CREAR SALEORDER para factura
            INSERT INTO SALEORDER (
                IDDEALER,
                IDSUPPLIER,
                IDESTATUS,
                VREFERENCE,
                VCOMMENT,
                DCREATED,
                DUPDATED,
                VCREATEDBY,
                VUPDATEDBY,
                IDTYPE,
                BCLAIM,
                BPARALYZED,
                IDVEHICLE,
                BCOMPLETED
            )
            VALUES (
                @IDDEALER_CLAIM,
                @IDSUPPLIER_CLAIM,
                dbo.UFN_GET_ISTATUS('PROCESS'), -- ESTATUS PROCESADO
                'R-FACT-' + CAST(@IDCLAIM AS VARCHAR),
                'FACTURA POR RECLAMO ' + CAST(@IDCLAIM AS VARCHAR),
                @CurrentDate,
                @CurrentDate,
                @LoginName,
                @LoginName,
                (SELECT ID FROM SALEORDERTYPE WHERE VNAME = 'RECLAMO'),
                1,
                0,
                0,
                1  
            )
    
            DECLARE @ID_SALEORDER_FACTURA INT = SCOPE_IDENTITY()
    
            -- Tabla temporal para los detalles del BackOrder
            DECLARE @BackOrderDetails TABLE (
                IDSALEORDERDETAIL INT,
                IDPART INT,
                ITRANSACTIONQUANTITY INT
            )
    
            -- Crear SALEORDERDETAILS para cada item CON CONDICIÓN WHERE
            INSERT INTO SALEORDERDETAIL (
                IDSALEORDER,
                IDPART,
                IREQUIRED,
                IINVOICED,
                NCOST,
                NPRICE,
                ICLAIM,
                IDREASON,
                NTAX
            )
            OUTPUT INSERTED.ID, INSERTED.IDPART, INSERTED.IREQUIRED
            INTO @BackOrderDetails (IDSALEORDERDETAIL, IDPART, ITRANSACTIONQUANTITY)
            SELECT 
                @ID_SALEORDER_FACTURA,
                CI.IDPART,
                CI.ITRANSACTIONQUANTITY,
                CI.ITRANSACTIONQUANTITY, -- IINVOICED igual a lo requerido
                ISNULL((SELECT TOP 1 NCOST FROM PART WHERE ID = CI.IDPART), 0),
                ISNULL((SELECT TOP 1 NPRICE FROM PART WHERE ID = CI.IDPART), 0),
                1,
                0,
                16.00
            FROM @ClaimItems CI
            --WHERE CI.VREASON IN ('SOBRANTE', 'NO SOLICITADO') 
            --  AND CI.ITRANSACTIONQUANTITY > 0
    
            -- Crear BACKORDERS temporales (MARCADOS COMO RECLAMO)
            INSERT INTO BACKORDER (
                IDSUPPLIER,
                IDDEALER,
                IDSALEORDERDETAIL,
                IBACKORDER,
                DCREATED,
                IDSTATUS,
                IDASSIGNED,
                IDUSER,
                DARRIVAL,
                IDSALEORDER,
                VOBSERVATION,
                BCLAIM
            )
            SELECT 
                @IDSUPPLIER_CLAIM,
                @IDDEALER_CLAIM,
                bod.IDSALEORDERDETAIL,
                bod.ITRANSACTIONQUANTITY,
                @CurrentDate,
                dbo.UFN_GET_ISTATUS('PROCESS'), -- PROCESADO
                NULL,
                @IDUSER,
                @CurrentDate, -- LLEGADA INMEDIATA
                @ID_SALEORDER_FACTURA,
                'FACTURA RECLAMO ' + CAST(@IDCLAIM AS VARCHAR),
                0
            FROM @BackOrderDetails bod
    
            -- CREAR MOVEMENT DE RECOLECCIÓN PROCESADA
            INSERT INTO MOVEMENT (
                IDSUPPLIER,
                IESTATUS,
                VTYPE,
                VCOMMENT,
                VREFERENCE,
                DCREATED,
                DUPDATED,
                VUPDATEDBY,
                VCREATEDBY,
                IDASSIGNED,
                DGENERATED,
                IDCONTACT
            )
            VALUES (
                @IDSUPPLIER_CLAIM,
                dbo.UFN_GET_ISTATUS('PROCESS'), -- ESTATUS PROCESADO
                'P', -- TIPO RECOLECCIÓN
                'RECOLECCIÓN PROCESADA POR FACTURA DE RECLAMO ' + CAST(@IDCLAIM AS VARCHAR),
                'R-' + CAST(@IDCLAIM AS VARCHAR) + '-FACT',
                @CurrentDate,
                @CurrentDate,
                @LoginName,
                @LoginName,
                1,
                @CurrentDate,
                @IDSUPPLIER_CLAIM
            )
    
            DECLARE @IDMOVEMENT_FACTURA INT = SCOPE_IDENTITY()
    
            -- Tabla temporal para MovementDetails creados
            DECLARE @MovementDetailsCreated TABLE (
                IDMOVEMENTDETAIL INT,
                IDPART INT,
                IDBACKORDER INT,
                IREQUIRED INT
            )
    
            -- Crear MOVEMENTDETAILS PROCESADOS con referencia al BackOrder CON OUTPUT
              INSERT INTO MOVEMENTDETAILS (
                IDMOVEMENT,
                IDPART,
                VSERIAL,
                VLOCATIONTYPE,
                IDLOCATION,
                IDDESTINATION,
                IREQUIRED,
                IREAL,
                VTYPE,
                BPROCESSED,
                DCREATED,
                DUPDATED,
                VUPDATEDBY,
                IDUSER,
                NCOST,
                IPACKAGED,
                IDBACKORDER,
                IPRIORITY,
                IDSTATUS  
            )
            OUTPUT INSERTED.ID, INSERTED.IDPART, INSERTED.IDBACKORDER, INSERTED.IREQUIRED
            INTO @MovementDetailsCreated (IDMOVEMENTDETAIL, IDPART, IDBACKORDER, IREQUIRED)
            SELECT 
                @IDMOVEMENT_FACTURA,
                CI.IDPART,
                NULL,
                'D',  
                @IDLOCATION_DISPATCHED,  
                NULL, -- 
                CI.ITRANSACTIONQUANTITY,
                CI.ITRANSACTIONQUANTITY,  
                'D', 
                1,  
                @CurrentDate,
                @CurrentDate,
                @LoginName,
                1,  
                ISNULL((SELECT TOP 1 NCOST FROM PART WHERE ID = CI.IDPART), 0),
                0,
                bo.ID,
                0,
                dbo.UFN_GET_ISTATUS('PROCESS')  
            FROM @ClaimItems CI
            INNER JOIN @BackOrderDetails bod ON CI.IDPART = bod.IDPART
            INNER JOIN BACKORDER bo ON bod.IDSALEORDERDETAIL = bo.IDSALEORDERDETAIL
            --WHERE CI.VREASON IN ('SOBRANTE', 'NO SOLICITADO') 
            --  AND CI.ITRANSACTIONQUANTITY > 0

            -- INSERTAR EN DISPATCHEDCONTROL
            INSERT INTO DISPATCHEDCONTROL (
                IDMOVEMENTDETAIL,
                IDBACKORDER,
                IDSALEORDER,
                IDPART,
                IDCUSTOMER,
                IDSUPPLIER,
                IDISPATCHED,
                BMARK,
                IDCONTROL,
                IDINVOICE,
                IINVOICED,
                DCONTROLDATE,
                DSINCDATE,
                IDUSERSINC,
                IESTATUS,
                STOCKINFO
            )
            SELECT 
                mdc.IDMOVEMENTDETAIL,
                mdc.IDBACKORDER,
                @ID_SALEORDER_FACTURA,  
                mdc.IDPART,
                @IDDEALER_CLAIM,  
                @IDSUPPLIER_CLAIM,  
                mdc.IREQUIRED,  
                0,  
                0,  
                0,  
                mdc.IREQUIRED, 
                @CurrentDate,  
                @CurrentDate,  
                @IDUSER,  
                dbo.UFN_GET_ISTATUS('CREATE'),  
                0  
            FROM @MovementDetailsCreated mdc
    
        END
        -- ==================== PROCESAR TRASLADOS ====================
        -- Tabla temporal para items que requieren traslado
        DECLARE @ITEMS_TRASLADO TABLE (
            ID INT IDENTITY(1,1),
            IDPART INT,
            IQUANTITY INT,
            VREASON VARCHAR(100)
        )
        
        -- 1. MAL ESTADO con IQUANTITY > 0 
        INSERT INTO @ITEMS_TRASLADO (IDPART, IQUANTITY, VREASON)
        SELECT 
            CI.IDPART,
            CI.IQUANTITY,
            CI.VREASON
        FROM @ClaimItems CI
        WHERE CI.VREASON = 'MAL ESTADO'
          AND CI.IQUANTITY > 0
        
        -- 2. SOBRANTE y NO SOLICITADO con IAPPROVEDQUANTITY > 0
        INSERT INTO @ITEMS_TRASLADO (IDPART, IQUANTITY, VREASON)
        SELECT 
            CI.IDPART,
            CI.IAPPROVEDQUANTITY,
            CI.VREASON
        FROM @ClaimItems CI
        WHERE CI.VREASON IN ('SOBRANTE', 'NO SOLICITADO')
          AND CI.IAPPROVEDQUANTITY > 0
        
        IF EXISTS (SELECT 1 FROM @ITEMS_TRASLADO)
        BEGIN
            INSERT INTO MOVEMENT (
                IDSUPPLIER,
                IESTATUS,
                VTYPE,
                VCOMMENT,
                VREFERENCE,
                DCREATED,
                DUPDATED,
                VUPDATEDBY,
                VCREATEDBY,
                IDASSIGNED,
                DGENERATED,
                IDCONTACT
            )
            VALUES (
                @IDSUPPLIER_CLAIM,
                dbo.UFN_GET_ISTATUS('GENERATE'),
                'T',
                'TRASLADO POR RECLAMO ' + CAST(@IDCLAIM AS VARCHAR),
                'R-' + CAST(@IDCLAIM AS VARCHAR) + '-TRA',
                @CurrentDate,
                @CurrentDate,
                @LoginName,
                @LoginName,
                NULL,
                @CurrentDate,
                @IDSUPPLIER_CLAIM
            )
            
            DECLARE @IDMOVEMENT INT = SCOPE_IDENTITY()
            
            INSERT INTO MOVEMENTDETAILS (
                IDMOVEMENT,
                IDPART,
                VSERIAL,
                VLOCATIONTYPE,
                IDLOCATION,
                IDDESTINATION,
                IREQUIRED,
                IREAL,
                VTYPE,
                BPROCESSED,
                DCREATED,
                DUPDATED,
                VUPDATEDBY,
                IDUSER,
                NCOST,
                IPACKAGED,
                IDBACKORDER,
                IPRIORITY,
                IDSTATUS
            )
            SELECT 
                @IDMOVEMENT,
                IT.IDPART,
                NULL,
                'A',
                @IDLOCATION_TRASLADO,
                @IDLOCATION_DESTINO,
                IT.IQUANTITY,
                NULL,
                'P',
                0,
                @CurrentDate,
                @CurrentDate,
                @LoginName,
                @IDUSER,
                ISNULL((SELECT TOP 1 NCOST FROM PART WHERE ID = IT.IDPART), 0),
                0,
                NULL,
                0,
                dbo.UFN_GET_ISTATUS('GENERATE')
            FROM @ITEMS_TRASLADO IT
        END 

        COMMIT TRANSACTION
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION
            
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY()
        DECLARE @ErrorState INT = ERROR_STATE()
        
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH
END