USE OASIS
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_PICKINGS]    Script Date: 2/5/2026 9:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- USP_POST_PICKINGS 1113,93,50,1,137
ALTER PROCEDURE [dbo].[USP_POST_PICKINGS]
 @IDMOVEMENT INT,
 @IDPART INT,
 @IREQUIREDNEW INT,
 @IDUSER INT,
 @IDBACKORDER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN

				DECLARE @IRESERVED INT 
				DECLARE @IAVAILABLE INT
				DECLARE @IDLOCATIONNEW INT
				DECLARE @ALMACEN VARCHAR(1)
				DECLARE @IDMOVEMENTDETAIL INT
				--DECLARE @IDSALEORDER INT
				DECLARE @IRESERVEDTOTAL INT
				DECLARE @IRESERVEDACUM INT
				
				--SELECT TOP 1 @IDSALEORDER=IDSALEORDER FROM MOVEMENT WITH (NOLOCK)
				--WHERE ID=@IDMOVEMENT

				SELECT @ALMACEN='A'
				SELECT @IRESERVEDTOTAL=@IREQUIREDNEW
				SELECT @IRESERVEDACUM=0

				WHILE @IREQUIREDNEW > 0
				BEGIN

					SELECT @IRESERVED=0
					SELECT @IAVAILABLE=0

					
					SELECT TOP 1 @IAVAILABLE = AVAILABLE,@IDLOCATIONNEW=IDLOCATION
					FROM V_INVENTORY
					WHERE IDPART=@IDPART
					AND VLOCATIONTYPE=@ALMACEN
					AND AVAILABLE>0
					AND BSELL=1
					AND BFULLACTIVE=1
					AND IDLOCATION NOT IN ( -- UBICACIONES YA VISITADAS PARA EL PRODUCTO
											SELECT DISTINCT IDLOCATION 
											FROM MOVEMENTDETAILS WITH (NOLOCK)
											WHERE IDMOVEMENT=@IDMOVEMENT
											AND IDPART=@IDPART
											AND IREAL>=0
											)
					ORDER BY CASE 
								WHEN VZONESIZE = 'P' THEN 1
								WHEN VZONESIZE = 'M' THEN 2 ELSE 3 END ASC,VLOCATION
								

					IF @IAVAILABLE>0
					BEGIN
						SELECT @IRESERVED =  CASE WHEN @IREQUIREDNEW <= @IAVAILABLE THEN @IREQUIREDNEW ELSE @IAVAILABLE END
						SELECT @IREQUIREDNEW=@IREQUIREDNEW-@IRESERVED

						IF @IRESERVED>0
						BEGIN

							-- SE INSERTA EL NUEVO PICKING CON LA RESERVA
							INSERT INTO MOVEMENTDETAILS 
							(IDMOVEMENT,IDPART,VSERIAL,VLOCATIONTYPE,IDLOCATION,IREQUIRED,IREAL,VTYPE,BPROCESSED,
							DCREATED,DUPDATED,VUPDATEDBY,IDUSER,NCOST,IDBACKORDER,IDSTATUS)
							SELECT 
							@IDMOVEMENT,@IDPART,NULL,@ALMACEN,@IDLOCATIONNEW,@IRESERVED,NULL,DBO.UFN_GET_TYPE('PICKING'),0,
							GETDATE(),GETDATE(),NULL,@IDUSER,0,@IDBACKORDER,DBO.UFN_GET_ISTATUS('ASSIGN')

							SELECT @IRESERVEDACUM=@IRESERVEDACUM+@IRESERVED

						END

					END
					ELSE
					BEGIN
						SELECT @IRESERVED=0
						SELECT @IREQUIREDNEW=0 
					END

					

				END
	
				
				UPDATE BACKORDER SET IDSTATUS=DBO.UFN_GET_ISTATUS('PROCESS')  WHERE ID=@IDBACKORDER

				
				DECLARE @IBACKORDER INT
				SELECT @IBACKORDER=@IRESERVEDTOTAL-@IRESERVEDACUM


				--  CREAR NUEVO BACKORDER CON EL REMANENTE NO RESERVADO DEL @IDBACKORDER ACTUAL
				IF @IBACKORDER>0
					EXEC USP_NEW_BACKORDER null,@IDBACKORDER,@IBACKORDER,@IDUSER

			


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END


