USE OASIS
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_PACKAGEDETAILPENDING]    Script Date: 2/5/2026 9:44:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_PACKAGEDETAILPENDING]
(
@IDPACKAGE INT
)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

DECLARE @IDSUPPLIER INT
DECLARE @IDCUSTOMER INT
DECLARE @VPACKAGECODE VARCHAR(10)

SELECT @IDSUPPLIER=IDSUPPLIER,@IDCUSTOMER=IDCUSTOMER ,@VPACKAGECODE=VCODE
FROM V_PACKAGE WHERE ID=@IDPACKAGE


SELECT X.*,
@VPACKAGECODE AS VPACKAGECODE, @IDPACKAGE AS IDPACKAGE,ISNULL(Y.IQUANTITY,0) IQUANTITY
FROM
	(
		SELECT 
		0 ID,
		V.IDCUSTOMER,
		V.VCUSTOMER,
		V.IDSUPPLIER,
		V.IDPART,
		V.VINNERCODE,
		'['+V.VINNERCODE+'] '+
		'['+CAST(V.IDSALEORDER AS VARCHAR(10))+'] '+
		'['+V.VDESCRIPTION+']' as VDESCRIPTION,
		V.VBARCODE,
		SUM(V.IREAL) IREAL, 
		SUM(V.IPENDING) IPENDING,
		V.IDSALEORDER
		FROM V_MOVEMENTDETAILS_FORPACKAGING V
		WHERE V.IDSUPPLIER=@IDSUPPLIER
		AND V.IDCUSTOMER=@IDCUSTOMER
		GROUP BY
		V.IDCUSTOMER,
		V.VCUSTOMER,
		V.IDSUPPLIER,
		V.IDPART,
		V.VINNERCODE,
		V.VDESCRIPTION,
		V.VBARCODE,
		V.IDSALEORDER
	) X
LEFT JOIN (
			SELECT IDPART,IQUANTITY
			FROM V_PACKAGEDETAIL
			WHERE IDPACKAGE=@IDPACKAGE
			) Y ON Y.IDPART=X.IDPART
ORDER BY X.VCUSTOMER,X.IDSALEORDER
