GO
/****** Object:  StoredProcedure [dbo].[USP_POST_POLICYDETAILS2]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_POLICYDETAILS2]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_POLICYDETAILS2] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_POLICYDETAILS2]  --USP_POST_POLICYDETAILS2 887,90,95,15000,'2026-01-08',1
	@ID INT,
	@IDPOLICY INT,
	@IDMAINTENANCE INT,
    @CURRENTKM INT,
    @CURRENTDATE DATETIME,
	@IDUSER INT 
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/


   
BEGIN
SET NOCOUNT ON;


	DECLARE @VALID BIT = 0;

	IF EXISTS (
		SELECT TOP 1 1
		FROM POLICYDETAILS (NOLOCK)
		WHERE ID = @ID
		AND BVALID IS NULL
		AND IDMAINTENANCE IS NULL
		AND ((@CURRENTKM BETWEEN IFROMKM AND IUPTOKM) AND (@CURRENTDATE <= DUPTODATE)
		OR (@CURRENTKM BETWEEN IFROMKM AND IUPTOKM) AND @CURRENTDATE < (SELECT MAX(DUPTODATE) FROM POLICYDETAILS WHERE IDPOLICY =@IDPOLICY))
		)

	BEGIN
		SET @VALID = 1;
	END


	 IF EXISTS (
		SELECT TOP 1 1
		FROM POLICYDETAILS (NOLOCK)
		WHERE ID = @ID
		AND BVALID IS NULL
		AND IDMAINTENANCE IS NULL
		AND @CURRENTDATE BETWEEN DFROMDATE AND DUPTODATE
		AND @CURRENTKM <= IUPTOKM
		)

	BEGIN
		SET @VALID = 1;
	END


	-- CASO DE DESTIEMPO, GARANTIZAR QUE EL GET ONE , CONSIGA ESTA ESCALA., AJUSTAR GFUNCION DEL GET ONE
   IF EXISTS (
		SELECT TOP 1 1
		FROM POLICYDETAILS (NOLOCK)
		WHERE ID = @ID
		AND BVALID=0
		AND IDMAINTENANCE IS NULL
	)

	BEGIN
		SET @VALID = 0;
	END


		DECLARE @PreviousRecordID INT;
		DECLARE @RowsUpdated INT;
		DECLARE @LASTEVALUATED INT

		UPDATE POLICYDETAILS
		SET BVALID = @VALID,
			IDMAINTENANCE = @IDMAINTENANCE,
			VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
			DUPDATED = GETDATE()
		WHERE ID = @ID 

		SET @RowsUpdated = @@ROWCOUNT;


		-- Obtener el ID del registro anterior a @ID con IVALID y IDMAINTENANCE nulos o vacíos
		SELECT TOP 1 @LASTEVALUATED = ID
		FROM POLICYDETAILS (NOLOCK)
		WHERE IDPOLICY = @IDPOLICY
		AND BVALID IS NOT NULL
		ORDER BY ID DESC;

		-- COLOCAR NO VALIDOS TODOS LOS HUECOS QUE HAYAN DEJADO
		UPDATE POLICYDETAILS  SET BVALID =0 
		WHERE IDPOLICY = @IDPOLICY AND ID<@LASTEVALUATED AND BVALID IS NULL AND IDMAINTENANCE IS NULL


		EXEC USP_ESTATUS_POLICY @IDPOLICY, @IDUSER;

END