GO
/****** Object:  StoredProcedure [dbo].[USP_GET_TRANSFERMOVEMENTDETAILS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_TRANSFERMOVEMENTDETAILS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_TRANSFERMOVEMENTDETAILS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_GET_TRANSFERMOVEMENTDETAILS] -- USP_GET_TRANSFERMOVEMENTDETAILS 1,4069,'T',5,'',1
    @IDUSER INT,
    @IDSUPPLIER INT = 0,
    @VTYPE VARCHAR(1) = NULL,
    @IROWFROM INT = NULL,
    @VFILTER VARCHAR(100) = NULL,
    @BPENDING BIT = 1,
	@IESTATUS INT =NULL,
	@DFROMDATE DATETIME = NULL,
	@DUPTODATE DATETIME = NULL
AS
/* '===============================================================          
  '   NOMBRE                :  
  '   FECHA CREACIÓN        :  
  '   CREADO POR            :  SARAHY CHIRNOS
  '   CREADO PARA           :  
  '   FUNCIÓN               :  
  '   VERSIÓN               :  
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/ 
SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

    DECLARE @TOPE INT

    IF @IROWFROM IS NULL
    BEGIN
        SET @TOPE=1000000
        SET @IROWFROM=0
    END
    ELSE
    BEGIN
        SET @TOPE=100
    END

    DECLARE @VACTION VARCHAR(20)
    DECLARE @IDMODULE INT;
    DECLARE @TYPE VARCHAR(1)

    SET @TYPE=@VTYPE
    SELECT @IDMODULE = 
    CASE 
        WHEN @TYPE = 'P' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECOLECCION')
        WHEN @TYPE = 'R' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECEPCION') 
        WHEN @TYPE = 'T' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-TRASLADO')
        ELSE 'T'
    END
    SET @VACTION='GET'
    EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE;

    IF @VTYPE='T'
    BEGIN
        WITH T1 AS (
            SELECT 
                MD.ID,
				MD.IDMOVEMENT,
				MD.IDPART,
				MD.VCODEPART,
				MD.VPART,
				MD.VLOCATION,
                MD.VDESTINATION,
				MD.IREQUIRED,
				ISNULL(MD.IREAL,0) IREAL,
				CASE WHEN MD.VMOVEMENTTYPEDETAIL = 'P' THEN 'PICKING' ELSE 'ENTREGA' END VMOVEMENTTYPEDETAIL,
				MD.BPROCESSED,
				C.VLOGIN AS ASSIGNED,
				MD.VLOGIN AS VLOGIN,
				ISNULL(I.ISTOCK,0) ISTOCK, 
				MD.VDISPLAYESTATUS,
				CONVERT(VARCHAR(20),MD.VUPDATED,120) DGENERATED
            FROM V_MOVEMENTDETAILS MD   
            LEFT JOIN CONTACT C  WITH (NOLOCK) ON C.ID=MD.IDASSIGNED
            LEFT JOIN ( 
                SELECT IDPART,SUM(ISTOCK) ISTOCK
                FROM V_INVENTORY I WITH (NOLOCK)
                WHERE I.VLOCATIONTYPE='A'
                GROUP BY IDPART
            ) I ON I.IDPART=MD.IDPART
            WHERE
				  MD.DCREATED BETWEEN ISNULL(@DFROMDATE, MD.DCREATED) AND ISNULL(@DUPTODATE, MD.DCREATED)
			     AND ( MD.IDSTATUS = CASE WHEN @IESTATUS IS NUll THEN MD.IDSTATUS ELSE @IESTATUS END) AND
                MD.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0)=0 THEN MD.IDSUPPLIER ELSE @IDSUPPLIER END 
                AND MD.BPROCESSED = CASE WHEN ISNULL(@BPENDING,0)=0 THEN MD.BPROCESSED ELSE 0 END
                AND MD.VMOVEMENTTYPE = 'T'  
                AND 
                ( 
                    (MD.VCODEPART LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+MD.VCODEPART+'%' ELSE '%'+@VFILTER+'%'  END) OR 
                    (MD.VPART LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+MD.VPART+'%' ELSE '%'+@VFILTER+'%'  END) OR
                      (MD.VLOCATION LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+MD.VLOCATION+'%' ELSE '%'+@VFILTER+'%'  END) OR
                    (MD.VDESTINATION LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+MD.VDESTINATION+'%' ELSE '%'+@VFILTER+'%'  END)
                )
        ), 
        T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
        T3 AS (
            SELECT * FROM T1
            ORDER BY T1.ID DESC   
            OFFSET @IROWFROM ROWS
            FETCH NEXT @TOPE ROWS ONLY
        )
        SELECT T3.*, T2.TOTAL FROM T3, T2;   
    END
END
