GO
/****** Object:  StoredProcedure [dbo].[USP_GET_COMPANYBYUSER]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_COMPANYBYUSER]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_COMPANYBYUSER] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_GET_COMPANYBYUSER] --USP_GET_COMPANYBYUSER 5175
 @IDUSER INT 
  
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

 

BEGIN
     BEGIN TRY
        BEGIN TRAN;

        
       SELECT 
		R.IDSUPPLIER AS IDCOMPANY,
		R.VSUPPLIER AS VCOMPANY,
		'SUPPLIER' AS VTYPE,
		NULL AS IDSUPPLIER_REF
		FROM V_SUPPLIERS R
	    INNER JOIN RELATED RD WITH (NOLOCK) ON R.IDSUPPLIER=RD.IDCONTACT
		INNER JOIN CONTACT C WITH (NOLOCK) ON R.IDSUPPLIER=C.ID
		WHERE RD.IDUSER = @IDUSER AND C.BACTIVE=1

        UNION ALL

        SELECT 
		R.IDDEALER AS IDCOMPANY,
		R.DEALER AS VCOMPANY,
		'DEALER' AS VTYPE,
		R.IDSUPPLIER AS IDSUPPLIER_REF
		FROM V_RELATEDS_USER R
		INNER JOIN CONTACT C WITH (NOLOCK) ON R.IDDEALER=C.ID
		WHERE R.IDUSER = @IDUSER AND C.BACTIVE=1 ;


        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN;

        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
