GO
/****** Object:  StoredProcedure [dbo].[USP_POST_INVOICECONTROL_SINC]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_INVOICECONTROL_SINC]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_INVOICECONTROL_SINC] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER  PROCEDURE [dbo].[USP_POST_INVOICECONTROL_SINC]  
 @IDCONTROL INT,
 @IDINVOICE INT,
 @IDUSER INT,
 @IDSUPPLIER INT
  
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000
BEGIN
	BEGIN TRY
		

			DECLARE @IDCUSTOMERTXT INT
			DECLARE @IDCUSTOMERFAC INT

			SELECT TOP 1 @IDCUSTOMERTXT=IDCUSTOMER FROM DISPATCHEDCONTROL WITH (NOLOCK) 
			WHERE IDCONTROL=@IDCONTROL AND IDSUPPLIER=@IDSUPPLIER AND IDCONTROL>0

			SELECT TOP 1 @IDCUSTOMERFAC=IDCUSTOMER 
			FROM INVOICECONTROL WITH (NOLOCK) 
			WHERE IDINVOICE=@IDINVOICE AND IDSUPPLIER=@IDSUPPLIER

			IF ISNULL(@IDCUSTOMERTXT,0)=0
				RAISERROR ('DOCUMENTO TXT NO EXISTE' , 16,1) 

			IF ISNULL(@IDCUSTOMERFAC,0)=0
				RAISERROR ('DOCUMENTO FACTURA NO EXISTE' , 16,1) 

			IF @IDCUSTOMERTXT <> @IDCUSTOMERFAC
			BEGIN
				-- SE PARCHA HASTA RESOLVER DE RAIZ EL ESCENARIO (SON 2 DEALERS CON LA MISMA FACTURA)
				IF @IDCUSTOMERTXT<>15489 AND @IDCUSTOMERFAC <> 15483 -- CASO METROCAMION, C.A. SUCURSAL
				RAISERROR ('DOCUMENTOS NO PERTENECEN AL MISMO CLIENTE' , 16,1) 
			END

			DECLARE @REGISTROS AS TABLE(ID INT,IDPART INT,IDISPATCHED INT)

			INSERT INTO @REGISTROS
			SELECT ID,IDPART,IDISPATCHED FROM DISPATCHEDCONTROL WITH (NOLOCK)
			WHERE IDCONTROL=@IDCONTROL AND ISNULL(IDINVOICE,0) =0
			ORDER BY ID

			DECLARE @ID INT
			DECLARE @ID2 INT
			DECLARE @IDPART INT
			DECLARE @IDISPATCHED INT
			DECLARE @IINVOICED INT
			DECLARE @VALUE INT
			DECLARE MAIN_CURSOR CURSOR LOCAL FOR 
				SELECT ID,IDPART,IDISPATCHED FROM @REGISTROS
			OPEN MAIN_CURSOR;
			FETCH NEXT FROM MAIN_CURSOR INTO @ID,@IDPART,@IDISPATCHED;

			WHILE @@FETCH_STATUS = 0
			BEGIN
										
				 SELECT @IINVOICED=0,@ID2=0

				 SELECT TOP 1 @ID2=ID,@IINVOICED=IINVOICED FROM INVOICECONTROL WITH (NOLOCK)
				 WHERE IDINVOICE=@IDINVOICE AND ISNULL(IDCONTROL,0) =0 AND IDPART=@IDPART


				 IF @ID2>0
				 BEGIN

					IF @IINVOICED<=@IDISPATCHED
						SET @VALUE=@IINVOICED
					ELSE
						SET @VALUE=@IDISPATCHED

					UPDATE DISPATCHEDCONTROL 
					SET IDINVOICE=@IDINVOICE,IINVOICED=@VALUE,DSINCDATE=GETDATE(),IESTATUS=18,IDUSERSINC=@IDUSER 
					WHERE ID=@ID
				
					UPDATE INVOICECONTROL    
					SET IDCONTROL=@IDCONTROL,IDISPATCHED=@VALUE,DSINCDATE=GETDATE(),IDESTATUS=18,IDUSERSINC=@IDUSER
					WHERE ID=@ID2

					IF (@IDISPATCHED-@VALUE)>0
					BEGIN
						INSERT INTO DISPATCHEDCONTROL 
						(IDMOVEMENTDETAIL,IDBACKORDER,IDSALEORDER,IDPART,IDCUSTOMER,IDSUPPLIER,IDISPATCHED,BMARK,IDCONTROL,IDINVOICE,
						IINVOICED,DCONTROLDATE,DSINCDATE,IDUSERSINC,IESTATUS,STOCKINFO)
						SELECT
						IDMOVEMENTDETAIL,IDBACKORDER,IDSALEORDER,IDPART,IDCUSTOMER,IDSUPPLIER,@IDISPATCHED-@VALUE,BMARK,IDCONTROL,NULL,
						NULL,GETDATE(),NULL,@IDUSER,2,STOCKINFO
						FROM DISPATCHEDCONTROL WITH (NOLOCK)
						WHERE ID=@ID
					END

					IF (@IINVOICED-@VALUE)>0
					BEGIN
						INSERT INTO INVOICECONTROL
						(IDPART,IDCUSTOMER,IDSUPPLIER,IDINVOICE,IINVOICED,IDCONTROL,IDISPATCHED,DCREATED,DSINCDATE,
						IDUSERSINC,IDESTATUS,VREFERENCE)
						SELECT 
						IDPART,IDCUSTOMER,IDSUPPLIER,IDINVOICE,@IINVOICED-@VALUE,0,0,GETDATE(),NULL,
						@IDUSER,2,VREFERENCE
						FROM INVOICECONTROL WITH (NOLOCK)
						WHERE ID=@ID2
					END

				END


				FETCH NEXT FROM MAIN_CURSOR  INTO @ID,@IDPART,@IDISPATCHED;
			END;

			CLOSE MAIN_CURSOR;
			DEALLOCATE MAIN_CURSOR;

	END TRY
	BEGIN CATCH

	IF CURSOR_STATUS('local','MAIN_CURSOR') >= 0 
		BEGIN
			CLOSE MAIN_CURSOR;
			DEALLOCATE MAIN_CURSOR;
		END

		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR (@ErrorMessage, 16, 1) 
	END CATCH
END
 