GO
/****** Object:  StoredProcedure [dbo].[USP_GET_REPORTS_REP007]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_REPORTS_REP007]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_REPORTS_REP007] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_GET_REPORTS_REP007] --USP_GET_REPORTS_REP007 1,0,4069,NULL,'',NULL,NULL
@IDUSER INT, 
@IDDEALER INT = NULL,
@IDSUPPLIER INT = NULL,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL,
@IDESTATUS INT =NULL


AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	DECLARE @ISDEALER BIT=0
	IF NOT EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] WHERE IDUSER=@IDUSER)
	BEGIN
		SET @ISDEALER=1
	END

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END


    DECLARE @FechaInicio DATETIME = DATEADD(DAY, -360, GETDATE());
    SELECT @DFROMDATE = CONVERT(VARCHAR(10),@DFROMDATE,120)
    SELECT @DUPTODATE = CONVERT(VARCHAR(10),@DUPTODATE,120)

 

BEGIN

        WITH O AS (
            -- 1. FILTRAR LA MUESTRA CON DEALER,SUPPLIER,FECHA Y ESTATUS 
            SELECT ID, IDSUPPLIER, IESTATUS, DCREATED,IDLICENSETYPE,VDESCRIPTION,DEXPIRATIONDATE
            FROM LICENSE WITH (NOLOCK)
            WHERE 
            DCREATED BETWEEN ISNULL(@DFROMDATE, DCREATED) AND ISNULL(@DUPTODATE, DCREATED)
            AND IDSUPPLIER = @IDSUPPLIER
            AND IESTATUS = CASE WHEN ISNULL(@IDESTATUS,0)=0 THEN IESTATUS ELSE @IDESTATUS END
        ),
        R AS (
                -- 2. SUBCONSULTAS EN CASO DE SER NECESARIOS
            SELECT M.VNAME,V.VVIN
            FROM MODEL M WITH (NOLOCK)
			INNER JOIN VEHICLE V WITH (NOLOCK) ON M.ID=V.IDMODEL
            GROUP BY V.VVIN ,M.VNAME
        ),
      
        T1 AS (
                -- 3. SEGUN FILTRO SEGUN TEXTO EN CASO DE SER NECESARIO, ESTE FILTRO YA SE APLICARA SOBRE EL PRIMER FILTRO 
                SELECT 
				O.*,
				LD.VVIN,
				LT.VNAME,
                A.VDISPLAYESTATUS AS VESTATUSLICENSE,
				B.VDISPLAYESTATUS AS VESTATUSLICENSEDETAILS,
				CASE 
						WHEN LD.IESTATUS=DBO.UFN_GET_ISTATUS('UNAVAILABLE') AND LD.IDMAINTENANCE IS NOT NULL THEN LD.DUPDATED
						ELSE NULL
				END AS DUNAVAILABLEDATE,
				R.VNAME AS VMODEL,
				LD.IDMAINTENANCE
                FROM O
                INNER JOIN LICENSEDETAILS LD WITH (NOLOCK) ON O.ID=LD.IDLICENSE
				INNER JOIN LICENSETYPE LT WITH (NOLOCK) ON LT.ID=O.IDLICENSETYPE
				INNER JOIN ACTION A WITH (NOLOCK) ON A.ID=O.IESTATUS
				INNER JOIN ACTION B WITH (NOLOCK) ON B.ID=LD.IESTATUS
				INNER JOIN R ON LD.VVIN=R.VVIN
                WHERE 
                (
                 LD.VVIN LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+LD.VVIN+'%' ELSE '%'+@VFILTER+'%'END OR
		         O.VDESCRIPTION LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+O.VDESCRIPTION+'%' ELSE '%'+@VFILTER+'%' END
				 OR CAST(LD.IDMAINTENANCE AS VARCHAR) LIKE '%' + ISNULL(@VFILTER, '') + '%'
                )

        ),
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
        T3 AS (
            SELECT 
            T1.ID NROLICENCIA,
            T1.VDESCRIPTION [DESCRIPCION],
			T1.VNAME TIPO,
			CONVERT(VARCHAR(10),T1.DCREATED,120) [FECHA DE REGISTRO],
            CONVERT(VARCHAR(10),T1.DEXPIRATIONDATE,120) [FECHA DE EXPIRACION],
			CONVERT(VARCHAR(10),T1.DUNAVAILABLEDATE,120) [FECHA DE CONSUMO],
            T1.VVIN VIN,
            T1.VMODEL MODELO,
            T1.VESTATUSLICENSEDETAILS [ESTATUS DE VIN EN LIC.],
            T1.IDMAINTENANCE [REPORTE FALLA ASOCIADO]
            FROM T1
            ORDER BY T1.DCREATED
            OFFSET @IROWFROM ROWS
            FETCH NEXT @TOPE ROWS ONLY
        )
        SELECT T3.*,T2.TOTAL
        FROM T3, T2
END


