GO
/****** Object:  StoredProcedure [dbo].[USP_GET_PAIDDETAILS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_PAIDDETAILS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_PAIDDETAILS] AS BEGIN SET NOCOUNT ON  END')
GO
CREATE PROCEDURE [dbo].[USP_GET_PAIDDETAILS] -- EXEC USP_GET_PAIDDETAILS 1,4076,0,22
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IROWFROM INT = NULL,
@IDDMS INT =NULL

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

BEGIN

		WITH T1 as(
		SELECT PD.* FROM PAIDDETAILS PD
		INNER JOIN DMS D WITH (NOLOCK) ON PD.IDDMS=D.ID
		WHERE
		PD.IDDMS = CASE WHEN @IDDMS IS NULL THEN PD.IDDMS ELSE @IDDMS END AND
		D.IDSUPPLIER=@IDSUPPLIER ),
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
		T3 AS (
			SELECT * FROM T1
			ORDER BY T1.ID DESC
			OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
			FETCH NEXT @TOPE ROWS ONLY
		)
		SELECT T3.*, T2.* FROM T3, T2;
	
END