USE OASIS
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_MOVEMENTS_ACTIONS]    Script Date: 2/4/2026 1:57:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_MOVEMENTS_ACTIONS]
 @DATA VARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY


		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(200),
					IDRELATED INT
				);


				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS C
			

				DECLARE @REGISTROS AS TABLE (ID INT)
				DECLARE @IDACTION INT
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @IDMODULE INT

				SELECT TOP 1 @VACTION=VACTION,@IDMODULE=IDMODULE FROM @TDATA

				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

				--select * from @TDATA
				--return
			  
		BEGIN TRAN 

				IF @VACTION='GENERATE'
				BEGIN
					BEGIN 
						
						IF EXISTS (
							SELECT 1 
							FROM MOVEMENT M 
							INNER JOIN @TDATA D ON M.ID = D.IDRECORD 
							WHERE (M.IDCONTACT IS NULL OR M.IDCONTACT <= 0) AND VTYPE='R'
						)
						BEGIN
							RAISERROR ('EL CAMPO CONTACTO ES REQUERIDO.', 16, 1)
							RETURN
						END

						IF EXISTS (
							SELECT 1 
							FROM MOVEMENT M 
							INNER JOIN @TDATA D ON M.ID = D.IDRECORD 
							WHERE M.VREFERENCE IS NULL OR LTRIM(RTRIM(M.VREFERENCE)) = '' AND VTYPE='R'
						)
						BEGIN
							RAISERROR ('EL CAMPO REFERENCIA ES REQUERIDO.', 16, 1)
							RETURN
						END 

						IF EXISTS (
							SELECT 1 
							FROM MOVEMENT M 
							INNER JOIN @TDATA D ON M.ID = D.IDRECORD 
							WHERE (M.IDSUPPLIER IS NULL OR M.IDSUPPLIER <= 0) AND M.VTYPE='R'
						)
						BEGIN
							RAISERROR ('EL CAMPO PROVEEDOR ES REQUERIDO.', 16, 1)
							RETURN
						END
					END
					INSERT INTO @REGISTROS
					SELECT C.ID
					FROM MOVEMENT C
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
					WHERE C.IESTATUS=DBO.UFN_GET_ISTATUS('CREATE')
					AND EXISTS (SELECT * FROM MOVEMENTDETAILS D WITH (NOLOCK) 
								WHERE D.IDMOVEMENT=C.ID)

					UPDATE C
						SET
							C.IESTATUS = DBO.UFN_GET_ISTATUS('GENERATE'),
							C.DUPDATED = GETDATE(),
							C.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
							c.DCREATED = GETDATE()
					FROM MOVEMENT C
					INNER JOIN @REGISTROS R ON R.ID=C.ID

					UPDATE MOVEMENTDETAILS SET IDSTATUS=DBO.UFN_GET_ISTATUS('GENERATE') 
					WHERE IDMOVEMENT IN (SELECT ID FROM @REGISTROS)

					SELECT @IUPDATED=@@ROWCOUNT

					IF @IUPDATED>0 AND
					EXISTS (SELECT * FROM MODULE WITH (NOLOCK) WHERE ID=@IDMODULE AND VNAME='INVENTARIO-PROCESOS-RECEPCION')
					BEGIN
						DECLARE @IDMOVEMENT INT

						DECLARE DETAIL_CURSOR CURSOR FOR 
							SELECT ID FROM @REGISTROS
						OPEN DETAIL_CURSOR;
						FETCH NEXT FROM DETAIL_CURSOR INTO @IDMOVEMENT;

						WHILE @@FETCH_STATUS = 0
						BEGIN
										
								EXEC USP_POST_MOVEMENT_RECEIVE @IDMOVEMENT,@IDUSER

							FETCH NEXT FROM DETAIL_CURSOR INTO @IDMOVEMENT;
						END;

						CLOSE DETAIL_CURSOR;
						DEALLOCATE DETAIL_CURSOR;
					END

				END

				IF @VACTION='ASSIGN'
				BEGIN

					INSERT INTO @REGISTROS
					SELECT C.ID
					FROM MOVEMENT C
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
					WHERE C.IESTATUS=DBO.UFN_GET_ISTATUS('GENERATE')

					UPDATE C
						SET
							C.IDASSIGNED = D.IDRELATED,
							C.IESTATUS = DBO.UFN_GET_ISTATUS('ASSIGN'),
							C.DUPDATED = GETDATE(),
							C.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MOVEMENT C
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
					INNER JOIN @REGISTROS R ON R.ID=D.IDRECORD


					SELECT @IUPDATED=@@ROWCOUNT

					IF @IUPDATED>0
					BEGIN
						UPDATE M
						SET M.IDUSER =  D.IDRELATED
						FROM MOVEMENTDETAILS M
						INNER JOIN @TDATA D ON D.IDRECORD=M.IDMOVEMENT
						INNER JOIN @REGISTROS R ON R.ID=D.IDRECORD
						WHERE M.IDUSER IS NULL AND M.BPROCESSED=0
					END

				END

				IF @VACTION='UNASSIGN'
				BEGIN

					INSERT INTO @REGISTROS
					SELECT C.ID
					FROM MOVEMENT C
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
					WHERE C.IESTATUS=DBO.UFN_GET_ISTATUS('ASSIGN')

					UPDATE C
						SET
							C.IDASSIGNED = 0,
							C.IESTATUS = DBO.UFN_GET_ISTATUS('GENERATE'),
							C.DUPDATED = GETDATE(),
							C.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MOVEMENT C
					INNER JOIN @REGISTROS D ON D.ID=C.ID

					SELECT @IUPDATED=@@ROWCOUNT

					UPDATE M
					SET M.IDUSER =  NULL
					FROM MOVEMENTDETAILS M
					INNER JOIN @REGISTROS D ON D.ID=M.IDMOVEMENT
					WHERE M.IDUSER IS NOT NULL AND M.BPROCESSED=0
				
				END


				IF @VACTION='DECLINE'
				BEGIN

			
					INSERT INTO @REGISTROS
					SELECT C.ID
					FROM MOVEMENT C
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
					WHERE C.IESTATUS=DBO.UFN_GET_ISTATUS('CREATE')

					UPDATE C
						SET
							C.IDASSIGNED = 0,
							C.IESTATUS = DBO.UFN_GET_ISTATUS('DECLINE'),
							C.DUPDATED = GETDATE(),
							C.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MOVEMENT C
					INNER JOIN @REGISTROS D ON D.ID=C.ID 
	
					SELECT @IUPDATED=@@ROWCOUNT

				
				END

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				IF @IUPDATED>0
				BEGIN
					INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
					SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
					FROM @TDATA D
					INNER JOIN @REGISTROS R ON R.ID=D.IDRECORD 
				END

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END




