GO
/****** Object:  StoredProcedure [dbo].[USP_ESTATUS_POLICY]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_ESTATUS_POLICY]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_ESTATUS_POLICY] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_ESTATUS_POLICY]--USP_ESTATUS_POLICY 57,5073
@IDPOLICY INT,
@IDUSER INT
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/


SET NOCOUNT ON;
BEGIN
             

	  IF EXISTS (  SELECT *
	     FROM POLICYDETAILS (NOLOCK) 
		 WHERE IDPOLICY = @IDPOLICY
		 AND BVALID = 0 
	  )
	   BEGIN
	    UPDATE POLICY
		SET IESTATUS = DBO.UFN_GET_ISTATUS('LOCK'), 
		DLOCKDATE= GETDATE(),
		VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
		DUPDATED = GETDATE()
		WHERE ID=@IDPOLICY AND IESTATUS=DBO.UFN_GET_ISTATUS('ACTIVATE')

	   END
	   ELSE IF NOT EXISTS(SELECT *
	     FROM POLICYDETAILS (NOLOCK) 
		 WHERE IDPOLICY = @IDPOLICY
		 AND BVALID IS NULL)
		 BEGIN
		  UPDATE POLICY
		SET IESTATUS = DBO.UFN_GET_ISTATUS('EXPIRE'), 
		DLOCKDATE= GETDATE(),
		VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
		DUPDATED = GETDATE()
		WHERE ID=@IDPOLICY
		 END 
	   ELSE 
	   UPDATE POLICY
		SET IESTATUS = DBO.UFN_GET_ISTATUS('ACTIVATE'), 
		DLOCKDATE= NULL,
		VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
		DUPDATED = GETDATE()
		WHERE ID=@IDPOLICY AND IESTATUS<>DBO.UFN_GET_ISTATUS('EXPIRE')
	  
END