GO
/****** Object:  StoredProcedure [dbo].[USP_POST_CLAIM_ACTION]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_CLAIM_ACTION]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_CLAIM_ACTION] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_CLAIM_ACTION]
	@DATA NVARCHAR(MAX) = NULL,
    @IDUSER INT = 0,
    @IDGUIDE INT = 0
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               : 
  '   VERSIÓN               :
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN :  
  '===============================================================*/     

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
    BEGIN TRY
        BEGIN TRAN

        -- ================================================================
        -- 1. DECLARACIÓN DE VARIABLES Y PARSEO DE DATOS
        -- ================================================================
        
        -- Tabla temporal para datos de entrada
        DECLARE @TDATA AS TABLE
        (
            IDRECORD INT,
            IDMODULE INT,
            VACTION VARCHAR(20),
            VCOMMENT VARCHAR(200),
            IDRELATED INT 
        );

        -- Variables de control del procedimiento original
        DECLARE @VACTION VARCHAR(20)
        DECLARE @IID INT
        DECLARE @IINSERTED INT
        DECLARE @IUPDATED INT
        DECLARE @IDMODULE INT
        DECLARE @VRECORD VARCHAR(20)
        DECLARE @VACTIONRECORD VARCHAR(50)
        DECLARE @IDCOMMENT INT
        DECLARE @TEMPLATE VARCHAR(100) = 'ESTATUS Y MSJ'
        DECLARE @VCONTEXT VARCHAR(100) = 'NOTIFICACIÓN DEL RECLAMO'
        
        -- Variables específicas para reclamos
        DECLARE @IDCLAIM INT
        DECLARE @CURRENT_STATUS INT
        DECLARE @VNOTE_ACTUAL VARCHAR(500)
        DECLARE @VGUIDE_ACTUAL VARCHAR(100)
        DECLARE @VREFERENCE_CLAIM VARCHAR(50)
        DECLARE @VINVOICE_CLAIM VARCHAR(50)
        DECLARE @ITEMS_PENDIENTES INT
        DECLARE @ITEMS_APROBADOS INT
        DECLARE @ITEMS_RECHAZADOS INT
        DECLARE @TOTAL_ITEMS INT 
        DECLARE @NUM_DOCUMENTOS INT; 
        -- ================================================================
        -- 2. PARSEO DE DATOS JSON
        -- ================================================================
        INSERT INTO @TDATA
        SELECT 
            RecordId, 
            ModuleId, 
            ActionName, 
            ActionComment, 
            RelatedId
        FROM OPENJSON(@DATA)
        WITH (
            RecordId INT,
            ModuleId INT,
            ActionName VARCHAR(20),
            ActionComment VARCHAR(200),
            RelatedId INT
        ) AS C;

        -- Obtener la acción actual
        SELECT TOP 1 
            @VACTION = VACTION, 
            @IDMODULE = IDMODULE
        FROM @TDATA;
		
        SELECT @NUM_DOCUMENTOS = COUNT(DISTINCT IDRECORD) FROM @TDATA; 
        -- ================================================================
        -- 3. VALIDACIONES INICIALES
        -- ================================================================
        
        -- Obtener información del reclamo
        SELECT TOP 1 
            @IDCLAIM = T.IDRECORD,
            @VACTIONRECORD = A.VNAME,
            @VRECORD = '0000000' + CAST(C.ID AS VARCHAR(10))
        FROM @TDATA T
        INNER JOIN CLAIM C WITH (NOLOCK) ON T.IDRECORD = C.ID
        INNER JOIN ACTION A WITH (NOLOCK) ON C.IDSTATUS = A.ID;

        -- Validar que el reclamo existe
        IF @IDCLAIM IS NULL
        BEGIN
            RAISERROR('El reclamo especificado no existe.', 16, 1);
            RETURN;
        END
        
        -- Obtener datos actuales del reclamo
        SELECT 
            @VREFERENCE_CLAIM = VREFERENCE,
            @VINVOICE_CLAIM = VINVOICE,
            @CURRENT_STATUS = C.IDSTATUS,
            @VNOTE_ACTUAL = VNOTE,           
            @VGUIDE_ACTUAL = VGUIDE
        FROM CLAIM C
        WHERE C.ID = @IDCLAIM;

        -- ================================================================
        -- 4. VALIDACIONES ESPECÍFICAS POR ACCIÓN
        -- ================================================================

        -- ================================================================
        -- 4.1. VALIDACIONES PARA ACCIÓN: TOAPPROVE (PARA APROBAR)
        -- ================================================================
        IF @VACTION = 'GENERATE'
        BEGIN 
        IF NOT EXISTS (
                SELECT 1 FROM CLAIM 
                WHERE ID = @IDCLAIM 
                AND IDSTATUS IN ( 
                    dbo.UFN_GET_ISTATUS('CREATE')
                )
            )
            BEGIN
                RAISERROR('El reclamo no está en estado borrador.', 16, 1);
                RETURN;
            END
            -- 1. Validar que el reclamo tenga items
            SELECT @TOTAL_ITEMS = COUNT(*) 
            FROM CLAIMDETAIL CD
            WHERE CD.IDCLAIM = @IDCLAIM;
    
            IF @TOTAL_ITEMS = 0
            BEGIN
                RAISERROR('No se puede pasar a PARA APROBAR. El reclamo no tiene items.', 16, 1);
                RETURN;
            END

            -- 2. Validar que todos los items del reclamo estén en la guía o factura especificada
            IF ISNULL(@VREFERENCE_CLAIM, '') = '' AND ISNULL(@VINVOICE_CLAIM, '') = ''
			BEGIN
				RAISERROR('Debe especificar guía o factura.', 16, 1); RETURN;
			END

                -- NÚMERO DE GUÍA DEBE COINCIDIR (EXISTIR EN GUIDE) 

                IF @VREFERENCE_CLAIM != '' 
                BEGIN
                    -- Validar que la guía exista en la tabla GUIDE
                    IF NOT EXISTS (
                        SELECT 1 FROM GUIDE G 
                        WHERE G.ID = TRY_CAST(@VREFERENCE_CLAIM AS INT) 
                    )
                    BEGIN
                        RAISERROR('El número de guía %s no existe en el sistema.', 16, 1, @VREFERENCE_CLAIM);
                        RETURN;
                    END
                END


                -- NÚMERO DE FACTURA DEBE COINCIDIR (EXISTIR EN INVOICECONTROL)

                IF @VINVOICE_CLAIM != '' 
                BEGIN
                    -- Validar que la factura exista en la tabla INVOICECONTROL
                    IF NOT EXISTS (
                        SELECT 1 FROM INVOICECONTROL IC 
                        WHERE IC.IDINVOICE = TRY_CAST(@VINVOICE_CLAIM AS INT)
                    )
                    BEGIN
                        RAISERROR('El número de factura %s no existe en el sistema.', 16, 1, @VINVOICE_CLAIM);
                        RETURN;
                    END
                END


                -- LOS REPUESTOS CARGADOS DEBEN COINCIDIR CON LOS DE LA FACTURA/GUÍA

                DECLARE @ITEMS_NO_COINCIDENTES INT = 0;
                DECLARE @PARTES_NO_COINCIDENTES VARCHAR(MAX) = '';

                IF @VREFERENCE_CLAIM != '' 
                BEGIN
                    -- Validar contra guía
                    SELECT 
                        @ITEMS_NO_COINCIDENTES = COUNT(*),
                        @PARTES_NO_COINCIDENTES = STRING_AGG(CAST(P.ID AS VARCHAR(10)), ', ')
                    FROM CLAIMDETAIL CD
                    INNER JOIN PART P ON CD.IDPART = P.ID
                    WHERE CD.IDCLAIM = @IDCLAIM
                    AND NOT EXISTS (
                        SELECT 1 
                        FROM GUIDEDETAILS GD
                        WHERE GD.IDGUIDE = TRY_CAST(@VREFERENCE_CLAIM AS INT)
                        AND GD.IDPART = CD.IDPART
                    );
                END
                ELSE IF @VINVOICE_CLAIM != '' 
                BEGIN
                    -- Validar contra factura
                    SELECT 
                        @ITEMS_NO_COINCIDENTES = COUNT(*),
                        @PARTES_NO_COINCIDENTES = STRING_AGG(CAST(P.ID AS VARCHAR(10)), ', ')
                    FROM CLAIMDETAIL CD
                    INNER JOIN PART P ON CD.IDPART = P.ID
                    WHERE CD.IDCLAIM = @IDCLAIM
                    AND NOT EXISTS (
                        SELECT 1 
                        FROM INVOICECONTROL IC
                        WHERE IC.IDINVOICE = TRY_CAST(@VINVOICE_CLAIM AS INT)
                        AND IC.IDPART = CD.IDPART
                    );
                END

                IF @ITEMS_NO_COINCIDENTES > 0
                BEGIN
                    RAISERROR('Hay %d items cuyos códigos de repuesto no coinciden con la guía/factura especificada. Repuesto: %s', 
                              16, 1, @ITEMS_NO_COINCIDENTES, @PARTES_NO_COINCIDENTES);
                    RETURN;
                 END
END

        -- ================================================================
        -- 4.2. VALIDACIONES PARA ACCIÓN: APPROVE (APROBAR)
        -- ================================================================
        IF @VACTION = 'APPROVE'
        BEGIN 
             -- Validar estado del reclamo 
            IF NOT EXISTS (
                SELECT 1 FROM CLAIM 
                WHERE ID = @IDCLAIM 
                AND IDSTATUS IN ( 
                    dbo.UFN_GET_ISTATUS('TOAPPROVE')
                )
            )
            BEGIN
                RAISERROR('El reclamo no está en estado para aprobar.', 16, 1);
                RETURN;
            END


            IF @NUM_DOCUMENTOS > 1
            BEGIN
                RAISERROR('No se puede procesar. Solo se permite aprobar un documento a la vez.', 16, 1);
                RETURN;
            END

            -- 2. Contar items por estado
            SELECT 
                @ITEMS_PENDIENTES = COUNT(CASE WHEN CD.IDSTATUS = dbo.UFN_GET_ISTATUS('CREATE') THEN 1 END),
                @ITEMS_APROBADOS = COUNT(CASE WHEN CD.IDSTATUS = dbo.UFN_GET_ISTATUS('APPROVE') THEN 1 END) 
            FROM CLAIMDETAIL CD
            WHERE CD.IDCLAIM = @IDCLAIM;
			
			IF @ITEMS_APROBADOS = 0
			BEGIN
				RAISERROR('No se puede aprobar el documento. Debe existir al menos un item aprobado.', 16, 1)
				RETURN
			END

			-- 4. Validar que TODOS los items estén procesados
			IF @ITEMS_PENDIENTES > 0
			BEGIN
				RAISERROR('No se puede aprobar el documento. Hay %d items pendientes de revisión.', 
						  16, 1, @ITEMS_PENDIENTES);
				RETURN;
			END
        END

        -- ================================================================
        -- 4.3. VALIDACIONES PARA ACCIÓN: PROCESS (PROCESAR)
        -- ================================================================
         IF @VACTION = 'PROCESS'
        BEGIN 
        IF NOT EXISTS (
                SELECT 1 FROM CLAIM 
                WHERE ID = @IDCLAIM 
                AND IDSTATUS IN ( 
                    dbo.UFN_GET_ISTATUS('APPROVE')
                )
            )
            BEGIN
                RAISERROR('El reclamo no está en estado aprobado.', 16, 1);
                RETURN;
            END
         -- Validar que solo se pueda procesar un documento a la vez
            IF @NUM_DOCUMENTOS > 1
            BEGIN
                RAISERROR('No se puede procesar. Solo se permite procesar un documento a la vez.', 16, 1);
                RETURN;
            END

            DECLARE @IDRELATED_PROCESS INT;
            DECLARE @VCOMMENT_PROCESS VARCHAR(200);
    
            SELECT TOP 1 
                @IDRELATED_PROCESS = IDRELATED,
                @VCOMMENT_PROCESS = VCOMMENT 
            FROM @TDATA;
    
            --  Contar items aprobados CON repuesto y SIN repuesto
            DECLARE @ITEMS_CON_REEMPLAZO INT = 0
            DECLARE @ITEMS_SIN_REEMPLAZO INT = 0

            SELECT 
                @ITEMS_CON_REEMPLAZO = COUNT(CASE 
                    WHEN CD.IDREPLACEMENT_PART IS NOT NULL AND CD.IDREPLACEMENT_PART > 0 
                    THEN 1 END),
                @ITEMS_SIN_REEMPLAZO = COUNT(CASE 
                    WHEN CD.IDREPLACEMENT_PART IS NULL OR CD.IDREPLACEMENT_PART = 0 
                    THEN 1 END)
            FROM CLAIMDETAIL CD
            WHERE CD.IDCLAIM = @IDCLAIM 
            AND CD.IDSTATUS = dbo.UFN_GET_ISTATUS('APPROVE')

            -- 3. Validar IDRELATED para items con repuesto  
            IF @ITEMS_CON_REEMPLAZO > 0 AND (@IDRELATED_PROCESS IS NULL OR @IDRELATED_PROCESS = 0)
            BEGIN
                RAISERROR('Se requiere número de guía para items con repuesto de reemplazo.', 16, 1)
                RETURN
            END
             
           --  Para items SIN repuesto que NO sean SOBRANTE, validar nota de crédito 
                DECLARE @ITEMS_SIN_REEMPLAZO_NO_SOBRANTE INT = 0;
    
                SELECT @ITEMS_SIN_REEMPLAZO_NO_SOBRANTE = COUNT(*)
                FROM CLAIMDETAIL CD
                INNER JOIN CLAIMREASON CR ON CD.IDREASON = CR.ID
                WHERE CD.IDCLAIM = @IDCLAIM 
                AND CD.IDSTATUS = dbo.UFN_GET_ISTATUS('APPROVE')
                AND (CD.IDREPLACEMENT_PART IS NULL OR CD.IDREPLACEMENT_PART = 0)
                AND CR.VDESCRIPTION != 'SOBRANTE';   
                
                IF @ITEMS_SIN_REEMPLAZO_NO_SOBRANTE > 0 
                BEGIN 
                    IF (@VCOMMENT_PROCESS IS NULL OR @VCOMMENT_PROCESS = '')
                    BEGIN
                        RAISERROR('Se requiere nota de crédito para items aprobados sin repuesto de reemplazo.', 16, 1)
                        RETURN
                    END
                END
        END 
        -- ================================================================
        -- 4.4. VALIDACIONES PARA ACCIÓN: DECLINE (RECHAZAR)
        -- ================================================================
        IF @VACTION = 'DECLINE'
        BEGIN 
    
            IF @NUM_DOCUMENTOS > 1
            BEGIN
                RAISERROR('No se puede procesar. Solo se permite rechazar un documento a la vez.', 16, 1);
                RETURN;
            END
        END

        -- ================================================================
        -- 5. EJECUCIÓN DE ACCIONES
        -- ================================================================

        -- ================================================================
        -- 5.1. ACCIÓN: TOAPPROVE (CREATE → TOAPPROVE)
        -- ================================================================
        IF @VACTION = 'GENERATE' AND @VACTIONRECORD = 'CREATE'
        BEGIN
            UPDATE P
            SET 
                P.IDSTATUS = DBO.UFN_GET_ISTATUS('TOAPPROVE'),
                P.DUPDATED = GETDATE(), 
                P.IDUSER = @IDUSER
            FROM CLAIM P
            INNER JOIN @TDATA D ON D.IDRECORD = P.ID 
            WHERE P.IDSTATUS = DBO.UFN_GET_ISTATUS('CREATE');
            
            SET @IUPDATED = @@ROWCOUNT;
        END

        -- ================================================================
        -- 5.2. ACCIÓN: APPROVE (TOAPPROVE → APPROVE)
        -- ================================================================
        ELSE IF @VACTION = 'APPROVE' AND @VACTIONRECORD = 'TOAPPROVE'
        BEGIN
            UPDATE P
            SET 
                P.IDSTATUS = DBO.UFN_GET_ISTATUS('APPROVE'),
                P.DUPDATED = GETDATE(),
                P.IDUSER = @IDUSER
            FROM CLAIM P
            INNER JOIN @TDATA D ON D.IDRECORD = P.ID 
            WHERE P.IDSTATUS = DBO.UFN_GET_ISTATUS('TOAPPROVE');
            
            SET @IUPDATED = @@ROWCOUNT;

            IF @IUPDATED > 0
            BEGIN
                -- Generar backorders y/o devoluciones automáticamente si hay items aprobados
                IF @ITEMS_APROBADOS > 0
                BEGIN 
                    EXEC [dbo].[USP_GENERATE_CLAIM_PROCESSES] 
                        @IDCLAIM = @IDCLAIM,
                        @IDUSER = @IDUSER;
                END
                
                INSERT INTO COMMENT(VCONTENT, VCREATEDBY, IDRECORD, IDMODULE, BACTIVE, DCREATED)
                SELECT 
                    A.VDISPLAYESTATUS,
                    DBO.UFN_GET_LOGIN(@IDUSER),
                    D.IDRECORD,
                    D.IDMODULE,
                    1,
                    GETDATE()
                FROM @TDATA D
                INNER JOIN CLAIM P (NOLOCK) ON D.IDRECORD = P.ID
                INNER JOIN ACTION A (NOLOCK) ON D.VACTION = A.VNAME
                WHERE P.IDSTATUS = DBO.UFN_GET_ISTATUS('APPROVE');
                
                SET @IDCOMMENT = SCOPE_IDENTITY();
                EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT, @TEMPLATE, @VCONTEXT;
            END
        END

        -- ================================================================
        -- 5.3. ACCIÓN: PROCESS (APPROVE → PROCESS)
        -- ================================================================
      
         ELSE IF @VACTION = 'PROCESS' AND @VACTIONRECORD = 'APPROVE'
        BEGIN 
    
            SELECT TOP 1 
                @IDRELATED_PROCESS = IDRELATED,
                @VCOMMENT_PROCESS = VCOMMENT 
            FROM @TDATA;
     
            UPDATE P
            SET 
                P.IDSTATUS = DBO.UFN_GET_ISTATUS('PROCESS'),
                P.DUPDATED = GETDATE(),
                P.VGUIDE = CAST(@IDRELATED_PROCESS AS VARCHAR(50)),   
                P.VNOTE = @VCOMMENT_PROCESS   
            FROM CLAIM P
            INNER JOIN @TDATA D ON D.IDRECORD = P.ID 
            WHERE P.IDSTATUS = DBO.UFN_GET_ISTATUS('APPROVE');
    
            SET @IUPDATED = @@ROWCOUNT;
     
        END
        -- ================================================================
        -- 5.4. ACCIÓN: DECLINE (RECHAZAR DOCUMENTO)
        -- ================================================================
        ELSE IF @VACTION = 'DECLINE' AND @VACTIONRECORD IN ('CREATE', 'TOAPPROVE')
        BEGIN
            DECLARE @VCOMMENT_DECLINE VARCHAR(200);
            SELECT TOP 1 @VCOMMENT_DECLINE = VCOMMENT FROM @TDATA;
            
            UPDATE P
            SET 
                P.IDSTATUS = DBO.UFN_GET_ISTATUS('DECLINE'),
                P.DUPDATED = GETDATE(),
                P.IDUSER = @IDUSER
            FROM CLAIM P
            INNER JOIN @TDATA D ON D.IDRECORD = P.ID 
            WHERE P.IDSTATUS IN (DBO.UFN_GET_ISTATUS('CREATE'), DBO.UFN_GET_ISTATUS('TOAPPROVE'));
            
            SET @IUPDATED = @@ROWCOUNT;

            IF @IUPDATED > 0
            BEGIN 
                UPDATE CLAIMDETAIL
                SET IDSTATUS = DBO.UFN_GET_ISTATUS('DECLINE')
                WHERE IDCLAIM = @IDCLAIM; 
				 
				INSERT INTO COMMENT(VCONTENT, VCREATEDBY, IDRECORD, IDMODULE, BACTIVE, DCREATED)
                SELECT 
                    A.VDISPLAYESTATUS,
                    DBO.UFN_GET_LOGIN(@IDUSER),
                    D.IDRECORD,
                    D.IDMODULE,
                    1,
                    GETDATE()
                FROM @TDATA D
                INNER JOIN CLAIM P (NOLOCK) ON D.IDRECORD = P.ID
                INNER JOIN ACTION A (NOLOCK) ON D.VACTION = A.VNAME
                WHERE P.IDSTATUS = DBO.UFN_GET_ISTATUS('DECLINE');
                
                SET @IDCOMMENT = SCOPE_IDENTITY();
                EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT, @TEMPLATE, @VCONTEXT;
            END
        END

        -- ================================================================
        -- 6. RESULTADOS Y AUDITORÍA
        -- ================================================================
        
        -- Retornar resultados
        SELECT
            ISNULL(@IID, 0) AS IID, 
            ISNULL(@IINSERTED, 0) AS IINSERTED,
            ISNULL(@IUPDATED, 0) AS IUPDATED;

        -- Registrar auditoría si hubo cambios
        IF @IUPDATED > 0
        BEGIN
            INSERT INTO AUDIT (IDUSER, IDRECORD, IDMODULE, VACTION, VCOMMENT, IDRELATED, DCREATED)
            SELECT @IDUSER, IDRECORD, IDMODULE, @VACTION, VCOMMENT, IDRELATED, GETDATE()
            FROM @TDATA;
        END

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN;
        
        DECLARE @ErrorMsg NVARCHAR(4000);
        SELECT @ErrorMsg = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMsg, 16, 1);
    END CATCH
END