USE OASIS
GO
/****** Object:  StoredProcedure [dbo].[USP_DECLINE_DELIVERY]    Script Date: 2/4/2026 9:53:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create PROCEDURE [dbo].[USP_DECLINE_DELIVERY]
    @IDMOVEMENTDETAIL INT,
    @IDUSER INT
    --@IDECLINEQTY INT,
    --@IREMAININGQTY INT,
    --@IDBACKORDER INT,
    --@IDSUPPLIER INT
AS 
/* '===============================================================          
  '   NOMBRE                :  
  '   FECHA CREACIÓN        :  
  '   CREADO POR            :  SARAHY CHIRNOS
  '   CREADO PARA           :  
  '   FUNCIÓN               :  
  '   VERSIÓN               :  
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/ 

SET NOCOUNT ON

BEGIN TRY
BEGIN TRAN
    DECLARE @IDLocation INT
    DECLARE @IDPart INT
    DECLARE @IDMOVEMENT INT
    DECLARE @NCost NUMERIC(18,2)
    DECLARE @DestinationLocationID INT
    DECLARE @NewMovementID INT
    DECLARE @OriginalPickingLocation INT

    DECLARE @IDECLINEQTY INT 
    DECLARE @IDBACKORDER_OLD INT
    DECLARE @IDLOCATIONFROM INT
    DECLARE @IDLOCATIONTO INT
    DECLARE @IDSUPPLIER INT
    DECLARE @VMOVEMENT_TYPE VARCHAR(1)


    

    --SELECT @IDLocation = IDLOCATION, 
    --       @IDPart = IDPART, 
    --       @IDMovement = IDMOVEMENT
    --FROM MOVEMENTDETAILS 
    --WHERE ID = @IDMOVEMENTDETAIL
    
    -- DATOS DE LA ENTREGA 
    SELECT @IDBACKORDER_OLD = A.IDBACKORDER,@IDECLINEQTY=A.IREAL,@IDPart=A.IDPART,@IDLOCATIONFROM=A.IDLOCATION,@IDSUPPLIER=B.IDSUPPLIER,@VMOVEMENT_TYPE=B.VTYPE,
    @IDMOVEMENT=A.IDMOVEMENT
    FROM MOVEMENTDETAILS A WITH (NOLOCK)
    INNER JOIN MOVEMENT B WITH (NOLOCK) ON B.ID=A.IDMOVEMENT
    WHERE A.ID = @IDMOVEMENTDETAIL


    IF @VMOVEMENT_TYPE='P'
    BEGIN

        IF EXISTS(SELECT * FROM DISPATCHEDCONTROL WITH (NOLOCK)
                    WHERE IDMOVEMENTDETAIL=@IDMOVEMENTDETAIL AND IESTATUS=DBO.UFN_GET_ISTATUS('PROCESS')
                    )
        BEGIN
               RAISERROR ( 'ERROR: ENTREGA CON SINCRONIZACION DE FACTURA REALIZADA' , 16,1) 
        END

        IF EXISTS(SELECT * FROM MOVEMENTDETAILS WITH (NOLOCK)
                    WHERE ID=@IDMOVEMENTDETAIL AND IPACKAGED>0
                    )
        BEGIN
               RAISERROR ( 'ERROR: ENTREGA CON CANTIDADES EN BULTO' , 16,1) 
        END

    END

    -- OBTENER COSTO
    SELECT @NCost = NCOST
    FROM PART WITH (NOLOCK)
    WHERE ID = @IDPart
    
    ---- 1. INCREMENTAR BACKORDER
    --IF @IDBackorder IS NOT NULL AND @IDBackorder > 0
    --BEGIN
    --    UPDATE BACKORDER 
    --    SET  
    --        IDSTATUS = DBO.UFN_GET_ISTATUS('CREATE'),
    --        DCREATED = GETDATE(),
    --        VOBSERVATION = ISNULL(VOBSERVATION, '') + 
    --                      ' | Entrega rechazada: +' + CAST(@IDeclineQty AS VARCHAR(10))
    --    WHERE ID = @IDBackorder
    --END
    
    -- 2. BUSCAR UBICACIÓN ORIGINAL DEL PICKING ASOCIADO

    IF @VMOVEMENT_TYPE='P'
    BEGIN
        SELECT TOP 1 @IDLOCATIONTO = MD.IDLOCATION
        FROM MOVEMENTDETAILS MD WITH (NOLOCK)
        INNER JOIN MOVEMENT M WITH (NOLOCK) ON M.ID = MD.IDMOVEMENT
        WHERE MD.IDBACKORDER = @IDBACKORDER_OLD
          AND MD.VTYPE = 'P'  -- Tipo Picking
          AND MD.BPROCESSED = 1  -- Ya procesado
          AND M.VTYPE = 'P'  -- Movimiento de recolección
          AND MD.IDPART=@IDPart
        ORDER BY MD.ID DESC
    END
    ELSE
    BEGIN
         SELECT TOP 1 @IDLOCATIONTO = MD.IDLOCATION
        FROM MOVEMENTDETAILS MD WITH (NOLOCK)
        INNER JOIN MOVEMENT M WITH (NOLOCK) ON M.ID = MD.IDMOVEMENT
        WHERE MD.IDMOVEMENT = @IDMOVEMENT
          AND MD.VTYPE = 'P'  -- Tipo Picking
          AND MD.BPROCESSED = 1  -- Ya procesado
          AND M.VTYPE = 'T'  -- Movimiento de TRASLADO
          AND MD.IDPART=@IDPart
        ORDER BY MD.ID DESC
    END

    ---- 3. SI NO ENCUENTRA PICKING, BUSCAR UBICACIÓN CON STOCK
    --IF @OriginalPickingLocation IS NULL
    --BEGIN
    --    -- Buscar cualquier ubicación de almacén que tenga este producto
    --    SELECT TOP 1 @DestinationLocationID = I.IDLOCATION
    --    FROM INVENTORY I
    --    INNER JOIN LOCATION L ON L.ID = I.IDLOCATION
    --    WHERE I.IDPART = @IDPart
    --      AND L.IDSUPPLIER = @IDSupplier
    --      AND L.VTYPE = 'A'  -- Almacén
    --      AND I.ISTOCK > 0
    --    ORDER BY I.ISTOCK DESC
        
    --    -- Si no hay stock, buscar cualquier ubicación de almacén
    --    IF @DestinationLocationID IS NULL
    --    BEGIN
    --        SELECT TOP 1 @DestinationLocationID = ID
    --        FROM LOCATION
    --        WHERE IDSUPPLIER = @IDSupplier
    --          AND VTYPE = 'A'
    --          AND BACTIVE = 1
    --        ORDER BY ID
    --    END
    --END
    --ELSE
    --BEGIN
    --    -- USAR LA UBICACIÓN ORIGINAL DEL PICKING
    --    SET @DestinationLocationID = @OriginalPickingLocation
    --END
    
    -- 4. CREAR MOVIMIENTO DE TRASLADO
    --IF @DestinationLocationID IS NOT NULL
    --BEGIN
        INSERT INTO MOVEMENT (
            IDSUPPLIER, IESTATUS, VTYPE, VCOMMENT, VREFERENCE,
            DCREATED, DUPDATED, VUPDATEDBY, VCREATEDBY, IDCONTACT 
        )
        SELECT 
            @IDSupplier,
            DBO.UFN_GET_ISTATUS('GENERATE'),
            'T',
            'Traslado por rechazo de entrega',
            'ID-' + CAST(@IDMOVEMENTDETAIL AS VARCHAR(10)),
            GETDATE(),
            GETDATE(),
            DBO.UFN_GET_LOGIN(@IDUSER),
            DBO.UFN_GET_LOGIN(@IDUSER),
            @IDUSER 
        --FROM BACKORDER B
        --WHERE B.ID = @IDBackorder
        
        SET @NewMovementID = SCOPE_IDENTITY()
        
        -- 5. CREAR DETALLE DE PICKING PARA EL TRASLADO
        INSERT INTO MOVEMENTDETAILS (
            IDMOVEMENT, IDPART, VLOCATIONTYPE, IDLOCATION, IDDESTINATION,
            IREQUIRED, VTYPE, BPROCESSED, DCREATED, DUPDATED,
            VUPDATEDBY, IDUSER, NCOST, IDBACKORDER, IPRIORITY, IDSTATUS
        )
        VALUES (
            @NewMovementID,
            @IDPart,
            'D',  -- Desde DESPACHO
            @IDLOCATIONFROM,
            @IDLOCATIONTO,  -- Hacia ubicación ORIGINAL
            @IDeclineQty,
            'P',
            0,
            GETDATE(),
            GETDATE(),
            DBO.UFN_GET_LOGIN(@IDUSER),
            0, -- SIN ASIGNAR A NADIE AUN
            @NCost,
            0,
            1,
            DBO.UFN_GET_ISTATUS('GENERATE')

        )
    --END
    
        -- SE RETORNA LA CANTIDAD AL  BACKORDER, SIEMPRE CON NUEVO ID, A PARTIR DEL IDBACKORDER ANTERIOR
    IF @VMOVEMENT_TYPE='P'
    BEGIN
        DECLARE @IDBACKORDER_NEW INT

        EXEC USP_NEW_BACKORDER @IDBACKORDER_NEW,@IDBACKORDER_OLD,@IDECLINEQTY,@IDUSER
     
          -- QUITAR LA CANTIDADE ENTREGADA DEL CONTROL DE FACTURACION


        UPDATE DISPATCHEDCONTROL
        SET IESTATUS=DBO.UFN_GET_ISTATUS('DECLINE')
        WHERE IDMOVEMENTDETAIL=@IDMOVEMENTDETAIL

    END

  
 

    -- 6. MARCAR DETALLE ORIGINAL COMO RECHAZADO
    UPDATE MOVEMENTDETAILS
    SET IDSTATUS = DBO.UFN_GET_ISTATUS('DECLINE'), 
        IDUSER = @IDUSER,
        DUPDATED = GETDATE(),
        VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
        BPROCESSED=1
    WHERE ID = @IDMOVEMENTDETAIL

 
 COMMIT TRAN
END TRY
BEGIN CATCH
    IF XACT_STATE() <> 0
			ROLLBACK TRAN
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
    RAISERROR ( @ErrorMessage , 16,1) 

END CATCH
