USE OASIS
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_PACKAGESLIST ]    Script Date: 12/17/2025 9:19:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- USP_GET_PACKINGLIST 4069

ALTER PROCEDURE [dbo].[USP_GET_PACKINGLIST]
(
@IDSUPPLIER INT
)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN 

 SELECT '['+A.VINNERCODE+']' + A.VDESCRIPTION AS VDESCRIPTION,VCUSTOMER,SUM(A.IPENDING) IQUANTITY  
 FROM V_MOVEMENTDETAILS_FORPACKAGING A  
 WHERE IDSUPPLIER=@IDSUPPLIER  
 GROUP BY A.VINNERCODE,A.VDESCRIPTION,A.VCUSTOMER  
 ORDER BY A.VCUSTOMER,VDESCRIPTION  


END 

   