GO
/****** Object:  StoredProcedure [dbo].[USP_POST_POLICY]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_POLICY]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_POLICY] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_POST_POLICY]
 @DATA NVARCHAR(MAX),
 @IDUSER INT
  
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000



BEGIN
    BEGIN TRY
        BEGIN TRAN 

        

        DECLARE @TDATA AS TABLE
        (
            ID INT,
            IDPOLICYTYPE INT,
            IDVEHICLE INT,
            VINVOICENUMBER VARCHAR(10),
            NINVOICEAMOUNT NUMERIC(12,2),
            DINVOICEDATE DATETIME,
            IDPAYMETHOD INT,
            IESTATUS INT,
            BACTIVE BIT,
            IDCUSTOMER INT,
            VUPDATEDBY VARCHAR(15)
        );


        INSERT INTO @TDATA
        SELECT M.Id, M.PolicyTypeId, M.VehicleId, M.InvoiceNumber, M.InvoiceAmount, M.InvoiceDate, M.PayMethodId, M.EstatusId, M.IsActive,M.CustomerId,DBO.UFN_GET_LOGIN(@IDUSER)
        FROM OPENJSON(@DATA)
        WITH (
            Id INT,
            PolicyTypeId INT,
            VehicleId INT,
            InvoiceNumber VARCHAR(10),
            InvoiceAmount NUMERIC(12,2),
            InvoiceDate DATETIME,
            PayMethodId INT,
            EstatusId INT,
            IsActive BIT,
            CustomerId VARCHAR (12)

        ) AS M

		DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('POLIZAS-POLIZAS')
		

		-- VALIDACIONES
		

		 EXEC USP_CHECK_VEHICLES @DATA, @IDUSER

				-- VALIDAR QUE SOLO SE PUEDE ACTUALIZAR UN POLIZA QUE NO SE HAYA ACTIVADO
					IF EXISTS (SELECT P.* FROM @TDATA P  
					           INNER JOIN POLICY T WITH (NOLOCK) ON P.ID =T.ID 
							   WHERE T.IESTATUS <> dbo.UFN_GET_ISTATUS('CREATE'))
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: POLIZA ACTIVA.', 16, 1);
						RETURN;
					END


			          
												------------------- DUPLICIDAD DE FACTURA-------------------------
					IF EXISTS (SELECT * FROM @TDATA WHERE ID = 0 OR ID = (SELECT TOP 1 ID FROM POLICY (NOLOCK) WHERE IESTATUS = 2))
						BEGIN
							-- Validar si existe otro vehículo registrado con el mismo IDDEALER y la misma factura
							DECLARE @INVOICE VARCHAR(50);
							DECLARE @PolicyID INT

							SELECT TOP 1
								@PolicyID = P.ID,
								@INVOICE = T.VINVOICENUMBER
							FROM POLICY P
							INNER JOIN VEHICLE V ON P.IDVEHICLE = V.ID
							INNER JOIN @TDATA T ON T.VINVOICENUMBER = P.VINVOICENUMBER
							WHERE V.IDDEALER = (SELECT IDDEALER FROM VEHICLE WHERE ID = T.IDVEHICLE)
							AND P.VINVOICENUMBER = T.VINVOICENUMBER
							AND P.IDVEHICLE != T.IDVEHICLE;
    
							IF @PolicyID IS NOT NULL
							BEGIN
								-- Ejecutar la sentencia
								RAISERROR('ACCION NO PERMITIDA: FACTURA: %s PERTENECE A POLIZA REGISTRADA.', 16, 1, @INVOICE);
								RETURN;
							END
						END
							


		-- VALIDAR QUE EL VIN NO ESTE EN OTRA POLIZA ACTIVA.
				IF EXISTS (SELECT * FROM POLICY WITH (NOLOCK) WHERE IDVEHICLE = (SELECT IDVEHICLE FROM @TDATA)AND ID != (select ID FROM @TDATA))
		BEGIN
			 DECLARE @VIN VARCHAR(50);

			SELECT TOP 1
				@PolicyID = P.ID,
				@VIN = V.VVIN
			FROM POLICY P WITH (NOLOCK)
			INNER JOIN VEHICLE V ON P.IDVEHICLE = V.ID
			WHERE P.IDVEHICLE = (SELECT IDVEHICLE FROM @TDATA);

			RAISERROR('ACCION NO PERMITIDA: VIN: %s PERTENECE A POLIZA REGISTRADA.', 16, 1, @VIN);
			RETURN;
		END

		DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT


		-- REGISTRO NUEVO
		IF EXISTS (SELECT * FROM @TDATA WHERE ID=0)
		BEGIN	
		SET @VACTION='CREATE'
			EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
       	-- Actualización de datos
       	INSERT INTO POLICY
		(VNUMBER,IDPOLICYTYPE, IDVEHICLE, 
		VINVOICENUMBER, NINVOICEAMOUNT, DINVOICEDATE, 
		IDPAYMETHOD,IESTATUS,BACTIVE,VUPDATEDBY, DCREATED, DUPDATED)
       	SELECT '' AS VNUMBER,M.IDPOLICYTYPE, D.IDVEHICLE, 
		D.VINVOICENUMBER, D.NINVOICEAMOUNT, D.DINVOICEDATE, D.IDPAYMETHOD,2,1,DBO.UFN_GET_LOGIN(@IDUSER), GETDATE(), GETDATE()
       	FROM @TDATA D
        INNER JOIN VEHICLE V ON D.IDVEHICLE = V.ID
       	INNER JOIN MODEL M ON V.IDMODEL = M.ID
       	WHERE NOT EXISTS (SELECT * FROM POLICY P WHERE P.ID = D.ID);
        

		---------INSERCION DE CODIGO DE POLIZA-----------
            DECLARE @POLIZA VARCHAR(16)=(
   			SELECT TOP 1 P.VREFERENCE 
   			FROM CONTACT P (NOLOCK)
   			INNER JOIN VEHICLE V ON P.ID = V.IDDEALER
            INNER JOIN @TDATA T ON V.ID= T.IDVEHICLE
   			WHERE P.ID = V.IDDEALER ) + (SELECT RIGHT('000000' + CAST(SCOPE_IDENTITY() AS VARCHAR(10)), 6));
        UPDATE POLICY
		SET VNUMBER = @POLIZA
        WHERE ID = SCOPE_IDENTITY()

------------------------------------------------------------------------------

		SELECT @IINSERTED=@@ROWCOUNT
		SELECT @IID=SCOPE_IDENTITY()
      
		END
		ELSE
		BEGIN
		SET @VACTION='EDIT'
			EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
			
       		UPDATE POLICY
       		SET IDPOLICYTYPE = M.IDPOLICYTYPE,
           		IDVEHICLE = D.IDVEHICLE,
           		VINVOICENUMBER = D.VINVOICENUMBER,
           		NINVOICEAMOUNT = D.NINVOICEAMOUNT,
           		DINVOICEDATE = D.DINVOICEDATE,
           		IDPAYMETHOD = D.IDPAYMETHOD,
				BACTIVE= D.BACTIVE,
           		VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
           		DUPDATED = GETDATE()
       		FROM POLICY P
       		INNER JOIN @TDATA D ON D.ID = P.ID
            INNER JOIN VEHICLE V ON D.IDVEHICLE = V.ID
       	    INNER JOIN MODEL M ON V.IDMODEL = M.ID
            SELECT @IUPDATED=@@ROWCOUNT
		END

		------REGISTRO DE CLIENTE EN VEHICULO-------
		  UPDATE A 
	    SET A.IDCUSTOMER=B.IDCUSTOMER,
		    A.IESTATUS = DBO.UFN_GET_ISTATUS('BINVOICE'),
			A.ILASTKM=0
		FROM VEHICLE A (NOLOCK)
		INNER JOIN @TDATA B ON B.IDVEHICLE=A.ID  	


		SELECT
		ISNULL(@IID,0) AS IID , 
		ISNULL(@IINSERTED,0) AS IINSERTED,
		ISNULL(@IUPDATED,0) AS IUPDATED

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END