GO
/****** Object:  StoredProcedure [dbo].[USP_GET_REPORTS_REP008]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_REPORTS_REP008]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_REPORTS_REP008] AS BEGIN SET NOCOUNT ON  END')
GO


ALTER PROCEDURE [dbo].[USP_GET_REPORTS_REP008] -- EXEC USP_GET_REPORTS_REP008 
@IDUSER INT, 
@IDDEALER INT = NULL,
@IDSUPPLIER INT = NULL,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL,
@IESTATUS INT =NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END


	BEGIN
			WITH O AS (
			SELECT 
				D.IDSUPPLIER,
				D.SRG,
				SUM(D.NBASEAMOUNT) AS TOTAL_BASE,
				SUM(D.NPAIDAMOUNT) AS TOTAL_PAGADO,
				COUNT(*) AS CANTIDAD_ITEMS,
				-- Mantenemos tus funciones de estatus originales
				CASE 
					WHEN SUM(CASE WHEN D.IESTATUS = DBO.UFN_GET_ISTATUS('PROCESS') THEN 1 ELSE 0 END) > 0 
						THEN 'APROBADO'
					WHEN SUM(CASE WHEN D.IESTATUS = DBO.UFN_GET_ISTATUS('DECLINE') THEN 1 ELSE 0 END) = COUNT(*) 
						THEN 'RECHAZADO'
					ELSE 'POR APROBAR'
				END AS VESTADO_GRUPAL,
				CASE 
					WHEN SUM(CASE WHEN D.IESTATUS = DBO.UFN_GET_ISTATUS('PROCESS') THEN 1 ELSE 0 END) > 0 
						THEN 17
					WHEN SUM(CASE WHEN D.IESTATUS = DBO.UFN_GET_ISTATUS('DECLINE') THEN 1 ELSE 0 END) = COUNT(*) 
						THEN 19
					ELSE 16
				END AS IESTATUS,
				-- Agrupamos las fechas y datos informativos (la más alta/reciente)
				MAX(D.DCREATED) AS DCREATED,
				MAX(D.DDATEDMS) AS DDATEDMS,
				MAX(D.DDATEPREAPPROVAL) AS DDATEPREAPPROVAL,
				MAX(D.DDATEFINALAPPROVAL) AS DDATEFINALAPPROVAL,
				D.VDMS,
				D.VPREAPPROVAL
			FROM DMS D
			WHERE D.IDSUPPLIER = @IDSUPPLIER
				--AND D.DCREATED BETWEEN ISNULL(@DFROMDATE, D.DCREATED) AND ISNULL(@DUPTODATE, D.DCREATED)
			GROUP BY D.IDSUPPLIER, D.SRG , D.VDMS,D.VPREAPPROVAL
		),

		R AS (
                -- 2. SUBCONSULTAS EN CASO DE SER NECESARIOS
            SELECT M.ID AS IDMODEL, M.VNAME,V.ID,V.VVIN,V.IDCUSTOMER
            FROM MODEL M WITH (NOLOCK)
			INNER JOIN VEHICLE V WITH (NOLOCK) ON M.ID=V.IDMODEL
            GROUP BY V.ID ,M.VNAME,V.VVIN,V.IDCUSTOMER,M.ID
        ),
		T1 AS (
			SELECT 
				O.SRG,
				O.TOTAL_BASE,
				O.VDMS,
				O.DDATEDMS,
				O.VPREAPPROVAL,
				O.DDATEPREAPPROVAL,
				O.TOTAL_PAGADO,
				O.DDATEFINALAPPROVAL,
				O.VESTADO_GRUPAL,
				MAX(C.VFIRSTNAME + ' ' + ISNULL(C.VLASTNAME,'')) AS VCUSTOMER,
				VD.DEALER,
				R.VNAME AS VMODEL,
				VD.VVATINVOICE AS VATDEALER,
				R.VVIN,
				M.ID AS IDMAINTENANCE,
				M.DCREATED,
				M.VTECHNICALSOLUTION
			FROM O
			INNER JOIN MAINTENANCE M WITH (NOLOCK) ON O.SRG = M.VSRGNUMBER 
			INNER JOIN V_DEALERS VD WITH (NOLOCK) ON M.IDDEALER=VD.IDDEALER
			INNER JOIN R ON M.IDVEHICLE=R.ID
			LEFT JOIN CONTACT C WITH (NOLOCK) ON R.IDCUSTOMER = C.ID
			LEFT JOIN DMS D ON O.SRG = D.SRG
			LEFT JOIN PART P WITH (NOLOCK) ON D.VCODITEM = P.VINNERCODE 
			LEFT JOIN LABORTIME L WITH (NOLOCK) ON D.VCODITEM = L.VREFERENCE AND P.VINNERCODE IS NULL AND L.IDMODEL = R.IDMODEL
			WHERE 
				(O.SRG LIKE '%' + ISNULL(@VFILTER, '') + '%' 
				 OR O.VDMS LIKE '%' + ISNULL(@VFILTER, '') + '%'
				 OR O.VPREAPPROVAL LIKE '%' + ISNULL(@VFILTER, '') + '%') -- Paréntesis cierran aquí
				 AND (O.IESTATUS = CASE WHEN @IESTATUS IS NULL THEN O.IESTATUS ELSE @IESTATUS END)

						GROUP BY 
				O.SRG, O.TOTAL_BASE, O.VDMS, O.DDATEDMS, O.VPREAPPROVAL, 
				O.DDATEPREAPPROVAL, O.TOTAL_PAGADO, O.DDATEFINALAPPROVAL, 
				M.DCREATED, O.VESTADO_GRUPAL, O.IDSUPPLIER,VD.DEALER,R.VNAME,
				VD.VVATINVOICE,R.VVIN,M.ID,M.VTECHNICALSOLUTION
		),
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
		T3 AS (
		SELECT 
		T1.SRG AS [NRO SRG],
		T1.IDMAINTENANCE AS [NUM RPF],
		T1.VVIN AS [VIN],
		T1.VMODEL AS [MODVEH],
		T1.VCUSTOMER AS [CLIENTE],
		T1.DEALER AS [CONCESIONARIO],
		T1.VATDEALER AS [RIF CONCESIONARIO],
		T1.TOTAL_BASE AS [MONTO BASE],
		T1.VTECHNICALSOLUTION AS [DES. REPARACION],
		T1.VDMS AS [CODIGO DMS],
		CONVERT(VARCHAR(10),T1.DDATEDMS,120) AS [FECHA CARGA DMS],
		T1.VPREAPPROVAL AS [CODIGO PRE-APROBACION],
		CONVERT(VARCHAR(10),T1.DDATEPREAPPROVAL,120) AS [FECHA CARGA PA],
		T1.TOTAL_PAGADO AS [MONTO PAGADO],
		CONVERT(VARCHAR(10),T1.DDATEFINALAPPROVAL,120) AS [FECHA APROBACION],
		T1.VESTADO_GRUPAL [ESTATUS ACTUAL]
		FROM T1
		ORDER BY T1.DCREATED DESC , T1.SRG DESC
		OFFSET @IROWFROM ROWS
		FETCH NEXT @TOPE ROWS ONLY
        
		)
		SELECT T3.*, T2.TOTAL FROM T3, T2;

	END 

