USE OASIS
GO
/****** Object:  StoredProcedure [dbo].[USP_DELETE_CLAIMDETAILS]    Script Date: 2/5/2026 9:34:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_DELETE_CLAIMDETAILS] --USP_DELETE_ADJUSTMENTDETAIL 4,5073
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

    BEGIN TRY
        BEGIN TRAN 
	
		
			DECLARE @IID INT
			DECLARE @IINSERTED INT
			DECLARE @IUPDATED INT

				DECLARE @TDATA AS TABLE
				(
					IDUSER INT,
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(200),
					IDRELATED INT
				);


				
				INSERT INTO @TDATA
				SELECT UserId ,RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						UserId int,RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS A

      -- VALIDAR QUE EL RECLAMO ESTÉ EN BORRADOR (CREATE)
			--IF NOT EXISTS (
			--	SELECT 1 FROM CLAIM 
			--	WHERE ID = @CURRENT_CLAIM_ID 
			--	AND IDSTATUS = dbo.UFN_GET_ISTATUS('CREATE')
			--)
			--BEGIN
			--	RAISERROR('Solo se pueden agregar/editar items cuando el reclamo está en estado BORRADOR.', 16, 1)
			--	RETURN
			--END


			-- SELECT * FROM MODULE		  
			DECLARE @VACTION VARCHAR(20)
			DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECLAMOS')
			SET @VACTION='EDIT'
		--	EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

			DELETE A 
			FROM CLAIMDETAIL A
			INNER JOIN @TDATA D ON D.IDRECORD=A.ID
			WHERE EXISTS (SELECT * FROM CLAIM B WITH (NOLOCK)
						WHERE B.ID=A.IDCLAIM
						AND B.IDSTATUS=DBO.UFN_GET_ISTATUS('CREATE')
						)
						 
						 
			SELECT @IID=SCOPE_IDENTITY()
			SELECT @IUPDATED=@@ROWCOUNT
			
      
			SELECT
			ISNULL(@IID,0) AS IID , 
			ISNULL(@IINSERTED,0) AS IINSERTED,
			ISNULL(@IUPDATED,0) AS IUPDATED

            COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
