GO
/****** Object:  StoredProcedure [dbo].[USP_POST_MOVEMENTDETAILS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_MOVEMENTDETAILS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_MOVEMENTDETAILS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_POST_MOVEMENTDETAILS]  
 @DATA VARCHAR(MAX),
 @IDUSER INT,
 @BIMPORT BIT = 0
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY


				DECLARE @TDATA AS TABLE
				(
					ID INT,
					IDMOVEMENT INT,
					IDPART INT,
					IDLOCATION INT,
					IDDESTINATION INT,
					IREQUIRED INT,
					VSERIAL VARCHAR(20),
					VLOCATIONNAME VARCHAR(20),
					VDESTINATIONNAME VARCHAR(20),
					VINNERCODE VARCHAR(25),
					VROWREFERENCE VARCHAR(5),
					NCOST NUMERIC(18,2),
					VDESCRIPTION VARCHAR(250)
				);

				INSERT INTO @TDATA
				SELECT M.Id,M.MovementId,M.PartId,M.LocationId, M.DestinationId,M.RequiredQty,null,M.LocationName,
				M.DestinationName,
				M.InnerCode,M.RowReference,M.Cost,M.PartName
				FROM OPENJSON(@DATA)
				WITH (
					Id int, MovementId int, PartId int, LocationId int, DestinationId int, 
					RequiredQty int,LocationName varchar(20),DestinationName varchar(20),
					InnerCode varchar(25),RowReference Varchar(5),Cost numeric(18,2),PartName varchar(250)
					   ) AS M

				DECLARE @IDMODULE INT;
		 

				SELECT TOP 1 @IDMODULE = 
				CASE 
				WHEN M.VTYPE = 'R' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECEPCION')
				WHEN M.VTYPE = 'T' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-TRASLADO') 
				WHEN M.VTYPE = 'P' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECOLECCION')
				ELSE 8
				END
				FROM @TDATA C 
				INNER JOIN MOVEMENT M WITH (NOLOCK) ON C.IDMOVEMENT=M.ID ;

				DECLARE @VACTION VARCHAR(20)
				SET @VACTION='EDIT'
			    EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE


				DECLARE @IDSUPPLIER INT
				DECLARE @IDMOVEMENT INT
				DECLARE @VTYPE VARCHAR(1)
				DECLARE @VROWREF VARCHAR(5)=Null
				DECLARE @ErrorMessage NVARCHAR(4000) 

				SELECT TOP 1 @IDMOVEMENT = IDMOVEMENT, @VROWREF=VROWREFERENCE FROM @TDATA
				SELECT TOP 1 @IDSUPPLIER = IDSUPPLIER,@VTYPE=VTYPE FROM MOVEMENT WITH (NOLOCK) WHERE ID=@IDMOVEMENT


				IF @BIMPORT = 1
				BEGIN
			
					IF EXISTS (SELECT * FROM @TDATA D
								WHERE NOT EXISTS (SELECT * FROM PART P WITH (NOLOCK) 
												  WHERE P.VINNERCODE=D.VINNERCODE AND P.IDSUPPLIER=@IDSUPPLIER)) AND @VTYPE='R'
					BEGIN

					DECLARE @IDMODULE2 INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-REPUESTOS')

					EXEC USP_CHECK_CREDENTIALS @IDUSER,'CREATE',@IDMODULE2

					DECLARE @IDBRAND INT
					SELECT TOP 1 @IDBRAND = IDBRAND FROM V_SUPPLIERS WHERE IDSUPPLIER=@IDSUPPLIER

					INSERT INTO PART
					(VINNERCODE,VMASTERCODE,VALTERCODE,VREPLACEMENTCODE,VBARCODE,VDESCRIPTION,IDTYPE,IDFAMILY,IDSUBFAMILY,
					NPRICE,NCOST,NDISCOUNT,NWEIGHT,VSIZE,IMINSALE,IPACKING,BSELL,BPURCHASE,BWARRANTY,BLICENSE,BORIGINAL,BSERIALIZABLE,
					IDSUPPLIER,IDBRAND,IDMODEL,IDUM,IDTAX,VRATING,BACTIVE,DCREATED,DUPDATED,VUPDATEDBY,VALTERDESCRIPTION)
					SELECT	
					VINNERCODE,'' VMASTERCODE,'' VALTERCODE,'' VREPLACEMENTCODE,VINNERCODE AS VBARCODE,VDESCRIPTION,1 IDTYPE,1 IDFAMILY,1 IDSUBFAMILY,
					(NCOST/0.7 ) as NPRICE,NCOST,0 NDISCOUNT,1 NWEIGHT,'P' VSIZE,1 IMINSALE,1 IPACKING,1 BSELL,1 BPURCHASE,1 BWARRANTY,0 BLICENSE,0 BORIGINAL,0 BSERIALIZABLE,
					@IDSUPPLIER,@IDBRAND IDBRAND,0 IDMODEL,1 IDUM,2 IDTAX,'D' VRATING,1 BACTIVE,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER),
					VDESCRIPTION
					FROM @TDATA D
					WHERE NOT EXISTS (SELECT * FROM PART P WITH (NOLOCK) 
					WHERE P.VINNERCODE=D.VINNERCODE AND P.IDSUPPLIER=@IDSUPPLIER)

					END

					-- Actualizar IDLOCATION
					UPDATE A
						SET A.IDLOCATION = ISNULL(V.ID, 0)
						FROM @TDATA A
						INNER JOIN V_LOCATION V ON UPPER(A.VLOCATIONNAME) = UPPER(V.VNAME)
						WHERE V.IDSUPPLIER = @IDSUPPLIER 

					UPDATE A
						SET A.IDDESTINATION = ISNULL(V.ID, 0)
						FROM @TDATA A
						INNER JOIN V_LOCATION V ON UPPER(A.VDESTINATIONNAME) = UPPER(V.VNAME)
						WHERE V.IDSUPPLIER = @IDSUPPLIER 

					 
					UPDATE A
						SET A.IDPART = ISNULL(B.ID, 0)
						FROM @TDATA A 
						INNER JOIN PART B WITH (NOLOCK) ON B.VINNERCODE = A.VINNERCODE
						WHERE B.IDSUPPLIER = @IDSUPPLIER

					DECLARE @VPART VARCHAR(30)
					DECLARE @VORIGEN VARCHAR(10)
					DECLARE @VDESTINO VARCHAR(10)
					
					SELECT TOP 1 @VPART=VINNERCODE
					FROM @TDATA 
					WHERE ISNULL(IDPART,0)=0

					IF ISNULL(@VPART,'')<>''
					BEGIN
						SET @ErrorMessage = 'REPUESTO INVALIDO: '+@VPART
						RAISERROR(@ErrorMessage, 16, 1)
						RETURN
					END

					SELECT TOP 1 @VORIGEN=VLOCATIONNAME
					FROM @TDATA 
					WHERE ISNULL(IDLOCATION,0)=0

					IF ISNULL(@VORIGEN,'')<>''
					BEGIN
						SET @ErrorMessage = 'UBICACION ORIGEN INVALIDO: '+@VORIGEN
						RAISERROR(@ErrorMessage, 16, 1)
						RETURN
					END

					IF @VTYPE='R'
					BEGIN
						SELECT TOP 1 @VORIGEN=VLOCATIONNAME
						FROM @TDATA T
						WHERE ISNULL(IDLOCATION,0)>0
						AND NOT EXISTS (SELECT * FROM V_LOCATION WHERE VNAME=T.VLOCATIONNAME AND VTYPE='R')

						IF ISNULL(@VORIGEN,'')<>''
						BEGIN
							SET @ErrorMessage = 'UBICACION ORIGEN INVALIDO: '+@VORIGEN
							RAISERROR(@ErrorMessage, 16, 1)
							RETURN
						END
					END

					IF @VTYPE='T'
					BEGIN
						SELECT TOP 1 @VORIGEN=VLOCATIONNAME
						FROM @TDATA T
						WHERE ISNULL(IDLOCATION,0)>0
						AND NOT EXISTS (SELECT * FROM V_LOCATION WHERE VNAME=T.VLOCATIONNAME AND VTYPE='A')

						IF ISNULL(@VORIGEN,'')<>''
						BEGIN
							SET @ErrorMessage = 'UBICACION ORIGEN INVALIDO: '+@VORIGEN
							RAISERROR(@ErrorMessage, 16, 1)
							RETURN
						END
					END


					SELECT TOP 1 @VDESTINO=VDESTINATIONNAME
					FROM @TDATA T
					WHERE ISNULL(IDDESTINATION,0)>0
					AND NOT EXISTS (SELECT * FROM V_LOCATION WHERE VNAME=T.VDESTINATIONNAME AND VTYPE='A')

					IF ISNULL(@VDESTINO,'')<>''
					BEGIN
						SET @ErrorMessage = 'UBICACION DESTINO INVALIDO: '+@VDESTINO
						RAISERROR(@ErrorMessage, 16, 1)
						RETURN
					END

					IF EXISTS(SELECT * FROM @TDATA WHERE ISNULL(NCOST,0)=0 )
					BEGIN
						SET @ErrorMessage = 'COSTO INVALIDO'
						RAISERROR(@ErrorMessage, 16, 1)
						RETURN
					END

					-- Eliminar detalles del movimiento
					DELETE FROM MOVEMENTDETAILS
					WHERE IDMOVEMENT = @IDMOVEMENT

				END





				IF @ErrorMessage IS NULL
				BEGIN
					IF EXISTS ( 
					SELECT * FROM @TDATA T WHERE
					IREQUIRED IS NULL OR IREQUIRED=0 
					)					
						BEGIN
							SET @ErrorMessage = 'ACCION NO PERMITIDA: CANTIDAD VACIA O IGUAL A CERO'
						END
				END

				IF @ErrorMessage IS NULL AND @VTYPE = 'T' 
				BEGIN
					IF EXISTS ( 
					SELECT * FROM @TDATA T
					INNER JOIN INVENTORY  I WITH (NOLOCK) ON T.IDLOCATION=I.IDLOCATION AND T.IDPART=I.IDPART
						WHERE I.ISTOCK<T.IREQUIRED
					)					
						BEGIN
							SET @ErrorMessage = 'ACCION NO PERMITIDA: LA CANTIDAD SE EXCEDE LA EXISTENCIA EN LA UBICACION DE ORIGEN'
						END
				END


				--SELECT * FROM @TDATA
				--RETURN

				BEGIN TRAN 

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				INSERT INTO MOVEMENTDETAILS
				(IDMOVEMENT,IDPART,IDLOCATION,IDDESTINATION,VTYPE,IREQUIRED,IREAL,BPROCESSED,
				DCREATED,DUPDATED,VUPDATEDBY,VSERIAL,VLOCATIONTYPE,NCOST )
				SELECT IDMOVEMENT,IDPART,IDLOCATION,IDDESTINATION,'P',IREQUIRED,NULL,0,
				GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER),D.VSERIAL,
				CASE WHEN @VTYPE='R' THEN 'R' ELSE 'A' END,
				P.NCOST
				FROM @TDATA D
				INNER JOIN PART P WITH (NOLOCK) ON P.ID=D.IDPART
				WHERE NOT EXISTS (SELECT * FROM MOVEMENTDETAILS M WITH (NOLOCK) WHERE M.ID=D.ID)

				SELECT @IINSERTED=@@ROWCOUNT
				SELECT @IID=SCOPE_IDENTITY()
				
				UPDATE M
					SET 
					M.IDMOVEMENT = D.IDMOVEMENT,
					M.IDPART=D.IDPART,
					M.IDLOCATION=D.IDLOCATION,
					M.IDDESTINATION=D.IDDESTINATION,
					M.IREQUIRED=D.IREQUIRED,
					M.DUPDATED = GETDATE(),
					M.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
					M.VSERIAL = D.VSERIAL,
					M.NCOST=P.NCOST
				FROM MOVEMENTDETAILS M
				INNER JOIN @TDATA D ON D.ID=M.ID 
				INNER JOIN PART P WITH (NOLOCK) ON P.ID=D.IDPART

				SELECT @IUPDATED=@@ROWCOUNT

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN

		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
