USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_MOVEMENTDETAIL_ACTIONS]    Script Date: 1/5/2026 10:52:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_MOVEMENTDETAIL_ACTIONS]
 @DATA VARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY


		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(200),
					IDRELATED INT
				);


				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS C
			

				DECLARE @REGISTROS AS TABLE (ID INT,IDUSER INT,IDMOVEMENT INT)
				DECLARE @IDACTION INT
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @IDMODULE INT

				SELECT TOP 1 @VACTION=VACTION,@IDMODULE=IDMODULE FROM @TDATA

				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

				--select * from @TDATA
				--return
			  
		BEGIN TRAN 


				IF @VACTION='ASSIGN'
				BEGIN

					INSERT INTO @REGISTROS
					SELECT C.ID,D.IDRELATED,C.IDMOVEMENT
					FROM MOVEMENTDETAILS C
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
					WHERE C.BPROCESSED=0 AND ISNULL(C.IDUSER,0)=0

					IF EXISTS (SELECT * FROM @REGISTROS) 
					BEGIN

						UPDATE M
							SET M.IDUSER =  R.IDUSER
						FROM MOVEMENTDETAILS M
						INNER JOIN @REGISTROS R ON R.ID=M.ID

						SELECT @IUPDATED=@@ROWCOUNT

					END
			

				END

				IF @VACTION='UNASSIGN'
				BEGIN

					INSERT INTO @REGISTROS
					SELECT C.ID,D.IDRELATED,C.IDMOVEMENT
					FROM MOVEMENTDETAILS C
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
					WHERE C.BPROCESSED=0 AND ISNULL(C.IDUSER,0)>0

					IF EXISTS (SELECT * FROM @REGISTROS) 
					BEGIN

						UPDATE M
							SET M.IDUSER =  NULL
						FROM MOVEMENTDETAILS M
						INNER JOIN @REGISTROS R ON R.ID=M.ID

						SELECT @IUPDATED=@@ROWCOUNT
					END
				
				END

				IF @VACTION='PRIORITIZE'
				BEGIN

			
					INSERT INTO @REGISTROS
					SELECT C.ID,D.IDRELATED,C.IDMOVEMENT
					FROM MOVEMENTDETAILS C
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
					WHERE C.BPROCESSED=0

					IF EXISTS (SELECT * FROM @REGISTROS) 
					BEGIN

						UPDATE M
							SET M.IPRIORITY =  M.IPRIORITY+1
						FROM MOVEMENTDETAILS M
						INNER JOIN @REGISTROS R ON R.ID=M.ID

						SELECT @IUPDATED=@@ROWCOUNT
					END

				
				END


				IF @VACTION='DECLINE'
				BEGIN

					-- VALIDAR QUE SEAN DEL MISMO CONCESIONARIO O MISMO MOVIMIENTO

					INSERT INTO @REGISTROS
					SELECT C.ID,D.IDRELATED,C.IDMOVEMENT
					FROM MOVEMENTDETAILS C
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
					 
					IF EXISTS (SELECT * FROM @REGISTROS) 
					BEGIN

						UPDATE M
							SET M.IDUSER =  @IDUSER,M.IDSTATUS=19
						FROM MOVEMENTDETAILS M
						INNER JOIN @REGISTROS R ON R.ID=M.ID

						-- FALTA REPONER EL BACKORDER Y REGRESAR LA MERCANCIA POR TRASLADO


						SELECT @IUPDATED=@@ROWCOUNT
					END
				
				END


				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END




