GO
/****** Object:  StoredProcedure [dbo].[USP_CHECK_WAREHOUSES]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_CHECK_WAREHOUSES]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_CHECK_WAREHOUSES] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_CHECK_WAREHOUSES]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : MENSAJES DE ERROR EXCEL
  '   MODIFICADO POR        :  JUAN GUARECUCO
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000



			DECLARE @TDATA AS TABLE
			(
				IDWAREHOUSE INT,
				VROWREFERENCE VARCHAR(5)
			);

			INSERT INTO @TDATA
			SELECT L.WarehouseId,L.RowReference FROM OPENJSON(@DATA)
			WITH (
					WarehouseId int,
					RowReference VARCHAR(5)
					) AS L
			
			--VALIDACIONES


			DECLARE @IDPLANTA INT
			DECLARE @VPLANTA VARCHAR(100)
			DECLARE @MENSAJE  VARCHAR(100)=NULL
			DECLARE @IDWAREHOUSE INT
			DECLARE @VROWREF VARCHAR(5)=Null

			UPDATE @TDATA SET IDWAREHOUSE = 0 WHERE IDWAREHOUSE IS NULL
			SELECT @IDWAREHOUSE=-1

			IF @MENSAJE IS NULL
			BEGIN
				SELECT TOP 1 @IDWAREHOUSE=IDWAREHOUSE , @VROWREF=VROWREFERENCE
				FROM @TDATA T
				WHERE NOT EXISTS (SELECT * FROM WAREHOUSE W WITH (NOLOCK) WHERE W.ID=T.IDWAREHOUSE)

				IF @IDWAREHOUSE >=0
				BEGIN
					SET @MENSAJE = 'ACCION NO PERMITIDA: ALMACEN INVALIDO O DE OTRA PLANTA'
				END
			END

			IF @MENSAJE IS NULL
			BEGIN
				SELECT TOP 1 @IDPLANTA=W.IDSUPPLIER,@VROWREF=VROWREFERENCE
				FROM @TDATA T
				INNER JOIN WAREHOUSE W WITH (NOLOCK) ON W.ID=T.IDWAREHOUSE
				WHERE NOT EXISTS
				(SELECT * FROM V_SUPPLIERS_USER R 
				WHERE  R.IDUSER = @IDUSER AND R.IDSUPPLIER = W.IDSUPPLIER)

				IF @IDPLANTA > 0
				BEGIN
					SELECT @VPLANTA=VSUPPLIER FROM V_SUPPLIERS WHERE IDSUPPLIER=@IDPLANTA
					SET @MENSAJE = 'EL USUARIO NO TIENE ACCESO A LA PLANTA: '+@VPLANTA
				END
			END
			--FIN VALIDACIONES


		   --------------------------ENVIO DE MSJ---------------------------------------------------------------------------
			IF @MENSAJE IS NOT NULL
				BEGIN
					IF @VROWREF IS NOT NULL AND LTRIM(RTRIM(@VROWREF)) <> ''
						SET @MENSAJE= @MENSAJE + ' -FILA: ' + @VROWREF

					RAISERROR(@MENSAJE, 16, 1)
					RETURN
				END