USE OASIS
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_CLAIMDETAILS]    Script Date: 2/5/2026 9:36:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_CLAIMDETAILS] 
@IDCLAIM INT

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN  
	SELECT CD.* ,  
	 P.VDESCRIPTION AS VPART,
	 P.VINNERCODE AS PARTCODE,
	 P.NPRICE AS PRICE,
	 P.NCOST AS COST,
	 PR.VINNERCODE AS REPLACEMENTCODE,
	 PR.VDESCRIPTION AS VREPLACEMENT, 
	 PR.NPRICE AS REPLACEMENTPRICE,
	 PR.NCOST AS  REPLACEMENTCOST,
	 R.VDESCRIPTION,
	 A.VDISPLAYESTATUS
    FROM CLAIMDETAIL CD WITH (NOLOCK)   
		INNER JOIN PART P WITH (NOLOCK) ON P.ID=CD.IDPART  
		LEFT JOIN PART PR WITH (NOLOCK) ON PR.ID=CD.IDREPLACEMENT_PART  
		INNER JOIN CLAIMREASON R WITH (NOLOCK) ON R.ID=CD.IDREASON   
		INNER JOIN ACTION A WITH (NOLOCK) ON A.ID=CD.IDSTATUS  
	WHERE
	CD.IDCLAIM = @IDCLAIM

END
 