GO
/****** Object:  StoredProcedure [dbo].[USP_POST_DMS_ACTIONS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_DMS_ACTIONS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_DMS_ACTIONS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_POST_DMS_ACTIONS]
 @DATA NVARCHAR(MAX),
 @IDUSER INT 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           :  
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(200),
					IDRELATED INT
				);

				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS A


				DECLARE @VACTION VARCHAR(20)
				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @VRECORD VARCHAR(20) 
				DECLARE @VACTIONRECORD VARCHAR(20)
				DECLARE @ErrorMessage NVARCHAR(4000) 
				DECLARE @IDMODULE INT 

				

				IF EXISTS (SELECT T.* FROM  @TDATA T
				INNER JOIN POLICY P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
				WHERE (T.VACTION= 'DECLINE' AND A.VNAME NOT IN ('APPROVE','VALIDATE'))OR
				      (T.VACTION= 'PROCESS' AND A.VNAME NOT IN('APPROVE','VALIDATE')))
				
				BEGIN

				SELECT TOP 1 @VRECORD=P.VNUMBER, @VACTION=T.VACTION, @VACTIONRECORD=A.VNAME FROM @TDATA T
				INNER JOIN POLICY P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
				WHERE (T.VACTION= 'DECLINE' AND A.VNAME NOT IN ('APPROVE','VALIDATE'))OR
				      (T.VACTION= 'PROCESS' AND A.VNAME NOT IN('APPROVE','VALIDATE'))
				      
				   SET @ErrorMessage ='ACCION NO PERMITIDA: '+@VRECORD
				   RAISERROR ( @ErrorMessage , 16,1) 
				   RETURN
				END

				   
                SELECT TOP 1 @VRECORD=P.SRG, @VACTION=T.VACTION, @VACTIONRECORD=A.VNAME, @IDMODULE=T.IDMODULE FROM @TDATA T
				INNER JOIN DMS P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID

				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

				   
				-- BLOQUEAR
				IF @VACTION='DECLINE' 
				BEGIN 

				    UPDATE P
				        SET P.IESTATUS = DBO.UFN_GET_ISTATUS('DECLINE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM DMS P 
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS IN ( DBO.UFN_GET_ISTATUS('VALIDATE'),DBO.UFN_GET_ISTATUS('APPROVE'))

					SELECT @IUPDATED=@@ROWCOUNT

				END

				-- ACTIVAR
				IF @VACTION='PROCESS'
				BEGIN
					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('PROCESS'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
							P.BCOMPLETED=0
					FROM DMS P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('PROCESS') AND P.BCOMPLETED=0
					
					SELECT @IUPDATED=@@ROWCOUNT

					IF @IUPDATED >=1 
						BEGIN
							EXEC USP_INSERT_POLICY_DETAILS @IDUSER
						END 
				END

				
					
				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				IF @IUPDATED>0
				BEGIN
				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA
				END 
	
				


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END

