GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATE_POLICYDETAILS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_UPDATE_POLICYDETAILS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_UPDATE_POLICYDETAILS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_UPDATE_POLICYDETAILS]-- USP_UPDATE_POLICYDETAILS 1, 49791,'2025-11-22 00:00:00.000'
    @IDUSER INT,
    @IDPOLICYDETAILS INT,
    @CURRENTDATE DATETIME
AS


/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/


BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @IDPOLICY INT,
        @IMONTHS INT,
        @IGAPMONTHS INT,
        @ITOPMONTHS INT,
        @DEXPIRATIONDATE DATETIME,
        @IDMAINTENANCE INT;

    -- Obtener el IDPOLICY desde el detalle inicial
    SELECT @IDPOLICY = IDPOLICY
    FROM POLICYDETAILS (NOLOCK)
    WHERE ID = @IDPOLICYDETAILS;

    -- Buscar si hay mantenimientos pendientes posteriores
    SELECT TOP 1 @IDMAINTENANCE = IDMAINTENANCE 
    FROM POLICYDETAILS (NOLOCK)
    WHERE IDPOLICY = @IDPOLICY 
      AND IDMAINTENANCE IS NULL 
      AND ID > @IDPOLICYDETAILS;

    -- Obtener parámetros desde POLICYTYPE
    SELECT 
        @IMONTHS = PT.IMONTHS,
        @IGAPMONTHS = PT.IGAPMONTHS,
        @ITOPMONTHS = PT.ITOPMONTHS
    FROM POLICYTYPE PT (NOLOCK)
    INNER JOIN POLICY P (NOLOCK) ON P.IDPOLICYTYPE = PT.ID
    WHERE P.ID = @IDPOLICY;

    -- Fecha de expiración de la póliza
    SELECT @DEXPIRATIONDATE = DEXPIRATIONDATE
    FROM POLICY (NOLOCK)
    WHERE ID = @IDPOLICY;

    DECLARE 
        @Date DATETIME = @CURRENTDATE,
        @MonthCounter INT = 0;

    -- Cursor para recorrer TODOS los detalles posteriores
    DECLARE DetailCursor CURSOR FOR
    SELECT ID
    FROM POLICYDETAILS (NOLOCK)
    WHERE IDPOLICY = @IDPOLICY
      AND ID > @IDPOLICYDETAILS
    ORDER BY ID;

    DECLARE @IDDETAIL INT;

    OPEN DetailCursor;
    FETCH NEXT FROM DetailCursor INTO @IDDETAIL;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Incrementamos la fecha para el siguiente registro
        SET @Date = DATEADD(MONTH, @IMONTHS, @Date);

        -- LÓGICA DE ACTUALIZACIÓN
        -- Se actualiza con fecha SOLO SI:
        -- 1. No ha superado el tope de meses (@ITOPMONTHS)
        -- 2. No hay un mantenimiento bloqueante (@IDMAINTENANCE)
        -- 3. La fecha calculada es menor o igual a la expiración (@DEXPIRATIONDATE)
        IF @MonthCounter < @ITOPMONTHS AND @IDMAINTENANCE IS NULL AND @Date <= @DEXPIRATIONDATE
        BEGIN
            UPDATE POLICYDETAILS
            SET 
                DDATE = @Date,
                DFROMDATE = DATEADD(DAY, -@IGAPMONTHS, @Date),
                DUPTODATE = DATEADD(DAY, @IGAPMONTHS, @Date),
                VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
                DUPDATED = GETDATE()
            WHERE ID = @IDDETAIL;
        END
        ELSE
        BEGIN
            -- Si no cumple las condiciones, se limpian las fechas (ELSE solicitado)
            UPDATE POLICYDETAILS
            SET 
                DDATE = NULL,
                DFROMDATE = NULL,
                DUPTODATE = NULL,
                VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
                DUPDATED = GETDATE()
            WHERE ID = @IDDETAIL;
        END

        -- Importante: El contador debe avanzar siempre para evaluar el siguiente registro del cursor
        SET @MonthCounter += @IMONTHS;
        FETCH NEXT FROM DetailCursor INTO @IDDETAIL;
    END;

    CLOSE DetailCursor;
    DEALLOCATE DetailCursor;
END;
GO