GO
/****** Object:  StoredProcedure [dbo].[USP_GET_CLAIM_REASONS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_CLAIM_REASONS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_CLAIM_REASONS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_GET_CLAIM_REASONS]  

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	-- EL FRONT ESTA SOLICITANDO EL TIPO S , F

	SELECT ID,VDESCRIPTION as [DESC], CTYPE AS CCLAIM
	FROM CLAIMREASON R WITH (NOLOCK)
	
	--SELECT R.ID, R.VDESCRIPTION AS [DESC], R.CTYPE, R.BCLAIM,
	--CASE 
	--		WHEN R.CTYPE = 'S' THEN 'F'
	--		WHEN R.CTYPE = 'E' THEN 'S'   
	--END AS CCLAIM
	--FROM REASON R WITH (NOLOCK) 
	--WHERE R.BCLAIM = 1

END
