GO
/** Object:  StoredProcedure [dbo].[USP_GET_PARTS]    Script Date: 18/08/2025 8:46:26 **/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_PARTS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_PARTS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_GET_PARTS] -- [USP_GET_PARTS] 1,4069,0,''
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@ID INT = NULL,
@BSELL BIT = NULL,
@IDMODEL INT = 0

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END


	DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-REPUESTOS')
		SET @VACTION='GET'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
BEGIN
	WITH T1 as(
			SELECT 
			P.*,
			T.VNAME AS VTAX,
			PT.VNAME AS VPARTTYPE,
			F.VNAME AS VFAMILY,
			S.VNAME AS VSUBFAMILY,
			U.VNAME AS VUM,
			B.VNAME AS VBRAND,
			VS.VREFERENCE,  
			M.VNAME AS VMODEL,
			ISNULL(I.ISTOCK,0) ISTOCK,
			ISNULL(I.AVAILABLE,0) IAVAILABLE,
			ISNULL(P.VALTERDESCRIPTION,'') VALTERDESCRIPTION2
			FROM dbo.PART P WITH (NOLOCK)
			INNER JOIN TAX T WITH (NOLOCK) ON T.ID=P.IDTAX
			INNER JOIN PARTTYPE PT WITH (NOLOCK) ON PT.ID=P.IDTYPE
			INNER JOIN FAMILY F WITH (NOLOCK) ON F.ID=P.IDFAMILY
			INNER JOIN SUBFAMILY S WITH (NOLOCK) ON S.ID=P.IDSUBFAMILY
			INNER JOIN UM U WITH (NOLOCK) ON U.ID=P.IDUM
			INNER JOIN BRAND B WITH (NOLOCK) ON B.ID=P.IDBRAND
			INNER JOIN MODEL M WITH (NOLOCK) ON M.ID = P.IDMODEL
			INNER JOIN V_SUPPLIERS VS ON VS.IDSUPPLIER=P.IDSUPPLIER 
			LEFT JOIN ( 
						SELECT IDPART,SUM(ISTOCK) ISTOCK , SUM(AVAILABLE) AVAILABLE
						FROM V_INVENTORY WITH (NOLOCK)
						GROUP BY IDPART
						) I ON I.IDPART=P.ID 
		
	WHERE
		P.IDSUPPLIER= CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 THEN P.IDSUPPLIER ELSE @IDSUPPLIER END AND
		P.ID = CASE WHEN @ID IS NUll THEN P.ID ELSE @ID END AND
		P.BSELL = CASE WHEN @BSELL IS NULL THEN P.BSELL ELSE @BSELL END AND
		(@IDMODEL = 0 OR P.IDMODEL = @IDMODEL) AND
		EXISTS (SELECT * FROM V_SUPPLIERS_USER V
					WHERE 
					V.IDUSER=@IDUSER
				    AND V.IDSUPPLIER =  P.IDSUPPLIER) AND
		(
		P.VINNERCODE LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+P.VINNERCODE+'%' ELSE '%'+@VFILTER+'%'END OR
		P.VMASTERCODE LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+P.VMASTERCODE+'%' ELSE '%'+@VFILTER+'%' END OR
		P.VALTERCODE LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+P.VALTERCODE+'%' ELSE '%'+@VFILTER+'%' END OR
		P.VBARCODE LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+P.VBARCODE+'%' ELSE '%'+@VFILTER+'%' END OR
		P.VDESCRIPTION LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+P.VDESCRIPTION+'%' ELSE '%'+@VFILTER+'%' END
		)

	),
	T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
	T3 AS (
		SELECT * FROM T1
        ORDER BY T1.VDESCRIPTION
        OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
        FETCH NEXT @TOPE ROWS ONLY
	)
	SELECT T3.*, T2.* FROM T3, T2;
END

			
			
			 
		
 