GO
/****** Object:  StoredProcedure [dbo].[USP_GET_MOVEMENTDETAILSMAIN]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_MOVEMENTDETAILSMAIN]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_MOVEMENTDETAILSMAIN] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_GET_MOVEMENTDETAILSMAIN] -- USP_GET_MOVEMENTDETAILSMAIN 1,4069,'P',0,'',0
@IDUSER INT,
@IDSUPPLIER INT = 0,
@VTYPE VARCHAR(1) = NULL,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@BPENDING BIT = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN


	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

	DECLARE @VACTION VARCHAR(20)
    DECLARE @IDMODULE INT;
	DECLARE @TYPE VARCHAR(1)

	SET @TYPE=@VTYPE
	SELECT @IDMODULE = 
	CASE 
		WHEN @TYPE = 'P' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECOLECCION')
		WHEN @TYPE = 'R' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECEPCION') 
		WHEN @TYPE = 'T' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-TRASLADO')
		ELSE 'P'
	END
	SET @VACTION='GET'
	EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE;



	IF @VTYPE='P'
	BEGIN

		WITH T1 AS (
			
				SELECT 
				D.ID,
				D.IDMOVEMENT,
				D.IDPART,
				D.VCODEPART,
				D.VPART,
				D.VLOCATION,
				D.IREQUIRED,
				ISNULL(D.IREAL,0) IREAL,
				CASE WHEN D.VMOVEMENTTYPEDETAIL = 'P' THEN 'PICKING' ELSE 'ENTREGA' END VMOVEMENTTYPEDETAIL,
				D.BPROCESSED,
				D.VLOGIN,
				ISNULL(I.ISTOCK,0) ISTOCK,
				CAST( isnull(B.IDSALEORDER,0) AS VARCHAR(10)) VIDSALEORDER,
				V.DEALER AS VDEALER,
				D.VDISPLAYESTATUS,
				CONVERT(VARCHAR(20),D.DGENERATED,120) DGENERATED
				FROM V_MOVEMENTDETAILS D
				INNER JOIN BACKORDER B WITH (NOLOCK) ON B.ID=D.IDBACKORDER
				INNER JOIN V_DEALERS V ON V.IDDEALER = B.IDDEALER
				LEFT JOIN ( 
							SELECT IDPART,SUM(ISTOCK) ISTOCK
							FROM V_INVENTORY I WITH (NOLOCK)
							WHERE I.VLOCATIONTYPE='A'
							GROUP BY IDPART
						   ) I ON I.IDPART=D.IDPART
				WHERE
				D.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0)=0 THEN D.IDSUPPLIER ELSE @IDSUPPLIER END
				AND D.VMOVEMENTTYPE =  CASE WHEN ISNULL(@VTYPE,'') = '' THEN D.VMOVEMENTTYPE ELSE @VTYPE END  
				AND D.BPROCESSED = CASE WHEN ISNULL(@BPENDING,0)=0 THEN D.BPROCESSED ELSE 0 END
				AND 
					( 
						(D.VCODEPART LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+D.VCODEPART+'%' ELSE '%'+@VFILTER+'%'  END) OR 
						(D.VPART LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+D.VPART+'%' ELSE '%'+@VFILTER+'%'  END) OR
						(CAST( B.IDSALEORDER AS VARCHAR(10)) = CASE WHEN ISNULL(@VFILTER,'')='' THEN CAST( B.IDSALEORDER AS VARCHAR(10)) ELSE @VFILTER  END)  
					)
			
			), 
			T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
			T3 AS (

					SELECT * FROM T1
					ORDER BY T1.VDEALER, VIDSALEORDER,VPART
					OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
					FETCH NEXT @TOPE ROWS ONLY
				   )
			SELECT T3.*,T2.* FROM T3,T2;

	END



END

 
	 
	 
	 