GO
/****** Object:  StoredProcedure [dbo].[USP_POST_MOVEMENT_FROMBACKORDER]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_MOVEMENT_FROMBACKORDER]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_MOVEMENT_FROMBACKORDER] AS BEGIN SET NOCOUNT ON  END')
GO
-- USP_POST_MOVEMENT_FROMBACKORDER 4069,1,1
ALTER PROCEDURE [dbo].[USP_POST_MOVEMENT_FROMBACKORDER]
@IDSUPPLIER INT,
@IDASSIGNED INT,
@IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN


			DECLARE @IDMOVEMENT INT
			DECLARE @VACTION VARCHAR(20)
		    DECLARE @IDMODULE INT;


			DECLARE @BACKORDER AS TABLE(IDBACKORDER INT, IDPART INT, IREQUIRED INT, IDSALEORDER INT)
			

			INSERT INTO @BACKORDER
			SELECT B.ID,S.IDPART,B.IBACKORDER,SO.ID
			FROM BACKORDER B WITH (NOLOCK)
			INNER JOIN SALEORDERDETAIL S WITH (NOLOCK) ON S.ID=B.IDSALEORDERDETAIL
			INNER JOIN SALEORDER SO WITH (NOLOCK) ON SO.ID=S.IDSALEORDER
			WHERE B.IDSUPPLIER=@IDSUPPLIER
			AND B.IDASSIGNED=@IDASSIGNED
			AND B.IDSTATUS=DBO.UFN_GET_ISTATUS('ASSIGN')
			
			DECLARE @MENSAJE NVARCHAR(MAX)

			IF NOT EXISTS(
						  SELECT * FROM @BACKORDER B
						  WHERE EXISTS (SELECT * FROM V_INVENTORY I WHERE I.IDPART=B.IDPART
										AND I.AVAILABLE>0 AND I.VLOCATIONTYPE='A'
										)
						  )
			BEGIN
				SET @MENSAJE = 'NO HAY EXISTENCIAS PARA LOS BACKORDERS SELECCIONADOS '
				RAISERROR ( @MENSAJE , 16,1) 
			END


			INSERT INTO MOVEMENT (
			IDSUPPLIER,IESTATUS,VTYPE,VCOMMENT,VREFERENCE,DCREATED,DUPDATED,VUPDATEDBY,VCREATEDBY,
			IDCONTACT,DGENERATED)
			SELECT @IDSUPPLIER,DBO.UFN_GET_ISTATUS('GENERATE'),DBO.UFN_GET_TYPE('PICKING'),'','' AS VREFERENCE,
			GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER),DBO.UFN_GET_LOGIN(@IDUSER),@IDSUPPLIER,GETDATE()
			
			SELECT @IDMOVEMENT=SCOPE_IDENTITY()

			UPDATE MOVEMENT SET IDASSIGNED=@IDASSIGNED,IESTATUS=DBO.UFN_GET_ISTATUS('ASSIGN') WHERE ID=@IDMOVEMENT


			DECLARE @IDPART INT
			DECLARE @IREQUIRED INT
			DECLARE @IDBACKORDER INT
			DECLARE @IDSALEORDER INT

			DECLARE DETAIL_CURSOR2 CURSOR FOR 

				SELECT IDBACKORDER,IDPART,IREQUIRED,IDSALEORDER FROM @BACKORDER

			OPEN DETAIL_CURSOR2;
			FETCH NEXT FROM DETAIL_CURSOR2 INTO @IDBACKORDER,@IDPART,@IREQUIRED,@IDSALEORDER;

			WHILE @@FETCH_STATUS = 0
			BEGIN
										
					EXEC USP_POST_PICKINGS @IDMOVEMENT,@IDPART,@IREQUIRED,@IDASSIGNED,@IDBACKORDER

					UPDATE SALEORDER
					SET IDESTATUS=DBO.UFN_GET_ISTATUS('ASSIGN')
					WHERE ID=@IDSALEORDER AND IDESTATUS=DBO.UFN_GET_ISTATUS('GENERATE')

				FETCH NEXT FROM DETAIL_CURSOR2 INTO @IDBACKORDER,@IDPART,@IREQUIRED,@IDSALEORDER;
			END;

			CLOSE DETAIL_CURSOR2;
			DEALLOCATE DETAIL_CURSOR2;
			


			UPDATE M
			SET M.IDUSER =  @IDASSIGNED,M.IDSTATUS=DBO.UFN_GET_ISTATUS('ASSIGN')
			FROM MOVEMENTDETAILS M
			WHERE  M.IDMOVEMENT=@IDMOVEMENT 
			AND M.IDUSER IS NULL 
			AND M.BPROCESSED=0


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage =  ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
