GO
/** Object:  StoredProcedure [dbo].[USP_POST_BACKORDER]    Script Date: 18/08/2025 8:46:26 **/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_BACKORDER]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_BACKORDER] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_BACKORDER]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 
				
				    

				--DECLARA UNA VARIABLE @TDATA
				DECLARE @TDATA AS TABLE
				(
					ID INT,
					IBACKORDER INT,
					DARRIVAL DATETIME
				);

				--pone la data recibida en json de @DATA dentro de una tabla @TDATA
				INSERT INTO @TDATA
				SELECT L.BackOrderId, L.Quantity, L.ArrivalDate  FROM OPENJSON(@DATA)
				WITH (
						BackOrderId int, Quantity int, ArrivalDate datetime
					  ) AS L

				

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

			
				UPDATE B
					SET 
					B.IBACKORDER = D.IBACKORDER,
					B.IDUSER= @IDUSER,
					B.DARRIVAL = D.DARRIVAL
				FROM BACKORDER B
				INNER JOIN @TDATA D ON D.ID=B.ID 


				SELECT @IUPDATED=@@ROWCOUNT

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END

 