GO
/****** Object:  StoredProcedure [dbo].[USP_POST_SALEORDERS_ACTIONS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_SALEORDERS_ACTIONS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_SALEORDERS_ACTIONS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_SALEORDERS_ACTIONS]
 @DATA VARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY


		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(200),
					IDRELATED INT
				);


				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS C
			

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				--SELECT TOP 1 @VACTION=VACTION FROM @TDATA

				--select * from @TDATA
				--return 
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT

				SELECT TOP 1 @VACTION=VACTION, @IDMODULE=IDMODULE FROM @TDATA  
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

				DECLARE @SALEORDER AS TABLE (IDSALEORDER INT)

		BEGIN TRAN 

				DECLARE @MENSAJE  VARCHAR(100)
		
				IF @VACTION='GENERATE'
				BEGIN

					

					INSERT INTO @SALEORDER
					SELECT ID FROM SALEORDER C WITH (NOLOCK)
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
					WHERE C.IDESTATUS=DBO.UFN_GET_ISTATUS('CREATE')

-------------------------------------------------------------------------------------------------------------------------------------------------------
					DECLARE @ERRORES VARCHAR(MAX) = ''
					DECLARE @ID_SALEORDER INT
					DECLARE @TIPO INT
					DECLARE @VEHICULO INT
					DECLARE @REFERENCIA VARCHAR(100)
					DECLARE @NOMBRE_TIPO VARCHAR(50)
					DECLARE @TIENE_ERRORES BIT = 0

					DECLARE VALIDAR_PEDIDOS CURSOR LOCAL FOR
					SELECT S.IDSALEORDER, SO.IDTYPE, SO.IDVEHICLE, SO.VREFERENCE, T.VNAME
					FROM @SALEORDER S
					INNER JOIN SALEORDER SO WITH (NOLOCK) ON SO.ID = S.IDSALEORDER
					INNER JOIN SALEORDERTYPE T WITH (NOLOCK) ON T.ID = SO.IDTYPE
					WHERE T.VNAME IN ('GARANTIA','ESPECIAL') AND SO.VCOMMENT<>'INICIAL' 

					OPEN VALIDAR_PEDIDOS
					FETCH NEXT FROM VALIDAR_PEDIDOS INTO @ID_SALEORDER, @TIPO, @VEHICULO, @REFERENCIA, @NOMBRE_TIPO

					WHILE @@FETCH_STATUS = 0
					BEGIN
						-- validar vehículo y referencia  
						IF ISNULL(@VEHICULO, 0) = 0 OR (@REFERENCIA IS NULL OR LTRIM(RTRIM(@REFERENCIA)) = '')
							SET @TIENE_ERRORES = 1

						FETCH NEXT FROM VALIDAR_PEDIDOS INTO @ID_SALEORDER, @TIPO, @VEHICULO, @REFERENCIA, @NOMBRE_TIPO
					END

					CLOSE VALIDAR_PEDIDOS
					DEALLOCATE VALIDAR_PEDIDOS

					-- lanzar excepción
					IF @TIENE_ERRORES = 1
					BEGIN
						SET @MENSAJE = 'NO SE PUEDEN GENERAR LOS PEDIDOS SIN VEHICULO Y REFERENCIA'
						RAISERROR (@MENSAJE, 16, 1) 
					END
---------------------------------------------------------------------------------------------------------------------------------------------------


					DECLARE @IDERROR INT
					SELECT TOP 1 @IDERROR=IDSALEORDER
					FROM @SALEORDER A
					WHERE NOT EXISTS (SELECT * FROM SALEORDERDETAIL B WITH (NOLOCK)
									  WHERE B.IDSALEORDER=A.IDSALEORDER)

					IF @IDERROR > 0
					BEGIN
						
						SET @MENSAJE = 'PEDIDO INVALIDO ID: '+CAST( @IDERROR AS VARCHAR(5))
						RAISERROR ( @MENSAJE , 16,1) 
					END


					IF EXISTS (
								SELECT * FROM SALEORDER A WITH (NOLOCK)
								INNER JOIN @SALEORDER B ON B.IDSALEORDER=A.ID
								INNER JOIN CONTACT C WITH (NOLOCK) ON C.ID=A.IDDEALER
								WHERE C.BLOCKED=1 AND A.IDTYPE IN (3,6))
					BEGIN
						SET @MENSAJE = 'CONCESIONARIO BLOQUEADO '
						RAISERROR ( @MENSAJE , 16,1) 
						
					END
				


					UPDATE C
						SET
							C.IDESTATUS = DBO.UFN_GET_ISTATUS('GENERATE'),
							C.DUPDATED = GETDATE(),
							C.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM SALEORDER C
					INNER JOIN @SALEORDER S ON S.IDSALEORDER=C.ID

					SELECT @IUPDATED=@@ROWCOUNT


					IF @IUPDATED>0
					BEGIN
						INSERT INTO BACKORDER 
						(IDSUPPLIER,IDDEALER,IDSALEORDERDETAIL,IBACKORDER,DCREATED,IDSTATUS,IDASSIGNED,IDUSER,IDSALEORDER)
						SELECT A.IDSUPPLIER,A.IDDEALER,B.ID,B.IREQUIRED,GETDATE(),DBO.UFN_GET_ISTATUS('CREATE'),NULL,@IDUSER,A.ID
						FROM SALEORDER A WITH (NOLOCK)
						INNER JOIN SALEORDERDETAIL B WITH (NOLOCK) ON B.IDSALEORDER=A.ID
						WHERE A.ID IN (SELECT  IDSALEORDER FROM @SALEORDER)
						AND B.IREQUIRED>0

					END


				END

				IF @VACTION='DECLINE'
				BEGIN
				 
		
					INSERT INTO @SALEORDER
					SELECT ID FROM SALEORDER C WITH (NOLOCK)
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
					WHERE C.IDESTATUS=DBO.UFN_GET_ISTATUS('CREATE') OR C.IDESTATUS=DBO.UFN_GET_ISTATUS('GENERATE')

					DECLARE @IDSALEORDER INT

					SELECT TOP 1 @IDSALEORDER = IDSALEORDER
					FROM @SALEORDER S
					WHERE EXISTS (SELECT * FROM BACKORDER B WITH (NOLOCK)
								  WHERE B.IDSALEORDER=S.IDSALEORDER AND B.IDSTATUS=DBO.UFN_GET_ISTATUS('PROCESS'))

					IF ISNULL(@IDSALEORDER,0) <> 0
					BEGIN
						SET @MENSAJE = 'PEDIDO CON BACKORDER YA PROCESADO ID: '+CAST( @IDSALEORDER AS VARCHAR(5))
						RAISERROR ( @MENSAJE , 16,1) 
					END

					UPDATE C
						SET
							C.IDESTATUS = DBO.UFN_GET_ISTATUS('DECLINE'),
							C.DUPDATED = GETDATE(),
							C.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM SALEORDER C
					INNER JOIN @SALEORDER D ON D.IDSALEORDER=C.ID

					SELECT @IUPDATED=@@ROWCOUNT

					UPDATE BACKORDER SET IDSTATUS=DBO.UFN_GET_ISTATUS('DECLINE')
					WHERE IDSALEORDER IN (SELECT IDSALEORDER FROM @SALEORDER)

					

				END

			

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				IF @IUPDATED>0
				BEGIN
				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA
				END

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END




