O
/****** Object:  StoredProcedure [dbo].[USP_GET_CLAIMS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_CLAIMS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_CLAIMS] AS BEGIN SET NOCOUNT ON  END')
GO 
ALTER PROCEDURE [dbo].[USP_GET_CLAIMS]-- USP_GET_CLAIMS null,1,4069,0,'',NULL,NULL,13-02-2026, 13-02-2026
    @ID INT = NULL,
    @IDUSER INT,
    @IDSUPPLIER INT = 0,
    @IDDEALER INT = 0,
    @VFILTER VARCHAR(100) = NULL,   
    @IROWFROM INT = NULL,
	@IESTATUS INT =NULL,
	@DFROMDATE DATETIME = NULL,
	@DUPTODATE DATETIME = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         :   
  '   MODIFICADO POR        :  FILTROS SOBRE FILTROS 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/ 
 
SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

DECLARE @TOPE INT;

IF @IROWFROM IS NULL OR @IROWFROM = 0
BEGIN
    SET @TOPE = 1000000;   
    SET @IROWFROM = 0;
END
ELSE
BEGIN
    SET @TOPE = 100;       
END;

BEGIN

	IF @ID IS NOT NULL
	BEGIN
		WITH T1 AS (
			SELECT  
				C.*, 
				S.VSUPPLIER, 
				D.DEALER, 
				U.VLOGIN,
				U.VFISCALNAME, 
				A.VNAME AS STATUS,
				A.VDISPLAYESTATUS AS DISPLAY_STATUS
			FROM [dbo].CLAIM C WITH (NOLOCK)
			INNER JOIN V_SUPPLIERS S WITH (NOLOCK) ON C.IDSUPPLIER = S.IDSUPPLIER 
			INNER JOIN V_DEALERS D WITH (NOLOCK) ON C.IDDEALER = D.IDDEALER 
			INNER JOIN V_CONTACTS U WITH (NOLOCK) ON C.IDUSER = U.ID  
			INNER JOIN ACTION A WITH (NOLOCK) ON C.IDSTATUS = A.ID
			WHERE C.ID = @ID
		),
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
		T3 AS (
			SELECT * FROM T1
			ORDER BY T1.ID DESC
			OFFSET @IROWFROM ROWS
			FETCH NEXT @TOPE ROWS ONLY
		)
		SELECT T3.*, T2.* FROM T3, T2;
	END
	ELSE
	BEGIN
		WITH T1 AS (
			SELECT  
				C.*,
				P.VINNERCODE,
				P.VDESCRIPTION AS VPART,
				cd.IQUANTITY,
				CR.VDESCRIPTION,
				S.VSUPPLIER, 
				D.DEALER, 
				U.VLOGIN,
				U.VFISCALNAME, 
				A.VNAME AS STATUS,
				A.VDISPLAYESTATUS AS DISPLAY_STATUS,
				CASE 
				WHEN CR.VDESCRIPTION IN ('FALTANTE', 'MAL ESTADO', 'MAL FUNCIONAMIENTO', 'NO APLICA') AND C.IDSTATUS IN( DBO.UFN_GET_ISTATUS('APPROVE'), DBO.UFN_GET_ISTATUS('PROCESS')) AND CD.ITRANSACTIONQUANTITY>0
					THEN CAST(1 AS BIT)
					ELSE CAST(0 AS BIT)
				END AS BCREDIT
			FROM [dbo].CLAIM C WITH (NOLOCK)
			inner join CLAIMDETAIL cd WITH (NOLOCK) ON  c.id= cd.IDCLAIM
			INNER JOIN PART P  WITH (NOLOCK) ON P.ID= CD.IDPART
			INNER JOIN CLAIMREASON CR WITH (NOLOCK) ON CR.ID= CD.IDREASON
			INNER JOIN V_SUPPLIERS S WITH (NOLOCK) ON C.IDSUPPLIER = S.IDSUPPLIER 
			INNER JOIN V_DEALERS D WITH (NOLOCK) ON C.IDDEALER = D.IDDEALER 
			INNER JOIN V_CONTACTS U WITH (NOLOCK) ON C.IDUSER = U.ID  
			INNER JOIN ACTION A WITH (NOLOCK) ON C.IDSTATUS = A.ID
			WHERE 
				C.IDDEALER = CASE WHEN ISNULL(@IDDEALER,0) = 0 THEN C.IDDEALER ELSE @IDDEALER END 
				AND CAST(C.DCREATED AS DATE) BETWEEN ISNULL(CAST(@DFROMDATE AS DATE), CAST(C.DCREATED AS DATE)) AND ISNULL(CAST(@DUPTODATE AS DATE), CAST(C.DCREATED AS DATE))
				AND ( C.IDSTATUS = CASE WHEN @IESTATUS IS NUll THEN C.IDSTATUS ELSE @IESTATUS END) 
				AND C.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 THEN C.IDSUPPLIER ELSE @IDSUPPLIER END
				AND (
					@VFILTER IS NULL 
					OR @VFILTER = ''
					OR CAST(C.ID AS VARCHAR(10)) = @VFILTER
					OR C.VREFERENCE LIKE '%' + @VFILTER + '%'
					OR C.ID LIKE '%' + @VFILTER + '%' 
					OR P.VINNERCODE LIKE '%' + @VFILTER + '%' 
					OR P.VDESCRIPTION LIKE '%' + @VFILTER + '%'
					OR P.VDESCRIPTION LIKE '%' + @VFILTER + '%'
					OR C.VCOMMENT LIKE '%' + @VFILTER + '%'
				)
		),
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
		T3 AS (
			SELECT * FROM T1
			ORDER BY T1.ID DESC
			OFFSET @IROWFROM ROWS
			FETCH NEXT @TOPE ROWS ONLY
		)
		SELECT T3.*, T2.* FROM T3, T2;
	END
END 
