GO
/****** Object:  StoredProcedure [dbo].[USP_POST_CLAIM_ACTION]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_CLAIM_ACTION]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_CLAIM_ACTION] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_POST_CLAIM_ACTION]
	@DATA NVARCHAR(MAX) = NULL,
    @IDUSER INT = 0,
    @IDGUIDE INT = 0
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               : 
  '   VERSIÓN               :
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN :  
  '===============================================================*/     

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
    BEGIN TRY
       

        -- ================================================================
        -- 1. DECLARACIÓN DE VARIABLES Y PARSEO DE DATOS
        -- ================================================================
        
        -- Tabla temporal para datos de entrada
        DECLARE @TDATA AS TABLE
        (
            IDRECORD INT,
            IDMODULE INT,
            VACTION VARCHAR(20),
            VCOMMENT VARCHAR(200),
            IDRELATED INT 
        );

        -- Variables de control del procedimiento original
        DECLARE @VACTION VARCHAR(20)
        DECLARE @IID INT
        DECLARE @IINSERTED INT
        DECLARE @IUPDATED INT
        DECLARE @IDMODULE INT
        DECLARE @VRECORD VARCHAR(20)
        DECLARE @VACTIONRECORD VARCHAR(50)
        DECLARE @IDCOMMENT INT
        DECLARE @TEMPLATE VARCHAR(100) = 'ESTATUS Y MSJ'
        DECLARE @VCONTEXT VARCHAR(100) = 'NOTIFICACIÓN DEL RECLAMO'
        
        -- Variables específicas para reclamos
        DECLARE @IDCLAIM INT
        DECLARE @CURRENT_STATUS INT
        DECLARE @VNOTE_ACTUAL VARCHAR(500)
        DECLARE @VGUIDE_ACTUAL VARCHAR(100)
        DECLARE @VREFERENCE_CLAIM VARCHAR(50)
        DECLARE @VINVOICE_CLAIM VARCHAR(50)
        DECLARE @ITEMS_PENDIENTES INT
        DECLARE @ITEMS_APROBADOS INT
        DECLARE @ITEMS_RECHAZADOS INT
        DECLARE @TOTAL_ITEMS INT 
        DECLARE @NUM_DOCUMENTOS INT;   
        DECLARE @IDSUPPLIER_CLAIM INT;
        DECLARE @IDDEALER_CLAIM INT; 
        DECLARE @ITEMS_NO_COINCIDENTES INT = 0;
        DECLARE @PARTES_NO_COINCIDENTES VARCHAR(MAX) = '';
        DECLARE @VDEALER_CLAIM VARCHAR(100) = '';
        DECLARE @REPUESTOS_EXCEDIDOS INT = 0;
        DECLARE @DETALLE_EXCEDIDOS VARCHAR(MAX) = ''; 
        DECLARE @ErrorMessage VARCHAR(MAX) = '';
        -- ================================================================
        -- 2. PARSEO DE DATOS JSON
        -- ================================================================
        INSERT INTO @TDATA
        SELECT 
            RecordId, 
            ModuleId, 
            ActionName, 
            ActionComment, 
            RelatedId
        FROM OPENJSON(@DATA)
        WITH (
            RecordId INT,
            ModuleId INT,
            ActionName VARCHAR(20),
            ActionComment VARCHAR(200),
            RelatedId INT
        ) AS C;

        -- Obtener la acción actual
        SELECT TOP 1 
            @VACTION = VACTION, 
            @IDMODULE = IDMODULE
        FROM @TDATA;
		
        SELECT @NUM_DOCUMENTOS = COUNT(DISTINCT IDRECORD) FROM @TDATA; 

        SELECT TOP 1 @VACTION=VACTION, @IDMODULE=IDMODULE FROM @TDATA
        EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

        -- ================================================================
        -- 3. VALIDACIONES INICIALES
        -- ================================================================
      BEGIN TRAN
        -- Obtener información del reclamo
        SELECT TOP 1 
            @IDCLAIM = T.IDRECORD,
            @VACTIONRECORD = A.VNAME,
            @VRECORD = '0000000' + CAST(C.ID AS VARCHAR(10))
        FROM @TDATA T
        INNER JOIN CLAIM C WITH (NOLOCK) ON T.IDRECORD = C.ID
        INNER JOIN ACTION A WITH (NOLOCK) ON C.IDSTATUS = A.ID;

        -- Validar que el reclamo existe
        IF @IDCLAIM IS NULL
        BEGIN
            RAISERROR('El reclamo especificado no existe.', 16, 1);
            RETURN;
        END
        
        -- Obtener datos actuales del reclamo
        SELECT 
            @VREFERENCE_CLAIM = VREFERENCE,
            @VINVOICE_CLAIM = VINVOICE,
            @CURRENT_STATUS = C.IDSTATUS,
            @VNOTE_ACTUAL = VNOTE,           
            @VGUIDE_ACTUAL = VGUIDE,
            @IDSUPPLIER_CLAIM = IDSUPPLIER,  
            @IDDEALER_CLAIM = IDDEALER     
        FROM CLAIM C
        WHERE C.ID = @IDCLAIM;

        -- ================================================================
        -- 4. VALIDACIONES ESPECÍFICAS POR ACCIÓN
        -- ================================================================

        -- ================================================================
            -- 4.1. VALIDACIONES PARA ACCIÓN: GENERATE (CREATE → TOAPPROVE)
            -- ================================================================
            IF @VACTION = 'GENERATE'
            BEGIN 
                IF NOT EXISTS (
                        SELECT 1 FROM CLAIM 
                        WHERE ID = @IDCLAIM 
                        AND IDSTATUS IN (dbo.UFN_GET_ISTATUS('CREATE'))
                    )
                BEGIN
                    RAISERROR('El reclamo no está en estado BORRADOR.', 16, 1);
                    RETURN;
                END
                -- Validar que especifique guía o factura
                IF ISNULL(@VREFERENCE_CLAIM, '') = '' AND ISNULL(@VINVOICE_CLAIM, '') = ''
                BEGIN
                    RAISERROR('Debe especificar guía o factura.', 16, 1); 
                    RETURN;
                END

                IF ISNULL(@VREFERENCE_CLAIM, '') != '' AND ISNULL(@VINVOICE_CLAIM, '') != ''
                BEGIN
                    RAISERROR('No puede especificar guía y factura al mismo tiempo.', 16, 1); 
                    RETURN;
                END

                -- Validar que el reclamo tenga items
                SELECT @TOTAL_ITEMS = COUNT(*) 
                FROM CLAIMDETAIL CD
                WHERE CD.IDCLAIM = @IDCLAIM;
    
                IF @TOTAL_ITEMS = 0
                BEGIN
                    RAISERROR('No se puede pasar a PARA APROBAR. El reclamo no tiene items.', 16, 1);
                    RETURN;
                END

                 DECLARE @ReclamadoPorParte TABLE (
                        IDPART INT,
                        CODIGO_PARTE VARCHAR(50),
                        TOTAL_RECLAMADO INT,
                        TOTAL_DOC INT
                    );
                    -- ================================================================
                    -- VALIDACIÓN DE ADJUNTOS PARA RECLAMOS  
                    -- ================================================================
                    IF EXISTS (
                        SELECT T.* 
                        FROM @TDATA T
                        WHERE T.VACTION = 'GENERATE' 
                        AND NOT EXISTS (
                            SELECT 1 
                            FROM ATTACHMENT 
                            WHERE IDRECORD = T.IDRECORD 
                            AND IDMODULE = T.IDMODULE
                        )
                    )
                    BEGIN
                        SELECT TOP 1 
                            @VRECORD =  CAST(C.ID AS VARCHAR(20)), 
                            @VACTION = T.VACTION, 
                            @VACTIONRECORD = A.VNAME 
                        FROM @TDATA T
                        INNER JOIN CLAIM C WITH (NOLOCK) ON T.IDRECORD = C.ID
                        INNER JOIN ACTION A WITH (NOLOCK) ON C.IDSTATUS = A.ID
                        WHERE T.VACTION = 'GENERATE' 
                        AND NOT EXISTS (
                            SELECT 1 
                            FROM ATTACHMENT 
                            WHERE IDRECORD = T.IDRECORD 
                            AND IDMODULE = T.IDMODULE
                        );

                        SET @ErrorMessage = 'ACCIÓN NO PERMITIDA: RECLAMO SIN ADJUNTOS O EVIDENCIA CARGADA';
                        RAISERROR (@ErrorMessage, 16, 1);
                        RETURN;
                    END
                -- ================================================================
                -- VALIDACIÓN DE STOCK  
                -- ================================================================
                IF @VREFERENCE_CLAIM != '' OR @VINVOICE_CLAIM != ''
                BEGIN
                    DECLARE @TipoDoc VARCHAR(10) = IIF(@VREFERENCE_CLAIM != '', 'GUIA', 'FACTURA')
                    DECLARE @NumDoc VARCHAR(50) = IIF(@VREFERENCE_CLAIM != '', @VREFERENCE_CLAIM, @VINVOICE_CLAIM)
                    DECLARE @IdDoc INT = TRY_CAST(@NumDoc AS INT)
    
                    IF @IdDoc IS NOT NULL
                    BEGIN
                        ;WITH Stock AS (
                            SELECT IDPART, SUM(Cantidad) AS Enviado
                            FROM (
                                SELECT IDPART, IQUANTITY AS Cantidad 
                                FROM GUIDEDETAILS 
                                WHERE IDGUIDE = @IdDoc AND @TipoDoc = 'GUIA'
                                UNION ALL
                                SELECT IDPART, IINVOICED 
                                FROM INVOICECONTROL 
                                WHERE IDINVOICE = @IdDoc AND @TipoDoc = 'FACTURA'
                            ) D
                            GROUP BY IDPART
                        ),
                        Previos AS (
                            SELECT CD.IDPART, SUM(CD.IQUANTITY) AS Reclamado
                            FROM CLAIM C 
                            JOIN CLAIMDETAIL CD ON C.ID = CD.IDCLAIM
                            JOIN CLAIMREASON CR ON CD.IDREASON = CR.ID
                            WHERE C.IDSTATUS IN (  
                                dbo.UFN_GET_ISTATUS('TOAPPROVE'), 
                                dbo.UFN_GET_ISTATUS('APPROVE'), 
                                dbo.UFN_GET_ISTATUS('PROCESS')
                            )
                            AND CR.VDESCRIPTION IN ('FALTANTE', 'MAL ESTADO','MAL FUNCIONAMIENTO', 'NO APLICA') 
                            AND C.ID != @IDCLAIM
                            AND (
                                (@TipoDoc = 'GUIA' AND C.VREFERENCE = @NumDoc) OR 
                                (@TipoDoc = 'FACTURA' AND C.VINVOICE = @NumDoc)
                            )
                            GROUP BY CD.IDPART
                        ),
                        Actual AS (
                            SELECT CD.IDPART, SUM(CD.IQUANTITY) AS Solicitado
                            FROM CLAIMDETAIL CD 
                            JOIN CLAIMREASON CR ON CD.IDREASON = CR.ID
                            WHERE CD.IDCLAIM = @IDCLAIM 
                            AND CR.VDESCRIPTION IN ('FALTANTE', 'MAL ESTADO','MAL FUNCIONAMIENTO','NO APLICA')
                            GROUP BY CD.IDPART
                        )
                        SELECT 
                            @ITEMS_NO_COINCIDENTES = COUNT(*),
                            @PARTES_NO_COINCIDENTES = STRING_AGG(
                                P.VINNERCODE + ' (Enviado: ' + CAST(S.Enviado AS VARCHAR) + 
                                ', Reclamado antes: ' + CAST(ISNULL(Pv.Reclamado, 0) AS VARCHAR) + 
                                ', Reclamado ahora: ' + CAST(A.Solicitado AS VARCHAR) + 
                                ', Disponible: ' + CAST(S.Enviado - ISNULL(Pv.Reclamado, 0) AS VARCHAR) + ')', 
                                CHAR(13) + CHAR(10)
                            )
                        FROM Stock S
                        JOIN PART P ON P.ID = S.IDPART
                        JOIN Actual A ON A.IDPART = S.IDPART
                        LEFT JOIN Previos Pv ON Pv.IDPART = S.IDPART
                        WHERE A.Solicitado > (S.Enviado - ISNULL(Pv.Reclamado, 0))

                        IF @ITEMS_NO_COINCIDENTES > 0
                        BEGIN
                            DECLARE @MensajeError VARCHAR(MAX)
                            SET @MensajeError = 'Stock insuficiente para ' + CAST(@ITEMS_NO_COINCIDENTES AS VARCHAR) + 
                                                ' repuesto(s):' + CHAR(13) + CHAR(10) + @PARTES_NO_COINCIDENTES
            
                            RAISERROR(@MensajeError, 16, 1)
                            RETURN
                        END
                    END
                END
                -- ================================================================
                -- VALIDACIÓN PARA GUÍA
                -- ================================================================
                IF @VREFERENCE_CLAIM != '' 
                BEGIN
                    DECLARE @IDGUIA INT = TRY_CAST(@VREFERENCE_CLAIM AS INT); 

                    -- Validar que la guía exista
                    IF @IDGUIA IS NULL OR NOT EXISTS (SELECT 1 FROM GUIDE WHERE ID = @IDGUIA)
                    BEGIN
                        RAISERROR('El número de guía %s no existe en el sistema.', 16, 1, @VREFERENCE_CLAIM);
                        RETURN;
                    END 

                    -- Validar que los repuestos coincidan  
                    SELECT 
                        @ITEMS_NO_COINCIDENTES = COUNT(*),
                        @PARTES_NO_COINCIDENTES = STRING_AGG(P.VINNERCODE, ', ')
                    FROM CLAIMDETAIL CD
                    INNER JOIN PART P ON CD.IDPART = P.ID 
                    INNER JOIN CLAIMREASON CR ON CD.IDREASON = CR.ID
                    WHERE CD.IDCLAIM = @IDCLAIM 
                    AND CR.VDESCRIPTION != 'NO SOLICITADO'
                    AND NOT EXISTS (
                        SELECT 1 
                        FROM GUIDEDETAILS GD
                        WHERE GD.IDGUIDE = @IDGUIA
                        AND GD.IDPART = CD.IDPART
                    );

                    IF @ITEMS_NO_COINCIDENTES > 0
                    BEGIN
                        RAISERROR('Hay %d items cuyos códigos de repuesto no coinciden con la guia especificada. Repuesto: %s', 
                                    16, 1, @ITEMS_NO_COINCIDENTES, @PARTES_NO_COINCIDENTES);
                        RETURN;
                    END

                     -- Obtener el TOTAL facturado por repuesto   
                    DECLARE @DespachadoPorParte TABLE (
                        IDPART INT,
                        CODIGO_PARTE VARCHAR(50),
                        TOTAL_DESPACHADO INT
                    );

                    INSERT INTO @DespachadoPorParte
                    SELECT 
                        IC.IDPART,
                        MAX(P.VINNERCODE) AS CODIGO_PARTE,
                        SUM(IC.IQUANTITY) AS TOTAL_DESPACHADO
                    FROM GUIDEDETAILS IC
                    INNER JOIN PART P ON P.ID = IC.IDPART
                    WHERE IC.IDGUIDE = @IDGUIA
                    GROUP BY IC.IDPART;
  

                     

                    INSERT INTO @ReclamadoPorParte
                    SELECT 
                        CD.IDPART,
                        MAX(FP.CODIGO_PARTE) AS CODIGO_PARTE,
                        SUM(CD.IQUANTITY) AS TOTAL_RECLAMADO,
                        MAX(FP.TOTAL_DESPACHADO) AS TOTAL_DESPACHADO
                    FROM CLAIMDETAIL CD
                    INNER JOIN @DespachadoPorParte FP ON FP.IDPART = CD.IDPART
                    INNER JOIN CLAIMREASON CR ON CD.IDREASON = CR.ID 
                    WHERE CD.IDCLAIM = @IDCLAIM
                    AND CR.VDESCRIPTION != 'SOBRANTE'
                    AND CR.VDESCRIPTION != 'NO SOLICITADO'  
                    GROUP BY CD.IDPART
                    HAVING SUM(CD.IQUANTITY) > MAX(FP.TOTAL_DESPACHADO);
                     
                    SELECT 
                        @REPUESTOS_EXCEDIDOS = COUNT(*),
                        @DETALLE_EXCEDIDOS = STRING_AGG(
                            CODIGO_PARTE + ' (Total Reclamado: ' + CAST(TOTAL_RECLAMADO AS VARCHAR) + 
                            ', Total despachado: ' + CAST(TOTAL_DOC AS VARCHAR) + ')', 
                            ', '
                        )
                    FROM @ReclamadoPorParte;

                    IF @REPUESTOS_EXCEDIDOS > 0
                    BEGIN
                        RAISERROR('La cantidad total reclamada del repuesto excede lo despachado. Detalles: %s', 
                                  16, 1, @DETALLE_EXCEDIDOS);
                        RETURN;
                    END

                    -- Validar dealer
                    DECLARE @DEALER_GUIA VARCHAR(100) 
                    SELECT TOP 1 @DEALER_GUIA = C.VFISCALNAME
                    FROM GUIDEDETAILS GD
                    INNER JOIN SALEORDER S ON S.ID = GD.IDSALEORDER 
                    INNER JOIN V_CONTACTS C ON C.ID = S.IDDEALER
                    WHERE GD.IDGUIDE = @IDGUIA

                    SELECT @VDEALER_CLAIM = C.VFISCALNAME
                    FROM CLAIM CL
                    INNER JOIN V_CONTACTS C ON C.ID = CL.IDDEALER
                    WHERE CL.ID = @IDCLAIM

                    IF @DEALER_GUIA != @VDEALER_CLAIM
                    BEGIN
                        RAISERROR('La guia %d pertenece al concesionario: %s, pero el reclamo al concesionario: %s.', 
                                    16, 1, @IDGUIA, @DEALER_GUIA, @VDEALER_CLAIM);
                        RETURN;
                    END
                END

                -- ================================================================
                -- VALIDACIÓN PARA FACTURA
                -- ================================================================
                IF @VINVOICE_CLAIM != '' 
                BEGIN
                    DECLARE @IDINVOICE INT = TRY_CAST(@VINVOICE_CLAIM AS INT);

                    -- Validar que la factura exista
                    IF NOT EXISTS (SELECT 1 FROM INVOICECONTROL WHERE IDINVOICE = @IDINVOICE)
                    BEGIN
                        RAISERROR('El número de factura %s no existe en el sistema.', 16, 1, @VINVOICE_CLAIM);
                        RETURN;
                    END

                    IF NOT EXISTS (SELECT 1 FROM DISPATCHEDCONTROL WHERE IDINVOICE = @IDINVOICE)
                    BEGIN
                        RAISERROR('La factura %s no ha sido sincronizada.', 16, 1, @VINVOICE_CLAIM); 
                        RETURN;
                    END

                    -- Validar que los repuestos coincidan  
                    SELECT 
                        @ITEMS_NO_COINCIDENTES = COUNT(*),
                        @PARTES_NO_COINCIDENTES = STRING_AGG(P.VINNERCODE, ', ')
                    FROM CLAIMDETAIL CD
                    INNER JOIN PART P ON CD.IDPART = P.ID 
                    INNER JOIN CLAIMREASON CR ON CD.IDREASON = CR.ID
                    WHERE CD.IDCLAIM = @IDCLAIM 
                    AND CR.VDESCRIPTION != 'NO SOLICITADO'
                    AND NOT EXISTS (
                        SELECT 1 
                        FROM INVOICECONTROL IC
                        WHERE IC.IDINVOICE = @IDINVOICE
                        AND IC.IDPART = CD.IDPART
                    );

                    IF @ITEMS_NO_COINCIDENTES > 0
                    BEGIN
                        RAISERROR('Hay %d items cuyos códigos de repuesto no coinciden con la factura especificada. Repuesto: %s', 
                                    16, 1, @ITEMS_NO_COINCIDENTES, @PARTES_NO_COINCIDENTES);
                        RETURN;
                    END
                     
                    -- Obtener el TOTAL facturado por repuesto   
                    DECLARE @FacturadoPorParte TABLE (
                        IDPART INT,
                        CODIGO_PARTE VARCHAR(50),
                        TOTAL_FACTURADO INT
                    );

                    INSERT INTO @FacturadoPorParte
                    SELECT 
                        IC.IDPART,
                        MAX(P.VINNERCODE) AS CODIGO_PARTE,
                        SUM(IC.IINVOICED) AS TOTAL_FACTURADO
                    FROM INVOICECONTROL IC
                    INNER JOIN PART P ON P.ID = IC.IDPART
                    WHERE IC.IDINVOICE = @IDINVOICE
                    GROUP BY IC.IDPART;
 
                    --   Validar que la SUMA TOTAL por repuesto no exceda lo facturado  
                   

                    -- Primero, obtener los totales reclamados por repuesto
                    

                    INSERT INTO @ReclamadoPorParte
                    SELECT 
                        CD.IDPART,
                        MAX(FP.CODIGO_PARTE) AS CODIGO_PARTE,
                        SUM(CD.IQUANTITY) AS TOTAL_RECLAMADO,
                        MAX(FP.TOTAL_FACTURADO) AS TOTAL_FACTURADO
                    FROM CLAIMDETAIL CD
                    INNER JOIN @FacturadoPorParte FP ON FP.IDPART = CD.IDPART
                    INNER JOIN CLAIMREASON CR ON CD.IDREASON = CR.ID
                    WHERE CD.IDCLAIM = @IDCLAIM
                    AND CR.VDESCRIPTION != 'SOBRANTE'
                    AND CR.VDESCRIPTION != 'NO SOLICITADO'  -- Excluir NO SOLICITADO
                    GROUP BY CD.IDPART
                    HAVING SUM(CD.IQUANTITY) > MAX(FP.TOTAL_FACTURADO);
                     
                    SELECT 
                        @REPUESTOS_EXCEDIDOS = COUNT(*),
                        @DETALLE_EXCEDIDOS = STRING_AGG(
                            CODIGO_PARTE + ' (Total Reclamado: ' + CAST(TOTAL_RECLAMADO AS VARCHAR) + 
                            ', Total Facturado: ' + CAST(TOTAL_DOC AS VARCHAR) + ')', 
                            ', '
                        )
                    FROM @ReclamadoPorParte;

                    IF @REPUESTOS_EXCEDIDOS > 0
                    BEGIN
                        RAISERROR('La cantidad total reclamada del repuesto excede lo facturado. Detalles: %s', 
                                  16, 1, @DETALLE_EXCEDIDOS);
                        RETURN;
                    END
                                        -----------------------------------------------------------------
                     -- VALIDACIÓN DEALER 
                   DECLARE @IDDEALER_FACTURA VARCHAR(100)

                    --  Obtener nombre del concesionario de la factura
                    SELECT TOP 1 @IDDEALER_FACTURA = C.VFISCALNAME
                    FROM DISPATCHEDCONTROL DC WITH (NOLOCK)
                    INNER JOIN MOVEMENTDETAILS MD WITH (NOLOCK) ON MD.ID = DC.IDMOVEMENTDETAIL
                    INNER JOIN BACKORDER B WITH (NOLOCK) ON B.ID = MD.IDBACKORDER
                    INNER JOIN V_CONTACTS C WITH (NOLOCK) ON C.ID = B.IDDEALER
                    WHERE DC.IDINVOICE = @IDINVOICE

                    -- Obtener nombre del concesionario del reclamo
                    SELECT @VDEALER_CLAIM = C.VFISCALNAME
                    FROM CLAIM CL WITH (NOLOCK)
                    INNER JOIN V_CONTACTS C WITH (NOLOCK) ON C.ID = CL.IDDEALER
                    WHERE CL.ID = @IDCLAIM
                     
                    -- Validar que coincidan (comparar nombres, no IDs)
                    IF @IDDEALER_FACTURA != @VDEALER_CLAIM
                    BEGIN
                        RAISERROR('La factura %d pertenece al concesionario: %s, pero el reclamo %d pertenece al concesionario: %s.', 
                                  16, 1,  
                                  @IDINVOICE, 
                                  @IDDEALER_FACTURA, 
                                  @IDCLAIM, 
                                  @VDEALER_CLAIM);
                        RETURN;
                    END

                END
            END
               -- -- Validar que especifique factura
               -- IF ISNULL(@VINVOICE_CLAIM, '') = ''
               -- BEGIN
               --     RAISERROR('Debe especificar la factura.', 16, 1); 
               --     RETURN;
               -- END

               -- -- DECLARAR LA VARIABLE @IDFACTURA AQUÍ
               -- DECLARE @IDFACTURA INT = TRY_CAST(@VINVOICE_CLAIM AS INT);

               -- -- NÚMERO DE FACTURA DEBE COINCIDIR (EXISTIR EN INVOICECONTROL)
               -- IF @VINVOICE_CLAIM != '' 
               -- BEGIN
               --     -- Validar que la factura exista en la tabla INVOICECONTROL
               --     IF NOT EXISTS (
               --         SELECT 1 FROM INVOICECONTROL IC 
               --         WHERE IC.IDINVOICE = @IDFACTURA
               --     )
               --     BEGIN
               --         RAISERROR('El número de factura %s no existe en el sistema.', 16, 1, @VINVOICE_CLAIM);
               --         RETURN;
               --     END
               -- END

               -- -- LOS REPUESTOS CARGADOS DEBEN COINCIDIR CON LOS DE LA FACTURA
               -- DECLARE @ITEMS_NO_COINCIDENTES INT = 0;
               -- DECLARE @PARTES_NO_COINCIDENTES VARCHAR(MAX) = '';

               -- IF @VINVOICE_CLAIM != '' 
               -- BEGIN
               --     -- Validar contra factura
               --     SELECT 
               --         @ITEMS_NO_COINCIDENTES = COUNT(*),
               --         @PARTES_NO_COINCIDENTES = STRING_AGG(P.VINNERCODE, ', ')
               --     FROM CLAIMDETAIL CD
               --     INNER JOIN PART P ON CD.IDPART = P.ID
               --     WHERE CD.IDCLAIM = @IDCLAIM
               --     AND NOT EXISTS (
               --         SELECT 1 
               --         FROM INVOICECONTROL IC
               --         WHERE IC.IDINVOICE = @IDFACTURA
               --         AND IC.IDPART = CD.IDPART
               --     );
               -- END

               -- IF @ITEMS_NO_COINCIDENTES > 0
               -- BEGIN
               --     RAISERROR('Hay %d items cuyos códigos de repuesto no coinciden con la factura especificada. Repuesto: %s', 
               --               16, 1, @ITEMS_NO_COINCIDENTES, @PARTES_NO_COINCIDENTES);
               --     RETURN;
               -- END

               -- -- Validar cantidades reclamadas vs facturadas
               -- DECLARE @ITEMS_CANTIDAD_EXCEDIDA INT = 0;
               -- DECLARE @PARTES_CANTIDAD_EXCEDIDA VARCHAR(MAX) = '';

               -- SELECT 
               --     @ITEMS_CANTIDAD_EXCEDIDA = COUNT(*),
               --     @PARTES_CANTIDAD_EXCEDIDA = STRING_AGG(
               --         P.VINNERCODE + ' (Reclamado: ' + CAST(CD.IQUANTITY AS VARCHAR) + 
               --         ', Facturado: ' + CAST(IC.IINVOICED AS VARCHAR) + ')', 
               --         ', '
               --     )
               -- FROM CLAIMDETAIL CD
               -- INNER JOIN PART P ON CD.IDPART = P.ID
               -- INNER JOIN INVOICECONTROL IC ON IC.IDPART = CD.IDPART 
               --     AND IC.IDINVOICE = @IDFACTURA
               -- WHERE CD.IDCLAIM = @IDCLAIM
               --     AND CD.IQUANTITY > IC.IINVOICED;

               -- IF @ITEMS_CANTIDAD_EXCEDIDA > 0
               -- BEGIN
               --     RAISERROR('Hay %d items cuya cantidad reclamada excede la cantidad facturada. Detalles: %s', 
               --               16, 1, @ITEMS_CANTIDAD_EXCEDIDA, @PARTES_CANTIDAD_EXCEDIDA);
               --     RETURN;
               -- END

               -- -- VALIDACIÓN EN DISPATCHEDCONTROL
               -- IF NOT EXISTS (
               --     SELECT 1 FROM DISPATCHEDCONTROL DC 
               --     WHERE DC.IDINVOICE = @IDFACTURA
               -- )
               -- BEGIN
               --     RAISERROR('La factura %s no ha sido sincronizada.', 
               --               16, 1, @VINVOICE_CLAIM); 
               --     RETURN;
               -- END

               --  -- VALIDACIÓN DEALER 
               --DECLARE @IDDEALER_FACTURA VARCHAR(100), @IDDEALER_RECLAMO VARCHAR(100)

               -- -- Validación por etapas - Obtener nombre del concesionario de la factura
               -- SELECT TOP 1 @IDDEALER_FACTURA = C.VFISCALNAME
               -- FROM DISPATCHEDCONTROL DC WITH (NOLOCK)
               -- INNER JOIN MOVEMENTDETAILS MD WITH (NOLOCK) ON MD.ID = DC.IDMOVEMENTDETAIL
               -- INNER JOIN BACKORDER B WITH (NOLOCK) ON B.ID = MD.IDBACKORDER
               -- INNER JOIN V_CONTACTS C WITH (NOLOCK) ON C.ID = B.IDDEALER
               -- WHERE DC.IDINVOICE = @IDFACTURA

               -- IF @IDDEALER_FACTURA IS NULL
               -- BEGIN
               --     RAISERROR('La factura (ID: %d) no tiene movimientos asociados.', 
               --               16, 1, @IDFACTURA);
               --     RETURN;
               -- END

               -- -- Obtener nombre del concesionario del reclamo
               -- SELECT @IDDEALER_RECLAMO = C.VFISCALNAME
               -- FROM CLAIM CL WITH (NOLOCK)
               -- INNER JOIN V_CONTACTS C WITH (NOLOCK) ON C.ID = CL.IDDEALER
               -- WHERE CL.ID = @IDCLAIM

               -- IF @IDDEALER_RECLAMO IS NULL
               -- BEGIN
               --     RAISERROR('El reclamo ID: %d no existe.', 
               --               16, 1, @IDCLAIM);
               --     RETURN;
               -- END

               -- -- Validar que coincidan (comparar nombres, no IDs)
               -- IF @IDDEALER_FACTURA != @IDDEALER_RECLAMO
               -- BEGIN
               --     RAISERROR('La factura %d pertenece al concesionario: %s, pero el reclamo %d pertenece al concesionario: %s.', 
               --               16, 1,  
               --               @IDFACTURA, 
               --               @IDDEALER_FACTURA, 
               --               @IDCLAIM, 
               --               @IDDEALER_RECLAMO);
               --     RETURN;
               -- END
          

        -- ================================================================
        -- 4.2. VALIDACIONES PARA ACCIÓN: APPROVE (APROBAR)
        -- ================================================================
        IF @VACTION = 'APPROVE'
        BEGIN 
        
             -- Validar estado del reclamo 
            IF NOT EXISTS (
                SELECT 1 FROM CLAIM 
                WHERE ID = @IDCLAIM 
                AND IDSTATUS IN ( 
                    dbo.UFN_GET_ISTATUS('TOAPPROVE')
                )
            )
            BEGIN
                RAISERROR('El reclamo no está en estado para aprobar.', 16, 1);
                RETURN;
            END
            
            IF @NUM_DOCUMENTOS > 1
            BEGIN
                RAISERROR('No se puede procesar. Solo se permite aprobar un documento a la vez.', 16, 1);
                RETURN;
            END

            -- 2. Contar items por estado
            SELECT 
                @ITEMS_PENDIENTES = COUNT(CASE WHEN CD.IDSTATUS = dbo.UFN_GET_ISTATUS('CREATE') THEN 1 END),
                @ITEMS_APROBADOS = COUNT(CASE WHEN CD.IDSTATUS = dbo.UFN_GET_ISTATUS('APPROVE') THEN 1 END) 
            FROM CLAIMDETAIL CD
            WHERE CD.IDCLAIM = @IDCLAIM;
			
			IF @ITEMS_APROBADOS = 0
			BEGIN
				RAISERROR('No se puede aprobar el documento. Debe existir al menos un item aprobado.', 16, 1)
				RETURN
			END

			-- 4. Validar que TODOS los items estén procesados
			IF @ITEMS_PENDIENTES > 0
			BEGIN
				RAISERROR('No se puede aprobar el documento. Hay %d items pendientes de revisión.', 
						  16, 1, @ITEMS_PENDIENTES);
				RETURN;
			END
        END

        -- ================================================================
        -- 4.3. VALIDACIONES PARA ACCIÓN: PROCESS (PROCESAR)
        -- ================================================================
         IF @VACTION = 'PROCESS'
        BEGIN 
        IF NOT EXISTS (
                SELECT 1 FROM CLAIM 
                WHERE ID = @IDCLAIM 
                AND IDSTATUS IN ( 
                    dbo.UFN_GET_ISTATUS('APPROVE')
                )
            )
            BEGIN
                RAISERROR('El reclamo no está en estado aprobado.', 16, 1);
                RETURN;
            END
         -- Validar que solo se pueda procesar un documento a la vez
            IF @NUM_DOCUMENTOS > 1
            BEGIN
                RAISERROR('No se puede procesar. Solo se permite procesar un documento a la vez.', 16, 1);
                RETURN;
            END

           
            -- ================================================================
            -- VALIDACIONES ESPECÍFICAS PARA NOTA DE CRÉDITO Y GUÍA
            -- ================================================================ 
            DECLARE @IDRELATED_PROCESS INT;
            DECLARE @VCOMMENT_PROCESS VARCHAR(200);
    
            SELECT TOP 1 
                @IDRELATED_PROCESS = IDRELATED,
                @VCOMMENT_PROCESS = VCOMMENT 
            FROM @TDATA;
             
            DECLARE @ITEMS_REQUIEREN_NC INT = 0;

            SELECT @ITEMS_REQUIEREN_NC = COUNT(*)
            FROM CLAIMDETAIL CD
            INNER JOIN CLAIMREASON CR ON CD.IDREASON = CR.ID
            WHERE CD.IDCLAIM = @IDCLAIM 
            AND CD.IDSTATUS = dbo.UFN_GET_ISTATUS('APPROVE')
            AND CR.VDESCRIPTION IN ('FALTANTE', 'MAL ESTADO','MAL FUNCIONAMIENTO')
            AND CD.ITRANSACTIONQUANTITY > 0; 
             
            DECLARE @ITEMS_REQUIEREN_GUIA INT = 0;

            SELECT @ITEMS_REQUIEREN_GUIA = COUNT(*)
            FROM CLAIMDETAIL CD
            INNER JOIN CLAIMREASON CR ON CD.IDREASON = CR.ID
            WHERE CD.IDCLAIM = @IDCLAIM 
            AND CD.IDSTATUS = dbo.UFN_GET_ISTATUS('APPROVE')
            AND CR.VDESCRIPTION IN ('FALTANTE', 'MAL ESTADO','MAL FUNCIONAMIENTO','NO APLICA')
            AND CD.IAPPROVEDQUANTITY > 0;
             
            IF @ITEMS_REQUIEREN_NC = 0 AND @VCOMMENT_PROCESS IS NOT NULL AND @VCOMMENT_PROCESS != ''
            BEGIN
                RAISERROR('No se requiere nota de crédito para este reclamo.', 16, 1);
                RETURN;
            END
             
            IF @ITEMS_REQUIEREN_GUIA = 0 AND @IDRELATED_PROCESS IS NOT NULL AND @IDRELATED_PROCESS > 0
            BEGIN
                RAISERROR('No se requiere número de guía para este reclamo.', 16, 1);
                RETURN;
            END
             
            IF @ITEMS_REQUIEREN_NC > 0
            BEGIN
                IF @VCOMMENT_PROCESS IS NULL OR @VCOMMENT_PROCESS = ''
                BEGIN
                    RAISERROR('Se requiere nota de crédito.', 16, 1);
                    RETURN;
                END 
            --IF @ITEMS_REQUIEREN_GUIA > 0
            --BEGIN
            --    IF @IDRELATED_PROCESS IS NULL OR @IDRELATED_PROCESS = 0
            --    BEGIN
            --        RAISERROR('Se requiere número de guía.', 16, 1);
            --        RETURN;
            --    END
            --END 

            --IF ISNULL(@IDRELATED_PROCESS, 0) != 0
            --BEGIN
            --    IF NOT EXISTS (
            --        SELECT 1 
            --        FROM GUIDEDETAILS GD
            --        INNER JOIN SALEORDER SO ON GD.IDSALEORDER = SO.ID
            --        WHERE GD.IDGUIDE = @IDRELATED_PROCESS
            --        AND SO.VREFERENCE = 'R-' + CAST(@IDCLAIM AS VARCHAR)
            --    )
            --    BEGIN
            --        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
            --        RAISERROR('El número de guía %d no corresponde al reclamo %d.', 
            --                  16, 1, @IDRELATED_PROCESS, @IDCLAIM);
            --        RETURN;
            --    END
            --END
            -- Solo validar la guía si el usuario proporcionó una
                IF @IDRELATED_PROCESS IS NOT NULL AND @IDRELATED_PROCESS > 0
                BEGIN
                    IF NOT EXISTS (
                        SELECT 1 
                        FROM GUIDEDETAILS GD
                        INNER JOIN SALEORDER SO ON GD.IDSALEORDER = SO.ID
                        WHERE GD.IDGUIDE = @IDRELATED_PROCESS
                        AND SO.VREFERENCE = 'R-' + CAST(@IDCLAIM AS VARCHAR)
                    )
                    BEGIN
                        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
                        RAISERROR('El número de guía %d no corresponde al reclamo %d.', 
                                  16, 1, @IDRELATED_PROCESS, @IDCLAIM);
                        RETURN;
                    END
                END
            END
        END
        -- ================================================================
        -- 4.4. VALIDACIONES PARA ACCIÓN: DECLINE (RECHAZAR)
        -- ================================================================
        IF @VACTION = 'DECLINE'
        BEGIN 
    
            IF @NUM_DOCUMENTOS > 1
            BEGIN
                RAISERROR('No se puede procesar. Solo se permite rechazar un documento a la vez.', 16, 1);
                RETURN;
            END
        END

        -- ================================================================
        -- 5. EJECUCIÓN DE ACCIONES
        -- ================================================================

        -- ================================================================
        -- 5.1. ACCIÓN: TOAPPROVE (CREATE → TOAPPROVE)
        -- ================================================================
        IF @VACTION = 'GENERATE' AND @VACTIONRECORD = 'CREATE'
        BEGIN
            DECLARE @ITEMS_ORIGINAL TABLE (
                ID INT PRIMARY KEY,
                IDCLAIM INT,
                IDPART INT,
                IQUANTITY INT,
                IDREASON INT, 
                ROW_NUM INT IDENTITY(1,1)
            );

            -- Obtener items del reclamo (CORREGIDO)
            INSERT INTO @ITEMS_ORIGINAL (
                ID,
                IDCLAIM,
                IDPART,
                IQUANTITY,
                IDREASON 
            )
            SELECT 
                ID,
                IDCLAIM,
                IDPART,
                IQUANTITY,
                IDREASON 
            FROM CLAIMDETAIL 
            WHERE IDCLAIM = @IDCLAIM 
            ORDER BY ID;
             
    SELECT @TOTAL_ITEMS = COUNT(*) FROM @ITEMS_ORIGINAL;

            -- Caso: Un solo item
            IF @TOTAL_ITEMS = 1
            BEGIN
                UPDATE CLAIM 
                SET IDSTATUS = dbo.UFN_GET_ISTATUS('TOAPPROVE'),
                    DUPDATED = GETDATE(),
                    IDUSER = @IDUSER
                WHERE ID = @IDCLAIM 
                AND IDSTATUS = dbo.UFN_GET_ISTATUS('CREATE');
        
                SET @IUPDATED = @@ROWCOUNT;
            END
            -- Caso: Múltiples items (disgregación)
            ELSE
            BEGIN
                -- Mantener primer item en reclamo original
                DELETE FROM CLAIMDETAIL 
                WHERE IDCLAIM = @IDCLAIM 
                AND ID NOT IN (
                    SELECT TOP 1 ID 
                    FROM @ITEMS_ORIGINAL 
                    ORDER BY ROW_NUM
                );

                -- Actualizar estado del reclamo original
                UPDATE CLAIM 
                SET IDSTATUS = dbo.UFN_GET_ISTATUS('TOAPPROVE'),
                    DUPDATED = GETDATE(),
                    IDUSER = @IDUSER
                WHERE ID = @IDCLAIM;
        
                SET @IUPDATED = @@ROWCOUNT;

                -- Crear nuevos reclamos para items restantes
                DECLARE @CONTADOR INT = 2;
                DECLARE @NUEVO_ID_CLAIM INT;

                WHILE @CONTADOR <= @TOTAL_ITEMS
                BEGIN
                    -- Crear nuevo reclamo 
                    INSERT INTO CLAIM (
                        IDSUPPLIER,
                        IDDEALER,
                        IDUSER,
                        IDSTATUS,
                        VREFERENCE,
                        VINVOICE,
                        VNOTE,
                        VGUIDE,
                        DCREATED,
                        DUPDATED
                    )
                    VALUES (
                        @IDSUPPLIER_CLAIM,
                        @IDDEALER_CLAIM,
                        @IDUSER,
                        dbo.UFN_GET_ISTATUS('TOAPPROVE'),
                        @VREFERENCE_CLAIM,
                        @VINVOICE_CLAIM,
                        @VNOTE_ACTUAL,   
                        @VGUIDE_ACTUAL,  
                        GETDATE(),
                        GETDATE()
                    );

                    SET @NUEVO_ID_CLAIM = SCOPE_IDENTITY();

                    -- Insertar item en nuevo reclamo
                    INSERT INTO CLAIMDETAIL (
                        IDCLAIM,
                        IDPART,
                        IQUANTITY,
                        IDREASON, 
                        IDSTATUS
                    )
                    SELECT 
                        @NUEVO_ID_CLAIM,
                        IDPART,
                        IQUANTITY,
                        IDREASON, 
                        dbo.UFN_GET_ISTATUS('CREATE')
                    FROM @ITEMS_ORIGINAL 
                    WHERE ROW_NUM = @CONTADOR;

                    -- Auditoría del nuevo reclamo
                    INSERT INTO AUDIT (
                        IDUSER,
                        IDRECORD,
                        IDMODULE,
                        VACTION,
                        VCOMMENT,
                        IDRELATED,
                        DCREATED
                    )
                    VALUES (
                        @IDUSER,
                        @NUEVO_ID_CLAIM,
                        @IDMODULE,
                        'CREATE',
                        'Reclamo creado por disgregación del reclamo original ' + CAST(@IDCLAIM AS VARCHAR(10)),
                        @IDCLAIM,
                        GETDATE()
                    );

                    SET @CONTADOR = @CONTADOR + 1;
                END

                -- Auditoría de disgregación  
                INSERT INTO AUDIT (
                    IDUSER,
                    IDRECORD,
                    IDMODULE,
                    VACTION,
                    VCOMMENT,
                    IDRELATED,
                    DCREATED
                )
                VALUES (
                    @IDUSER,
                    @IDCLAIM,
                    @IDMODULE,
                    'DISAGGREGATE',
                    'Reclamo disgregado en ' + CAST(@TOTAL_ITEMS AS VARCHAR(10)) + ' documentos',
                    @IDCLAIM,
                    GETDATE()
                );
            END
        END

        -- ================================================================
        -- 5.2. ACCIÓN: APPROVE (TOAPPROVE → APPROVE)
        -- ================================================================
        ELSE IF @VACTION = 'APPROVE' AND @VACTIONRECORD = 'TOAPPROVE'
        BEGIN
            UPDATE P
            SET 
                P.IDSTATUS = DBO.UFN_GET_ISTATUS('APPROVE'),
                P.DUPDATED = GETDATE(),
                P.IDUSER = @IDUSER
            FROM CLAIM P
            INNER JOIN @TDATA D ON D.IDRECORD = P.ID 
            WHERE P.IDSTATUS = DBO.UFN_GET_ISTATUS('TOAPPROVE');
            
            SET @IUPDATED = @@ROWCOUNT;

            IF @IUPDATED > 0
            BEGIN
                -- Generar backorders y/o devoluciones automáticamente si hay items aprobados
                IF @ITEMS_APROBADOS > 0
                BEGIN 
                    EXEC [dbo].[USP_GENERATE_CLAIM_PROCESSES] 
                        @IDCLAIM = @IDCLAIM,
                        @IDUSER = @IDUSER;
                END
                
                INSERT INTO COMMENT(VCONTENT, VCREATEDBY, IDRECORD, IDMODULE, BACTIVE, DCREATED)
                SELECT 
                    A.VDISPLAYESTATUS,
                    DBO.UFN_GET_LOGIN(@IDUSER),
                    D.IDRECORD,
                    D.IDMODULE,
                    1,
                    GETDATE()
                FROM @TDATA D
                INNER JOIN CLAIM P (NOLOCK) ON D.IDRECORD = P.ID
                INNER JOIN ACTION A (NOLOCK) ON D.VACTION = A.VNAME
                WHERE P.IDSTATUS = DBO.UFN_GET_ISTATUS('APPROVE');
                
                SET @IDCOMMENT = SCOPE_IDENTITY();
                EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT, @TEMPLATE, @VCONTEXT;
            END
        END

        -- ================================================================
        -- 5.3. ACCIÓN: PROCESS (APPROVE → PROCESS)
        -- ================================================================
      
         ELSE IF @VACTION = 'PROCESS' AND @VACTIONRECORD = 'APPROVE'
        BEGIN 
    
            SELECT TOP 1 
                @IDRELATED_PROCESS = IDRELATED,
                @VCOMMENT_PROCESS = VCOMMENT 
            FROM @TDATA;
     
            UPDATE P
            SET 
                P.IDSTATUS = DBO.UFN_GET_ISTATUS('PROCESS'),
                P.DUPDATED = GETDATE(),
                P.VGUIDE = CAST(@IDRELATED_PROCESS AS VARCHAR(50)),   
                P.VNOTE = @VCOMMENT_PROCESS   
            FROM CLAIM P
            INNER JOIN @TDATA D ON D.IDRECORD = P.ID 
            WHERE P.IDSTATUS = DBO.UFN_GET_ISTATUS('APPROVE');
    
            SET @IUPDATED = @@ROWCOUNT;
     
        END
        -- ================================================================
        -- 5.4. ACCIÓN: DECLINE (RECHAZAR DOCUMENTO)
        -- ================================================================
        ELSE IF @VACTION = 'DECLINE' AND @VACTIONRECORD IN ('CREATE', 'TOAPPROVE')
        BEGIN
            DECLARE @VCOMMENT_DECLINE VARCHAR(200);
            SELECT TOP 1 @VCOMMENT_DECLINE = VCOMMENT FROM @TDATA;
            
            UPDATE P
            SET 
                P.IDSTATUS = DBO.UFN_GET_ISTATUS('DECLINE'),
                P.DUPDATED = GETDATE(),
                P.IDUSER = @IDUSER
            FROM CLAIM P
            INNER JOIN @TDATA D ON D.IDRECORD = P.ID 
            WHERE P.IDSTATUS IN (DBO.UFN_GET_ISTATUS('CREATE'), DBO.UFN_GET_ISTATUS('TOAPPROVE'));
            
            SET @IUPDATED = @@ROWCOUNT;

            IF @IUPDATED > 0
            BEGIN 
                UPDATE CLAIMDETAIL
                SET IDSTATUS = DBO.UFN_GET_ISTATUS('DECLINE')
                WHERE IDCLAIM = @IDCLAIM; 
				 
				INSERT INTO COMMENT(VCONTENT, VCREATEDBY, IDRECORD, IDMODULE, BACTIVE, DCREATED)
                SELECT 
                    A.VDISPLAYESTATUS,
                    DBO.UFN_GET_LOGIN(@IDUSER),
                    D.IDRECORD,
                    D.IDMODULE,
                    1,
                    GETDATE()
                FROM @TDATA D
                INNER JOIN CLAIM P (NOLOCK) ON D.IDRECORD = P.ID
                INNER JOIN ACTION A (NOLOCK) ON D.VACTION = A.VNAME
                WHERE P.IDSTATUS = DBO.UFN_GET_ISTATUS('DECLINE');
                
                SET @IDCOMMENT = SCOPE_IDENTITY();
                EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT, @TEMPLATE, @VCONTEXT;
            END
        END

        -- ================================================================
        -- 6. RESULTADOS Y AUDITORÍA
        -- ================================================================
        
        -- Retornar resultados
        SELECT
            ISNULL(@IID, 0) AS IID, 
            ISNULL(@IINSERTED, 0) AS IINSERTED,
            ISNULL(@IUPDATED, 0) AS IUPDATED;

        -- Registrar auditoría si hubo cambios
        IF @IUPDATED > 0
        BEGIN
            INSERT INTO AUDIT (IDUSER, IDRECORD, IDMODULE, VACTION, VCOMMENT, IDRELATED, DCREATED)
            SELECT @IDUSER, IDRECORD, IDMODULE, @VACTION, VCOMMENT, IDRELATED, GETDATE()
            FROM @TDATA;
        END

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN;
        
        DECLARE @ErrorMsg NVARCHAR(4000);
        SELECT @ErrorMsg = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMsg, 16, 1);
    END CATCH
END
