USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_MAINTENANCES_TOGENERATE]    Script Date: 02/03/2026 15:42:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GET_MAINTENANCES_CLOSED]-- USP_GET_MAINTENANCES_CLOSED 16065,4069,0,NULL,0,NULL,NULL
@IDUSER INT ,
@IDSUPPLIER INT=0 ,
@IDDEALER INT=NULL,
@VFILTER VARCHAR(100) = NULL,
@IROWFROM INT = NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL,
@IESTATUS INT =NULL

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	DECLARE @ISDEALER BIT=0
	IF NOT EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] WHERE IDUSER=@IDUSER)
	BEGIN
		SET @ISDEALER=1
	END

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

		

BEGIN
    WITH T1 AS (
       SELECT 
		M.ID,
		M.IDVEHICLE,
		V.VVIN,
		V.VENGINESERIAL,
		V.VPLATE,
		V.IYEAR,
		V.IDMODEL,
		L.VDESCRIPTION AS VMODELNAME,
		V.IDDEALER AS IDDEALERSALE,
		C.VFIRSTNAME AS VDEALERSALE,
		C.VREFERENCE AS VDEALERSALECOD,
		M.IKM,
		M.BPARALYZED,
		P.VNUMBER as VNUMBERPOLICY,
		M.IDSERVICETYPE,
		S.VNAME AS VSERVICETYPE,
		M.IDREPORTTYPE,
		R.VNAME AS VREPORTTYPE,
		M.VSERVICENUMBER,
		ISNULL(M.VREPORTCUSTOMER,'')VREPORTCUSTOMER,
		ISNULL(M.VTECHNICALREPORT,'')VTECHNICALREPORT,
		ISNULL(M.VTECHNICALSOLUTION,'')VTECHNICALSOLUTION,
		ISNULL(M.VSUPPLIERDECISION,'')VSUPPLIERDECISION,
		ISNULL(M.VSRGNUMBER,'')VSRGNUMBER,
		M.DMAINTENANCEDATE,
		M.IDDEALER AS IDDEALERSERVICE,
		Q.VFIRSTNAME AS VDEALERSERVICE,
		Q.VREFERENCE AS VDEALERCOD,
		Q.VADDRESS AS VDEALERADDRESS,
		W.VNAME AS VNAMECITY,
		W.VSTATE AS VNAMESTATE,
		M.IDCUSTOMER,
		ISNULL(Z.VVAT,'') AS VVAT,
		ISNULL(Z.VFIRSTNAME,'') AS VCUSTOMERNAME,
		ISNULL(Z.VLASTNAME,'') AS VCUSTOMERLASTNAME,
		ISNULL(Z.VPHONE1,0) AS VPHONE1,
		ISNULL(M.VINVOICENUMBER,'') VINVOICENUMBER,
		M.NINVOICEAMOUNT,
		M.NTAXBASE, 
		M.TAX,
		M.NEXEMPT,
		M.DINVOICEDATE,
		M.BACTIVE,	
		m.IESTATUS,
		M.DUPDATED AS dAUTHORIZATIONDATE,
	    A.VDISPLAYESTATUS AS VESTATUSNAME,
		A.VNAME AS VACTIONAME,
		O.IDSUPPLIER,
		O.IDBRAND,
		U.IDLICENSE,
		X.VDESCRIPTION AS VDESCRIPTIONLICENSE,
		X.IDLICENSETYPE,
		G.VNAME AS VLICENSETYPE,
		ISNULL(T.VFIRSTNAME + ' ' + T.VLASTNAME, '')  AS VAUTHORIZEDUSERNAME,
		M.DCREATED,
		CASE 
		   WHEN IDSERVICETYPE=3 AND AU.DCREATED IS NOT NULL THEN AU.DCREATED
		   WHEN IDSERVICETYPE=3 AND AU.DCREATED IS NULL THEN M.DMAINTENANCEDATE
		ELSE '1999-01-1 00:00:00.000'
		END AS DSTARTDATE,
		CASE 
		   WHEN IDSERVICETYPE=3 AND AI.DCREATED IS NOT NULL THEN AI.DCREATED
		ELSE '1999-01-1 00:00:00.000'
		END AS DENDDATE,
		P.DINVOICEDATE AS DSALEDATE
        FROM MAINTENANCE M WITH (NOLOCK)
        INNER JOIN VEHICLE V (NOLOCK) ON M.IDVEHICLE = V.ID
        INNER JOIN CONTACT C (NOLOCK) ON V.IDDEALER = C.ID
		INNER JOIN CONTACT Q  (NOLOCK) ON M.IDDEALER =Q.ID
		INNER JOIN CITY W (NOLOCK) ON Q.IDCITY = W.ID
		LEFT JOIN CONTACT Z (NOLOCK) ON M.IDCUSTOMER =Z.ID
		LEFT  JOIN CONTACT T (NOLOCK) ON M.IDAUTHORIZEDUSER =T.ID
        INNER JOIN ACTION A  (NOLOCK) ON M.IESTATUS = A.ID
        LEFT JOIN MODEL L   (NOLOCK) ON V.IDMODEL= L.ID
		INNER JOIN SERVICETYPE S(NOLOCK) ON M.IDSERVICETYPE = S.ID
		INNER JOIN REPORTTYPE R (NOLOCK)ON M.IDREPORTTYPE = R.ID
		LEFT JOIN POLICY P (NOLOCK) ON  V.ID= P.IDVEHICLE
		INNER JOIN V_DEALERS O (NOLOCK) ON  M.IDDEALER =O.IDDEALER
		LEFT JOIN LICENSEDETAILS U (NOLOCK) ON M.ID =U.IDMAINTENANCE
		LEFT JOIN LICENSE X (NOLOCK) ON U.IDLICENSE=X.ID
		LEFT JOIN LICENSETYPE G (NOLOCK) ON X.IDLICENSETYPE =G.ID
		LEFT JOIN AUDIT AU WITH (NOLOCK) ON M.ID=AU.IDRECORD AND AU.IDMODULE=7 AND AU.VACTION='TOVALIDATE'
		LEFT JOIN AUDIT AI WITH (NOLOCK) ON M.ID=AI.IDRECORD AND AI.IDMODULE=7 AND AI.VACTION='GENERATE'
        WHERE 
        M.IDSERVICETYPE=3 AND
		M.IESTATUS IN (DBO.UFN_GET_ISTATUS('GENERATE'),DBO.UFN_GET_ISTATUS('PROCESS')) AND
	    ( M.IESTATUS = CASE WHEN @IESTATUS IS NUll THEN M.IESTATUS ELSE @IESTATUS END) AND
	    O.IDSUPPLIER =CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 THEN O.IDSUPPLIER ELSE @IDSUPPLIER END
		AND O.IDDEALER =CASE WHEN ISNULL(@IDDEALER,0) = 0 THEN O.IDDEALER ELSE @IDDEALER END
		AND (
        V.VVIN LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR V.VPLATE LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR Z.VVAT LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR Z.VFIRSTNAME LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR Z.VLASTNAME LIKE '%' + ISNULL(@VFILTER, '') + '%'
		OR M.VSERVICENUMBER LIKE '%' + ISNULL(@VFILTER, '') + '%'
		OR CAST(M.ID AS VARCHAR) LIKE '%' + ISNULL(@VFILTER, '') + '%'
		OR R.VNAME LIKE '%' + ISNULL(@VFILTER, '') + '%'

			)
		AND	M.DCREATED >= ISNULL(@DFROMDATE, M.DCREATED)
	    AND M.DCREATED < DATEADD(DAY, 1, ISNULL(@DUPTODATE, M.DCREATED))

	     
    ), 
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
    T3 AS (
        SELECT * FROM T1
       ORDER BY	T1.DCREATED ASC
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
    )
    SELECT T3.*, T2.TOTAL
    FROM T3, T2

END