USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_POLICIES_ACTIONS]    Script Date: 27/02/2026 14:00:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_POLICIES_ACTIONS]
 @DATA NVARCHAR(MAX),
 @IDUSER INT 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           :  
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(500),
					IDRELATED INT
				);

				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS A


				DECLARE @VACTION VARCHAR(20)
				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @VRECORD VARCHAR(20) 
				DECLARE @VACTIONRECORD VARCHAR(20)
				DECLARE @ErrorMessage NVARCHAR(4000) 
				DECLARE @IDMODULE INT 

				

				IF EXISTS (SELECT T.* FROM  @TDATA T
				INNER JOIN POLICY P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
				WHERE (T.VACTION= 'ACTIVATE' AND A.VNAME<>'CREATE')OR
				      (T.VACTION= 'UNLOCK' AND A.VNAME<>'LOCK')OR
					  (T.VACTION= 'LOCK' AND A.VNAME<>'ACTIVATE')
				       )
				BEGIN

				SELECT TOP 1 @VRECORD=P.VNUMBER, @VACTION=T.VACTION, @VACTIONRECORD=A.VNAME FROM @TDATA T
				INNER JOIN POLICY P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
				WHERE (T.VACTION= 'ACTIVATE' AND A.VNAME<>'CREATE')OR
				      (T.VACTION= 'UNLOCK' AND A.VNAME<>'LOCK')OR
					  (T.VACTION= 'LOCK' AND A.VNAME<>'ACTIVATE')
				      
				   SET @ErrorMessage ='ACCION NO PERMITIDA: '+@VRECORD
				   RAISERROR ( @ErrorMessage , 16,1) 
				   RETURN
				END


				
				   
                SELECT TOP 1 @VRECORD=P.VNUMBER, @VACTION=T.VACTION, @VACTIONRECORD=A.VNAME, @IDMODULE=T.IDMODULE FROM @TDATA T
				INNER JOIN POLICY P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID

				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

				   
				-- BLOQUEAR
				IF @VACTION='LOCK' AND @VACTIONRECORD='ACTIVATE'
				BEGIN 

				    UPDATE P
				        SET P.IESTATUS = DBO.UFN_GET_ISTATUS('LOCK'),
							P.DUPDATED = GETDATE(),
							P.DLOCKDATE = GETDATE() ,
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
							P.VOBSERVATION=P.VOBSERVATION+ ' -> '+D.VCOMMENT
					FROM POLICY P 
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS = DBO.UFN_GET_ISTATUS('ACTIVATE')

					SELECT @IUPDATED=@@ROWCOUNT

				END
                 


				-- ACTIVAR
				IF @VACTION='ACTIVATE' AND @VACTIONRECORD='CREATE'
				BEGIN
					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('ACTIVATE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
							P.DACTIVATIONDATE = GETDATE() ,
							P.DEXPIRATIONDATE =  DATEADD(MONTH, T.ITOPMONTHS, GETDATE())
					FROM POLICY P
					INNER JOIN POLICYTYPE T WITH (NOLOCK) ON T.ID=P.IDPOLICYTYPE
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('CREATE')

					
					SELECT @IUPDATED=@@ROWCOUNT

					IF @IUPDATED >=1 
						BEGIN
							EXEC USP_INSERT_POLICY_DETAILS @IDUSER
						END 
				END


				IF @VACTION='UNLOCK' AND @VACTIONRECORD='LOCK'
				BEGIN
					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('ACTIVATE'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
							P.DUNLOCKDATE=GETDATE(),
							P.VOBSERVATION=P.VOBSERVATION+' -> '+D.VCOMMENT
					FROM POLICY P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS=DBO.UFN_GET_ISTATUS('LOCK')
					SELECT @IUPDATED=@@ROWCOUNT

					IF @IUPDATED >=1 
						BEGIN
							
							UPDATE PD
							SET PD.BVALID=1
							FROM POLICYDETAILS PD
							INNER JOIN @TDATA T ON PD.IDPOLICY=T.IDRECORD
							WHERE BVALID=0 AND IDMAINTENANCE IS NOT NULL
						END 
				END

				
					
				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				IF @IUPDATED>0
				BEGIN
				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA
				END 
	
				


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END

