USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_LICENSE]    Script Date: 27/02/2026 10:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_LICENSE]-- USP_GET_LICENSE NULL,1,4069,'LSCBBZ2T7PG604411',NULL
@ID INT = NULL,
@IDUSER INT ,
@IDSUPPLIER INT =NULL,
@VFILTER VARCHAR(100) = NULL,
@IROWFROM INT = NULL

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

	 

BEGIN
    WITH T1 AS (
       SELECT M.* , L.VNAME AS VLICENSETYPE ,A.VDISPLAYESTATUS as VESTATUSNAME
        FROM LICENSE M WITH (NOLOCK)
        INNER JOIN ACTION A (NOLOCK) ON M.IESTATUS = A.ID
		INNER JOIN LICENSETYPE L (NOLOCK) ON M.IDLICENSETYPE=L.ID
        WHERE EXISTS (SELECT * FROM [dbo].[V_RELATEDS_USER] R 
						    WHERE R.IDUSER=@IDUSER 
							AND  M.IDSUPPLIER = R.IDSUPPLIER  )
		AND (
        M.VDESCRIPTION LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR EXISTS (
            SELECT 1 FROM LICENSEDETAILS LD WITH (NOLOCK)
            WHERE LD.IDLICENSE = M.ID -- Relación correcta con la campaña
            AND LD.VVIN LIKE '%' + @VFILTER + '%'
        )
        	)
	    AND ( M.ID = CASE WHEN @ID IS NUll THEN M.ID ELSE @ID END)
		AND ( M.IDSUPPLIER = CASE WHEN @IDSUPPLIER IS NUll THEN M.IDSUPPLIER ELSE @IDSUPPLIER END)
	     
    ), 
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
    T3 AS (
        SELECT * FROM T1
        ORDER BY  T1.IESTATUS ASC ,T1.DCREATED DESC
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
    )
    SELECT T3.*, T2.TOTAL
    FROM T3, T2

END

