USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_INC_BATCHCONTROL_01]    Script Date: 23/06/2026 14:31:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_INC_BATCHCONTROL_07] --USP_INC_BATCHCONTROL_07 4069
@IDSUPPLIER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

   BEGIN 
    SET NOCOUNT ON; 
    SET XACT_ABORT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;   


	-- ENVIOS PENDIENTES
	IF EXISTS ( SELECT * FROM BATCHCONTROL WITH (NOLOCK)
				WHERE IDSUPPLIER=@IDSUPPLIER AND IDBATCH=7 AND DPROCESSING IS NULL)
	OR
	-- RESPUESTAS PENDIENTES
	   EXISTS ( SELECT * FROM BATCHCONTROL WITH (NOLOCK)
				WHERE IDSUPPLIER=@IDSUPPLIER AND IDBATCH=8 AND DPROCESSING IS NULL)
	BEGIN
		RETURN
	END
	
	DECLARE @VJSON NVARCHAR(MAX)
	DECLARE @DATOS AS TABLE
	(
	IDSUPPLIER INT,
	VVIN VARCHAR(25),
	DDATE DATETIME,
	VVATSUPPLIER VARCHAR(12)
	)

	INSERT INTO @DATOS
	SELECT 
	V.IDSUPPLIER,
	V.VVIN,
	P.DACTIVATIONDATE AS DDATE,
	S.VVAT AS VVATSUPPLIER
	FROM dbo.VEHICLE AS V WITH (NOLOCK) 
	INNER JOIN POLICY P WITH (NOLOCK) ON V.ID=P.IDVEHICLE
	INNER JOIN V_SUPPLIERS AS S WITH (NOLOCK) ON S.IDSUPPLIER = V.IDSUPPLIER
	WHERE V.IDSUPPLIER=@IDSUPPLIER AND P.BCREDITASINC=0 AND DACTIVATIONDATE IS NOT NULL
	SET @VJSON=
	(
		SELECT * FROM @DATOS FOR JSON AUTO
	)

	IF @VJSON IS NOT NULL
	BEGIN
		INSERT INTO BATCHCONTROL(IDSUPPLIER,IDBATCH,DEXECUTION,VJSON)
		SELECT @IDSUPPLIER,1,GETDATE(),@VJSON
	END


END

