USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_PLATESTOASSIGN_FIGO]    Script Date: 23/06/2026 15:06:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_VEHICLE_INVOICED_FIGO]    --USP_GET_VEHICLE_INVOICED_FIGO 'J500250495'
@VSUPPLIERVAT VARCHAR(12)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         :  
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

   BEGIN 
    SET NOCOUNT ON; 
    SET XACT_ABORT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;   

	EXEC USP_INC_BATCHCONTROL_07 4069
    EXEC USP_INC_BATCHCONTROL_07 4076
	
	DECLARE @IDSUPPLIER INT =( SELECT TOP 1 IDSUPPLIER FROM V_SUPPLIERS WHERE VVAT=@VSUPPLIERVAT)
	DECLARE @DATOS AS TABLE
	(
	IDSUPPLIER INT,
	VVIN VARCHAR(25),
	DDATE DATETIME,
	VVATSUPPLIER VARCHAR(12)
	)

	DECLARE @BATCHCONTROL AS TABLE (ID INT,VJSON NVARCHAR(MAX))

	IF EXISTS (    
				SELECT * FROM BATCHCONTROL WITH (NOLOCK)
				WHERE IDSUPPLIER = @IDSUPPLIER AND IDBATCH=7 AND DPROCESSING IS NULL
				)
	BEGIN
		INSERT INTO @BATCHCONTROL
		SELECT TOP 1 ID,VJSON
		FROM BATCHCONTROL WITH (NOLOCK)
		WHERE IDSUPPLIER = @IDSUPPLIER AND IDBATCH=7 AND DPROCESSING IS NULL

		SELECT 
			j.VVIN,
			j.VVATSUPPLIER,
			j.DDATE
		FROM @BATCHCONTROL
		CROSS APPLY OPENJSON(VJSON) WITH (
			VVIN VARCHAR(25) '$.VVIN',
			VVATSUPPLIER VARCHAR(12) '$.VVATSUPPLIER',
			DDATE DATETIME '$.DDATE'
		) AS j

		-- EJECUTAR RESPUESTA EN 2 MIN
		--INSERT INTO BATCHCONTROL(IDSUPPLIER,IDBATCH,DEXECUTION,VJSON)
		--SELECT @IDSUPPLIER,2,DATEADD(MINUTE, 2, GETDATE()) ,VJSON
		--FROM @BATCHCONTROL

	END
	ELSE
	BEGIN
		SELECT * FROM @DATOS
	END

END

