USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_TRANSFER_FIGO]    Script Date: 24/06/2026 9:07:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_TRANSFER_FIGO]  
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000
   
    DECLARE @ID INT, @IDBATCH INT,@CMD NVARCHAR(100),@CMD2 NVARCHAR(10)
    -- RESPUESTAS DE FIGO
    DECLARE BATCH_RESPONSE CURSOR FOR 
		SELECT A.ID,
		CASE WHEN B.ID=6 THEN B.VSCRIPT + ' ' +CAST(A.ID AS varchar(10)) ELSE B.VSCRIPT END
		FROM BATCHCONTROL A WITH (NOLOCK)
        INNER JOIN BATCH B WITH (NOLOCK) ON B.ID=A.IDBATCH
        WHERE GETDATE()>A.DEXECUTION AND A.DPROCESSING IS NULL
		AND BRESPONSE=1
		ORDER BY A.DEXECUTION ASC
	OPEN BATCH_RESPONSE;
	FETCH NEXT FROM BATCH_RESPONSE INTO @ID,@CMD
	WHILE @@FETCH_STATUS = 0
	BEGIN

            EXEC sp_executesql @CMD

			-- esperar que se ejecute el .bat de figo
			 WAITFOR DELAY '00:00:1';

            UPDATE BATCHCONTROL SET DPROCESSING =GETDATE() WHERE ID=@ID
			
		FETCH NEXT FROM BATCH_RESPONSE INTO @ID,@CMD
	END;
	CLOSE BATCH_RESPONSE;
	DEALLOCATE BATCH_RESPONSE;

    -- CREAR ENVIOS PLACAS
	EXEC USP_INC_BATCHCONTROL_01 4069
    EXEC USP_INC_BATCHCONTROL_01 4076
	-- CREAR ENVIOS AJUSTES
	EXEC USP_INC_BATCHCONTROL_03 4069
    EXEC USP_INC_BATCHCONTROL_03 4076
	-- CREAR ENVIOS DESPACHOS.. esta queda a demanda desde figo
	--EXEC USP_INC_BATCHCONTROL_05 4069
	--EXEC USP_INC_BATCHCONTROL_05 4076

	--EXEC USP_INC_BATCHCONTROL_07 4069
 --   EXEC USP_INC_BATCHCONTROL_07 4076

	-- EJECUTAR ENVIOS A FIGO
    DECLARE BATCH_SENDINGS CURSOR FOR 
		SELECT A.ID,B.VSCRIPT FROM BATCHCONTROL A WITH (NOLOCK)
        INNER JOIN BATCH B WITH (NOLOCK) ON B.ID=A.IDBATCH
        WHERE GETDATE()>A.DEXECUTION AND A.DPROCESSING IS NULL
		AND BRESPONSE=0 AND B.ID<>5 -- DESPACHOS
		ORDER BY A.DEXECUTION ASC
	OPEN BATCH_SENDINGS;
	FETCH NEXT FROM BATCH_SENDINGS INTO @ID,@CMD
	WHILE @@FETCH_STATUS = 0
	BEGIN
             EXEC sp_executesql @CMD

			 -- esperar que se ejecute el .bat de figo
			 WAITFOR DELAY '00:00:05';

			 -- marcar el registro como enviado
             UPDATE BATCHCONTROL SET DPROCESSING =GETDATE() WHERE ID=@ID
			 
			 -- CREAR RESPUESTAS
			 EXEC USP_INC_BATCHCONTROLRESPONSE @ID
								
		FETCH NEXT FROM BATCH_SENDINGS INTO @ID,@CMD
	END;
	CLOSE BATCH_SENDINGS;
	DEALLOCATE BATCH_SENDINGS;


