USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_PLATESASSIGN_FIGO]    Script Date: 23/06/2026 15:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_VEHICLEINVOICEDASINC_FIGO]  
 @DATA VARCHAR(MAX)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
	     
		  DECLARE @IDUSER INT=1
		  DECLARE @ErrorMessage NVARCHAR(4000)
	
				DECLARE @TDATA AS TABLE
				(
					VVIN VARCHAR(20),
					VSUPPLIERVAT VARCHAR(12),
					IDSUPPLIER INT
				);

				INSERT INTO @TDATA (
					VVIN, 
					VSUPPLIERVAT
				)
				SELECT 
				    H.Vin,
					H.SupplierVat
				FROM OPENJSON(@DATA)
				WITH (
					Vin     VARCHAR(20),
					SupplierVat VARCHAR(12)
				) AS H;

			   	UPDATE A
				SET A.IDSUPPLIER = V.IDSUPPLIER
				FROM @TDATA A
				INNER JOIN V_SUPPLIERS V ON UPPER(A.VSUPPLIERVAT) = UPPER(V.VVAT)

				IF EXISTS (SELECT * FROM @TDATA WHERE ISNULL(IDSUPPLIER,0)=0)
				BEGIN
				RAISERROR('PLANTA INCORRECTA', 16, 1)
				END


	            BEGIN TRAN 

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				UPDATE P
				SET
					P.BCREDITASINC=1
				FROM POLICY P
				INNER JOIN VEHICLE V WITH (NOLOCK) ON P.IDVEHICLE=V.ID
				INNER JOIN @TDATA D ON V.VVIN=D.VVIN 
				WHERE P.BCREDITASINC=0 AND V.IDSUPPLIER=D.IDSUPPLIER 

			    SELECT @IUPDATED=@@ROWCOUNT


				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
