USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_PAYMENT_ACTIONS]    Script Date: 23/06/2026 11:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_PAYMENT_ACTIONS]
 @DATA NVARCHAR(MAX),
 @IDUSER INT 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           :  
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(500),
					IDRELATED INT
				);

				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS A


				DECLARE @VACTION VARCHAR(20)
				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @VRECORD VARCHAR(20) 
				DECLARE @VACTIONRECORD VARCHAR(20)
				DECLARE @ErrorMessage NVARCHAR(4000) 
				DECLARE @IDMODULE INT 

				SET @IDMODULE=[dbo].[UFN_GET_IDMODULE]('PAGOS-ASEGURAMIENTO') 

                SELECT TOP 1 @VACTION=T.VACTION FROM @TDATA T
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

				

				IF EXISTS (SELECT T.* FROM  @TDATA T
				INNER JOIN PAYMENT P WITH (NOLOCK) ON T.IDRECORD=P.ID
				WHERE T.VACTION= 'PROCESS' AND NOT EXISTS (SELECT * FROM PAYMENTDETAILS WHERE IDPAYMENT=T.IDRECORD)  )
				BEGIN

						SELECT TOP 1  @VACTION=T.VACTION FROM @TDATA T
						INNER JOIN PAYMENT P WITH (NOLOCK) ON T.IDRECORD=P.ID
						WHERE T.VACTION= 'PROCESS' AND NOT EXISTS (SELECT * FROM PAYMENTDETAILS WHERE IDPAYMENT=T.IDRECORD)        
						   SET @ErrorMessage ='ACCION NO PERMITIDA: DEBE CARGAR PAGOS ANTES DE PROCESAR'
						   RAISERROR ( @ErrorMessage , 16,1) 
						   RETURN
				END


				--IF EXISTS (
				--	SELECT 1
				--	FROM @TDATA T
				--	INNER JOIN PAYMENT P WITH (NOLOCK) ON T.IDRECORD = P.ID
				--	INNER JOIN PAYMENTDETAILS PD WITH (NOLOCK) ON P.ID = PD.IDPAYMENT
				--	WHERE P.VCONCEPT IN ('I', 'P', 'I-P')
				--	GROUP BY P.ID, P.NAMOUNT, P.NRATE, T.VACTION
				--	HAVING ROUND((P.NAMOUNT * NULLIF(P.NRATE, 0)), 2) > SUM(
				--		CASE 
				--			WHEN PD.IDCURRENCY = 1 THEN PD.NAMOUNT 
				--			ELSE (PD.NAMOUNT * NULLIF(P.NRATE, 0)) 
				--		END
				--	)
				--)
				--BEGIN
					

				--	SET @ErrorMessage = 'ACCION NO PERMITIDA: MONTO DE PAGOS MENOR AL DE FACTURAS'
				--	RAISERROR (@ErrorMessage, 16, 1)
				--	RETURN
				--END



				--IF EXISTS (
				--	SELECT 1
				--	FROM @TDATA T
				--	INNER JOIN PAYMENT P WITH (NOLOCK) ON T.IDRECORD = P.ID
				--	INNER JOIN PAYMENTDETAILS PD WITH (NOLOCK) ON P.ID = PD.IDPAYMENT
				--	GROUP BY P.ID, P.NAMOUNT, P.NRATE, T.VACTION
				--	HAVING ROUND((P.NAMOUNT * NULLIF(P.NRATE, 0)), 2) < SUM(
				--		CASE 
				--			WHEN PD.IDCURRENCY = 1 THEN PD.NAMOUNT 
				--			ELSE (PD.NAMOUNT * NULLIF(P.NRATE, 0)) 
				--		END
				--	)
				--)
				--BEGIN
					
				--	SET @ErrorMessage = 'ACCION NO PERMITIDA: MONTO DE PAGOS MAYOR AL DE FACTURAS'
				--	RAISERROR (@ErrorMessage, 16, 1)
				--	RETURN
				--END



			 
				IF EXISTS (SELECT T.* FROM  @TDATA T
				INNER JOIN PAYMENT P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN PAYMENTDETAILS PM WITH (NOLOCK) ON P.ID=PM.IDPAYMENT
				WHERE T.VACTION= 'PROCESS' AND NOT EXISTS (SELECT * FROM ATTACHMENT A WITH (NOLOCK) WHERE PM.ID=A.IDRECORD AND IDMODULE=@IDMODULE)  )
				BEGIN
				SELECT TOP 1  @VACTION=T.VACTION FROM @TDATA T
				INNER JOIN PAYMENT P WITH (NOLOCK) ON T.IDRECORD=P.ID
				WHERE T.VACTION= 'PROCESS' AND NOT EXISTS (SELECT * FROM PAYMENTDETAILS WHERE IDPAYMENT=T.IDRECORD AND IDMODULE=@IDMODULE)        
				   SET @ErrorMessage ='ACCION NO PERMITIDA: DEBE CARGAR COMPROBANTE DE TODOS LOS PAGOS ANTES DE PROCESAR'
				   RAISERROR ( @ErrorMessage , 16,1) 
				   RETURN
				END

				

				   
				-- BLOQUEAR
				IF @VACTION='PROCESS' 
				BEGIN 

				    UPDATE PD
				        SET PD.IDSTATUS = DBO.UFN_GET_ISTATUS('TOAPPROVE')
					FROM PAYMENTDETAILS PD 
					INNER JOIN PAYMENT P WITH (NOLOCK)  ON PD.IDPAYMENT=P.ID
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID
					INNER JOIN PAYMENTTYPE PT WITH (NOLOCK) ON PD.IDTYPE=PT.ID
					WHERE PD.IDSTATUS=DBO.UFN_GET_ISTATUS('CREATE')

					SELECT @IUPDATED=@@ROWCOUNT


					IF @IUPDATED >0 
					BEGIN
						UPDATE A
						SET A.IDTRANSACTIONSTATUS=DBO.UFN_GET_ISTATUS('TRANSIT')
						FROM ACCOUNTRECEIVABLE A 
						INNER JOIN SETTLEMENTS S WITH (NOLOCK) ON A.ID=S.IDACCOUNTRECEIVABLE
						INNER JOIN @TDATA T ON S.IDPAYMENT=T.IDRECORD
					END

				END	
					
				EXEC USP_CHECK_BANKSTATEMENT_FIGO

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				IF @IUPDATED>0
				BEGIN
				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA
				END 
 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END

