USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_MOUNT_PAYMENT]    Script Date: 22/06/2026 17:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_MOUNT_PAYMENT]--USP_MOUNT_PAYMENT 30,1
@IDPAYMENT INT,
@IDUSER INT
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/


SET NOCOUNT ON;
BEGIN
   
			    DECLARE @TOTAL NUMERIC(18,2),
						@NRATE NUMERIC (18,4),
						@SALDO NUMERIC(18,2);

				  --------------SELECCION DE TASA --------------
				 SET @NRATE = (SELECT NRATE FROM PAYMENT WITH (NOLOCK) WHERE ID=@IDPAYMENT)
	       
			     -------------------------CALCULO DE TOTAL PAGADO-------------------------------------
				 SET @TOTAL = (SELECT  SUM( CASE WHEN C.VNAME ='$ - Dolar'  THEN PD.NAMOUNT ELSE (PD.NAMOUNT / NULLIF(@NRATE, 0)) END)
										FROM PAYMENTDETAILS PD WITH (NOLOCK)
										LEFT JOIN CURRENCY C  WITH (NOLOCK) ON PD.IDCURRENCY=C.ID 
										WHERE IDPAYMENT=@IDPAYMENT AND IDSTATUS<>DBO.UFN_GET_ISTATUS('DECLINE') )	

				-- INGRESAR EL TOTAL EN TABLA PAYMENT
				UPDATE PAYMENT SET NPAIDAMOUNT=@TOTAL WHERE ID=@IDPAYMENT
				 ----------------------------CALCULO TOTAL PAGADO------------------------------------------
				UPDATE S
				SET S.NPAIDAMOUNT = CASE 
										WHEN T.VCONCEPT='B' AND ISNULL(S.NPAIDAMOUNT,0)=0 THEN  T.NBALANCE
										WHEN T.VCONCEPT IN ('I','P') AND ISNULL(S.NPAIDAMOUNT,0)=0 THEN  (T.NBALANCE*@NRATE)
										WHEN T.VCONCEPT='R' AND ISNULL(S.NPAIDAMOUNT,0)=0 THEN  CAST((T.NBALANCE * T.NRATE) AS DECIMAL(18,2))
										ELSE S.NPAIDAMOUNT END
				FROM SETTLEMENTS S
				INNER JOIN ACCOUNTRECEIVABLE T ON T.ID = S.IDACCOUNTRECEIVABLE
				WHERE S.IDPAYMENT=@IDPAYMENT
			    
         
	   
END
