USE [SODA]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_REPORTS_REP012] -- [USP_GET_REPORTS_REP012] 1,4069,0,''
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : GERARDO JIMENEZ
  '   CREADO PARA           : 
  '   FUNCIÓN               : REPORTE CON DATA CONSOLIDADA PARA PLANIFICACIÓN DE NECESIDADES
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

BEGIN
    SET NOCOUNT ON;

    DECLARE @OFFSET INT = ISNULL(@IROWFROM, 0)
    DECLARE @FETCH INT = CASE WHEN @IROWFROM IS NULL THEN 1000000 ELSE 100 END
    DECLARE @SQL NVARCHAR(MAX)

    SET @SQL = '
    SELECT 
        O.VINNERCODE AS CODIGO,
        O.VDESCRIPTION AS DESCRIPCION,
        O.NCOST AS COSTO,
        O.VREPLACEMENTCODE AS CODIGO_SUSTITUTO,
        PT.VNAME AS FAMILIA,
        O.VRATING AS CLASIFICACION,
        O.ITRANSIT AS TRANSITO,
        ISNULL(SUM(I.ISTOCK), 0) AS TOTAL_STOCK,
        ISNULL(B.TOTAL_BACKORDER, 0) AS TOTAL_BACKORDER,
        ISNULL(V.NET_SALES, 0) + ISNULL(D.TOTAL_DEMAND, 0) AS SUMA_T_DEMANDA_VENTA,
        ISNULL(H.IHITS, 0) AS TOTAL_HITS,
        ISNULL(D.TOTAL_DEMAND, 0) AS TOTAL_DEMANDA_I,
        ISNULL(DM.MES_0, 0) AS [D_' + dbo.UFN_GET_MONTHYEAR(0) + '],
        ISNULL(DM.MES_1, 0) AS [D_' + dbo.UFN_GET_MONTHYEAR(-1) + '],
        ISNULL(DM.MES_2, 0) AS [D_' + dbo.UFN_GET_MONTHYEAR(-2) + '],
        ISNULL(DM.MES_3, 0) AS [D_' + dbo.UFN_GET_MONTHYEAR(-3) + '],
        ISNULL(DM.MES_4, 0) AS [D_' + dbo.UFN_GET_MONTHYEAR(-4) + '],
        ISNULL(DM.MES_5, 0) AS [D_' + dbo.UFN_GET_MONTHYEAR(-5) + '],
        ISNULL(DM.MES_6, 0) AS [D_' + dbo.UFN_GET_MONTHYEAR(-6) + '],
        ISNULL(DM.MES_7, 0) AS [D_' + dbo.UFN_GET_MONTHYEAR(-7) + '],
        ISNULL(DM.MES_8, 0) AS [D_' + dbo.UFN_GET_MONTHYEAR(-8) + '],
        ISNULL(DM.MES_9, 0) AS [D_' + dbo.UFN_GET_MONTHYEAR(-9) + '],
        ISNULL(DM.MES_10, 0) AS [D_' + dbo.UFN_GET_MONTHYEAR(-10) + '],
        ISNULL(DM.MES_11, 0) AS [D_' + dbo.UFN_GET_MONTHYEAR(-11) + '],
        ISNULL(DM.MES_12, 0) AS [D_' + dbo.UFN_GET_MONTHYEAR(-12) + '],
        ISNULL(V.NET_SALES, 0) AS TOTAL_VENTAS,
        ISNULL(VM.MES_0_VENTAS, 0) AS [V_' + dbo.UFN_GET_MONTHYEAR(0) + '],
        ISNULL(VM.MES_1_VENTAS, 0) AS [V_' + dbo.UFN_GET_MONTHYEAR(-1) + '],
        ISNULL(VM.MES_2_VENTAS, 0) AS [V_' + dbo.UFN_GET_MONTHYEAR(-2) + '],
        ISNULL(VM.MES_3_VENTAS, 0) AS [V_' + dbo.UFN_GET_MONTHYEAR(-3) + '],
        ISNULL(VM.MES_4_VENTAS, 0) AS [V_' + dbo.UFN_GET_MONTHYEAR(-4) + '],
        ISNULL(VM.MES_5_VENTAS, 0) AS [V_' + dbo.UFN_GET_MONTHYEAR(-5) + '],
        ISNULL(VM.MES_6_VENTAS, 0) AS [V_' + dbo.UFN_GET_MONTHYEAR(-6) + '],
        ISNULL(VM.MES_7_VENTAS, 0) AS [V_' + dbo.UFN_GET_MONTHYEAR(-7) + '],
        ISNULL(VM.MES_8_VENTAS, 0) AS [V_' + dbo.UFN_GET_MONTHYEAR(-8) + '],
        ISNULL(VM.MES_9_VENTAS, 0) AS [V_' + dbo.UFN_GET_MONTHYEAR(-9) + '],
        ISNULL(VM.MES_10_VENTAS, 0) AS [V_' + dbo.UFN_GET_MONTHYEAR(-10) + '],
        ISNULL(VM.MES_11_VENTAS, 0) AS [V_' + dbo.UFN_GET_MONTHYEAR(-11) + '],
        ISNULL(VM.MES_12_VENTAS, 0) AS [V_' + dbo.UFN_GET_MONTHYEAR(-12) + '],

        COUNT (*) OVER() AS TOTAL
    FROM PART O WITH (NOLOCK)
    LEFT JOIN INVENTORY I WITH (NOLOCK) ON I.IDPART = O.ID
    LEFT JOIN FAMILY PT WITH (NOLOCK) ON PT.ID = O.IDFAMILY
    LEFT JOIN (
        SELECT S.IDPART, SUM(B.IBACKORDER) AS TOTAL_BACKORDER
        FROM SALEORDERDETAIL S WITH (NOLOCK)
        INNER JOIN BACKORDER B ON B.IDSALEORDERDETAIL = S.ID
        INNER JOIN SALEORDER O2 WITH (NOLOCK) ON O2.ID = B.IDSALEORDER
        INNER JOIN SALEORDERTYPE T WITH (NOLOCK) ON T.ID = O2.IDTYPE
        WHERE T.VNAME NOT IN (''ESPECIAL'', ''PROMOCION'')
        GROUP BY S.IDPART
    ) B ON B.IDPART = O.ID
    LEFT JOIN (
        SELECT VINNERCODE, SUM(IQUANTITY) AS TOTAL_DEMAND
        FROM DEMAND WITH (NOLOCK)
        WHERE DCREATED >= DATEADD(MONTH, -12, GETDATE())
        GROUP BY VINNERCODE
    ) D ON D.VINNERCODE = O.VINNERCODE
    LEFT JOIN (
        SELECT VINNERCODE,
            SUM(CASE WHEN DATEDIFF(MONTH, DCREATED, GETDATE()) = 0 THEN IQUANTITY ELSE 0 END) AS MES_0,
            SUM(CASE WHEN DATEDIFF(MONTH, DCREATED, GETDATE()) = 1 THEN IQUANTITY ELSE 0 END) AS MES_1,
            SUM(CASE WHEN DATEDIFF(MONTH, DCREATED, GETDATE()) = 2 THEN IQUANTITY ELSE 0 END) AS MES_2,
            SUM(CASE WHEN DATEDIFF(MONTH, DCREATED, GETDATE()) = 3 THEN IQUANTITY ELSE 0 END) AS MES_3,
            SUM(CASE WHEN DATEDIFF(MONTH, DCREATED, GETDATE()) = 4 THEN IQUANTITY ELSE 0 END) AS MES_4,
            SUM(CASE WHEN DATEDIFF(MONTH, DCREATED, GETDATE()) = 5 THEN IQUANTITY ELSE 0 END) AS MES_5,
            SUM(CASE WHEN DATEDIFF(MONTH, DCREATED, GETDATE()) = 6 THEN IQUANTITY ELSE 0 END) AS MES_6,
            SUM(CASE WHEN DATEDIFF(MONTH, DCREATED, GETDATE()) = 7 THEN IQUANTITY ELSE 0 END) AS MES_7,
            SUM(CASE WHEN DATEDIFF(MONTH, DCREATED, GETDATE()) = 8 THEN IQUANTITY ELSE 0 END) AS MES_8,
            SUM(CASE WHEN DATEDIFF(MONTH, DCREATED, GETDATE()) = 9 THEN IQUANTITY ELSE 0 END) AS MES_9,
            SUM(CASE WHEN DATEDIFF(MONTH, DCREATED, GETDATE()) = 10 THEN IQUANTITY ELSE 0 END) AS MES_10,
            SUM(CASE WHEN DATEDIFF(MONTH, DCREATED, GETDATE()) = 11 THEN IQUANTITY ELSE 0 END) AS MES_11,
            SUM(CASE WHEN DATEDIFF(MONTH, DCREATED, GETDATE()) = 12 THEN IQUANTITY ELSE 0 END) AS MES_12
        FROM DEMAND WITH (NOLOCK)
        WHERE DCREATED >= DATEADD(MONTH, -12, GETDATE())
        GROUP BY VINNERCODE
    ) DM ON DM.VINNERCODE = O.VINNERCODE
    LEFT JOIN V_SALESFIGO V WITH (NOLOCK) 
        ON V.VINNERCODE = O.VINNERCODE 
        AND V.IDSUPPLIER = O.IDSUPPLIER
    LEFT JOIN (
        SELECT VINNERCODE,
            IDSUPPLIER,
            SUM(CASE WHEN DATEDIFF(MONTH, DINVOICEDATE, GETDATE()) = 0 THEN IQUANTITY ELSE 0 END) AS MES_0_VENTAS,
            SUM(CASE WHEN DATEDIFF(MONTH, DINVOICEDATE, GETDATE()) = 1 THEN IQUANTITY ELSE 0 END) AS MES_1_VENTAS,
            SUM(CASE WHEN DATEDIFF(MONTH, DINVOICEDATE, GETDATE()) = 2 THEN IQUANTITY ELSE 0 END) AS MES_2_VENTAS,
            SUM(CASE WHEN DATEDIFF(MONTH, DINVOICEDATE, GETDATE()) = 3 THEN IQUANTITY ELSE 0 END) AS MES_3_VENTAS,
            SUM(CASE WHEN DATEDIFF(MONTH, DINVOICEDATE, GETDATE()) = 4 THEN IQUANTITY ELSE 0 END) AS MES_4_VENTAS,
            SUM(CASE WHEN DATEDIFF(MONTH, DINVOICEDATE, GETDATE()) = 5 THEN IQUANTITY ELSE 0 END) AS MES_5_VENTAS,
            SUM(CASE WHEN DATEDIFF(MONTH, DINVOICEDATE, GETDATE()) = 6 THEN IQUANTITY ELSE 0 END) AS MES_6_VENTAS,
            SUM(CASE WHEN DATEDIFF(MONTH, DINVOICEDATE, GETDATE()) = 7 THEN IQUANTITY ELSE 0 END) AS MES_7_VENTAS,
            SUM(CASE WHEN DATEDIFF(MONTH, DINVOICEDATE, GETDATE()) = 8 THEN IQUANTITY ELSE 0 END) AS MES_8_VENTAS,
            SUM(CASE WHEN DATEDIFF(MONTH, DINVOICEDATE, GETDATE()) = 9 THEN IQUANTITY ELSE 0 END) AS MES_9_VENTAS,
            SUM(CASE WHEN DATEDIFF(MONTH, DINVOICEDATE, GETDATE()) = 10 THEN IQUANTITY ELSE 0 END) AS MES_10_VENTAS,
            SUM(CASE WHEN DATEDIFF(MONTH, DINVOICEDATE, GETDATE()) = 11 THEN IQUANTITY ELSE 0 END) AS MES_11_VENTAS,
            SUM(CASE WHEN DATEDIFF(MONTH, DINVOICEDATE, GETDATE()) = 12 THEN IQUANTITY ELSE 0 END) AS MES_12_VENTAS
        FROM SALESFIGO WITH (NOLOCK)
        WHERE IDSUPPLIER = @IDSUPPLIER 
        AND DINVOICEDATE >= DATEADD(MONTH, -12, GETDATE()) 
        GROUP BY VINNERCODE, IDSUPPLIER
    ) VM ON VM.VINNERCODE = O.VINNERCODE AND VM.IDSUPPLIER = O.IDSUPPLIER
    LEFT JOIN V_HITS H ON H.IDPART = O.ID AND H.IDSUPPLIER = O.IDSUPPLIER
    WHERE 
        (@IDSUPPLIER = 0 OR O.IDSUPPLIER = @IDSUPPLIER)
        AND (@VFILTER IS NULL 
             OR O.VINNERCODE LIKE ''%'' + @VFILTER + ''%''
             OR O.VDESCRIPTION LIKE ''%'' + @VFILTER + ''%'')
    GROUP BY 
        O.VINNERCODE, O.VDESCRIPTION, O.NCOST, O.VREPLACEMENTCODE,
        O.IDFAMILY,O.VRATING, O.ITRANSIT, B.TOTAL_BACKORDER,PT.VNAME,
        DM.MES_0, DM.MES_1, DM.MES_2, DM.MES_3, DM.MES_4, DM.MES_5,
        DM.MES_6, DM.MES_7, DM.MES_8, DM.MES_9, DM.MES_10, DM.MES_11, DM.MES_12,
        V.NET_SALES,
        VM.MES_0_VENTAS, VM.MES_1_VENTAS, VM.MES_2_VENTAS, VM.MES_3_VENTAS,
        VM.MES_4_VENTAS, VM.MES_5_VENTAS, VM.MES_6_VENTAS, VM.MES_7_VENTAS,
        VM.MES_8_VENTAS, VM.MES_9_VENTAS, VM.MES_10_VENTAS, VM.MES_11_VENTAS,VM.MES_12_VENTAS,
        D.TOTAL_DEMAND,H.IHITS
    ORDER BY O.VDESCRIPTION
    OFFSET ' + CAST(@OFFSET AS VARCHAR(10)) + ' ROWS
    FETCH NEXT ' + CAST(@FETCH AS VARCHAR(10)) + ' ROWS ONLY'

    EXEC sp_executesql @SQL, 
        N'@IDSUPPLIER INT, @VFILTER VARCHAR(100)',
        @IDSUPPLIER, @VFILTER
END
GO