USE [OASIS]
GO
/****** Objeto: StoredProcedure [dbo].[USP_GET_INTT_PLANTA_LIST] Fecha de script: 18/8/2026 8:31:39 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- USP_GET_INTT_PLANTA_LIST 0,0,4069,0,null,null,null,null,'PENDIENTES'
ALTER PROCEDURE [dbo].[USP_GET_INTT_PLANTA_LIST] 
@IDUSER INT,  
@IDDEALER INT = NULL,      
@IDSUPPLIER INT = NULL,
@IROWFROM INT = NULL, 
@VFILTER VARCHAR(100) = NULL, 
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL, 
@IDESTATUS INT = NULL,        
@VTIPO VARCHAR(20) = NULL

/* '===============================================================          
  '   NOMBRE                : USP_GET_INTT_PLANTA_LIST
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : GERARDO JIMENEZ 
  '   CREADO PARA           : 
  '   FUNCIÓN               : 
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/


AS
SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

DECLARE @TOPE INT
DECLARE @BTXT BIT


	DECLARE @IDUSER2     INT  
	DECLARE @IDSUPPLIER2 INT
	DECLARE @IDDEALER2 INT
	DECLARE @IROWFROM2   INT
	DECLARE @VFILTER2    VARCHAR(100)
	DECLARE @DFROMDATE2  DATETIME
	DECLARE @DUPTODATE2  DATETIME
    DECLARE @VTIPO2 VARCHAR(20)

	SELECT @IDUSER2=@IDUSER,@IDSUPPLIER2=@IDSUPPLIER,@IROWFROM2=@IROWFROM,
	@VFILTER2=@VFILTER,@DFROMDATE2=@DFROMDATE,@DUPTODATE2=@DUPTODATE,@IDDEALER2=ISNULL(@IDDEALER,0),
    @VTIPO2=@VTIPO

IF @IROWFROM2 IS NULL
BEGIN
    SET @BTXT=1
    SET @TOPE=1000000
    SET @IROWFROM2=0
END
ELSE
BEGIN
    SET @TOPE=100
END

SELECT @VFILTER2= ISNULL(@VFILTER2,'')
DECLARE @FechaInicio DATETIME = DATEADD(DAY, -360, GETDATE());
SELECT @DFROMDATE2 = CONVERT(VARCHAR(10),isnull(@DFROMDATE2,getdate()-30),120)
SELECT @DUPTODATE2 = CONVERT(VARCHAR(10),isnull(@DUPTODATE2,getdate()+1),120)

DECLARE @LIKEFILTER VARCHAR(100)
SELECT @LIKEFILTER = '%'+@VFILTER2+'%'

DECLARE @VVAT VARCHAR(10)
DECLARE @VRAZON VARCHAR(50)
DECLARE @VNROENVIO VARCHAR(07)
DECLARE @VREGISTRO VARCHAR(08)
DECLARE @VFECHAENVIO VARCHAR(14)

SELECT @VVAT=VVAT, @VRAZON=VSUPPLIER,
       @VREGISTRO=CASE WHEN IDSUPPLIER=4069 THEN 'LRMSL106' ELSE 'YYMMM108' END
FROM V_SUPPLIERS WHERE IDSUPPLIER=@IDSUPPLIER2

SELECT @VFECHAENVIO=REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(20),GETDATE(),120),'-',''),' ',''),':','')

IF @BTXT =1 
BEGIN
    EXEC USP_ACT_SECUENCE 'INTT_PLANTA', @VNROENVIO OUT 

    SELECT X.DATOS, X.VVIN  
    FROM (
        SELECT 
            1 AS ORDEN,
            REPLACE(CONVERT(VARCHAR(10),GETDATE(),120),'-','') AS FECHA,
            'RE'
            +CASE WHEN @IDSUPPLIER=4069 THEN 'EE' ELSE 'CO' END
            +RIGHT('0000000'+CAST(@VNROENVIO AS VARCHAR(07)), 07)
            +RIGHT('00000000000000'+@VFECHAENVIO, 14)
            +LEFT(@VRAZON + SPACE(50), 50)
            +RIGHT('00000000'+@VREGISTRO, 08)
            +REPLACE(CONVERT(VARCHAR(10),GETDATE(),120),'-','')
            +LEFT('' + SPACE(230), 230)
            +'*' AS DATOS,
            '' AS VVIN
        UNION ALL
        SELECT 
            2 AS ORDEN,
            T.DSELLINVOICEDATE AS FECHA,
            UPPER(
            T.VTIPO_MOV+T.VRECORD_NUMBER+T.VUPDATE_NUMBER+T.VBRAND+
            T.VSERIE+T.VMODEL+T.VMODELYEAR+T.VVIN+T.VSERIAL+T.VPLATE+T.VCOLOR1+T.VCOLOR2+
            T.VWEIGHT+T.VCAPACITYTYPE+T.VCAPACITY+T.VAXLENUMBER+T.VWHEELDIAMETER+T.VCLASS+T.VTYPE+T.VUSE+T.VCERTIFICATEDATE+
            T.VRIF+T.VPORT+T.VFILENUMBER+T.DFILEDATE+T.VINVOICENUMBER+T.DINVOICEDATE+T.VCERTIFICATENUMBER+T.VMANUFACTUREYEAR+
            T.VSERIALVIN+T.VSERIALCHASIS+T.VSELLINVOICENUMBER+T.VSELLINVOICEDATE+T.VHOMONUMBER+
            T.VHOMODATE+T.VSERVICE+T.VSEATSNUMBER+T.VRAFANUMBER+T.VRAFADATE+T.VRAFASEC+T.VSERIALCARRO+T.VFUELTYPE
            ) AS DATOS,
            T.VVIN
        FROM V_TXTSUPPLIER T
        INNER JOIN VEHICLE VEH WITH (NOLOCK) ON VEH.VVIN = T.VVIN AND VEH.IDSUPPLIER = T.IDSUPPLIER
        WHERE T.IDSUPPLIER = @IDSUPPLIER2
        AND T.DSELLINVOICEDATE >= @DFROMDATE2
        AND T.DSELLINVOICEDATE < @DUPTODATE2
        AND (@VFILTER2 = '' OR T.VVIN LIKE @LIKEFILTER OR T.VPLATE LIKE @LIKEFILTER)
        AND (
               (@VTIPO2 = 'PENDIENTES' AND (VEH.VNUMBERPLANTATXT IS NULL OR VEH.VNUMBERPLANTATXT = '' OR VEH.VNUMBERPLANTATXT = '0'))
            OR (@VTIPO2 = 'GENERADOS' AND VEH.VNUMBERPLANTATXT IS NOT NULL AND VEH.VNUMBERPLANTATXT != '' AND VEH.VNUMBERPLANTATXT != '0')
            OR @VTIPO2 IS NULL
        )
        UNION ALL
        SELECT 
            3 AS ORDEN,
            REPLACE(CONVERT(VARCHAR(10),GETDATE(),120),'-','') AS FECHA,
            'RC'+RIGHT('0000000' + CAST(T.TOTAL AS VARCHAR(5)), 07)+'00000000000000' AS DATOS,
            '' AS VVIN
        FROM (
            SELECT COUNT(*) AS TOTAL
            FROM V_TXTSUPPLIER T
            INNER JOIN VEHICLE VEH WITH (NOLOCK) ON VEH.VVIN = T.VVIN AND VEH.IDSUPPLIER = T.IDSUPPLIER
            WHERE T.IDSUPPLIER = @IDSUPPLIER2
            AND T.DSELLINVOICEDATE >= @DFROMDATE2
            AND T.DSELLINVOICEDATE < @DUPTODATE2
            AND (@VFILTER2 = '' OR T.VVIN LIKE @LIKEFILTER OR T.VPLATE LIKE @LIKEFILTER)
            AND (
                   (@VTIPO2 = 'PENDIENTES' AND VEH.VNUMBERPLANTATXT = '')
                OR (@VTIPO2 = 'GENERADOS' AND VEH.VNUMBERPLANTATXT != '')
            )
        ) T
    ) X
    ORDER BY X.ORDEN, X.FECHA
END
ELSE
BEGIN
    SELECT 
    VEH.ID AS ID, 
    T.VTIPO_MOV,
    T.VRECORD_NUMBER,
    T.VUPDATE_NUMBER,
    T.VBRAND,
    T.VSERIE,
    T.VMODEL,
    T.VMODELYEAR,
    T.VVIN,
    T.VSERIAL,
    T.VPLATE,
    T.VCOLOR1,
    T.VCOLOR2,
    T.VWEIGHT,
    T.VCAPACITYTYPE,
    T.VCAPACITY,
    T.VAXLENUMBER,
    T.VWHEELDIAMETER,
    T.VCLASS,
    T.VTYPE,
    T.VUSE,
    T.VCERTIFICATEDATE,
    T.VRIF,
    T.VPORT,
    T.VFILENUMBER,
    T.DFILEDATE,
    T.VINVOICENUMBER,
    T.DINVOICEDATE,
    T.VCERTIFICATENUMBER,
    T.VMANUFACTUREYEAR,
    T.VSERIALVIN,
    T.VSERIALCHASIS,
    T.VSELLINVOICENUMBER,
    T.VSELLINVOICEDATE,
    T.VHOMONUMBER,
    T.VHOMODATE,
    T.VSERVICE,
    T.VSEATSNUMBER,
    T.VRAFANUMBER,
    T.VRAFADATE,
    T.VRAFASEC,
    T.VSERIALCARRO,
    T.VFUELTYPE,
    VEH.VNUMBERPLANTATXT,
    COUNT(*) OVER() AS TOTAL
    FROM V_TXTSUPPLIER T
    INNER JOIN VEHICLE VEH WITH (NOLOCK) ON VEH.IDSUPPLIER = T.IDSUPPLIER AND VEH.VVIN = T.VVIN 
    WHERE T.IDSUPPLIER = @IDSUPPLIER2
    AND T.DSELLINVOICEDATE >= @DFROMDATE2
    AND T.DSELLINVOICEDATE < @DUPTODATE2
    AND (@VFILTER2 = '' OR T.VVIN LIKE @LIKEFILTER OR T.VPLATE LIKE @LIKEFILTER)
   AND (
                   (@VTIPO2 = 'PENDIENTES' AND VEH.VNUMBERPLANTATXT = '')
                OR (@VTIPO2 = 'GENERADOS' AND VEH.VNUMBERPLANTATXT != '')
            )
    ORDER BY T.VSELLINVOICEDATE DESC
    OFFSET @IROWFROM2 ROWS
    FETCH NEXT @TOPE ROWS ONLY
END