USE [OASIS]
GO
/****** Objeto: StoredProcedure [dbo].[USP_ACT_SECUENCE] Fecha de script: 17/8/2026 11:23:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_ACT_SECUENCE]    
(    
  @VCODE AS VARCHAR(15), @INUMERO AS INT OUTPUT  
)    
AS    
/*    
  
*/    
SET NOCOUNT ON    
DECLARE @IMAXIMO AS INT    
DECLARE @ERRORMESSAGE NVARCHAR(4000)      
DECLARE @ERRORSEVERITY INT      
DECLARE @ERRORSTATE INT      
      
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE      
    
BEGIN TRY    
BEGIN TRAN    
    
  SELECT    
    @INUMERO = INUMBER
  FROM SECUENCE    
  WHERE VCODE = @VCODE

      
  IF ISNULL(@INUMERO,0) = 0    
    BEGIN    
  
      SET @ERRORMESSAGE = 'El correlativo no existe'    
      SET @ERRORSEVERITY = 16   
      SET @ERRORSTATE = 1    
      GOTO ERROR    
              
    END    
    
	UPDATE A1    
	SET A1.INUMBER = A1.INUMBER + 1  
	FROM SECUENCE A1    
	WHERE A1.VCODE = @VCODE 

    
COMMIT TRAN    
END TRY    
    
BEGIN CATCH    
    
  SET @ERRORMESSAGE = 'ERROR ' + CAST(ERROR_NUMBER() AS VARCHAR(10)) + '. LINEA ' + CAST(ERROR_LINE() AS VARCHAR(10)) + '. ' + ERROR_MESSAGE()    
  SET @ERRORSEVERITY = ERROR_SEVERITY()      
  SET @ERRORSTATE = ERROR_STATE()      
  GOTO ERROR    
  
    
END CATCH    
    
SET NOCOUNT OFF    
    
RETURN  
ERROR:  
  IF XACT_STATE() <> 0 ROLLBACK TRAN  
  RAISERROR (@ERRORMESSAGE, @ERRORSEVERITY, @ERRORSTATE)  