USE [SODA]
GO
/****** Objeto: StoredProcedure [dbo].[USP_GET_PRINTQUEUE] Fecha de script: 9/9/2026 10:52:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_PRINTQUEUE] -- [USP_GET_PRINTQUEUE] 'Zebra LP2844',1;

@VPRINTER varchar(max) = null,
@BPAIR BIT
--INSERT INTO [SODA].[dbo].[PRINTQUEUE](VTYPE, IDRECORD) SELECT 'PK', 114


AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :GERARDO JIMENEZ
  '   RAZÓN DE MODIFICACIÓN :Se agregó la variable @IDPRINTER para filtrar       
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


 
DECLARE @IDSUPPLIER INT = NULL;
DECLARE @IDPRINTER INT = NULL;
DECLARE @VSUPPLIER VARCHAR(150)
DECLARE @DATA AS TABLE (
IROW INT IDENTITY,
VTYPE VARCHAR(2),
ID INT,
VCODE VARCHAR(35),
VDESCRIPTION VARCHAR(150),
IDPAIR INT,
VCODEPAIR VARCHAR(35),
VDESCRIPTIONPAIR VARCHAR(150),
VNOTE VARCHAR(20),
VNOTEPAIR VARCHAR(20)
)

DECLARE @DATAALL AS TABLE (IROW INT IDENTITY,ID INT,VTYPE VARCHAR(2),VCODE VARCHAR(35),VDESCRIPTION VARCHAR(150),VNOTE VARCHAR(20))
DECLARE @DATAEVENS AS TABLE (IROW INT IDENTITY,ID INT,VTYPE VARCHAR(2),VCODE VARCHAR(35),VDESCRIPTION VARCHAR(150),VNOTE VARCHAR(20))
DECLARE @DATAODDS AS TABLE (IROW INT IDENTITY,ID INT,VTYPE VARCHAR(2),VCODE VARCHAR(35),VDESCRIPTION VARCHAR(150),VNOTE VARCHAR(20))

IF @VPRINTER IS NOT NULL
BEGIN
    SELECT TOP 1 
        @IDSUPPLIER = IDSUPPLIER,
        @IDPRINTER = ID
    FROM PRINTER with (NOLOCK)
    WHERE PRINTER = @VPRINTER;
END

SELECT @VSUPPLIER=VSUPPLIER FROM V_SUPPLIERS WHERE IDSUPPLIER=@IDSUPPLIER

BEGIN
-- CONVERT(VARCHAR(20),GETDATE(),120) AS DPRINTED

	DECLARE @TOP INT
	SELECT @TOP =  CASE WHEN @BPAIR=1 THEN 200 ELSE 100 END

	
	-- UBICACIONES
	BEGIN
		WITH T1 as
		(
			SELECT  P.VTYPE, P.ID,
			UPPER(L.VNAME) as VCODE, 
			UPPER(dbo.UFN_QUITARCARACTERESESPECIALES(L.VNAME)) as VDESCRIPTION
			FROM PRINTQUEUE P WITH (NOLOCK) 
			inner join [LOCATION] L WITH (NOLOCK) ON P.IDRECORD = L.ID 
			INNER JOIN [ZONE] Z WITH (NOLOCK) ON z.ID = L.IDZONE
			INNER JOIN [WAREHOUSE] W WITH (NOLOCK) ON W.ID = z.IDWAREHOUSE
			WHERE P.DPRINTED IS NULL AND
			W.IDSUPPLIER = @IDSUPPLIER AND
			P.VTYPE = 'L' AND
			(@IDPRINTER IS NULL OR P.IDPRINTER = @IDPRINTER)
		),
		T2 AS (
			SELECT * FROM T1
			ORDER BY T1.VCODE
			OFFSET 0 ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
			FETCH NEXT @TOP ROWS ONLY
		)

		INSERT INTO @DATAALL (VTYPE,ID,VCODE,VDESCRIPTION)
		SELECT T2.VTYPE, T2.ID, T2.VCODE, T2.VDESCRIPTION FROM T2;
	END

	IF NOT EXISTS (SELECT * FROM @DATAALL)
	BEGIN

		-- REPUESTOS
		WITH T1 as
		(
			SELECT P.VTYPE,  P.ID,
			UPPER(A.VINNERCODE) as VCODE, 
			UPPER(dbo.UFN_QUITARCARACTERESESPECIALES( A.VDESCRIPTION)) as VDESCRIPTION
			FROM PRINTQUEUE P WITH (NOLOCK) 
			inner join [PART] A WITH (NOLOCK) ON P.IDRECORD = A.ID
			WHERE P.DPRINTED IS NULL AND
			A.IDSUPPLIER = @IDSUPPLIER AND
			P.VTYPE = 'P' AND
			(@IDPRINTER IS NULL OR P.IDPRINTER = @IDPRINTER)
		),
		T2 AS (
			SELECT * FROM T1
			ORDER BY T1.VCODE
			OFFSET 0 ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
			FETCH NEXT @TOP ROWS ONLY
		)
		INSERT INTO @DATAALL (VTYPE,ID,VCODE,VDESCRIPTION)
		SELECT T2.VTYPE, T2.ID, T2.VCODE, T2.VDESCRIPTION FROM T2;

	END

	IF NOT EXISTS (SELECT * FROM @DATAALL)
	BEGIN

		INSERT INTO @DATAALL (VTYPE,ID,VCODE,VDESCRIPTION,VNOTE)
		SELECT TOP 100 P.VTYPE, P.ID,
		UPPER(PK.VCODE) as VCODE, 
		UPPER(dbo.UFN_QUITARCARACTERESESPECIALES( PK.VCUSTOMER )) as VDESCRIPTION,
		CAST (PK.NWEIGHT AS VARCHAR(10))
		FROM PRINTQUEUE P WITH (NOLOCK) 
		inner join V_PACKAGE PK WITH (NOLOCK) ON P.IDRECORD = PK.ID
		WHERE P.DPRINTED IS NULL AND
		PK.IDSUPPLIER = @IDSUPPLIER AND
		P.VTYPE = 'PK' AND
		(@IDPRINTER IS NULL OR P.IDPRINTER = @IDPRINTER)
		ORDER BY ID;

	END


	IF @BPAIR=1
	BEGIN

		INSERT INTO @DATAEVENS (ID,VTYPE,VCODE,VDESCRIPTION,VNOTE)
		SELECT ID,VTYPE,VCODE,VDESCRIPTION,ISNULL(VNOTE,'')
		FROM @DATAALL
		WHERE (IROW % 2) = 0

		INSERT INTO @DATAODDS (ID,VTYPE,VCODE,VDESCRIPTION,VNOTE)
		SELECT ID,VTYPE,VCODE,VDESCRIPTION,ISNULL(VNOTE,'')
		FROM @DATAALL
		WHERE (IROW % 2) = 1

		INSERT INTO @DATA (VTYPE,ID,VCODE,VDESCRIPTION,IDPAIR ,VCODEPAIR,VDESCRIPTIONPAIR,VNOTE,VNOTEPAIR)
		SELECT VTYPE,ID,VCODE,VDESCRIPTION,0 IDPAIR ,'' VCODEPAIR,'' VDESCRIPTIONPAIR,ISNULL(VNOTE,''),''
		FROM @DATAODDS

		UPDATE A
			SET A.IDPAIR=B.ID,A.VCODEPAIR=B.VCODE,A.VDESCRIPTIONPAIR=B.VDESCRIPTION,A.VNOTEPAIR=ISNULL(B.VNOTE,'')
		FROM @DATA A
		INNER JOIN @DATAEVENS B ON B.IROW=A.IROW

	END
	ELSE
	BEGIN

		INSERT INTO @DATA (VTYPE,ID,VCODE,VDESCRIPTION,IDPAIR ,VCODEPAIR,VDESCRIPTIONPAIR,VNOTE,VNOTEPAIR)
		SELECT VTYPE,ID,VCODE,VDESCRIPTION,0 IDPAIR ,'' VCODEPAIR,'' VDESCRIPTIONPAIR,ISNULL(VNOTE,''),''
		FROM @DATAALL

	END
	
	-- YA DESCARTARLOS DE LA COLA, PARA QUE EL SERVICIO NO VUELVA A TOMARLOS
	UPDATE PRINTQUEUE 
	SET DPRINTED=GETDATE() 
	WHERE ID IN (SELECT ID FROM @DATA)

	UPDATE PRINTQUEUE 
	SET DPRINTED=GETDATE() 
	WHERE ID IN (SELECT IDPAIR FROM @DATA)


	SELECT A.*,@VSUPPLIER as VSUPPLIER,CONVERT(VARCHAR(20),GETDATE(),120) AS DPRINTED FROM @DATA A
	
END