USE [SODA]
GO
/****** Objeto: StoredProcedure [dbo].[USP_POST_PACKAGES] Fecha de script: 11/9/2026 8:15:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_PACKAGES]  
 @DATA NVARCHAR(MAX)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : GERARDO JIMENEZ
  '   RAZÓN DE MODIFICACIÓN : Se agregó IDPRINTER para encolar bultos, usando la impresora por defecto del IDSUPPLIER (BDEFAULT = 1)
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 
				
	
				DECLARE @TDATA AS TABLE
				(
					ID INT,
					IDSUPPLIER INT,
					IDCUSTOMER INT,
					NWEIGHT decimal(5,2),
					BCLOSED BIT
				);

				INSERT INTO @TDATA
				SELECT D.Id, D.SupplierId, D.CustomerId, D.Weight, D.Closed FROM OPENJSON(@DATA)
				WITH (
						Id int,SupplierId int, CustomerId int, Weight numeric(18,2), Closed bit
					  ) AS D
			
			    DECLARE @IDSUPPLIER INT = (SELECT TOP 1 IDSUPPLIER FROM @TDATA )

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				IF EXISTS (SELECT * FROM @TDATA WHERE ID=0)
				BEGIN
				    

					INSERT INTO PACKAGE
					(IDSUPPLIER,IDCUSTOMER,VCODE,NWEIGHT,BCLOSED)
					SELECT 
					IDSUPPLIER,IDCUSTOMER,'',0,0
					FROM @TDATA D
					WHERE NOT EXISTS (SELECT * FROM PACKAGE G WITH (NOLOCK) WHERE G.ID=D.ID)

					SELECT @IINSERTED=@@ROWCOUNT
					SELECT @IID=SCOPE_IDENTITY()

		
					UPDATE PACKAGE SET VCODE=RIGHT('00000000' + CAST(ID AS NVARCHAR(8)), 8) WHERE ID=@IID


				END
				ELSE
				BEGIN
			
					UPDATE P
						SET P.NWEIGHT=D.NWEIGHT,P.BCLOSED=D.BCLOSED
					FROM PACKAGE P
					INNER JOIN @TDATA D ON D.ID=P.ID

					INSERT INTO PRINTQUEUE (VTYPE,IDRECORD,IDUSER,DCREATED,IDPRINTER)
					SELECT 'PK', D.ID, 1, GETDATE(), 
						(SELECT TOP 1 ID FROM PRINTER WITH (NOLOCK) 
						 WHERE IDSUPPLIER = @IDSUPPLIER AND BDEFAULT = 1)
					FROM @TDATA D

					SELECT @IUPDATED=@@ROWCOUNT

				END

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END