USE [OASIS]
GO
/****** Objeto: StoredProcedure [dbo].[USP_GET_INTT_PLANTA_EXPORT_BY_CONTROL] Fecha de script: 11/9/2026 2:53:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_INTT_PLANTA_EXPORT_BY_CONTROL]
    @IDUSER      INT,
    @IDSUPPLIER  INT,
    @IDCONTROL   VARCHAR(20)

/* '===============================================================
  '   NOMBRE                : USP_GET_INTT_PLANTA_EXPORT_BY_CONTROL
  '   FECHA CREACIÓN        :
  '   CREADO POR            : GERARDO JIMENEZ
  '   CREADO PARA           : Exportación a Excel de GENERADOS por control
  '   FUNCIÓN               : 
  '   VERSIÓN               : 
  '   MODIFICADO EN         :
  '   MODIFICADO POR        :
  '   RAZÓN DE MODIFICACIÓN :
  '===============================================================*/
AS
BEGIN
    SET XACT_ABORT ON;
    SET NOCOUNT ON;
    SET LOCK_TIMEOUT 180000;

    DECLARE @CONTROL VARCHAR(10)
    SET @CONTROL = RIGHT('0000000000' + LTRIM(RTRIM(ISNULL(@IDCONTROL, ''))), 10)
    

    SELECT
        T.VNUMBERPLANTATXT,
        T.VCERTIFICATENUMBER,
        T.VRIF,
        T.VMODEL,
        T.VPLATE,
        T.VVIN,
        T.VCOLOR1,
        T.VSELLINVOICEDATE,
        T.VSELLINVOICENUMBER
    FROM V_TXTSUPPLIER T WITH (NOLOCK)
    WHERE T.IDSUPPLIER = @IDSUPPLIER
      AND T.VNUMBERPLANTATXT = @CONTROL
      AND EXISTS (
          SELECT 1
          FROM V_SUPPLIERS_USER R
          WHERE R.IDUSER = @IDUSER AND R.IDSUPPLIER = @IDSUPPLIER
      )
    ORDER BY T.VSELLINVOICEDATE DESC
END
