USE [SODA]
GO
/****** Objeto: StoredProcedure [dbo].[USP_POST_PRINTQUEUE] Fecha de script: 10/9/2026 8:15:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_PRINTQUEUE]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT = NULL,
 @IDPRINTER INT = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 10/9/2026
  '   MODIFICADO POR        : GERARDO JIMENEZ 
  '   RAZÓN DE MODIFICACIÓN : Se agregó @IDPRINTER y la resolución automática 
  '                           de impresora por defecto (BDEFAULT = 1) cuando 
  '                           llega NULL, solo para bultos (PK)
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 
				
	
				DECLARE @TDATA AS TABLE
				(
					ID INT,
					VTYPE VARCHAR(2),
					IDRECORD INT,
					DPRINTED DATETIME,
					VZPL VARCHAR(MAX),
					IQTY INT
				);

				INSERT INTO @TDATA
				SELECT D.Id, D.Type, D.RecordId, D.Printed, D.ZPL, D.Quantity FROM OPENJSON(@DATA)
				WITH (
						Id int, Type varchar(2), RecordId int, Printed datetime, ZPL varchar(max), Quantity int
					  ) AS D



				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				SET @IINSERTED=0

				IF EXISTS (SELECT * FROM @TDATA) and @IDUSER IS NOT NULL
				BEGIN
				    
					--INSERT INTO [PRINTQUEUE](VTYPE, IDRECORD,DCREATED, IDUSER)
					--SELECT T.VTYPE, T.IDRECORD, GETDATE(), @IDUSER 
					--from @TDATA T

					DECLARE @vVTYPE VARCHAR(2), @vIDRECORD INT, @vQTY INT, @counter INT


					DECLARE DETAIL_CURSOR CURSOR FOR 
						 SELECT VTYPE, IDRECORD, IQTY FROM @TDATA
					OPEN DETAIL_CURSOR;
					FETCH NEXT FROM DETAIL_CURSOR INTO @vVTYPE, @vIDRECORD, @vQTY;

					WHILE @@FETCH_STATUS = 0
					BEGIN
			
						SET @counter = 1
                        
                        -- Bucle WHILE para insertar N veces el mismo registro
                        WHILE @counter <= ISNULL(@vQTY, 1)
                        BEGIN
                            INSERT INTO [PRINTQUEUE](VTYPE, IDRECORD, DCREATED, IDUSER, IDPRINTER)
                            VALUES (@vVTYPE, @vIDRECORD, GETDATE(), @IDUSER, 
                                ISNULL(@IDPRINTER, 
                                    CASE @vVTYPE
                                        WHEN 'PK' THEN (SELECT TOP 1 ID FROM PRINTER WITH (NOLOCK) 
                                                        WHERE IDSUPPLIER = (SELECT IDSUPPLIER FROM PACKAGE WITH (NOLOCK) WHERE ID = @vIDRECORD) 
                                                        AND BDEFAULT = 1)
                                        ELSE NULL
                                    END))

                            SET @IINSERTED = @IINSERTED + 1
                            SET @IID = SCOPE_IDENTITY() -- Captura el último ID generado
                            SET @counter = @counter + 1
                        END

						FETCH NEXT FROM DETAIL_CURSOR INTO @vVTYPE, @vIDRECORD, @vQTY;
					END;

					CLOSE DETAIL_CURSOR;
					DEALLOCATE DETAIL_CURSOR;

				END
				

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END