USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_SALEORDERS]    Script Date: 03/07/2026 16:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[USP_POST_SALEORDERS]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         :  ENCABEZADO DE SEGURIDAD
  '   MODIFICADO POR        :  JUAN GUARECUCO
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
 
	BEGIN TRY
		BEGIN TRAN 

				DECLARE @TDATA AS TABLE
				(
					ID INT,
					IDDEALER INT,
					IDSUPPLIER INT,
					IDESTATUS INT,
					IDREASON INT,
					VREFERENCE VARCHAR(100),
					VCOMMENT VARCHAR(100),
					IDTYPE INT,
					BCLAIM BIT,
					BPARALYZED BIT,
					IDVEHICLE INT,
					IDCUSTOMERINVOICE INT 
				);

				INSERT INTO @TDATA
				SELECT L.Id, L.DealerId, L.SupplierId, L.StatusId, L.ReasonId, L.Reference, L.Comment ,L.TypeId, L.IsClaim, L.Paralyzed, L.VehicleId,L.CustomerId
				FROM OPENJSON(@DATA)
				WITH (
						Id int, DealerId int, SupplierId int, StatusId int, ReasonId int,
						Reference varchar(100), Comment varchar(100), TypeId int, IsClaim bit, Paralyzed bit, VehicleId int, CustomerId int
					) AS L
			

				
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('PEDIDOS-PEDIDOS')
				



				EXEC USP_CHECK_DEALERS @DATA,@IDUSER
	
				DECLARE @IDSUPPLIER INT
				DECLARE @IDDEALER INT

				SELECT TOP 1 @IDDEALER=IDDEALER FROM @TDATA
				SELECT @IDSUPPLIER=IDSUPPLIER FROM V_DEALERS WHERE IDDEALER=@IDDEALER

				UPDATE  @TDATA SET IDSUPPLIER=@IDSUPPLIER

				IF EXISTS(SELECT * FROM @TDATA WHERE ISNULL(IDTYPE,0)=0)
				BEGIN
					RAISERROR ( 'TIPO DE PEDIDO INVALIDO' , 16,1) 
				END

				IF EXISTS(SELECT * FROM @TDATA WHERE ISNULL(IDDEALER,0)=0)
				BEGIN
					RAISERROR ( 'CONCESIONARIO INVALIDO' , 16,1) 
				END

				IF EXISTS (SELECT * FROM @TDATA WHERE ID=0)
				BEGIN
					UPDATE T
					SET T.IDCUSTOMERINVOICE= CASE 
												WHEN C.IDGROUP=3 AND C.VVATINVOICE=V.VVAT THEN T.IDSUPPLIER	
												WHEN C.IDGROUP<>3 THEN T.IDDEALER	
												ELSE NULL END
					FROM @TDATA T
					INNER JOIN CONTACT C WITH (NOLOCK) ON T.IDDEALER=C.ID
					INNER JOIN V_SUPPLIERS V ON T.IDSUPPLIER=V.IDSUPPLIER
				END

				IF EXISTS(SELECT * FROM @TDATA WHERE ISNULL(IDCUSTOMERINVOICE,0)=0 AND ISNULL(ID,0)<>0)
				BEGIN
					RAISERROR ( 'CLIENTE INVALIDO' , 16,1) 
				END

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT


				IF EXISTS (SELECT * FROM @TDATA WHERE ID=0)
				BEGIN

				SET @VACTION='CREATE'
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
					INSERT INTO SALEORDER (
					
						IDDEALER,
						IDSUPPLIER,
						IDESTATUS,
						VREFERENCE,
						VCOMMENT,
						DCREATED,
						DUPDATED,
						VCREATEDBY,
						VUPDATEDBY,
						IDTYPE,
						BCLAIM,
						BPARALYZED,
						IDVEHICLE,
						IDCUSTOMERINVOICE
						)
					SELECT	
						 IDDEALER
						,IDSUPPLIER
						,DBO.UFN_GET_ISTATUS('CREATE')
						,VREFERENCE
						,VCOMMENT,
						GETDATE(),
						GETDATE(),
						DBO.UFN_GET_LOGIN(@IDUSER),DBO.UFN_GET_LOGIN(@IDUSER),
						D.IDTYPE,
						BCLAIM,
						ISNULL(BPARALYZED,0),
						IDVEHICLE,
						IDCUSTOMERINVOICE
					FROM @TDATA D

					SELECT @IINSERTED=@@ROWCOUNT
					SELECT @IID=SCOPE_IDENTITY()

				END
				ELSE 
				BEGIN 
				SET @VACTION='EDIT'
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

				UPDATE O
					SET O.IDDEALER=D.IDDEALER,
						O.IDSUPPLIER=D.IDSUPPLIER,
						O.IDTYPE = D.IDTYPE,
						O.VREFERENCE = D.VREFERENCE,
						O.VCOMMENT = D.VCOMMENT,
						O.DUPDATED  = GETDATE(),
						O.VUPDATEDBY= DBO.UFN_GET_LOGIN(@IDUSER),
						o.BPARALYZED=ISNULL(D.BPARALYZED,0),
						O.IDVEHICLE=D.IDVEHICLE,
						O.IDCUSTOMERINVOICE=D.IDCUSTOMERINVOICE
				FROM SALEORDER O
				INNER JOIN @TDATA D ON D.ID=O.ID


				SELECT @IUPDATED=@@ROWCOUNT

				END

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
