USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_DISPATCHEDCONTROL]    Script Date: 08/07/2026 10:31:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
ALTER PROCEDURE [dbo].[USP_GET_DISPATCHEDCONTROL]   
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL 

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000 

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END 

	--SELECT ID,VVAT,(VFIRSTNAME+ISNULL(VLASTNAME,'')) AS VCUSTOMER INTO #CUSTOMER FROM CONTACT WITH (NOLOCK)

BEGIN
    WITH T1 as(
        SELECT 
            I.*,  
            M.VLOCATION, 
            M.IREQUIRED,  
            M.VCODEPART,  
            M.VPART, 
            P.NPRICE,
            C.VVAT, 
            C.VFISCALNAME, 
            U.VSUPPLIER,
            (I.IDISPATCHED - ISNULL(I.IINVOICED, 0)) AS PENDING,
			ISNULL(S.ISTOCK, 0) AS STOCK_INFO  ,
            SO.VTYPE AS VSALEORDERTYPE,
			(CO.VFIRSTNAME+ISNULL(CO.VLASTNAME,'')+' - '+CO.VVAT) AS VCUSTOMER,
			CO.VVAT AS VCUSTOMERVAT
        FROM DISPATCHEDCONTROL I WITH (NOLOCK)
        INNER JOIN V_MOVEMENTDETAILS M ON M.ID = I.IDMOVEMENTDETAIL 
        INNER JOIN BACKORDER B ON B.ID = I.IDBACKORDER 
        INNER JOIN V_SALEORDER SO WITH (NOLOCK) ON SO.ID = B.IDSALEORDER
        INNER JOIN V_CONTACTS C ON C.ID = I.IDCUSTOMER  
        INNER JOIN V_SUPPLIERS U ON U.IDSUPPLIER = I.IDSUPPLIER 
        INNER JOIN PART P ON P.ID=I.IDPART
		INNER JOIN CONTACT CO  ON I.IDCUSTOMERINVOICE=CO.ID
		LEFT JOIN STOCKINFO S ON S.VPRODUCTCODE = P.VINNERCODE AND S.VRIF = U.VVAT
        WHERE    
            I.IDCONTROL =0
            AND I.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 THEN I.IDSUPPLIER ELSE @IDSUPPLIER END 
            AND I.IESTATUS<>DBO.UFN_GET_ISTATUS('DECLINE')
            AND
            (
                M.VCODEPART LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + M.VCODEPART + '%' ELSE '%' + @VFILTER + '%' END OR
                M.VPART LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + M.VPART + '%' ELSE '%' + @VFILTER + '%' END OR
                C.VFISCALNAME LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + C.VFISCALNAME + '%' ELSE '%' + @VFILTER + '%' END OR
				 CO.VVAT LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + CO.VVAT + '%' ELSE '%' + @VFILTER + '%' END OR
             --  CAST(I.IDMOVEMENTDETAIL AS VARCHAR(20)) = CASE WHEN ISNULL(@VFILTER,'') = '' THEN CAST(I.IDMOVEMENTDETAIL AS VARCHAR(20)) ELSE  @VFILTER END OR
				CAST(I.IDSALEORDER AS VARCHAR(20)) = CASE WHEN ISNULL(@VFILTER,'') = '' THEN CAST(I.IDSALEORDER AS VARCHAR(20)) ELSE  @VFILTER END
            )          
    ),
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
    T3 AS (
        SELECT * FROM T1
        ORDER BY T1.VFISCALNAME,IDSALEORDER DESC
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
    )
    SELECT T3.*, T2.TOTAL FROM T3, T2;
END


 
