USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_INC_BATCHCONTROL_05]    Script Date: 07/07/2026 23:04:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_INC_BATCHCONTROL_05]
@IDSUPPLIER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

   BEGIN 
    SET NOCOUNT ON; 
    SET XACT_ABORT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;   
	
    -- ENVIOS PENDIENTES
	IF EXISTS ( SELECT * FROM BATCHCONTROL WITH (NOLOCK)
				WHERE IDSUPPLIER=@IDSUPPLIER AND IDBATCH=5 AND DPROCESSING IS NULL)
	OR
	-- RESPUESTAS PENDIENTES
	   EXISTS ( SELECT * FROM BATCHCONTROL WITH (NOLOCK)
				WHERE IDSUPPLIER=@IDSUPPLIER AND IDBATCH=6 AND DPROCESSING IS NULL)
	BEGIN
		RETURN
	END

	DECLARE @VJSON NVARCHAR(MAX)

	DECLARE @DATOS AS TABLE
	(
	IDCONTROL INT,
    IDSUPPLIER INT,
	VVATDEALER VARCHAR(12),
	VVATSUPPLIER VARCHAR(12),
    VINNERCODE VARCHAR(35),
    IDISPATCHED INT,
	VSERIAL VARCHAR(25),
	VSALEORDERTYPE VARCHAR(20),
	VCOMMENT VARCHAR(250)
	)
	


	INSERT INTO @DATOS
    SELECT 
        DC.IDCONTROL,
		S.IDSUPPLIER,
        CASE WHEN D.BDEALER=1 THEN D.VVATINVOICE ELSE D.VVAT END  AS VVATDEALER,
        S.VVAT          AS VVATSUPPLIER,
        P.VINNERCODE,
        SUM(DC.IDISPATCHED) IDISPATCHED,
        ISNULL(M.VSERIAL,'') VSERIAL,
		ST.VNAME AS VSALEORDERTYPE,
		'' VCOMMENT
    FROM dbo.DISPATCHEDCONTROL AS DC WITH (NOLOCK) 
    INNER JOIN PART        AS P  WITH (NOLOCK) ON P.ID          = DC.IDPART
    INNER JOIN V_SUPPLIERS AS S   ON S.IDSUPPLIER  = DC.IDSUPPLIER 
    INNER JOIN CONTACT   AS D   ON D.ID    = DC.IDCUSTOMERINVOICE
    INNER JOIN MOVEMENTDETAILS M WITH (NOLOCK) ON M.ID=DC.IDMOVEMENTDETAIL
	INNER JOIN SALEORDER SO WITH (NOLOCK) ON SO.ID=DC.IDSALEORDER
	INNER JOIN SALEORDERTYPE ST WITH (NOLOCK) ON ST.ID=SO.IDTYPE
    WHERE DC.IESTATUS = 2
        AND DC.IDCONTROL > 0
        AND BSINC=1
	--	AND S.IDSUPPLIER=@IDSUPPLIER
	GROUP BY DC.IDCONTROL,S.IDSUPPLIER,D.VVAT,D.BDEALER,S.VVAT,P.VINNERCODE,M.VSERIAL,ST.VNAME,D.VVATINVOICE

	UPDATE @DATOS SET VCOMMENT=DBO.UFN_GET_COMMENTDISPATCHEDCONTROL(IDCONTROL);

	SET @VJSON=
	(
		SELECT * FROM @DATOS FOR JSON AUTO
	)

	IF @VJSON IS NOT NULL
	BEGIN
		INSERT INTO BATCHCONTROL(IDSUPPLIER,IDBATCH,DEXECUTION,VJSON)
		SELECT @IDSUPPLIER,5,GETDATE(),@VJSON
	END


END