USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_ACCOUNTRECEIVABLE]    Script Date: 08/07/2026 11:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_ACCOUNTRECEIVABLE] 
-- [USP_GET_ACCOUNTRECEIVABLE] 1,4069,0,'U','R',NULL,NULL,NULL,null,NULL,'2026-05-22'
@IDUSER INT,
@IDSUPPLIER INT,
@IDDEALER INT = 0,
@VTYPE VARCHAR(1),
@VCONCEPT VARCHAR(10),
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL,
@IDESTATUS INT =NULL,
@DRATEDATE DATETIME = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : OBTENER TASA MENOR 
  '   MODIFICADO POR        :  JUAN GUARECUCO
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	-- 1. PREPARAR VARIABLES DE TOPE Y PAGINACION
	IF @IROWFROM IS NULL
	    BEGIN
		    SET @TOPE=1000000
		    SET @IROWFROM=0
	    END
	ELSE
	    BEGIN
		    SET @TOPE=100
	    END

	IF @DRATEDATE IS NULL
	BEGIN
		SELECT @DRATEDATE = CONVERT(VARCHAR(10),GETDATE(),120)
	END
	
	DECLARE @NRATE NUMERIC(18,4)
	SELECT TOP 1 @NRATE = CASE WHEN @VCONCEPT='B' THEN NALTERRATE ELSE NRATE END FROM RATE WITH (NOLOCK) WHERE DDATE <= @DRATEDATE ORDER BY DDATE DESC;

	SELECT @NRATE = ISNULL(@NRATE,0)

    -- 2. PREPARAR VARIABLES FILTRADOS
    SELECT @VFILTER= ISNULL(@VFILTER,'')
    DECLARE @FechaInicio DATETIME = DATEADD(DAY, -360, GETDATE());
    SELECT @DFROMDATE = CONVERT(VARCHAR(10),isnull(@DFROMDATE,'2020-01-01'),120)
    SELECT @DUPTODATE = CONVERT(VARCHAR(10),isnull(@DUPTODATE,getdate())+1,120)
	SELECT @IDDEALER = ISNULL(@IDDEALER,0)
    SELECT @IDESTATUS = ISNULL(@IDESTATUS,0)


	    DECLARE @LIKEFILTER VARCHAR(100)
    SELECT @LIKEFILTER = '%'+@VFILTER+'%'


	DECLARE @CONCEPT AS TABLE (VCODE VARCHAR(1))
	INSERT INTO @CONCEPT
	SELECT s.value 
	FROM STRING_SPLIT(@VCONCEPT,'-') as s
	where s.value <> ''


BEGIN
	WITH 
		T1 AS (
			-- 3. FILTRAR MUESTRA DE PART
			SELECT 
				A.ID,
				A.IDSUPPLIER,
				A.IDDEALER,
				D.DEALER AS VDEALER,
				T.VCODE AS VTYPECODE,
				T.VNAME AS VTYPENAME,
				C.VCODE AS VCONCEPTCODE,
				C.VNAME AS VCONCEPTNAME,
				A.VREFERENCE AS VNUMBER,
				A.VREFERENCE,
				A.DDATE AS VDATE,
				A.DDUEDATE AS VDUEDATE,
				A.NAMOUNT,
				A.NBALANCE,
				CAST((A.NAMOUNT * (CASE WHEN @VCONCEPT='R' THEN A.NRATE ELSE @NRATE END)) AS NUMERIC(18,2)) AS NAMOUNTBS,
				CAST((A.NBALANCE * (CASE WHEN @VCONCEPT='R' THEN A.NRATE ELSE @NRATE END)) AS NUMERIC(18,2)) AS NBALANCEBS,
				CASE WHEN @VCONCEPT='R' THEN A.NRATE ELSE @NRATE END AS NRATE,
				A.IDSTATUS AS ISTATUSID,
				E.VDISPLAYESTATUS AS VSTATUSNAME,
				COUNT(*) OVER() AS TOTAL,
				CASE WHEN @VCONCEPT='R' THEN A.DDATE ELSE @DRATEDATE END AS DRATEDATE,
    
				-- Evaluamos el estatus; si aplica, buscamos estrictamente el TOP 1 del detalle de pago asociado
				CASE 
					WHEN A.IDTRANSACTIONSTATUS = DBO.UFN_GET_ISTATUS('CREATE') THEN 
						(
							SELECT TOP 1 PD.ID 
							FROM dbo.SETTLEMENTS S WITH (NOLOCK)
							INNER JOIN dbo.PAYMENTDETAILS PD WITH (NOLOCK) ON S.IDPAYMENT = PD.IDPAYMENT
							WHERE S.IDACCOUNTRECEIVABLE = A.ID AND PD.IDSTATUS=DBO.UFN_GET_ISTATUS('CREATE')
							-- Opcional: ORDER BY PD.ID DESC (si quieres el último detalle generado)
						)
					ELSE 0 
				END AS IDPAYMENDETAIL,
				A.IDTRANSACTIONSTATUS,
				IT.VDISPLAYESTATUS AS VTRANSACTIONSTATUS,
				A.NAMOUNTFULL,
				A.BMIGRATION
			FROM dbo.ACCOUNTRECEIVABLE A WITH (NOLOCK)
			INNER JOIN [dbo].[DOCUMENTTYPE] T WITH (NOLOCK) ON T.VCODE = A.VTYPE
			INNER JOIN [dbo].[DOCUMENTCONCEPT] C WITH (NOLOCK) ON C.VCODE = A.VCONCEPT
			INNER JOIN [dbo].[ACTION] E WITH (NOLOCK) ON E.ID = A.IDSTATUS
			INNER JOIN V_DEALERS D ON D.IDDEALER = A.IDDEALER
			INNER JOIN [dbo].[ACTION] IT WITH (NOLOCK) ON IT.ID = A.IDTRANSACTIONSTATUS
			WHERE A.IDSUPPLIER = @IDSUPPLIER
			  AND (@IDDEALER = 0 OR A.IDDEALER = @IDDEALER)
			  AND A.VTYPE = @VTYPE
			  AND A.VCONCEPT IN (SELECT VCODE FROM @CONCEPT)
			  AND (@IDESTATUS = 0 OR A.IDSTATUS = @IDESTATUS)
			  AND A.DDATE >= @DFROMDATE
			  AND A.DDATE < @DUPTODATE
			  AND A.DDATE >= @FechaInicio
			   AND ( @VFILTER='' OR A.VNUMBER LIKE @LIKEFILTER OR A.VNUMBER LIKE @LIKEFILTER )
			   AND ( @VFILTER='' OR A.VREFERENCE LIKE @LIKEFILTER OR A.VREFERENCE LIKE @LIKEFILTER )
					)
		 -- 5. PAGINAR 
		SELECT T1.* 
		FROM T1
        ORDER BY 
		CASE T1.IDTRANSACTIONSTATUS
        WHEN DBO.UFN_GET_ISTATUS('CREATE') THEN 1  
        ELSE 2       
        END ASC,
		T1.VDATE,
		CASE T1.ISTATUSID
        WHEN DBO.UFN_GET_ISTATUS('OVERDUE') THEN 1  -- Si el ID es 1 (ej. Borrador), va de PRIMERO
        WHEN DBO.UFN_GET_ISTATUS('OPEN') THEN 2  -- Si el ID es 3 (ej. Para Validar), va de SEGUNDO
        ELSE 3       -- Cualquier otro estatus va al final
        END ASC
        OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
        FETCH NEXT @TOPE ROWS ONLY

END

