USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_MOVEMENTDETAILS_PARTIAL2]    Script Date: 06/07/2026 14:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_MOVEMENTDETAILS_PARTIAL2]  
@IDMOVEMENTDETAIL INT,
@IDPART INT,
@IDLOCATION INT,
@IREAL_PARTIAL INT,
@VSERIAL VARCHAR(20),
@IDPARTIALTYPE INT,
@IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
BEGIN TRY

	DECLARE @IID INT
	DECLARE @IINSERTED INT
	DECLARE @IUPDATED INT
	DECLARE @IDRECORD INT
	DECLARE @IDMOVEMENT INT
	DECLARE @VTYPE VARCHAR(1)
	DECLARE @IREQUIRED INT
	DECLARE @IREQUIREDNEW INT
	DECLARE @VLOCATIONTYPE VARCHAR(1)
	DECLARE @IAVAILABLE INT
	DECLARE @VTYPEMOVEMENT VARCHAR(1)
	DECLARE @IRESERVED INT
	DECLARE @IDINVENTORY INT
	DECLARE @IDLOCATIONNEW INT
	DECLARE @IDSUPPLIER INT 
	DECLARE @IDDESTINATION INT
	DECLARE @IDLOCATIONDELIVERY INT
	DECLARE @IDTRANSITLOCATION INT
	DECLARE @ALMACEN VARCHAR(1)
	DECLARE @DESPACHO VARCHAR(1)
	DECLARE @VSIZE VARCHAR(1)
	DECLARE @IDBACKORDER_OLD INT

	SELECT @ALMACEN='A' , @DESPACHO='D'
		
	SELECT TOP 1 
	@IDMOVEMENT=IDMOVEMENT,@VTYPE=VTYPE,@IDPART=IDPART,
	@IREQUIRED=IREQUIRED,@VLOCATIONTYPE=VLOCATIONTYPE,@IDDESTINATION=ISNULL(IDDESTINATION,0),
	@IDBACKORDER_OLD=IDBACKORDER
	FROM MOVEMENTDETAILS WITH (NOLOCK) WHERE ID=@IDMOVEMENTDETAIL
	
	SELECT TOP 1 @VTYPEMOVEMENT=VTYPE,@IDSUPPLIER=IDSUPPLIER FROM MOVEMENT WITH (NOLOCK) WHERE ID=@IDMOVEMENT
	SELECT TOP 1 @IDLOCATIONDELIVERY=ID FROM V_LOCATION WHERE VTYPE=@DESPACHO AND IDSUPPLIER=@IDSUPPLIER
	SELECT @IDTRANSITLOCATION=ID FROM V_LOCATION WHERE VNAME='TRANSITO' AND IDSUPPLIER=@IDSUPPLIER
	SELECT @IINSERTED=@@ROWCOUNT
	SELECT @IID=SCOPE_IDENTITY()

	-- VALIDACION: CASO DE MOVIMIIENTOS DE ENTREGA REPETIDOS
	IF EXISTS ( SELECT * FROM MOVEMENTDETAILS WITH (NOLOCK)
				WHERE ID=@IDMOVEMENTDETAIL AND BPROCESSED=1)
	BEGIN
		INSERT INTO AUDIT(IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
		SELECT @IDUSER,@IDMOVEMENTDETAIL,30,'PROCESS','USP_POST_MOVEMENTDETAILS_PARTIAL REPETIDO',0,GETDATE()

		SELECT @IUPDATED=1
		RETURN
	END
				
--**************************************************************************
BEGIN TRAN 

	UPDATE M
		SET 
		M.IDPART=@IDPART,
		M.IDLOCATION=@IDLOCATION,
		M.IREAL=@IREAL_PARTIAL,
		M.DUPDATED = GETDATE(),
		M.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
		M.VSERIAL = CASE WHEN @VTYPE=DBO.UFN_GET_TYPE('PICKING') THEN @VSERIAL ELSE M.VSERIAL END,
		M.BPROCESSED = 1,
		M.IDPARTIALTYPE = @IDPARTIALTYPE,
		M.IDSTATUS=DBO.UFN_GET_ISTATUS('PROCESS')
	FROM MOVEMENTDETAILS M
	WHERE M.ID=@IDMOVEMENTDETAIL
		
	SELECT @IUPDATED=@@ROWCOUNT

--========================================================================================
	IF @IREAL_PARTIAL > 0 -- CANTIDAD PROCESADA
	BEGIN
		IF @VTYPE=DBO.UFN_GET_TYPE('PICKING') -- CANTIDAD RECOLECTADA
		BEGIN	
			-- REBAJA DE LA UBICACION
			EXEC USP_POST_INVENTORY @IDLOCATION,@IDPART,@IREAL_PARTIAL,@IDUSER,'-'		
			-- AUMENTA LA UBICACION DE TRANSITO
			EXEC USP_POST_INVENTORY @IDTRANSITLOCATION,@IDPART,@IREAL_PARTIAL,@IDUSER,'+'

			SELECT @IDLOCATIONNEW = CASE WHEN @VTYPEMOVEMENT=DBO.UFN_GET_TYPE('RECOLECCION') THEN @IDLOCATIONDELIVERY ELSE @IDDESTINATION END
			SELECT @VLOCATIONTYPE = CASE WHEN @VTYPEMOVEMENT=DBO.UFN_GET_TYPE('RECOLECCION') THEN @DESPACHO ELSE @ALMACEN END
			-- CREAR SOLICITUD DE ENTREGA DE LO RECOLECTADO
			IF NOT EXISTS(SELECT 1 FROM MOVEMENTDETAILS WITH (NOLOCK) WHERE IDFROM=@IDMOVEMENTDETAIL)
			BEGIN
				INSERT INTO MOVEMENTDETAILS 
				(IDMOVEMENT,IDPART,VSERIAL,VLOCATIONTYPE,IDLOCATION,IREQUIRED,IREAL,VTYPE,BPROCESSED,
				DCREATED,DUPDATED,VUPDATEDBY,IDUSER,NCOST,IDBACKORDER,IDSTATUS,IDFROM)
				SELECT 
				@IDMOVEMENT,@IDPART,@VSERIAL,@VLOCATIONTYPE,ISNULL(@IDLOCATIONNEW,0),@IREAL_PARTIAL,NULL,@DESPACHO,0,
				GETDATE(),GETDATE(),NULL,@IDUSER,0,@IDBACKORDER_OLD,DBO.UFN_GET_ISTATUS('ASSIGN'),@IDMOVEMENTDETAIL
			END
		END

		IF @VTYPE=DBO.UFN_GET_TYPE('ENTREGA') -- CANTIDAD ENTREGADA Y NO ES PROCESO DE PICKING RECOLECCION
		BEGIN
			-- ACTUALIZAR EL STOCK DEL INVENTARIO
			-- AUMENTA UBICACION DE ENTREGA
			EXEC USP_POST_INVENTORY @IDLOCATION,@IDPART,@IREAL_PARTIAL,@IDUSER,'+'
			-- REBAJA UBICACION DE TRANSITO
			EXEC USP_POST_INVENTORY @IDTRANSITLOCATION,@IDPART,@IREAL_PARTIAL,@IDUSER,'-'

			-- LLENAR EL CONTROL DE DESPACHO PARA FACTURACION
			IF @VTYPEMOVEMENT=DBO.UFN_GET_TYPE('RECOLECCION')
			BEGIN
				DECLARE @IDSALEORDER INT
				DECLARE @IDCUSTOMER INT
				DECLARE @IDCUSTOMERINVOICE INT
				DECLARE @VSALEORDERTYPE VARCHAR(10)
				DECLARE @BCLAIM BIT

				SELECT  @IDSALEORDER=B.IDSALEORDER,@IDCUSTOMER=B.IDDEALER ,@IDCUSTOMERINVOICE=S.IDCUSTOMERINVOICE, @VSALEORDERTYPE=T.VNAME,
				@BCLAIM=B.BCLAIM
				FROM BACKORDER B WITH (NOLOCK) 
				INNER JOIN SALEORDER S WITH (NOLOCK) ON S.ID=B.IDSALEORDER
				INNER JOIN SALEORDERTYPE T WITH (NOLOCK) ON T.ID=S.IDTYPE
				WHERE B.ID=@IDBACKORDER_OLD

				IF @BCLAIM=0
				BEGIN
					INSERT INTO DISPATCHEDCONTROL 
					(IDMOVEMENTDETAIL,IDBACKORDER,IDSALEORDER,IDPART,IDCUSTOMER,IDSUPPLIER,IDISPATCHED,BMARK,
					IDCONTROL,IDINVOICE,IINVOICED,DCONTROLDATE,IESTATUS,IDCUSTOMERINVOICE)
					SELECT @IDMOVEMENTDETAIL,@IDBACKORDER_OLD,@IDSALEORDER,@IDPART,@IDCUSTOMER,@IDSUPPLIER,@IREAL_PARTIAL,0,
					0,0,0,GETDATE(),2,@IDCUSTOMERINVOICE
				END
			END
		END		
	END
	--========================================================================================

-- PROCESO DE PARCIALES
	IF @IREAL_PARTIAL < @IREQUIRED
	BEGIN
		SELECT @IREQUIREDNEW= @IREQUIRED-@IREAL_PARTIAL

		IF @VTYPE=DBO.UFN_GET_TYPE('ENTREGA')-- DELIVERY ENTREGA
		BEGIN
			-- SE HACE ENTREGA PARCIAL Y SE DEBE CREAR OTRA SOLICITUD DE ENTREGA CON EL REMANENTE
			SELECT @IDLOCATIONNEW = CASE WHEN @VTYPEMOVEMENT=DBO.UFN_GET_TYPE('RECOLECCION') THEN @IDLOCATIONDELIVERY ELSE 0 END
			SELECT @VLOCATIONTYPE = CASE WHEN @VTYPEMOVEMENT=DBO.UFN_GET_TYPE('RECOLECCION') THEN @DESPACHO ELSE @ALMACEN END
				
			IF NOT EXISTS(SELECT 1 FROM MOVEMENTDETAILS WITH (NOLOCK) WHERE IDFROM=@IDMOVEMENTDETAIL)
			BEGIN
				INSERT INTO MOVEMENTDETAILS 
				(IDMOVEMENT,IDPART,VSERIAL,VLOCATIONTYPE,IDLOCATION,IREQUIRED,IREAL,VTYPE,BPROCESSED,
				DCREATED,DUPDATED,VUPDATEDBY,IDUSER,NCOST,IDBACKORDER,IDSTATUS,IDFROM)
				SELECT 
				@IDMOVEMENT,@IDPART,@VSERIAL,@VLOCATIONTYPE,@IDLOCATIONNEW,@IREQUIREDNEW,NULL,@VTYPE,0,
				GETDATE(),GETDATE(),NULL,@IDUSER,0,@IDBACKORDER_OLD,DBO.UFN_GET_ISTATUS('ASSIGN'),@IDMOVEMENTDETAIL		
			END
		END
		ELSE
		BEGIN
			-- PROCESO DE RECOLECCION MODO PICKING
			-- SE HACE PICKING PARCIAL Y SE DEBE CREAR OTRA SOLICITUD DE PICKING CON EL REMANENTE
			IF @VTYPEMOVEMENT=DBO.UFN_GET_TYPE('RECOLECCION')
			BEGIN
				DECLARE @IDBACKORDER_NEW INT

				EXEC USP_NEW_BACKORDER @IDBACKORDER_NEW OUTPUT,@IDBACKORDER_OLD,@IREQUIREDNEW,@IDUSER

				EXEC USP_POST_PICKINGS @IDMOVEMENT,@IDPART,@IREQUIREDNEW,@IDUSER,@IDBACKORDER_NEW
			END
			ELSE
			BEGIN
				-- PIKCINGS REMANENTES DE RECEPCION Y TRASLADOS
				IF ISNULL(@IDPARTIALTYPE,0)=1
				BEGIN
					INSERT INTO MOVEMENTDETAILS 
					(IDMOVEMENT,IDPART,VSERIAL,VLOCATIONTYPE,IDLOCATION,IREQUIRED,IREAL,VTYPE,BPROCESSED,
					DCREATED,DUPDATED,VUPDATEDBY,IDUSER,NCOST,IDBACKORDER,IDSTATUS)
					SELECT 
					@IDMOVEMENT,@IDPART,NULL,@ALMACEN,@IDLOCATION,@IREQUIREDNEW,NULL,DBO.UFN_GET_TYPE('PICKING'),0,
					GETDATE(),GETDATE(),NULL,@IDUSER,0,0,DBO.UFN_GET_ISTATUS('ASSIGN')
				END
			END
		END	
	END
	--========================================================================================
			
	IF NOT EXISTS (SELECT * FROM MOVEMENTDETAILS WITH (NOLOCK) WHERE IDMOVEMENT=@IDMOVEMENT AND BPROCESSED=0)
	BEGIN
		UPDATE MOVEMENT SET IESTATUS=DBO.UFN_GET_ISTATUS('PROCESS') WHERE ID=@IDMOVEMENT
	END

	SELECT
	ISNULL(@IID,0) AS IID , 
	ISNULL(@IINSERTED,0) AS IINSERTED,
	ISNULL(@IUPDATED,0) AS IUPDATED


COMMIT TRAN
END TRY
BEGIN CATCH
	IF XACT_STATE() <> 0
		ROLLBACK TRAN
	DECLARE @ErrorMessage NVARCHAR(4000) 
	SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
	RAISERROR ( @ErrorMessage , 16,1) 
END CATCH

END
