USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_EXEC_BATCH_07]    Script Date: 09/07/2026 8:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_EXEC_BATCH_07]
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

BEGIN 
    DECLARE @cmd NVARCHAR(4000)
    DECLARE @cmd2 NVARCHAR(4000)
    DECLARE @DATABASE VARCHAR(20)
    SELECT @DATABASE=DB_NAME()

    IF @DATABASE='FIGO'
    BEGIN
        SET @cmd = 'powershell.exe -Command "$usuario=''grupora\ad-apb071''; $clave=''WCwc2026''; $credencial=New-Object System.Management.Automation.PSCredential($usuario,(ConvertTo-SecureString $clave -AsPlainText -Force)); Invoke-Command -ComputerName ''10.23.212.14'' -Credential $credencial -Authentication Negotiate -ScriptBlock { C:\sqlFIGO\BIN_QA\SIPCONAPI.BAT FACTURA_PLAN_MAYOR_MDV IMP }"'
        EXEC xp_cmdshell @cmd

        WAITFOR DELAY '00:00:2';

        SET @cmd2 = 'powershell.exe -Command "$usuario=''grupora\ad-apb071''; $clave=''WCwc2026''; $credencial=New-Object System.Management.Automation.PSCredential($usuario,(ConvertTo-SecureString $clave -AsPlainText -Force)); Invoke-Command -ComputerName ''10.23.212.14'' -Credential $credencial -Authentication Negotiate -ScriptBlock { C:\sqlFIGO\BIN_QA\SIPCONAPI.BAT FACTURA_PLAN_MAYOR_CIM IMP }"'
        EXEC xp_cmdshell @cmd2
    END

    IF @DATABASE='ZEPPELIN'
    BEGIN
        SET @cmd = 'powershell.exe -Command "$usuario=''grupora\ad-apb071''; $clave=''WCwc2026''; $credencial=New-Object System.Management.Automation.PSCredential($usuario,(ConvertTo-SecureString $clave -AsPlainText -Force)); Invoke-Command -ComputerName ''10.23.212.14'' -Credential $credencial -Authentication Negotiate -ScriptBlock { C:\sqlFIGO\bin\SIPCONAPI.BAT FACTURA_PLAN_MAYOR_MDV IMP }"'
        EXEC xp_cmdshell @cmd

        WAITFOR DELAY '00:00:2';

        SET @cmd2 = 'powershell.exe -Command "$usuario=''grupora\ad-apb071''; $clave=''WCwc2026''; $credencial=New-Object System.Management.Automation.PSCredential($usuario,(ConvertTo-SecureString $clave -AsPlainText -Force)); Invoke-Command -ComputerName ''10.23.212.14'' -Credential $credencial -Authentication Negotiate -ScriptBlock { C:\sqlFIGO\bin\SIPCONAPI.BAT FACTURA_PLAN_MAYOR_CIM IMP }"'
        EXEC xp_cmdshell @cmd2
    END

END
