USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_VEHICLEDISPATCHES_FIGO]    Script Date: 06/07/2026 10:00:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_VEHICLEDISPATCHES_FIGO]  
 @DATA VARCHAR(MAX)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
	     
		  DECLARE @IDUSER INT=1
		  DECLARE @ErrorMessage NVARCHAR(4000)
		  DECLARE @UpdatedIDs TABLE (IDVEHICLE INT, IDDEALER INT);
		  DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('VEHICULOS-VEHICULOS')
		  DECLARE @IDDEALER_MDV INT
		  DECLARE @IDDEALER_CIM INT
		  
		  SELECT TOP 1 @IDDEALER_MDV=IDDEALER FROM V_DEALERS WHERE VVATINVOICE='J500250495'
		  SELECT TOP 1 @IDDEALER_CIM=IDDEALER FROM V_DEALERS WHERE VVATINVOICE='J500681054'
	
			DECLARE @TDATA AS TABLE
			(
				VVIN VARCHAR(20),
				VSUPPLIERVAT VARCHAR(12),
				VDEALERCODE VARCHAR(12),
				VCREDITLINE VARCHAR(50),
				DDATE  DATETIME,
				IDSUPPLIER INT,
				IDDEALER INT
			);

				INSERT INTO @TDATA (
					VVIN, 
					VSUPPLIERVAT,
					VDEALERCODE,
					DDATE,
					VCREDITLINE
				)
				SELECT 
				    H.Vin,
					H.SupplierVat,
					H.DealerCode,
					H.Date,
					H.CreditLine
				FROM OPENJSON(@DATA)
				WITH (
					Vin     VARCHAR(20),
					SupplierVat VARCHAR(12),
					DealerCode VARCHAR (12),
					Date datetime,
					CreditLine Varchar(50)
				) AS H;

			   	UPDATE A
				SET A.IDSUPPLIER = V.IDSUPPLIER
				FROM @TDATA A
				INNER JOIN V_SUPPLIERS V ON UPPER(A.VSUPPLIERVAT) = UPPER(V.VVAT)

				UPDATE A
				SET A.IDDEALER = V.IDDEALER
				FROM @TDATA A
				INNER JOIN V_DEALERS V ON UPPER(A.VDEALERCODE) = UPPER(V.VVATINVOICE)
				WHERE A.IDSUPPLIER=V.IDSUPPLIER

				IF EXISTS (SELECT * FROM @TDATA WHERE ISNULL(IDSUPPLIER,0)=0)
				BEGIN
				RAISERROR('PLANTA INCORRECTA', 16, 1)
				END

				IF EXISTS (SELECT * FROM @TDATA WHERE ISNULL(IDDEALER,0)=0)
				BEGIN
					--RAISERROR('CONCESIONARIO INCORRECTO', 16, 1)
					-- CUANDO SE FACTURE A UN CLIENTE FINAL, ASIGNAR POR DEFECTO A LOS CONCESIONARIOS DE PLANTA
					UPDATE A 
						SET A.IDDEALER= CASE WHEN V.IDSUPPLIER=4069 THEN @IDDEALER_MDV ELSE @IDDEALER_CIM END
					FROM @TDATA A
					INNER JOIN VEHICLE V WITH (NOLOCK) ON V.VVIN=A.VVIN
					WHERE ISNULL(A.IDDEALER,0)=0
				END


	            BEGIN TRAN 

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				UPDATE V
				SET
					V.IDDEALER = D.IDDEALER,
					V.IESTATUS = DBO.UFN_GET_ISTATUS('ASSIGN'),
					V.DUPDATED = GETDATE(),
					V.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
					V.VCREDITLINE=D.VCREDITLINE
				OUTPUT 
					inserted.ID, -- El ID de la tabla VEHICLE
					inserted.IDDEALER   -- El nuevo IDDEALER asignado
				INTO @UpdatedIDs (IDVEHICLE, IDDEALER)
				FROM VEHICLE V
				INNER JOIN @TDATA D ON V.VVIN = D.VVIN  
				WHERE V.IDSUPPLIER = D.IDSUPPLIER 
				    AND V.IESTATUS NOT IN ( DBO.UFN_GET_ISTATUS('BINVOICE'))
				    AND ISNULL(V.VPLATE,'')<>''

				SELECT @IUPDATED = @@ROWCOUNT;
				
				 IF @IUPDATED > 0
				BEGIN
					INSERT INTO AUDIT (IDUSER, IDRECORD, IDMODULE, VCOMMENT, DCREATED, VACTION, IDRELATED)
					SELECT  
						@IDUSER,
						IDVEHICLE,
						@IDMODULE,
						'Asignación Figo de Vehiculo a Concesionario', -- Comentario opcional
						GETDATE(),
						'ASSIGN',
						IDDEALER
					FROM @UpdatedIDs;
				END


				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
