USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_SALEORDERS]    Script Date: 06/07/2026 9:39:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_SALEORDERS] 
-- exec USP_GET_SALEORDERS @IDUSER = 1, @IDDEALER = 5103, @IROWFROM = 0,@VFILTER= NULL, @ID=219
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IDDEALER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@ID INT = NULL,
@IESTATUS INT =NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

BEGIN

	IF @ID IS NOT NULL
	BEGIN
		WITH T1 as(
		SELECT 
			O.ID,O.IDDEALER , O.IDSUPPLIER, O.[IDESTATUS], O.[VREFERENCE], O.[VCOMMENT], 
			ISNULL(O.IDVEHICLE,0) IDVEHICLE, O.BPARALYZED,
			V.VVIN, V.VCUSTOMER,
			D.DEALER,
			CONVERT(VARCHAR(20),O.DCREATED,120) VCREATED,
			ISNULL(O.VCREATEDBY,'') VCREATEDBY,
			(C.VFIRSTNAME+' '+C.VLASTNAME) AS VNAMECREATEDBY,
			A.VDISPLAYESTATUS AS VESTATUS,
			D.DEALER AS VDEALER,S.VSUPPLIER,
			O.BCLAIM,
			ISNULL(O.IDTYPE,0) IDTYPE ,
			ISNULL(T.VNAME,'')  AS VTYPE,
			O.IDCUSTOMERINVOICE,
			(X.VFIRSTNAME + X.VLASTNAME) AS VCUSTOMERINVOICE,
			X.VVAT AS VCUSTOMERVAT,
			D.IDGROUP
			FROM [dbo].SALEORDER O WITH (NOLOCK)
			INNER JOIN SALEORDERTYPE T WITH (NOLOCK) ON T.ID=O.IDTYPE
			INNER JOIN ACTION A WITH (NOLOCK) ON A.ID=O.IDESTATUS
			INNER JOIN V_DEALERS D ON D.IDDEALER=O.IDDEALER
			INNER JOIN V_SUPPLIERS S ON S.IDSUPPLIER=O.IDSUPPLIER
			INNER JOIN INFOUSER I WITH(NOLOCK) ON O.VCREATEDBY=I.VLOGIN 
			LEFT JOIN CONTACT C WITH (NOLOCK) ON I.IDUSER =C.ID
			LEFT JOIN CONTACT X WITH (NOLOCK) ON O.IDCUSTOMERINVOICE=X.ID
			LEFT JOIN (
						SELECT V.ID AS IDVEHICLE ,V.VVIN,
						CASE WHEN  isnull(C.VFIRSTNAME,'')='' THEN 'N/A' ELSE isnull(C.VFIRSTNAME,'') + ' '+isnull(C.VLASTNAME,'') END AS VCUSTOMER 
						FROM VEHICLE V WITH (NOLOCK)
						left JOIN CONTACT C WITH (NOLOCK) ON C.ID=V.IDCUSTOMER
			
						) V ON  V.IDVEHICLE=O.IDVEHICLE 
			WHERE
			O.ID = @ID

		),
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
		T3 AS (
			SELECT * FROM T1
			ORDER BY T1.ID DESC
			OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
			FETCH NEXT @TOPE ROWS ONLY
		)
		SELECT T3.*, T2.* FROM T3, T2;
		END
	ELSE
	BEGIN
		WITH T1 as(
			SELECT 
			O.*, V.VVIN,V.VCUSTOMER
			FROM [dbo].V_SALEORDER O WITH (NOLOCK)
			LEFT JOIN (
						SELECT V.ID AS IDVEHICLE ,V.VVIN,isnull(C.VFIRSTNAME,'') + ' '+isnull(C.VLASTNAME,'') AS VCUSTOMER 
						FROM VEHICLE V WITH (NOLOCK)
						left JOIN CONTACT C WITH (NOLOCK) ON C.ID=V.IDCUSTOMER
			
						) V ON  V.IDVEHICLE=O.IDVEHICLE 
			WHERE
			O.IDDEALER = CASE WHEN ISNULL(@IDDEALER,0)=0 THEN O.IDDEALER ELSE @IDDEALER END AND 
			O.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0)=0 THEN O.IDSUPPLIER ELSE @IDSUPPLIER END
			AND	O.VCREATED >= ISNULL(@DFROMDATE, O.VCREATED)
			 AND O.VCREATED < DATEADD(DAY, 1, ISNULL(@DUPTODATE, O.VCREATED))
			AND ( O.IDESTATUS = CASE WHEN @IESTATUS IS NUll THEN O.IDESTATUS ELSE @IESTATUS END)
			AND
			( 
				O.VID = CASE WHEN ISNULL(@VFILTER,'') = '' THEN O.VID ELSE @VFILTER END OR
				O.VTYPE  LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+O.VTYPE+'%' ELSE '%'+@VFILTER+'%' END OR
				O.VESTATUS  LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+O.VESTATUS+'%' ELSE '%'+@VFILTER+'%' END
			) 
			--EXISTS (SELECT * FROM [dbo].[V_DEALERS_USER] R WHERE R.IDUSER=@IDUSER AND R.IDDEALER=O.IDDEALER) 

		),
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
		T3 AS (
			SELECT * FROM T1
			ORDER BY T1.ID DESC
			OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
			FETCH NEXT @TOPE ROWS ONLY
		)
		SELECT T3.*, T2.* FROM T3, T2;
	END
	
END
