USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_INVOICE]    Script Date: 08/07/2026 10:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 


ALTER PROCEDURE [dbo].[USP_GET_INVOICE]    -- USP_GET_INVOICE 1,4069,0,NULL,0
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,  
@BSURPLUS BIT = 0  
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000 

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END 


    SELECT IDSUPPLIER,VVAT,VSUPPLIER INTO #SUPPLIERS FROM V_SUPPLIERS
    SELECT IDDEALER,VVATINVOICE AS VVAT,DEALER VDEALER INTO #DEALERS FROM V_DEALERS
	--SELECT ID,VVAT,(VFIRSTNAME+ISNULL(VLASTNAME,'')) AS VCUSTOMER INTO #CUSTOMER FROM CONTACT WITH (NOLOCK)

    SELECT 
        I.*,     
		I.IDESTATUS AS IESTATUS,
        ACT.VDISPLAYESTATUS AS STATUS_DISPLAY,
        C.VVAT, 
        C.VDEALER AS VFISCALNAME, 
        U.VSUPPLIER, 
        CASE 
            WHEN I.IINVOICED > ISNULL(I.IDISPATCHED, 0) 
            THEN (I.IINVOICED - ISNULL(I.IDISPATCHED, 0))
            ELSE 0 
        END AS ISURPLUS,
		(CO.VFIRSTNAME+ISNULL(CO.VLASTNAME,'')+' - '+CO.VVAT) AS VCUSTOMER,
		CO.VVAT AS VCUSTOMERVAT
    INTO #INVOICECONTROL
    FROM INVOICECONTROL I WITH (NOLOCK)
    INNER JOIN #DEALERS C ON C.IDDEALER = I.IDCUSTOMER  
	INNER JOIN CONTACT CO  ON I.IDCUSTOMERINVOICE=CO.ID
    INNER JOIN #SUPPLIERS U ON U.IDSUPPLIER = I.IDSUPPLIER 
    INNER JOIN (
                SELECT Y.IDINVOICE,MIN(Y.IDESTATUS) IDESTATUS
                FROM INVOICECONTROL Y WITH (NOLOCK)
                GROUP BY Y.IDINVOICE
                ) X ON X.IDINVOICE=I.IDINVOICE
    INNER JOIN ACTION ACT ON ACT.ID = X.IDESTATUS
    WHERE I.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 THEN I.IDSUPPLIER ELSE @IDSUPPLIER END 
	AND I.IDESTATUS=CASE WHEN @BSURPLUS=1 THEN 2 ELSE I.IDESTATUS END


    BEGIN
        WITH T1 as
        (
        SELECT 
            I.*,     
            P.VINNERCODE AS VCODEPART,  
            P.VDESCRIPTION AS VPART 
        FROM #INVOICECONTROL I WITH (NOLOCK)  
        INNER JOIN PART P ON P.ID=I.IDPART
        WHERE 
            (
                P.VINNERCODE LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + P.VINNERCODE + '%' ELSE '%' + @VFILTER + '%' END OR
                P.VDESCRIPTION LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + P.VDESCRIPTION + '%' ELSE '%' + @VFILTER + '%' END OR
				I.VCUSTOMERVAT LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' +  I.VCUSTOMERVAT + '%' ELSE '%' + @VFILTER + '%' END OR
				CAST(I.IDINVOICE AS VARCHAR(20)) = CASE WHEN ISNULL(@VFILTER,'') = '' THEN CAST(I.IDINVOICE AS VARCHAR(20)) ELSE @VFILTER END 
            )   
             
        )
        SELECT T1.*,
         COUNT(*) OVER() AS TOTAL
        FROM T1
        ORDER BY T1.IDINVOICE ASC
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY

    END
    
