USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_DISPATCHEDCONTROL_TXT]    Script Date: 07/07/2026 10:31:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  USP_GET_DISPATCHEDCONTROL_TXT 1,4069,0,NULL,1,0
ALTER  PROCEDURE [dbo].[USP_GET_DISPATCHEDCONTROL_TXT]   
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL, 
@BPENDANT BIT = 0,  
@IDCONTROL INT = 0

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000 

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END 

        DECLARE @IDECLINE INT
        SELECT @IDECLINE=DBO.UFN_GET_ISTATUS('DECLINE')
	--	SELECT ID,VVAT,(VFIRSTNAME+ISNULL(VLASTNAME,'')) AS VCUSTOMER INTO #CUSTOMER FROM CONTACT WITH (NOLOCK)

             


BEGIN

WITH T1 as
        (
          SELECT 
                I.*,  
                I.IESTATUS AS IDESTATUS,
                M.VLOCATION, 
                M.IREQUIRED,  
                M.VCODEPART,  
                M.VPART, 
                C.VVAT, 
                C.VFIRSTNAME AS VFISCALNAME, 
                U.VSUPPLIER,  
                ACT.VDISPLAYESTATUS,
                (I.IDISPATCHED - ISNULL(I.IINVOICED, 0)) AS IPENDING ,
                SO.VTYPE AS VSALEORDERTYPE,
                CAST(I.IDCONTROL AS VARCHAR(20)) AS VIDCONTROL,
                CAST(I.IDSALEORDER AS VARCHAR(20)) AS VIDSALEORDER,
				(CO.VFIRSTNAME+ISNULL(CO.VLASTNAME,'')+' - '+CO.VVAT) AS VCUSTOMER,
	             CO.VVAT AS VCUSTOMERVAT
            FROM DISPATCHEDCONTROL I WITH (NOLOCK) 
            INNER JOIN V_MOVEMENTDETAILS M ON M.ID = I.IDMOVEMENTDETAIL 
            INNER JOIN V_SALEORDER SO WITH (NOLOCK) ON SO.ID = I.IDSALEORDER
            INNER JOIN CONTACT C WITH (NOLOCK) ON C.ID = I.IDCUSTOMER  
            INNER JOIN V_SUPPLIERS U ON U.IDSUPPLIER = I.IDSUPPLIER 
			INNER JOIN CONTACT CO WITH (NOLOCK) ON I.IDCUSTOMERINVOICE=CO.ID
            INNER JOIN (
                        SELECT IDCONTROL,MIN(Y.IESTATUS) IESTATUS
                        FROM DISPATCHEDCONTROL Y WITH (NOLOCK)
                        GROUP BY IDCONTROL
                      ) X ON X.IDCONTROL=I.IDCONTROL
            INNER JOIN ACTION ACT WITH (NOLOCK) ON ACT.ID = X.IESTATUS
            WHERE I.IDSUPPLIER = @IDSUPPLIER 
                AND I.IESTATUS = CASE WHEN @BPENDANT=1 THEN 2 ELSE I.IESTATUS END
                AND I.IESTATUS<>@IDECLINE
                AND I.IDCONTROL > 0
                AND (@IDCONTROL = 0 OR I.IDCONTROL = @IDCONTROL) --EXPORT
        ),
     P AS   (
            SELECT 
                I.*,     
                P.NPRICE
            FROM T1 I WITH (NOLOCK)  
            INNER JOIN PART P WITH (NOLOCK) ON P.ID=I.IDPART
            WHERE 
                (
                    I.VCODEPART LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + I.VCODEPART + '%' ELSE '%' + @VFILTER + '%' END OR
                    I.VPART LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + I.VPART + '%' ELSE '%' + @VFILTER + '%' END OR
                    I.VIDCONTROL = CASE WHEN ISNULL(@VFILTER,'') = '' THEN I.VIDCONTROL ELSE @VFILTER END OR
                    I.VIDSALEORDER = CASE WHEN ISNULL(@VFILTER,'') = '' THEN I.VIDSALEORDER ELSE  @VFILTER END
                )        
        )
        SELECT P.*,
         COUNT(*) OVER() AS TOTAL
        FROM P
        ORDER BY P.IDINVOICE ASC
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY

END