USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_MAINTENANCE_PROCESS]    Script Date: 14/07/2026 11:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_MAINTENANCE_PROCESS]
 @DATA NVARCHAR(MAX),
 @IDUSER INT,
 @IDSERVICETYPE INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(MAX),
					IDRELATED INT,
					VINVOICENUMBER VARCHAR(50),
					DINVOICEDATE DATETIME
				);

				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId,InvoiceNumber,InvoiceDate
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int,InvoiceNumber Varchar(50),InvoiceDate Datetime
					  ) AS A


				DECLARE @VACTION VARCHAR(20)
				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @VRECORD VARCHAR(20) 
				DECLARE @VACTIONRECORD VARCHAR(20)
				DECLARE @ErrorMessage NVARCHAR(4000) 


				SELECT TOP 1 @VACTION=VACTION FROM @TDATA
				DECLARE @IDMODULE INT=(SELECT IDMODULE FROM @TDATA)
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE


				IF @IDSERVICETYPE=3 AND EXISTS (SELECT T.* FROM  @TDATA T
				INNER JOIN MAINTENANCE P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
				WHERE (T.VACTION= 'PROCESS' AND A.VNAME<>'GENERATE' AND P.IDREPORTTYPE<>7) OR  (T.VACTION= 'PROCESS' AND A.VNAME<>'CREATE' AND P.IDREPORTTYPE=7)
				       )
				BEGIN

				SELECT TOP 1 @VRECORD='000000'+P.ID, @VACTION=T.VACTION, @VACTIONRECORD=A.VNAME FROM @TDATA T
				INNER JOIN MAINTENANCE P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
				WHERE (T.VACTION= 'PROCESS' AND A.VNAME<>'GENERATE' AND P.IDREPORTTYPE<>7) OR  (T.VACTION= 'PROCESS' AND A.VNAME<>'CREATE' AND P.IDREPORTTYPE=7)

				   SET @ErrorMessage ='ACCION NO PERMITIDA PARA EL ESTATUS ACTUAL. NUM REPORTE '+@VRECORD
				   RAISERROR ( @ErrorMessage , 16,1) 
				   RETURN
				END




				IF @VACTION='PROCESS' AND @IDSERVICETYPE = 3   
				BEGIN
				
					UPDATE P
						SET P.IESTATUS= DBO.UFN_GET_ISTATUS('PROCESS'),
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
							P.DINVOICEDATE=D.DINVOICEDATE,
							p.VINVOICENUMBER=d.VINVOICENUMBER
							FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS IN (DBO.UFN_GET_ISTATUS('GENERATE'),DBO.UFN_GET_ISTATUS('CREATE')) 
					SELECT @IUPDATED=@@ROWCOUNT
				END

					
				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				IF @IUPDATED>0
				BEGIN
				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA
				END

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END