USE [ZEPPELIN]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_POLICY]    Script Date: 08/07/2026 9:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_POLICY]
 @DATA NVARCHAR(MAX),
 @IDUSER INT
  
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : GERARDO JIMENEZ
  '   RAZÓN DE MODIFICACIÓN : SE AGREGO EL CAMPO NUMERO CERTIFICADO CON SU RESPECTIVA VALIDACION.
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000



BEGIN
    BEGIN TRY
        BEGIN TRAN 

        

        DECLARE @TDATA AS TABLE
        (
            ID INT,
            IDPOLICYTYPE INT,
            IDVEHICLE INT,
            VINVOICENUMBER VARCHAR(10),
            NINVOICEAMOUNT NUMERIC(12,2),
            DINVOICEDATE DATETIME,
            IDPAYMETHOD INT,
            IESTATUS INT,
            BACTIVE BIT,
            IDCUSTOMER INT,
            ICERTIFICATENUMBER VARCHAR(10),
            VUPDATEDBY VARCHAR(15)
        );


        INSERT INTO @TDATA
        SELECT M.Id, M.PolicyTypeId, M.VehicleId, M.InvoiceNumber, M.InvoiceAmount, M.InvoiceDate, M.PayMethodId, M.EstatusId, M.IsActive,M.CustomerId,M.CertificateNumber, DBO.UFN_GET_LOGIN(@IDUSER)
        FROM OPENJSON(@DATA)
        WITH (
            Id INT,
            PolicyTypeId INT,
            VehicleId INT,
            InvoiceNumber VARCHAR(10),
            InvoiceAmount NUMERIC(12,2),
            InvoiceDate DATETIME,
            PayMethodId INT,
            EstatusId INT,
            IsActive BIT,
            CustomerId VARCHAR (12),
			CertificateNumber VARCHAR(10)

        ) AS M

		DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('POLIZAS-POLIZAS')
		

		-- VALIDACIONES
		

		 EXEC USP_CHECK_VEHICLES @DATA, @IDUSER

				-- VALIDAR QUE SOLO SE PUEDE ACTUALIZAR UN POLIZA QUE NO SE HAYA ACTIVADO
					IF EXISTS (SELECT P.* FROM @TDATA P  
					           INNER JOIN POLICY T WITH (NOLOCK) ON P.ID =T.ID 
							   WHERE T.IESTATUS <> dbo.UFN_GET_ISTATUS('CREATE'))
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: POLIZA ACTIVA.', 16, 1);
						RETURN;
					END


			          
												------------------- DUPLICIDAD DE FACTURA-------------------------
					IF EXISTS (SELECT * FROM @TDATA WHERE ID = 0 OR ID = (SELECT TOP 1 ID FROM POLICY (NOLOCK) WHERE IESTATUS = 2))
						BEGIN
							-- Validar si existe otro vehículo registrado con el mismo IDDEALER y la misma factura
							DECLARE @INVOICE VARCHAR(50);
							DECLARE @PolicyID INT

							SELECT TOP 1
								@PolicyID = P.ID,
								@INVOICE = T.VINVOICENUMBER
							FROM POLICY P
							INNER JOIN VEHICLE V ON P.IDVEHICLE = V.ID
							INNER JOIN @TDATA T ON T.VINVOICENUMBER = P.VINVOICENUMBER
							WHERE V.IDDEALER = (SELECT IDDEALER FROM VEHICLE WHERE ID = T.IDVEHICLE)
							AND P.VINVOICENUMBER = T.VINVOICENUMBER
							AND P.IDVEHICLE != T.IDVEHICLE;
    
							IF @PolicyID IS NOT NULL
							BEGIN
								-- Ejecutar la sentencia
								RAISERROR('ACCION NO PERMITIDA: FACTURA: %s PERTENECE A POLIZA REGISTRADA.', 16, 1, @INVOICE);
								RETURN;
							END
						END
							


		-- VALIDAR QUE EL VIN NO ESTE EN OTRA POLIZA ACTIVA.
				IF EXISTS (
					SELECT * 
					FROM POLICY WITH (NOLOCK) 
					WHERE IDVEHICLE = (SELECT IDVEHICLE FROM @TDATA)
					  AND ID != (SELECT ID FROM @TDATA)
				)
				BEGIN
					DECLARE @VIN VARCHAR(50);

					SELECT TOP 1
						@PolicyID = P.ID,
						@VIN = V.VVIN
					FROM POLICY P WITH (NOLOCK)
					INNER JOIN VEHICLE V ON P.IDVEHICLE = V.ID
					WHERE P.IDVEHICLE = (SELECT IDVEHICLE FROM @TDATA);

					RAISERROR('ACCION NO PERMITIDA: VIN: %s PERTENECE A POLIZA REGISTRADA.', 16, 1, @VIN);
					RETURN;
				END

				-- VALIDACIÓN: Verificar que ICERTIFICATENUMBER solo contenga números
				IF EXISTS (SELECT 1 FROM @TDATA WHERE ISNULL(ICERTIFICATENUMBER, '') = '' OR LTRIM(RTRIM(ICERTIFICATENUMBER)) = '')
				BEGIN
					RAISERROR('EL NÚMERO CERTIFICADO NO PUEDE ESTAR VACÍO.', 16, 1);
					RETURN;
				END

				-- VALIDACIÓN: Verificar que solo contenga dígitos numéricos
				IF EXISTS (SELECT 1 FROM @TDATA WHERE ICERTIFICATENUMBER NOT LIKE '%[0-9]%' OR ICERTIFICATENUMBER LIKE '%[^0-9]%')
				BEGIN
					RAISERROR('EL NÚMERO CERTIFICADO SOLO DEBE CONTENER NÚMEROS.', 16, 1);
					RETURN;
				END

				-- VALIDACIÓN: Verificar que solo contenga dígitos negativos
				IF EXISTS (SELECT 1 FROM @TDATA WHERE ICERTIFICATENUMBER LIKE '-%')
				BEGIN
					RAISERROR('EL NÚMERO CERTIFICADO NO PUEDE SER NEGATIVO.', 16, 1);
					RETURN;
				END

				-- VALIDACIÓN: Verificar que solo contenga menos de 10 dígitos
				IF EXISTS (
					SELECT 1 
					FROM @TDATA 
					WHERE LEN(LTRIM(RTRIM(ICERTIFICATENUMBER))) > 10
				)
				BEGIN
					RAISERROR('EL NÚMERO CERTIFICADO NO PUEDE TENER MÁS DE 10 DÍGITOS.', 16, 1);
					RETURN;
				END

				-- VALIDACIÓN: Verificar que solo contenga menos de 7 dígitos
				IF EXISTS (
					SELECT 1 
					FROM @TDATA 
					WHERE LEN(LTRIM(RTRIM(ICERTIFICATENUMBER))) < 7
				)
				BEGIN
					RAISERROR('EL NÚMERO CERTIFICADO NO PUEDE TENER MENOS DE 7 DÍGITOS.', 16, 1);
					RETURN;
				END

		DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT


		-- REGISTRO NUEVO
		IF EXISTS (SELECT * FROM @TDATA WHERE ID=0)
		BEGIN	
		SET @VACTION='CREATE'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
       	-- Actualización de datos
       	INSERT INTO POLICY
		(VNUMBER,IDPOLICYTYPE, IDVEHICLE, 
		VINVOICENUMBER, NINVOICEAMOUNT, DINVOICEDATE, 
		IDPAYMETHOD,IESTATUS,BACTIVE,VUPDATEDBY, DCREATED, DUPDATED)
       	SELECT DISTINCT '' AS VNUMBER,M.IDPOLICYTYPE, D.IDVEHICLE, 
		D.VINVOICENUMBER, D.NINVOICEAMOUNT, D.DINVOICEDATE, D.IDPAYMETHOD,2,1,DBO.UFN_GET_LOGIN(@IDUSER), GETDATE(), GETDATE()
       	FROM @TDATA D
        INNER JOIN VEHICLE V ON D.IDVEHICLE = V.ID
       	INNER JOIN MODEL M ON V.IDMODEL = M.ID
       	WHERE NOT EXISTS (SELECT * FROM POLICY P WHERE P.ID = D.ID);
        SELECT @IINSERTED=@@ROWCOUNT
		SELECT @IID=SCOPE_IDENTITY()

		---------INSERCION DE CODIGO DE POLIZA-----------
            DECLARE @POLIZA VARCHAR(16)=(
   			SELECT TOP 1 P.VREFERENCE 
   			FROM CONTACT P (NOLOCK)
   			INNER JOIN VEHICLE V ON P.ID = V.IDDEALER
            INNER JOIN @TDATA T ON V.ID= T.IDVEHICLE
   			WHERE P.ID = V.IDDEALER ) + (SELECT RIGHT('000000' + CAST(SCOPE_IDENTITY() AS VARCHAR(10)), 6));
        UPDATE POLICY
		SET VNUMBER = @POLIZA
        WHERE ID = SCOPE_IDENTITY()

------------------------------------------------------------------------------

		
      
		END
		ELSE
		BEGIN
		SET @VACTION='EDIT'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
       		UPDATE P
       		SET IDPOLICYTYPE = M.IDPOLICYTYPE,
           		IDVEHICLE = D.IDVEHICLE,
           		VINVOICENUMBER = D.VINVOICENUMBER,
           		NINVOICEAMOUNT = D.NINVOICEAMOUNT,
           		DINVOICEDATE = D.DINVOICEDATE,
           		IDPAYMETHOD = D.IDPAYMETHOD,
				BACTIVE= D.BACTIVE,
           		VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
           		DUPDATED = GETDATE()
       		FROM POLICY P
       		INNER JOIN @TDATA D ON D.ID = P.ID
            INNER JOIN VEHICLE V ON D.IDVEHICLE = V.ID
       	    INNER JOIN MODEL M ON V.IDMODEL = M.ID
            SELECT @IUPDATED=@@ROWCOUNT
		END

		------REGISTRO DE CLIENTE EN VEHICULO-------
		  IF @IINSERTED>0 OR @IUPDATED>0
		  BEGIN
		  UPDATE A 
	    SET A.IDCUSTOMER=B.IDCUSTOMER,
		    A.IESTATUS = DBO.UFN_GET_ISTATUS('BINVOICE'),
			A.ILASTKM=0,
			A.ICERTIFICATENUMBER = B.ICERTIFICATENUMBER 
		FROM VEHICLE A (NOLOCK)
		INNER JOIN @TDATA B ON B.IDVEHICLE=A.ID  	
		
        INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
		SELECT @IDUSER,IDVEHICLE,2,'BINVOICE','',@IID,GETDATE()
		FROM @TDATA
		END 
		SELECT
		ISNULL(@IID,0) AS IID , 
		ISNULL(@IINSERTED,0) AS IINSERTED,
		ISNULL(@IUPDATED,0) AS IUPDATED

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
