SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SELECT * FROM CONTACT
ALTER PROCEDURE [dbo].[USP_POST_INVOICEREPORT]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT,
 @IDSUPPLIER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 
				
			
				DECLARE @ErrorMessage2 NVARCHAR(4000) 

				

				DECLARE @TDATA AS TABLE
				(
					Vat Varchar(12),
					PartCode VARCHAR(25),
					Quantity INT,
					Reference VARCHAR(200),
					InvoiceNumber INT,
					IDPART INT,
					IDCUSTOMER INT
				);

				INSERT INTO @TDATA
				SELECT D.Vat,D.PartCode, D.Quantity, D.Reference, D.InvoiceNumber,0,0 FROM OPENJSON(@DATA)
				WITH (
						Vat varchar(12),PartCode varchar(25), Quantity int, Reference varchar(200), InvoiceNumber int
					  ) AS D
			

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				UPDATE @TDATA SET Vat= REPLACE(Vat,'-','')

				UPDATE A
					SET A.IDPART = B.ID 
				FROM @TDATA A
				INNER JOIN PART B WITH (NOLOCK) ON B.VINNERCODE=A.PartCode
				WHERE B.IDSUPPLIER=@IDSUPPLIER

				UPDATE A
					SET A.IDCUSTOMER = B.ID 
				FROM @TDATA A
				INNER JOIN CONTACT B WITH (NOLOCK) ON B.VVATINVOICE=A.Vat
				INNER JOIN V_DEALERS D ON D.IDDEALER = B.ID 
				WHERE D.IDSUPPLIER=@IDSUPPLIER
				
			
				DECLARE @VAT VARCHAR(12)
				DECLARE @PART VARCHAR(20)

				SELECT TOP 1 @VAT = VAT
				FROM @TDATA
				WHERE IDCUSTOMER=0

				IF ISNULL(@VAT,'') <> ''
				BEGIN
					SELECT @ErrorMessage2 = 'CLIENTE NO VALIDO: ' + @VAT
					RAISERROR ( @ErrorMessage2 , 16,1) 
				END


				SELECT TOP 1 @PART = PartCode
				FROM @TDATA
				WHERE IDPART=0

				IF ISNULL(@PART,'') <> ''
				BEGIN
					SELECT @ErrorMessage2 = 'PRODUCTO NO VALIDO: ' + @PART
					RAISERROR ( @ErrorMessage2 , 16,1) 
				END

			
				INSERT INTO INVOICECONTROL
				(IDPART,IDCUSTOMER,IDSUPPLIER,IDINVOICE,IINVOICED,IDCONTROL,IDISPATCHED,DCREATED,DSINCDATE,IDUSERSINC,IDESTATUS,VREFERENCE)
				SELECT 
				IDPART,IDCUSTOMER,@IDSUPPLIER,InvoiceNumber,Quantity,0,0,GETDATE(),NULL,NULL,2,Reference
				FROM @TDATA D
				WHERE NOT EXISTS(SELECT * FROM INVOICECONTROL I WITH (NOLOCK)
								WHERE I.IDINVOICE=D.InvoiceNumber AND I.IDSUPPLIER=@IDSUPPLIER
								and I.IDPART=D.IDPART )

				SELECT @IINSERTED = @@ROWCOUNT

				IF @IINSERTED=0
					SET @IINSERTED=1


				DECLARE @INVOICES AS TABLE (VREFERENCES VARCHAR(250), IDINVOICE INT)
				DECLARE @REFERENCES AS TABLE(VREFERENCE VARCHAR(20))

				INSERT INTO @INVOICES
				SELECT DISTINCT
				REPLACE(Reference,'|','*') AS VREFERENCES, InvoiceNumber AS IDINVOICE
				FROM @TDATA
				WHERE Reference IS NOT NULL

				DECLARE @IDDEALERTXT INT
				DECLARE @IDCONTROL INT ,@IDINVOICE INT, @VREFERENCES VARCHAR(250),@VREFERENCE VARCHAR(20)
				DECLARE DETAIL_CURSOR CURSOR FOR 
					SELECT VREFERENCES,IDINVOICE FROM @INVOICES
				OPEN DETAIL_CURSOR;
				FETCH NEXT FROM DETAIL_CURSOR INTO @VREFERENCES,@IDINVOICE

				WHILE @@FETCH_STATUS = 0
				BEGIN
					
						DELETE FROM @REFERENCES
						INSERT INTO @REFERENCES
						SELECT s.value 
						FROM STRING_SPLIT(@VREFERENCES,'*') as s
						where s.value <> ''

						SELECT @IDDEALERTXT=0

						DECLARE REF_CURSOR CURSOR FOR 
							SELECT VREFERENCE FROM @REFERENCES
						OPEN REF_CURSOR;
						FETCH NEXT FROM REF_CURSOR INTO @VREFERENCE

						WHILE @@FETCH_STATUS = 0
						BEGIN
								IF LEN(@VREFERENCE)<=8
								BEGIN
									SELECT @IDCONTROL=CAST(@VREFERENCE AS INT)
									
									-- DEALERS FICTICIOS DE PLANTA
									IF EXISTS (
											  SELECT * FROM @TDATA
											   WHERE InvoiceNumber=@IDINVOICE
											   AND IDCUSTOMER IN (15464,15465,21307,21308,21318,21319,21320,21321,21330,21331)
											   )
									BEGIN
										-- TOMAMOS EL IDCUSTOMER DEL TXT 
										SELECT @IDDEALERTXT=0
										SELECT TOP 1 @IDDEALERTXT=IDCUSTOMER 
										FROM DISPATCHEDCONTROL WITH (NOLOCK) 
										WHERE IDCONTROL=@IDCONTROL AND IDSUPPLIER=@IDSUPPLIER AND IDCONTROL>0

										IF @IDDEALERTXT>0
										BEGIN
											-- ACTUALIZAMOS IDCUSTOMER DE LA FACTURA IGUAL AL IDCUSTOMER DEL TXT
											UPDATE INVOICECONTROL
											SET IDCUSTOMER=@IDDEALERTXT
											WHERE IDSUPPLIER=@IDSUPPLIER AND IDINVOICE=@IDINVOICE 
											 
										END
									END

									EXEC USP_POST_INVOICECONTROL_SINC @IDCONTROL,@IDINVOICE,@IDUSER,@IDSUPPLIER
								END
								
							FETCH NEXT FROM REF_CURSOR INTO @VREFERENCE
						END;

						CLOSE REF_CURSOR;
						DEALLOCATE REF_CURSOR;

					FETCH NEXT FROM DETAIL_CURSOR INTO @VREFERENCES,@IDINVOICE
				END;

				CLOSE DETAIL_CURSOR;
				DEALLOCATE DETAIL_CURSOR;




				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END