/****** Object:  StoredProcedure [dbo].[UFN_GET_BACKORDEREXPIREDAY]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[UFN_GET_BACKORDEREXPIREDAY]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[UFN_GET_BACKORDEREXPIREDAY] AS BEGIN SET NOCOUNT ON  END')
GO 
ALTER FUNCTION [dbo].[UFN_GET_BACKORDEREXPIREDAY] (@CreationDate DATETIME)
RETURNS DATETIME
AS
BEGIN 
    DECLARE @BaseDate DATETIME = CAST(CAST(@CreationDate AS DATE) AS DATETIME);
    DECLARE @ExpirationDate DATETIME;
    DECLARE @WeekDay INT;
     
    SET @WeekDay = ((DATEPART(dw, @BaseDate) + @@DATEFIRST - 2) % 7) + 1;
     
    IF @WeekDay = 5 
        SET @ExpirationDate = DATEADD(day, 3, @BaseDate);
    ELSE IF @WeekDay = 6 
        SET @ExpirationDate = DATEADD(day, 2, @BaseDate);
    ELSE IF @WeekDay = 7  
        SET @ExpirationDate = DATEADD(day, 1, @BaseDate);
    ELSE  
        SET @ExpirationDate = DATEADD(day, 1, @BaseDate);

    -- 2. Validación de Feriados  
    WHILE EXISTS (SELECT 1 FROM dbo.HOLIDAYS 
                  WHERE IMONTH = MONTH(@ExpirationDate) 
                    AND IDAY = DAY(@ExpirationDate))
          OR ((DATEPART(dw, @ExpirationDate) + @@DATEFIRST - 2) % 7) + 1 IN (6, 7) -- Sábado o Domingo
    BEGIN
        SET @ExpirationDate = DATEADD(day, 1, @ExpirationDate);
    END

    RETURN @ExpirationDate;
END