GO
/****** Object:  StoredProcedure [dbo].[USP_POST_DARRIVAL]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_DARRIVAL]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_DARRIVAL] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_DARRIVAL]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN  

				--DECLARA UNA VARIABLE @TDATA
				DECLARE @TDATA AS TABLE
				(
					ID INT,  
					DARRIVAL DATETIME 
				);

				--pone la data recibida en json de @DATA dentro de una tabla @TDATA
				INSERT INTO @TDATA
				SELECT L.Id, L.Arrival  FROM OPENJSON(@DATA)
				WITH (
						Id int, Arrival datetime
					  ) AS L

				

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT  

			IF NOT EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] WHERE IDUSER = @IDUSER)
			BEGIN
				RAISERROR ( 'USUARIO NO AUTORIZADO PARA LA ACCION' , 16,1) 
			END  
			DECLARE @IDMODULE INT = [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-CONTROLDESPACHO');
			DECLARE @VACTION VARCHAR(20) = 'EDIT';
			EXEC USP_CHECK_CREDENTIALS @IDUSER, @VACTION, @IDMODULE; 
			   
				
			--  Actualizar los registros existentes
				UPDATE B
				SET 
					B.DARRIVAL=D.DARRIVAL 
				FROM BACKORDER B 
				INNER JOIN @TDATA D ON D.ID = B.ID
                    WHERE B.ID = D.ID 
				SET @IUPDATED = @@ROWCOUNT

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
 