GO
/****** Object:  StoredProcedure [dbo].[USP_GET_BACKORDER]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_BACKORDER]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_BACKORDER] AS BEGIN SET NOCOUNT ON  END')
GO



ALTER PROCEDURE [dbo].[USP_GET_BACKORDER] -- USP_GET_BACKORDER 1,4069,0,NULL,'',NULL,NULL,0, 'ATENDIDOS'
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IDDEALER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL, 
@BSTOCKONLY BIT = 0,
@VTAB VARCHAR(100) = NULL,
@STARTDATE DATETIME = NULL,
@ENDDATE DATETIME = NULL,
@IESTATUS INT =NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  SARAHY CHIRINOS
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT
	DECLARE @ISDEALER BIT = 0

	-- valida si el usuario es dealer
	IF NOT EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] WHERE IDUSER = @IDUSER)
	BEGIN
		SET @ISDEALER = 1
	END 
	
	--no mostrar atendidos a dealers
	IF @ISDEALER = 1 AND @VTAB = 'ATENDIDOS'
	BEGIN
		SELECT CAST(0 AS INT) AS TOTAL
		WHERE 1 = 0  
		RETURN
	END
	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END 
		DECLARE @STATUS_CREATE INT = DBO.UFN_GET_ISTATUS('CREATE');
		DECLARE @STATUS_UNASSIGN INT = DBO.UFN_GET_ISTATUS('UNASSIGN');
		DECLARE @STATUS_UNAVAILABLE INT = DBO.UFN_GET_ISTATUS('UNAVAILABLE');
		DECLARE @STATUS_DECLINE INT = DBO.UFN_GET_ISTATUS('DECLINE');
		DECLARE @STATUS_PROCESS INT = DBO.UFN_GET_ISTATUS('PROCESS');

		SELECT I.IDPART,SUM( I.ISTOCK) ISTOCK
		INTO #INVENTORY
		FROM INVENTORY I WITH (NOLOCK)
		INNER JOIN LOCATION L  (NOLOCK) ON I.IDLOCATION = L.ID
		INNER JOIN ZONE Z  (NOLOCK) ON L.IDZONE = Z.ID
		INNER JOIN WAREHOUSE W  (NOLOCK) ON Z.IDWAREHOUSE = W.ID
		WHERE L.VTYPE IN ('A')
		AND W.BSELL=1
		GROUP BY I.IDPART

		CREATE NONCLUSTERED INDEX #IND_INVENTORY ON #INVENTORY (IDPART ASC)

BEGIN

	WITH  T1 as(
				SELECT B.*,
				CASE WHEN @ISDEALER = 1 THEN 0.00 ELSE P.NCOST END AS NCOST,
				--CASE WHEN @ISDEALER = 1 THEN 0.00 ELSE ROUND((P.NCOST / 0.70),2) END AS NPRICE,
				P.NPRICE
					,
					ISTOCK = CASE 
								WHEN @ISDEALER = 1 THEN 0  --  dealers stock  0
								ELSE ISNULL(I.ISTOCK, 0) --muestra stock si el usuario es de plant
							 END
				FROM V_BACKORDER B  WITH (NOLOCK)
				INNER JOIN PART P WITH (NOLOCK) ON P.ID=B.IDPART
				LEFT JOIN #INVENTORY I WITH (NOLOCK) ON I.IDPART=P.ID
				WHERE
				(
					(@VTAB = 'PENDIENTES' AND B.IDSTATUS = @STATUS_CREATE) OR
					(@VTAB = 'POR ATENDER' AND B.IDSTATUS IN (@STATUS_UNASSIGN, @STATUS_UNAVAILABLE)) OR
					(@VTAB = 'ATENDIDOS' AND B.IDSTATUS IN (@STATUS_DECLINE, @STATUS_PROCESS))
				)  
					--B.IDSTATUS = DBO.UFN_GET_ISTATUS('CREATE') AND --THIS IS CREATED
					AND B.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 THEN B.IDSUPPLIER ELSE @IDSUPPLIER END 
					AND	B.DCREATED >= ISNULL(@STARTDATE, B.DCREATED)
					AND B.DCREATED < DATEADD(DAY, 1, ISNULL(@ENDDATE, B.DCREATED))
					AND ( B.IDSTATUS = CASE WHEN @IESTATUS IS NUll THEN B.IDSTATUS ELSE @IESTATUS END)
					AND (@IDDEALER = 0 OR B.IDDEALER = @IDDEALER)
					AND
					(
						B.VDESCRIPTION LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+B.VDESCRIPTION+'%' ELSE '%'+@VFILTER+'%'  END OR
						B.VINNERCODE LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+B.VINNERCODE+'%' ELSE '%'+@VFILTER+'%'  END OR
						B.VIDSALEORDER LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN B.VIDSALEORDER ELSE @VFILTER  END
					) 
					--AND (@STARTDATE IS NULL OR @ENDDATE IS NULL OR B.DCREATED >= @STARTDATE AND B.DCREATED < DATEADD(DAY, 1, @ENDDATE))
					AND ISNULL(I.ISTOCK, 0) >= CASE WHEN @BSTOCKONLY=1 THEN 1 ELSE 0 END 
			)
			,
	T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
	T3 AS (
		SELECT * FROM T1
        ORDER BY T1.IDSALEORDER asc,T1.VDESCRIPTION
        OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
        FETCH NEXT @TOPE ROWS ONLY
	)
	SELECT T3.*, T2.* FROM T3, T2;

	DROP TABLE #INVENTORY
END
