GO
/****** Object:  StoredProcedure [dbo].[USP_NEW_BACKORDER]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_NEW_BACKORDER]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_NEW_BACKORDER] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_NEW_BACKORDER]  
@IDBACKORDER_NEW INT OUTPUT,
@IDBACKORDER_OLD INT,
@IBACKORDER INT,
@IDUSER INT = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	INSERT INTO BACKORDER
	(
	IDSUPPLIER,IDDEALER,IDSALEORDERDETAIL,IBACKORDER,DCREATED,IDSTATUS,IDASSIGNED,IDUSER,IDSALEORDER)
	SELECT TOP 1 
	IDSUPPLIER,IDDEALER,IDSALEORDERDETAIL,@IBACKORDER,GETDATE(),DBO.UFN_GET_ISTATUS('UNAVAILABLE'),@IDUSER,@IDUSER,IDSALEORDER
	FROM BACKORDER WITH (NOLOCK)
	WHERE ID=@IDBACKORDER_OLD

	SELECT @IDBACKORDER_NEW=SCOPE_IDENTITY()

	RETURN

END

