GO
/****** Object:  StoredProcedure [dbo].[USP_POST_BACKORDER]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_BACKORDER]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_BACKORDER] AS BEGIN SET NOCOUNT ON  END')
GO


ALTER PROCEDURE [dbo].[USP_POST_BACKORDER]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT,
 @BFULL BIT = NULL  

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN  

				--DECLARA UNA VARIABLE @TDATA
				DECLARE @TDATA AS TABLE
				(
					ID INT, 
					IBACKORDER INT, 
					DARRIVAL DATETIME 
				);

				--pone la data recibida en json de @DATA dentro de una tabla @TDATA
				INSERT INTO @TDATA
				SELECT L.Id, L.Quantity, L.Arrival  FROM OPENJSON(@DATA)
				WITH (
						Id int, Quantity int, Arrival datetime
					  ) AS L

				

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT 

				--TABLA TEMPORAL PARA GUARDAR CANTIDADES Y DIFERENCIA
				DECLARE @TDIFFERENCES TABLE
				( 
					IDBACKORDER INT, 
					CANTIDAD_ANTERIOR INT,
					CANTIDAD_NUEVA INT,
					DIFERENCIA INT
				)


			IF NOT EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] WHERE IDUSER = @IDUSER)
			BEGIN
				RAISERROR ( 'USUARIO NO AUTORIZADO PARA LA ACCION' , 16,1) 
			END 


			-- SELECT * FROM MODULE
			DECLARE @IDMODULE INT = [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-CONTROLDESPACHO');-- MODULO ACTUAL
			DECLARE @VACTION VARCHAR(20) = 'EDIT';
			EXEC USP_CHECK_CREDENTIALS @IDUSER, @VACTION, @IDMODULE; 

		IF @BFULL = 1 
			BEGIN 
			
			INSERT INTO @TDIFFERENCES (IDBACKORDER, CANTIDAD_ANTERIOR, CANTIDAD_NUEVA, DIFERENCIA)
				SELECT
					B.ID AS IDBACKORDER,   
					B.IBACKORDER AS CANTIDAD_ANTERIOR,
					D.IBACKORDER AS CANTIDAD_NUEVA,
					B.IBACKORDER - D.IBACKORDER AS DIFERENCIA  
				FROM BACKORDER B WITH(NOLOCK)
				INNER JOIN @TDATA D ON D.ID = B.ID
				WHERE D.IBACKORDER <= B.IBACKORDER   
				
			--  Actualizar los registros existentes
				UPDATE B
				SET 
					B.DARRIVAL=T.DARRIVAL,
					B.IBACKORDER = T.IBACKORDER
				FROM BACKORDER B 
				INNER JOIN @TDATA T ON T.ID= B.ID  
				WHERE T.IBACKORDER <= B.IBACKORDER 
				
				SELECT @IUPDATED = @@ROWCOUNT 

				-- Insertar diferencias como nuevos registros
				  INSERT INTO BACKORDER (
					IDSUPPLIER, 
					IDDEALER, 
					IDSALEORDERDETAIL, 
					IBACKORDER, 
					DCREATED, 
					IDSTATUS, 
					IDASSIGNED, 
					IDUSER, 
					DARRIVAL,
					IDSALEORDER
				)
				SELECT 
					B.IDSUPPLIER,
					B.IDDEALER,
					B.IDSALEORDERDETAIL,
					T.DIFERENCIA,                
					GETDATE(),                 
					B.IDSTATUS,
					B.IDASSIGNED,
					@IDUSER,                    
					B.DARRIVAL,
					B.IDSALEORDER
				FROM BACKORDER B
				INNER JOIN @TDIFFERENCES T ON B.ID = T.IDBACKORDER
				WHERE T.DIFERENCIA > 0
			
			SELECT @IINSERTED=@@ROWCOUNT
			SELECT @IID=SCOPE_IDENTITY()

			END 
		 
---------------------------------------------------------------------------------------------------------------------------
			  
			ELSE 
				BEGIN  -- Insercion y actualización masiva
			
			INSERT INTO @TDIFFERENCES (IDBACKORDER, CANTIDAD_ANTERIOR, CANTIDAD_NUEVA, DIFERENCIA)
            SELECT
                B.ID,
                B.IBACKORDER,
                D.IBACKORDER,
                B.IBACKORDER - D.IBACKORDER
            FROM BACKORDER B WITH(NOLOCK)
            INNER JOIN @TDATA D ON D.ID = B.ID
            WHERE D.IBACKORDER <= B.IBACKORDER  

			UPDATE B
            SET  
                B.IBACKORDER = D.IBACKORDER, 
                B.DARRIVAL = D.DARRIVAL,
                B.IDUSER = @IDUSER,
                B.DCREATED = GETDATE()   
            FROM BACKORDER B
            INNER JOIN @TDATA D ON D.ID = B.ID   
            WHERE D.IBACKORDER <= B.IBACKORDER 
            
            SET @IUPDATED = @@ROWCOUNT
			 

            INSERT INTO BACKORDER (
                IDSUPPLIER, IDDEALER, IDSALEORDERDETAIL, IBACKORDER, 
                DCREATED, IDSTATUS, IDASSIGNED, IDUSER, DARRIVAL, IDSALEORDER
            )
            SELECT 
                B.IDSUPPLIER,  B.IDDEALER,  B.IDSALEORDERDETAIL, T.DIFERENCIA,                
                GETDATE(),  B.IDSTATUS,  B.IDASSIGNED, @IDUSER, B.DARRIVAL, B.IDSALEORDER
            FROM BACKORDER B
				INNER JOIN @TDIFFERENCES T ON B.ID = T.IDBACKORDER
				WHERE T.DIFERENCIA > 0 
            

            SET @IINSERTED = @@ROWCOUNT
            SET @IID = SCOPE_IDENTITY() 
        
			END
	   
				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
 
             
       