GO
/****** Object:  StoredProcedure [dbo].[USP_CHECK_BACKORDERS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_CHECK_BACKORDERS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_CHECK_BACKORDERS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_CHECK_BACKORDERS]
AS

/* '===============================================================           
  '   NOMBRE                : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               :  
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
BEGIN 
    SET NOCOUNT ON;
    SET XACT_ABORT ON;   

    UPDATE [dbo].[BACKORDER]
    SET IDSTATUS = 21
    WHERE IDSTATUS = 2 
    AND DEXPIRATION < GETDATE();
END