GO
/****** Object:  StoredProcedure [dbo].[USP_POST_CLAIMDETAILS_ACTIONS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_CLAIMDETAILS_ACTIONS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_CLAIMDETAILS_ACTIONS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_POST_CLAIMDETAILS_ACTIONS]
    @DATA NVARCHAR(MAX),
    @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               : 
  '   VERSIÓN               :
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN :  
  '===============================================================*/     
   
SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
    BEGIN TRY
        

        -- ================================================================
        -- 1. PARSEO DE DATOS
        -- ================================================================
        DECLARE @TDATA TABLE (
            IDRECORD INT,
            IDMODULE INT,
            VACTION VARCHAR(20),
            VCOMMENT VARCHAR(MAX),
            IDRELATED INT,
            IAPPROVE INT,
            ITRANSACTION INT
        );
 
        INSERT INTO @TDATA
		SELECT RecordId, ModuleId, ActionName, ActionComment, RelatedId, ApproveQuantity, TransactionQuantity
		FROM OPENJSON(@DATA)
		WITH (
			RecordId int, 
			ModuleId int, 
			ActionName varchar(20),
			ActionComment varchar(MAX),
			RelatedId int, 
			ApproveQuantity int, 
			TransactionQuantity int
		) AS C

        -- Variables principales
		DECLARE @VACTION VARCHAR(20) 
		DECLARE @IDMODULE INT
        DECLARE @IDDETAIL INT
        DECLARE @IDRELATED_PART INT
        DECLARE @IAPPROVE_QUANTITY INT
        DECLARE @ITRANSACTION_QUANTITY INT
        DECLARE @VCOMMENT VARCHAR(MAX)
        DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT

        SELECT TOP 1 
            @IDDETAIL = IDRECORD,
            @IDRELATED_PART = IDRELATED,
            @IAPPROVE_QUANTITY = IAPPROVE,
            @ITRANSACTION_QUANTITY = ITRANSACTION,
            @VCOMMENT = VCOMMENT,
            @VACTION = VACTION
        FROM @TDATA;

        SELECT TOP 1 @VACTION=VACTION,@IDMODULE=IDMODULE FROM @TDATA

		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
        -- ================================================================
        -- 2. VALIDACIONES BÁSICAS
        -- ================================================================
        IF NOT EXISTS (SELECT 1 FROM CLAIMDETAIL WHERE ID = @IDDETAIL)
        BEGIN
            RAISERROR('El item no existe.', 16, 1);
            RETURN;
        END

        -- Obtener datos actuales del item
        DECLARE @CURRENT_STATUS INT
        DECLARE @IDREASON INT
        DECLARE @REASON_DESC VARCHAR(100)
        DECLARE @IQUANTITY_ORIGINAL INT
        DECLARE @IDCLAIM INT

        SELECT 
            @CURRENT_STATUS = CD.IDSTATUS,
            @IDREASON = CD.IDREASON,
            @IQUANTITY_ORIGINAL = CD.IQUANTITY,
            @IDCLAIM = CD.IDCLAIM
        FROM CLAIMDETAIL CD
        WHERE CD.ID = @IDDETAIL;

        -- Obtener descripción del motivo
        SELECT @REASON_DESC = VDESCRIPTION  
        FROM CLAIMREASON  
        WHERE ID = @IDREASON;

        -- Validar estado del reclamo 
        IF NOT EXISTS (
            SELECT 1 FROM CLAIM 
            WHERE ID = @IDCLAIM 
            AND IDSTATUS IN ( 
                dbo.UFN_GET_ISTATUS('TOAPPROVE')
            )
        )
        BEGIN
            RAISERROR('El reclamo no está en estado para aprobar.', 16, 1);
            RETURN;
        END

        ---- ================================================================
        ---- 3. VALIDACIÓN DE PERMISOS
        ---- ================================================================
        --SET @IDMODULE = (SELECT TOP 1 IDMODULE FROM @TDATA)
        --EXEC USP_CHECK_CREDENTIALS @IDUSER, @VACTION, @IDMODULE

        -- ================================================================
        -- 4. VALIDACIONES COMUNES Y ESPECÍFICAS
        -- ================================================================
        BEGIN TRAN 
        -- ACCIÓN: APROBAR
        IF @VACTION = 'APPROVE'
        BEGIN
            -- Validaciones básicas de cantidades
            IF @IAPPROVE_QUANTITY IS NULL OR @IAPPROVE_QUANTITY < 0
            BEGIN
                RAISERROR('La cantidad aprobada debe ser mayor o igual a 0.', 16, 1);
                RETURN;
            END

            IF @ITRANSACTION_QUANTITY IS NULL OR @ITRANSACTION_QUANTITY < 0
            BEGIN
                RAISERROR('La cantidad de transacción debe ser mayor o igual a 0.', 16, 1);
                RETURN;
            END

            -- Validar que las cantidades no excedan lo reclamado
            IF @IAPPROVE_QUANTITY > @IQUANTITY_ORIGINAL
            BEGIN
                RAISERROR('No puede aprobar más de lo reclamado (%d unidades).', 16, 1, @IQUANTITY_ORIGINAL);
                RETURN;
            END

            IF @ITRANSACTION_QUANTITY > @IQUANTITY_ORIGINAL
            BEGIN
                RAISERROR('La transacción no puede exceder lo reclamado (%d unidades).', 16, 1, @IQUANTITY_ORIGINAL);
                RETURN;
            END
             -- ================================================================
            -- VALIDACIÓN PARA TIPO "NO APLICA"  
            -- ================================================================
            IF @REASON_DESC = 'NO APLICA'
            BEGIN 
                IF @ITRANSACTION_QUANTITY != @IQUANTITY_ORIGINAL
                BEGIN
                    RAISERROR('La nota de crédito debe ser igual a la cantidad reclamada (%d unidades).', 
                              16, 1, @IQUANTITY_ORIGINAL);
                    RETURN;
                END

                -- Para NO APLICA, no se requiere repuesto de reemplazo
                IF @IDRELATED_PART IS NOT NULL AND @IDRELATED_PART > 0
                BEGIN
                    RAISERROR('No debe especificar repuesto de reemplazo.', 16, 1);
                    RETURN;
                END
            END 
            ELSE IF @REASON_DESC IN ('SOBRANTE', 'NO SOLICITADO')
            BEGIN 
                --IF @IDRELATED_PART > 0
                --BEGIN
                --    RAISERROR('SOBRANTE/NO SOLICITADO no debe tener repuesto de reemplazo.', 16, 1);
                --    RETURN;
                --END

                 IF @ITRANSACTION_QUANTITY = 0 AND @IAPPROVE_QUANTITY != @IQUANTITY_ORIGINAL
                BEGIN
                    RAISERROR('La cantidad a ingresar debe ser igual a lo reclamado (%d unidades).', 16, 1, @IQUANTITY_ORIGINAL);
                    RETURN;
                END
                
                -- 4. Si solo se va a facturar (sin aprobar), debe ser igual a lo reclamado
                IF @IAPPROVE_QUANTITY = 0 AND @ITRANSACTION_QUANTITY != @IQUANTITY_ORIGINAL
                BEGIN
                    RAISERROR('La cantidad facturada debe ser igual a lo reclamado (%d unidades).', 16, 1, @IQUANTITY_ORIGINAL);
                    RETURN;
                END
                
                -- 5. Si se va a aprobar y facturar, la sumatoria debe ser igual a lo reclamado
                IF @IAPPROVE_QUANTITY > 0 AND @ITRANSACTION_QUANTITY > 0 
                   AND (@IAPPROVE_QUANTITY + @ITRANSACTION_QUANTITY) != @IQUANTITY_ORIGINAL
                BEGIN
                    RAISERROR('La sumatoria de aprobado (%d) y facturado (%d) debe ser igual a lo reclamado (%d unidades).', 16, 1, @IAPPROVE_QUANTITY, @ITRANSACTION_QUANTITY, @IQUANTITY_ORIGINAL);
                    RETURN;
                END
            END
            ELSE IF @REASON_DESC IN ('FALTANTE', 'MAL ESTADO','MAL FUNCIONAMIENTO')
            BEGIN
                -- FALTANTE y MAL ESTADO requieren repuesto de reemplazo
                --IF @IDRELATED_PART IS NULL OR @IDRELATED_PART <= 0
                --BEGIN
                --    RAISERROR('Debe especificar un repuesto de reemplazo válido.', 16, 1);
                --    RETURN;
                --END

                -- Validar que exista el repuesto
                --IF NOT EXISTS (SELECT 1 FROM PART WHERE ID = @IDRELATED_PART)
                --BEGIN
                --    RAISERROR('El repuesto de reemplazo no existe.', 16, 1);
                --    RETURN;
                --END
                  
                
                -- 3. Si va a aprobar solamente (sin nota de crédito), debe ser igual a lo reclamado
                IF @ITRANSACTION_QUANTITY = 0 AND @IAPPROVE_QUANTITY != @IQUANTITY_ORIGINAL
                BEGIN
                    RAISERROR('La cantidad a reponer debe ser igual a la reclamada. Cantidad reclamada = (%d unidades).', 16, 1, @IQUANTITY_ORIGINAL);
                    RETURN;
                END
                
                -- 4. Si solo se va a hacer nota de crédito (sin aprobar), debe ser igual a lo reclamado
                IF @IAPPROVE_QUANTITY = 0 AND @ITRANSACTION_QUANTITY != @IQUANTITY_ORIGINAL
                BEGIN
                    RAISERROR('La cantidad de nota de crédito debe ser igual a la reclamada. Cantidad reclamada = (%d unidades).', 16, 1, @IQUANTITY_ORIGINAL);
                    RETURN;
                END
                
                -- 5. Si se va a aprobar y hacer nota de crédito, la sumatoria debe ser igual a lo reclamado
                IF @IAPPROVE_QUANTITY > 0 AND @ITRANSACTION_QUANTITY > 0 
                   AND (@IAPPROVE_QUANTITY + @ITRANSACTION_QUANTITY) != @IQUANTITY_ORIGINAL
                BEGIN
                    RAISERROR('La cantidad debe ser igual a lo reclamado. Cantidad reclamada = (%d unidades)', 16, 1, @IAPPROVE_QUANTITY, @ITRANSACTION_QUANTITY, @IQUANTITY_ORIGINAL);
                    RETURN;
                END 
            END
             
             UPDATE CLAIMDETAIL
            SET  
                IDREPLACEMENT_PART = CASE 
                    WHEN @REASON_DESC IN ('FALTANTE', 'MAL ESTADO','MAL FUNCIONAMIENTO') 
                    THEN @IDRELATED_PART 
                    ELSE IDREPLACEMENT_PART 
                END, 
                IAPPROVEDQUANTITY = @IAPPROVE_QUANTITY,
                ITRANSACTIONQUANTITY = @ITRANSACTION_QUANTITY,
                VCOMMENT = @VCOMMENT,
                IDSTATUS = dbo.UFN_GET_ISTATUS('APPROVE') 
            WHERE ID = @IDDETAIL;
            
            SET @IUPDATED = @@ROWCOUNT;
        END
        -- ACCIÓN: RECHAZAR
        ELSE IF @VACTION = 'DECLINE'
        BEGIN
            UPDATE CLAIMDETAIL
            SET 
                VCOMMENT = @VCOMMENT,
                IDSTATUS = dbo.UFN_GET_ISTATUS('DECLINE')  
            WHERE ID = @IDDETAIL;
            
            SET @IUPDATED = @@ROWCOUNT;
        END
        ELSE
        BEGIN
            RAISERROR('Acción no válida: %s', 16, 1, @VACTION);
            RETURN;
        END  
        -- ================================================================
        -- 4. RESULTADOS Y AUDITORÍA
        -- ================================================================ 

SELECT
    ISNULL(@IID, 0) AS IID,
    ISNULL(@IINSERTED, 0) AS IINSERTED,
    ISNULL(@IUPDATED, 0) AS IUPDATED

IF @IUPDATED > 0
BEGIN
    INSERT INTO AUDIT (IDUSER, IDRECORD, IDMODULE, VACTION, VCOMMENT, IDRELATED, DCREATED)
    SELECT @IDUSER, IDRECORD, IDMODULE, @VACTION, VCOMMENT, IDRELATED, GETDATE()
    FROM @TDATA;
END

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN;
        
        DECLARE @ErrorMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMsg, 16, 1);
    END CATCH
END
