GO
/****** Object:  StoredProcedure [dbo].[USP_GET_LABORTIME]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_LABORTIME]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_LABORTIME] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_GET_LABORTIME] -- USP_GET_LABORTIME 1,4076,NULL,''
@IDUSER INT=NULL,
@IDSUPPLIER INT ,
@IDMODEL INT=NULL,
@VFILTER VARCHAR(100) = NULL,
@IROWFROM INT = NULL

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END
	

BEGIN
     WITH T1 AS (
	SELECT 
		L.*, 
		M.VDESCRIPTION AS VMODELNAME,
		(SELECT TOP 1 E.NVALUE FROM PARAMETER E WHERE E.VCODIGO = 'LABORTIME1') AS NPRICE
		FROM LABORTIME L WITH (NOLOCK)
		INNER JOIN MODEL M WITH (NOLOCK) ON L.IDMODEL = M.ID
		INNER JOIN V_SUPPLIERS V WITH (NOLOCK) ON M.IDBRAND = V.IDBRAND
		WHERE 
		(L.IDMODEL = CASE WHEN @IDMODEL IS NULL THEN L.IDMODEL ELSE @IDMODEL END)
		AND V.IDSUPPLIER = @IDSUPPLIER
		AND (
		L.VDESCRIPTION LIKE '%' + ISNULL(@VFILTER, '') + '%' OR
		L.VREFERENCE LIKE '%' + ISNULL(@VFILTER, '') + '%' OR
		M.VNAME LIKE '%' + ISNULL(@VFILTER, '') + '%'

    ) AND L.BACTIVE=1), 
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
    T3 AS (
        SELECT * FROM T1
        ORDER BY T1.ID
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
    )
    SELECT T3.*, T2.TOTAL
    FROM T3, T2

END
