GO
/** Object:  StoredProcedure [dbo].[USP_GET_BACKORDER]    Script Date: 18/08/2025 8:46:26 **/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_BACKORDER]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_BACKORDER] AS BEGIN SET NOCOUNT ON  END')
GO


ALTER PROCEDURE [dbo].[USP_GET_BACKORDER] -- USP_GET_BACKORDER 1,4069,5205,0,'100'
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IDDEALER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@STARTDATE DATETIME= NULL,
@ENDDATE DATETIME= NULL

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT
	DECLARE @ISDEALER BIT = 0

	-- valida si el usuario es dealer
	IF NOT EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] WHERE IDUSER = @IDUSER)
	BEGIN
		SET @ISDEALER = 1
	END 
	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END 
	  
BEGIN

	WITH T1 as(
		SELECT B.*,
		ISTOCK = CASE 
                    WHEN @ISDEALER = 1 THEN 0  --  dealers stock  0
                    ELSE ISNULL(I.ISTOCK, 0) --muestra stock si el usuario es de plant
                 END
		FROM V_BACKORDER B  WITH (NOLOCK)
		LEFT JOIN ( SELECT I.IDPART,SUM( I.ISTOCK) ISTOCK
					FROM V_INVENTORY I WITH (NOLOCK)
					WHERE I.VLOCATIONTYPE IN ('A')
					AND I.BSELL=1
					GROUP BY I.IDPART
					) I ON I.IDPART=B.IDPART
		WHERE
			B.IDSTATUS = DBO.UFN_GET_ISTATUS('CREATE') AND --THIS IS CREATED
			B.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 THEN B.IDSUPPLIER ELSE @IDSUPPLIER END AND  
			EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] R WHERE R.IDUSER=@IDUSER AND R.IDSUPPLIER=B.IDSUPPLIER) AND
			@IDDEALER = 0 OR B.IDDEALER = @IDDEALER AND
			(
				B.VDESCRIPTION LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+B.VDESCRIPTION+'%' ELSE '%'+@VFILTER+'%'  END OR
				B.VINNERCODE LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+B.VINNERCODE+'%' ELSE '%'+@VFILTER+'%'  END OR
				B.DEALER LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+B.DEALER+'%' ELSE '%'+@VFILTER+'%'  END OR
				B.VIDSALEORDER LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN B.VIDSALEORDER ELSE @VFILTER  END
			)  AND 
				(@STARTDATE IS NULL OR @ENDDATE IS NULL OR B.DCREATED >= @STARTDATE AND B.DCREATED < DATEADD(DAY, 1, @ENDDATE))
			),
	T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
	T3 AS (
		SELECT * FROM T1
        ORDER BY T1.IDSALEORDER DESC,T1.VDESCRIPTION
        OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
        FETCH NEXT @TOPE ROWS ONLY
	)
	SELECT T3.*, T2.* FROM T3, T2;
END
