GO
/****** Object:  StoredProcedure [dbo].[USP_POST_MOVEMENTS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_MOVEMENTS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_MOVEMENTS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_POST_MOVEMENTS]  
 @DATA VARCHAR(MAX),
 @IDUSER INT 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

		
				DECLARE @TDATA AS TABLE
				(
					ID INT,
					IDSUPPLIER INT,
					VTYPE VARCHAR(1),
					VCOMMENT VARCHAR(100),
					VREFERENCE VARCHAR(10),
					IDCONTACT INT
				);

				INSERT INTO @TDATA
				SELECT M.Id,M.SupplierId,M.TypeId,M.Comment,M.Reference,ContactId FROM OPENJSON(@DATA)
				WITH (
						Id int, SupplierId int, TypeId Varchar(1), Comment Varchar(100),Reference varchar(10),ContactId int
					  ) AS M

					 

			    DECLARE @VACTION VARCHAR(20)
		------MARCAR MODULO DEPENDIENDO DEL SERVICETYPE------
				DECLARE @IDMODULE INT;
				SELECT TOP 1 @IDMODULE = 
				CASE 
				WHEN M.VTYPE = 'R' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECEPCION')
				WHEN M.VTYPE = 'T' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-TRASLADO') 
				WHEN M.VTYPE = 'P' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECOLECCION')
				ELSE 8
				END
				FROM @TDATA M;
			    
				

				EXEC [dbo].[USP_CHECK_SUPPLIERS] @DATA,@IDUSER


				IF EXISTS (SELECT * FROM @TDATA WHERE ISNULL(VREFERENCE,'') ='' AND VTYPE='R' AND ID>0)
				BEGIN
					RAISERROR ( 'Referencia es obligatoria' , 16,1) 
				END
							
							

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT


				-- PRUEBA DE CREACION DE DESPACHO MANUAL
				IF EXISTS (SELECT * FROM @TDATA WHERE VTYPE='P' AND ID=0)
				BEGIN
					
					DECLARE @IDDEALER INT
					-- ESTO SE QUITARA AL IMPLEMENTAR LOS PEDIDOS
					SELECT TOP 1 @IDDEALER=IDDEALER FROM V_DEALERS WHERE IDSUPPLIER=4069

					UPDATE @TDATA SET IDCONTACT=@IDDEALER
				END

				
				IF EXISTS (SELECT * FROM @TDATA WHERE ID=0)
				BEGIN
				SET @VACTION='CREATE'
			    EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
				INSERT INTO MOVEMENT
				(IDSUPPLIER,IESTATUS,VTYPE,VCOMMENT,VREFERENCE,DCREATED,DUPDATED,VUPDATEDBY,VCREATEDBY,IDCONTACT)
				SELECT IDSUPPLIER,DBO.UFN_GET_ISTATUS('CREATE'),VTYPE,VCOMMENT,VREFERENCE,GETDATE(),GETDATE(),
				DBO.UFN_GET_LOGIN(@IDUSER),
				DBO.UFN_GET_LOGIN(@IDUSER),
				CASE WHEN VTYPE='T' THEN IDSUPPLIER ELSE IDCONTACT END
				FROM @TDATA D
				WHERE NOT EXISTS (SELECT * FROM MOVEMENT M WITH (NOLOCK) WHERE M.ID=D.ID)

				SELECT @IINSERTED=@@ROWCOUNT
				SELECT @IID=SCOPE_IDENTITY()
				END
				ELSE 
				BEGIN 

				SET @VACTION='EDIT'
			    EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
				UPDATE M
					SET M.VCOMMENT=D.VCOMMENT,
						m.VREFERENCE=D.VREFERENCE,
						M.DUPDATED = GETDATE(),
						VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
						M.IDCONTACT = CASE WHEN D.VTYPE='R' THEN D.IDCONTACT ELSE M.IDCONTACT  END 
				FROM MOVEMENT M
				INNER JOIN @TDATA D ON D.ID=M.ID 

				SELECT @IUPDATED=@@ROWCOUNT
				END 

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
