GO
/** Object:  StoredProcedure [dbo].[USP_GET_MOVEMENTDETAILS]    Script Date: 18/08/2025 8:46:26 **/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_MOVEMENTDETAILS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_MOVEMENTDETAILS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_GET_MOVEMENTDETAILS] -- USP_GET_MOVEMENTDETAILS 1019
@IDMOVEMENT INT,
@ID INT = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	SELECT D.*,ISNULL(I.ISTOCK,0) ISTOCK,
		PT.VNAME AS VPARTIALTYPE,  
		PT.ID AS IDPARTIALTYPE    
	FROM V_MOVEMENTDETAILS D
	LEFT JOIN ( 
				SELECT IDPART,SUM(ISTOCK) ISTOCK
				FROM V_INVENTORY I WITH (NOLOCK)
				WHERE I.VLOCATIONTYPE='A'
				GROUP BY IDPART
			   ) I ON I.IDPART=D.IDPART
	LEFT JOIN PARTIALTYPE PT WITH (NOLOCK) ON PT.ID = D.IDPARTIALTYPE
	WHERE D.IDMOVEMENT=@IDMOVEMENT
	AND D.ID =  CASE WHEN ISNULL(@ID,0)=0 THEN D.ID ELSE @ID END 
	ORDER BY D.VCODEPART, CASE WHEN D.VTYPE='P' THEN 1 ELSE 2 END ASC,
	D.VPART
END

 
	 
	 
	 