GO
/** Object:  StoredProcedure [dbo].[USP_GET_SALEORDERDETAILS]    Script Date: 18/08/2025 8:46:26 **/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_SALEORDERDETAILS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_SALEORDERDETAILS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_GET_SALEORDERDETAILS] -- [USP_GET_SALEORDERDETAILS]  @IDSALEORDER = 264;
@IDSALEORDER INT

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN


	SELECT OD.* ,
	ISNULL(R.VDESCRIPTION,'') AS VREASON,
	P.VINNERCODE,
	P.VDESCRIPTION AS VPART,
    CAST((ROUND((OD.NTAX/100.00),2) * (OD.IREQUIRED * OD.NPRICE))+(OD.IREQUIRED * OD.NPRICE) AS DECIMAL(18,2)) AS NSUBTOTAL
	FROM SALEORDERDETAIL OD WITH (NOLOCK)
	INNER JOIN SALEORDER O WITH (NOLOCK) ON O.ID = OD.IDSALEORDER
	INNER JOIN PART P WITH (NOLOCK) ON P.ID=OD.IDPART 
	LEFT JOIN REASON R WITH (NOLOCK) ON R.ID=OD.IDREASON  
	WHERE
	OD.IDSALEORDER = @IDSALEORDER 

	
END
