GO
/****** Object:  StoredProcedure [dbo].[USP_GET_POLICY_BY]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_POLICY_BY]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_POLICY_BY] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_GET_POLICY_BY]-- USP_GET_POLICY_BY 'WAUAF98E07A761283',1,5175
@VFILTER VARCHAR(20),
@BY INT,
@IDUSER INT = NULL,
@IDSUPPLIER INT = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

  --      DECLARE @VACTION VARCHAR(20)
		--DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('POLIZAS-POLIZAS')
		--SET @VACTION='GET'
		--EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

BEGIN


    WITH T1 AS (
        SELECT 
        M.ID,ISNULL(M.VNUMBER,'') VNUMBER ,M.IDPOLICYTYPE, P.VDESCRIPTION,M.BACTIVE,M.IESTATUS AS IDESTATUS ,A.VDISPLAYESTATUS AS ESTATUSNAME,M.DACTIVATIONDATE,M.DLOCKDATE,M.DEXPIRATIONDATE,M.IDVEHICLE,
		V.VVIN,V.VPLATE,V.VENGINESERIAL,L.VDESCRIPTION AS MODELNAME,B.VNAME VBRAND ,V.IYEAR,T.VNAME as VCOLOR,M.IDPAYMETHOD, Z.VNAME AS NAMEMETHOD,
		V.IDCUSTOMER,C.VVAT,C.VFIRSTNAME,C.VLASTNAME,C.VPHONE1,C.VEMAIL,C.VADDRESS,X.VFIRSTNAME as DEALERNAME,X.VREFERENCE AS CODDEALER ,Y.VFIRSTNAME SUPPLIERNAME,Y.VREFERENCE AS CODSUPPLIER, 
		M.VINVOICENUMBER,M.NINVOICEAMOUNT,M.DINVOICEDATE
        FROM POLICY M WITH (NOLOCK)
        INNER JOIN V_VEHICLES V ON M.IDVEHICLE = V.ID
        INNER JOIN CONTACT C ON V.IDCUSTOMER = C.ID
		INNER JOIN CONTACT X ON V.IDDEALER = X.ID
		INNER JOIN CONTACT Y ON V.IDSUPPLIER = Y.ID
		INNER JOIN POLICYTYPE P ON M.IDPOLICYTYPE= P.ID
		INNER JOIN ACTION A ON M.IESTATUS= A.ID
		LEFT JOIN MODEL L ON V.IDMODEL= L.ID
		INNER JOIN BRAND B ON L.IDBRAND = B.ID
		INNER JOIN PAYMETHOD Z ON M.IDPAYMETHOD= Z.ID
		INNER JOIN COLOR T ON V.IDCOLOR= T.ID
 		WHERE 
		M.IESTATUS != DBO.UFN_GET_ISTATUS('CREATE') AND
		V.IDCUSTOMER IS NOT NULL AND 
		V.IDSUPPLIER=@IDSUPPLIER
		AND
		( @VFILTER = CASE WHEN @BY = 0 THEN V.VVIN
						  WHEN @BY = 1 THEN V.VVIN
						  WHEN @BY = 2 THEN V.VENGINESERIAL
						  WHEN @BY = 3 THEN V.VPLATE
					 END OR 
		 @VFILTER =  CASE WHEN @BY = 0 THEN V.VPLATE
						  WHEN @BY = 1 THEN V.VVIN
						  WHEN @BY = 2 THEN V.VENGINESERIAL
						  WHEN @BY = 3 THEN V.VPLATE
					 END
		) 

    ), 
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1)

    SELECT T1.*, T2.TOTAL
    FROM T1, T2
    WHERE T2.TOTAL > 0

END;


