GO
/****** Object:  StoredProcedure [dbo].[USP_GET_PARTMODEL]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_PARTMODEL]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_PARTMODEL] AS BEGIN SET NOCOUNT ON  END')
GO
-- SELECT * FROM V WHERE BUSER=1
ALTER PROCEDURE [dbo].[USP_GET_PARTMODEL] -- USP_GET_PARTMODEL 12
(
@IDPART INT
)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

			DECLARE @VPART VARCHAR(100)
			SELECT TOP 1 @VPART= VDESCRIPTION FROM PART WITH(NOLOCK) WHERE ID=@IDPART
		

			SELECT 
			ISNULL(@IDPART,0) IDPART,
			ISNULL(@VPART,'') VPART,
			M.ID AS IDMODEL,
			M.VDESCRIPTION AS VMODEL,
			S.IDSUPPLIER,
			CAST (CASE WHEN X.IDMODEL IS NULL THEN 0 ELSE 1 END AS BIT) AS BRELATED
			FROM MODEL M WITH (NOLOCK)
			INNER JOIN V_SUPPLIERS S ON  S.IDBRAND=M.IDBRAND
			left join ( SELECT  IDMODEL
						FROM PARTMODEL WITH (NOLOCK)
						WHERE IDPART=@IDPART
					   ) X ON X.IDMODEL=M.ID
	

	
END

