GO
/** Object:  StoredProcedure [dbo].[USP_POST_CLAIM]    Script Date: 18/08/2025 8:46:26 **/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_CLAIM]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_CLAIM] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_CLAIM]
    @IDUSER INT = 0,
    @IDGUIDE INT = 0
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               : 
  '   VERSIÓN               :
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000 

BEGIN
    BEGIN TRY
        BEGIN TRAN  
         
        DECLARE @NEW_SALEORDER_ID INT
        DECLARE @IID INT
        DECLARE @IINSERTED INT
        DECLARE @IUPDATED INT = 0  -- Inicializar
         
        IF NOT EXISTS (SELECT 1 FROM GUIDE WHERE ID = @IDGUIDE)
        BEGIN
            RAISERROR('La guía con ID %d no existe.', 16, 1, @IDGUIDE);
            RETURN;
        END
		 
        IF EXISTS (
            SELECT 1 
            FROM GUIDEDETAILS 
            WHERE IDGUIDE = @IDGUIDE 
            AND IQUANTITY <> IRECEIVED
        )
        BEGIN
            INSERT INTO SALEORDER (
                IDDEALER,
                IDSUPPLIER,
                IDESTATUS,
                VREFERENCE,
                VCOMMENT,
                DCREATED,
                DUPDATED,
                VCREATEDBY,
                VUPDATEDBY,
                IDTYPE,
                BCLAIM,
                BPARALYZED,
                IDVEHICLE,
                BCOMPLETED
            )
            SELECT 
                TOP 1 S.IDDEALER, 
                S.IDSUPPLIER,
                18 AS IDESTATUS, 
                'GUIA-' + CAST(@IDGUIDE AS VARCHAR(10)) AS VREFERENCE,
                'Generado automáticamente por diferencia en guía' AS VCOMMENT,
                GETDATE() AS DCREATED,
                GETDATE() AS DUPDATED,
                DBO.UFN_GET_LOGIN(@IDUSER),
                DBO.UFN_GET_LOGIN(@IDUSER),
                4 AS IDTYPE, 
                S.BCLAIM, 
                S.BPARALYZED,
                S.IDVEHICLE, 
                S.BCOMPLETED
            FROM GUIDE g
            INNER JOIN GUIDEDETAILS GD ON GD.IDGUIDE = G.ID
            INNER JOIN SALEORDER S ON S.ID = GD.IDSALEORDER
            WHERE g.ID = @IDGUIDE;
			  
            -- CORRECCIÓN: Asignar SCOPE_IDENTITY() a @NEW_SALEORDER_ID
            SET @NEW_SALEORDER_ID = SCOPE_IDENTITY();
            SET @IID = @NEW_SALEORDER_ID;  -- También asignar a @IID para el resultado
            
            INSERT INTO SALEORDERDETAIL (
                IDSALEORDER,
                IDPART,
                IREQUIRED,
                IINVOICED,
                NCOST,
                NPRICE,
                ICLAIM,
                IDREASON,
                NTAX
            )
            SELECT 
                @NEW_SALEORDER_ID AS IDSALEORDER,  -- Ahora sí tiene valor
                GD.IDPART,
                ABS(gd.IQUANTITY - gd.IRECEIVED) AS IREQUIRED,  
                0 AS IINVOICED,   
                SOD.NCOST,  
                SOD.NPRICE,  
                0 AS ICLAIM,   
                CASE 
                    WHEN GD.IQUANTITY > GD.IRECEIVED THEN 2   
                    WHEN GD.IRECEIVED > GD.IQUANTITY THEN 3   
                    ELSE NULL 
                END AS IDREASON,
                SOD.NTAX 
            FROM GUIDEDETAILS GD
            INNER JOIN SALEORDERDETAIL SOD ON SOD.IDSALEORDER = GD.IDSALEORDER AND SOD.IDPART = GD.IDPART
            WHERE GD.IDGUIDE = @IDGUIDE 
            AND GD.IQUANTITY <> GD.IRECEIVED;
			 
            SET @IINSERTED = @@ROWCOUNT;  -- Usar SET en lugar de SELECT

        END
        ELSE
        BEGIN
            -- Si no hay diferencias, establecer valores en 0
            SET @IID = 0;
            SET @IINSERTED = 0;
        END

        SELECT
            ISNULL(@IID,0) AS IID, 
            ISNULL(@IINSERTED,0) AS IINSERTED,
            ISNULL(@IUPDATED,0) AS IUPDATED

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END