GO
/****** Object:  StoredProcedure [dbo].[USP_POST_GUIDE_ACTNUMBER]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_GUIDE_ACTNUMBER]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_GUIDE_ACTNUMBER] AS BEGIN SET NOCOUNT ON  END')
GO
-- USP_GET_PACKAGES_FROMGUIDE 4069,5103
ALTER PROCEDURE [dbo].[USP_POST_GUIDE_ACTNUMBER]
(
@IDUSER INT,
@IDGUIDE INT,
@VNUMBER VARCHAR(10)
)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


DECLARE @IID INT
DECLARE @IINSERTED INT
DECLARE @IUPDATED INT


BEGIN

	BEGIN TRY
		BEGIN TRAN 

		
					-- SELECT * FROM MODULE
			DECLARE @IDMODULE INT = [dbo].[UFN_GET_IDMODULE]('PEDIDOS-RECEPCION');
			DECLARE @VACTION VARCHAR(20) = 'RECEIVE';
			EXEC USP_CHECK_CREDENTIALS @IDUSER, @VACTION, @IDMODULE;

			UPDATE GUIDE
				SET VNUMBER=@VNUMBER
			WHERE ID=@IDGUIDE


			SELECT @IUPDATED=@@ROWCOUNT

			SELECT
			ISNULL(@IID,0) AS IID , 
			ISNULL(@IINSERTED,0) AS IINSERTED,
			ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END


