GO
/****** Object:  StoredProcedure [dbo].[USP_POST_LOCATIONS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_LOCATIONS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_LOCATIONS] AS BEGIN SET NOCOUNT ON  END')
GO


ALTER PROCEDURE [dbo].[USP_POST_LOCATIONS]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : MENSAJES DE ERROR
  '   MODIFICADO POR        :  JUAN GUARECUCO
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 
				
				    

				--DECLARA UNA VARIABLE @TDATA
				DECLARE @TDATA AS TABLE
				(
					ID INT,
					VNAME VARCHAR(20),
					IDZONE INT,
					BACTIVE BIT,
					IMAPPING INT,
					VTYPE VARCHAR(1),
					VROWREFERENCE VARCHAR(5)
				);

				--pone la data recibida en json de @DATA dentro de una tabla @TDATA
				INSERT INTO @TDATA
				SELECT L.Id, L.Name, L.ZoneId, IsActive, Mapping,TypeId,RowReference  FROM OPENJSON(@DATA)
				WITH (
						Id int,Name varchar(20), ZoneId int, IsActive bit, Mapping int, TypeId varchar(1),RowReference varchar(5)
					  ) AS L
                
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-UBICACIONES')
				

				DECLARE @VROWREF VARCHAR(5)=Null
			    DECLARE @Duplicados NVARCHAR(MAX) = ''
				DECLARE @ErrorMessage NVARCHAR(4000)= NULL

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

								--VALIDACIONES
				EXEC USP_CHECK_ZONES @DATA,@IDUSER
				---------------------------------- VALIDACION PARA LONGITUDES------------------------------------------------
				SELECT TOP 1 @VROWREF = W.RowReference
				FROM OPENJSON(@DATA)
					WITH (
							Name VARCHAR(MAX),
							RowReference VARCHAR(5)
				) AS W
				WHERE LEN(W.Name) > 20

				-- Validación defensiva
					IF @VROWREF IS NOT NULL
					BEGIN
					  SET @ErrorMessage = 'ACCION NO PERMITIDA: UNO O MAS CAMPOS EXCEDEN LA LONGITUD PERMITIDA: '
					END

					---------------------------------- VALIDACION PARA REGISTROS DUPLICADOS------------------------------------------------
				IF @ErrorMessage IS NULL
				BEGIN
				SELECT TOP 1 @Duplicados = VNAME
				FROM (
					SELECT VNAME
					FROM @TDATA
					GROUP BY VNAME,IDZONE
					HAVING COUNT(*) > 1
				) AS Duplicados
				SELECT TOP 1 @VROWREF= VROWREFERENCE FROM @TDATA WHERE VNAME=@Duplicados
				IF @Duplicados <> ''
				BEGIN
					SET @ErrorMessage = 'ACCION NO PERMITIDA: DOCUMENTO CONTIENE REGISTRO DUPLICADO POR ZONA: ' + @Duplicados
				END
				END


				IF @ErrorMessage IS NULL
				BEGIN
				DECLARE @REPETIDO VARCHAR(20)
				SELECT TOP 1
				@REPETIDO=D.VNAME, @VROWREF=VROWREFERENCE
				FROM @TDATA D
				INNER JOIN ZONE Z WITH (NOLOCK) ON Z.ID=D.IDZONE
				INNER JOIN WAREHOUSE X WITH (NOLOCK) ON X.ID=Z.IDWAREHOUSE
				WHERE 
				EXISTS (SELECT * FROM LOCATION L WITH (NOLOCK)
						INNER JOIN ZONE Z WITH (NOLOCK) ON Z.ID=L.IDZONE
						INNER JOIN WAREHOUSE W WITH (NOLOCK) ON W.ID=Z.IDWAREHOUSE
						WHERE L.ID<>D.ID AND L.VNAME=D.VNAME AND W.IDSUPPLIER=X.IDSUPPLIER
							  )

				IF ISNULL(@REPETIDO,'')<>''
				BEGIN
				SELECT  @ErrorMessage = 'ACCION NO PERMITIDA: UBICACION YA EXISTE: '+@REPETIDO
				END
				END

			

				-----------------------------*---------------VALIDAMOS SI LA ZONA ESTA INACTIVA--------------*-------------------------------------
				  IF @ErrorMessage IS NULL  
						BEGIN
						SELECT TOP 1 @REPETIDO = D.VNAME, @VROWREF = D.VROWREFERENCE
						FROM @TDATA D 
						INNER JOIN ZONE Z ON D.IDZONE = Z.ID 
						WHERE D.ID=0 AND Z.BACTIVE = 0
    
						IF ISNULL(@REPETIDO,'')<>''
						BEGIN
							SET @ErrorMessage='ACCION NO PERMITIDA: ZONA INACTIVA'
						END 
					END
			  --------------------------------*---------------VALIDAMOS SI HAY UBICACIONES CON EXISTENCIAS ------------------------*---------------------------------
			  
				EXEC USP_CHECK_LOCATIONS_DEACTIVATE @DATA,@IDUSER,'Id' 
				

			  /*---------------VALIDAMOS SI EL ALMACEN ES DE LA MISMA PLANTA--------------*/
				 IF @ErrorMessage IS NULL AND EXISTS (SELECT * FROM @TDATA WHERE ID>0)
				BEGIN
				DECLARE @IDSUPPLIERWS1 INT;
				DECLARE @IDSUPPLIERWS2 INT;

					SELECT TOP 1 @IDSUPPLIERWS1 =W.IDSUPPLIER
					FROM @TDATA D
					INNER JOIN ZONE Z WITH (NOLOCK) ON D.IDZONE=Z.ID 
					INNER JOIN WAREHOUSE W WITH (NOLOCK) ON Z.IDWAREHOUSE =W.ID

					SELECT TOP 1 @IDSUPPLIERWS2 =W.IDSUPPLIER, @VROWREF=T.VROWREFERENCE
					FROM LOCATION Z WITH(NOLOCK) 
					INNER JOIN @TDATA T ON Z.ID=T.ID
					INNER JOIN ZONE X WITH (NOLOCK) ON Z.IDZONE=X.ID 
					INNER JOIN WAREHOUSE W WITH (NOLOCK) ON X.IDWAREHOUSE =W.ID
					
				IF @IDSUPPLIERWS1<>@IDSUPPLIERWS2
				BEGIN
					SET @ErrorMessage= 'ACCION NO PERMITIDA: ZONA DE PLANTA DIFERENTE'
				END
				END
					--------------------------ENVIO DE MSJ---------------------------------------------------------------------------
			IF @ErrorMessage IS NOT NULL
				BEGIN
					IF @VROWREF IS NOT NULL AND LTRIM(RTRIM(@VROWREF)) <> ''
						SET @ErrorMessage= @ErrorMessage + ' -FILA: ' + @VROWREF

					RAISERROR(@ErrorMessage, 16, 1)
					RETURN
				END
				IF EXISTS (SELECT * FROM @TDATA WHERE ID =0)
				BEGIN
				SET @VACTION='CREATE'
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
				--Select principal
				INSERT INTO LOCATION(VNAME,IDZONE,BACTIVE,DCREATED,DUPDATED,VUPDATEDBY,IMAPPING,VTYPE)
				SELECT				VNAME,IDZONE, BACTIVE,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER),IMAPPING,VTYPE
				FROM @TDATA D
				WHERE NOT EXISTS (SELECT * FROM LOCATION L WITH (NOLOCK) WHERE L.ID=D.ID)

				SELECT @IINSERTED=@@ROWCOUNT
				SELECT @IID=SCOPE_IDENTITY()
				END
				ELSE 
			     SET @VACTION='EDIT'
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
				/*---------------------------------------------------------------------*/
				BEGIN
				UPDATE L
					SET L.VNAME=D.VNAME,
						L.IDZONE= D.IDZONE,
						L.DUPDATED = GETDATE(),
						L.BACTIVE = D.BACTIVE,
						L.VUPDATEDBY= DBO.UFN_GET_LOGIN(@IDUSER),
						L.IMAPPING =D.IMAPPING,
						L.VTYPE = D.VTYPE
				FROM LOCATION L
				INNER JOIN @TDATA D ON D.ID=L.ID 

				SELECT @IUPDATED=@@ROWCOUNT
				END
				EXEC USP_REPLICATE_LOCATIONS @IDUSER

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
