GO
/****** Object:  StoredProcedure [dbo].[USP_POST_GUIDES_DETAILS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_GUIDES_DETAILS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_GUIDES_DETAILS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_GUIDES_DETAILS] --  [USP_POST_GUIDES_DETAILS] 113    [USP_GET_GUIDES_DETAILS] 107

@IDUSER INT = NULL,
@DATA NVARCHAR(MAX)
--@IDGUIDE INT = NULL

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 
				
				    

				--DECLARA UNA VARIABLE @TDATA
				DECLARE @TDATA AS TABLE
				(
					ID INT,
					IRECEIVED INT,
					VOBSERVATION VARCHAR(200)
				);

				--pone la data recibida en json de @DATA dentro de una tabla @TDATA
				INSERT INTO @TDATA
				SELECT L.Id, L.Received, L.Observation FROM OPENJSON(@DATA)
				WITH (
					Id int, Received int,Observation varchar(200)
					 ) AS L


			    DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('PEDIDOS-RECEPCION')
				SET @VACTION='EDIT'
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
				

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				--Select principal
				--INSERT INTO LOCATION(VNAME,IDZONE,BACTIVE,DCREATED,DUPDATED,VUPDATEDBY,IMAPPING,VTYPE)
				--SELECT				VNAME,IDZONE, BACTIVE,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER),IMAPPING,VTYPE
				--FROM @TDATA D
				--WHERE NOT EXISTS (SELECT * FROM LOCATION L WITH (NOLOCK) WHERE L.ID=D.ID)

				--SELECT @IINSERTED=@@ROWCOUNT
				--SELECT @IID=SCOPE_IDENTITY()

				UPDATE GD
					
					SET 
					GD.IRECEIVED = D.IRECEIVED,
					GD.VOBSERVATION = D.VOBSERVATION,
					GD.BCONFIRMED = 1

				FROM GUIDEDETAILS GD
				inner join GUIDE G WITH (NOLOCK) on G.ID = GD.IDGUIDE
				INNER JOIN @TDATA D ON D.ID= GD.ID
				--WHERE
				--EXISTS (SELECT * FROM V_SUPPLIERS_USER V WHERE V.IDUSER=@IDUSER AND V.IDSUPPLIER =  G.IDSUPPLIER) 

				SELECT @IUPDATED=@@ROWCOUNT

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END