GO
/****** Object:  StoredProcedure [dbo].[USP_GET_ESTATUSVEHICLE]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_ESTATUSVEHICLE]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_ESTATUSVEHICLE] AS BEGIN SET NOCOUNT ON  END')
GO
--SELECT * FROM POLICY
ALTER PROCEDURE [dbo].[USP_GET_ESTATUSVEHICLE]-- USP_GET_ESTATUSVEHICLE 'VFJHDF67388738389823',4069,1
@VVIN VARCHAR(20),
@IDSUPPLIER INT,
@IDUSER INT 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

DECLARE @ISDEALER BIT=0
	IF NOT EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] WHERE IDUSER=@IDUSER)
	BEGIN
	SET @ISDEALER=1
	END

	    DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('VEHICULOS-VEHICULOS')
	

BEGIN


    WITH T1 AS (
        SELECT 
		M.IDRECORD AS IDVEHICLE,
		A.ID AS IDACTION,
		A.VDISPLAYESTATUS,
		V.VVIN,
		M.DCREATED,
		D.DEALER,
		D.VREFERENCEDEALER
        FROM AUDIT M WITH (NOLOCK)
		INNER JOIN ACTION A WITH (NOLOCK) ON M.VACTION=A.VNAME
		INNER JOIN VEHICLE V WITH (NOLOCK) ON M.IDRECORD=V.ID AND M.IDMODULE=@IDMODULE
		LEFT JOIN V_DEALERS D WITH (NOLOCK) ON M.IDRELATED=D.IDDEALER
		WHERE V.VVIN= @VVIN  AND 
		EXISTS (SELECT * FROM [dbo].[V_RELATEDS_USER] R 
						    WHERE R.IDUSER=@IDUSER 
							AND R.IDDEALER   =CASE WHEN @ISDEALER = 1 THEN V.IDDEALER ELSE R.IDDEALER END
							AND R.IDSUPPLIER =CASE WHEN @ISDEALER = 0 THEN V.IDSUPPLIER ELSE R.IDSUPPLIER END )
		AND V.IDSUPPLIER=@IDSUPPLIER

    ), 
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1)

    SELECT T1.*, T2.TOTAL
    FROM T1, T2
    WHERE T2.TOTAL > 0

END;
