GO
/****** Object:  StoredProcedure [dbo].[USP_POST_PARTS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_PARTS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_PARTS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_PARTS]  
 @IDUSER INT,
 @DATA NVARCHAR(MAX),
 @MODELS NVARCHAR(MAX) = NULL,
 @BFULL BIT = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 
				
				DECLARE @PARTMODEL AS TABLE 
				(
				IDPART INT,
				IDMODEL INT,
				BRELATED BIT
				)
			

				DECLARE @TDATA AS TABLE
				(
					ID INT,
					VINNERCODE VARCHAR(20),
					VMASTERCODE VARCHAR(20),
					VALTERCODE VARCHAR(20),
					VREPLACEMENTCODE VARCHAR(20),
					VBARCODE VARCHAR(20),
					VDESCRIPTION VARCHAR(100),
					IDTYPE INT,
					IDFAMILY INT,
					IDSUBFAMILY INT,
					NPRICE NUMERIC(18,2),
					NCOST NUMERIC(18,2),
					NDISCOUNT NUMERIC(18,2),
					NWEIGHT NUMERIC(18,2),
					VSIZE VARCHAR(1),
					IMINSALE INT,
					IPACKING INT,
					IUSE INT,
					BSELL BIT,
					BPURCHASE BIT,
					BWARRANTY BIT,
					BLICENSE BIT,
					BORIGINAL BIT,
					BSERIALIZABLE BIT,
					IDSUPPLIER INT,
					IDBRAND INT,
					IDUM INT,
					IDTAX INT,
					VRATING VARCHAR(1),
					BACTIVE BIT,
					VALTERDESCRIPTION VARCHAR(40)
				);




				INSERT INTO @TDATA
				SELECT	Id ,
						InnerCode ,
						MasterCode ,
						AlterCode ,
						ReplacementCode,
						BarCode ,
						Description,
						TypeId,
						FamilyId ,
						SubFamilyId ,
						Price ,
						Cost ,
						Discount ,
						Weight ,
						Size ,
						MinSale ,
						Packing ,
						UseQty,
						Sell ,
						Purchase ,
						Warranty ,
						License ,
						Original ,
						Serializable ,
						SupplierId ,
						BrandId ,
						UmId ,
						TaxId ,
						Rating ,
						IsActive,
						AlterDescription
				FROM OPENJSON(@DATA)
				WITH (
						Id int,
						InnerCode varchar(20), 
						MasterCode varchar(20), 
						AlterCode varchar(20), 
						ReplacementCode varchar(20),
						BarCode varchar(20),
						Description varchar(100),
						TypeId int,
						FamilyId int,
						SubFamilyId int,
						Price numeric(18,2),
						Cost numeric(18,2),
						Discount numeric(18,2),
						Weight numeric(18,2),
						Size varchar(1),
						MinSale int,
						Packing int,
						UseQty int,
						Sell bit,
						Purchase bit,
						Warranty bit,
						License bit,
						Original bit,
						Serializable bit,
						SupplierId Int,
						BrandId int,
						UmId int,
						TaxId int,
						Rating varchar(1),
						IsActive bit,
						AlterDescription varchar(40)
					  ) AS L

			IF @MODELS IS NOT NULL
			BEGIN
				INSERT INTO @PARTMODEL
					SELECT	PartId ,
							ModelId ,
							IsRelated 
					FROM OPENJSON(@MODELS)
					WITH (
							PartId int,
							ModelId int,
							IsRelated bit
						  ) AS L
			END


			DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-REPUESTOS')
				SET @VACTION='EDIT'
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

			EXEC USP_CHECK_IMPORTPARTS @IDUSER,@DATA,@MODELS,@BFULL
			--VALIDACIONES
			EXEC USP_CHECK_SUPPLIERS @DATA,@IDUSER
			
			EXEC USP_CHECK_BARCODE @DATA


			DECLARE @IID INT
			DECLARE @IINSERTED INT
			DECLARE @IUPDATED INT

			DECLARE @IRECORDS INT
			SELECT @IRECORDS = COUNT(*) FROM @TDATA

			IF @BFULL = 1-- EDICION DE FORMULARIO o IMPORT MASIVO DESDE JSON
			BEGIN

				--EXEC USP_CHECK_MODELS @DATA,@IDUSER

				INSERT INTO PART
				(VINNERCODE,VMASTERCODE,VALTERCODE,VREPLACEMENTCODE,VBARCODE,VDESCRIPTION,IDTYPE,IDFAMILY,IDSUBFAMILY,
				NPRICE,NCOST,NDISCOUNT,NWEIGHT,VSIZE,IMINSALE,IPACKING,IUSE,BSELL,BPURCHASE,BWARRANTY,BLICENSE,BORIGINAL,BSERIALIZABLE,
				IDSUPPLIER,IDBRAND,IDMODEL,IDUM,IDTAX,VRATING,BACTIVE,DCREATED,DUPDATED,VUPDATEDBY,VALTERDESCRIPTION)
				SELECT	
				VINNERCODE,VMASTERCODE,VALTERCODE,VREPLACEMENTCODE,VBARCODE,VDESCRIPTION,IDTYPE,IDFAMILY,IDSUBFAMILY,
				NPRICE,NCOST,NDISCOUNT,NWEIGHT,VSIZE,IMINSALE,IPACKING,IUSE,BSELL,BPURCHASE,BWARRANTY,BLICENSE,BORIGINAL,BSERIALIZABLE,
				IDSUPPLIER,IDBRAND,0,IDUM,IDTAX,VRATING,BACTIVE,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER),VALTERDESCRIPTION
				FROM @TDATA D
				WHERE NOT EXISTS (SELECT * FROM PART P WITH (NOLOCK) WHERE P.ID=D.ID OR (P.VINNERCODE =D.VINNERCODE AND P.IDSUPPLIER=D.IDSUPPLIER ))

				SELECT @IINSERTED=@@ROWCOUNT
				SELECT @IID=SCOPE_IDENTITY()

				IF @IID>0 AND EXISTS (SELECT * FROM @PARTMODEL)
				BEGIN
					UPDATE @PARTMODEL SET IDPART=@IID
				END

				DELETE FROM PARTMODEL WHERE IDPART IN (SELECT IDPART FROM @PARTMODEL)
				INSERT INTO PARTMODEL(IDPART,IDMODEL)
				SELECT IDPART,IDMODEL
				FROM @PARTMODEL WHERE BRELATED=1

				UPDATE P
					SET 
					P.VINNERCODE = D.VINNERCODE, 
					P.VMASTERCODE = D.VMASTERCODE,
					P.VALTERCODE = D.VALTERCODE,
					P.VREPLACEMENTCODE = D.VREPLACEMENTCODE,
					P.VBARCODE =D.VBARCODE, 
					P.VDESCRIPTION = D.VDESCRIPTION,
					P.IDTYPE = D.IDTYPE,
					P.IDFAMILY = D.IDFAMILY,
					P.IDSUBFAMILY = D.IDSUBFAMILY,
					P.NPRICE = D.NPRICE,
					P.NCOST = D.NCOST,
					P.NDISCOUNT = D.NDISCOUNT,
					P.NWEIGHT = D.NWEIGHT,
					P.VSIZE = D.VSIZE,
					P.IMINSALE = D.IMINSALE,
					P.IPACKING = D.IMINSALE,
					P.IUSE = D.IUSE,
					P.BSELL = D.BSELL, 
					P.BPURCHASE =D.BPURCHASE,
					P.BWARRANTY =D.BWARRANTY,
					P.BLICENSE =D.BLICENSE,
					P.BORIGINAL =D.BORIGINAL,
					P.BSERIALIZABLE =D.BSERIALIZABLE,
					P.IDSUPPLIER =D.IDSUPPLIER,
					P.IDBRAND =D.IDBRAND,
					P.IDUM =D.IDUM,
					P.IDTAX = D.IDTAX, 
					P.VRATING = D.VRATING,
					P.BACTIVE =D.BACTIVE, 
					P.DUPDATED = GETDATE(),
					P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
					p.VALTERDESCRIPTION = d.VALTERDESCRIPTION
					FROM PART P
					INNER JOIN @TDATA D ON D.ID=P.ID 


					SELECT @IUPDATED=@@ROWCOUNT

				END
				ELSE
				BEGIN
					-- IMPORTACION DESDE EXCEL
					INSERT INTO PART
					(VINNERCODE,VMASTERCODE,VALTERCODE,VREPLACEMENTCODE,VBARCODE,VDESCRIPTION,IDTYPE,IDFAMILY,IDSUBFAMILY,
					NPRICE,NCOST,NDISCOUNT,NWEIGHT,VSIZE,IMINSALE,IPACKING,BSELL,BPURCHASE,BWARRANTY,BLICENSE,BORIGINAL,BSERIALIZABLE,
					IDSUPPLIER,IDBRAND,IDMODEL,IDUM,IDTAX,VRATING,BACTIVE,DCREATED,DUPDATED,VUPDATEDBY,VALTERDESCRIPTION)
					SELECT	
					VINNERCODE,'' VMASTERCODE,'' VALTERCODE,'' VREPLACEMENTCODE,'' VBARCODE,VDESCRIPTION,1 IDTYPE,1 IDFAMILY,1 IDSUBFAMILY,
					NPRICE,NCOST,0 NDISCOUNT,1 NWEIGHT,'S' VSIZE,1 IMINSALE,1 IPACKING,1 BSELL,1 BPURCHASE,1 BWARRANTY,0 BLICENSE,1 BORIGINAL,0 BSERIALIZABLE,
					IDSUPPLIER,1 IDBRAND,0 IDMODEL,1 IDUM,IDTAX,'D' VRATING,1 BACTIVE,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER),
					VALTERDESCRIPTION
					FROM @TDATA D
					WHERE NOT EXISTS (SELECT * FROM PART P WITH (NOLOCK) WHERE P.VINNERCODE=D.VINNERCODE AND P.IDSUPPLIER=P.IDSUPPLIER)

					SELECT @IINSERTED=@@ROWCOUNT
					SELECT @IID=SCOPE_IDENTITY()

					UPDATE P
						SET 
						P.VDESCRIPTION = D.VDESCRIPTION,
						P.NPRICE = D.NPRICE,
						P.NCOST = D.NCOST,
						P.IDSUPPLIER =D.IDSUPPLIER,
						P.IDTAX = D.IDTAX, 
						P.BACTIVE =D.BACTIVE, 
						P.DUPDATED = GETDATE(),
						P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
						FROM PART P
						INNER JOIN @TDATA D ON P.VINNERCODE =D.VINNERCODE AND D.IDSUPPLIER=P.IDSUPPLIER


						SELECT @IUPDATED=@@ROWCOUNT
				END


				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END