GO
/** Object:  StoredProcedure [dbo].[USP_POST_INVOICECONTROL]    Script Date: 18/08/2025 8:46:26 **/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_INVOICECONTROL]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_INVOICECONTROL] AS BEGIN SET NOCOUNT ON  END')
GO
 
ALTER PROCEDURE [dbo].[USP_POST_INVOICECONTROL]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000
BEGIN
	BEGIN TRY
		BEGIN TRAN  

		DECLARE @TDATA AS TABLE
		(
			ID INT, 
			BMARK INT 
		);
		 
		INSERT INTO @TDATA
		SELECT L.Id, L.Mark FROM OPENJSON(@DATA)
		WITH (Id int, Mark int) AS L

		DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-FACTURACION')

		DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT 


		-- validar que solo se marquen registros con idcontrol 0
		IF EXISTS (SELECT 1 FROM @TDATA T 
				   INNER JOIN INVOICECONTROL I ON I.ID = T.ID 
				   WHERE T.BMARK = 1 AND I.IDCONTROL <> 0)
		BEGIN
			RAISERROR('No se pueden marcar registros que ya tienen número de control asignado', 16, 1)
			RETURN
		END

		-- validar mismo customer
		IF (SELECT COUNT(DISTINCT I.IDCUSTOMER)
			FROM @TDATA T
			INNER JOIN INVOICECONTROL I ON I.ID = T.ID
			WHERE T.BMARK = 1) > 1
		BEGIN
			RAISERROR('No se pueden seleccionar repuestos de diferentes clientes', 16, 1)
			RETURN
		END

		-- validar máximo 8 productos distintos
		IF (SELECT COUNT(DISTINCT I.IDPART)
			FROM @TDATA T
			INNER JOIN DISPATCHEDCONTROL I ON I.ID = T.ID
			WHERE T.BMARK = 1) > 8
		BEGIN
			RAISERROR('No se pueden seleccionar más de 8 productos distintos', 16, 1)
			RETURN
		END
 
		-- Actualizar solo registros con idcontrol  0
		SET @VACTION='EDIT'
		 --  EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

		UPDATE I
		SET I.BMARK = T.BMARK
		FROM DISPATCHEDCONTROL I 
		INNER JOIN @TDATA T ON T.ID = I.ID  
		WHERE I.IDCONTROL = 0

		SELECT @IUPDATED = @@ROWCOUNT 

		SELECT
			ISNULL(@IID,0) AS IID, 
			ISNULL(@IINSERTED,0) AS IINSERTED,
			ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR (@ErrorMessage, 16, 1) 
	END CATCH
END
 