GO
/** Object:  StoredProcedure [dbo].[USP_GET_INVOICE]    Script Date: 18/08/2025 8:46:26 **/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_INVOICE]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_INVOICE] AS BEGIN SET NOCOUNT ON  END')
GO
 
ALTER PROCEDURE [dbo].[USP_GET_INVOICE]    
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,  
@BSURPLUS BIT = 0  
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000 

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END 

BEGIN
    WITH T1 as(
        SELECT 
            I.*,     
            P.VINNERCODE AS VCODEPART,  
            P.VDESCRIPTION AS VPART, 
            P.NPRICE,
            C.VVAT, 
            C.VFISCALNAME, 
            U.VSUPPLIER,  
            CASE 
                WHEN I.IINVOICED > ISNULL(I.IDISPATCHED, 0) 
                THEN (I.IINVOICED - ISNULL(I.IDISPATCHED, 0))
                ELSE 0 
            END AS ISURPLUS  
        FROM INVOICECONTROL I WITH (NOLOCK)  
        INNER JOIN V_CONTACTS C ON C.ID = I.IDCUSTOMER  
        INNER JOIN V_SUPPLIERS U ON U.IDSUPPLIER = I.IDSUPPLIER 
        INNER JOIN PART P ON P.ID=I.IDPART
        WHERE    
			I.IDCONTROL > 0
            AND I.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 THEN I.IDSUPPLIER ELSE @IDSUPPLIER END 
            AND EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] R WHERE R.IDUSER = @IDUSER AND R.IDSUPPLIER = I.IDSUPPLIER)
            AND
            (
                P.VINNERCODE LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + P.VINNERCODE + '%' ELSE '%' + @VFILTER + '%' END OR
                P.VDESCRIPTION LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + P.VDESCRIPTION + '%' ELSE '%' + @VFILTER + '%' END OR
                C.VFISCALNAME LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + C.VFISCALNAME + '%' ELSE '%' + @VFILTER + '%' END OR
				C.VVAT LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + C.VVAT + '%' ELSE '%' + @VFILTER + '%' END OR 
				CAST(I.IDCONTROL AS VARCHAR(20)) LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN CAST(I.IDCONTROL AS VARCHAR(20)) ELSE '%' + @VFILTER + '%' END OR
				CAST(I.IDINVOICE AS VARCHAR(20)) LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN CAST(I.IDINVOICE AS VARCHAR(20)) ELSE '%' + @VFILTER + '%' END 
            )  
            AND (
                @BSURPLUS = 0 
                OR  
                EXISTS ( 
                    SELECT 1 
                    FROM INVOICECONTROL I2 WITH (NOLOCK)
                    WHERE I2.IDINVOICE = I.IDINVOICE   
                    AND I2.IINVOICED > ISNULL(I2.IDISPATCHED, 0)  
                )
            )
    ),
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
    T3 AS (
        SELECT * FROM T1
        ORDER BY T1.IDCONTROL ASC
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
    )
    SELECT T3.*, T2.TOTAL FROM T3, T2;
END