GO
/****** Object:  StoredProcedure [dbo].[USP_GET_MODELS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_MODELS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_MODELS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_GET_MODELS] -- USP_GET_MODELS 1,4069
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@ID INT = NULL

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

	DECLARE @IDBRAND INT 
	SELECT TOP 1 @IDBRAND=IDBRAND FROM V_SUPPLIERS WHERE IDSUPPLIER=@IDSUPPLIER
	 
	IF ISNULL(@ID,0) = 0
	BEGIN

		WITH T1 AS (
			SELECT 
			M.ID,
			M.BACTIVE,
			M.IDPOLICYTYPE,
			M.IDBRAND,
			B.VNAME AS VBRAND ,
			M.VDESCRIPTION AS VNAME,
			M.VNAME  AS VCODE,
			M.VDESCRIPTION,
			P.VDESCRIPTION AS VPOLICYTYPE
			FROM MODEL M WITH (NOLOCK)
			INNER JOIN BRAND B WITH (NOLOCK) ON B.ID=M.IDBRAND
			INNER JOIN POLICYTYPE P WITH (NOLOCK) ON P.ID=M.IDPOLICYTYPE
			WHERE 
			M.ID = CASE WHEN ISNULL(@ID,0)= 0      THEN M.ID ELSE @ID      END AND
			B.ID = CASE WHEN ISNULL(@IDBRAND,0)= 0 THEN B.ID ELSE @IDBRAND END AND
			(
				(M.VNAME LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+M.VNAME+'%' ELSE '%'+@VFILTER+'%'  END) OR
				(B.VNAME LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+B.VNAME+'%' ELSE '%'+@VFILTER+'%'  END) OR 
				(P.VDESCRIPTION LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+P.VDESCRIPTION+'%' ELSE '%'+@VFILTER+'%'  END)

			)
			
		), 
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
		T3 AS (

				SELECT * FROM T1
				ORDER BY T1.VNAME
				OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
				FETCH NEXT @TOPE ROWS ONLY
			   )
		SELECT T3.*,T2.* FROM T3,T2;
	END
	ELSE
		BEGIN
		
			WITH T1 AS (
				SELECT 
				M.*,B.VNAME AS VBRAND ,
				P.VDESCRIPTION AS VPOLICYTYPE
				FROM MODEL M WITH (NOLOCK)
				INNER JOIN BRAND B WITH (NOLOCK) ON B.ID=M.IDBRAND
				INNER JOIN POLICYTYPE P WITH (NOLOCK) ON P.ID=M.IDPOLICYTYPE
				WHERE M.ID = @ID

			), 
			T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
			T3 AS (

					SELECT * FROM T1
					ORDER BY T1.VNAME
					OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
					FETCH NEXT 100 ROWS ONLY
				   )
			SELECT T3.*,T2.* FROM T3,T2;

		END

END
