GO
/****** Object:  StoredProcedure [dbo].[USP_POST_MOVEMENT_RECEIVE]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_MOVEMENT_RECEIVE]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_MOVEMENT_RECEIVE] AS BEGIN SET NOCOUNT ON  END')
GO
  
ALTER PROCEDURE [dbo].[USP_POST_MOVEMENT_RECEIVE]  
@IDMOVEMENT INT,  
@IDUSER INT  
AS  
/* '===============================================================            
  '   NOMBRE                :   
  '   FECHA CREACIÓN        :   
  '   CREADO POR            : WILMAN CAMACHO  
  '   CREADO PARA           :   
  '   FUNCIÓN               :    
  '   VERSIÓN               :   
  '   MODIFICADO EN         :   
  '   MODIFICADO POR        :    
  '   RAZÓN DE MODIFICACIÓN :   
  '===============================================================*/  
  
SET XACT_ABORT ON                 
SET NOCOUNT ON  
SET LOCK_TIMEOUT 180000  
  
BEGIN  
  
 BEGIN TRY  
  BEGIN TRAN  

        DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECEPCION')
		SET @VACTION='EDIT'
	    EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
  
        IF EXISTS (SELECT * FROM MOVEMENT WITH (NOLOCK)
                WHERE ID=@IDMOVEMENT AND VTYPE='R'
                )
        BEGIN



            INSERT INTO INVENTORY(IDLOCATION,IDPART,ISTOCK,VSERIAL,IRESERVED,DCREATED,DUPDATED,VUPDATEDBY)  
            SELECT A.IDLOCATION,A.IDPART,0,'',0,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER)  
            FROM  
            (  
            SELECT IDLOCATION,IDPART   
            FROM MOVEMENTDETAILS WITH (NOLOCK)  
            WHERE IDMOVEMENT=@IDMOVEMENT  
            GROUP BY IDPART,IDLOCATION  
            ) A  
            WHERE NOT EXISTS (SELECT * FROM INVENTORY I WITH (NOLOCK) WHERE I.IDLOCATION=A.IDLOCATION AND I.IDPART=A.IDPART)  
  
    
            UPDATE I  
            SET I.ISTOCK=ISTOCK+A.IREQUIRED  
            FROM INVENTORY I  
            INNER JOIN (  
                SELECT IDLOCATION,IDPART,SUM(IREQUIRED) IREQUIRED  
                FROM MOVEMENTDETAILS WITH (NOLOCK)  
                WHERE IDMOVEMENT=@IDMOVEMENT  
                GROUP BY IDPART,IDLOCATION  
                ) A ON I.IDLOCATION=A.IDLOCATION AND I.IDPART=A.IDPART  
  
        END
  
   COMMIT TRAN  
 END TRY  
 BEGIN CATCH  
  IF XACT_STATE() <> 0  
   ROLLBACK TRAN  
  DECLARE @ErrorMessage NVARCHAR(4000)   
  SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()  
  RAISERROR ( @ErrorMessage , 16,1)   
 END CATCH  
  
END  
  
  
  
  