USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_GUIDES]    Script Date: 08/10/2025 22:02:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_GUIDES]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT = 0
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 
				

				DECLARE @TDATA AS TABLE
				(
					ID INT,
					IDSUPPLIER INT,
					IDCUSTOMER INT,
					IDUSER INT,
					IDPROVIDER INT,
					VNUMBER VARCHAR(10),
					BDELIVERED BIT,
					BCLOSED BIT
				);

				INSERT INTO @TDATA
				SELECT D.Id, D.SupplierId, D.CustomerId, D.UserId, D.ProviderId ,D.Number, D.Delivered, D.CLosed FROM OPENJSON(@DATA)
				WITH (
						Id int,SupplierId int, CustomerId int, UserId int,ProviderId int, Number varchar(10), Delivered bit, Closed bit
					  ) AS D
			

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @IDESTATUS_OLD INT
				DECLARE @IDESTATUS_NEW INT
				DECLARE @IDGUIDE INT

				-- SELECT * FROM MODULE
				DECLARE @IDMODULE INT = [dbo].[UFN_GET_IDMODULE]('INVENTARIO-MOVIL-DESPACHO');
				DECLARE @VACTION VARCHAR(20)

				IF EXISTS (SELECT * FROM @TDATA WHERE ID=0)
				BEGIN
				SET @VACTION='CREATE'
	            EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
					INSERT INTO GUIDE
					(IDSUPPLIER,IDCUSTOMER,IDPROVIDER,VNUMBER,DCREATEDDATE,DDELIVERYDATE,IDUSER,ISTATUS)
					SELECT 
					IDSUPPLIER,IDCUSTOMER,IDPROVIDER,VNUMBER,GETDATE(),NULL,IDUSER,DBO.UFN_GET_ISTATUS('CREATE')
					FROM @TDATA D
					WHERE NOT EXISTS (SELECT * FROM GUIDE G WITH (NOLOCK) WHERE G.ID=D.ID)

					SELECT @IINSERTED=@@ROWCOUNT
					SELECT @IID=SCOPE_IDENTITY()

					SELECT @IDESTATUS_OLD=DBO.UFN_GET_ISTATUS('CREATE')
					SELECT @IDESTATUS_NEW=DBO.UFN_GET_ISTATUS('CREATE')
					SELECT @IDGUIDE = @IID
			
				END
				ELSE
				BEGIN
				SET @VACTION='EDIT'
	            EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
					SELECT @IDGUIDE = ID FROM @TDATA
					SELECT @IDESTATUS_OLD = ISTATUS FROM GUIDE WITH (NOLOCK) WHERE ID=@IDGUIDE
					SELECT @IDESTATUS_NEW = CASE WHEN BCLOSED=1 THEN DBO.UFN_GET_ISTATUS('PROCESS') ELSE @IDESTATUS_OLD END FROM @TDATA

					UPDATE G
						SET G.VNUMBER=D.VNUMBER,
							G.IDPROVIDER=D.IDPROVIDER,
							G.DDELIVERYDATE = CASE WHEN G.DDELIVERYDATE IS NULL AND D.BCLOSED=1 THEN GETDATE() ELSE G.DDELIVERYDATE  END,
							G.ISTATUS = CASE WHEN G.DDELIVERYDATE IS NULL AND D.BCLOSED=1 THEN DBO.UFN_GET_ISTATUS('PROCESS') ELSE G.ISTATUS END
					FROM GUIDE G
					INNER JOIN @TDATA D ON D.ID=G.ID

					SELECT @IUPDATED=@@ROWCOUNT

				END

	
				-- REBAJAR DEL INVENTARIO
				IF @IDESTATUS_OLD <> @IDESTATUS_NEW
				BEGIN

					EXEC USP_POST_GUIDE_CLOSE @IDGUIDE

					EXEC USP_POST_GUIDE_ISSUEOUT @IDGUIDE
				END
		

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END