GO
/** Object:  StoredProcedure [dbo].[USP_GET_DISPATCHEDCONTROL_TXT]    Script Date: 18/08/2025 8:46:26 **/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_DISPATCHEDCONTROL_TXT]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_DISPATCHEDCONTROL_TXT] AS BEGIN SET NOCOUNT ON  END')
GO
 
ALTER PROCEDURE [dbo].[USP_GET_DISPATCHEDCONTROL_TXT]   
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL, 
@BPENDANT BIT = 0  , 
@IDCONTROL INT = 0

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000 

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END 

BEGIN
    WITH T1 as(
        SELECT 
            I.*,  
            M.VLOCATION, 
            M.IREQUIRED,  
            M.VCODEPART,  
            M.VPART, 
            P.NPRICE,
            C.VVAT, 
            C.VFISCALNAME, 
            U.VSUPPLIER, 
            (I.IDISPATCHED - ISNULL(I.IINVOICED, 0)) AS IPENDING 
        FROM DISPATCHEDCONTROL I WITH (NOLOCK)
        INNER JOIN V_MOVEMENTDETAILS M ON M.ID = I.IDMOVEMENTDETAIL 
        INNER JOIN BACKORDER B ON B.ID = I.IDBACKORDER 
        INNER JOIN V_CONTACTS C ON C.ID = I.IDCUSTOMER  
        INNER JOIN V_SUPPLIERS U ON U.IDSUPPLIER = I.IDSUPPLIER 
        INNER JOIN PART P ON P.ID=I.IDPART
        WHERE    
            I.BMARK=1 AND I.IDCONTROL > 0
            AND I.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 THEN I.IDSUPPLIER ELSE @IDSUPPLIER END 
            AND EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] R WHERE R.IDUSER = @IDUSER AND R.IDSUPPLIER = I.IDSUPPLIER)
            AND
            (
                M.VCODEPART LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + M.VCODEPART + '%' ELSE '%' + @VFILTER + '%' END OR
                M.VPART LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + M.VPART + '%' ELSE '%' + @VFILTER + '%' END OR
                C.VFISCALNAME LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + C.VFISCALNAME + '%' ELSE '%' + @VFILTER + '%' END OR
				C.VVAT LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + C.VVAT + '%' ELSE '%' + @VFILTER + '%' END OR
				I.IDCONTROL LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + I.IDCONTROL + '%' ELSE '%' + @VFILTER + '%' END OR
                CAST(I.IDSALEORDER AS VARCHAR(20)) LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN CAST(I.IDSALEORDER AS VARCHAR(20)) ELSE '%' + @VFILTER + '%' END
            )  
            AND (
                @BPENDANT = 0 
                OR 
                -- Si hay al menos un registro con pendiente en el idcntol, mostrar todos los registros de ese idcontrol
                EXISTS (
                    SELECT 1 
                    FROM DISPATCHEDCONTROL I2 WITH (NOLOCK)
                    WHERE I2.IDCONTROL = I.IDCONTROL 
                    AND I2.BMARK = 1 
                    AND (I2.IDISPATCHED - ISNULL(I2.IINVOICED, 0)) > 0
                )
            )
    ),
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
    T3 AS (
        SELECT * FROM T1
        ORDER BY T1.IDCONTROL ASC
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
    )
    SELECT T3.*, T2.TOTAL FROM T3, T2;
END