USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERT_RATES]    Script Date: 08/06/2026 10:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_INSERT_RATES] --[USP_INSERT_RATES] 
    @DATA NVARCHAR(MAX)
AS
 
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               : 
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/  

SET XACT_ABORT ON
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
    BEGIN TRY
     
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @NAME         VARCHAR(100) = NULL
        DECLARE @VACTION      VARCHAR(20)
        DECLARE @IID          INT
        DECLARE @IINSERTED    INT
        DECLARE @IUPDATED     INT
        DECLARE @IDMODULE     INT = [dbo].[UFN_GET_IDMODULE]('PAGOS-TASAS')
		DECLARE  @IDUSER INT=1
        DECLARE @DLASTRATE NUMERIC (18,2)

		SET @DLASTRATE=(SELECT TOP 1 NRATE FROM RATE ORDER BY DDATE DESC)

        DECLARE @TDATA AS TABLE (
            ID         INT,
            NRATE      NUMERIC(18,6),
			DRATEDATE  DATETIME
        )

       INSERT INTO @TDATA (ID, NRATE, DRATEDATE)
		SELECT
			Id,
			NRate,
			CONVERT(DATETIME2, DDate, 127) -- El estilo 127 maneja el formato ISO (T) que recibes
		FROM OPENJSON(@DATA)
		WITH (
			Id      INT,
			NRate   NUMERIC(18,6), 
			DDate   VARCHAR(30) -- Aumenta a 30 por seguridad, ya que viene con hora y zona horaria
		)

        -- TASA NEGATIVA
        IF @ErrorMessage IS NULL
            IF EXISTS (SELECT 1 FROM @TDATA WHERE NRATE < 0)
                SET @ErrorMessage = 'LA TASA NO PUEDE SER NEGATIVA' 

        IF @ErrorMessage IS NOT NULL
        BEGIN
            RAISERROR(@ErrorMessage, 16, 1)
            RETURN
        END
         
        BEGIN TRAN 
            IF NOT EXISTS (SELECT 1 FROM @TDATA t 
			            INNER JOIN RATE R WITH (NOLOCK) ON T.DRATEDATE=R.DDATE AND ISNULL(R.NRATE,0)=0 )
            BEGIN
               INSERT INTO RATE(NRATE,DDATE,NALTERRATE)
			   SELECT DISTINCT ISNULL(T.NRATE,0),T.DRATEDATE,0 FROM @TDATA T
			   WHERE NOT EXISTS (SELECT * FROM RATE R WITH (NOLOCK) WHERE  T.DRATEDATE=R.DDATE) 
               SELECT @IINSERTED = @@ROWCOUNT
            END
			ELSE
			BEGIN
			 UPDATE R
			 SET R.NRATE =T.NRATE
			 FROM RATE R 
			 INNER JOIN @TDATA T ON R.DDATE=T.DRATEDATE AND ISNULL(R.NRATE,0)=0
			END
             
			 IF NOT EXISTS (SELECT * FROM RATE WHERE DDATE = CAST(GETDATE() AS DATE))
			 BEGIN
			    INSERT INTO RATE(NRATE,NALTERRATE,DDATE)
				VALUES (@DLASTRATE,0,CAST(GETDATE() AS DATE) )
			 END


        SELECT
            ISNULL(@IID,       0) AS IID,
            ISNULL(@IINSERTED, 0) AS IINSERTED,
            ISNULL(@IUPDATED,  0) AS IUPDATED

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
        RAISERROR(@ErrorMessage, 16, 1)
    END CATCH
END
