USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_PLATESTOASSIGN_FIGO]    Script Date: 09/06/2026 8:48:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_PLATESTOASSIGN_FIGO]    --USP_GET_PLATESTOASSIGN_FIGO 'J500250495'
@VSUPPLIERVAT VARCHAR(12)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         :  
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

   BEGIN 
    SET NOCOUNT ON; 
    SET XACT_ABORT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;   
	
	DECLARE @IDSUPPLIER INT =( SELECT TOP 1 IDSUPPLIER FROM V_SUPPLIERS WHERE VVAT=@VSUPPLIERVAT)
	DECLARE @DATOS AS TABLE
	(
	VVIN VARCHAR(25),
	VVATSUPPLIER VARCHAR(12),
	VPLATE VARCHAR(10),
	VCONDITION VARCHAR(10),
	BHEAVY BIT
	)

	DECLARE @BATCHCONTROL AS TABLE (ID INT,VJSON NVARCHAR(MAX))

	IF EXISTS (    
				SELECT * FROM BATCHCONTROL WITH (NOLOCK)
				WHERE IDSUPPLIER = @IDSUPPLIER AND IDBATCH=1 AND DPROCESSING IS NULL
				)
	BEGIN
		INSERT INTO @BATCHCONTROL
		SELECT TOP 1 ID,VJSON
		FROM BATCHCONTROL WITH (NOLOCK)
		WHERE IDSUPPLIER = @IDSUPPLIER AND IDBATCH=1 AND DPROCESSING IS NULL

		SELECT 
			j.VVIN,
			j.VVATSUPPLIER,
			j.VPLATE,
			j.VCONDITION,
			J.BHEAVY
		FROM @BATCHCONTROL
		CROSS APPLY OPENJSON(VJSON) WITH (
			VVIN VARCHAR(25) '$.VVIN',
			VVATSUPPLIER VARCHAR(12) '$.VVATSUPPLIER',
			VPLATE VARCHAR(10) '$.VPLATE',
			VCONDITION VARCHAR(10) '$.VCONDITION',
			BHEAVY BIT '$.BHEAVY'
		) AS j

		-- EJECUTAR RESPUESTA EN 2 MIN
		INSERT INTO BATCHCONTROL(IDSUPPLIER,IDBATCH,DEXECUTION,VJSON)
		SELECT @IDSUPPLIER,2,DATEADD(MINUTE, 2, GETDATE()) ,VJSON
		FROM @BATCHCONTROL

	END
	ELSE
	BEGIN
		SELECT * FROM @DATOS
	END

END

