USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_VEHICLES]    Script Date: 02/06/2026 11:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_VEHICLES]  
 @DATA VARCHAR(MAX),
 @IDUSER INT,
 @BIMPORT BIT= 0
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY

	
				DECLARE @TDATA AS TABLE
				(
				    IDRECORD INT IDENTITY(1,1),
					ID INT,
					VVIN VARCHAR(20),
					VENGINESERIAL VARCHAR(20),
					VPLATE VARCHAR(10),
					IDMODEL INT,
					IDCOLOR INT,
					IYEAR INT,
					IDSUPPLIER INT,
					IDDEALER INT,
					IDCUSTOMER INT,
					BACTIVE BIT,
					VROWREFERENCE VARCHAR(5)
				);

				INSERT INTO @TDATA
				SELECT V.Id,V.Vin,V.EngineSerial,V.Plate,V.ModelId,V.ColorId,V.Year,
				V.SupplierId,V.DealerId,V.CustomerId,V.IsActive,RowReference
				FROM OPENJSON(@DATA)
				WITH (
						Id int,Vin varchar(20),EngineSerial varchar(20),Plate varchar(10), 
						ModelId int,ColorId int,Year int,SupplierId int,DealerId int, CustomerId int, IsActive bit,RowReference Varchar(5)
					  ) AS V;
			    
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('VEHICULOS-VEHICULOS')
				

			
			    EXEC [dbo].[USP_CHECK_IMPORTVEHICLES] @DATA,@IDUSER,@BIMPORT
			    EXEC USP_CHECK_MODELS @DATA,@IDUSER
				EXEC USP_CHECK_COLORS @DATA,@IDUSER
				EXEC USP_CHECK_SUPPLIERS @DATA,@IDUSER
				
				DECLARE @InsertedVehicles TABLE (IDVEHICLE INT)

				

	            BEGIN TRAN 

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				
	            IF @BIMPORT=0
				BEGIN
					IF EXISTS (SELECT * FROM @TDATA WHERE ID=0)
					BEGIN

					SET @VACTION='CREATE'
				   EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
						INSERT INTO VEHICLE
						(VVIN,VENGINESERIAL,VPLATE,IDMODEL,IDCOLOR,IYEAR,IDSUPPLIER,IDDEALER,BACTIVE,DCREATED,DUPDATED,VUPDATEDBY,IESTATUS)
						OUTPUT INSERTED.ID INTO @InsertedVehicles(IDVEHICLE)
						SELECT VVIN,VENGINESERIAL,VPLATE,IDMODEL,IDCOLOR,IYEAR,IDSUPPLIER,IDDEALER,1 ,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER),DBO.UFN_GET_ISTATUS('UNASSIGN')
						FROM @TDATA D
						WHERE NOT EXISTS (SELECT * FROM VEHICLE V WITH (NOLOCK) WHERE V.ID=D.ID)

						SELECT @IINSERTED=@@ROWCOUNT
						SELECT @IID=SCOPE_IDENTITY()
					END
					ELSE
					BEGIN
				  	SET @VACTION='EDIT'
				    EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
						UPDATE V
						SET
							V.VENGINESERIAL = D.VENGINESERIAL,
							V.VPLATE = D.VPLATE,
							V.IDMODEL = D.IDMODEL,
							V.IDCOLOR = D.IDCOLOR,
							V.IYEAR =  D.IYEAR,
							V.IDSUPPLIER =  D.IDSUPPLIER,
							V.IDDEALER = D.IDDEALER,
							V.BACTIVE = D.BACTIVE, 
							V.DUPDATED = GETDATE(),
							V.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
							V.BPLATEASINC=CASE WHEN V.VPLATE<>D.VPLATE THEN 0 ELSE V.BPLATEASINC END 
						FROM VEHICLE V
						INNER JOIN @TDATA D ON D.ID=V.ID 

						SELECT @IUPDATED=@@ROWCOUNT
					END
				END
				ELSE
				BEGIN
				         IF NOT EXISTS(SELECT D.* FROM @TDATA D 
						               INNER JOIN VEHICLE V WITH (NOLOCK) ON D.VVIN=V.VVIN)
						BEGIN
						SET @VACTION='CREATE'
				        EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
							INSERT INTO VEHICLE 
							(VVIN,VENGINESERIAL,VPLATE,IDMODEL,IDCOLOR,IYEAR,IDSUPPLIER,IDDEALER,BACTIVE,DCREATED,DUPDATED,VUPDATEDBY,IESTATUS)
							OUTPUT INSERTED.ID INTO @InsertedVehicles(IDVEHICLE)
							SELECT VVIN,VENGINESERIAL,VPLATE,IDMODEL,IDCOLOR,IYEAR,IDSUPPLIER,IDDEALER,1,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER),
							CASE 
							WHEN D.IDDEALER IS NULL OR D.IDDEALER=0 THEN DBO.UFN_GET_ISTATUS('UNASSIGN')
							ELSE DBO.UFN_GET_ISTATUS ('ASSIGN')
							END
							FROM @TDATA D
							WHERE NOT EXISTS (SELECT * FROM VEHICLE V WITH (NOLOCK) WHERE V.VVIN=D.VVIN)

							SELECT @IINSERTED=@@ROWCOUNT
							SELECT @IID=SCOPE_IDENTITY()
			            END
						ELSE
						BEGIN
						SET @VACTION='EDIT'
				        EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
							UPDATE V
								SET
								V.VENGINESERIAL = D.VENGINESERIAL,
								V.VPLATE = D.VPLATE,
								V.IDMODEL = D.IDMODEL,
								V.IDCOLOR = D.IDCOLOR,
								V.IYEAR =  D.IYEAR,
								V.IDSUPPLIER =  D.IDSUPPLIER,
								V.IDDEALER = D.IDDEALER,
								V.BACTIVE = D.BACTIVE, 
								V.DUPDATED = GETDATE(),
								V.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
							FROM VEHICLE V
							INNER JOIN @TDATA D ON D.VVIN=V.VVIN

						SELECT @IUPDATED=@@ROWCOUNT
						END

				END

				IF @IINSERTED>0
				BEGIN
				INSERT INTO AUDIT (IDUSER, IDRECORD, IDMODULE, VCOMMENT, DCREATED, VACTION)
					SELECT 
						@IDUSER,
						IV.IDVEHICLE,
						@IDMODULE,
						'',
						GETDATE(),
						CASE 
							WHEN D.IDDEALER IS NULL OR D.IDDEALER = 0 THEN 'UNASSIGN'
							ELSE 'ASSIGN'
						END
					FROM @InsertedVehicles IV
					JOIN @TDATA D ON D.VVIN = (SELECT V.VVIN FROM VEHICLE V WITH (NOLOCK) WHERE V.ID = IV.IDVEHICLE)
				END


				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
