USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_BANKACCOUNTS]    Script Date: 01/06/2026 11:28:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- USP_GET_BANKACCOUNTS 4069,1
ALTER PROCEDURE [dbo].[USP_GET_BANKACCOUNTS]
@IDSUPPLIER INT,
@IDCURRENCY INT = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


SELECT A.ID,B.VCODE,B.VNAME, A.VCODE AS VACCOUNT FROM BANKACCOUNT A WITH (NOLOCK)
INNER JOIN DESTINYBANK B WITH (NOLOCK) ON B.ID=IDBANK
WHERE IDSUPPLIER=@IDSUPPLIER
AND A.IDCURRENCY = CASE WHEN ISNULL(@IDCURRENCY,0)=0 THEN A.IDCURRENCY ELSE @IDCURRENCY END
ORDER BY 1


