USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_INC_BATCHCONTROL_01]    Script Date: 09/06/2026 9:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_INC_BATCHCONTROL_01]
@IDSUPPLIER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

   BEGIN 
    SET NOCOUNT ON; 
    SET XACT_ABORT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;   


	-- ENVIOS PENDIENTES
	IF EXISTS ( SELECT * FROM BATCHCONTROL WITH (NOLOCK)
				WHERE IDSUPPLIER=@IDSUPPLIER AND IDBATCH=1 AND DPROCESSING IS NULL)
	OR
	-- RESPUESTAS PENDIENTES
	   EXISTS ( SELECT * FROM BATCHCONTROL WITH (NOLOCK)
				WHERE IDSUPPLIER=@IDSUPPLIER AND IDBATCH=2 AND DPROCESSING IS NULL)
	BEGIN
		RETURN
	END
	
	DECLARE @VJSON NVARCHAR(MAX)
	DECLARE @DATOS AS TABLE
	(
	IDSUPPLIER INT,
	VVIN VARCHAR(25),
	VVATSUPPLIER VARCHAR(12),
	VPLATE VARCHAR(10),
	VCONDITION VARCHAR(10),
	BHEAVY BIT
	)

	INSERT INTO @DATOS
	SELECT 
	S.IDSUPPLIER,
	V.VVIN, 
	S.VVAT AS VVATSUPPLIER, 
	V.VPLATE,
	BHEAVY,
	ISNULL((SELECT TOP 1 'CORRECION' 
			FROM AUDIT A2 WITH (NOLOCK) 
			WHERE A2.IDRECORD = V.ID 
				AND A2.IDMODULE = 2 
				AND A2.VACTION = 'EDIT' AND A2.IDRELATED=1
			ORDER BY A2.DCREATED DESC), 'CREACION') AS VCONDITION
	FROM dbo.VEHICLE AS V WITH (NOLOCK) 
	INNER JOIN V_SUPPLIERS AS S WITH (NOLOCK) ON S.IDSUPPLIER = V.IDSUPPLIER
	INNER JOIN MODEL M WITH (NOLOCK) ON V.IDMODEL=M.ID
	WHERE V.BPLATEASINC = 0 
	AND S.IDSUPPLIER=@IDSUPPLIER

	SET @VJSON=
	(
		SELECT * FROM @DATOS FOR JSON AUTO
	)

	IF @VJSON IS NOT NULL
	BEGIN
		INSERT INTO BATCHCONTROL(IDSUPPLIER,IDBATCH,DEXECUTION,VJSON)
		SELECT @IDSUPPLIER,1,GETDATE(),@VJSON
	END


END
