USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_PAYMENTDETAIL_ACTIONS]    Script Date: 04/06/2026 0:32:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_PAYMENTDETAIL_ACTIONS]
 @DATA NVARCHAR(MAX),
 @IDUSER INT 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           :  
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(500),
					IDRELATED INT
				);

				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS A


				DECLARE @VACTION VARCHAR(20)
				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @VRECORD VARCHAR(20) 
				DECLARE @VACTIONRECORD VARCHAR(20)
				DECLARE @ErrorMessage NVARCHAR(4000) 
				DECLARE @IDMODULE INT 


				 DECLARE @IDPAYMENT INT =(SELECT  TOP 1 IDPAYMENT FROM PAYMENTDETAILS A (NOLOCK) 
			                                   INNER JOIN @TDATA T ON A.ID= T.IDRECORD );
				

				IF EXISTS (SELECT T.* FROM  @TDATA T
				INNER JOIN PAYMENTDETAILS P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IDSTATUS=A.ID
				WHERE (T.VACTION IN ('APPROVE','DECLINE') AND A.VNAME NOT IN ('TOAPPROVE')   ))
				BEGIN

				SELECT TOP 1 @VRECORD=CAST(P.ID AS VARCHAR(15)), @VACTION=T.VACTION, @VACTIONRECORD=A.VNAME FROM @TDATA T
				INNER JOIN PAYMENTDETAILS P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IDSTATUS=A.ID
				WHERE T.VACTION IN ('APPROVE','DECLINE') AND A.VNAME NOT IN ('TOAPPROVE')
				     
				      
				   SET @ErrorMessage ='ACCION NO PERMITIDA: '+@VRECORD
				   RAISERROR ( @ErrorMessage , 16,1) 
				   RETURN
				END
				
				   
                SELECT TOP 1 @VACTION=T.VACTION, @VACTIONRECORD=A.VNAME, @IDMODULE=T.IDMODULE FROM @TDATA T
				INNER JOIN PAYMENTDETAILS P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IDSTATUS=A.ID

				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

				   

				

				IF @VACTION='DECLINE' 
				BEGIN 

				    UPDATE PD
				        SET PD.IDSTATUS = DBO.UFN_GET_ISTATUS('DECLINE'),
						    PD.VUPDATEDBY=DBO.UFN_GET_LOGIN(@IDUSER),
							PD.DUPDATED=GETDATE()	    
					FROM PAYMENTDETAILS PD 
					INNER JOIN @TDATA D ON D.IDRECORD=PD.ID
					WHERE PD.IDSTATUS =DBO.UFN_GET_ISTATUS('TOAPPROVE')

					SELECT @IUPDATED=@@ROWCOUNT

					IF NOT EXISTS (SELECT * FROM PAYMENTDETAILS WITH (NOLOCK) WHERE IDPAYMENT=@IDPAYMENT AND IDSTATUS<>DBO.UFN_GET_ISTATUS('DECLINE'))
					   BEGIN

						   UPDATE A
						   SET IDTRANSACTIONSTATUS=  DBO.UFN_GET_ISTATUS('AVAILABLE')
						   FROM ACCOUNTRECEIVABLE A
						   INNER JOIN SETTLEMENTS S  WITH (NOLOCK) ON A.ID=S.IDACCOUNTRECEIVABLE
						   WHERE S.IDPAYMENT=@IDPAYMENT

					   END
					   ELSE 
					   BEGIN 
							EXEC [dbo].[USP_MOUNT_PAYMENT] @IDPAYMENT,@IDUSER
					   END
                      
					  

				END	

				IF @VACTION='APPROVE' 
				BEGIN 

				    UPDATE PD
				        SET PD.IDSTATUS = DBO.UFN_GET_ISTATUS('APPROVE'),
						    PD.VUPDATEDBY=DBO.UFN_GET_LOGIN(@IDUSER),
							PD.DUPDATED=GETDATE()	    
					FROM PAYMENTDETAILS PD 
					INNER JOIN @TDATA D ON D.IDRECORD=PD.ID
					WHERE PD.IDSTATUS = DBO.UFN_GET_ISTATUS('TOAPPROVE')

					SELECT @IUPDATED=@@ROWCOUNT

				END	
					
				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				IF @IUPDATED>0
				BEGIN
				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA
				END 
	
				


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END

