SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_ACCOUNTRECEIVABLE] 
-- [USP_GET_ACCOUNTRECEIVABLE] 1,4069,0,'U','B-P-I-R',NULL,NULL,NULL,null,NULL,'2026-04-14'
@IDUSER INT,
@IDSUPPLIER INT,
@IDDEALER INT = 0,
@VTYPE VARCHAR(1),
@VCONCEPT VARCHAR(10),
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL,
@IDESTATUS INT =NULL,
@DRATEDATE DATETIME = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	-- 1. PREPARAR VARIABLES DE TOPE Y PAGINACION
	IF @IROWFROM IS NULL
	    BEGIN
		    SET @TOPE=1000000
		    SET @IROWFROM=0
	    END
	ELSE
	    BEGIN
		    SET @TOPE=100
	    END

	IF @DRATEDATE IS NULL
	BEGIN
		SELECT @DRATEDATE = CONVERT(VARCHAR(10),GETDATE(),120)
	END

	DECLARE @NRATE NUMERIC(18,2)
	SELECT @NRATE=NRATE
	FROM RATE WITH (NOLOCK)
	WHERE DDATE=@DRATEDATE

	SELECT @NRATE = ISNULL(@NRATE,0)

    -- 2. PREPARAR VARIABLES FILTRADOS
    SELECT @VFILTER= ISNULL(@VFILTER,'')
    DECLARE @FechaInicio DATETIME = DATEADD(DAY, -360, GETDATE());
    SELECT @DFROMDATE = CONVERT(VARCHAR(10),isnull(@DFROMDATE,'2020-01-01'),120)
    SELECT @DUPTODATE = CONVERT(VARCHAR(10),isnull(@DUPTODATE,getdate())+1,120)
	SELECT @IDDEALER = ISNULL(@IDDEALER,0)
    SELECT @IDESTATUS = ISNULL(@IDESTATUS,0)


	DECLARE @CONCEPT AS TABLE (VCODE VARCHAR(1))
	INSERT INTO @CONCEPT
	SELECT s.value 
	FROM STRING_SPLIT(@VCONCEPT,'-') as s
	where s.value <> ''


BEGIN
	WITH 
		T1 AS (
			-- 3. FILTRAR MUESTRA DE PART
			SELECT 
				A.ID,A.IDSUPPLIER,A.IDDEALER,
				D.DEALER AS VDEALER,
				T.VCODE AS VTYPECODE,
				T.VNAME AS VTYPENAME,
				C.VCODE AS VCONCEPTCODE,
				C.VNAME AS VCONCEPTNAME,
				--A.VDOCUMENTTYPE,A.VDOUMENTCONCEPT,
				A.VNUMBER,
				A.VREFERENCE,
				CONVERT(VARCHAR(10),A.DDATE,120) VDATE,
				CONVERT(VARCHAR(10),A.DDUEDATE,120) VDUEDATE,
				A.NAMOUNT,
				A.NBALANCE,
				CAST( (A.NAMOUNT * @NRATE) AS NUMERIC(18,2)) AS NAMOUNTBS,
				CAST( (A.NBALANCE * @NRATE) AS NUMERIC(18,2)) AS NBALANCEBS,
				@NRATE AS NRATE,
				A.IDSTATUS AS ISTATUSID,
				E.VDISPLAYESTATUS AS VSTATUSNAME,
				COUNT(*) OVER() AS TOTAL
			FROM dbo.ACCOUNTRECEIVABLE A WITH (NOLOCK)
			INNER JOIN [dbo].[DOCUMENTTYPE] T WITH (NOLOCK) ON T.VCODE=A.VTYPE
			INNER JOIN [dbo].[DOCUMENTCONCEPT] C WITH (NOLOCK) ON C.VCODE=A.VCONCEPT
			INNER JOIN ACTION E WITH (NOLOCK) ON E.ID=A.IDSTATUS
			INNER JOIN V_DEALERS D ON D.IDDEALER=A.IDDEALER
			WHERE A.IDSUPPLIER= @IDSUPPLIER
            AND (@IDDEALER = 0 OR A.IDDEALER = @IDDEALER)
			AND A.VTYPE = @VTYPE
			AND A.VCONCEPT IN (SELECT VCODE FROM @CONCEPT)
			AND (@IDESTATUS =0 OR A.IDSTATUS = @IDESTATUS)
            AND A.DDATE >= @DFROMDATE
            AND A.DDATE < @DUPTODATE
            AND A.DDATE >=@FechaInicio
            AND (@VFILTER='' OR A.VNUMBER=@VFILTER)
		)
		 -- 5. PAGINAR 
		SELECT T1.* 
		FROM T1
        ORDER BY T1.VDATE,T1.VNUMBER
        OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
        FETCH NEXT @TOPE ROWS ONLY

END

