SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_BANKSTATEMENT]  
 @DATA NVARCHAR(MAX),
 @VSUPPLIERVAT VARCHAR(12)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 
				
		-- VALIDAR SUPPLIER
		DECLARE @IDSUPPLIER INT

		SELECT @IDSUPPLIER=IDSUPPLIER
		FROM V_SUPPLIERS
		WHERE VVAT=@VSUPPLIERVAT

		IF ISNULL(@IDSUPPLIER,0)=0
		BEGIN
			RAISERROR('PLANTA INVALIDA',16,1)
			RETURN
		END

		DECLARE @TDATA AS TABLE
		(
			IDSUPPLIER INT,
			DTRANSDATE DATETIME,
			VBANKNAME VARCHAR(50),
			VBANKCODE VARCHAR(25),
			VREFERENCE VARCHAR(10),
			NAMOUNT DECIMAL(18,2)
		)

		INSERT INTO @TDATA
		SELECT @IDSUPPLIER, L.TransactionDate,L.BankName, L.BankCode, Reference,Amount
		FROM OPENJSON(@DATA)
		WITH (
				TransactionDate datetime,BankName varchar(50), BankCode varchar(25), Reference varchar(10), Amount numeric(18,2)
				) AS L


		DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT

		INSERT INTO BANKSTATEMENT
		(IDSUPPLIER,DTRANSDATE,VBANKNAME,VBANKCODE,VREFERENCE,NAMOUNT)
		SELECT DISTINCT 
		IDSUPPLIER,DTRANSDATE,VBANKNAME,VBANKCODE,VREFERENCE,NAMOUNT
		FROM @TDATA D
		WHERE NOT EXISTS (SELECT ID FROM BANKSTATEMENT B WITH (NOLOCK)
							WHERE D.IDSUPPLIER=B.IDSUPPLIER
							AND D.DTRANSDATE=B.DTRANSDATE
							AND D.VBANKNAME=B.VBANKNAME
							AND D.VBANKCODE=B.VBANKCODE
							AND D.VREFERENCE=B.VREFERENCE
							AND D.NAMOUNT=B.NAMOUNT)

		SELECT @IUPDATED=1-- RETORNAR QUE SIEMPRE SE INSERTAMOS EL EXTRACTO BANCARIO SIN ERROR

		SELECT
		ISNULL(@IID,0) AS IID , 
		ISNULL(@IINSERTED,0) AS IINSERTED,
		ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000);
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
