SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_CHECK_BANKSTATEMENT_FIGO]  
@IDPAYMENT INT = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


UPDATE S
	SET S.IDPAYMENTDETAIL=D.IDPAYMENTDETAIL
FROM BANKSTATEMENT S
INNER JOIN V_PAYMENTDETAILS D ON 
D.IDSUPPLIER=S.IDSUPPLIER AND 
D.DTRANSDATE=S.DTRANSDATE AND 
D.VBANKCODE=S.VBANKCODE AND 
D.VBANKACCOUNT=S.VBANKACCOUNT AND
D.VREFERENCE=S.VREFERENCE AND
D.NAMOUNT=S.NAMOUNT
WHERE S.IDPAYMENTDETAIL=0
AND D.IDSTATUS=15
AND D.IDPAYMENT=CASE WHEN ISNULl(@IDPAYMENT,0) = 0 THEN D.IDPAYMENT ELSE @IDPAYMENT END

UPDATE D
	SET D.IDSTATUS=17
FROM PAYMENTDETAILS D
INNER JOIN BANKSTATEMENT S WITH (NOLOCK) ON S.IDPAYMENTDETAIL=D.ID
WHERE D.IDSTATUS=15
AND D.IDPAYMENT=CASE WHEN ISNULl(@IDPAYMENT,0) = 0 THEN D.IDPAYMENT ELSE @IDPAYMENT END
