USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_MOUNT_MAINTENANCE]    Script Date: 10/04/2026 11:51:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_MOUNT_PAYMENT]--USP_MOUNT_PAYMENT 244,1
@IDPAYMENT INT,
@IDUSER INT
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/


SET NOCOUNT ON;
BEGIN
             
			    DECLARE @TOTAL NUMERIC(10,2);
				DECLARE @TOTALBS NUMERIC(10,2);


				SET @TOTAL = ISNULL((
					SELECT SUM(M.NAMOUNT)
					FROM PAYMENTDETAILS M (NOLOCK)
					WHERE M.NAMOUNT IS NOT NULL
						AND IDPAYMENT = @IDPAYMENT
						AND IDCURRENCY=2
				), 0);

				SET @TOTALBS = ISNULL((
					SELECT SUM(M.NAMOUNT/M.NRATE)
					FROM PAYMENTDETAILS M (NOLOCK)
					WHERE M.NAMOUNT IS NOT NULL
						AND IDPAYMENT = @IDPAYMENT
						AND IDCURRENCY=1
				), 0);

				SET @TOTAL=@TOTAL+@TOTALBS

				BEGIN
					UPDATE A
					SET 
				    A.NAMOUNT = @TOTAL
					FROM PAYMENT A
					WHERE A.ID = @IDPAYMENT;

				END
	   
END


