USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_VEHICLES_FIGO]    Script Date: 09/04/2026 14:29:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_PAYMENT]  
 @DATA VARCHAR(MAX),
 @IDUSER INT 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		  DECLARE @ErrorMessage NVARCHAR(4000)
		  DECLARE @InsertedPayments TABLE (ID INT, IDDEALER INT, IDSUPPLIER INT);
		  DECLARE @InsertedPaymentsDetails TABLE (ID INT);
		  DECLARE @IDPAYMENT INT 
	
				DECLARE @TDATA AS TABLE
				(
					ID INT,
					DDATE DATETIME,
					IDCURRENCY INT,
					IDTYPE INT,
				    VREFERENCE VARCHAR(12),
					NAMOUNT NUMERIC(18,2),
					IDBANKACCOUNT INT,
					IDPAYMENT INT,
					IDSUPPLIER INT,
					IDDEALER INT,
					NRATE NUMERIC (18,2)
				);

				INSERT INTO @TDATA (
				    ID, 
					DDATE,
					IDCURRENCY,
					IDTYPE,
				    VREFERENCE,
					NAMOUNT,
					IDBANKACCOUNT,
					IDPAYMENT,
					IDSUPPLIER,
					IDDEALER,
					NRATE
				)
				SELECT 
				    H.Id,
					H.Date,
					H.CurrencyId,
					H.TypeId,
					H.Reference,
					H.Amount,
					H.AccountId,
					H.PaymentId,
					H.SupplierId,
					H.DealerId,
					H.Rate
				FROM OPENJSON(@DATA)
				WITH (
				    Id int,
					Date Datetime,
					CurrencyId int ,
					TypeId int ,
					Reference VARCHAR(15),
					Amount Numeric(18,2),
					AccountId int ,
					PaymentId int,
					SupplierId int,
					DealerId Int,
					Rate Numeric(18,2)
				) AS H;

			

	            BEGIN TRAN 

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('VEHICULOS-VEHICULOS')

				IF EXISTS (SELECT * FROM @TDATA WHERE ID=0 )
				BEGIN
						IF EXISTS (SELECT * FROM @TDATA WHERE ISNULL(IDPAYMENT,0)=0)
							BEGIN
							INSERT INTO PAYMENT (NAMOUNT, DCREATED, VUPDATEDBY, IDDEALER, IDSUPPLIER)
								OUTPUT INSERTED.ID, INSERTED.IDDEALER, INSERTED.IDSUPPLIER INTO @InsertedPayments (ID, IDDEALER, IDSUPPLIER)
								SELECT 
								    0,
									GETDATE(), 
									@IDUSER, -- Asumo que pasas el ID directamente
									IDDEALER, 
									IDSUPPLIER
								FROM @TDATA
								GROUP BY IDDEALER, IDSUPPLIER;
								------ACTUALIZAR LOS DETALLES CON EL IDPAYMENT INSERTADO----
								UPDATE @TDATA
								SET IDPAYMENT=I.ID
								FROM @InsertedPayments I
							END

	           
						INSERT INTO PAYMENTDETAILS (DDATE,IDCURRENCY,IDTYPE,VREFERENCE,NAMOUNT,IDSTATUS,IDBANKACOUNT,IDPAYMENT,VUPDATEDBY,NRATE)
						OUTPUT INSERTED.ID INTO @InsertedPaymentsDetails (ID)
						SELECT DDATE,IDCURRENCY,IDTYPE,VREFERENCE,NAMOUNT,DBO.UFN_GET_ISTATUS('CREATE'),IDBANKACCOUNT,IDPAYMENT,DBO.UFN_GET_ISTATUS(@IDUSER),NRATE
						FROM @TDATA D
						WHERE NOT EXISTS (
									SELECT 1 
									FROM PAYMENTDETAILS V WITH (NOLOCK) 
									WHERE V.VREFERENCE = D.VREFERENCE 
									  AND V.VREFERENCE <> ''
									  AND V.IDBANKACOUNT=D.IDBANKACCOUNT
									  AND EXISTS (
										  SELECT 1 FROM PAYMENT P 
										  WHERE P.ID = V.IDPAYMENT 
										  AND P.IDDEALER = D.IDDEALER
									  ));

						SELECT @IINSERTED=@@ROWCOUNT
						SELECT @IID=SCOPE_IDENTITY()
				END
				ELSE
				BEGIN
					UPDATE V
					SET
					    V.DDATE=D.DDATE,
						V.VREFERENCE = D.VREFERENCE,
						V.NAMOUNT=D.NAMOUNT,
						V.IDBANKACOUNT = D.IDBANKACCOUNT,
						V.NRATE=D.NRATE
					FROM PAYMENTDETAILS V
					INNER JOIN @TDATA D ON V.ID=D.ID
					WHERE NOT EXISTS (
									SELECT 1 
									FROM PAYMENTDETAILS V WITH (NOLOCK) 
									WHERE V.ID<>D.ID
									  AND V.VREFERENCE = D.VREFERENCE 
									  AND V.VREFERENCE <> '' 
									  AND V.IDBANKACOUNT=D.IDBANKACCOUNT
									  AND EXISTS (
										  SELECT 1 FROM PAYMENT P 
										  WHERE P.ID = V.IDPAYMENT 
										  AND P.IDDEALER = D.IDDEALER
									  ))

					SELECT @IUPDATED=@@ROWCOUNT
					
					
				END
				---------------SUMATORIA TOTAL EN PAYMENT----------------
				SET @IDPAYMENT=(SELECT TOP 1 ID FROM @InsertedPayments)
				EXEC USP_MOUNT_PAYMENT @IDPAYMENT,@IDUSER

				   IF @IINSERTED>0 
				BEGIN
				INSERT INTO AUDIT (IDUSER, IDRECORD, IDMODULE, VCOMMENT, DCREATED, VACTION)
					SELECT 
						@IDUSER,
						PD.ID,
						@IDMODULE,
						'CREACION DE DETALLADO DE PAGO',
						GETDATE(),
						'CREATE'
					FROM @InsertedPaymentsDetails PD 
				END


				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END


