USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_PAYMENTSTATUS]    Script Date: 10/04/2026 14:23:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_PAYMENTSTATUS] -- [USP_GET_PAYMENTSTATUS] 1,4069,0,NULL,NULL,null
@IDUSER INT,
@IDSUPPLIER INT,
@IDDEALER INT = 0,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL,
@IROWFROM INT=NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END 


    DECLARE @FechaInicio DATETIME = DATEADD(DAY, -360, GETDATE());
    SELECT @DFROMDATE = CONVERT(VARCHAR(10),isnull(@DFROMDATE,'2020-01-01'),120)
    SELECT @DUPTODATE = CONVERT(VARCHAR(10),isnull(@DUPTODATE,getdate())+1,120)
	SELECT @IDDEALER = ISNULL(@IDDEALER,0)
 


BEGIN
	WITH T1 AS (
    SELECT 
        SUM(CASE WHEN PM.IDSTATUS = DBO.UFN_GET_ISTATUS('TOVALIDATE') THEN 1 ELSE 0 END) AS NTOVALIDATE,
        SUM(CASE WHEN PM.IDSTATUS = DBO.UFN_GET_ISTATUS('VALIDATE') THEN 1 ELSE 0 END) AS NVALIDATE,
        SUM(CASE WHEN PM.IDSTATUS = DBO.UFN_GET_ISTATUS('APPROVE') THEN 1 ELSE 0 END) AS NAPPROVE,
		SUM(CASE WHEN PM.IDSTATUS = DBO.UFN_GET_ISTATUS('DECLINE') THEN 1 ELSE 0 END) AS NDECLINE,
		SUM(CASE WHEN PM.IDSTATUS = DBO.UFN_GET_ISTATUS('CREATE') THEN 1 ELSE 0 END) AS NCREATE
    FROM PAYMENTDETAILS PM WITH (NOLOCK)
    INNER JOIN PAYMENT P ON PM.IDPAYMENT = P.ID 
    WHERE P.IDSUPPLIER = @IDSUPPLIER
        AND (@IDDEALER = 0 OR P.IDDEALER = @IDDEALER)
        AND PM.DDATE >= @DFROMDATE
        AND PM.DDATE < @DUPTODATE
        AND PM.DDATE >= @FechaInicio
        
    GROUP BY PM.DDATE -- Agrupamos para consolidar los totales por día
)
-- 5. PAGINAR
SELECT * FROM T1


END
