USE [SODA]
GO     
/****** Object:  StoredProcedure [dbo].[USP_GET_CROSSDOCKING_SUGGESTED]    Script Date: 19/3/2026 11:34:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_CROSSDOCKING_SUGGESTED] --USP_GET_CROSSDOCKING_SUGGESTED 1,4069,NULL,'PC201060-0201'
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL

AS
/* '===============================================================          
  '   NOMBRE                : USP_GET_CROSSDOCKING_SUGGESTED
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : GERARDO JIMENEZ
  '   CREADO PARA           : Obtener sugerido de crossdocking consolidado por repuesto
  '   FUNCIÓN               : Muestra el consolidado de repuestos en estatus 21 (UNAVAILABLE)
  '   VERSIÓN               :
  '   MODIFICADO EN         : 10/3/2026
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN :
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

DECLARE @TOPE INT

IF @IROWFROM IS NULL
BEGIN
    SET @TOPE = 1000000
    SET @IROWFROM = 0
END
ELSE
BEGIN
    SET @TOPE = 100
END

BEGIN
    WITH T1 AS (
        SELECT 
            P.VINNERCODE AS PartCode,
            P.VDESCRIPTION AS PartDescription,
            SUM(B.IBACKORDER) AS RequestedQuantity
        FROM BACKORDER B WITH (NOLOCK)
        INNER JOIN SALEORDERDETAIL SD WITH (NOLOCK) ON SD.ID = B.IDSALEORDERDETAIL
        INNER JOIN PART P WITH (NOLOCK) ON P.ID = SD.IDPART
        WHERE
            B.IDSTATUS = 21
            AND B.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER, 0) = 0 THEN B.IDSUPPLIER ELSE @IDSUPPLIER END
            AND (@VFILTER IS NULL OR P.VINNERCODE = @VFILTER )
        GROUP BY 
            P.VINNERCODE, 
            P.VDESCRIPTION
    ),
    T2 AS (
        SELECT COUNT(*) AS TOTAL FROM T1
    ),
    T3 AS (
        SELECT * FROM T1
        ORDER BY PartCode
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
    )
    SELECT T3.*, T2.TOTAL FROM T3, T2;
END