USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_REPORTS_REP009]    Script Date: 19/3/2026 11:39:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_REPORTS_REP009] --USP_GET_REPORTS_REP009 1,4069
@IDUSER INT, 
@IDDEALER INT = NULL,
@IDSUPPLIER INT = NULL,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL,
@IESTATUS INT = NULL

AS
/* '===============================================================          
  '   NOMBRE                : USP_GET_REPORTS_REP009
  '   FECHA CREACIÓN        : 13/03/2026
  '   CREADO POR            : GERARDO JIMENEZ
  '   CREADO PARA           : Reporte de sugerido de crossdocking
  '   FUNCIÓN               : Muestra el consolidado de repuestos en estatus 21 (UNAVAILABLE)
  '   VERSIÓN               :
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN :
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

DECLARE @TOPE INT

IF @IROWFROM IS NULL
BEGIN
    SET @TOPE = 1000000
    SET @IROWFROM = 0
END
ELSE
BEGIN
    SET @TOPE = 100
END

BEGIN
    WITH T1 AS (
        SELECT 
            P.VINNERCODE AS PartCode,
            P.VDESCRIPTION AS PartDescription,
            SUM(B.IBACKORDER) AS RequestedQuantity
        FROM BACKORDER B WITH (NOLOCK)
        INNER JOIN SALEORDERDETAIL SD WITH (NOLOCK) ON SD.ID = B.IDSALEORDERDETAIL
        INNER JOIN PART P WITH (NOLOCK) ON P.ID = SD.IDPART
        WHERE
            B.IDSTATUS = 21
            AND B.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER, 0) = 0 THEN B.IDSUPPLIER ELSE @IDSUPPLIER END
            AND (@VFILTER IS NULL OR P.VINNERCODE = @VFILTER)
            -- Agregamos filtro de fechas como en los otros reportes (opcional)
            --AND B.DCREATED >= ISNULL(@DFROMDATE, B.DCREATED)
            --AND B.DCREATED < DATEADD(DAY, 1, ISNULL(@DUPTODATE, B.DCREATED))
        GROUP BY 
            P.VINNERCODE, 
            P.VDESCRIPTION
    ),
    T2 AS (
        SELECT COUNT(*) AS TOTAL FROM T1
    ),
    T3 AS (
        SELECT 
            PartCode AS [CÓDIGO REPUESTO],
            PartDescription AS [DESCRIPCIÓN],
            RequestedQuantity AS [CANTIDAD SUGERIDA]
        FROM T1
        ORDER BY PartCode
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
    )
    SELECT T3.*  FROM T3;
END
