USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_ZONES]    Script Date: 19/3/2026 11:40:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_ZONES] -- USP_GET_ZONES 1,0,0
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@ID INT = NULL

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

BEGIN

	WITH T1 as(
	SELECT 
		Z.ID,
		Z.VNAME,
		Z.IDWAREHOUSE,
		ISNULL(Z.VSIZE,'S') VSIZE,
		Z.BACTIVE,
		Z.BCROSSDOCKING,
		W.VNAME AS VWAREHOUSE  

		FROM dbo.ZONE Z WITH (NOLOCK)
		inner join WAREHOUSE W WITH (NOLOCK) on Z.IDWAREHOUSE = W.ID
		WHERE
		Z.BEDITABLE=1 AND
		W.IDSUPPLIER= CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 THEN W.IDSUPPLIER ELSE @IDSUPPLIER END AND 
		Z.ID = CASE WHEN @ID IS NUll THEN Z.ID ELSE @ID END AND
		Z.VNAME LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+Z.VNAME+'%' ELSE '%'+@VFILTER+'%'  END AND
		EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] R WHERE R.IDUSER=@IDUSER AND R.IDSUPPLIER=W.IDSUPPLIER) 

	),
	T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
	T3 AS (
		SELECT * FROM T1
        ORDER BY T1.VNAME
        OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
        FETCH NEXT @TOPE ROWS ONLY
	)
	SELECT T3.*, T2.* FROM T3, T2;
END