USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_ZONES]    Script Date: 19/3/2026 11:44:26 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_ZONES]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : GERARDO JIMENEZ  
  '   RAZÓN DE MODIFICACIÓN : AGREGAR CAMPO CROSSDOCKING
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 
				
				DECLARE @TDATA AS TABLE
				(
					ID INT,
					VNAME VARCHAR(20),
					IDWAREHOUSE INT,
					VSIZE VARCHAR(1),
					BACTIVE BIT,
					BCROSSDOCKING  BIT,
					VROWREFERENCE VARCHAR(5)
				);

				INSERT INTO @TDATA
				SELECT
				L.Id,
				L.Name, 
				L.WarehouseId, 
				L.Size ,
				L.IsActive,
				L.IsCrossDocking, 
				L.RowReference
				FROM OPENJSON(@DATA)
				WITH (
						Id int,
						Name varchar(20),
						WarehouseId int, 
						Size varchar(1), 
						IsActive bit,
						IsCrossDocking bit, 
						RowReference varchar(5)
					  ) AS L
					  
	
	            DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-ZONAS')
				

				EXEC USP_CHECK_BACTIVE @DATA,@IDUSER,@IDMODULE

				EXEC USP_CHECK_WAREHOUSES @DATA,@IDUSER
	


				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @ErrorMessage NVARCHAR(4000) 
				DECLARE @VROWREF VARCHAR(5)=Null

				DECLARE @REPETIDO VARCHAR(20)

				SELECT TOP 1
				@REPETIDO=D.VNAME, @VROWREF=VROWREFERENCE
				FROM @TDATA D
				INNER JOIN WAREHOUSE X WITH (NOLOCK) ON X.ID=D.IDWAREHOUSE
				WHERE EXISTS (SELECT * FROM ZONE Z WITH (NOLOCK)
						INNER JOIN WAREHOUSE W WITH (NOLOCK) ON W.ID=Z.IDWAREHOUSE
						WHERE D.ID<>Z.ID AND  Z.VNAME=D.VNAME AND W.IDSUPPLIER=X.IDSUPPLIER
							  )

				IF ISNULL(@REPETIDO,'')<>''
				BEGIN
					SET @ErrorMessage='EL REGISTRO QUE INTENTAS CREAR YA EXISTE: '+@REPETIDO
				END

			
				-----------------------*---------------VALIDAMOS SI EL ALMACEN ESTA INACTIVO--------------*------------------------

				IF @ErrorMessage IS NULL  
				BEGIN
					SELECT TOP 1 @REPETIDO = D.VNAME, @VROWREF = D.VROWREFERENCE
					FROM @TDATA D 
					INNER JOIN WAREHOUSE W ON D.IDWAREHOUSE = W.ID 
					WHERE D.ID=0 AND W.BACTIVE = 0
    
					IF ISNULL(@REPETIDO,'')<>''
					BEGIN
						SET @ErrorMessage='ACCION NO PERMITIDA: ALMACEN INACTIVO'
					END 
				END
				 
				-----------------------*---------------VALIDAMOS SI HAY ZONAS CON EXISTENCIAS--------------*-------------------------

				EXEC USP_CHECK_ZONES_DEACTIVATE @DATA,@IDUSER,'Id' 
				

				---------------------------------VALIDAMOS SI EL ALMACEN ES DE LA MISMA PLANTA----------------------------------
				 IF @ErrorMessage IS NULL AND EXISTS (SELECT * FROM @TDATA WHERE ID>0)
				BEGIN
					DECLARE @IDSUPPLIERWS1 INT;
					DECLARE @IDSUPPLIERWS2 INT;

						SELECT TOP 1 @IDSUPPLIERWS1 =W.IDSUPPLIER
						FROM @TDATA D
						INNER JOIN WAREHOUSE W WITH (NOLOCK) ON D.IDWAREHOUSE =W.ID

						SELECT TOP 1 @IDSUPPLIERWS2 =W.IDSUPPLIER, @VROWREF=VROWREFERENCE
						FROM ZONE Z WITH(NOLOCK) 
						INNER JOIN @TDATA T ON Z.ID=T.ID
						INNER JOIN WAREHOUSE W WITH (NOLOCK) ON Z.IDWAREHOUSE=W.ID
					
					IF @IDSUPPLIERWS1<>@IDSUPPLIERWS2
					BEGIN
						SET @ErrorMessage= 'ACCION NO PERMITIDA: ALMACEN DE PLANTA DIFERENTE'
					END
				END

--------------------------------------------------------ENVIO DE MSJ---------------------------------------------------------------------------
			IF @ErrorMessage IS NOT NULL
				BEGIN
					IF @VROWREF IS NOT NULL AND LTRIM(RTRIM(@VROWREF)) <> ''
						SET @ErrorMessage= @ErrorMessage + ' -FILA: ' + @VROWREF

					RAISERROR(@ErrorMessage, 16, 1)
					RETURN
				END
			   
---------------------------------------------------------------------------------------------------------------------------------------------------------------- 
				 
				IF EXISTS(SELECT * FROM @TDATA WHERE ID=0)
				BEGIN
				SET @VACTION='CREATE'
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
				INSERT INTO ZONE(
				VNAME,
				IDWAREHOUSE, 
				VSIZE, 
				BACTIVE,
				BCROSSDOCKING,  
				DCREATED,
				DUPDATED, 
				VUPDATEDBY,
				IDSUPPLIER)

				SELECT
				D.VNAME,
				D.IDWAREHOUSE, 
				D.VSIZE,
				D.BACTIVE, 
				D.BCROSSDOCKING,
				GETDATE(), 
				GETDATE(), 
				DBO.UFN_GET_LOGIN(@IDUSER),
				W.IDSUPPLIER
				FROM @TDATA D
				INNER JOIN WAREHOUSE W WITH (NOLOCK) ON W.ID=D.IDWAREHOUSE
				WHERE NOT EXISTS (SELECT * FROM ZONE Z WITH (NOLOCK) WHERE Z.ID = D.ID)

				SELECT @IINSERTED=@@ROWCOUNT
				SELECT @IID=SCOPE_IDENTITY()
				END
				ELSE
				BEGIN
				SET @VACTION='EDIT'
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
				UPDATE Z
					SET Z.VNAME=D.VNAME,
						Z.IDWAREHOUSE = D.IDWAREHOUSE,
						Z.VSIZE = D.VSIZE,
						Z.BACTIVE = D.BACTIVE,
					    Z.BCROSSDOCKING = D.BCROSSDOCKING,
						Z.DUPDATED = GETDATE(),
						Z.VUPDATEDBY= DBO.UFN_GET_LOGIN(@IDUSER)
				FROM ZONE Z
				INNER JOIN @TDATA D ON D.ID=Z.ID

				SELECT @IUPDATED=@@ROWCOUNT
				END

				-- ***** OJO. SE COMENTA ESTE CODIGO HASTA NUEVO AVISO***  WILMAN CAMACHO
				/*
				IF  (SELECT COUNT(*) FROM @TDATA) = 1 
				BEGIN
					 IF EXISTS (SELECT * FROM @TDATA WHERE BACTIVE=1)
						EXEC USP_REPLICATE_LOCATIONS @IDUSER,1
					 ELSE
						EXEC USP_REPLICATE_LOCATIONS @IDUSER,0
				END
				*/

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
