USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_DEMAND_REASONS]    Script Date: 19/3/2026 11:35:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_DEMAND_REASONS]  --USP_GET_DEMAND_REASONS

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : GERARDO JIMENEZ
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


BEGIN
    SELECT 
        ID,
        VDESCRIPTION AS [DESC]
    FROM DEMAND_REASON WITH (NOLOCK)
END
