USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_MOVEMENTDETAILS]    Script Date: 19/3/2026 11:42:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_MOVEMENTDETAILS]  
 @DATA VARCHAR(MAX),
 @IDUSER INT,
 @BIMPORT BIT = 0
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : GERARDO JIMENEZ
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY


				DECLARE @TDATA AS TABLE
				(
					ID INT,
					IDMOVEMENT INT,
					IDPART INT,
					IDLOCATION INT,
					IDDESTINATION INT,
					IREQUIRED INT,
					VSERIAL VARCHAR(20),
					VLOCATIONNAME VARCHAR(20),
					VDESTINATIONNAME VARCHAR(20),
					VINNERCODE VARCHAR(25),
					VROWREFERENCE VARCHAR(5),
					NCOST NUMERIC(18,2),
					VDESCRIPTION VARCHAR(250),
					CROSSDOCKING_QTY INT,
			        CROSSDOCKING_LOCATION_ID INT,
					VLOCATION_CROSSDOCKING_NAME VARCHAR(20)
				);

				INSERT INTO @TDATA
				SELECT M.Id,M.MovementId,M.PartId,M.LocationId, M.DestinationId,M.RequiredQty,null,M.LocationName,
				M.DestinationName,M.InnerCode,M.RowReference,M.Cost,M.PartName, M.CrossDockingQty, M.CrossDockingLocationId, M.CrossDockingName
				FROM OPENJSON(@DATA)
				WITH (
					Id int, MovementId int, PartId int, LocationId int, DestinationId int, 
					RequiredQty int,LocationName varchar(20),DestinationName varchar(20),
					InnerCode varchar(25),RowReference Varchar(5),Cost numeric(18,2),PartName varchar(250),CrossDockingQty int, CrossDockingLocationId int, CrossDockingName VARCHAR(20)
					   ) AS M

				DECLARE @IDMODULE INT;
		 

				SELECT TOP 1 @IDMODULE = 
				CASE 
				WHEN M.VTYPE = 'R' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECEPCION')
				WHEN M.VTYPE = 'T' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-TRASLADO') 
				WHEN M.VTYPE = 'P' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECOLECCION')
				ELSE 8
				END
				FROM @TDATA C 
				INNER JOIN MOVEMENT M WITH (NOLOCK) ON C.IDMOVEMENT=M.ID ;

				DECLARE @VACTION VARCHAR(20)
				SET @VACTION='EDIT'
			    EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE


				DECLARE @IDSUPPLIER INT
				DECLARE @IDMOVEMENT INT
				DECLARE @VTYPE VARCHAR(1)
				DECLARE @VROWREF VARCHAR(5)=Null
				DECLARE @ErrorMessage NVARCHAR(4000) 

				SELECT TOP 1 @IDMOVEMENT = IDMOVEMENT, @VROWREF=VROWREFERENCE FROM @TDATA
				SELECT TOP 1 @IDSUPPLIER = IDSUPPLIER,@VTYPE=VTYPE FROM MOVEMENT WITH (NOLOCK) WHERE ID=@IDMOVEMENT


				IF @BIMPORT = 1
				BEGIN
			
					IF EXISTS (SELECT * FROM @TDATA D
								WHERE NOT EXISTS (SELECT * FROM PART P WITH (NOLOCK) 
												  WHERE P.VINNERCODE=D.VINNERCODE AND P.IDSUPPLIER=@IDSUPPLIER)) AND @VTYPE='R'
					BEGIN

					DECLARE @IDMODULE2 INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-REPUESTOS')

					EXEC USP_CHECK_CREDENTIALS @IDUSER,'CREATE',@IDMODULE2

					DECLARE @IDBRAND INT
					SELECT TOP 1 @IDBRAND = IDBRAND FROM V_SUPPLIERS WHERE IDSUPPLIER=@IDSUPPLIER

					INSERT INTO PART
					(VINNERCODE,VMASTERCODE,VALTERCODE,VREPLACEMENTCODE,VBARCODE,VDESCRIPTION,IDTYPE,IDFAMILY,IDSUBFAMILY,
					NPRICE,NCOST,NDISCOUNT,NWEIGHT,VSIZE,IMINSALE,IPACKING,BSELL,BPURCHASE,BWARRANTY,BLICENSE,BORIGINAL,BSERIALIZABLE,
					IDSUPPLIER,IDBRAND,IDMODEL,IDUM,IDTAX,VRATING,BACTIVE,DCREATED,DUPDATED,VUPDATEDBY,VALTERDESCRIPTION)
					SELECT	
					VINNERCODE,'' VMASTERCODE,'' VALTERCODE,'' VREPLACEMENTCODE,VINNERCODE AS VBARCODE,VDESCRIPTION,1 IDTYPE,1 IDFAMILY,1 IDSUBFAMILY,
					(NCOST/0.7 ) as NPRICE,NCOST,0 NDISCOUNT,1 NWEIGHT,'P' VSIZE,1 IMINSALE,1 IPACKING,1 BSELL,1 BPURCHASE,1 BWARRANTY,0 BLICENSE,0 BORIGINAL,0 BSERIALIZABLE,
					@IDSUPPLIER,@IDBRAND IDBRAND,0 IDMODEL,1 IDUM,2 IDTAX,'D' VRATING,1 BACTIVE,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER),
					VDESCRIPTION
					FROM @TDATA D
					WHERE NOT EXISTS (SELECT * FROM PART P WITH (NOLOCK) 
					WHERE P.VINNERCODE=D.VINNERCODE AND P.IDSUPPLIER=@IDSUPPLIER)

					END

					-- Actualizar IDLOCATION
					UPDATE A
						SET A.IDLOCATION = ISNULL(V.ID, 0)
						FROM @TDATA A
						INNER JOIN V_LOCATION V ON UPPER(A.VLOCATIONNAME) = UPPER(V.VNAME)
						WHERE V.IDSUPPLIER = @IDSUPPLIER 

					UPDATE A
						SET A.IDDESTINATION = ISNULL(V.ID, 0)
						FROM @TDATA A
						INNER JOIN V_LOCATION V ON UPPER(A.VDESTINATIONNAME) = UPPER(V.VNAME)
						WHERE V.IDSUPPLIER = @IDSUPPLIER 

					UPDATE A
						SET A.CROSSDOCKING_LOCATION_ID = ISNULL(V.ID, 0)
						FROM @TDATA A
						INNER JOIN V_LOCATION V ON UPPER(A.VLOCATION_CROSSDOCKING_NAME) = UPPER(V.VNAME)
						WHERE V.IDSUPPLIER = @IDSUPPLIER 

					UPDATE A
						SET A.IDPART = ISNULL(B.ID, 0)
						FROM @TDATA A 
						INNER JOIN PART B WITH (NOLOCK) ON B.VINNERCODE = A.VINNERCODE
						WHERE B.IDSUPPLIER = @IDSUPPLIER

					DECLARE @VPART VARCHAR(30)
					DECLARE @VORIGEN VARCHAR(10)
					DECLARE @VDESTINO VARCHAR(10)
					
					SELECT TOP 1 @VPART=VINNERCODE
					FROM @TDATA 
					WHERE ISNULL(IDPART,0)=0

					IF ISNULL(@VPART,'')<>''
					BEGIN
						SET @ErrorMessage = 'REPUESTO INVALIDO: '+@VPART
						RAISERROR(@ErrorMessage, 16, 1)
						RETURN
					END

					SELECT TOP 1 @VORIGEN=VLOCATIONNAME
					FROM @TDATA 
					WHERE ISNULL(IDLOCATION,0)=0

					IF ISNULL(@VORIGEN,'')<>''
					BEGIN
						SET @ErrorMessage = 'UBICACION ORIGEN INVALIDO: '+@VORIGEN
						RAISERROR(@ErrorMessage, 16, 1)
						RETURN
					END

					IF @VTYPE='R'
					BEGIN
					
						IF @ErrorMessage IS NULL
						BEGIN
							IF EXISTS ( 
							SELECT * FROM @TDATA T WHERE
							ISNULL(CROSSDOCKING_QTY,0)=0 AND ISNULL(VLOCATION_CROSSDOCKING_NAME,'')<>''
							)					
								BEGIN
									SET @ErrorMessage = 'CANTIDAD CROSSDOCKING INVALIDO'
									RAISERROR(@ErrorMessage, 16, 1)
								END
						END

						SELECT TOP 1 @VORIGEN=VLOCATIONNAME
						FROM @TDATA T
						WHERE ISNULL(IDLOCATION,0)>0
						AND NOT EXISTS (SELECT * FROM V_LOCATION WHERE VNAME=T.VLOCATIONNAME AND VTYPE='R')

						IF ISNULL(@VORIGEN,'')<>''
						BEGIN
							SET @ErrorMessage = 'UBICACION ORIGEN INVALIDO: '+@VORIGEN
							RAISERROR(@ErrorMessage, 16, 1)
							RETURN
						END

						IF EXISTS(SELECT TOP 1 * FROM @TDATA T
									WHERE ISNULL(CROSSDOCKING_QTY,0)>0
									AND ISNULL(CROSSDOCKING_LOCATION_ID,0)=0)
						BEGIN
							SET @ErrorMessage = 'UBICACION CROSSDOCKING INVALIDO'
							RAISERROR(@ErrorMessage, 16, 1)
							RETURN
						END

						DECLARE @CROSSDOCKING VARCHAR(20)
						SET @CROSSDOCKING=''

						SELECT TOP 1 @CROSSDOCKING=VLOCATION_CROSSDOCKING_NAME
						FROM @TDATA T
						WHERE ISNULL(CROSSDOCKING_LOCATION_ID,0)>0
						AND NOT EXISTS (SELECT * FROM V_LOCATION L
										INNER JOIN ZONE Z WITH (NOLOCK) ON Z.ID=L.IDZONE
										WHERE L.VNAME=T.VLOCATION_CROSSDOCKING_NAME
									    AND L.VTYPE='A'
										AND Z.BCROSSDOCKING=1)

						IF ISNULL(@CROSSDOCKING,'')<>''
						BEGIN
							SET @ErrorMessage = 'UBICACION CROSSDOCKING INVALIDO: '+@CROSSDOCKING
							RAISERROR(@ErrorMessage, 16, 1)
							RETURN
						END


					END

					IF @VTYPE='T'
					BEGIN
						SELECT TOP 1 @VORIGEN=VLOCATIONNAME
						FROM @TDATA T
						WHERE ISNULL(IDLOCATION,0)>0
						AND NOT EXISTS (SELECT * FROM V_LOCATION WHERE VNAME=T.VLOCATIONNAME AND VTYPE='A')

						IF ISNULL(@VORIGEN,'')<>''
						BEGIN
							SET @ErrorMessage = 'UBICACION ORIGEN INVALIDO: '+@VORIGEN
							RAISERROR(@ErrorMessage, 16, 1)
							RETURN
						END
					END


					SELECT TOP 1 @VDESTINO=VDESTINATIONNAME
					FROM @TDATA T
					WHERE ISNULL(IDDESTINATION,0)>0
					AND NOT EXISTS (SELECT * FROM V_LOCATION WHERE VNAME=T.VDESTINATIONNAME AND VTYPE='A')

					IF ISNULL(@VDESTINO,'')<>''
					BEGIN
						SET @ErrorMessage = 'UBICACION DESTINO INVALIDO: '+@VDESTINO
						RAISERROR(@ErrorMessage, 16, 1)
						RETURN
					END

					IF EXISTS(SELECT * FROM @TDATA WHERE ISNULL(NCOST,0)=0 )
					BEGIN
						SET @ErrorMessage = 'COSTO INVALIDO'
						RAISERROR(@ErrorMessage, 16, 1)
						RETURN
					END

					-- Eliminar detalles del movimiento
					DELETE FROM MOVEMENTDETAILS
					WHERE IDMOVEMENT = @IDMOVEMENT

				END

				IF @ErrorMessage IS NULL
				BEGIN
					IF EXISTS ( 
					SELECT * FROM @TDATA T WHERE
					IREQUIRED IS NULL OR IREQUIRED=0 
					)					
						BEGIN
							SET @ErrorMessage = 'ACCION NO PERMITIDA: CANTIDAD VACIA O IGUAL A CERO'
							RAISERROR(@ErrorMessage, 16, 1)
						END
				END


				IF @ErrorMessage IS NULL
				BEGIN
					IF EXISTS ( 
					SELECT * FROM @TDATA T WHERE
					IREQUIRED <ISNULL(CROSSDOCKING_QTY,0)
					)					
						BEGIN
							SET @ErrorMessage = 'ACCION NO PERMITIDA: CANTIDAD RECIBIDA NO PUEDE SER MENOR A CROSSDOCKING'
							RAISERROR(@ErrorMessage, 16, 1)
						END
				END

				IF @ErrorMessage IS NULL AND @VTYPE = 'T' 
				BEGIN
					IF EXISTS ( 
					SELECT * FROM @TDATA T
					INNER JOIN INVENTORY  I WITH (NOLOCK) ON T.IDLOCATION=I.IDLOCATION AND T.IDPART=I.IDPART
						WHERE I.ISTOCK<T.IREQUIRED
					)					
						BEGIN
							SET @ErrorMessage = 'ACCION NO PERMITIDA: LA CANTIDAD SE EXCEDE LA EXISTENCIA EN LA UBICACION DE ORIGEN'
							RAISERROR(@ErrorMessage, 16, 1)
						END
				END
 			

				BEGIN TRAN 

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @IINSERTED_MAIN INT = 0
				DECLARE @IINSERTED_CD INT = 0
				DECLARE @LastIds TABLE (ID INT)  -- ← NUEVO: Tabla para capturar IDs

				/* INSERT MOVIMIENTO PRINCIPAL */

				INSERT INTO MOVEMENTDETAILS
				(IDMOVEMENT, IDPART, IDLOCATION, IDDESTINATION, VTYPE, IREQUIRED, IREAL, BPROCESSED,
				DCREATED, DUPDATED, VUPDATEDBY, VSERIAL, VLOCATIONTYPE, NCOST, IDSTATUS)
				OUTPUT INSERTED.ID INTO @LastIds  -- ← NUEVO: Capturar ID
				SELECT 
				D.IDMOVEMENT,
				D.IDPART,
				D.IDLOCATION,
				D.IDDESTINATION,
				'P',
			    D.IREQUIRED - ISNULL(D.CROSSDOCKING_QTY,0),
				NULL,
				0,
				GETDATE(),
				GETDATE(),
				DBO.UFN_GET_LOGIN(@IDUSER),
				D.VSERIAL,
				CASE WHEN @VTYPE='R' THEN 'R' ELSE 'A' END,
				P.NCOST,
				DBO.UFN_GET_ISTATUS('CREATE')
				FROM @TDATA D
				INNER JOIN PART P WITH (NOLOCK) ON P.ID=D.IDPART
				WHERE D.ID = 0
				AND (D.IREQUIRED - ISNULL(D.CROSSDOCKING_QTY,0)) >0

				SET @IINSERTED_MAIN = @@ROWCOUNT


				/* INSERT MOVIMIENTO CROSSDOCKING */

				INSERT INTO MOVEMENTDETAILS
				(IDMOVEMENT, IDPART, IDLOCATION, IDDESTINATION, VTYPE, IREQUIRED, IREAL, BPROCESSED,
				 DCREATED, DUPDATED, VUPDATEDBY, VSERIAL, VLOCATIONTYPE, NCOST, IDSTATUS)
				OUTPUT INSERTED.ID INTO @LastIds  
				SELECT 
					D.IDMOVEMENT,
					D.IDPART,
					D.IDLOCATION,
					D.CROSSDOCKING_LOCATION_ID,
					'P',
					ISNULL(D.CROSSDOCKING_QTY, 0),
					NULL,
					0,
					GETDATE(),
					GETDATE(),
					DBO.UFN_GET_LOGIN(@IDUSER),
					D.VSERIAL,
					CASE WHEN @VTYPE = 'R' THEN 'R' ELSE 'A' END,
					P.NCOST,
					DBO.UFN_GET_ISTATUS('CREATE')
				FROM @TDATA D
				INNER JOIN PART P WITH (NOLOCK) ON P.ID = D.IDPART
				WHERE D.ID = 0
				 AND NOT EXISTS (SELECT * FROM MOVEMENTDETAILS M WITH (NOLOCK) WHERE M.ID=D.ID)
				 AND ISNULL(D.CROSSDOCKING_QTY, 0) > 0 OR CROSSDOCKING_LOCATION_ID IS NOT NULL

				SET @IINSERTED_CD = @@ROWCOUNT


				/* TOTAL INSERTADOS */

				SET @IINSERTED = @IINSERTED_MAIN + @IINSERTED_CD

				-- ← NUEVO: Obtener el primer ID insertado (si lo necesitas)
				SELECT TOP 1 @IID = ID FROM @LastIds ORDER BY ID


				/* UPDATE REGISTROS EXISTENTES */

				UPDATE M
					SET 
					M.IDMOVEMENT = D.IDMOVEMENT,
					M.IDPART = D.IDPART,
					M.IDLOCATION = D.IDLOCATION,
					M.IDDESTINATION = D.IDDESTINATION,  
					M.IREQUIRED = D.IREQUIRED,         
					M.DUPDATED = GETDATE(),
					M.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
					M.VSERIAL = D.VSERIAL,
					M.NCOST = P.NCOST
				FROM MOVEMENTDETAILS M
				INNER JOIN @TDATA D ON D.ID = M.ID 
				INNER JOIN PART P WITH (NOLOCK) ON P.ID = D.IDPART
				WHERE D.ID > 0
				SET @IUPDATED = @@ROWCOUNT


				SELECT
				ISNULL(@IID,0) AS IID,
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN

		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
