USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_DEMAND]    Script Date: 19/3/2026 11:41:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_DEMAND]     --USP_POST_DEMAND
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS


/* '===============================================================          
  '   NOMBRE                : USP_POST_DEMAND
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : GERARDO JIMENEZ
  '   CREADO PARA           : 
  '   FUNCIÓN               : Insertar Demandas Insastifecha
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
    BEGIN TRY
        BEGIN TRAN 
		
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @IDMODULE INT = [dbo].[UFN_GET_IDMODULE]('INVENTARIO-REPUESTOS-CONSULTA')
		DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @VINNERCODE VARCHAR(50)
		DECLARE @VROWREFERENCE VARCHAR(5)
		DECLARE @HAS_PARTID BIT = 0  -- Variable para saber si viene con PARTID

		DECLARE @TDATA AS TABLE
		(
			ID INT, 
			IDPART INT,
			VINNERCODE VARCHAR(50),
			VDESCRIPTION VARCHAR(100),
			IQUANTITY INT,
			IDDEALER INT,
			IDMODEL INT,
			IDREASON INT,
			VROWREFERENCE VARCHAR(5)
		);

		-- Parsear el JSON
		INSERT INTO @TDATA
		SELECT 
			ISNULL(M.Id, 0) AS ID,
			M.PartId AS IDPART,
			M.InnerCode AS VINNERCODE,
			M.Description AS VDESCRIPTION,
			M.Quantity AS IQUANTITY,
			M.DealerId AS IDDEALER,
			M.ModelId AS IDMODEL,
			M.ReasonId AS IDREASON,
			M.RowReference AS VROWREFERENCE
		FROM OPENJSON(@DATA)
		WITH (
			Id INT,
			PartId INT,
			InnerCode VARCHAR(50),
			Description VARCHAR(100),
			Quantity INT,
			DealerId INT,
			ModelId INT,
			ReasonId INT,
			RowReference VARCHAR(5)
		) AS M

		-- Validar permisos de creación
		EXEC USP_CHECK_CREDENTIALS @IDUSER, 'CREATE', @IDMODULE
		
			UPDATE T
				SET T.IDPART=P.ID,T.VDESCRIPTION=P.VDESCRIPTION
			FROM @TDATA T
			INNER JOIN PART P WITH (NOLOCK) ON P.VINNERCODE = T.VINNERCODE
			WHERE ISNULL(T.IDPART,0)=0


		IF @ErrorMessage IS NOT NULL
		BEGIN
			IF @VROWREFERENCE IS NOT NULL AND LTRIM(RTRIM(@VROWREFERENCE)) <> ''
				SET @ErrorMessage = @ErrorMessage + ' - FILA: ' + @VROWREFERENCE

			RAISERROR(@ErrorMessage, 16, 1)
			RETURN
		END
		
		INSERT INTO DEMAND(
			IDPART,
			VINNERCODE,
			VDESCRIPTION,
			IQUANTITY,
			DCREATED,
			IDDEALER,
			IDMODEL,
			IDREASON
		)
		SELECT 
			IDPART,
			VINNERCODE,
			VDESCRIPTION,
			IQUANTITY,
			GETDATE(),
			IDDEALER,
			IDMODEL,
			IDREASON
		FROM @TDATA D

		SELECT @IINSERTED = @@ROWCOUNT
		SELECT @IID = SCOPE_IDENTITY()

		-- Retornar resultados
		SELECT
			ISNULL(@IID, 0) AS IID,
			ISNULL(@IINSERTED, 0) AS IINSERTED,
			0 AS IUPDATED, 

        @IINSERTED AS RegistrosInsertados

       COMMIT TRAN
		
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END