USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_LOCATIONS_RECEPTION_CROSSDOCKING]    Script Date: 19/3/2026 11:36:21 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_LOCATIONS_RECEPTION_CROSSDOCKING] --USP_GET_LOCATIONS_RECEPTION_CROSSDOCKING 1
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@ID INT = NULL

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : GERARDO JIMENEZ
  '   CREADO PARA           : Obtener Ubicaciones de Recepción y CrossDocking
  '   FUNCIÓN               : Trae solo ubicaciones tipo recepción y ubicaciones de almacenaje en zonas crossdocking 
  '   VERSIÓN               : 
  '   MODIFICADO EN         :  
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE = 1000000
		SET @IROWFROM = 0
	END
	ELSE
	BEGIN
		SET @TOPE = 100
	END

BEGIN
	WITH T1 AS (
		SELECT 
			L.*
		FROM V_LOCATION L
		INNER JOIN ZONE Z ON L.IDZONE = Z.ID
		WHERE
			L.BEDITABLE = 1
			AND L.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER, 0) = 0 THEN L.IDSUPPLIER ELSE @IDSUPPLIER END
			AND L.ID = CASE WHEN @ID IS NULL THEN L.ID ELSE @ID END
			AND (L.VNAME LIKE CASE WHEN ISNULL(@VFILTER, '') = '' THEN '%' + L.VNAME + '%' ELSE '%' + @VFILTER + '%' END)
			AND EXISTS (SELECT 1 FROM [dbo].[V_SUPPLIERS_USER] R WHERE R.IDUSER = @IDUSER AND R.IDSUPPLIER = L.IDSUPPLIER)
			AND (
				UPPER(L.VTYPENAME) = 'RECEPCION'  -- Todas las ubicaciones de tipo RECEPCIÓN
				OR
				(UPPER(L.VTYPENAME) = 'ALMACENAJE' AND Z.BCROSSDOCKING = 1)  -- Almacenaje solo en zonas crossdocking
			)
	),
	T2 AS (
		SELECT COUNT(*) AS TOTAL FROM T1
	),
	T3 AS (
		SELECT * FROM T1
		ORDER BY T1.VNAME
		OFFSET @IROWFROM ROWS
		FETCH NEXT @TOPE ROWS ONLY
	)
	SELECT T3.*, T2.* FROM T3, T2;
END
