USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_MOVEMENTDETAILS_GROUPED]    Script Date: 19/3/2026 11:37:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_MOVEMENTDETAILS_GROUPED] -- USP_GET_MOVEMENTDETAILS_GROUPED 1,4069,'P','P'
@IDUSER INT,
@IDSUPPLIER INT = NULL,
@VTYPE VARCHAR(1),
@VMODE VARCHAR(1) = 'P'
--,
--@VTIPO VARCHAR(1)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	DECLARE @VMOVEMENTTYPEX VARCHAR(1)
	DECLARE @VTYPEX VARCHAR(1)
	DECLARE @IDLOCATIONX INT
	DECLARE @IDPARTX INT
	DECLARE @IDUSERX INT
	DECLARE @IDGRUPOX INT
	DECLARE @IPRIORITYX INT

	UPDATE A 
		SET A.IDGROUP=NULL
	FROM MOVEMENTDETAILS A
	INNER JOIN MOVEMENT B ON B.ID=A.IDMOVEMENT
	WHERE A.IDSTATUS=DBO.UFN_GET_ISTATUS('ASSIGN')
	AND B.IDSUPPLIER=@IDSUPPLIER
	AND B.VTYPE = @VTYPE
	AND A.BPROCESSED = 0
	AND A.IDUSER=@IDUSER
	AND A.IDGROUP IS NOT NULL


	SELECT TOP 1 
	@VMOVEMENTTYPEX=D.VMOVEMENTTYPE,@VTYPEX=D.VTYPE,@IDLOCATIONX=D.IDLOCATION,@IDPARTX=D.IDPART,
	@IDGRUPOX=D.IDGRUPO,@IPRIORITYX=D.IPRIORITY
	FROM V_MOVEMENTDETAILS_TOGROUP D
	LEFT JOIN V_LOCATION L ON L.ID=D.IDLOCATION
	WHERE 
	D.IDSUPPLIER=@IDSUPPLIER
	AND D.IDUSER=@IDUSER
	AND D.VMOVEMENTTYPE=@VTYPE
	ORDER BY   
	         CASE WHEN @VMODE='P'
				  THEN CASE WHEN D.VTYPE = 'P' THEN 1 ELSE 2 END 
				  ELSE CASE WHEN D.VTYPE = 'D' THEN 1 ELSE 2 END
			 END ASC,
			 CASE WHEN EXISTS (SELECT * FROM ZONE Z WITH (NOLOCK) WHERE Z.ID = L.IDZONE AND Z.BCROSSDOCKING = 1) 
             THEN 0 ELSE 1 END ASC,
			 D.IPRIORITY DESC,
			 CASE 
				WHEN L.VZONESIZE = 'P' THEN 1
				WHEN L.VZONESIZE = 'M' THEN 2 ELSE 3 END ASC,L.VNAME ASC

	IF @IDGRUPOX>0
	BEGIN
		UPDATE A 
			SET A.IDGROUP=@IDGRUPOX
		FROM MOVEMENTDETAILS A
		INNER JOIN MOVEMENT B ON B.ID=A.IDMOVEMENT
		WHERE 
		B.IDSUPPLIER=@IDSUPPLIER
		AND B.VTYPE = @VTYPE
		AND A.IDSTATUS=DBO.UFN_GET_ISTATUS('ASSIGN')
		AND A.BPROCESSED = 0
		AND A.IDUSER>0
		AND A.IDUSER=@IDUSER
		AND A.VTYPE=@VTYPEX
		AND A.IDLOCATION= @IDLOCATIONX
		AND A.IDPART=@IDPARTX
		AND A.IPRIORITY=@IPRIORITYX

	END
	
	DECLARE @ISTOCK INT
	IF @IDLOCATIONX>0
	BEGIN
		SELECT TOP 1 @ISTOCK=ISTOCK FROM V_INVENTORY WHERE IDLOCATION=@IDLOCATIONX AND IDPART=@IDPARTX
	END

	SELECT TOP 1
D.ID,
D.IDMOVEMENT,
D.VMOVEMENTTYPE,
D.VTYPEMOVEMENT,
D.VTYPE,
D.IDLOCATION,
D.VLOCATIONTYPE,
D.VLOCATION,
D.IMAPPING,
D.IDPART,
D.VSERIAL,
D.VCODEPART,
'['+D.VCODEPART+'] '+D.VPART AS VPART,
D.VBARCODE,
D.BSERIALIZABLE,
D.BPROCESSED,
D.IDGROUP,
D.IDUSER,
D.VLOGIN,
D.IDSUPPLIER,
D.IREQUIRED,
D.IREAL,
	ISNULL(@ISTOCK,0) ISTOCK
	FROM V_MOVEMENTDETAILS_GROUPED D
	WHERE D.IDUSER=@IDUSER
	AND D.IDSUPPLIER = @IDSUPPLIER
	AND D.VMOVEMENTTYPE=@VTYPE


END


