USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_MOVEMENTDETAILS]    Script Date: 19/3/2026 11:37:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_MOVEMENTDETAILS] -- USP_GET_MOVEMENTDETAILS 1019
@IDMOVEMENT INT,
@ID INT = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	SELECT D.ID,
		   D.IDMOVEMENT,
		   D.IDPART,
		   D.VSERIAL,
		   D.VPARTSIZE,
		   D.VLOCATIONTYPE,
		   D.IDLOCATION,
		   CASE 
			   WHEN D.VTYPE = 'D' THEN NULL
			   ELSE D.VLOCATION
		   END AS VLOCATION,
		   D.IDDESTINATION,
		   CASE 
			   WHEN D.VTYPE = 'D' THEN D.VLOCATION
			   ELSE D.VDESTINATION
		   END AS VDESTINATION,
		   D.IREQUIRED,
		   D.IREAL,
		   D.VTYPE,
		   D.VTYPEMOVEMENT,
		   D.BPROCESSED,
		   D.VCODEPART,
		   D.VPART,
		   D.VUPDATED,
		   D.IDUSER,
		   D.VLOGIN,
		   D.IMAPPING,
		   D.NCOST,
		   D.NSUBTOTAL,
		   D.IDPARTIALTYPE,
		CASE WHEN D.VTYPE = 'D' THEN D.VLOCATION ELSE NULL END AS VDESTINATION,
		ISNULL(I.ISTOCK,0) ISTOCK,
		PT.VNAME AS VPARTIALTYPE,  
		PT.ID AS IDPARTIALTYPE    
	FROM V_MOVEMENTDETAILS D
	LEFT JOIN ( 
				SELECT IDPART,SUM(ISTOCK) ISTOCK
				FROM V_INVENTORY I WITH (NOLOCK)
				WHERE I.VLOCATIONTYPE='A'
				GROUP BY IDPART
			   ) I ON I.IDPART=D.IDPART
	LEFT JOIN PARTIALTYPE PT WITH (NOLOCK) ON PT.ID = D.IDPARTIALTYPE
	WHERE D.IDMOVEMENT=@IDMOVEMENT
	AND D.ID =  CASE WHEN ISNULL(@ID,0)=0 THEN D.ID ELSE @ID END 
	ORDER BY D.VCODEPART, CASE WHEN D.VTYPE='P' THEN 1 ELSE 2 END ASC,
	D.VPART
END

 
	 
	 
	 
