GO
/****** Object:  StoredProcedure [dbo].[USP_POST_SALEORDERDETAILS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_SALEORDERDETAILS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_SALEORDERDETAILS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_SALEORDERDETAILS]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : ROBERTO QUINTERO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : encabezado de segurdad 
  '   MODIFICADO POR        :  juan guarecuco
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 
				
				DECLARE @TDATA AS TABLE
				(
					ID INT,
					IDSALEORDER INT,
					IDPART INT,
					IREQUIRED INT,
					IDREASON INT,
					NCOST NUMERIC(18,2),
					NPRICE NUMERIC(18,2),
					ICLAIM INT
				);

				INSERT INTO @TDATA
				SELECT L.Id, L.SaleOrderId, L.PartId, L.Quantity, L.ReasonId, L.Cost, L.Price, L.Claim FROM OPENJSON(@DATA)
				WITH (
					Id int, SaleOrderId int, PartId int, Quantity int, ReasonId int, Cost Numeric(18,2), Price Numeric(18,2), Claim int
				) AS L
			
	

				--EXEC USP_CHECK_DEALERS @DATA,@IDUSER 
				
				
				--note: consult if check supplier needed or make usp_check_order
	


				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				DECLARE @IDPART INT
				DECLARE @IDSALEORDER INT

				SELECT TOP 1 @IDPART=IDPART , @IDSALEORDER = IDSALEORDER FROM @TDATA
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('PEDIDOS-PEDIDOS')
				SET @VACTION='CREATE'
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

				INSERT INTO SALEORDERDETAIL (
					IDSALEORDER,
					IDPART,
					IREQUIRED,
					IDREASON,
					NCOST,
					NPRICE,
					ICLAIM,
					NTAX
					)
				SELECT	
					D.IDSALEORDER,
					D.IDPART,
					D.IREQUIRED,
					D.IDREASON,
					P.NCOST,
					P.NPRICE,
					D.ICLAIM,
					T.NAMOUNT
				FROM @TDATA D
				INNER JOIN PART P WITH (NOLOCK) ON P.ID=D.IDPART
				INNER JOIN TAX T WITH (NOLOCK) ON T.ID=P.IDTAX
				WHERE NOT EXISTS (SELECT * FROM SALEORDERDETAIL OD WITH (NOLOCK) 
								  WHERE OD.IDSALEORDER=@IDSALEORDER AND OD.IDPART=@IDPART)

				SELECT @IINSERTED=@@ROWCOUNT
				SELECT @IID=SCOPE_IDENTITY()


				UPDATE OD
					SET
						OD.IREQUIRED = D.IREQUIRED,
						OD.IDREASON = D.IDREASON,
						OD.NCOST = P.NCOST,
						OD.NPRICE = P.NPRICE,
						OD.ICLAIM = D.ICLAIM,
						OD.NTAX = T.NAMOUNT
				FROM SALEORDERDETAIL OD
				INNER JOIN @TDATA D ON D.IDSALEORDER=OD.IDSALEORDER AND D.IDPART=OD.IDPART
				INNER JOIN PART P WITH (NOLOCK) ON P.ID=OD.IDPART
				INNER JOIN TAX T WITH (NOLOCK) ON T.ID=P.IDTAX


				SELECT @IUPDATED=@@ROWCOUNT

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END