GO
/****** Object:  StoredProcedure [dbo].[USP_GET_USERS_ASSIGN]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_USERS_ASSIGN]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_USERS_ASSIGN] AS BEGIN SET NOCOUNT ON  END')
GO
-- SELECT * FROM CONTACT WHERE BUSER=1 and BSUPPLIER=1
ALTER PROCEDURE [dbo].[USP_GET_USERS_ASSIGN] -- USP_GET_USERS_ASSIGN '',NULL,1,NULL,4069
(
@VFILTER VARCHAR(100) = NULL,
@IROWFROM INT = NULL,
@IDUSER INT ,
@ID INT = NULL,
@IDSUPPLIER INT = NULL
)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

	
BEGIN


		WITH T1 AS (
			SELECT DISTINCT C.ID ,C.VFIRSTNAME, C.VLASTNAME,C.VVAT,IU.VLOGIN,C.BACTIVE
			FROM V_CONTACTS C
			INNER JOIN CONTACT CT WITH (NOLOCK) ON C.ID =CT.ID AND CT.BACTIVE=1
			INNER JOIN ACCESSGROUPUSER AR WITH (NOLOCK) ON  C.ID=AR.IDUSER AND AR.BASSIGN=1
	        INNER JOIN ACCESSGROUP AG WITH (NOLOCK) ON AR.IDACCESGROUP= AG.ID AND AG.BACTIVE=1
			INNER JOIN ACCESSGROUPDETAIL AD WITH (NOLOCK) ON AG.ID=AD.IDACCESGROUP AND AD.BASSIGN=1 AND AD.IDACTION =DBO.UFN_GET_ISTATUS('APPROVE')
			INNER JOIN INFOUSER IU WITH (NOLOCK) ON C.ID=IU.IDUSER
 			WHERE 
				--C.ID>1 AND -- ADMIN
				C.ID = CASE WHEN @ID IS NULL THEN C.ID ELSE @ID END AND
			     CT.BUSER=1
				 AND
				(
					(C.VFIRSTNAME LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+C.VFIRSTNAME+'%' ELSE '%'+@VFILTER+'%'  END) OR 
					(C.VLASTNAME LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+C.VLASTNAME+'%' ELSE '%'+@VFILTER+'%'  END) OR 
					(C.VVAT LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+C.VVAT+'%' ELSE '%'+@VFILTER+'%'  END) OR
					(IU.VLOGIN LIKE CASE WHEN ISNULL(@VFILTER,'')='' THEN '%'+IU.VLOGIN+'%' ELSE '%'+@VFILTER+'%'  END) 

				) AND EXISTS (
							SELECT *
							FROM V_SUPPLIERS_USER R
							WHERE R.IDUSER = C.ID
							  AND R.IDSUPPLIER = @IDSUPPLIER
						)
		),
		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
		T3 AS (

				SELECT * FROM T1
				ORDER BY T1.VFIRSTNAME
				OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
				FETCH NEXT @TOPE ROWS ONLY
			   )
		SELECT T3.*,T2.* FROM T3,T2;

END


