GO
/****** Object:  StoredProcedure [dbo].[USP_GET_POLICY]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_POLICY]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_POLICY] AS BEGIN SET NOCOUNT ON  END')
GO
--SELECT * FROM POLICY
ALTER PROCEDURE [dbo].[USP_GET_POLICY]-- USP_GET_POLICY 454,1
@ID INT,
@IDUSER INT 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

DECLARE @ISDEALER BIT=0
	IF EXISTS (SELECT * FROM [dbo].[V_DEALERS_USER] WHERE IDUSER=@IDUSER)
	BEGIN
	SET @ISDEALER=1
	END

	--DECLARE @VACTION VARCHAR(20)
	--	DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('POLIZAS-POLIZAS')
	--	SET @VACTION='GET'
	--	EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

BEGIN


    WITH T1 AS (
        SELECT 
        M.ID,ISNULL(M.VNUMBER,'') VNUMBER ,M.IDPOLICYTYPE, P.VDESCRIPTION,M.BACTIVE,M.IESTATUS AS IDESTATUS ,A.VDISPLAYESTATUS AS ESTATUSNAME,CONVERT(date, M.DACTIVATIONDATE) AS DACTIVATIONDATE,M.DLOCKDATE,M.DEXPIRATIONDATE,M.IDVEHICLE,
		V.VVIN,V.VPLATE,V.VENGINESERIAL,L.VDESCRIPTION AS MODELNAME,B.ID AS IDBRAND,B.VNAME AS VBRAND ,V.IYEAR,T.VNAME as VCOLOR,M.IDPAYMETHOD, Z.VNAME AS NAMEMETHOD,
		V.IDCUSTOMER,C.VVAT,C.VFIRSTNAME,C.VLASTNAME,C.VPHONE1,C.VEMAIL,C.VADDRESS,X.VFIRSTNAME as DEALERNAME,X.VREFERENCE AS CODDEALER ,Y.ID AS IDSUPPLIER, Y.VFIRSTNAME SUPPLIERNAME,Y.VREFERENCE AS CODSUPPLIER, 
		M.VINVOICENUMBER,M.NINVOICEAMOUNT,CONVERT(date, M.DINVOICEDATE) AS DINVOICEDATE,(CU.VFIRSTNAME+' '+ISNULL(CU.VLASTNAME,'')) AS VSELLER, CI.VNAME AS VCITYDEALER,CY.VNAME AS VCITYCUSTOMER,PT.ITOPKM,PT.ITOPMONTHS,(PT.ITOPMONTHS/12) AS ITOPYEARS
        FROM POLICY M WITH (NOLOCK)
        INNER JOIN VEHICLE V WITH (NOLOCK) ON M.IDVEHICLE = V.ID
        INNER JOIN CONTACT C WITH (NOLOCK) ON V.IDCUSTOMER = C.ID
		INNER JOIN CONTACT X WITH (NOLOCK) ON V.IDDEALER = X.ID
		INNER JOIN CONTACT Y WITH (NOLOCK) ON V.IDSUPPLIER = Y.ID
		INNER JOIN POLICYTYPE P WITH (NOLOCK) ON M.IDPOLICYTYPE= P.ID
		INNER JOIN ACTION A WITH (NOLOCK) ON M.IESTATUS= A.ID
		INNER JOIN MODEL L WITH (NOLOCK) ON V.IDMODEL= L.ID
		INNER JOIN BRAND B WITH (NOLOCK) ON L.IDBRAND = B.ID
		LEFT JOIN PAYMETHOD  Z WITH (NOLOCK) ON M.IDPAYMETHOD= Z.ID
		INNER JOIN COLOR T WITH (NOLOCK) ON V.IDCOLOR= T.ID
		LEFT JOIN INFOUSER US WITH (NOLOCK) ON  M.VUPDATEDBY= US.VLOGIN
		LEFT JOIN CONTACT CU WITH (NOLOCK) ON US.IDUSER=CU.ID
		LEFT JOIN CITY CI WITH (NOLOCK) ON X.IDCITY=CI.ID
		LEFT JOIN CITY CY WITH (NOLOCK) ON C.IDCITY=CY.ID
		INNER JOIN POLICYTYPE PT WITH (NOLOCK) ON M.IDPOLICYTYPE=PT.ID
 		WHERE 
		EXISTS (SELECT * FROM [dbo].[V_RELATEDS_USER] R 
						    WHERE R.IDUSER=@IDUSER 
							AND R.IDDEALER   =CASE WHEN @ISDEALER = 1 THEN V.IDDEALER ELSE R.IDDEALER END
							AND R.IDSUPPLIER =CASE WHEN @ISDEALER = 0 THEN V.IDSUPPLIER ELSE R.IDSUPPLIER END )
		 AND (
        M.ID = CASE WHEN @ID IS NUll THEN M.ID ELSE @ID END
		)
    ), 
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1)

    SELECT T1.*, T2.TOTAL
    FROM T1, T2
    WHERE T2.TOTAL > 0

END;

