SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--select * from ACTION
ALTER PROCEDURE [dbo].[USP_POST_ADJUSTMENT_ACTIONS]
    @DATA NVARCHAR(MAX),
    @IDUSER INT 
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               : 
  '   VERSIÓN               :
  '   MODIFICADO EN         : ENCABEZADO DE SEGURIDAD
  '   MODIFICADO POR        : JUAN GUARECUCO
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;  

BEGIN

	BEGIN TRY
		DECLARE @TDATA AS TABLE
		(
			IDRECORD INT,
			IDMODULE INT,
			VACTION VARCHAR(20),
			VCOMMENT VARCHAR(200),
			IDRELATED INT
		);

		INSERT INTO @TDATA
		SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
		FROM OPENJSON(@DATA)
		WITH (
				RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
			) AS C

		DECLARE @IDACTION INT
		DECLARE @VACTION VARCHAR(20)
		DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT
		DECLARE @IDMODULE INT 

		SELECT TOP 1 @VACTION=VACTION, @IDMODULE=IDMODULE FROM @TDATA

		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE



		BEGIN TRAN 
				
				IF @VACTION='PROCESS'
				BEGIN

					DECLARE @ADJUSTMENT AS TABLE (ID INT)
					
					INSERT INTO @ADJUSTMENT
					SELECT ID FROM ADJUSTMENT C WITH (NOLOCK)
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
					WHERE C.IDSTATUS=DBO.UFN_GET_ISTATUS('CREATE')

					DECLARE @IDERROR INT
					SELECT TOP 1 @IDERROR=ID
					FROM ADJUSTMENT A WITH (NOLOCK)
					WHERE NOT EXISTS (SELECT * FROM ADJUSTMENTDETAILS B WITH (NOLOCK)
									  WHERE B.IDADJUSTMENT=A.ID)
					AND A.ID IN (SELECT ID FROM @ADJUSTMENT)

					IF @IDERROR > 0
					BEGIN
						DECLARE @MENSAJE  VARCHAR(100)
						SET @MENSAJE = 'AJUSTE INVALIDO ID: '+CAST( @IDERROR AS VARCHAR(5))
						RAISERROR ( @MENSAJE , 16,1) 
					END

					UPDATE C
						SET
							C.IDSTATUS = DBO.UFN_GET_ISTATUS('PROCESS'),
							--C.DCREATED = GETDATE(),-- INCLUIR CAMPO DUPDATED
							C.IDUSER = @IDUSER
					FROM ADJUSTMENT C
					INNER JOIN @ADJUSTMENT S ON S.ID=C.ID

					SELECT @IUPDATED=@@ROWCOUNT


					IF @IUPDATED>0
					BEGIN 

						DECLARE @IDLOCATION INT,@IDPART INT, @ISTOCK INT,@VMODE VARCHAR(1)
						DECLARE @IREFERENCE INT
						DECLARE @VTYPE VARCHAR(1)
						DECLARE DETAIL_CURSOR CURSOR FOR 
							SELECT  IDLOCATION,IDPART,ISTOCK,
							CASE WHEN CTYPE ='E' THEN '+' ELSE '-' END,IDADJUSTMENT
							FROM  ADJUSTMENTDETAILS WITH (NOLOCK)
							WHERE IDADJUSTMENT IN (SELECT ID FROM @ADJUSTMENT)
						OPEN DETAIL_CURSOR;
						FETCH NEXT FROM DETAIL_CURSOR INTO @IDLOCATION,@IDPART,@ISTOCK,@VMODE,@IREFERENCE;

						WHILE @@FETCH_STATUS = 0
						BEGIN
							SELECT @VTYPE= CASE WHEN @VMODE='+' THEN 'E' ELSE 'S' END

							EXEC USP_POST_INVENTORY @IDLOCATION,@IDPART,@ISTOCK,@IDUSER,@VMODE,@VTYPE,@IREFERENCE

							FETCH NEXT FROM DETAIL_CURSOR INTO @IDLOCATION,@IDPART,@ISTOCK,@VMODE,@IREFERENCE;
						END;

						CLOSE DETAIL_CURSOR;
						DEALLOCATE DETAIL_CURSOR;

					END 
				END 
				IF @VACTION='DECLINE'
				BEGIN

					UPDATE C
						SET
							C.IDSTATUS = DBO.UFN_GET_ISTATUS('DECLINE'),
							C.DUPDATED = GETDATE(),
							C.IDUSER = @IDUSER 
					FROM ADJUSTMENT C
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
					WHERE C.IDSTATUS=DBO.UFN_GET_ISTATUS('CREATE')

					SELECT @IUPDATED=@@ROWCOUNT 
					 
				END

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				IF @IUPDATED>0
				BEGIN
				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA
				END

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
