GO
/****** Object:  StoredProcedure [dbo].[USP_POST_MOVEMENTDETAILS_PARTIAL]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_MOVEMENTDETAILS_PARTIAL]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_MOVEMENTDETAILS_PARTIAL] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_MOVEMENTDETAILS_PARTIAL]  
 @DATA VARCHAR(MAX),
 @IDUSER INT,
 @IDMOVEMENTDETAIL INT,
 @IREAL_PARTIAL INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

BEGIN TRY
BEGIN TRAN 

		DECLARE @TDATA AS TABLE
		(
			ID INT,
			IDMOVEMENT INT,
			IDPART INT,
			IDLOCATION INT,
			IREAL INT,
			VSERIAL VARCHAR(20),
			IDPARTIALTYPE INT
		);

		INSERT INTO @TDATA
		SELECT M.Id,M.MovementId,M.PartId,M.LocationId,M.RealQty,M.SerialCode,M.PartialTypeId
		FROM OPENJSON(@DATA)
		WITH (
			Id int, MovementId int, PartId int, LocationId int, RealQty int, SerialCode varchar(20),PartialTypeId int
				) AS M

        DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECOLECCION')
		SET @VACTION='CREATE'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

		UPDATE @TDATA SET ID = @IDMOVEMENTDETAIL, IREAL=@IREAL_PARTIAL

		DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT
		DECLARE @IDRECORD INT

		DECLARE @IDMOVEMENT INT
		DECLARE @VTYPE VARCHAR(1)
		DECLARE @IDPART INT
		DECLARE @IDLOCATION INT
		DECLARE @ID INT
		DECLARE @IREQUIRED INT
		DECLARE @IREAL INT
		DECLARE @IREQUIREDNEW INT
		DECLARE @VLOCATIONTYPE VARCHAR(1)
		DECLARE @IAVAILABLE INT
		DECLARE @VTYPEMOVEMENT VARCHAR(1)
		DECLARE @IRESERVED INT
		DECLARE @IDINVENTORY INT
		DECLARE @IDLOCATIONNEW INT
		DECLARE @IDSUPPLIER INT 
		DECLARE @IDDESTINATION INT
		DECLARE @IDLOCATIONDELIVERY INT
		DECLARE @IDTRANSITLOCATION INT
		DECLARE @ALMACEN VARCHAR(1)
		DECLARE @DESPACHO VARCHAR(1)
		DECLARE @VSIZE VARCHAR(1)
		DECLARE @IDBACKORDER_OLD INT

		SELECT @ALMACEN='A' , @DESPACHO='D'
		
		SELECT TOP 1 @ID=ID,@IREAL=ISNULL(IREAL,0) FROM @TDATA

		SELECT TOP 1 
		@IDMOVEMENT=IDMOVEMENT,@VTYPE=VTYPE,@IDPART=IDPART,@IDLOCATION=IDLOCATION,
		@IREQUIRED=IREQUIRED,@VLOCATIONTYPE=VLOCATIONTYPE,@IDDESTINATION=ISNULL(IDDESTINATION,0),
		@IDBACKORDER_OLD=IDBACKORDER
		FROM MOVEMENTDETAILS WITH (NOLOCK) WHERE ID=@ID

		
		SELECT TOP 1 @VTYPEMOVEMENT=VTYPE,@IDSUPPLIER=IDSUPPLIER FROM MOVEMENT WITH (NOLOCK) WHERE ID=@IDMOVEMENT
		SELECT TOP 1 @IDLOCATIONDELIVERY=ID FROM V_LOCATION WHERE VTYPE=@DESPACHO AND IDSUPPLIER=@IDSUPPLIER

		SELECT @IDTRANSITLOCATION=ID FROM V_LOCATION WHERE VNAME='TRANSITO' AND IDSUPPLIER=@IDSUPPLIER

		SELECT @IINSERTED=@@ROWCOUNT
		SELECT @IID=SCOPE_IDENTITY()
				
		-- SI SE ENCONTRO REPUESTO EN LA UBICACION
		IF EXISTS (SELECT * FROM @TDATA WHERE IDPART>0)
		BEGIN
			UPDATE M
				SET 
				M.IDPART=D.IDPART,
				M.IDLOCATION=D.IDLOCATION,
				@IDLOCATION=D.IDLOCATION,
				M.IREAL=D.IREAL,
				M.DUPDATED = GETDATE(),
				M.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
				M.VSERIAL = D.VSERIAL,
				M.BPROCESSED = 1,
				M.IDPARTIALTYPE = D.IDPARTIALTYPE
			FROM MOVEMENTDETAILS M
			INNER JOIN @TDATA D ON D.ID=M.ID 
		
			SELECT @IUPDATED=@@ROWCOUNT
		END
		ELSE
		BEGIN 
			-- CASE CUANDO NO HAY REPUESTO EN LA UBICACION Y FORZAN CON 0 EN IDREPUESTO
			UPDATE M
				SET 
				M.IREAL=0,
				M.DUPDATED = GETDATE(),
				M.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
				M.BPROCESSED = 1,
				M.IDPARTIALTYPE = 1 -- CANTIDAD INSUFICIENTE
			FROM MOVEMENTDETAILS M
			INNER JOIN @TDATA D ON D.ID=M.ID 

			SELECT @IUPDATED=@@ROWCOUNT
		END

--*****************************************************************************************************************
		IF @IREAL > 0 -- CANTIDAD PROCESADA
		BEGIN

			IF @VTYPE=DBO.UFN_GET_TYPE('PICKING') -- CANTIDAD RECOLECTADA
			BEGIN
				
				-- REBAJA DE LA UBICACION
				EXEC USP_POST_INVENTORY @IDLOCATION,@IDPART,@IREAL,@IDUSER,'-'
				
				-- AUMENTA LA UBICACION DE TRANSITO
				EXEC USP_POST_INVENTORY @IDTRANSITLOCATION,@IDPART,@IREAL,@IDUSER,'+'


				SELECT @IDLOCATIONNEW = CASE WHEN @VTYPEMOVEMENT=DBO.UFN_GET_TYPE('RECOLECCION') THEN @IDLOCATIONDELIVERY ELSE @IDDESTINATION END
				SELECT @VLOCATIONTYPE = CASE WHEN @VTYPEMOVEMENT=DBO.UFN_GET_TYPE('RECOLECCION') THEN @DESPACHO ELSE @ALMACEN END

				-- SUGERIR UBICAR UNA RECEPCION EN UNA UBICACIO
				--IF @IDLOCATIONNEW=0 AND @VTYPEMOVEMENT=DBO.UFN_GET_TYPE('RECEPCION')
				--BEGIN
				--	SELECT TOP 1 @VSIZE=VSIZE FROM PART WITH (NOLOCK) WHERE ID=@IDPART

				--	SELECT *
				--	FROM V_INVENTORY
				--	WHERE IDPART=7
				--	AND VZONESIZE='S'
				--	ORDER BY ISTOCK ASC


				--	 --TOP 1 @IDLOCATIONNEW=IDLOCATION
				--	SELECT *
				--	FROM V_SUGGESTEDLOCATION 
				--	WHERE VZONESIZE='S'
				--	ORDER BY CASE WHEN ISTOCK = 0 THEN 1 ELSE 2 END ASC,ISTOCK ASC,IMAPPING ASC
				--END

				-- CREAR SOLICITUD DE ENTREGA DE LO RECOLECTADO
				INSERT INTO MOVEMENTDETAILS 
				(IDMOVEMENT,IDPART,VSERIAL,VLOCATIONTYPE,IDLOCATION,IREQUIRED,IREAL,VTYPE,BPROCESSED,
				DCREATED,DUPDATED,VUPDATEDBY,IDUSER,NCOST,IDBACKORDER)
				SELECT 
				@IDMOVEMENT,@IDPART,NULL,@VLOCATIONTYPE,ISNULL(@IDLOCATIONNEW,0),@IREAL,NULL,@DESPACHO,0,
				GETDATE(),GETDATE(),NULL,@IDUSER,0,@IDBACKORDER_OLD


			END

			IF @VTYPE=DBO.UFN_GET_TYPE('ENTREGA') -- CANTIDAD ENTREGADA Y NO ES PROCESO DE PICKING RECOLECCION
			BEGIN
				-- ACTUALIZAR EL STOCK DEL INVENTARIO

				-- AUMENTA UBICACION DE ENTREGA
				EXEC USP_POST_INVENTORY @IDLOCATION,@IDPART,@IREAL,@IDUSER,'+'

				-- REBAJA UBICACION DE TRANSITO
				EXEC USP_POST_INVENTORY @IDTRANSITLOCATION,@IDPART,@IREAL,@IDUSER,'-'

			END
				
			
		END


--*****************************************************************************************************************
-- PROCESO DE PARCIALES

		IF @IREAL < @IREQUIRED
		BEGIN
			SELECT @IREQUIREDNEW= @IREQUIRED-@IREAL

			IF @VTYPE=DBO.UFN_GET_TYPE('ENTREGA')-- DELIVERY ENTREGA
			BEGIN
					-- SE HACE ENTREGA PARCIAL Y SE DEBE CREAR OTRA SOLICITUD DE ENTREGA CON EL REMANENTE
					SELECT @IDLOCATIONNEW = CASE WHEN @VTYPEMOVEMENT=DBO.UFN_GET_TYPE('RECOLECCION') THEN @IDLOCATIONDELIVERY ELSE 0 END
					SELECT @VLOCATIONTYPE = CASE WHEN @VTYPEMOVEMENT=DBO.UFN_GET_TYPE('RECOLECCION') THEN @DESPACHO ELSE @ALMACEN END
				
					INSERT INTO MOVEMENTDETAILS 
					(IDMOVEMENT,IDPART,VSERIAL,VLOCATIONTYPE,IDLOCATION,IREQUIRED,IREAL,VTYPE,BPROCESSED,
					DCREATED,DUPDATED,VUPDATEDBY,IDUSER,NCOST,IDBACKORDER)
					SELECT 
					@IDMOVEMENT,@IDPART,NULL,@VLOCATIONTYPE,@IDLOCATIONNEW,@IREQUIREDNEW,NULL,@VTYPE,0,
					GETDATE(),GETDATE(),NULL,@IDUSER,0,@IDBACKORDER_OLD				

			END
			ELSE
			BEGIN
	
				-- PROCESO DE RECOLECCION MODO PICKING
				-- SE HACE PICKING PARCIAL Y SE DEBE CREAR OTRA SOLICITUD DE PICKING CON EL REMANENTE
			    IF @VTYPEMOVEMENT=DBO.UFN_GET_TYPE('RECOLECCION') AND @VTYPE=DBO.UFN_GET_TYPE('PICKING')
				BEGIN
					DECLARE @IDBACKORDER_NEW INT

					EXEC USP_NEW_BACKORDER @IDBACKORDER_NEW OUTPUT,@IDBACKORDER_OLD,@IREQUIREDNEW,NULL

					EXEC USP_POST_PICKINGS @IDMOVEMENT,@IDPART,@IREQUIREDNEW,@IDUSER,@IDBACKORDER_NEW
				END

			END
		
		END

			
	IF NOT EXISTS (SELECT * FROM MOVEMENTDETAILS WITH (NOLOCK) WHERE IDMOVEMENT=@IDMOVEMENT AND BPROCESSED=0)
	BEGIN
		UPDATE MOVEMENT SET IESTATUS=DBO.UFN_GET_ISTATUS('PROCESS') WHERE ID=@IDMOVEMENT
	END

	SELECT
	ISNULL(@IID,0) AS IID , 
	ISNULL(@IINSERTED,0) AS IINSERTED,
	ISNULL(@IUPDATED,0) AS IUPDATED


COMMIT TRAN
END TRY
BEGIN CATCH
	IF XACT_STATE() <> 0
		ROLLBACK TRAN
	DECLARE @ErrorMessage NVARCHAR(4000) 
	SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
	RAISERROR ( @ErrorMessage , 16,1) 
END CATCH

END
