GO
/****** Object:  StoredProcedure [dbo].[USP_POST_CONTACTS_ACTIONS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_CONTACTS_ACTIONS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_CONTACTS_ACTIONS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_POST_CONTACTS_ACTIONS]
 @DATA NVARCHAR(MAX)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 
		

		

				DECLARE @TDATA AS TABLE
				(
					IDUSER INT,
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(200),
					IDRELATED INT
				);

		
				INSERT INTO @TDATA
				SELECT UserId ,RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						UserId int,RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS C
			

				DECLARE @IDACTION INT
				DECLARE @VACTION VARCHAR(20)
			    DECLARE @IDUSER INT 
				DECLARE @IDMODULE INT 

				SELECT TOP 1 @VACTION=VACTION,@IDUSER=IDUSER, @IDMODULE =IDMODULE FROM @TDATA
				SELECT TOP 1 @IDACTION = ID FROM ACTION WITH (NOLOCK) WHERE VNAME= @VACTION 

				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

				IF @VACTION='ACTIVATE' OR @VACTION='DEACTIVATE'
				BEGIN
					UPDATE C
						SET C.BACTIVE= CASE WHEN @VACTION='ACTIVATE' THEN 1 ELSE 0 END,
							C.DUPDATED = GETDATE(),
							C.VUPDATEDBY= DBO.UFN_GET_LOGIN(@IDUSER)
					FROM CONTACT C
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
				END

				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END




