GO
/****** Object:  StoredProcedure [dbo].[USP_CHECK_POLICYEXPIRED]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_CHECK_POLICYEXPIRED]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_CHECK_POLICYEXPIRED] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_CHECK_POLICYEXPIRED]
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


DECLARE @IDMODULE INT
SELECT @IDMODULE= ID FROM MODULE WITH (NOLOCK) WHERE VNAME='POLIZAS-POLIZAS'


DECLARE @POLICIES AS TABLE (ID INT)

INSERT INTO @POLICIES
SELECT P.ID FROM POLICY P WITH (NOLOCK)
INNER JOIN POLICYDETAILS PD WITH (NOLOCK) ON PD.IDPOLICY =P.ID 
WHERE CONVERT(VARCHAR(10),PD.DUPTODATE,12) <= CONVERT(VARCHAR(10),GETDATE(),12)
AND BVALID IS NULL AND P.IESTATUS = DBO.UFN_GET_ISTATUS('ACTIVATE')

UPDATE POLICY
SET IESTATUS=DBO.UFN_GET_ISTATUS('LOCK'),
DUPDATED=GETDATE(),
VUPDATEDBY = DBO.UFN_GET_LOGIN(1)
WHERE ID IN (SELECT ID FROM @POLICIES)

UPDATE POLICYDETAILS
SET BVALID=0,
DUPDATED=GETDATE(),
VUPDATEDBY = DBO.UFN_GET_LOGIN(1)
WHERE IDPOLICY IN (SELECT ID FROM @POLICIES)
AND BVALID IS NULL AND BVALID IS NULL AND DUPTODATE<=GETDATE();

INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
SELECT 1,ID,@IDMODULE,'LOCK','POLIZA BLOQUEADA',0,GETDATE()
FROM @POLICIES

DELETE @POLICIES
------------------------------EXPIRACION DE POLIZA------------------------------------------------------
INSERT INTO @POLICIES
SELECT ID FROM POLICY WITH (NOLOCK)
WHERE CONVERT(VARCHAR(10),DEXPIRATIONDATE,12) <= CONVERT(VARCHAR(10),GETDATE(),12)
AND IESTATUS <> DBO.UFN_GET_ISTATUS('EXPIRE')


UPDATE POLICY
SET IESTATUS=DBO.UFN_GET_ISTATUS('EXPIRE'),
DUPDATED=GETDATE(),
VUPDATEDBY = DBO.UFN_GET_LOGIN(1)
WHERE ID IN (SELECT ID FROM @POLICIES)


INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
SELECT 1,ID,@IDMODULE,'EXPIRE','POLIZA EXPIRADA',0,GETDATE()
FROM @POLICIES



-----------------------------------CALIFICACION AUTOMATICA ASISTENCIA TECNICA----------------------------------------------------------------
SELECT @IDMODULE= ID FROM MODULE WITH (NOLOCK) WHERE VNAME='SERVICIOS-ASISTENCIA TECNICA'
DECLARE @SERVICE AS TABLE (ID INT, IDRECORD INT )

INSERT INTO @SERVICE
SELECT A.ID, A.IDRECORD FROM ASSESSMENT A WITH (NOLOCK)
INNER JOIN MAINTENANCE M WITH (NOLOCK) ON A.IDRECORD=M.ID 
WHERE DATEDIFF(HOUR, A.DENDDATE, GETDATE()) >= 48
AND M.IESTATUS = DBO.UFN_GET_ISTATUS('APPROVE') AND M.IDSERVICETYPE=2


UPDATE ASSESSMENT
SET 
IQUANTITY=5,
DUPDATE =GETDATE(),
VUPDATEBY = DBO.UFN_GET_LOGIN(1)
WHERE ID IN (SELECT ID FROM @SERVICE)

UPDATE MAINTENANCE
SET 
IESTATUS=DBO.UFN_GET_ISTATUS('PROCESS'),
DUPDATED =GETDATE()
WHERE ID IN (SELECT IDRECORD FROM @SERVICE) AND MAINTENANCE.IDSERVICETYPE=2


INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
SELECT 1,ID,@IDMODULE,'PROCESS','CALIFICACION DE ASISTENCIA TECNICA',0,GETDATE()
FROM @SERVICE

