GO
/****** Object:  StoredProcedure [dbo].[USP_GET_MAINTENANCEDETAILS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_MAINTENANCEDETAILS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_MAINTENANCEDETAILS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_GET_MAINTENANCEDETAILS] -- USP_GET_MAINTENANCEDETAILS 97,NULL,'L'
@IDMAINTENANCE INT,
@VFILTER VARCHAR(100)=NULL,
@VTYPE VARCHAR(1)=NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

SELECT 
    D.*, 
	A.VDISPLAYESTATUS AS VESTATUSNAME,
    CASE 
        WHEN D.CTYPE = 'L' AND D.BEXTERNAL=0 THEN L.VDESCRIPTION  -- Si el tipo es 'L' (LaborTime), usar su nombre
        WHEN D.CTYPE = 'P' AND D.BEXTERNAL=0 THEN P.VDESCRIPTION  -- Si el tipo es 'P' (Part), usar su nombre
		WHEN D.CTYPE = 'P' AND D.BEXTERNAL=1 THEN I.VDESCRIPTION
		WHEN D.CTYPE = 'L' AND D.BEXTERNAL=1 THEN I.VDESCRIPTION
        ELSE COALESCE(L.VDESCRIPTION, P.VDESCRIPTION,I.VDESCRIPTION) -- Si no hay tipo definido, tomar el que exista
    END AS VITEMNAME,
	 CASE 
        WHEN D.CTYPE = 'L' AND D.BEXTERNAL=0 THEN 'NO APLICA'  -- Si el tipo es 'L' (LaborTime), usar su nombre
        WHEN D.CTYPE = 'P' AND D.BEXTERNAL=0 THEN P.VINNERCODE
		WHEN D.CTYPE = 'P' AND D.BEXTERNAL=1 THEN 'NO APLICA'
		WHEN D.CTYPE = 'L' AND D.BEXTERNAL=1 THEN 'NO APLICA' -- Si el tipo es 'P' (Part), usar su nombre
        ELSE COALESCE('', P.VINNERCODE) -- Si no hay tipo definido, tomar el que exista
    END AS VSERIAL,
	CASE 
        WHEN D.CTYPE = 'L' AND D.BEXTERNAL=0 THEN L.VREFERENCE  -- Si el tipo es 'L' (LaborTime), usar su nombre
        WHEN D.CTYPE = 'P'AND D.BEXTERNAL=0 THEN P.VBARCODE
		WHEN D.CTYPE IN ( 'L','P') AND D.BEXTERNAL=1  THEN 'NO APLICA'-- Si el tipo es 'P' (Part), usar su nombre
        ELSE COALESCE(L.VREFERENCE, P.VBARCODE) -- Si no hay tipo definido, tomar el que exista
    END AS VREFERENCE
	FROM MAINTENANCEDETAILS D WITH (NOLOCK)
	LEFT JOIN LABORTIME L WITH (NOLOCK) ON D.IDITEM = L.ID
	LEFT JOIN PART P WITH (NOLOCK) ON D.IDITEM = P.ID
    LEFT JOIN ITEM I WITH (NOLOCK) ON D.IDITEM=I.ID
	INNER JOIN ACTION A WITH (NOLOCK) ON D.IESTATUS = A.ID
	WHERE D.IDMAINTENANCE = @IDMAINTENANCE 
	AND (D.CTYPE LIKE '%' + ISNULL(@VTYPE, '') + '%'	) 
	AND (( P.VDESCRIPTION LIKE '%' + ISNULL(@VFILTER, '') + '%')
	OR ( L.VDESCRIPTION LIKE '%' + ISNULL(@VFILTER, '') + '%')
	OR ( L.VREFERENCE LIKE '%' + ISNULL(@VFILTER, '') + '%')
	OR ( P.VINNERCODE LIKE '%' + ISNULL(@VFILTER, '') + '%'))
	ORDER BY 
		CASE WHEN D.CTYPE = 'P' THEN 1 ELSE 2 END ASC,
		D.ID;

END

