GO
/****** Object:  StoredProcedure [dbo].[USP_GET_POLICIES]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_POLICIES]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_POLICIES] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_GET_POLICIES]-- USP_GET_POLICIES 1,NULL,4069,'POLIZA CHANGAN'
@IDUSER INT, 
@IDDEALER INT = null,
@IDSUPPLIER INT =NULL,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	DECLARE @ISDEALER BIT=0
	IF NOT EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] WHERE IDUSER=@IDUSER)
	BEGIN
		SET @ISDEALER=1
	END

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END


		


BEGIN
    WITH T1 AS (
       SELECT 
		P.ID,
		P.IDPOLICYTYPE,
		P.IDVEHICLE,
		P.DACTIVATIONDATE,
		P.DLOCKDATE,
		P.DEXPIRATIONDATE,
		P.DCREATED,
		P.VINVOICENUMBER,
		P.NINVOICEAMOUNT,
		P.DINVOICEDATE,
		P.IDPAYMETHOD,
		P.IESTATUS,
		ISNULL(P.VNUMBER,'') VNUMBER,
		P.BACTIVE,
	     PT.VDESCRIPTION,
		 V.VVIN, V.VPLATE,L.VNAME MODELNAME, C.VVAT,C.VFIRSTNAME,ISNULL(C.VLASTNAME,'') VLASTNAME,
		 ISNULL (X.VREFERENCE,'') AS CODDEALER,ISNULL (Z.VREFERENCE,'') AS CODSUPPLIER ,
		 A.VDISPLAYESTATUS AS ESTATUSNAME,
		 V.IDCUSTOMER,V.IDDEALER
        FROM POLICY P WITH (NOLOCK)
        INNER JOIN VEHICLE V WITH (NOLOCK )ON P.IDVEHICLE = V.ID
        INNER JOIN CONTACT C  WITH (NOLOCK) ON V.IDCUSTOMER = C.ID
        INNER JOIN CONTACT X  WITH (NOLOCK) ON V.IDDEALER = X.ID
        INNER JOIN CONTACT Z  WITH (NOLOCK) ON V.IDSUPPLIER = Z.ID
        INNER JOIN POLICYTYPE PT  WITH (NOLOCK) ON P.IDPOLICYTYPE = PT.ID
        INNER JOIN ACTION A  WITH (NOLOCK) ON P.IESTATUS = A.ID
        INNER JOIN MODEL L  WITH (NOLOCK) ON V.IDMODEL= L.ID
		INNER JOIN COLOR CR WITH (NOLOCK) ON V.IDCOLOR =CR.ID
        WHERE (
						(@ISDEALER = 0 AND EXISTS (
							SELECT *
							FROM V_SUPPLIERS_USER R
							WHERE R.IDUSER = @IDUSER
							  AND R.IDSUPPLIER = V.IDSUPPLIER
							   AND V.IDSUPPLIER =CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 THEN V.IDSUPPLIER ELSE @IDSUPPLIER END
							   AND V.IDDEALER =CASE WHEN ISNULL(@IDDEALER,0) = 0 THEN V.IDDEALER ELSE @IDDEALER END

						))
						OR
						(@ISDEALER = 1 AND EXISTS (
							SELECT * FROM V_DEALERS_USER D 
							WHERE D.IDUSER = @IDUSER
							  AND D.IDDEALER = V.IDDEALER
						))
					)
		AND (
        V.VVIN LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR V.VPLATE LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR C.VVAT LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR C.VFIRSTNAME LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR C.VLASTNAME LIKE '%' + ISNULL(@VFILTER, '') + '%'
		OR P.VNUMBER LIKE '%' + ISNULL(@VFILTER, '') + '%'
		OR CR.VNAME LIKE '%' + ISNULL(@VFILTER, '') + '%'
		OR CAST(V.IYEAR AS VARCHAR) LIKE '%' + ISNULL(@VFILTER, '') + '%'
			)
    ), 
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
    T3 AS (
        SELECT * FROM T1
        ORDER BY CASE WHEN T1.ESTATUSNAME = 'CREADO' THEN 1 
					  WHEN T1.ESTATUSNAME = 'BLOQUEADO' THEN 2 ELSE 3 END , 
					  T1.DCREATED DESC,
					  CASE WHEN T1.DACTIVATIONDATE IS NULL THEN T1.DCREATED ELSE  T1.DACTIVATIONDATE END DESC,T1.VVIN
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
    )
    
    SELECT T3.*, T2.TOTAL
    FROM T3, T2

END