USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_ITEM]    Script Date: 03/10/2025 16:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_ITEM]  
 @DATA VARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

				DECLARE @TDATA AS TABLE
				(
				    ID INT ,
					VDESCRIPTION VARCHAR(50),
					IDSUPPLIER INT,
					VTYPE VARCHAR(1)
				);

				INSERT INTO @TDATA
				SELECT l.Id, l.Description,l.SupplierId,l.Type  FROM OPENJSON(@DATA)
				WITH (
					   Id int,Description varchar(50),SupplierId int, Type Varchar(1)
					  ) AS l
			

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('SERVICIOS-REPORTE FALLA')
				SET @VACTION='EDIT'
			    EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

      		
			   IF EXISTS (SELECT * FROM @TDATA WHERE ID=0)
         		BEGIN
				INSERT INTO ITEM(VDESCRIPTION,IDSUPPLIER, VTYPE,DCREATED,VUPDATEDBY,BACTIVE)
				SELECT D.VDESCRIPTION, D.IDSUPPLIER, D.VTYPE,GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER),1
				FROM @TDATA D

				SELECT @IINSERTED=@@ROWCOUNT
				SELECT @IID=SCOPE_IDENTITY()
				END
				ELSE 
					BEGIN

					UPDATE L
						SET 
							L.VDESCRIPTION=D.VDESCRIPTION,
							L.VTYPE=D.VTYPE,
							L.DUPDATED=GETDATE(),
							L.VUPDATEDBY =DBO.UFN_GET_LOGIN(@IDUSER)
					FROM ITEM L
					INNER JOIN @TDATA D ON L.ID=D.ID AND L.IDSUPPLIER=D.IDSUPPLIER

					SELECT @IUPDATED=@@ROWCOUNT
					END
				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END