GO
/****** Object:  StoredProcedure [dbo].[USP_POST_INVENTORY]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_INVENTORY]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_INVENTORY] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_INVENTORY]  
@IDLOCATION INT ,
@IDPART INT,
@ISTOCK INT,
@IDUSER INT,
@VTYPE VARCHAR(1)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

                DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-INVENTARIO')
				SET @VACTION='CREATE'
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

		IF NOT EXISTS(SELECT * FROM INVENTORY WITH (NOLOCK)
						WHERE IDLOCATION=@IDLOCATION AND IDPART=@IDPART)
		BEGIN
			INSERT INTO INVENTORY 
			(IDLOCATION,IDPART,ISTOCK,VSERIAL,IRESERVED,DCREATED,DUPDATED,VUPDATEDBY)
			SELECT 
			@IDLOCATION,@IDPART,0,NULL,0,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER)
		END

		IF @VTYPE='+'
		BEGIN
			UPDATE INVENTORY 
			SET ISTOCK=ISTOCK+@ISTOCK,
			DUPDATED=GETDATE(),VUPDATEDBY=DBO.UFN_GET_LOGIN(@IDUSER)
			WHERE IDLOCATION=@IDLOCATION AND IDPART=@IDPART
		END
		ELSE
		BEGIN
			UPDATE INVENTORY 
				SET
				ISTOCK=CASE WHEN ISTOCK-@ISTOCK > 0 THEN ISTOCK-@ISTOCK ELSE 0 END,
				DUPDATED=GETDATE(),VUPDATEDBY=DBO.UFN_GET_LOGIN(@IDUSER)
			WHERE IDLOCATION=@IDLOCATION AND IDPART=@IDPART
		END


END

