GO
/****** Object:  StoredProcedure [dbo].[USP_POST_ASSESSMENT_ACTIONS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_ASSESSMENT_ACTIONS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_ASSESSMENT_ACTIONS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_POST_ASSESSMENT_ACTIONS]
 @DATA VARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY


		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(200),
					IDRELATED INT
				);


				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS C
			

				DECLARE @IDACTION INT
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDRELATED INT
				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @IDMODULE INT

				SELECT TOP 1 @VACTION=VACTION, @IDMODULE=IDMODULE FROM @TDATA
				SELECT TOP 1 @IDRELATED=IDRELATED FROM @TDATA

				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE


		BEGIN TRAN 

				
		
				IF @VACTION='ASSIGN'
				BEGIN
					INSERT INTO ASSESSMENT (
					DUPDATE,
					DSTARTDATE,
					VUSERSUPPLIER,
					VUPDATEBY,
					IDRECORD,
					IDMODULE
				)
				SELECT 
					GETDATE(),
					GETDATE(),
					DBO.UFN_GET_LOGIN(@IDRELATED),
					DBO.UFN_GET_LOGIN(@IDUSER),
					D.IDRECORD,
					D.IDMODULE
				FROM @TDATA D
				WHERE NOT EXISTS (
					SELECT 1 
					FROM ASSESSMENT C
					WHERE C.ID = D.IDRECORD AND C.IDMODULE = D.IDMODULE
				);

				SELECT @IINSERTED = @@ROWCOUNT;


				END

				IF @VACTION='UNASSIGN'
				BEGIN
				DELETE C
				FROM ASSESSMENT C
				INNER JOIN @TDATA D ON D.IDRECORD = C.ID AND D.IDMODULE = C.IDMODULE
				WHERE C.DENDDATE IS NOT NULL OR C.IQUANTITY IS NOT NULL;

				SELECT @IUPDATED = @@ROWCOUNT;


				END

			

			

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END