SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_PARTS_ONE] -- [USP_GET_PARTS_ONE] 1921
@IDPART INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

		SELECT 
		P.*,
		T.VNAME AS VTAX,
		PT.VNAME AS VPARTTYPE,
		F.VNAME AS VFAMILY,
		S.VNAME AS VSUBFAMILY,
		U.VNAME AS VUM,
		B.VNAME AS VBRAND,
		VS.VREFERENCE,  
		'' AS VMODEL,
		ISNULL(I.ISTOCK,0) ISTOCK,
		ISNULL(I.AVAILABLE,0) IAVAILABLE,
		ISNULL(P.VALTERDESCRIPTION,'') VALTERDESCRIPTION2
		FROM dbo.PART P WITH (NOLOCK)
		INNER JOIN TAX T WITH (NOLOCK) ON T.ID=P.IDTAX
		INNER JOIN PARTTYPE PT WITH (NOLOCK) ON PT.ID=P.IDTYPE
		INNER JOIN FAMILY F WITH (NOLOCK) ON F.ID=P.IDFAMILY
		INNER JOIN SUBFAMILY S WITH (NOLOCK) ON S.ID=P.IDSUBFAMILY
		INNER JOIN UM U WITH (NOLOCK) ON U.ID=P.IDUM
		INNER JOIN BRAND B WITH (NOLOCK) ON B.ID=P.IDBRAND
		INNER JOIN V_SUPPLIERS VS ON VS.IDSUPPLIER=P.IDSUPPLIER 
		LEFT JOIN ( 
					SELECT IDPART,SUM(ISTOCK) ISTOCK , SUM(AVAILABLE) AVAILABLE
					FROM V_INVENTORY WITH (NOLOCK)
					GROUP BY IDPART
					) I ON I.IDPART=P.ID 
		WHERE P.ID=@IDPART
		
	
