GO
/****** Object:  StoredProcedure [dbo].[USP_POST_MODELS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_MODELS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_MODELS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_POST_MODELS]  
 @DATA VARCHAR(MAX),
 @IDUSER INT 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : IDUSER
  '   MODIFICADO POR        : JUAN GUARECUCO
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @VROWREF VARCHAR(5)=NULL
		DECLARE @NAME VARCHAR(100)=NULL

				DECLARE @TDATA AS TABLE
				(
					ID INT,
					VNAME VARCHAR(20),
					VDESCRIPTION VARCHAR(100),
					IDBRAND INT,
					BACTIVE BIT,
					IDPOLICYTYPE INT,
					VROWREFERENCE VARCHAR(5)
				);

				INSERT INTO @TDATA
				SELECT M.Id,M.Name,M.Description,M.BrandId,IsActive,PolicyTypeId,RowReference FROM OPENJSON(@DATA)
				WITH (
						Id int,Name varchar(20),Description varchar(100),BrandId int, IsActive bit,PolicyTypeId int,RowReference Varchar(5)
					  ) AS M

					 
					  
				EXEC USP_CHECK_BRANDS @DATA,@IDUSER
				EXEC USP_CHECK_POLICYTYPES @DATA,@IDUSER
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('VEHICULOS-MODELOS')
				DECLARE @Duplicados NVARCHAR(MAX) = ''


				---------------------------------- VALIDACION PARA LONGITUDES------------------------------------------------
				SELECT TOP 1 @VROWREF = W.RowReference
				FROM OPENJSON(@DATA)
					WITH (
							Name VARCHAR(MAX),
							Description varchar(MAX),
							RowReference VARCHAR(5)
				) AS W
				WHERE LEN(W.Name) > 20 OR LEN(W.Description) > 100

				-- Validación defensiva
					IF @VROWREF IS NOT NULL
					BEGIN
					  SET @ErrorMessage = 'Uno o más campos exceden la longitud permitida: '
					END

					---------------------------------- VALIDACION PARA REGISTROS DUPLICADOS------------------------------------------------
				IF @ErrorMessage IS NULL
				BEGIN
				SELECT TOP 1 @Duplicados = VNAME
				FROM (
					SELECT VNAME
					FROM @TDATA
					GROUP BY VNAME
					HAVING COUNT(*) > 1
				) AS Duplicados
				SELECT TOP 1 @VROWREF= VROWREFERENCE FROM @TDATA WHERE VNAME=@Duplicados
				IF @Duplicados <> ''
				BEGIN
					SET @ErrorMessage = 'DOCUMENTO CONTIENE REGISTRO DUPLICADO: ' + @Duplicados
				END
				END

                --------------------------------------DUPLICIDAD DE AL INSERTAR----------------------------------------------------------------------
				IF @ErrorMessage IS NULL
				BEGIN
				IF EXISTS (SELECT A.VNAME FROM @TDATA A 
				               INNER JOIN MODEL M WITH (NOLOCK) ON A.VNAME=M.VNAME 
							   WHERE A.ID<>M.ID)
				BEGIN
				SELECT TOP 1 @NAME=A.VNAME ,@VROWREF=VROWREFERENCE FROM @TDATA A
							  INNER JOIN MODEL M WITH (NOLOCK) ON A.VNAME=M.VNAME 
							  WHERE A.ID<>M.ID
							  
					SET @ErrorMessage ='EL REGISTRO QUE INTENTAS CREAR YA EXISTE: '+@NAME 
                END
				END

				--------------------------------------------VALIDACION DE MODELO Y MARCA CON EL TIPO DE POLIZA--------------------------------------------------------------------------
				IF @ErrorMessage IS NULL
				BEGIN
				IF EXISTS (SELECT * FROM @TDATA A
							WHERE EXISTS (SELECT * FROM POLICYTYPE B
										   WHERE B.ID=A.IDPOLICYTYPE AND A.IDBRAND <> B.IDBRAND 
										   )
							)
				BEGIN
				SELECT TOP 1 @NAME=IDPOLICYTYPE ,@VROWREF=VROWREFERENCE FROM @TDATA A
							WHERE EXISTS (SELECT * FROM POLICYTYPE B
										   WHERE B.ID=A.IDPOLICYTYPE AND A.IDBRAND <> B.IDBRAND)
					SET @ErrorMessage ='ERROR: EXISTEN MODELOS CON TIPO DE POLIZA NO ACORDE A LA MARCA: '+@NAME 
                END
				END

				IF @ErrorMessage IS NOT NULL
				BEGIN
					IF @VROWREF IS NOT NULL AND LTRIM(RTRIM(@VROWREF)) <> ''
						SET @ErrorMessage= @ErrorMessage + ' -FILA: ' + @VROWREF

					RAISERROR(@ErrorMessage, 16, 1)
					RETURN
				END
				


				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				
				IF EXISTS(SELECT * FROM @TDATA WHERE ID=0)
				BEGIN
				SET @VACTION='CREATE'
			    EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
				
				INSERT INTO MODEL(VNAME,IDBRAND,VDESCRIPTION,DCREATED,DUPDATED,BACTIVE,IDPOLICYTYPE,VUPDATEDBY)
				SELECT VNAME,IDBRAND,VDESCRIPTION,GETDATE(),GETDATE(),1,IDPOLICYTYPE,DBO.UFN_GET_LOGIN(@IDUSER)
				FROM @TDATA D
				WHERE NOT EXISTS (SELECT * FROM MODEL M WITH (NOLOCK) WHERE M.ID=D.ID)

				SELECT @IINSERTED=@@ROWCOUNT
				SELECT @IID=SCOPE_IDENTITY()
				END
				ELSE
				BEGIN
				SET @VACTION='EDIT'
			    EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
				
				UPDATE M
					SET M.VNAME=D.VNAME,
						M.IDBRAND=D.IDBRAND,
						M.VDESCRIPTION=D.VDESCRIPTION,
						M.DUPDATED = GETDATE(),
						M.BACTIVE = D.BACTIVE,
						M.IDPOLICYTYPE = D.IDPOLICYTYPE,
						VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
				FROM MODEL M
				INNER JOIN @TDATA D ON D.ID=M.ID 

				SELECT @IUPDATED=@@ROWCOUNT
				END
				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
