SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
ALTER PROCEDURE [dbo].[USP_POST_MOVEMENT_RECEIVE]  
@IDMOVEMENT INT,  
@IDUSER INT  
AS  
/* '===============================================================            
  '   NOMBRE                :   
  '   FECHA CREACIÓN        :   
  '   CREADO POR            : WILMAN CAMACHO  
  '   CREADO PARA           :   
  '   FUNCIÓN               :    
  '   VERSIÓN               :   
  '   MODIFICADO EN         :   
  '   MODIFICADO POR        :    
  '   RAZÓN DE MODIFICACIÓN :   
  '===============================================================*/  
  
SET XACT_ABORT ON                 
SET NOCOUNT ON  
SET LOCK_TIMEOUT 180000  
  
BEGIN  
  
 BEGIN TRY  
  BEGIN TRAN  

        DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECEPCION')
		SET @VACTION='EDIT'
	    EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
  
        IF EXISTS (SELECT * FROM MOVEMENT WITH (NOLOCK)
                WHERE ID=@IDMOVEMENT AND VTYPE='R'
                )
        BEGIN

				DECLARE @IDLOCATION INT,@IDPART INT,@IQTY INT
				DECLARE DETAIL_CURSOR CURSOR FOR 
					SELECT IDLOCATION,IDPART,SUM(IREQUIRED) IREQUIRED  
					FROM MOVEMENTDETAILS WITH (NOLOCK)  
					WHERE IDMOVEMENT=@IDMOVEMENT  
					GROUP BY IDPART,IDLOCATION  
				OPEN DETAIL_CURSOR;
				FETCH NEXT FROM DETAIL_CURSOR INTO @IDLOCATION, @IDPART, @IQTY;
					WHILE @@FETCH_STATUS = 0
					BEGIN
							EXEC [dbo].[USP_POST_INVENTORY] @IDLOCATION,@IDPART,@IQTY,@IDUSER,'+','R',@IDMOVEMENT

						FETCH NEXT FROM DETAIL_CURSOR INTO  @IDLOCATION, @IDPART, @IQTY;
					END;
				CLOSE DETAIL_CURSOR;
				DEALLOCATE DETAIL_CURSOR;
  
        END
  
	COMMIT TRAN  
	END TRY  
	BEGIN CATCH  
		IF XACT_STATE() <> 0  
		ROLLBACK TRAN  
		DECLARE @ErrorMessage NVARCHAR(4000)   
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()  
		RAISERROR ( @ErrorMessage , 16,1)   
	END CATCH  
  
END  
  
  
  
  