GO
/****** Object:  StoredProcedure [dbo].[USP_POST_GUIDES_ACTIONS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_GUIDES_ACTIONS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_GUIDES_ACTIONS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_GUIDES_ACTIONS]
 @DATA VARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(200),
					IDRELATED INT
				);


				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS C
			

				DECLARE @IDACTION INT
				DECLARE @VACTION VARCHAR(20)

				SELECT TOP 1 @VACTION=VACTION FROM @TDATA
				SELECT TOP 1 @IDACTION = ID FROM ACTION WITH (NOLOCK) WHERE VNAME= @VACTION 
				DECLARE @IDMODULE INT=(SELECT TOP 1 IDMODULE FROM @TDATA)
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

				DECLARE @REGISTROS AS TABLE (IDGUIDE INT)
				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				DECLARE @IDSUPPLIER INT
				DECLARE @IDASSIGNED INT



				IF @VACTION='RECEIVE'
				BEGIN

					INSERT INTO @REGISTROS
					SELECT A.ID 
					FROM GUIDE A WITH (NOLOCK)
					INNER JOIN @TDATA D ON D.IDRECORD=A.ID 
					where a.ISTATUS = DBO.UFN_GET_ISTATUS('PROCESS')

					IF EXISTS (SELECT * FROM @REGISTROS)
					BEGIN

						UPDATE A
							SET
								A.ISTATUS = DBO.UFN_GET_ISTATUS('RECEIVE')
						FROM GUIDE A
						INNER JOIN @REGISTROS D ON D.IDGUIDE=A.ID 
						where a.ISTATUS = DBO.UFN_GET_ISTATUS('PROCESS')

						SELECT @IUPDATED=@@ROWCOUNT

						UPDATE A
							SET A.BCOMPLETED = 1
						FROM SALEORDER A WITH (NOLOCK)
						WHERE A.IDESTATUS=DBO.UFN_GET_ISTATUS('PROCESS')
						AND A.ID IN (
									 SELECT IDSALEORDER
									 FROM GUIDEDETAILS G WITH (NOLOCK)
									 INNER JOIN @REGISTROS R ON R.IDGUIDE=G.IDGUIDE
									 )
						AND NOT EXISTS (SELECT * FROM V_SALEORDERPENDING V WHERE V.IDSALEORDER=A.ID)

					END

					


				END



				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				IF @IUPDATED>0
				BEGIN
					INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
					SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
					FROM @TDATA A
					INNER JOIN @REGISTROS B ON B.IDGUIDE=A.IDRECORD
				END


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END




