GO
/****** Object:  StoredProcedure [dbo].[USP_INSERT_POLICY_DETAILSMIGRA]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_INSERT_POLICY_DETAILSMIGRA]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_INSERT_POLICY_DETAILSMIGRA] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_INSERT_POLICY_DETAILSMIGRA]
    @IDUSER INT
AS


/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/


BEGIN
    SET NOCOUNT ON;

    DECLARE @IDPOLICY INT;

    DECLARE PolicyCursor CURSOR FOR 
    SELECT P.ID 
    FROM POLICY P(NOLOCK) 
	INNER JOIN VEHICLE V ON P.IDVEHICLE=V.ID
   INNER JOIN POLICYTYPE PT ON P.IDPOLICYTYPE=PT.ID
    WHERE P. IESTATUS <> DBO.UFN_GET_ISTATUS('CREATE') AND 
	P.ID NOT IN (SELECT DISTINCT IDPOLICY FROM POLICYDETAILS (NOLOCK))
	AND V.IDSUPPLIER=4076 AND IDPOLICYTYPE IN (5,7,8,9);

    OPEN PolicyCursor;
    FETCH NEXT FROM PolicyCursor INTO @IDPOLICY;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        DECLARE 
            @IKM INT,
            @IGAPKM INT,
            @ITOPKM INT,
            @IMONYTHS INT,
            @IGAPMONTHS INT,
            @ITOPMONTHS INT;

        -- Obtener parámetros desde POLICYTYPE
        SELECT 
            @IKM = P.IKM,
            @IGAPKM = P.IGAPKM,
            @ITOPKM = P.ITOPKM,
            @IMONYTHS = P.IMONTHS,
            @IGAPMONTHS = P.IGAPMONTHS,
            @ITOPMONTHS = P.ITOPMONTHS
        FROM POLICYTYPE P(NOLOCK)
        WHERE P.ID = (SELECT IDPOLICYTYPE FROM POLICY WHERE ID = @IDPOLICY);

        DECLARE 
            @CurrentKM INT = @IKM,
            @CurrentDate DATETIME = (SELECT DACTIVATIONDATE FROM POLICY WHERE ID = @IDPOLICY),
            @MonthCounter INT = 0;

        WHILE @CurrentKM <= @ITOPKM
        BEGIN
            DECLARE 
                @FROMKM INT = @CurrentKM - @IGAPKM,
                @UPTOKM INT = @CurrentKM + @IGAPKM,
                @DDATE DATETIME = NULL,
                @DFROMDATE DATETIME = NULL,
                @DUPTODATE DATETIME = NULL;

            IF @MonthCounter < @ITOPMONTHS
            BEGIN
                SET @CurrentDate = DATEADD(MONTH, @IMONYTHS, @CurrentDate);
                SET @DDATE = @CurrentDate;
                SET @DFROMDATE = DATEADD(DAY, -@IGAPMONTHS, @CurrentDate);
                SET @DUPTODATE = DATEADD(DAY, @IGAPMONTHS, @CurrentDate);
            END

            INSERT INTO POLICYDETAILS (
                IDPOLICY, IKM, IFROMKM, IUPTOKM, DDATE, DFROMDATE, DUPTODATE, DCREATED, VUPDATEDBY, BACTIVE
            )
            VALUES (
                @IDPOLICY, @CurrentKM, @FROMKM, @UPTOKM, @DDATE, @DFROMDATE, @DUPTODATE, GETDATE(), DBO.UFN_GET_LOGIN(@IDUSER), 1
            );

            -- Incrementos
            SET @CurrentKM += @IKM;
            SET @MonthCounter += @IMONYTHS;
        END

        FETCH NEXT FROM PolicyCursor INTO @IDPOLICY;
    END;

    CLOSE PolicyCursor;
    DEALLOCATE PolicyCursor;
END;



