SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_INVENTORIES] -- USP_GET_INVENTORIES 1,4069,0,'',1,null
@IDUSER INT,
@IDSUPPLIER INT,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@WITHSTOCK BIT=1,
@VTYPE VARCHAR(1) =NULL

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	    -- 1. PREPARAR VARIABLES DE TOPE Y PAGINACION
	IF @IROWFROM IS NULL
	    BEGIN
		    SET @TOPE=1000000
		    SET @IROWFROM=0
	    END
	ELSE
	    BEGIN
		    SET @TOPE=100
	    END

    -- 2. PREPARAR VARIABLES FILTRADOS
    DECLARE @LIKEFILTER VARCHAR(100)
	DECLARE @ISTOCK INT
    SELECT @VFILTER= ISNULL(@VFILTER,'')
    SELECT @LIKEFILTER = '%'+@VFILTER+'%'
	SELECT @VTYPE=ISNULL(@VTYPE,'')
	SELECT @ISTOCK = CASE WHEN @WITHSTOCK=1 THEN 0 ELSE -1 END 

	CREATE TABLE #RESERVED (IDPART INT,IDLOCATION INT,IRESERVED INT)
	CREATE NONCLUSTERED INDEX #IND_RESERVED ON #RESERVED (IDPART ASC,IDLOCATION ASC)

	INSERT INTO #RESERVED
	SELECT IDPART,IDLOCATION,SUM(IREQUIRED) IRESERVED
	FROM MOVEMENTDETAILS A WITH (NOLOCK)
	INNER JOIN MOVEMENT B WITH (NOLOCK) ON B.ID=A.IDMOVEMENT
	WHERE B.VTYPE='P'
	AND A.IDSTATUS IN (8,13) -- ASIGNADO, GENERADO
	AND A.IREAL IS NULL
	AND A.VTYPE='P'
	AND A.IREQUIRED>0
	GROUP BY IDPART,IDLOCATION

	
BEGIN
	
	WITH P AS (
				SELECT 
				ID AS IDPART,P.VINNERCODE,P.VDESCRIPTION AS VPART,P.NPRICE,P.VSIZE AS VPARTSIZE
				FROM PART P WITH (NOLOCK)
				WHERE P.IDSUPPLIER= @IDSUPPLIER
				AND ( 
					@VFILTER=''
					OR ( P.VINNERCODE LIKE @LIKEFILTER OR P.VDESCRIPTION LIKE @LIKEFILTER )
					)
		    ),
		I AS (
				SELECT I.IDPART,I.IDSUPPLIER,I.IDLOCATION,I.ISTOCK
				FROM V_PARTLOCATION I
				WHERE I.IDSUPPLIER=@IDSUPPLIER 
				AND I.ISTOCK > @ISTOCK
				AND (@VTYPE='' OR I.VTYPE = @VTYPE)
			  ),
		T1 as(
			SELECT 
			P.IDPART,P.VINNERCODE,P.VPART,P.NPRICE,P.VPARTSIZE,
			0 AS ID,I.ISTOCK,(I.ISTOCK - ISNULL(R.IRESERVED,0)) AS AVAILABLE,
			S.IDSUPPLIER,S.VSUPPLIER,
			L.ID AS IDLOCATION,L.VNAME AS VLOCATION,
			L.IDZONE,L.VZONE,L.VZONESIZE,
			L.IDWAREHOUSE,L.VWAREHOUSE,
			COUNT(*) OVER() AS TOTAL
			FROM P
			INNER JOIN I ON I.IDPART=P.IDPART
			INNER JOIN V_SUPPLIERS S ON S.IDSUPPLIER=I.IDSUPPLIER
			INNER JOIN V_LOCATION L ON L.ID=I.IDLOCATION
			LEFT JOIN #RESERVED R ON R.IDPART=I.IDPART AND R.IDLOCATION=I.IDLOCATION
	)
	-- PAGINAR
	SELECT T1.* 
	FROM T1
    ORDER BY T1.VPART
    OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
    FETCH NEXT @TOPE ROWS ONLY

	DROP TABLE #RESERVED

END

