GO
/****** Object:  StoredProcedure [dbo].[USP_GET_ACTIONSBYUSER]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_ACTIONSBYUSER]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_ACTIONSBYUSER] AS BEGIN SET NOCOUNT ON  END')
GO
-- SELECT * FROM ACTION
ALTER PROCEDURE [dbo].[USP_GET_ACTIONSBYUSER] -- USP_GET_ACTIONSBYUSER 5175
@IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

SELECT DISTINCT
    A.ID AS IDACTION,
    A.VNAME AS VACTION,
    F.IDMODULE
FROM ACTION A WITH (NOLOCK)
INNER JOIN ACCESSGROUPDETAIL F WITH (NOLOCK) ON A.ID = F.IDACTION
INNER JOIN ACCESSGROUP G WITH (NOLOCK) ON F.IDACCESGROUP = G.ID
INNER JOIN ACCESSGROUPUSER U WITH (NOLOCK) ON G.ID = U.IDACCESGROUP
WHERE U.IDUSER = @IDUSER
  AND (
        -- Acciones asignadas directamente (solo 1, 2, 3)
        (A.ID IN (1,2,3) AND F.BASSIGN = 1)

        -- Herencia de GET si hay cualquier otra acción activa del módulo
        OR (
            A.ID = 1 AND EXISTS (
                SELECT 1
                FROM ACCESSGROUPDETAIL F2 WITH (NOLOCK)
                INNER JOIN ACCESSGROUP G2 WITH (NOLOCK) ON F2.IDACCESGROUP = G2.ID
                INNER JOIN ACCESSGROUPUSER U2 WITH (NOLOCK) ON G2.ID = U2.IDACCESGROUP
                WHERE U2.IDUSER = @IDUSER
                  AND F2.IDMODULE = F.IDMODULE
                  AND F2.BASSIGN = 1
                  AND G2.BACTIVE = 1
                  AND U2.BASSIGN = 1
                  AND F2.IDACTION <> 1 -- Cualquier acción distinta de GET
            )
        )
    )
  AND G.BACTIVE = 1
  AND U.BASSIGN = 1
ORDER BY F.IDMODULE, A.ID