GO
/****** Object:  StoredProcedure [dbo].[USP_POST_LOCATIONS_ACTIONS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_LOCATIONS_ACTIONS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_LOCATIONS_ACTIONS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_LOCATIONS_ACTIONS] --DELETE PRINTQUEUE where DPRINTED =NULL;
 @DATA NVARCHAR(MAX),
 @IDUSER INT 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(200),
					IDRELATED INT
				);

				INSERT INTO @TDATA
				SELECT	RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS A


				DECLARE @VUSER NVARCHAR(15);
				SELECT TOP 1 @VUSER = C.VLOGIN
				FROM CONTACT C WITH (NOLOCK)
				INNER JOIN @TDATA A ON C.ID = @IDUSER;

			

				DECLARE @IDACTION INT
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT

				SELECT TOP 1 @VACTION=VACTION, @IDMODULE=IDMODULE FROM @TDATA
				SELECT TOP 1 @IDACTION = ID FROM ACTION WITH (NOLOCK) WHERE VNAME= @VACTION 
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				IF @VACTION='ACTIVATE' OR @VACTION='DEACTIVATE'
				BEGIN
					UPDATE L
						SET L.BACTIVE= CASE WHEN @VACTION='ACTIVATE' THEN 1 ELSE 0 END,
							L.DUPDATED = GETDATE(),
							L.VUPDATEDBY = @VUSER
					FROM LOCATION L
					INNER JOIN @TDATA D ON D.IDRECORD=L.ID 

					SELECT @IUPDATED=@@ROWCOUNT

					EXEC USP_REPLICATE_LOCATIONS @IDUSER

				END
				ELSE IF @VACTION='PRINT' 
				BEGIN
					
					INSERT INTO [PRINTQUEUE](VTYPE, IDRECORD,DCREATED, IDUSER)
					SELECT 'L', IDRECORD, GETDATE(), @IDUSER
					FROM @TDATA;
					SELECT @IINSERTED=@@ROWCOUNT

				END

				

				SELECT 
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED
				from @TDATA


				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA;

				


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
