GO
/****** Object:  StoredProcedure [dbo].[USP_GET_ATTACHMENT]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_ATTACHMENT]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_ATTACHMENT] AS BEGIN SET NOCOUNT ON  END')
GO
-- SELECT * FROM MODULE
ALTER PROCEDURE [dbo].[USP_GET_ATTACHMENT] --USP_GET_ATTACHMENT 'SERVICIOS-MANTENIMIENTO',NULL,8
@VMODULE VARCHAR(50) = null,
@IDRECORD INT =NULL,
@ID INT =NULL

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


	BEGIN

		IF @ID > 0
		BEGIN
			SELECT C.*, M.VNAME AS VMODULE, C.DCREATED
			FROM ATTACHMENT C WITH (NOLOCK)
			INNER JOIN MODULE M (NOLOCK) ON C.IDMODULE =M.ID
			WHERE C.ID = @ID
		END
		ELSE
		BEGIN
			DECLARE @IDMODULE INT
			SELECT TOP 1 @IDMODULE = ID FROM MODULE WITH (NOLOCK) WHERE VNAME=@VMODULE

			SELECT C.*, M.VNAME AS VMODULE
			FROM ATTACHMENT C WITH (NOLOCK)
			INNER JOIN MODULE M (NOLOCK) ON C.IDMODULE =M.ID
			WHERE C.IDMODULE=@IDMODULE AND
			C.IDRECORD = CASE WHEN ISNULL(@IDRECORD,0)=0 THEN IDRECORD ELSE @IDRECORD END 
		
		END



	END