GO
/****** Object:  StoredProcedure [dbo].[USP_POST_POLICYTYPES_ACTIONS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_POLICYTYPES_ACTIONS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_POLICYTYPES_ACTIONS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_POST_POLICYTYPES_ACTIONS]
 @DATA VARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

    BEGIN TRY
        BEGIN TRAN 

        DECLARE @TDATA AS TABLE
        (
            IDRECORD INT,
            IDMODULE INT,
            VACTION VARCHAR(20),
            VCOMMENT VARCHAR(200),
            IDRELATED INT
        );

        INSERT INTO @TDATA
        SELECT  RecordId, ModuleId, ActionName, ActionComment, RelatedId
        FROM OPENJSON(@DATA)
        WITH (
            RecordId int, ModuleId int, ActionName varchar(20), ActionComment varchar(200), RelatedId int
        ) AS C

        DECLARE @IDACTION INT
        DECLARE @VACTION VARCHAR(20)
		DECLARE @IDMODULE INT 
		
		DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT

        SELECT TOP 1 @VACTION = VACTION, @IDMODULE=IDMODULE FROM @TDATA
        SELECT TOP 1 @IDACTION = ID FROM ACTION WITH (NOLOCK) WHERE VNAME = @VACTION 

		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

        IF @VACTION = 'ACTIVATE' OR @VACTION = 'DEACTIVATE'
        BEGIN
            IF @VACTION = 'DEACTIVATE'
            BEGIN
                IF EXISTS (
                    SELECT 1 FROM MODEL WITH (NOLOCK)
                    WHERE BACTIVE = 1
                    AND IDPOLICYTYPE IN (SELECT IDRECORD FROM @TDATA)
                )
                BEGIN
                    -- Obtener el ID de la póliza asociada al modelo
                    DECLARE @PolicyID INT
                    SELECT TOP 1 @PolicyID = IDPOLICYTYPE
                    FROM MODEL WITH (NOLOCK)
                    WHERE BACTIVE = 1
                    AND IDPOLICYTYPE IN (SELECT IDRECORD FROM @TDATA)
                    
                    RAISERROR('ACCION NO PERMITIDA :EXITEN POLIZAS CON MODELOS ASOCIADOS', 16, 1)
                    RETURN
                END
                ELSE
                BEGIN
                    -- Desactivar la póliza si no existen modelos asociados
                    UPDATE POLICYTYPE
                    SET BACTIVE = 0,
                        DUPDATED = GETDATE(),
					    VUPDATEDBY=dbo.UFN_GET_LOGIN(@IDUSER)
                    WHERE ID IN (SELECT IDRECORD FROM @TDATA)
                    
                    PRINT 'La póliza ha sido desactivada.'
                END
				
            END

            UPDATE POLICYTYPE
            SET BACTIVE = CASE WHEN @VACTION = 'ACTIVATE' THEN 1 ELSE 0 END,
                DUPDATED = GETDATE(),
				VUPDATEDBY=dbo.UFN_GET_LOGIN(@IDUSER)
            WHERE ID IN (SELECT IDRECORD FROM @TDATA)
        END

		SELECT @IUPDATED=@@ROWCOUNT
				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED


        INSERT INTO AUDIT (IDUSER, IDRECORD, IDMODULE, VACTION, VCOMMENT, IDRELATED, DCREATED)
        SELECT @IDUSER, IDRECORD, IDMODULE, @VACTION, VCOMMENT, IDRELATED, GETDATE()
        FROM @TDATA

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000)
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
        RAISERROR (@ErrorMessage, 16, 1)
    END CATCH

END
