GO
/** Object:  StoredProcedure [dbo].[USP_GET_PACKAGESLIST]    Script Date: 18/08/2025 8:46:26 **/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_GET_PACKAGESLIST]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_GET_PACKAGESLIST] AS BEGIN SET NOCOUNT ON  END')
GO
-- USP_GET_PACKAGES 4069,5103
ALTER PROCEDURE [dbo].[USP_GET_PACKAGESLIST]
(
@IDSUPPLIER INT,
@VINNERCODE VARCHAR(20)
)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN 
SELECT 
P.ID,
P.IDSUPPLIER,
P.IDCUSTOMER,
P.VCODE,
D.VINNERCODE,
P.VCUSTOMER,
P.VSUPPLIER,
D.IQUANTITY,
D.VDESCRIPTION
FROM V_PACKAGE P WITH (NOLOCK)
INNER JOIN V_PACKAGEDETAIL D ON D.IDPACKAGE = P.ID  
WHERE IDSUPPLIER=@IDSUPPLIER AND D.VINNERCODE=@VINNERCODE
END 

   
 SELECT * FROM V_PACKAGEDETAIL
   
 SELECT * FROM V_PACKAGE