SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_PARTS_ALL] -- [USP_GET_PARTS_ALL] 1,4069,0,''
@IDUSER INT,
@IDSUPPLIER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	-- 1. PREPARAR VARIABLES DE TOPE Y PAGINACION
	IF @IROWFROM IS NULL
	    BEGIN
		    SET @TOPE=1000000
		    SET @IROWFROM=0
	    END
	ELSE
	    BEGIN
		    SET @TOPE=100
	    END

    -- 2. PREPARAR VARIABLES FILTRADOS
    DECLARE @LIKEFILTER VARCHAR(100)
    --SELECT @DFROMDATE = CONVERT(VARCHAR(10), ISNULL(@DFROMDATE,GETDATE()),120)
    --SELECT @DUPTODATE = CONVERT(VARCHAR(10), ISNULL(@DUPTODATE,GETDATE())+1,120)
    SELECT @VFILTER= ISNULL(@VFILTER,'')
    SELECT @LIKEFILTER = '%'+@VFILTER+'%'


BEGIN
	WITH 
		P AS (
			-- 3. FILTRAR MUESTRA DE PART
			SELECT 
			P.ID AS IDPART,P.VINNERCODE,P.VMASTERCODE,P.VDESCRIPTION,P.NPRICE,P.BACTIVE
			FROM dbo.PART P WITH (NOLOCK)
			WHERE P.IDSUPPLIER= @IDSUPPLIER
            AND ( 
				@VFILTER=''
                OR ( P.VINNERCODE LIKE @LIKEFILTER OR P.VDESCRIPTION LIKE @LIKEFILTER )
                )
		),
		T1 AS (
				-- 4. SELECCIONAR DATOS RESULTANTES
				SELECT 
				P.IDPART,P.VINNERCODE,P.VMASTERCODE,P.VDESCRIPTION,P.NPRICE,P.BACTIVE,
				ISNULL(ISTOCK,0) ISTOCK,
				COUNT(*) OVER() AS TOTAL
				FROM P
				LEFT JOIN (
							SELECT IDPART,SUM(ISTOCK) ISTOCK
							FROM INVENTORY WITH (NOLOCK)
							WHERE ISTOCK>0
							GROUP BY IDPART
							) I ON I.IDPART=P.IDPART
			  )
		 -- 5. PAGINAR 
		SELECT T1.* 
		FROM T1
        ORDER BY T1.VDESCRIPTION
        OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
        FETCH NEXT @TOPE ROWS ONLY

END

