GO
/****** Object:  StoredProcedure [dbo].[USP_POST_BACKORDER_ACTIONS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_BACKORDER_ACTIONS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_BACKORDER_ACTIONS] AS BEGIN SET NOCOUNT ON  END')
GO

ALTER PROCEDURE [dbo].[USP_POST_BACKORDER_ACTIONS]
 @DATA VARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(200),
					IDRELATED INT
				);


				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS C
			

				DECLARE @IDACTION INT
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT

				SELECT TOP 1 @VACTION=VACTION, @IDMODULE=IDMODULE FROM @TDATA
				SELECT TOP 1 @IDACTION = ID FROM ACTION WITH (NOLOCK) WHERE VNAME= @VACTION 

				DECLARE @REGISTROS AS TABLE (IDBACKORDER INT, IDSUPPLIER INT, IDASSIGNED INT)
				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				DECLARE @IDSUPPLIER INT
				DECLARE @IDASSIGNED INT

				IF @VACTION='ASSIGN'
				BEGIN


					INSERT INTO @REGISTROS
					SELECT C.ID,C.IDSUPPLIER,D.IDRELATED
					FROM BACKORDER C WITH (NOLOCK)
					INNER JOIN @TDATA D ON D.IDRECORD=C.ID 
					WHERE C.IDSTATUS=DBO.UFN_GET_ISTATUS('CREATE')

					SELECT TOP 1 @IDSUPPLIER=IDSUPPLIER,@IDASSIGNED=IDASSIGNED  FROM @REGISTROS



					UPDATE A
						SET
							A.IDASSIGNED = B.IDASSIGNED,
							A.IDSTATUS = DBO.UFN_GET_ISTATUS('ASSIGN')
					FROM BACKORDER A
					INNER JOIN @REGISTROS B ON B.IDBACKORDER=A.ID

					SELECT @IUPDATED=@@ROWCOUNT

					EXEC USP_POST_MOVEMENT_FROMBACKORDER @IDSUPPLIER,@IDASSIGNED,@IDUSER
				END


				IF @VACTION='DECLINE'
				BEGIN
					UPDATE A
						SET

							A.IDSTATUS = DBO.UFN_GET_ISTATUS('DECLINE')
					FROM BACKORDER A
					INNER JOIN @TDATA D ON D.IDRECORD=A.ID 
					where 
					a.IDSTATUS = DBO.UFN_GET_ISTATUS('CREATE')

					SELECT @IUPDATED=@@ROWCOUNT
				END



				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END




