GO
/****** Object:  StoredProcedure [dbo].[USP_POST_MOVEMENTDETAILS]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_MOVEMENTDETAILS]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_MOVEMENTDETAILS] AS BEGIN SET NOCOUNT ON  END')
GO
ALTER PROCEDURE [dbo].[USP_POST_MOVEMENTDETAILS]  
 @DATA VARCHAR(MAX),
 @IDUSER INT,
 @BIMPORT BIT = 0
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

				DECLARE @TDATA AS TABLE
				(
					ID INT,
					IDMOVEMENT INT,
					IDPART INT,
					IDLOCATION INT,
					IDDESTINATION INT,
					IREQUIRED INT,
					VSERIAL VARCHAR(20),
					VLOCATIONNAME VARCHAR(20),
					VINNERCODE VARCHAR(20)
				);

				INSERT INTO @TDATA
				SELECT M.Id,M.MovementId,M.PartId,M.LocationId, M.DestinationId,M.RequiredQty,null,M.LocationName,M.InnerCode
				FROM OPENJSON(@DATA)
				WITH (
					Id int, MovementId int, PartId int, LocationId int, DestinationId int, 
					RequiredQty int,LocationName varchar(20),InnerCode varchar(20)
					   ) AS M

				DECLARE @IDMODULE INT;
				SELECT TOP 1 @IDMODULE = 
				CASE 
				WHEN M.VTYPE = 'R' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECEPCION')
				WHEN M.VTYPE = 'T' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-TRASLADO') 
				WHEN M.VTYPE = 'P' THEN [dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECOLECCION')
				ELSE 8
				END
				FROM @TDATA C 
				INNER JOIN MOVEMENT M WITH (NOLOCK) ON C.IDMOVEMENT=M.ID ;

				DECLARE @VACTION VARCHAR(20)
				SET @VACTION='EDIT'
			    EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE


				DECLARE @IDSUPPLIER INT
				DECLARE @IDMOVEMENT INT
				DECLARE @VTYPE VARCHAR(1)

				SELECT TOP 1 @IDMOVEMENT = IDMOVEMENT FROM @TDATA
				SELECT TOP 1 @IDSUPPLIER = IDSUPPLIER,@VTYPE=VTYPE FROM MOVEMENT WITH (NOLOCK) WHERE ID=@IDMOVEMENT


				IF @BIMPORT=1 AND @VTYPE = 'R'
				BEGIN


					UPDATE A
						SET A.IDLOCATION=B.ID
					FROM @TDATA A
					INNER JOIN (
								SELECT VNAME,ID FROM  V_LOCATION
								WHERE IDSUPPLIER=@IDSUPPLIER AND VTYPE='R'
								) B ON B.VNAME=A.VLOCATIONNAME

					UPDATE A
						SET A.IDPART=B.ID
					FROM @TDATA A
					INNER JOIN (
								SELECT VINNERCODE,ID FROM PART WITH (NOLOCK)
								WHERE IDSUPPLIER=@IDSUPPLIER
								) B ON B.VINNERCODE=A.VINNERCODE


					DELETE FROM @TDATA
					WHERE ISNULL(IDPART,0)=0 OR ISNULL(IDLOCATION,0)=0

					DELETE FROM MOVEMENTDETAILS WHERE IDMOVEMENT=@IDMOVEMENT


				END


				IF @BIMPORT=1 AND @VTYPE = 'T'
				BEGIN


					UPDATE A
						SET A.IDLOCATION=B.ID
					FROM @TDATA A
					INNER JOIN (
								SELECT VNAME,ID FROM  V_LOCATION
								WHERE IDSUPPLIER=@IDSUPPLIER AND VTYPE='A'
								) B ON B.VNAME=A.VLOCATIONNAME

					UPDATE A
						SET A.IDPART=B.ID
					FROM @TDATA A
					INNER JOIN (
								SELECT VINNERCODE,ID FROM PART WITH (NOLOCK)
								WHERE IDSUPPLIER=@IDSUPPLIER
								) B ON B.VINNERCODE=A.VINNERCODE


					DELETE FROM @TDATA
					WHERE ISNULL(IDPART,0)=0  OR ISNULL(IDLOCATION,0)=0

					DELETE FROM MOVEMENTDETAILS WHERE IDMOVEMENT=@IDMOVEMENT


				END


				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				INSERT INTO MOVEMENTDETAILS
				(IDMOVEMENT,IDPART,IDLOCATION,IDDESTINATION,VTYPE,IREQUIRED,IREAL,BPROCESSED,
				DCREATED,DUPDATED,VUPDATEDBY,VSERIAL,VLOCATIONTYPE )
				SELECT IDMOVEMENT,IDPART,IDLOCATION,IDDESTINATION,'P',IREQUIRED,NULL,0,
				GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER),D.VSERIAL,
				CASE WHEN @VTYPE='R' THEN 'R' ELSE 'A' END -- PICKING DE RECEPCION O ALMANCENAJE
				FROM @TDATA D
				WHERE NOT EXISTS (SELECT * FROM MOVEMENTDETAILS M WITH (NOLOCK) WHERE M.ID=D.ID)

				SELECT @IINSERTED=@@ROWCOUNT
				SELECT @IID=SCOPE_IDENTITY()
				
				UPDATE M
					SET 
					M.IDMOVEMENT = D.IDMOVEMENT,
					M.IDPART=D.IDPART,
					M.IDLOCATION=D.IDLOCATION,
					M.IDDESTINATION=D.IDDESTINATION,
					M.IREQUIRED=D.IREQUIRED,
					M.DUPDATED = GETDATE(),
					M.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
					M.VSERIAL = D.VSERIAL
				FROM MOVEMENTDETAILS M
				INNER JOIN @TDATA D ON D.ID=M.ID 


				SELECT @IUPDATED=@@ROWCOUNT

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
