GO
/****** Object:  StoredProcedure [dbo].[USP_POST_MOVEMENTFROMSALERORDER]    Script Date: 18/08/2025 8:46:26 ******/
SET ANSI_NULLS ON

GO
SET QUOTED_IDENTIFIER ON
GO
IF  NOT EXISTS (SELECT * FROM SYS.OBJECTS

                WHERE OBJECT_ID = OBJECT_ID(N'[DBO].[USP_POST_MOVEMENTFROMSALERORDER]')

                AND TYPE IN (N'P', N'PC', N'TF', N'FN'))
EXEC('CREATE PROCEDURE [DBO].[USP_POST_MOVEMENTFROMSALERORDER] AS BEGIN SET NOCOUNT ON  END')
GO
-- USP_POST_MOVEMENTFROMSALERORDER 1,1
ALTER PROCEDURE [dbo].[USP_POST_MOVEMENTFROMSALERORDER]
 @IDSALEORDER INT,
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN

			DECLARE @IDMOVEMENT INT

			DECLARE @VACTION VARCHAR(20)
		    DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-PROCESOS-RECOLECCION')
			SET @VACTION='CREATE'
			EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

			INSERT INTO MOVEMENT (
			IDSUPPLIER,IESTATUS,VTYPE,VCOMMENT,VREFERENCE,DCREATED,DUPDATED,VUPDATEDBY,VCREATEDBY,
			IDCONTACT,IDSALEORDER)
			SELECT IDSUPPLIER,DBO.UFN_GET_ISTATUS('GENERATE'),DBO.UFN_GET_TYPE('PICKING'),'',CAST(ID AS VARCHAR(10)) AS VREFERENCE,
			GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(1),DBO.UFN_GET_LOGIN(1),IDDEALER,ID
			FROM SALEORDER WITH (NOLOCK)
			WHERE ID=@IDSALEORDER AND IDESTATUS=DBO.UFN_GET_ISTATUS('GENERATE')

			SELECT @IDMOVEMENT=SCOPE_IDENTITY()

			DECLARE @IDPART INT
			DECLARE @IREQUIRED INT

			DECLARE DETAIL_CURSOR2 CURSOR FOR 
			SELECT IDPART,IREQUIRED
			FROM SALEORDERDETAIL WITH (NOLOCK)
			WHERE IDSALEORDER=@IDSALEORDER AND IREQUIRED>0

			ORDER BY ID
			OPEN DETAIL_CURSOR2;
			FETCH NEXT FROM DETAIL_CURSOR2 INTO @IDPART,@IREQUIRED;

			WHILE @@FETCH_STATUS = 0
			BEGIN
										
				EXEC USP_POST_PICKINGS @IDMOVEMENT,@IDPART,@IREQUIRED,@IDUSER

				FETCH NEXT FROM DETAIL_CURSOR2 INTO @IDPART,@IREQUIRED;
			END;

			CLOSE DETAIL_CURSOR2;
			DEALLOCATE DETAIL_CURSOR2;
			

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END

