USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_MODULES]    Script Date: 28/07/2026 21:59:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SELECT * FROM ACTION
ALTER PROCEDURE [dbo].[USP_GET_MODULES] -- USP_GET_MODULES 1,'INVENTARIO-CONTEO'
@IDUSER INT,
@VMODULE VARCHAR(50) = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


SELECT DISTINCT A.ID AS IDMODULE,A.VNAME AS VMODULE,C.VNAME AS VACTION, C.VDISPLAY AS VDISPLAY
FROM MODULE A WITH (NOLOCK) 
INNER JOIN ACTIONMODULE B WITH (NOLOCK) ON B.IDMODULE=A.ID
INNER JOIN ACTION C WITH (NOLOCK) ON C.ID=B.IDACTION
LEFT JOIN ACCESSGROUPDETAIL F WITH (NOLOCK)  ON B.IDACTION =F.IDACTION AND B.IDMODULE=F.IDMODULE
LEFT JOIN ACCESSGROUP G WITH (NOLOCK) ON  F.IDACCESGROUP =G.ID
LEFT JOIN ACCESSGROUPUSER U WITH (NOLOCK) ON G.ID =U.IDACCESGROUP
WHERE (A.VNAME= CASE WHEN ISNULL(@VMODULE,'') = '' THEN A.VNAME ELSE @VMODULE END) AND
   (U.IDUSER = @IDUSER) AND C.ID NOT IN (1,2,3) AND F.BASSIGN=1 AND G.BACTIVE=1 AND U.BASSIGN=1
ORDER BY A.ID










