USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_INVENTORYCOUNT]    Script Date: 20/07/2026 9:58:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[USP_POST_INVENTORYCOUNT]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
 
	BEGIN TRY
		BEGIN TRAN 

				DECLARE @TDATA AS TABLE
				(
					ID INT,
					IDSUPPLIER INT,
					IDCOUNTTYPE INT,
					VDESCRIPTION VARCHAR(100)
				);

				INSERT INTO @TDATA
				SELECT L.Id, L.SupplierId,L.TypeId, L.Description
				FROM OPENJSON(@DATA)
				WITH (
						Id int, SupplierId int, TypeId int,	Description varchar(100)
					) AS L
			

				
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-CONTEO')
				DECLARE @IDSUPPLIER INT 
				SET @IDSUPPLIER = (SELECT TOP 1 IDSUPPLIER FROM @TDATA )
				DECLARE @INSERTDINVCOUNT TABLE (IDINVCOUNT INT)

				IF EXISTS(SELECT * FROM @TDATA WHERE ISNULL(IDCOUNTTYPE,0)=0)
				BEGIN
					RAISERROR ( 'TIPO DE INVENTARIO INVALIDO' , 16,1) 
				END


				IF EXISTS(SELECT * FROM @TDATA WHERE ISNULL(ID,0)=0 ) AND EXISTS (SELECT * FROM INVENTORYCOUNT WHERE IDCOUNTTYPE=2 
				      AND IDESTATUS NOT IN (DBO.UFN_GET_ISTATUS('DECLINE'),DBO.UFN_GET_ISTATUS('CREATE'),DBO.UFN_GET_ISTATUS('ASINC')) AND IDSUPPLIER=@IDSUPPLIER )
				BEGIN
					RAISERROR ( 'ERROR AL CREAR. CONTEO DE INVENTARIO FISICO EN CURSO' , 16,1) 
				END

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT


				IF EXISTS (SELECT * FROM @TDATA WHERE ID=0)
				BEGIN
				SET @VACTION='CREATE'
				--EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
					INSERT INTO INVENTORYCOUNT(IDSUPPLIER,IDCOUNTTYPE,IDUSER,DCREATED,IDESTATUS,VDESCRIPTION)
					SELECT	D.IDSUPPLIER,D.IDCOUNTTYPE,@IDUSER,GETDATE(),DBO.UFN_GET_ISTATUS('CREATE'),D.VDESCRIPTION  FROM @TDATA D

					SELECT @IINSERTED=@@ROWCOUNT
					SELECT @IID=SCOPE_IDENTITY()

				END
				ELSE 
				BEGIN 
					SET @VACTION='EDIT'
				--	EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

					UPDATE O
						SET O.IDSUPPLIER=D.IDSUPPLIER,
							O.IDCOUNTTYPE = D.IDCOUNTTYPE,
							O.VDESCRIPTION = D.VDESCRIPTION,
							O.IDUSER=@IDUSER
						FROM INVENTORYCOUNT O
					INNER JOIN @TDATA D ON D.ID=O.ID
					SELECT @IUPDATED=@@ROWCOUNT

				END


				   IF @IINSERTED>0 OR @IUPDATED>0
				BEGIN
				INSERT INTO AUDIT (IDUSER, IDRECORD, IDMODULE, VCOMMENT, DCREATED, VACTION)
					SELECT 
						@IDUSER,
						IV.IDINVCOUNT,
						@IDMODULE,
					    IC.VDESCRIPTION,
						GETDATE(),
						'CREATE'
					FROM @INSERTDINVCOUNT IV
					JOIN INVENTORYCOUNT IC WITH (NOLOCK) ON IV.IDINVCOUNT=IC.ID
				END

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
