USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_PAYMENT]    Script Date: 21/07/2026 14:17:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_PAYMENT]  
 @DATA VARCHAR(MAX),
 @IDUSER INT =0
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		  DECLARE @ErrorMessage NVARCHAR(4000)
		  DECLARE @InsertedPayments TABLE (ID INT, IDDEALER INT, IDSUPPLIER INT);
		  DECLARE @InsertedPaymentsDetails TABLE (ID INT);
		  DECLARE @IDPAYMENT INT 
	
				DECLARE @TDATA AS TABLE
				(
					ID INT,
					DDATE DATETIME,
					IDCURRENCY INT,
					IDTYPE INT,
				    VREFERENCE VARCHAR(15),
					NAMOUNT NUMERIC(18,2),
					IDBANKACCOUNT INT,
					IDBANKORIGIN INT ,
					IDPAYMENT INT,
					IDSUPPLIER INT,
					IDDEALER INT
				);

				DECLARE @TSETTLEMENTS AS TABLE
				(
					IDDOCUMENT INT,
					NRATE NUMERIC (18,4),
					DDATERATE DATETIME,
					NAMOUNT NUMERIC (18,2)
				);

				INSERT INTO @TDATA (ID, DDATE,IDCURRENCY,IDTYPE,VREFERENCE,NAMOUNT,IDBANKACCOUNT,IDPAYMENT,IDSUPPLIER,IDDEALER,IDBANKORIGIN)
				SELECT  H.Id,H.Date,H.CurrencyId,H.TypeId,H.Reference,H.Amount,H.AccountId,H.PaymentId,H.SupplierId,H.DealerId,H.BankOriginId
				FROM OPENJSON(@DATA)
				WITH (
				    Id int,
					Date Datetime,
					CurrencyId int ,
					TypeId int ,
					Reference VARCHAR(15),
					Amount Numeric(18,2),
					AccountId int ,
					PaymentId int,
					SupplierId int,
					DealerId Int,
					BankOriginId int
				) AS H;


				INSERT INTO @TSETTLEMENTS (IDDOCUMENT,NRATE,DDATERATE)
				SELECT D.DocumentId,D.Rate,D.DateRate
				FROM OPENJSON(@DATA)
				WITH (
					Settlements NVARCHAR(MAX) AS JSON
				) AS H
				CROSS APPLY OPENJSON(H.Settlements)
				WITH (
					DocumentId   INT,
					Rate Numeric(18,4),
					DateRate Datetime
				) AS D


				   
				UPDATE T
				SET T.NAMOUNT=AR.NBALANCE
				FROM @TSETTLEMENTS T 
				INNER JOIN ACCOUNTRECEIVABLE AR WITH (NOLOCK) ON T.IDDOCUMENT=AR.ID
				
			
	            BEGIN TRAN 

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('PAGOS-ASEGURAMIENTO')
				DECLARE @DRATEDATE DATETIME
				DECLARE @VCONCEPT VARCHAR(3)
				DECLARE @NRATE NUMERIC (18,4)
				DECLARE @VTYPE VARCHAR(1)
				


             -------------------------------------EXTRACION DE VCONCEPT------------------------------------------------
				IF EXISTS (SELECT * FROM @TDATA WHERE ISNULL(IDPAYMENT,0)=0 )
				BEGIN
					SELECT @VCONCEPT = STRING_AGG(VCONCEPT, '-') WITHIN GROUP (ORDER BY VCONCEPT ASC)
					FROM (
						SELECT DISTINCT A.VCONCEPT 
						FROM @TSETTLEMENTS TS
						INNER JOIN ACCOUNTRECEIVABLE A WITH (NOLOCK) ON TS.IDDOCUMENT = A.ID
					) AS ConceptUni;
				END


				-------------------------------------EXTRACION DE VCONCEPT------------------------------------------------
				IF EXISTS (SELECT * FROM @TDATA WHERE ISNULL(IDPAYMENT,0)=0 )
				BEGIN
					SELECT @VTYPE = STRING_AGG(VTYPE, '-') WITHIN GROUP (ORDER BY VTYPE ASC)
					FROM (
						SELECT DISTINCT A.VTYPE 
						FROM @TSETTLEMENTS TS
						INNER JOIN ACCOUNTRECEIVABLE A WITH (NOLOCK) ON TS.IDDOCUMENT = A.ID
					) AS ConceptUni;
				END
				
				-------------------------------EXTRACCION DE TASAS-------------------------------------
				IF @VCONCEPT='R'
					BEGIN 
						SELECT TOP 1 @NRATE=R.NRATE , @DRATEDATE=T.DDATE FROM @TDATA T
						INNER JOIN RATE R WITH (NOLOCK) ON CAST(T.DDATE AS DATE) = CAST(R.DDATE AS DATE)
					END 
				ELSE
					BEGIN
						SELECT TOP 1 @NRATE=NRATE , @DRATEDATE=DDATERATE FROM @TSETTLEMENTS 
					END

			-------------------------------------------------VALIDACION PARA DOCUMENTOS----------------------------------------

				IF EXISTS (SELECT P.* FROM @TSETTLEMENTS P  
					           INNER JOIN ACCOUNTRECEIVABLE T WITH (NOLOCK) ON P.IDDOCUMENT =T.ID 
							   WHERE T.IDTRANSACTIONSTATUS <> dbo.UFN_GET_ISTATUS('AVAILABLE'))
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: DOCUMENTOS YA CANCELADOS O POR REVISION DE PAGO.', 16, 1);
						RETURN;
					END

				IF EXISTS
				(
					SELECT 1 FROM (
									SELECT T.BMIGRATION, D.IDCURRENCY FROM @TSETTLEMENTS S
									INNER JOIN ACCOUNTRECEIVABLE T WITH (NOLOCK)ON S.IDDOCUMENT = T.ID
									CROSS JOIN @TDATA D
									UNION ALL
									SELECT T.BMIGRATION, D.IDCURRENCY FROM SETTLEMENTS S
									INNER JOIN ACCOUNTRECEIVABLE T WITH (NOLOCK)ON S.IDACCOUNTRECEIVABLE = T.ID
									INNER JOIN @TDATA D	ON S.IDPAYMENT = ISNULL(D.IDPAYMENT,0)
					) X
					WHERE X.BMIGRATION = 1
						AND X.IDCURRENCY = 1
				)
				BEGIN
					RAISERROR('ACCION NO PERMITIDA: DOCUMENTOS SOLO VALIDOS PARA PAGOS EN DIVISAS.',16,1);
					RETURN;
				END


			
                
				IF EXISTS (SELECT P.* FROM @TSETTLEMENTS P  
							   WHERE ISNULL(P.IDDOCUMENT,0)<>0 AND P.NRATE=0 )
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: TASA NO CONFIGURADA.', 16, 1);
						RETURN;
					END


                IF EXISTS (
				SELECT 1 
				FROM @TDATA D 
				INNER JOIN PAYMENTTYPE  PT WITH (NOLOCK) ON D.IDTYPE=PT.ID 
				WHERE LEN(D.VREFERENCE)<4 AND PT.VNAME IN ('TRANSFERENCIA','RETENCION')
				)
					BEGIN
							RAISERROR('ACCION NO PERMITIDA: REFERENCIA NO PUEDE SER MENOR A 4 DIGITOS.', 16, 1);
							RETURN;
					END

                
				IF EXISTS (
				SELECT 1 
				FROM @TDATA D 
				INNER JOIN PAYMENTTYPE PT WITH (NOLOCK) ON D.IDTYPE=PT.ID 
				WHERE  PT.VNAME IN ('RETENCION') AND ISNULL(D.IDPAYMENT,0)<>0
				) AND EXISTS (SELECT * FROM @TDATA where ISNULL(ID,0)=0 )
					BEGIN
							RAISERROR('ACCION NO PERMITIDA: NO PUEDE CARGAR MAS DE UN COMPROBANTE DE RETENCION', 16, 1);
							RETURN;
					END


				IF EXISTS (
				SELECT 1 
				FROM @TDATA D
				JOIN PAYMENTDETAILS PD ON D.VREFERENCE = PD.VREFERENCE AND D.IDBANKORIGIN=PD.IDBANKORIGIN
				JOIN PAYMENT P ON P.ID = PD.IDPAYMENT
				INNER JOIN PAYMENTTYPE  PT WITH (NOLOCK) ON D.IDTYPE=PT.ID 
				WHERE ISNULL(D.ID,0)<>PD.ID AND D.IDDEALER = P.IDDEALER
					AND PT.VNAME='TRANSFERENCIA' AND PD.IDSTATUS<>DBO.UFN_GET_ISTATUS('DECLINE')
				)
					BEGIN
							RAISERROR('ACCION NO PERMITIDA: REFERENCIA YA UTILIZADA.', 16, 1);
							RETURN;
					END


				IF EXISTS (
				SELECT 1 
				FROM @TDATA D
				JOIN PAYMENTDETAILS PD ON D.VREFERENCE = PD.VREFERENCE 
				JOIN PAYMENT P ON P.ID = PD.IDPAYMENT
				INNER JOIN PAYMENTTYPE  PT WITH (NOLOCK) ON D.IDTYPE=PT.ID 
				WHERE ISNULL(D.ID,0)<>PD.ID AND D.IDDEALER = P.IDDEALER AND PT.VNAME='RETENCION'
				)
					BEGIN
							RAISERROR('ACCION NO PERMITIDA: NUMERO COMPROBANTE YA UTILIZADO.', 16, 1);
							RETURN;
					END

					IF EXISTS (
				SELECT 1 
				FROM @TDATA D 
				WHERE @VCONCEPT IN ('I','P','I-P') AND IDCURRENCY=2 AND ISNULL(D.IDPAYMENT,0)=0
				)
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: SOLO VALIDO PARA PAGOS EN BOLIVARES.', 16, 1);
						RETURN;
					END

			   IF EXISTS (SELECT 1 FROM @TDATA D WHERE ISNULL(IDPAYMENT,0)=0 ) 
			   AND EXISTS(SELECT 1 FROM @TSETTLEMENTS D WHERE ISNULL(IDDOCUMENT,0)=0)
				
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: AGREGUE CUENTAS A PAGAR.', 16, 1);
						RETURN;
					END

				IF EXISTS (
				SELECT 1 
				FROM @TDATA D 
				INNER JOIN PAYMENTTYPE  PT WITH (NOLOCK) ON D.IDTYPE=PT.ID 
				WHERE PT.VNAME='TRANSFERENCIA' AND ISNULL(IDBANKACCOUNT,0)=0
				)
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: SELECCIONE CUENTA DESTINO.', 16, 1);
						RETURN;
					END

					IF EXISTS (
				SELECT 1 
				FROM @TDATA D 
				INNER JOIN PAYMENTTYPE  PT WITH (NOLOCK) ON D.IDTYPE=PT.ID 
				WHERE PT.VNAME='TRANSFERENCIA' AND ISNULL(IDBANKORIGIN,0)=0
				)
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: SELECCIONE BANCO DE ORIGEN.', 16, 1);
						RETURN;
					END

					IF EXISTS (
				SELECT 1 
				FROM @TDATA D 
				INNER JOIN PAYMENTDETAILS  PT WITH (NOLOCK) ON ISNULL(D.IDPAYMENT,0)=PT.IDPAYMENT 
				WHERE PT.IDSTATUS =DBO.UFN_GET_ISTATUS('TOAPPROVE') ) AND EXISTS (SELECT * FROM @TDATA WHERE ID=0)
				
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: RELACION DE PAGOS YA POR APROBACION.', 16, 1);
						RETURN;
					END


					IF EXISTS (
				SELECT 1 
				FROM @TDATA D 
				INNER JOIN PAYMENTDETAILS  PT WITH (NOLOCK) ON ISNULL(D.IDPAYMENT,0)=PT.IDPAYMENT 
				WHERE PT.IDSTATUS NOT IN (DBO.UFN_GET_ISTATUS('CREATE'),DBO.UFN_GET_ISTATUS('TOAPPROVE'))
				)
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: RELACION DE PAGOS YA POR APROBACION.', 16, 1);
						RETURN;
					END

					IF EXISTS (
				SELECT 1 
				FROM @TDATA D 
				INNER JOIN PAYMENTDETAILS  PT WITH (NOLOCK) ON ISNULL(D.ID,0)=PT.ID 
				INNER JOIN PAYMENT P WITH (NOLOCK) ON PT.IDPAYMENT= P.ID
				WHERE  PT.IDSTATUS =DBO.UFN_GET_ISTATUS('TOAPPROVE')  AND ((D.IDCURRENCY=1 AND (D.NAMOUNT-PT.NAMOUNT)>5) OR (D.IDCURRENCY=2 AND (D.NAMOUNT-PT.NAMOUNT)>(5*P.NRATE)) ))
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: MARGEN DE AJUSTE DE MONTO FUERA DEL RANGO PERMITIDO (5REF).', 16, 1);
						RETURN;
					END

					IF EXISTS (SELECT 1 FROM @TDATA D WHERE ID=0 AND IDDEALER=0) OR	
					EXISTS (
							SELECT 1 
							FROM @TDATA D 
							INNER JOIN PAYMENTDETAILS  PT WITH (NOLOCK) ON ISNULL(D.ID,0)=PT.ID 
							WHERE PT.IDSTATUS =DBO.UFN_GET_ISTATUS('CREATE') AND IDDEALER=0)
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: SELECCIONE UN CONCESIONARIO VALIDO.', 16, 1);
						RETURN;
					END



			

				IF EXISTS (SELECT * FROM @TDATA WHERE ID=0 )
				BEGIN
			      SET @VACTION='CREATE'
				  EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
						IF EXISTS (SELECT * FROM @TDATA WHERE ISNULL(IDPAYMENT,0)=0)
							BEGIN
							INSERT INTO PAYMENT (NAMOUNT, DCREATED, VUPDATEDBY, IDDEALER, IDSUPPLIER,NRATE,DDATERATE,VCONCEPT,BASINC,VTYPE)
								OUTPUT INSERTED.ID, INSERTED.IDDEALER, INSERTED.IDSUPPLIER INTO @InsertedPayments (ID, IDDEALER, IDSUPPLIER)
								SELECT 
								    (SELECT SUM(NAMOUNT) FROM @TSETTLEMENTS),
									GETDATE(), 
									DBO.UFN_GET_LOGIN(@IDUSER), -- Asumo que pasas el ID directamente
									IDDEALER, 
									IDSUPPLIER,
									@NRATE,
									@DRATEDATE,
									@VCONCEPT,
									0,
									@VTYPE
								FROM @TDATA
								GROUP BY IDDEALER, IDSUPPLIER;

								------ACTUALIZAR LOS DETALLES CON EL IDPAYMENT INSERTADO----
								SET @IDPAYMENT=(SELECT TOP 1 ID FROM @InsertedPayments)
								
								-----------ACTUALIZAR LOS DETALLES CON EL IDPAYMENT-----
								UPDATE @TDATA
								SET IDPAYMENT=@IDPAYMENT

								-----------------------ACTUALIZAR DOCUMENTOS A TRANSITO---------------------------
								UPDATE A
								SET  IDTRANSACTIONSTATUS=DBO.UFN_GET_ISTATUS('CREATE')
								FROM ACCOUNTRECEIVABLE A 
								INNER JOIN @TSETTLEMENTS S ON A.ID=S.IDDOCUMENT
								
								----------------INSERTAR LAS RELACION SALDOS->PAGOS-----------------
								INSERT INTO SETTLEMENTS(IDACCOUNTRECEIVABLE,IDPAYMENT)
								SELECT T.IDDOCUMENT,@IDPAYMENT FROM @TSETTLEMENTS T

								EXEC [dbo].[USP_MOUNT_PAYMENT] @IDPAYMENT,@IDUSER

				END

	           
					INSERT INTO PAYMENTDETAILS (DDATE,IDCURRENCY,IDTYPE,VREFERENCE,NAMOUNT,IDSTATUS,IDBANKACCOUNT,IDPAYMENT,VUPDATEDBY,IDBANKORIGIN,DCREATED,DUPDATED)
					OUTPUT INSERTED.ID INTO @InsertedPaymentsDetails (ID)
					SELECT DDATE,IDCURRENCY,IDTYPE,VREFERENCE,NAMOUNT,DBO.UFN_GET_ISTATUS('CREATE'),IDBANKACCOUNT,IDPAYMENT,DBO.UFN_GET_LOGIN(@IDUSER),IDBANKORIGIN,GETDATE(),GETDATE()
					FROM @TDATA D
					WHERE NOT EXISTS (
								SELECT 1 
								FROM PAYMENTDETAILS V WITH (NOLOCK) 
								WHERE V.VREFERENCE = D.VREFERENCE 
									AND V.VREFERENCE <> ''
									AND V.IDTYPE=1
									AND V.IDBANKORIGIN=D.IDBANKORIGIN
									AND  V.IDSTATUS<>DBO.UFN_GET_ISTATUS('DECLINE')
									AND EXISTS (
										SELECT 1 FROM PAYMENT P 
										WHERE P.ID = V.IDPAYMENT 
										AND P.IDDEALER = D.IDDEALER
									));

						SELECT @IINSERTED=@@ROWCOUNT
						SELECT @IID=SCOPE_IDENTITY()
				END
				ELSE
				BEGIN
				SET @VACTION='EDIT'
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

					UPDATE V
					SET
						V.VREFERENCE = D.VREFERENCE,
						V.NAMOUNT=D.NAMOUNT,
						V.IDBANKACCOUNT = D.IDBANKACCOUNT,
						V.DDATE=D.DDATE
					FROM PAYMENTDETAILS V
					INNER JOIN @TDATA D ON V.ID=D.ID
					WHERE NOT EXISTS (
									SELECT 1 
									FROM PAYMENTDETAILS V WITH (NOLOCK) 
									WHERE V.ID<>D.ID
									  AND V.VREFERENCE = D.VREFERENCE 
									  AND V.VREFERENCE <> '' 
									  AND V.IDBANKACCOUNT=D.IDBANKACCOUNT
									  AND  V.IDSTATUS<>DBO.UFN_GET_ISTATUS('DECLINE')
									  AND EXISTS (
										  SELECT 1 FROM PAYMENT P 
										  WHERE P.ID = V.IDPAYMENT 
										  AND P.IDDEALER = D.IDDEALER
									  ))

					SELECT @IUPDATED=@@ROWCOUNT
					
					
				END

				EXEC [dbo].[USP_CHECK_BANKSTATEMENT_FIGO]
				

				   IF @IINSERTED>0 
				BEGIN
				INSERT INTO AUDIT (IDUSER, IDRECORD, IDMODULE, VCOMMENT, DCREATED, VACTION)
					SELECT 
						@IDUSER,
						PD.ID,
						@IDMODULE,
						'CREACION DE DETALLADO DE PAGO',
						GETDATE(),
						'CREATE'
					FROM @InsertedPaymentsDetails PD 
				END


				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
