USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_INVENTORYCOUNT]    Script Date: 20/07/2026 11:20:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[USP_POST_COUNTBYUSER]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
 
	BEGIN TRY
		BEGIN TRAN 

				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(500),
					IDRELATED INT,
					IDUSER INT
				);

				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId,UserId 
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int,UserId int
					  ) AS A
			
			   
				
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('INVENTARIO-CONTEO')
			


				DECLARE @VTYPE VARCHAR(20) = (SELECT TOP 1  VCOMMENT FROM @TDATA)


			

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT


					IF @VTYPE='PRECONTEO'
				BEGIN 
						INSERT INTO COUNTBYUSER(IDUSER,IDASSIGN,VASSIGNTYPE,IDINVENTORYCOUNT,DCREATED)
							SELECT	            IDUSER,IDRECORD,'Z',IDRELATED,GETDATE()  FROM @TDATA D
							WHERE NOT EXISTS (SELECT * FROM COUNTBYUSER C WITH (NOLOCK) WHERE C.IDUSER=D.IDUSER AND D.IDRECORD=C.IDASSIGN 
							AND D.IDRELATED=C.IDINVENTORYCOUNT )

							SELECT @IINSERTED=@@ROWCOUNT
							SELECT @IID=SCOPE_IDENTITY()
				
				END

				IF @VTYPE='CONTEO'
				BEGIN 
					
					   UPDATE I
					   SET I.IDUSER=T.IDUSER
					   FROM INVENTORYCOUNTDETAIL I 
					   INNER JOIN @TDATA T ON I.ID=T.IDRECORD

						SELECT @IUPDATED=@@ROWCOUNT
						SELECT @IID=SCOPE_IDENTITY()
				
				END

				
				IF @VTYPE='RECONTEO'
				BEGIN 
					   INSERT INTO INVENTORYCOUNTDETAIL(IDINVENTORY,IDCOUNT,IDLOCATION,IDPART,IQUANTITY_OLD,IDUSER,IDSTATUS,DCREATED,IDZONE,IFORM,BBLOCK)
					   SELECT IDRELATED,I.IDCOUNT+1,I.IDLOCATION,I.IDPART,I.IQUANTITY_OLD,T.IDUSER, DBO.UFN_GET_ISTATUS('CREATE'),GETDATE(),I.IDZONE,IFORM,1
					   FROM INVENTORYCOUNTDETAIL I 
					   INNER JOIN @TDATA T ON I.ID=T.IDRECORD
				       SELECT @IINSERTED=@@ROWCOUNT
				       SELECT @IID=SCOPE_IDENTITY()
				END



				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
