USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_INVENTORYCOUNT]    Script Date: 29/07/2026 10:55:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_INVENTORYCOUNT]-- USP_GET_INVENTORYCOUNT 1,4069,NULL,0,NULL,20,'2026-07-28 00:00:00.000','2026-07-30 00:00:00.000'
@IDUSER INT, 
@IDSUPPLIER INT =NULL,
@ID INT =NULL,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@IESTATUS INT =NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	DECLARE @ISDEALER BIT=0
	IF NOT EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] WHERE IDUSER=@IDUSER)
	BEGIN
		SET @ISDEALER=1
	END

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

	 DECLARE @FechaInicio DATETIME = DATEADD(DAY, -360, GETDATE());
    SELECT @DFROMDATE = CONVERT(VARCHAR(10),isnull(@DFROMDATE,getdate()-30),120)
    SELECT @DUPTODATE = CONVERT(VARCHAR(10),isnull(@DUPTODATE,getdate()+1),120)

		

IF ISNULL(@ID,0)=0
	BEGIN
   		WITH T1 AS (
       	   SELECT 
			P.*,
			CASE 
				WHEN A.VDISPLAYESTATUS='DISPONIBLE' THEN 'PRE-INVENTARIO'
				WHEN A.VDISPLAYESTATUS='ACTIVADO' THEN 'INVENTARIO'
				ELSE A.VDISPLAYESTATUS END
				AS VESTATUS,
			C.VLOGIN,
			T.VNAME AS VTYPE,
			V.VSUPPLIER
       		FROM INVENTORYCOUNT P WITH (NOLOCK)
			INNER JOIN ACTION A WITH (NOLOCK) ON P.IDESTATUS=A.ID
			INNER JOIN INFOUSER C WITH (NOLOCK) ON P.IDUSER=C.ID
			INNER JOIN COUNTTYPE T WITH (NOLOCK) ON P.IDCOUNTTYPE=T.ID
			INNER JOIN V_SUPPLIERS V WITH (NOLOCK) ON P.IDSUPPLIER =V.IDSUPPLIER
       		WHERE  P.IDSUPPLIER =@IDSUPPLIER
			AND (
			 CAST(P.ID AS VARCHAR) LIKE '%' + ISNULL(@VFILTER, '') + '%'
			OR P.VDESCRIPTION LIKE '%' + ISNULL(@VFILTER, '') + '%'
		
				)
					 AND P.DCREATED >= @DFROMDATE
					AND P.DCREATED < @DUPTODATE
					AND P.DCREATED >=@FechaInicio
					AND ( P.IDESTATUS = CASE WHEN @IESTATUS IS NUll THEN P.IDESTATUS ELSE @IESTATUS END)
   		), 
   		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
   		T3 AS (
       		SELECT * FROM T1
       		ORDER BY 
			CASE WHEN T1.VESTATUS = 'BORRADOR' THEN 1 
			WHEN T1.VESTATUS = 'ACTIVADO' THEN 2 ELSE 3 END , 
			T1.DCREATED DESC,
			CASE WHEN T1.DCREATED IS NULL THEN T1.DCREATED ELSE  T1.DCREATED END DESC
       		OFFSET @IROWFROM ROWS
       		FETCH NEXT @TOPE ROWS ONLY
   		)
    
   		SELECT T3.*, T2.TOTAL
   		FROM T3, T2

	END
 ELSE 
	BEGIN
	 WITH T1 AS (
       	   SELECT 
			P.*,
			CASE 
				WHEN A.VDISPLAYESTATUS='ACTIVADO' THEN 'PRE-INVENTARIO'
				WHEN A.VDISPLAYESTATUS='APROBADO' THEN 'INVENTARIO'
				ELSE A.VDISPLAYESTATUS END
				AS VESTATUS,
			C.VLOGIN,
			T.VNAME AS VTYPE,
			V.VSUPPLIER
       		FROM INVENTORYCOUNT P WITH (NOLOCK)
			INNER JOIN ACTION A WITH (NOLOCK) ON P.IDESTATUS=A.ID
			INNER JOIN INFOUSER C WITH (NOLOCK) ON P.IDUSER=C.ID
			INNER JOIN COUNTTYPE T WITH (NOLOCK) ON P.IDCOUNTTYPE=T.ID
			INNER JOIN V_SUPPLIERS V WITH (NOLOCK) ON P.IDSUPPLIER =V.IDSUPPLIER
       		WHERE  P.IDSUPPLIER =@IDSUPPLIER
			AND P.ID=@ID
   		), 
   		T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
   		T3 AS (
       		SELECT * FROM T1
       		ORDER BY 
			CASE WHEN T1.VESTATUS = 'BORRADOR' THEN 1 
			WHEN T1.VESTATUS = 'ACTIVADO' THEN 2 ELSE 3 END , 
			T1.DCREATED DESC,
			CASE WHEN T1.DCREATED IS NULL THEN T1.DCREATED ELSE  T1.DCREATED END DESC
       		OFFSET @IROWFROM ROWS
       		FETCH NEXT @TOPE ROWS ONLY
   		)
    
   		SELECT T3.*, T2.TOTAL
   		FROM T3, T2

	END
