USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_CONTROL_COUNT]    Script Date: 05/08/2026 8:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_CONTROL_COUNT] 
 @IDUSER INT,
 @IDINVENTORYCOUNT INT,
 @IDINVENTORYCOUNTDETAIL INT =NULL,
 @IDASSIGN INT =NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         :  
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 
	
				-- REPLICAR DESACTIVACION HACIA ABAJO

				IF ISNULL(@IDINVENTORYCOUNTDETAIL,0)=0
				BEGIN
				     ---------------------------------------INSERTAR EN CONTEO 1 LOS CONTADOS EN PRECONTEO--------------------------------------------------
				     INSERT INTO INVENTORYCOUNTDETAIL(IDINVENTORY,IDCOUNT,IDLOCATION,IDPART,IQUANTITY_OLD,IQUANTITY_NEW,IDUSER,IDSTATUS,DCREATED,DCOUNTDATE)
                     SELECT 
					 @IDINVENTORYCOUNT,
					 1,
					 IC.IDLOCATION,
					 IC.IDPART,
					 IC.IQUANTITY_OLD,
					 CASE 
						WHEN (IC.IQUANTITY_OLD-ISNULL(IC.IQUANTITY_NEW,0))=0 THEN IC.IQUANTITY_NEW	
						ELSE NULL 
					 END,
					 CASE 
						WHEN (IC.IQUANTITY_OLD-ISNULL(IC.IQUANTITY_NEW,0))=0 THEN IC.IDUSER	
						ELSE NULL 
					 END,
					  CASE 
						WHEN (IC.IQUANTITY_OLD-ISNULL(IC.IQUANTITY_NEW,0))=0 THEN DBO.UFN_GET_ISTATUS('PROCESS')	
						ELSE DBO.UFN_GET_ISTATUS('CREATE') 
					 END,
					 GETDATE(),
					 CASE 
						WHEN (IC.IQUANTITY_OLD-ISNULL(IC.IQUANTITY_NEW,0))=0 THEN IC.DCOUNTDATE	
						ELSE NULL 
					 END
					 FROM INVENTORYCOUNTDETAIL IC 
					 WHERE IC.IDINVENTORY=@IDINVENTORYCOUNT AND IC.IDCOUNT = 0 AND
					 NOT EXISTS (SELECT * FROM INVENTORYCOUNTDETAIL ID WITH (NOLOCK) WHERE IC.IDLOCATION=ID.IDLOCATION AND IC.IDPART=ID.IDPART 
																							AND @IDINVENTORYCOUNT=ID.IDINVENTORY AND ID.IDCOUNT=1)

					 ----------------------------INSERTAR EN CONTEO 1 UBICACIONES-PARTES CON EXISTENCIA-------------------------
					 INSERT INTO INVENTORYCOUNTDETAIL(IDINVENTORY,IDCOUNT,IDLOCATION,IDPART,IQUANTITY_OLD,IDSTATUS,DCREATED)
                     SELECT
					 @IDINVENTORYCOUNT,
					 1,
					 IC.IDLOCATION,
					 IC.IDPART,
					 IC.ISTOCK,
					 DBO.UFN_GET_ISTATUS('CREATE'),
					 GETDATE()
					 FROM INVENTORY IC 
					 WHERE NOT EXISTS (SELECT * FROM INVENTORYCOUNTDETAIL ID WITH (NOLOCK) WHERE IC.IDLOCATION=ID.IDLOCATION AND IC.IDPART=ID.IDPART 
																							AND @IDINVENTORYCOUNT=ID.IDINVENTORY AND ID.IDCOUNT=1)
							AND ISNULL(IC.ISTOCK,0)<>0
                     ------------------------------INSERTAR UBICACIONES CON EXISTENCIA 0 ----------------------------------
					INSERT INTO INVENTORYCOUNTDETAIL(IDINVENTORY,IDCOUNT,IDLOCATION,IQUANTITY_OLD,IDSTATUS,DCREATED)
                    SELECT 
					 @IDINVENTORYCOUNT,
					 1,
					 IC.IDLOCATION,
					 SUM(ISNULL(ISTOCK, 0)) AS TOTAL_STOCK,
					 DBO.UFN_GET_ISTATUS('CREATE'),
					 GETDATE()
					 FROM INVENTORY IC 
					 WHERE NOT EXISTS (SELECT * FROM INVENTORYCOUNTDETAIL ID WITH (NOLOCK) WHERE IC.IDLOCATION=ID.IDLOCATION 
																		AND @IDINVENTORYCOUNT=ID.IDINVENTORY AND ID.IDCOUNT=1)
					GROUP BY IDLOCATION
                    HAVING SUM(ISNULL(ISTOCK, 0)) = 0;

		        END
				ELSE
					BEGIN
					--------------------------------------INSERTAR RECONTEO-------------------------------------------
					INSERT INTO INVENTORYCOUNTDETAIL(IDINVENTORY,IDCOUNT,IDLOCATION,IDPART,IQUANTITY_OLD,IDUSER,IDSTATUS,DCREATED)
                     SELECT 
					 @IDINVENTORYCOUNT,
					 (IC.IDCOUNT+1) AS IDCOUNT,
					 IC.IDLOCATION,
					 IC.IDPART,
					 IC.IQUANTITY_OLD,
					 @IDASSIGN,
					 DBO.UFN_GET_ISTATUS('CREATE'),
					 GETDATE()
					 FROM INVENTORYCOUNTDETAIL IC 
					 WHERE IC.IDINVENTORY=@IDINVENTORYCOUNT AND IC.ID=@IDINVENTORYCOUNTDETAIL AND 
					 NOT EXISTS (SELECT * FROM INVENTORYCOUNTDETAIL ID WITH (NOLOCK) WHERE IC.IDLOCATION=ID.IDLOCATION AND IC.IDPART=ID.IDPART 
																							AND @IDINVENTORYCOUNT=ID.IDINVENTORY AND (IC.IDCOUNT+1)=ID.IDCOUNT)
					END
				

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN

		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
