USE [ZEPPELIN]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_REPORTS_REP015]    Script Date: 06/08/2026 12:03:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_REPORTS_REP015]
--USP_GET_REPORTS_REP015 1, 0, 4069,0,NULL,NULL,NULL
@IDUSER     INT,  
@IDDEALER   INT          = NULL,
@IDSUPPLIER INT          = NULL,
@IROWFROM   INT          = NULL,
@VFILTER    VARCHAR(100) = NULL,
@DFROMDATE  DATETIME     = NULL,
@DUPTODATE  DATETIME     = NULL
AS
/* '===============================================================
  '   NOMBRE                : 
  '   FECHA CREACIÓN        :  WILMAN CAMACHO
  '   CREADO POR            : 
  '   CREADO PARA           : 
  '   FUNCIÓN               : REPORTE UNIDADES PARALIZADAS
  '   VERSIÓN               :  
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	DECLARE @IDUSER2     INT  
	DECLARE @IDSUPPLIER2 INT
	DECLARE @IDDEALER2 INT
	DECLARE @IROWFROM2   INT
	DECLARE @VFILTER2    VARCHAR(100)
	DECLARE @DFROMDATE2  DATETIME
	DECLARE @DUPTODATE2  DATETIME

	SELECT @IDUSER2=@IDUSER,@IDSUPPLIER2=@IDSUPPLIER,@IROWFROM2=@IROWFROM,
	@VFILTER2=@VFILTER,@DFROMDATE2=@DFROMDATE,@DUPTODATE2=@DUPTODATE,@IDDEALER2=ISNULL(@IDDEALER,0)

    -- PREPARAR PAGINACION
    DECLARE @TOPE INT
    IF @IROWFROM2 IS NULL
    BEGIN
        SET @TOPE     = 1000000
        SET @IROWFROM2 = 0
    END
    ELSE
    BEGIN
        SET @TOPE = 100
    END

	SELECT @VFILTER2= ISNULL(@VFILTER2,'')
    DECLARE @FechaInicio DATETIME = DATEADD(DAY, -360, GETDATE());
    SELECT @DFROMDATE2 = CONVERT(VARCHAR(10),isnull(@DFROMDATE2,getdate()-180),120)
    SELECT @DUPTODATE2 = CONVERT(VARCHAR(10),isnull(@DUPTODATE2,getdate()+1),120)
	DECLARE @LIKEFILTER VARCHAR(100)
    SELECT @LIKEFILTER = '%'+@VFILTER2+'%'


	CREATE TABLE #TMP_PARALYZEDUNITS(
	[IDSUPPLIER] [int] NULL,
	[IDDEALER] [int] NULL,
	[IDVEHICLE] [int] NULL,
	[DOCUMENTID] [int] NOT NULL,
	[DOCUMENTDATE] [datetime] NULL,
	[CASETYPE] [varchar](20) NOT NULL,
	[DOCUMENTTYPE] [varchar](50) NOT NULL,
	[DOCUMENTSTATUS] [varchar](20) NOT NULL,
	[REFERENCEID] [varchar](50) NULL,
	[VINNERCODE] [varchar](35) NOT NULL,
	[VDESCRIPTION] [varchar](250) NOT NULL,
	[IREQUIRED] [int] NULL,
	[IQUANTITYDAYS] [int] NULL
	)


	CREATE TABLE #FAILREPORT
	(
	ID VARCHAR(10),
	STATUSNAME VARCHAR(20),
	IQUANTITYDAYS INT
	)

	INSERT INTO #FAILREPORT
	SELECT DISTINCT CAST(S.ID AS VARCHAR(10)),
	A.VDISPLAYESTATUS,
	DATEDIFF(DAY, S.DCREATED, GETDATE()) AS DIAS_TRANSCURRIDOS
	FROM [dbo].[MAINTENANCE] S
	INNER JOIN ACTION A ON A.ID=S.IESTATUS
	INNER JOIN V_DEALERS D ON D.IDDEALER=S.IDDEALER
	WHERE S.BPARALYZED=1
	AND S.DCREATED>= @FechaInicio
	AND S.IDSERVICETYPE=3 -- SOLO REPORTE FALLA
	AND S.IESTATUS NOT IN (2,18,19) -- NO SEA BORRADOR, PROCESADO, RECHAZADO
	AND  (@IDDEALER2 =0 OR D.IDDEALER= @IDDEALER2)
	AND  (@IDSUPPLIER2 IS NULL OR D.IDSUPPLIER= @IDSUPPLIER2)


	INSERT INTO #TMP_PARALYZEDUNITS
	SELECT 
	D.IDSUPPLIER,
	S.IDDEALER AS IDDEALER,
	S.IDVEHICLE,
	S.ID AS DOCUMENTID,
	S.DCREATED DOCUMENTDATE,
	CASE WHEN S.IDSERVICETYPE = 1 THEN 'MANTENIMIENTO'
	WHEN S.IDSERVICETYPE = 2 THEN 'ASISTENCIA TECNICA' ELSE 'REPORTE FALLA' END CASETYPE ,
	RT.VNAME AS DOCUMENTTYPE,
	A.VDISPLAYESTATUS AS DOCUMENTSTATUS,
	'' AS REFERENCEID,
	'' VINNERCODE,'' VDESCRIPTION,0 IREQUIRED,
	DATEDIFF(DAY, S.DCREATED, GETDATE()) AS DIAS_TRANSCURRIDOS
	FROM [dbo].[MAINTENANCE] S
	INNER JOIN V_DEALERS D ON D.IDDEALER=S.IDDEALER
	INNER JOIN REPORTTYPE RT ON RT.ID=S.IDREPORTTYPE
	INNER JOIN ACTION A ON A.ID=S.IESTATUS
	WHERE S.BPARALYZED=1
	AND S.DCREATED>= @FechaInicio
	--AND S.DCREATED>= @DFROMDATE2
	--AND S.DCREATED < @DUPTODATE2
	AND S.IDSERVICETYPE=2 -- SOLO ASISTENCIA TECNICA
	AND S.IESTATUS NOT IN (2,18,19) -- NO SEA BORRADOR, PROCESADO, RECHAZADO
	AND  (@IDSUPPLIER2 IS NULL OR D.IDSUPPLIER= @IDSUPPLIER2)
	AND  (@IDDEALER2 =0 OR D.IDDEALER= @IDDEALER2)

	INSERT INTO #TMP_PARALYZEDUNITS
	SELECT 
	S.IDSUPPLIER,
	S.IDDEALER,
	S.IDVEHICLE,
	S.ID AS DOCUMENTID,
	S.DCREATED DOCUMENTDATE,
	'PEDIDO' AS CASETYPE,
	ST.VNAME DOCUMENTTYPE,
	A.VDISPLAYESTATUS AS DOCUMENTSTATUS, 
	S.VREFERENCE+'-'+R.STATUSNAME AS REFERENCEID,
	D.VINNERCODE,D.VDESCRIPTION,D.IREQUIRED,
	R.IQUANTITYDAYS
	FROM SALEORDER S WITH (NOLOCK)
	INNER JOIN SALEORDERTYPE ST ON ST.ID=S.IDTYPE
	INNER JOIN ACTION A ON A.ID=S.IDESTATUS
	INNER JOIN ( SELECT D.IDSALEORDER, P.VINNERCODE,P.VDESCRIPTION,D.IREQUIRED
					FROM SALEORDERDETAIL D WITH (NOLOCK)
					INNER JOIN PART P WITH (NOLOCK) ON P.ID=D.IDPART
				) D ON D.IDSALEORDER=S.ID	
	INNER JOIN #FAILREPORT R ON R.ID= S.VREFERENCE
	WHERE BPARALYZED=1
	AND S.IDVEHICLE>0
	AND S.DCREATED>= @FechaInicio
	AND S.IDESTATUS NOT IN (2,18,19) -- NO SEA BORRADOR, PROCESADO, RECHAZADO
	--AND  S.DCREATED>= @DFROMDATE2
	--AND  S.DCREATED < @DUPTODATE2
	AND  (@IDSUPPLIER2 IS NULL OR S.IDSUPPLIER= @IDSUPPLIER2)
	AND  (@IDDEALER2 =0 OR S.IDDEALER= @IDDEALER2)

 BEGIN
 
    WITH 
		T_DATA AS 
			  (
				SELECT 
				D.DEALER CONCESIONARIO,
				V.VVIN VIN,V.VPLATE PLACA,
				T.[DOCUMENTID] AS [NRO DOCUMENTO],
				T.[DOCUMENTDATE] AS[FECHA REGISTRO],
				T.[CASETYPE] CASO,
				T.[DOCUMENTTYPE] AS [TIPO DE DOCUMENTO],
				T.[DOCUMENTSTATUS] [ESTATUS DOCUMENTO],
				T.[REFERENCEID] [REPORTE RELACIONADO],
				T.[VINNERCODE] [CODIDO DE PARTE],
				T.[VDESCRIPTION] [NOMBRE DE PARTE],
				T.[IREQUIRED] [SOLICITADO],
				T.[IQUANTITYDAYS] AS [DIAS TRANSCURRIDOS],
				COUNT(*) OVER() AS TOTAL 
				FROM #TMP_PARALYZEDUNITS T
				INNER JOIN VEHICLE V WITH (NOLOCK) ON V.ID=T.IDVEHICLE
				INNER JOIN MODEL M WITH (NOLOCK) ON M.ID=V.IDMODEL
				INNER JOIN V_DEALERS D ON D.IDDEALER=T.IDDEALER
				WHERE V.VVIN LIKE CASE WHEN @VFILTER2 = '' THEN V.VVIN ELSE @LIKEFILTER END
			  )
	SELECT * FROM T_DATA T
	ORDER BY T.VIN
	OFFSET @IROWFROM2 ROWS
	FETCH NEXT @TOPE ROWS ONLY

END

