USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_VEHICLES_FIGO]    Script Date: 05/08/2026 10:31:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_VEHICLES_FIGO]  
 @DATA VARCHAR(MAX)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
	     
		  DECLARE @IDUSER INT=1
		  DECLARE @ErrorMessage NVARCHAR(4000)
	
				DECLARE @TDATA AS TABLE
				(
					VVIN VARCHAR(20),
					VENGINESERIAL VARCHAR(20),
					VMODEL VARCHAR(50),
					VCOLOR VARCHAR (20),
					IYEAR INT,
					DRECEPTIONDATE DATETIME, -- Corregido: Reception
					VRECEPTIONNUMBER VARCHAR(10),
					VBATCH VARCHAR(15),
					DBATCHDATE DATETIME,
					VSUPPLIERVAT VARCHAR(12),
					IDSUPPLIER INT,
					IDBRAND INT,
					IDMODEL INT,
					IDCOLOR INT
				);

				INSERT INTO @TDATA (
					DRECEPTIONDATE, 
					VRECEPTIONNUMBER,
					VBATCH,
					DBATCHDATE,
					VSUPPLIERVAT, 
					VVIN, 
					VENGINESERIAL, 
					VMODEL, 
					VCOLOR, 
					IYEAR
				)
				SELECT 
					H.ReceptionDate,
					H.ReceptionNumber,
					H.Batch,
					H.BatchDate,
					H.SupplierVat,
					D.Vin,
					D.Serial,
					D.ModelName,
					D.Color,
					D.Year
				FROM OPENJSON(@DATA)
				WITH (
					ReceptionDate DATETIME,
					ReceptionNumber VARCHAR(10),
					Batch VARCHAR(15),
					BatchDate DateTime,
					SupplierVat VARCHAR(12),
					Detail NVARCHAR(MAX) AS JSON -- Extraemos el nodo de detalle como JSON
				) AS H
				CROSS APPLY OPENJSON(H.Detail) -- Desglosamos el detalle por cada cabecera
				WITH (
					Vin     VARCHAR(20),
					Serial  VARCHAR(20),
					ModelName VARCHAR(50),
					Color   VARCHAR(20),
					Year    INT
				) AS D;

				DECLARE @InsertedVehicles TABLE (IDVEHICLE INT)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('VEHICULOS-VEHICULOS')
			
				INSERT INTO COLOR (VNAME,BACTIVE,VUPDATEDBY,DCREATED,DUPDATED)
				SELECT T.VCOLOR,1,'SYSTEM',GETDATE(),GETDATE() FROM @TDATA T
				WHERE NOT EXISTS (SELECT A.VNAME FROM COLOR A WHERE UPPER(T.VCOLOR) = UPPER(A.VNAME)) 
				GROUP BY T.VCOLOR
			
				UPDATE A
						SET A.IDSUPPLIER = V.IDSUPPLIER,
						    A.IDBRAND = V.IDBRAND
						FROM @TDATA A
						INNER JOIN V_SUPPLIERS V ON UPPER(A.VSUPPLIERVAT) = UPPER(V.VVAT)

				UPDATE A
						SET A.IDCOLOR = V.ID
						FROM @TDATA A
						INNER JOIN COLOR V ON UPPER(A.VCOLOR) = UPPER(V.VNAME)
				
				UPDATE A
						SET A.IDMODEL = ISNULL(V.ID,0)
						FROM @TDATA A
						INNER JOIN MODEL V ON UPPER(A.VMODEL) = UPPER(V.VDESCRIPTION)
				WHERE A.IDBRAND=V.IDBRAND AND V.BACTIVE=1
				
				

                DECLARE @IDMODEL INT

			    ------------VALIDACION DE MODELO--------------
				SELECT TOP 1 @IDMODEL=IDMODEL
				FROM @TDATA T
				WHERE NOT EXISTS (SELECT * FROM MODEL B WITH (NOLOCK) WHERE B.ID=T.IDMODEL AND B.IDBRAND=T.IDBRAND )

				IF @IDMODEL >= 0
				BEGIN
					RAISERROR('MODELO INVALIDO', 16, 1) 
				END

				IF EXISTS (SELECT * FROM @TDATA WHERE ISNULL(IDSUPPLIER,0)=0)
				BEGIN
				RAISERROR('PLANTA INCORRECTA', 16, 1)
				END


				-----------------------------VALIDACION PARA SERIAL DE MOTOR-------------------------------------------
				IF EXISTS ( SELECT * FROM @TDATA A
							INNER JOIN VEHICLE V WITH (NOLOCK) ON LTRIM(RTRIM(A.VENGINESERIAL)) = LTRIM(RTRIM(V.VENGINESERIAL)) 
							WHERE  A.VVIN<>V.VVIN
							)
				BEGIN
				DECLARE @SERIAL VARCHAR(20)
				     SELECT TOP 1 @SERIAL=A.VENGINESERIAL FROM @TDATA A
					 INNER JOIN VEHICLE V WITH (NOLOCK) ON LTRIM(RTRIM(A.VENGINESERIAL)) = LTRIM(RTRIM(V.VENGINESERIAL)) 
					 WHERE  A.VVIN<>V.VVIN
					SET @ErrorMessage= 'EL REGISTRO QUE INTENTAS CREAR YA EXISTE: '+ @SERIAL; 
				END

BEGIN TRAN 

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				

					INSERT INTO VEHICLE
					(VVIN,VENGINESERIAL,IDMODEL,IDCOLOR,IYEAR,IDSUPPLIER,BACTIVE,DCREATED,DUPDATED,VUPDATEDBY,IESTATUS,DBATCHDATE,VBATCH)
					OUTPUT INSERTED.ID INTO @InsertedVehicles(IDVEHICLE)
					SELECT VVIN,VENGINESERIAL,IDMODEL,IDCOLOR,IYEAR,IDSUPPLIER,1,GETDATE(),GETDATE(),DBO.UFN_GET_LOGIN(@IDUSER),DBO.UFN_GET_ISTATUS('CREATE'),DBATCHDATE,VBATCH
					FROM @TDATA D
					WHERE NOT EXISTS (SELECT * FROM VEHICLE V WITH (NOLOCK) WHERE V.VVIN=D.VVIN)

					SELECT @IINSERTED=@@ROWCOUNT
					SELECT @IID=SCOPE_IDENTITY()

					UPDATE V
					SET
						V.VENGINESERIAL = D.VENGINESERIAL,
						V.IDMODEL = D.IDMODEL,
						V.IDCOLOR = D.IDCOLOR,
						V.IYEAR =  D.IYEAR,
						V.DUPDATED = GETDATE(),
						V.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM VEHICLE V
					INNER JOIN @TDATA D ON V.VVIN=D.VVIN

					SELECT @IUPDATED=@@ROWCOUNT
				
				   IF @IINSERTED>0
				BEGIN
				INSERT INTO AUDIT (IDUSER, IDRECORD, IDMODULE, VCOMMENT, DCREATED, VACTION)
					SELECT 
						@IDUSER,
						IV.IDVEHICLE,
						@IDMODULE,
					    CAST(D.VRECEPTIONNUMBER AS VARCHAR(50)),
						D.DRECEPTIONDATE,
						'CREATE'
					FROM @InsertedVehicles IV
					JOIN @TDATA D ON D.VVIN = (SELECT V.VVIN FROM VEHICLE V WITH (NOLOCK) WHERE V.ID = IV.IDVEHICLE)
				END

		INSERT INTO AUDITFIGO(DCREATED,VPROCEDURE,VJSON,VERROR)
        SELECT GETDATE(),'USP_POST_VEHICLES_FIGO',@DATA,''

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()

		INSERT INTO AUDITFIGO(DCREATED,VPROCEDURE,VJSON,VERROR)
        SELECT GETDATE(),'USP_POST_VEHICLES_FIGO',@DATA,@ErrorMessage

		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
