USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_COUNTSUMMARY]    Script Date: 06/08/2026 8:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GET_COUNTSUMMARY]-- USP_GET_COUNTSUMMARY 1,4069,NULL,7
@IDUSER INT, 
@IDSUPPLIER INT =NULL,
@IROWFROM INT = NULL,
@ID INT =NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	DECLARE @ISDEALER BIT=0
	IF NOT EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] WHERE IDUSER=@IDUSER)
	BEGIN
		SET @ISDEALER=1
	END

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END


BEGIN
    WITH T1 AS (
       SELECT 
    Z.ID,
    Z.VNAME AS VZONE,
    
    -- 1. Total absoluto de ubicaciones físicas creadas para la zona
    COUNT(DISTINCT L.ID) AS ILOCATIONTOTAL,
    
    -- 2. Cantidad de ubicaciones con registros procesados en el inventario (0 si no hay)
    ISNULL(COUNT(DISTINCT CASE WHEN A.VDISPLAYESTATUS = 'PROCESADO' THEN PD.IDLOCATION END), 0) AS ILOCATIONCOUNTED,
    
    -- 3. Porcentaje de avance de la zona contada (0.00 si no hay avance)
   ISNULL(
    CAST(
        COUNT(DISTINCT CASE WHEN A.VDISPLAYESTATUS = 'PROCESADO' THEN PD.IDLOCATION END) * 100.0 
        / NULLIF(COUNT(DISTINCT L.ID), 0) 
		AS DECIMAL(18,2)), 
		0.00
	) AS DPORCENTAGE,

    -- 4. Cantidad de usuarios únicos asignados (0 si no hay)
    ISNULL(COUNT(DISTINCT CB.IDUSER), 0) AS IUSERSASSIGNED

	FROM [ZONE] Z WITH (NOLOCK) LEFT JOIN [LOCATION] L WITH (NOLOCK) ON Z.ID = L.IDZONE

	-- Detalle de inventario filtrado dentro de las condiciones de JOIN
	LEFT JOIN INVENTORYCOUNTDETAIL PD WITH (NOLOCK) ON L.ID = PD.IDLOCATION AND PD.IDINVENTORY = @ID
	LEFT JOIN INVENTORYCOUNT P WITH (NOLOCK) ON PD.IDINVENTORY = P.ID 
	LEFT JOIN ACTION A WITH (NOLOCK) ON PD.IDSTATUS = A.ID
	LEFT JOIN CONTACT C WITH (NOLOCK) ON PD.IDUSER = C.ID
	LEFT JOIN V_SUPPLIERS V WITH (NOLOCK) ON P.IDSUPPLIER = V.IDSUPPLIER
	LEFT JOIN PART R WITH (NOLOCK) 	ON PD.IDPART = R.ID 
	LEFT JOIN COUNTBYUSER CB WITH (NOLOCK) ON Z.ID = CB.IDASSIGN  AND CB.VASSIGNTYPE = 'Z' AND CB.IDINVENTORYCOUNT= @ID
	
	WHERE Z.IDSUPPLIER=@IDSUPPLIER
	AND Z.VNAME NOT IN ('TRANSITO','CROSS DOCKING')
	GROUP BY 
		Z.ID, 
		Z.VNAME
    ), 
    T2 AS (
        SELECT COUNT(*) AS TOTAL FROM T1
    ),
    T3 AS (
        SELECT * FROM T1
        ORDER BY  T1.VZONE DESC
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
    )

    SELECT T3.*, T2.TOTAL
    FROM T3, T2

END