USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_REPORTS]    Script Date: 06/08/2026 10:06:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[USP_GET_REPORTS]--USP_GET_REPORTS 1,0,4069,0,NULL,5,'2025-10-16','2026-12-16',NULL
@IDUSER INT, 
@IDDEALER INT = NULL,
@IDSUPPLIER INT = NULL,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@IDREPORTING INT,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL,
@IESTATUS INT =NULL


AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	DECLARE @ISDEALER BIT=0
	IF NOT EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] WHERE IDUSER=@IDUSER)
	BEGIN
		SET @ISDEALER=1
	END

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END




BEGIN
   
    IF @IDREPORTING=1
    BEGIN
        -- REPORTE PEDIDOS VS FACTURAS
        EXEC USP_GET_REPORTS_REP005 @IDUSER,@IDDEALER,@IDSUPPLIER,@IROWFROM,@VFILTER,@DFROMDATE,@DUPTODATE,@IESTATUS
    END
     ELSE IF @IDREPORTING=2
    BEGIN
        -- REPORTE PEDIDOS VS BULTOS
        EXEC USP_GET_REPORTS_REP006 @IDUSER,@IDDEALER,@IDSUPPLIER,@IROWFROM,@VFILTER,@DFROMDATE,@DUPTODATE,@IESTATUS
    END
	 
	  ELSE IF @IDREPORTING=3
    BEGIN
        -- REPORTE LICENCIA
        EXEC USP_GET_REPORTS_REP007 @IDUSER,@IDDEALER,@IDSUPPLIER,@IROWFROM,@VFILTER,@DFROMDATE,@DUPTODATE,@IESTATUS
    END

	 ELSE IF @IDREPORTING=4
    BEGIN
        -- REPORTE CONCILIACION SRG
        EXEC USP_GET_REPORTS_REP008 @IDUSER,@IDDEALER,@IDSUPPLIER,@IROWFROM,@VFILTER,@DFROMDATE,@DUPTODATE,@IESTATUS
    END
    ELSE IF @IDREPORTING=5
    BEGIN
    --REPORTE SUGERIDO CROSSDOCKING
        EXEC USP_GET_REPORTS_REP009 @IDUSER, @IDDEALER, @IDSUPPLIER, @IROWFROM, @VFILTER, @DFROMDATE, @DUPTODATE, @IESTATUS
    END

    ELSE IF @IDREPORTING=6
    BEGIN
    --REPORTE INTTT
        EXEC USP_GET_REPORTS_REP010 @IDUSER, @IDDEALER, @IDSUPPLIER, @IROWFROM, @VFILTER, @DFROMDATE, @DUPTODATE, @IESTATUS
    END
    
    ELSE IF @IDREPORTING=7
    BEGIN
    --REPORTE DEMANDA INSATISFECHA
        EXEC USP_GET_REPORTS_REP011 @IDUSER, @IDDEALER, @IDSUPPLIER, @IROWFROM, @VFILTER, @DFROMDATE, @DUPTODATE, @IESTATUS
    END

    ELSE IF @IDREPORTING=8
    BEGIN
    --REPORTE PLANIFICACION DE NECESIDADES
        EXEC USP_GET_REPORTS_REP012 @IDUSER, @IDSUPPLIER, @IROWFROM, @VFILTER
    END
    
    ELSE IF @IDREPORTING=9
    BEGIN
    --REPORTE MASTER DE VENTAS
        EXEC USP_GET_REPORTS_REP013 @IDUSER, @IDSUPPLIER, @IROWFROM, @VFILTER
    END
    
    ELSE IF @IDREPORTING=10
    BEGIN
    --REPORTE MASTER DE VENTAS
        EXEC USP_GET_REPORTS_REP014 @IDUSER, @IDSUPPLIER, @IROWFROM, @VFILTER
    END

    ELSE IF @IDREPORTING=11
    BEGIN
    --REPORTE UNIDAD PARALIZADA
        EXEC USP_GET_REPORTS_REP015 @IDUSER,@IDDEALER, @IDSUPPLIER, @IROWFROM, @VFILTER, @DFROMDATE, @DUPTODATE
    END

END




