USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_INVENTORYCOUNT_BYUSER]    Script Date: 20/07/2026 11:02:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_INVENTORYCOUNT_BYUSER] -- USP_GET_INVENTORYCOUNT_BYUSER 5077
@IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	SELECT TOP 1 
	D.IDPART,
	D.IDLOCATION,
	P.VINNERCODE,
	L.VNAME AS VLOCATION
	FROM  INVENTORY D
	INNER JOIN PART P WITH (NOLOCK) ON D.IDPART=P.ID
	INNER JOIN LOCATION L WITH (NOLOCK) ON D.IDLOCATION=L.ID
	INNER JOIN COUNTBYUSER C WITH (NOLOCK) ON  L.ID=C.IDASSIGN AND C.VASSIGNTYPE='U'
	WHERE C.IDUSER=1
    ORDER BY L.IMAPPING ASC
	

END



