USE [ZEPPELIN]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_BANKSTATEMENT]    Script Date: 12/08/2026 15:09:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_BANKSTATEMENT]  
 @DATA NVARCHAR(MAX),
 @VSUPPLIERVAT VARCHAR(12)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 
				
		-- VALIDAR SUPPLIER
		DECLARE @IDSUPPLIER INT

		SELECT @IDSUPPLIER=IDSUPPLIER
		FROM V_SUPPLIERS
		WHERE VVAT=@VSUPPLIERVAT

		IF ISNULL(@IDSUPPLIER,0)=0
		BEGIN
			RAISERROR('PLANTA INVALIDA',16,1)
			RETURN
		END

		DECLARE @TDATA AS TABLE
		(
			IDSUPPLIER INT,
			DTRANSDATE DATETIME,
			VBANKCODE VARCHAR(4),
			VBANKACCOUNT VARCHAR(30),
			VREFERENCE VARCHAR(40),
			NAMOUNT DECIMAL(18,2),
			VBANKACCOUNTFULL VARCHAR(30)
		)

		INSERT INTO @TDATA
		SELECT @IDSUPPLIER, convert(varchar(10), L.TransactionDate,120),L.BankCode, 
		L.BankAccount, Reference,Amount,L.BankAccount
		FROM OPENJSON(@DATA)
		WITH (
				TransactionDate datetime,BankCode varchar(4), BankAccount varchar(25), 
				Reference varchar(40), Amount numeric(18,2)
				) AS L


		DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT

		UPDATE @TDATA
		SET VBANKACCOUNT = LEFT(VBANKACCOUNT,CHARINDEX(' ', VBANKACCOUNT + ' ') - 1)

		INSERT INTO BANKSTATEMENT
		(IDSUPPLIER,DTRANSDATE,VBANKCODE,VBANKACCOUNT,VREFERENCE,NAMOUNT,DCREATED,VBANKACCOUNTFULL)
		SELECT DISTINCT 
		IDSUPPLIER,DTRANSDATE,VBANKCODE,VBANKACCOUNT,VREFERENCE,NAMOUNT,GETDATE(),VBANKACCOUNTFULL
		FROM @TDATA D
		WHERE NOT EXISTS (SELECT ID FROM BANKSTATEMENT B WITH (NOLOCK)
							WHERE D.IDSUPPLIER=B.IDSUPPLIER
							AND D.DTRANSDATE=B.DTRANSDATE
							AND D.VBANKCODE=B.VBANKCODE
							AND D.VBANKACCOUNT=B.VBANKACCOUNT
							AND D.VREFERENCE=B.VREFERENCE
							AND D.NAMOUNT=B.NAMOUNT)

		EXEC USP_CHECK_BANKSTATEMENT_FIGO

		SELECT @IUPDATED=1-- RETORNAR QUE SIEMPRE SE INSERTAMOS EL EXTRACTO BANCARIO SIN ERROR

		SELECT
		ISNULL(@IID,0) AS IID , 
		ISNULL(@IINSERTED,0) AS IINSERTED,
		ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000);
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
