SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- USP_POST_MOVEMENTDETAILS_GROUPED '{"Id":435,"MovementId":0,"PartId":2525,"LocationId":1441,"RealQty":1,"SerialCode":"","PartialTypeId":0}',1  
  
ALTER PROCEDURE [dbo].[USP_POST_MOVEMENTDETAILS_GROUPED]    
 @DATA VARCHAR(MAX),  
 @IDUSER INT  
AS  
/* '===============================================================            
  '   NOMBRE                :   
  '   FECHA CREACIÓN        :   
  '   CREADO POR            : WILMAN CAMACHO  
  '   CREADO PARA           :   
  '   FUNCIÓN               :    
  '   VERSIÓN               :   
  '   MODIFICADO EN         :   
  '   MODIFICADO POR        :   
  '   RAZÓN DE MODIFICACIÓN : PROBAR  
  '===============================================================*/  
  
SET XACT_ABORT ON                 
SET NOCOUNT ON  
SET LOCK_TIMEOUT 180000  
  
BEGIN  
  
BEGIN TRY    
    -- ============================================================
    -- VALIDACIÓN: El mismo JSON SOLO PUEDE EJECUTARSE UNA VEZ
    -- ============================================================
    DECLARE @CurrentTime DATETIME = GETDATE()
    DECLARE @DESDE DATETIME = GETDATE()-1
        
    -- Verificar si el mismo JSON YA FUE EJECUTADO ALGUNA VEZ
    IF EXISTS (
        SELECT 1 FROM AUDIT WITH (NOLOCK)
        WHERE DCREATED>@DESDE
        AND VACTION = 'USP_POST_MOVEMENTDETAILS_GROUPED'
        AND VCOMMENT = @DATA
    )
    BEGIN
        -- Ejecución duplicada detectada
        INSERT INTO AUDIT(IDUSER, IDRECORD, IDMODULE, VACTION, VCOMMENT, IDRELATED, DCREATED)
        SELECT @IDUSER, 0, 30, 'USP_POST_MOVEMENTDETAILS_GROUPED','IDEM: '+@DATA,0, @CurrentTime

        RETURN
    END
  
BEGIN TRAN  

    -- Registrar esta ejecución
    INSERT INTO AUDIT(IDUSER, IDRECORD, IDMODULE, VACTION, VCOMMENT, IDRELATED, DCREATED)
    SELECT @IDUSER, 0, 30, 'USP_POST_MOVEMENTDETAILS_GROUPED',@DATA,0, @CurrentTime
  
    DECLARE @IREQUIRED_PARTIAL INT  
    DECLARE @ID_GROUPED INT  
    DECLARE @ID_PARTIAL INT  
    DECLARE @IREAL_PARTIAL INT  
    DECLARE @IREAL_GROUPED INT  
    DECLARE @IDLOCATION INT  
    DECLARE @IDPART INT  
    DECLARE @VSERIAL VARCHAR(20)  
    DECLARE @IDPARTIALTYPE INT  
    DECLARE @IDMOVEMENTDETAIL INT  
    DECLARE @IDMOVEMENT INT  
  
    DECLARE @TDATA AS TABLE  
    (  
    ID INT,  
    IDMOVEMENT INT,  
    IDPART INT,  
    IDLOCATION INT,  
    IREAL INT,  
    VSERIAL VARCHAR(20),  
    IDPARTIALTYPE INT  
    );  
  
    DECLARE @DATOS AS TABLE  
    (  
    ID INT,  
    IDPART INT,  
    IDLOCATION INT,  
    IREAL INT,  
    VSERIAL VARCHAR(20),  
    IDPARTIALTYPE INT,  
    IREQUIRED INT  
    );  
  
    INSERT INTO @TDATA  
    SELECT M.Id,M.MovementId,M.PartId,M.LocationId,M.RealQty,M.SerialCode, M.PartialTypeId  
    FROM OPENJSON(@DATA)  
    WITH (  
    Id int, MovementId int, PartId int, LocationId int, RealQty int, SerialCode varchar(20), PartialTypeId int  
    ) AS M  
      
  
    SELECT TOP 1 @IREAL_GROUPED=CASE WHEN ISNULL(IDPART,0)=0 THEN 0 ELSE IREAL END,  
    @ID_GROUPED=ID,@IDLOCATION=IDLOCATION,@IDPART=ISNULL(IDPART,0) ,  
    @VSERIAL=VSERIAL,@IDPARTIALTYPE=IDPARTIALTYPE  
    FROM @TDATA  
  
    DECLARE @CANT_TDATA INT
    SET @CANT_TDATA=0
    SELECT @CANT_TDATA= COUNT(*) FROM @TDATA

    DECLARE @BGROUPED BIT  
    SET @BGROUPED=0  

    -- NO SE PERMITE TIPEAR CERO AL VALIDAR REPUESTO EN ENTREGAS DE TRASLADOS O RECEPCIONES
    IF EXISTS(SELECT * FROM LOCATION WITH (NOLOCK)
			    WHERE ID=@IDLOCATION AND VTYPE<>'D') AND ISNULL(@IDPART,0)=0
    BEGIN
	    RAISERROR ( 'OPERACION INVALIDA' , 16,1) 
    END
  
    IF EXISTS(SELECT * FROM LOCATION WITH (NOLOCK)WHERE ID=@IDLOCATION AND VTYPE='D') AND ISNULL(@IDPART,0)=0  
    BEGIN  
        --SELECT 'REPUESTO 0'  
        INSERT INTO @DATOS  
        SELECT   
        ID ,IDPART ,IDLOCATION ,  
        ISNULL(IREQUIRED,0) ,ISNULL(VSERIAL,'') ,ISNULL(IDPARTIALTYPE,0) ,IREQUIRED  
        FROM MOVEMENTDETAILS WITH (NOLOCK)  
        WHERE IDUSER=@IDUSER   
        AND VTYPE='D' AND IDLOCATION=@IDLOCATION AND BPROCESSED=0  
        ORDER BY ID  
    END  
    ELSE  
    BEGIN  
        --SELECT 'AGRUPADO '  
        INSERT INTO @DATOS  
        SELECT   
        D.ID ,D.IDPART ,@IDLOCATION ,  
        0 IREAL ,@VSERIAL ,@IDPARTIALTYPE ,D.IREQUIRED  
        FROM MOVEMENTDETAILS D WITH (NOLOCK)  
        WHERE D.IDGROUP=@ID_GROUPED  
        ORDER BY D.ID  
  
        SET @BGROUPED=1  
    END  
 
  
    DECLARE @CANT_DATOS INT
    SET @CANT_DATOS=0
    SELECT @CANT_DATOS= COUNT(*) FROM @DATOS

    DECLARE @VTOTALES_TEMP VARCHAR(50)
  
    DECLARE DETAIL_CURSOR CURSOR FOR   
        SELECT ID ,IDPART , IDLOCATION ,IREAL , IREQUIRED  FROM @DATOS   
    OPEN DETAIL_CURSOR;  
    FETCH NEXT FROM DETAIL_CURSOR INTO @ID_PARTIAL,@IDPART,@IDLOCATION,@IREAL_PARTIAL,@IREQUIRED_PARTIAL;  
    WHILE @@FETCH_STATUS = 0  
    BEGIN  
        IF @BGROUPED=1  
        BEGIN  
            SELECT @IREAL_PARTIAL = CASE WHEN @IREQUIRED_PARTIAL<=@IREAL_GROUPED THEN @IREQUIRED_PARTIAL ELSE @IREAL_GROUPED END  
            SELECT @IREAL_GROUPED = @IREAL_GROUPED-@IREAL_PARTIAL  
            IF @IREAL_GROUPED<0  
            SET @IREAL_GROUPED=0  
        END  

        EXEC USP_POST_MOVEMENTDETAILS_PARTIAL2 @ID_PARTIAL,@IDPART,@IDLOCATION,@IREAL_PARTIAL,@VSERIAL,@IDPARTIALTYPE,@IDUSER;  

        SELECT @VTOTALES_TEMP='TDATA: '+CAST( @CANT_TDATA AS VARCHAR(10)) + ' DATOS: '+CAST( @CANT_DATOS AS VARCHAR(10))

        INSERT INTO AUDIT(IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
        SELECT @IDUSER,@ID_PARTIAL,30,'PROCESS','USP_POST_MOVEMENTDETAILS_GROUPED. '+@VTOTALES_TEMP,0,GETDATE()
  
        FETCH NEXT FROM DETAIL_CURSOR INTO @ID_PARTIAL,@IDPART,@IDLOCATION,@IREAL_PARTIAL,@IREQUIRED_PARTIAL;  
    END;  
  
    CLOSE DETAIL_CURSOR;  
    DEALLOCATE DETAIL_CURSOR;  
  
    COMMIT TRAN  
END TRY  
BEGIN CATCH  
    IF XACT_STATE() <> 0  
        ROLLBACK TRAN  
    DECLARE @ErrorMessage NVARCHAR(4000)   
    SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()  
    RAISERROR ( @ErrorMessage , 16,1)   
END CATCH  
  
END  
