USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_INSPECTION]    Script Date: 17/04/2026 02:52:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_INSPECTION]
 @DATA NVARCHAR(MAX)
AS
/* '===============================================================          
 '   NOMBRE                : USP_POST_INSPECTION
 '   FECHA CREACIÓN        : 06/04/2026
 '   CREADO POR            : JOSÉ DÍAZ
 '   CREADO PARA           : INSERTAR O ACTUALIZAR INSPECCIONES (UPSERT)
 '   FUNCIÓN               : PROCESAR JSON PARA CARGA O EDICIÓN DE INSPECCIONES
 '   VERSIÓN               : 1.0.4
 '===============================================================*/
SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000
BEGIN
    BEGIN TRY
        BEGIN TRAN 
            -- 1. Declaración de tabla temporal incluyendo el ID y nuevos campos
            DECLARE @TDATA AS TABLE
            (
                ID INT,
                ICREATEDBY INT,
                IDVEHICLE INT,
                IDAREA INT,
                IDINITBY INT,
                IDCLOSEDBY INT,
                IDTRANSPORTER INT,
                IDRECEPBY INT,
                DDATEINIT DATETIME,
                DDATECLOSE DATETIME,
                DRECEPTION DATETIME,
                IDDEALER INT, 
                VCOMMENT VARCHAR(150)
            );

            -- 2. Inserción de datos desde el JSON
            INSERT INTO @TDATA
            SELECT 
                ISNULL(M.Id, 0),
                M.CreatedBy,
                M.VehicleId,
                M.AreaId,
                M.InitBy,
                M.ClosedBy,
                M.TransporterId,
                M.RecepBy,
                M.DInit,
                M.DClose,
                M.DReception,
                M.DealerId,
                M.Comment
            FROM OPENJSON(@DATA)
            WITH (
                Id INT,
                CreatedBy INT,
                VehicleId INT,
                AreaId INT,
                InitBy INT,
                ClosedBy INT,
                TransporterId INT,
                RecepBy INT,
                DInit DATETIME,
                DClose DATETIME,
                DReception DATETIME,
                DealerId INT,
                Comment VARCHAR(150)
            ) AS M;
		
            -- 3. Declaración de variables de control
            DECLARE @IID INT
            DECLARE @IINSERTED INT = 0
            DECLARE @IUPDATED INT = 0

            -------- 4. Lógica de ACTUALIZACIÓN (UPDATE) ----------------
            UPDATE I
            SET 
                I.ICREATEDBY = T.ICREATEDBY,
                I.IDVEHICLE = T.IDVEHICLE,
                I.IDAREA = T.IDAREA,
                I.IDINITBY = T.IDINITBY,
                I.IDCLOSEDBY = T.IDCLOSEDBY,
                I.IDTRANSPORTER = T.IDTRANSPORTER,
                I.IDRECEPBY = T.IDRECEPBY,
                I.DUPDATED = GETDATE(),
                I.DDATEINIT = T.DDATEINIT,
                I.DDATECLOSE = T.DDATECLOSE,
                I.DRECEPTION = T.DRECEPTION,
                I.IDDEALER = T.IDDEALER,
                I.VCOMMENT = T.VCOMMENT
            FROM INSPECTION I
            INNER JOIN @TDATA T ON I.ID = T.ID
            WHERE T.ID > 0;

            SET @IUPDATED = @@ROWCOUNT;

            -------- 5. Lógica de INSERCIÓN (INSERT) ----------------
            INSERT INTO INSPECTION (
                ICREATEDBY, 
                IDVEHICLE, 
                IDAREA, 
                IDINITBY, 
                IDCLOSEDBY, 
                IDTRANSPORTER, 
                IDRECEPBY,
                DDATEINIT, 
                DDATECLOSE, 
                DRECEPTION,
                IDDEALER,
                VCOMMENT
            )
            SELECT 
                ICREATEDBY, 
                IDVEHICLE, 
                IDAREA,
                IDINITBY,
                IDCLOSEDBY,
                IDTRANSPORTER,
                IDRECEPBY,
                DDATEINIT,
                DDATECLOSE,
                DRECEPTION,
                IDDEALER,
                VCOMMENT
            FROM @TDATA D
            WHERE D.ID = 0; 

            SET @IINSERTED = @@ROWCOUNT;
            SET @IID = SCOPE_IDENTITY();
			
            -- 6. Retorno de información final
            SELECT
                ISNULL(NULLIF(@IID, 0), (SELECT TOP 1 ID FROM @TDATA WHERE ID > 0)) AS IID, 
                ISNULL(@IINSERTED, 0) AS IINSERTED,
                ISNULL(@IUPDATED, 0) AS IUPDATED
        COMMIT TRAN
    END TRY
    BEGIN CATCH
        -- 7. Manejo de errores
        IF XACT_STATE() <> 0
            ROLLBACK TRAN

        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END;