USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_FASE_ACTIONS]    Script Date: 15/04/2026 10:13:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_FASE_ACTIONS]
 @DATA NVARCHAR(MAX),
 @IDUSER INT

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(200),
					IDRELATED INT
				);

				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS A

				DECLARE @IDACTION INT
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT

				SELECT TOP 1 @VACTION=VACTION, @IDMODULE=IDMODULE FROM @TDATA
				SELECT TOP 1 @IDACTION = ID FROM ACTION WITH (NOLOCK) WHERE VNAME= @VACTION 
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT


				IF @VACTION='ACTIVATE' OR @VACTION='DEACTIVATE'
				BEGIN
					UPDATE F
						SET F.BACTIVE = CASE WHEN @VACTION='ACTIVATE' THEN 1 ELSE 0 END,
							F.DUPDATED = GETDATE(),
							F.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM FASE F
					INNER JOIN @TDATA D ON D.IDRECORD=F.ID 

					SELECT @IUPDATED=@@ROWCOUNT

					DECLARE @BACTIVE BIT
					SELECT @BACTIVE= CASE WHEN @VACTION='ACTIVATE' THEN 1 ELSE 0 END 
					-- EXEC USP_REPLICATE_INSPECCION @IDUSER,@BACTIVE
				END

				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				IF @IUPDATED>0
				BEGIN
				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA
				END

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END




