USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_FASES]    Script Date: 15/04/2026 10:13:31 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_FASES]
    @DATA NVARCHAR(MAX),
    @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               : 
  '   VERSIÓN               :
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
    BEGIN TRY
     
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @NAME         VARCHAR(100) = NULL
        DECLARE @VACTION      VARCHAR(20)
        DECLARE @IID          INT
        DECLARE @IINSERTED    INT
        DECLARE @IUPDATED     INT
        DECLARE @IDMODULE     INT = [dbo].[UFN_GET_IDMODULE]('INSPECCION-FASE')
         
        DECLARE @TDATA AS TABLE (
            ID         INT,
            VNAME      VARCHAR(100),
            IDAREA     INT,
            IORDERBY   INT,
            IDSUPPLIER INT,
            IDDEALER   INT,
            BACTIVE    BIT
        )

        INSERT INTO @TDATA (ID, VNAME, IDAREA, IORDERBY, IDSUPPLIER, IDDEALER, BACTIVE)
        SELECT
            Id,
            LTRIM(RTRIM(Name)),
            AreaId,
            OrderBy,
            SupplierId,
            DealerId,
            IsActive
        FROM OPENJSON(@DATA)
        WITH (
            Id         INT,
            Name       VARCHAR(100),
            AreaId     INT,
            OrderBy    INT,
            SupplierId INT,
            DealerId   INT,
            IsActive   BIT
        ) 

        -- NOMBRE VACÍO O NULO
        IF @ErrorMessage IS NULL
            IF EXISTS (SELECT 1 FROM @TDATA WHERE ISNULL(VNAME,'') = '')
                SET @ErrorMessage = 'EL NOMBRE DE LA FASE ES OBLIGATORIO'

        -- LONGITUD DEL NOMBRE
        IF @ErrorMessage IS NULL
            IF EXISTS (SELECT 1 FROM @TDATA WHERE LEN(VNAME) > 100)
                SET @ErrorMessage = 'EL NOMBRE NO PUEDE SUPERAR LOS 100 CARACTERES'

        -- AREA VÁLIDA
        IF @ErrorMessage IS NULL
            IF EXISTS (SELECT 1 FROM @TDATA WHERE ISNULL(IDAREA,0) = 0)
                SET @ErrorMessage = 'DEBE SELECCIONAR UN ÁREA VÁLIDA' 

        -- ORDERBY VÁLIDO
        IF @ErrorMessage IS NULL
            IF EXISTS (SELECT 1 FROM @TDATA WHERE ISNULL(IORDERBY,0) <= 0)
                SET @ErrorMessage = 'EL ORDEN ES OBLIGATORIO Y DEBE SER MAYOR A 0'

        -- DUPLICADO CONTRA LA BD
        IF @ErrorMessage IS NULL
        BEGIN
            SELECT TOP 1 @NAME = D.VNAME
            FROM @TDATA D
            INNER JOIN FASE F WITH (NOLOCK)
                ON  F.VNAME      = D.VNAME
                AND F.IDAREA     = D.IDAREA
                AND F.IDSUPPLIER = D.IDSUPPLIER
                AND F.IDDEALER   = D.IDDEALER
                AND F.ID        != D.ID
            IF @NAME IS NOT NULL
                SET @ErrorMessage = 'LA FASE QUE INTENTAS CREAR YA EXISTE: ' + @NAME
        END
         
        IF @ErrorMessage IS NOT NULL
        BEGIN
            RAISERROR(@ErrorMessage, 16, 1)
            RETURN
        END
         
        BEGIN TRAN

            IF EXISTS (SELECT 1 FROM @TDATA WHERE ID = 0)
            BEGIN
                SET @VACTION = 'CREATE'
                --EXEC USP_CHECK_CREDENTIALS @IDUSER, @VACTION, @IDMODULE

                INSERT INTO FASE (VNAME, IDAREA, IORDERBY, IDSUPPLIER, IDDEALER, BACTIVE, DCREATED, DUPDATED, VUPDATEDBY)
                SELECT
                    D.VNAME,
                    D.IDAREA,
                    D.IORDERBY,
                    D.IDSUPPLIER,
                    D.IDDEALER,
                    D.BACTIVE,
                    GETDATE(),
                    GETDATE(),
                    DBO.UFN_GET_LOGIN(@IDUSER)
                FROM @TDATA D
                WHERE NOT EXISTS (SELECT 1 FROM FASE F WITH (NOLOCK) WHERE F.ID = D.ID)

                SELECT @IINSERTED = @@ROWCOUNT
                SELECT @IID       = SCOPE_IDENTITY()
            END
            ELSE
            BEGIN
                SET @VACTION = 'EDIT'
                --EXEC USP_CHECK_CREDENTIALS @IDUSER, @VACTION, @IDMODULE

                UPDATE F
                SET
                    F.VNAME      = D.VNAME,
                    F.IDAREA     = D.IDAREA,
                    F.IORDERBY   = D.IORDERBY,
                    F.BACTIVE    = D.BACTIVE,
                    F.DUPDATED   = GETDATE(),
                    F.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
                FROM FASE F
                INNER JOIN @TDATA D ON D.ID = F.ID

                SELECT @IUPDATED = @@ROWCOUNT
            END
             
        SELECT
            ISNULL(@IID,       0) AS IID,
            ISNULL(@IINSERTED, 0) AS IINSERTED,
            ISNULL(@IUPDATED,  0) AS IUPDATED

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
        RAISERROR(@ErrorMessage, 16, 1)
    END CATCH
END