USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_FASE]    Script Date: 15/04/2026 10:06:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_FASE]  -- USP_GET_FASE 1,null,4069,0
@IDUSER     INT,
@ID         INT           = NULL,
@IDSUPPLIER INT           = 0,
@IDDEALER   INT           = 0,
@IROWFROM   INT           = NULL,
@VFILTER    VARCHAR(100)  = NULL,
@BACTIVE    BIT           = NULL
AS
/* '===============================================================          
  '   NOMBRE                :  
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               :  
  '   MODIFICADO EN         :  
  '   MODIFICADO POR        :   
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000 

DECLARE @TOPE INT 

IF @IROWFROM IS NULL
BEGIN
	SET @TOPE = 1000000
	SET @IROWFROM = 0
END
	ELSE
BEGIN
	SET @TOPE = 100
END  
	
DECLARE @LIKEFILTER VARCHAR (100)
SELECT  @VFILTER    = ISNULL(@VFILTER,'')
SELECT  @LIKEFILTER = '%'+@VFILTER+'%'

IF @ID IS NOT NULL
	BEGIN
		SELECT 
			F.ID,
			F.VNAME, 
			F.IDAREA,
			A.VNAME      AS VAREA,
			F.IDDEALER,
			D.DEALER     AS VDEALER,
			F.IDSUPPLIER,
			S.VSUPPLIER,
			F.VUPDATEDBY,
			F.DUPDATED,
			F.IORDERBY,
			F.BACTIVE
		FROM FASE F WITH (NOLOCK)  
		INNER JOIN AREA         A  WITH (NOLOCK) ON A.ID          = F.IDAREA
		INNER JOIN V_SUPPLIERS  S  WITH (NOLOCK) ON S.IDSUPPLIER  = F.IDSUPPLIER   
		LEFT JOIN V_DEALERS    D  WITH (NOLOCK) ON D.IDDEALER    = F.IDDEALER   
		WHERE F.ID=@ID  
END
ELSE
BEGIN 
	WITH  T1 as (
		SELECT 
			F.ID,
			F.VNAME, 
			F.IDAREA,
			A.VNAME      AS VAREA,
			F.IDDEALER,
			D.DEALER     AS VDEALER,
			F.IDSUPPLIER,
			S.VSUPPLIER,
			F.VUPDATEDBY,
			F.DUPDATED,
			F.IORDERBY,
			F.BACTIVE
		FROM FASE F  WITH (NOLOCK)  
		INNER JOIN AREA         A    WITH (NOLOCK) ON A.ID         = F.IDAREA
		INNER JOIN V_SUPPLIERS  S    WITH (NOLOCK) ON S.IDSUPPLIER = F.IDSUPPLIER   
		LEFT JOIN V_DEALERS    D    WITH (NOLOCK) ON D.IDDEALER   = F.IDDEALER    
		WHERE  (@BACTIVE    = F.BACTIVE OR @BACTIVE IS NULL)
			AND F.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 
									THEN F.IDSUPPLIER 
									ELSE @IDSUPPLIER 
								END 
			AND F.IDDEALER = ISNULL(NULLIF(@IDDEALER, 0), 0)
			AND (
				F.VNAME      LIKE @LIKEFILTER OR
				F.VUPDATEDBY LIKE @LIKEFILTER OR
				A.VNAME      LIKE @LIKEFILTER  
			) 
	),
	T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
	T3 AS (
		SELECT * FROM T1
		ORDER BY T1.IORDERBY ASC 
		OFFSET @IROWFROM ROWS
		FETCH NEXT @TOPE ROWS ONLY
	)
	SELECT T3.*, T2.TOTAL FROM T3, T2; 
END
