USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_REPORTS_REP011]    Script Date: 20/04/2026 09:49:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_REPORTS_REP011] --USP_GET_REPORTS_REP011 1, NULL,NULL,NULL,'',NULL,NULL,NULL 
@IDUSER     INT,  
@IDDEALER   INT          = NULL,
@IDSUPPLIER INT          = NULL,
@IROWFROM   INT          = NULL,
@VFILTER    VARCHAR(100) = NULL,
@DFROMDATE  DATETIME     = NULL,
@DUPTODATE  DATETIME     = NULL,
@IDESTATUS  INT          = NULL
AS
/* '===============================================================
  '   NOMBRE                : 
  '   FECHA CREACIÓN        :  SARAHY CHIRINOS
  '   CREADO POR            : 
  '   CREADO PARA           : 
  '   FUNCIÓN               : REPORTE DEMANDA INSATISFECHA
  '   VERSIÓN               :  
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

    -- PREPARAR PAGINACION
    DECLARE @TOPE INT
    IF @IROWFROM IS NULL
    BEGIN
        SET @TOPE     = 1000000
        SET @IROWFROM = 0
    END
    ELSE
    BEGIN
        SET @TOPE = 100
    END

    SELECT @DFROMDATE = CONVERT(VARCHAR(10), @DFROMDATE, 120)
    SELECT @DUPTODATE = CONVERT(VARCHAR(10), @DUPTODATE, 120)

BEGIN

    WITH O AS (
        SELECT
            D.ID,
            D.IDPART,
            D.VINNERCODE,
            D.VDESCRIPTION,
            D.IQUANTITY,
            D.DCREATED,
            D.IDDEALER,
            D.IDMODEL,
            D.IDREASON 
        FROM DEMAND D WITH (NOLOCK)
        INNER JOIN V_DEALERS CD WITH (NOLOCK) ON CD.IDDEALER = D.IDDEALER
        WHERE
            D.DCREATED >= ISNULL(@DFROMDATE, D.DCREATED)
            AND D.DCREATED <  DATEADD(DAY, 1, ISNULL(@DUPTODATE, D.DCREATED))
            AND (@IDSUPPLIER IS NULL OR CD.IDSUPPLIER = @IDSUPPLIER)   
            AND (ISNULL(@IDDEALER, 0) = 0 OR CD.IDDEALER = @IDDEALER)  
    ), 
    T1 AS (
        -- 2. JOINS Y FILTRO DE TEXTO/ESTATUS
        SELECT
            O.*,
            DR.VDESCRIPTION AS VMOTIVO,
            CD.DEALER        AS VDEALER,
            MO.VDESCRIPTION AS VMODELO
        FROM O
        INNER JOIN DEMAND_REASON DR WITH (NOLOCK) ON DR.ID = O.IDREASON
        INNER JOIN V_DEALERS     CD  WITH (NOLOCK) ON CD.IDDEALER = O.IDDEALER
        INNER JOIN MODEL         MO WITH (NOLOCK) ON MO.ID = O.IDMODEL
        WHERE
        (
            O.VINNERCODE     LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + O.VINNERCODE     + '%' ELSE '%' + @VFILTER + '%' END
            OR O.VDESCRIPTION  LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + O.VDESCRIPTION  + '%' ELSE '%' + @VFILTER + '%' END
            OR CD.DEALER        LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + CD.DEALER          + '%' ELSE '%' + @VFILTER + '%' END
            OR DR.VDESCRIPTION     LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + DR.VDESCRIPTION          + '%' ELSE '%' + @VFILTER + '%' END
            OR MO.VDESCRIPTION       LIKE CASE WHEN ISNULL(@VFILTER,'') = '' THEN '%' + MO.VDESCRIPTION        + '%' ELSE '%' + @VFILTER + '%' END
        )
        AND DR.ID = CASE WHEN ISNULL(@IDESTATUS, 0) = 0 THEN DR.ID ELSE @IDESTATUS END
    ),
    T2 AS (
        -- 3. TOTAL DE REGISTROS
        SELECT COUNT(*) AS TOTAL FROM T1
    ),
    T3 AS (
        -- 4. SELECCION FINAL PAGINADA
        SELECT
            T1.DCREATED                                    AS [FECHA REGISTRO],
            T1.VINNERCODE                                  AS [CODIGO PARTE],
            T1.VDESCRIPTION                                AS [NOMBRE PARTE],
            T1.VMODELO                                     AS [MODELO],
            T1.VMOTIVO                                     AS [MOTIVO],
            T1.IQUANTITY                                   AS [CANTIDAD],
            T1.VDEALER                                     AS [CONCESIONARIO]
        FROM T1
        ORDER BY T1.DCREATED DESC
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
    )
    SELECT T3.*, T2.TOTAL
    FROM T3, T2

END
