USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_FEATURETYPE]    Script Date: 15/04/2026 10:20:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_FEATURETYPE]
    @DATA NVARCHAR(MAX),
    @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               : 
  '   VERSIÓN               :
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
SET XACT_ABORT ON
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
    BEGIN TRY 
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @NAME         VARCHAR(100) = NULL
        DECLARE @VACTION      VARCHAR(20)
        DECLARE @IID          INT
        DECLARE @IINSERTED    INT
        DECLARE @IUPDATED     INT
        DECLARE @IDMODULE     INT = [dbo].[UFN_GET_IDMODULE]('INSPECCION-TIPOS-CARACTERISTICAS')
         
        DECLARE @TDATA AS TABLE (
            ID         INT,
            VNAME      VARCHAR(100),
            IDFASE     INT,
            IDSUPPLIER INT,
            IDDEALER   INT,
            BACTIVE    BIT
        )

        INSERT INTO @TDATA (ID, VNAME, IDFASE, IDSUPPLIER, IDDEALER, BACTIVE)
        SELECT
            Id,
            LTRIM(RTRIM(Name)),
            FaseId,
            SupplierId,
            DealerId,
            IsActive
        FROM OPENJSON(@DATA)
        WITH (
            Id              INT,
            Name            VARCHAR(100),
            FaseId          INT,
            SupplierId      INT,
            DealerId        INT,
            IsActive        BIT
        )
         
        IF @ErrorMessage IS NULL
            IF EXISTS (SELECT 1 FROM @TDATA WHERE ISNULL(VNAME,'') = '')
                SET @ErrorMessage = 'EL NOMBRE DEL TIPO DE CARACTERÍSTICA ES OBLIGATORIO'
                 
        IF @ErrorMessage IS NULL
            IF EXISTS (SELECT 1 FROM @TDATA WHERE LEN(VNAME) > 100)
                SET @ErrorMessage = 'EL NOMBRE NO PUEDE SUPERAR LOS 100 CARACTERES' 

        IF @ErrorMessage IS NULL
            IF EXISTS (SELECT 1 FROM @TDATA WHERE ISNULL(IDFASE,0) = 0)
                SET @ErrorMessage = 'DEBE SELECCIONAR UNA FASE VÁLIDA' 
         
        -- DUPLICADO CONTRA LA BD
        IF @ErrorMessage IS NULL
        BEGIN
            SELECT TOP 1 @NAME = D.VNAME
            FROM @TDATA D
            INNER JOIN FEATURETYPE FT WITH (NOLOCK)
                ON  FT.VNAME      = D.VNAME
                AND FT.IDFASE     = D.IDFASE
                AND FT.IDSUPPLIER = D.IDSUPPLIER
                AND FT.IDDEALER   = D.IDDEALER
                AND FT.ID        != D.ID
            IF @NAME IS NOT NULL
                SET @ErrorMessage = 'EL TIPO DE CARACTERÍSTICA QUE INTENTAS CREAR YA EXISTE: ' + @NAME
        END
         
        IF @ErrorMessage IS NOT NULL
        BEGIN
            RAISERROR(@ErrorMessage, 16, 1)
            RETURN
        END
         
        BEGIN TRAN 
            IF EXISTS (SELECT 1 FROM @TDATA WHERE ID = 0)
            BEGIN
                SET @VACTION = 'CREATE'
                --EXEC USP_CHECK_CREDENTIALS @IDUSER, @VACTION, @IDMODULE

                INSERT INTO FEATURETYPE (VNAME, IDFASE, IDSUPPLIER, IDDEALER, BACTIVE, DCREATED, DUPDATED, VUPDATEDBY)
                SELECT
                    D.VNAME,
                    D.IDFASE,
                    D.IDSUPPLIER,
                    D.IDDEALER,
                    D.BACTIVE,
                    GETDATE(),
                    GETDATE(),
                    DBO.UFN_GET_LOGIN(@IDUSER)
                FROM @TDATA D
                WHERE NOT EXISTS (SELECT 1 FROM FEATURETYPE FT WITH (NOLOCK) WHERE FT.ID = D.ID)

                SELECT @IINSERTED = @@ROWCOUNT
                SELECT @IID       = SCOPE_IDENTITY()
            END
            ELSE
            BEGIN
                SET @VACTION = 'EDIT'
                --EXEC USP_CHECK_CREDENTIALS @IDUSER, @VACTION, @IDMODULE

                UPDATE FT
                SET
                    FT.VNAME      = D.VNAME,
                    FT.IDFASE     = D.IDFASE,
                    FT.BACTIVE    = D.BACTIVE,
                    FT.DUPDATED   = GETDATE(),
                    FT.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
                FROM FEATURETYPE FT
                INNER JOIN @TDATA D ON D.ID = FT.ID

                SELECT @IUPDATED = @@ROWCOUNT
            END
             
        SELECT
            ISNULL(@IID,       0) AS IID,
            ISNULL(@IINSERTED, 0) AS IINSERTED,
            ISNULL(@IUPDATED,  0) AS IUPDATED

        COMMIT TRAN

    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
        RAISERROR(@ErrorMessage, 16, 1)
    END CATCH
END