USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_FEATUREOPTION]    Script Date: 17/04/2026 09:50:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_FEATUREOPTION]
    @DATA   NVARCHAR(MAX),
    @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                :  
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               :  
  '   MODIFICADO EN         :  
  '   MODIFICADO POR        :   
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
SET XACT_ABORT ON
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
    BEGIN TRY
        DECLARE @ErrorMessage   NVARCHAR(4000)
        DECLARE @VACTION        VARCHAR(20)
        DECLARE @IID            INT
        DECLARE @IINSERTED      INT
        DECLARE @IUPDATED       INT
        DECLARE @IDMODULE       INT = [dbo].[UFN_GET_IDMODULE]('INSPECCION-CARACTERISTICAS')

        DECLARE @TDATA AS TABLE (
            ID          INT,
            IDFEATURE   INT,
            VNAME       VARCHAR(100),
            BACTIVE     BIT 
        )

        INSERT INTO @TDATA (ID, IDFEATURE, VNAME, BACTIVE)
        SELECT
            Id,
            FeatureId,
            LTRIM(RTRIM(Name)),
            IsActive 
        FROM OPENJSON(@DATA)
        WITH (
            Id         INT,
            FeatureId  INT,
            Name       VARCHAR(100),
            IsActive   BIT 
        )

        -- FEATURE VÁLIDO
        IF @ErrorMessage IS NULL
            IF EXISTS (SELECT 1 FROM @TDATA WHERE ISNULL(IDFEATURE, 0) = 0)
                SET @ErrorMessage = 'DEBE ASOCIAR UNA CARACTERÍSTICA VÁLIDA'

        -- NOMBRE VACÍO O NULO
        IF @ErrorMessage IS NULL
            IF EXISTS (SELECT 1 FROM @TDATA WHERE ISNULL(VNAME,'') = '')
                SET @ErrorMessage = 'NOMBRE DE LA OPCIÓN OBLIGATORIO'

        -- LONGITUD DEL NOMBRE
        IF @ErrorMessage IS NULL
            IF EXISTS (SELECT 1 FROM @TDATA WHERE LEN(VNAME) > 100)
                SET @ErrorMessage = 'LA OPCIÓN NO PUEDE SUPERAR LOS 100 CARACTERES'

        -- DUPLICADO CONTRA LA BD
        IF @ErrorMessage IS NULL
        BEGIN
            DECLARE @DUPNAME VARCHAR(100)
            SELECT TOP 1 @DUPNAME = D.VNAME
            FROM @TDATA D
            INNER JOIN FEATUREOPTION FO WITH (NOLOCK)
                ON  FO.VNAME      = D.VNAME
                AND FO.IDFEATURE  = D.IDFEATURE 
                AND FO.ID        != D.ID
            IF @DUPNAME IS NOT NULL
                SET @ErrorMessage = 'LA OPCIÓN QUE INTENTAS CREAR YA EXISTE: ' + @DUPNAME
        END

        IF @ErrorMessage IS NOT NULL
        BEGIN
            RAISERROR(@ErrorMessage, 16, 1)
            RETURN
        END

        BEGIN TRAN
         IF EXISTS (SELECT 1 FROM @TDATA WHERE ID = 0)
            BEGIN 
                SET @VACTION = 'CREATE'
                EXEC USP_CHECK_CREDENTIALS @IDUSER, @VACTION, @IDMODULE
 
            -- INSERT opciones nuevas
            INSERT INTO FEATUREOPTION (IDFEATURE, VNAME, BACTIVE)
            SELECT
                D.IDFEATURE,
                D.VNAME,
                D.BACTIVE 
            FROM @TDATA D
            WHERE D.ID = 0

            SELECT @IINSERTED = @@ROWCOUNT
            SELECT @IID       = SCOPE_IDENTITY() 

            END
            ELSE
            BEGIN
                SET @VACTION = 'EDIT'
                EXEC USP_CHECK_CREDENTIALS @IDUSER, @VACTION, @IDMODULE
                -- UPDATE opciones existentes
                UPDATE FO
                SET
                    FO.VNAME     = D.VNAME,
                    FO.BACTIVE   = D.BACTIVE
                FROM FEATUREOPTION FO
                INNER JOIN @TDATA D ON D.ID = FO.ID
                WHERE D.ID > 0

                SELECT @IUPDATED = @@ROWCOUNT

        END
             
        SELECT
            ISNULL(@IID,       0) AS IID,
            ISNULL(@IINSERTED, 0) AS IINSERTED,
            ISNULL(@IUPDATED,  0) AS IUPDATED

        COMMIT TRAN

    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage2 NVARCHAR(4000)
        SELECT @ErrorMessage2 = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
        RAISERROR(@ErrorMessage2, 16, 1)
    END CATCH
END
