USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_DEALER]    Script Date: 17/04/2026 02:50:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_DEALER] --  USP_GET_DEALERSPDI 4069
(
@IDSUPPLIER INT
)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000
	
BEGIN
	SELECT 
	D.IDDEALER AS ID, 
	D.DEALER AS VNAME, 
	D.VREFERENCEDEALER AS VREFERENCE
	FROM V_DEALERS D
	WHERE IDSUPPLIER=@IDSUPPLIER
END
