USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_FEATUREVALUETYPE]    Script Date: 16/04/2026 02:00:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_FEATUREVALUETYPE]  --USP_GET_FEATUREVALUETYPE 1 
@IDUSER     INT 
AS
/* '===============================================================          
  '   NOMBRE                :  
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               :  
  '   MODIFICADO EN         :  
  '   MODIFICADO POR        :   
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
    BEGIN TRY
        SELECT
            ID,
            VNAME
        FROM FEATUREVALUETYPE WITH (NOLOCK)
        ORDER BY ID ASC
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000)
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
        RAISERROR(@ErrorMessage, 16, 1)
    END CATCH
END