USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_FEATUREOPTION]    Script Date: 20/04/2026 08:25:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_FEATUREOPTION]  --USP_GET_FEATUREOPTION 1 , 19, 1
 @IDUSER     INT,
 @IDFEATURE  INT,
 @BACTIVE    BIT = NULL
as
/* '===============================================================          
  '   NOMBRE                :  
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               :  
  '   MODIFICADO EN         :  
  '   MODIFICADO POR        :   
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
 
SET XACT_ABORT ON
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000
BEGIN
    BEGIN TRY
        SELECT
            FO.ID,
            FO.IDFEATURE,
            FO.VNAME,
            FO.BACTIVE,
            FO.IORDER
        FROM FEATUREOPTION FO WITH (NOLOCK)
        WHERE FO.IDFEATURE = @IDFEATURE
         AND (@BACTIVE    = FO.BACTIVE OR @BACTIVE IS NULL)
        ORDER BY FO.IORDER ASC;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000)
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
        RAISERROR(@ErrorMessage, 16, 1)
    END CATCH
END
