USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_AREA]    Script Date: 15/04/2026 10:06:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_AREA]   --USP_GET_AREA 1,0,4069,0,NULL
@IDUSER     INT,
@ID         INT           = NULL,
@IDSUPPLIER INT           = 0,
@IDDEALER   INT           = 0,
@IROWFROM   INT           = NULL,
@BACTIVE    BIT           = NULL,
@VFILTER    VARCHAR(100)  = NULL
AS
/* '===============================================================          
  '   NOMBRE                :  
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               :  
  '   MODIFICADO EN         :  
  '   MODIFICADO POR        :   
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000 

DECLARE @TOPE INT 

IF @IROWFROM IS NULL
BEGIN
	SET @TOPE = 1000000
	SET @IROWFROM = 0
END
	ELSE
BEGIN
	SET @TOPE = 100
END  
	
DECLARE @LIKEFILTER VARCHAR (100)
SELECT  @VFILTER    = ISNULL(@VFILTER,'')
SELECT  @LIKEFILTER = '%'+@VFILTER+'%'

IF @ID IS NOT NULL
	BEGIN
		SELECT 
			A.ID,
			A.VNAME, 
			A.IDSUPPLIER,
			S.VSUPPLIER,
			A.IDDEALER,
			D.DEALER AS VDEALER,
			A.DUPDATED,
			A.VUPDATEDBY,
			A.BACTIVE   
		FROM AREA A WITH (NOLOCK)
			INNER JOIN V_SUPPLIERS  S  WITH (NOLOCK) ON S.IDSUPPLIER = A.IDSUPPLIER   
			LEFT JOIN V_DEALERS    D  WITH (NOLOCK) ON D.IDDEALER   = A.IDDEALER   
		WHERE A.ID=@ID  
END
ELSE
BEGIN 
	WITH  T1 as (
		SELECT 
			A.ID,
			A.VNAME, 
			A.IDSUPPLIER,
			S.VSUPPLIER,
			A.IDDEALER,
			D.DEALER AS VDEALER,
			A.DUPDATED,
			A.VUPDATEDBY,
			A.BACTIVE   
		FROM AREA A WITH (NOLOCK)  
			INNER JOIN V_SUPPLIERS S  WITH (NOLOCK) ON S.IDSUPPLIER = A.IDSUPPLIER   
			LEFT JOIN V_DEALERS   D  WITH (NOLOCK) ON D.IDDEALER   = A.IDDEALER   
		WHERE    (@BACTIVE    = A.BACTIVE OR @BACTIVE IS NULL)
			AND A.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 
									THEN A.IDSUPPLIER 
									ELSE @IDSUPPLIER 
								END 
			AND A.IDDEALER = ISNULL(NULLIF(@IDDEALER, 0), 0)
			AND (
				A.VNAME       LIKE @LIKEFILTER OR
				A.VUPDATEDBY  LIKE @LIKEFILTER  
			) 
	),
	T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
	T3 AS (
		SELECT * FROM T1
		ORDER BY T1.VNAME ASC 
		OFFSET @IROWFROM ROWS
		FETCH NEXT @TOPE ROWS ONLY
	)
	SELECT T3.*, T2.TOTAL FROM T3, T2; 
END
