USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_ACCESSGROUPPDI]    Script Date: 22/04/2026 09:47:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_ACCESSGROUPPDI]   -- USP_GET_ACCESSGROUPPDI 1 , 4069,0
@IDUSER     INT ,
@IDSUPPLIER INT           = 0,
@IDDEALER   INT           = 0
AS
/* '===============================================================          
  '   NOMBRE                :  
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               :  
  '   MODIFICADO EN         :  
  '   MODIFICADO POR        :   
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
    SELECT
        F.ID             AS IDFASE,
        F.VNAME          AS VFASE,
        F.IORDERBY,
        F.IDACCESSGROUP,
        A.ID             AS IDAREA,
        A.VNAME          AS VAREA,
        F.IDDEALER,
        F.IDSUPPLIER
    FROM [dbo].[FASE] F WITH (NOLOCK)
    LEFT JOIN [dbo].[AREA] A WITH (NOLOCK)
        ON A.ID = F.IDAREA
    WHERE
            F.BACTIVE = 1
        AND F.IDACCESSGROUP IN (
            SELECT IDACCESGROUP      
            FROM [dbo].[ACCESSGROUPUSER] WITH (NOLOCK)
            WHERE IDUSER  = @IDUSER
              AND BASSIGN = 1
        )
        AND F.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 
									THEN F.IDSUPPLIER 
									ELSE @IDSUPPLIER 
								END 
		AND F.IDDEALER = ISNULL(NULLIF(@IDDEALER, 0), 0)
    ORDER BY A.ID, F.IORDERBY;
END 