USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_TRANSPORTER]    Script Date: 17/04/2026 02:51:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_TRANSPORTER]  -- USP_GET_TRANSPORTER  
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000 

BEGIN 
		SELECT 
			C.ID,
			C.VFIRSTNAME
		FROM CONTACT C  WITH (NOLOCK)  
		WHERE	C.BACTIVE=1
			AND	C.BTRANSPORTER=1
END

 