USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_FEATURE]    Script Date: 22/04/2026 02:51:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[USP_GET_FEATURE]  --USP_GET_FEATURE 1,NULL,0,0,NULL,NULL,NULL,1
@IDUSER     INT,
@ID         INT           = NULL,
@IDSUPPLIER INT           = 0,
@IDDEALER   INT           = 0,
@IROWFROM   INT           = NULL,
@VFILTER    VARCHAR(100)  = NULL,
@BACTIVE    BIT           = NULL,
@IDMODEL    INT           = NULL

AS
/* '===============================================================          
  '   NOMBRE                :  
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               :  
  '   MODIFICADO EN         :  
  '   MODIFICADO POR        :   
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000 

DECLARE @TOPE INT 

IF @IROWFROM IS NULL
BEGIN
	SET @TOPE = 1000000
	SET @IROWFROM = 0
END
	ELSE
BEGIN
	SET @TOPE = 100
END  
	
DECLARE @LIKEFILTER VARCHAR (100)
SELECT  @VFILTER    = ISNULL(@VFILTER,'')
SELECT  @LIKEFILTER = '%'+@VFILTER+'%'

IF @ID IS NOT NULL
	BEGIN
		SELECT 
			F.ID,
			F.VNAME, 
			F.IDSUPPLIER,
			S.VSUPPLIER,
			F.IDDEALER,
			D.DEALER            AS VDEALER, 
			F.IDMODEL, 
			M.VNAME             AS VMODEL,
			F.IDFEATURETYPE, 
			FT.VNAME            AS VFEATURETYPE,
			F.BDEFAULT,  
			FT.IDFASE,
			FA.VNAME            AS VFASE,
			FA.IDAREA,
			A.VNAME             AS VAREA,
			F.DUPDATED,
			F.VUPDATEDBY,
			F.BACTIVE,
			F.IDFEATUREVALUETYPE 
		FROM FEATURE F WITH (NOLOCK)
		INNER JOIN FEATURETYPE       FT   WITH (NOLOCK) ON FT.ID         = F.IDFEATURETYPE
		INNER JOIN MODEL             M    WITH (NOLOCK) ON M.ID          = F.IDMODEL
		INNER JOIN FASE              FA   WITH (NOLOCK) ON FA.ID         = FT.IDFASE
		INNER JOIN AREA              A    WITH (NOLOCK) ON A.ID          = FA.IDAREA
		INNER JOIN V_SUPPLIERS       S    WITH (NOLOCK) ON S.IDSUPPLIER  = F.IDSUPPLIER   
		LEFT  JOIN V_DEALERS         D    WITH (NOLOCK) ON D.IDDEALER    = F.IDDEALER     
		WHERE F.ID=@ID
END
ELSE
BEGIN 
	WITH  T1 as (
		SELECT 
			F.ID,
			F.VNAME, 
			F.IDSUPPLIER,
			S.VSUPPLIER,
			F.IDDEALER,
			D.DEALER           AS VDEALER, 
			F.IDMODEL, 
			M.VNAME            AS VMODEL,
			F.IDFEATURETYPE, 
			FT.VNAME           AS VFEATURETYPE,
		    F.BDEFAULT,
			FT.IDFASE,
			FA.VNAME           AS VFASE,
			FA.IDAREA,
			A.VNAME            AS VAREA,
			F.DUPDATED,
			F.VUPDATEDBY,
			F.BACTIVE,
			F.IDFEATUREVALUETYPE 
		FROM FEATURE F WITH (NOLOCK)
		INNER JOIN FEATURETYPE  FT    WITH (NOLOCK) ON FT.ID         = F.IDFEATURETYPE
		INNER JOIN MODEL        M     WITH (NOLOCK) ON M.ID          = F.IDMODEL
		INNER JOIN FASE         FA    WITH (NOLOCK) ON FA.ID         = FT.IDFASE
		INNER JOIN AREA         A     WITH (NOLOCK) ON A.ID          = FA.IDAREA
		INNER JOIN V_SUPPLIERS  S     WITH (NOLOCK) ON S.IDSUPPLIER  = F.IDSUPPLIER   
		LEFT  JOIN V_DEALERS    D     WITH (NOLOCK) ON D.IDDEALER    = F.IDDEALER    
		WHERE   (@BACTIVE    = F.BACTIVE OR @BACTIVE IS NULL)
			AND (@IDMODEL    = F.IDMODEL OR @IDMODEL IS NULL)
			AND F.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 
									THEN F.IDSUPPLIER 
									ELSE @IDSUPPLIER 
								END 
			AND F.IDDEALER = ISNULL(NULLIF(@IDDEALER, 0), 0)
			AND (
					F.VNAME       LIKE @LIKEFILTER OR
					F.VUPDATEDBY  LIKE @LIKEFILTER OR
					FT.VNAME      LIKE @LIKEFILTER OR 
					FA.VNAME      LIKE @LIKEFILTER OR 
					A.VNAME       LIKE @LIKEFILTER OR
					M.VNAME       LIKE @LIKEFILTER  
				) 
	),
	T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
	T3 AS (
		SELECT * FROM T1
		ORDER BY T1.ID DESC 
		OFFSET @IROWFROM ROWS
		FETCH NEXT @TOPE ROWS ONLY
	)
	SELECT T3.*, T2.TOTAL FROM T3, T2; 
END
