USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_INSPECTIONS]    Script Date: 17/04/2026 12:08:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_INSPECTIONS] --USP_GET_INSPECTIONS 13
	@IDAREA INT = NULL
	-- FALTA LA FASE
AS
/* '===============================================================          
  '   NOMBRE                : USP_GET_INSPECTIONS
  '   FECHA CREACIÓN        : 29/03/2026
  '   CREADO POR            : JOSÉ DÍAZ
  '   CREADO PARA           : OBTENER LISTADO DE INSPECCIONES
  '   FUNCIÓN               : SELECCIÓN GENERAL CON JOINS A USUARIO, VEHÍCULO, MODELO Y ÁREA
  '   VERSIÓN               : 1.0.0
  '===============================================================*/
BEGIN
    SET XACT_ABORT ON;               
    SET NOCOUNT ON;
    SET LOCK_TIMEOUT 180000;
	SELECT 
	    I.ID,
	    I.ICREATEDBY,
	    CONCAT(C.VFIRSTNAME, ' ', C.VLASTNAME) AS USERNAME,
	    I.DCREATED,
	    I.IDVEHICLE,
	    V.VPLATE AS PLATE,
	    V.VLOTE AS LOTE,
	    V.VVIN AS VIN,
	    M.VNAME AS MODEL,
	    I.IDAREA,
	    A.VNAME AS AREA,
	    I.DDATEINIT,
	    CONCAT(C_INIT.VFIRSTNAME, ' ', C_INIT.VLASTNAME) AS INITBYNAME,	 
	    I.DDATECLOSE,
	    CONCAT(C_CLOSED.VFIRSTNAME, ' ', C_CLOSED.VLASTNAME) AS CLOSEDBYNAME,
	   	I.DRECEPTION,	   
	    CONCAT(C_RECEP.VFIRSTNAME, ' ', C_RECEP.VLASTNAME) AS RECEPBYNAME,
	    CONCAT(C_TRANS.VFIRSTNAME, ' ', C_TRANS.VLASTNAME) AS TRANSPORTER_NAME,
	    CASE 
	        WHEN FASES.PENDIENTES > 0 THEN 0
	        ELSE 1
	    END AS ISCOMPLETED,
		I.VCOMMENT
	FROM INSPECTION I WITH (NOLOCK)
	    INNER JOIN CONTACT C WITH (NOLOCK) ON I.ICREATEDBY = C.ID
	    INNER JOIN VEHICLE V WITH (NOLOCK) ON I.IDVEHICLE = V.ID
	    INNER JOIN MODEL M WITH (NOLOCK) ON V.IDMODEL = M.ID
	    INNER JOIN AREA A WITH (NOLOCK) ON I.IDAREA = A.ID
	    -- Joins para obtener nombres de los contactos adicionales
	    LEFT JOIN CONTACT C_INIT WITH (NOLOCK) ON I.IDINITBY = C_INIT.ID
	    LEFT JOIN CONTACT C_CLOSED WITH (NOLOCK) ON I.IDCLOSEDBY = C_CLOSED.ID
	    LEFT JOIN CONTACT C_TRANS WITH (NOLOCK) ON I.IDTRANSPORTER = C_TRANS.ID
	    LEFT JOIN CONTACT C_RECEP WITH (NOLOCK) ON I.IDRECEPBY = C_RECEP.ID
	    LEFT JOIN (
	        SELECT 
	            IDINSPECTION, 
	            COUNT(CASE WHEN DCOMPLETED IS NULL THEN 1 END) AS PENDIENTES
	        FROM INSPECTIONFASE WITH (NOLOCK)
	        GROUP BY IDINSPECTION
	    ) FASES ON FASES.IDINSPECTION = I.ID
	WHERE I.BACTIVE = 1
    AND (@IDAREA IS NULL OR A.ID = @IDAREA)
END;