USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_FEATURETYPE]    Script Date: 15/04/2026 10:07:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_FEATURETYPE]  --USP_GET_FEATURETYPE 1
@IDUSER     INT,
@ID         INT           = NULL,
@IDSUPPLIER INT           = 0,
@IDDEALER   INT           = 0,
@IROWFROM   INT           = NULL,
@VFILTER    VARCHAR(100)  = NULL,
@BACTIVE    BIT           = NULL
AS
/* '===============================================================          
  '   NOMBRE                :  
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               :  
  '   MODIFICADO EN         :  
  '   MODIFICADO POR        :   
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000 

DECLARE @TOPE INT 

IF @IROWFROM IS NULL
BEGIN
	SET @TOPE = 1000000
	SET @IROWFROM = 0
END
	ELSE
BEGIN
	SET @TOPE = 100
END  
	
DECLARE @LIKEFILTER VARCHAR (100)
SELECT  @VFILTER    = ISNULL(@VFILTER,'')
SELECT  @LIKEFILTER = '%'+@VFILTER+'%'

IF @ID IS NOT NULL
	BEGIN
		SELECT 
			FT.ID,
			FT.VNAME, 
			FT.IDSUPPLIER,
			S.VSUPPLIER,
			FT.IDDEALER, 
			D.DEALER            AS VDEALER,
			FT.IDFASE,
			F.VNAME             AS VFASE,
			F.IDAREA,
			A.VNAME             AS VAREA,
			FT.DUPDATED,
			FT.VUPDATEDBY,
			FT.BACTIVE
		FROM FEATURETYPE FT   WITH (NOLOCK)
		INNER JOIN FASE         F  WITH (NOLOCK) ON F.ID          = FT.IDFASE
		INNER JOIN AREA         A  WITH (NOLOCK) ON A.ID          = F.IDAREA
		INNER JOIN V_SUPPLIERS  S  WITH (NOLOCK) ON S.IDSUPPLIER  = FT.IDSUPPLIER   
		LEFT JOIN V_DEALERS    D  WITH (NOLOCK) ON D.IDDEALER    = FT.IDDEALER   
		WHERE FT.ID=@ID
END
ELSE
BEGIN 
	WITH  T1 as (
		SELECT 
			FT.ID,
			FT.VNAME, 
			FT.IDSUPPLIER,
			S.VSUPPLIER,
			FT.IDDEALER, 
			D.DEALER            AS VDEALER,
			FT.IDFASE,
			F.VNAME             AS VFASE,
			F.IDAREA,
			A.VNAME             AS VAREA,
			FT.DUPDATED,
			FT.VUPDATEDBY,
			FT.BACTIVE
		FROM FEATURETYPE FT  WITH (NOLOCK) 
		INNER JOIN FASE         F    WITH (NOLOCK) ON F.ID          = FT.IDFASE
		INNER JOIN AREA         A    WITH (NOLOCK) ON A.ID          = F.IDAREA
		INNER JOIN V_SUPPLIERS  S    WITH (NOLOCK) ON S.IDSUPPLIER  = FT.IDSUPPLIER   
		LEFT JOIN V_DEALERS    D    WITH (NOLOCK) ON D.IDDEALER    = FT.IDDEALER   
		WHERE    (@BACTIVE    = FT.BACTIVE OR @BACTIVE IS NULL)
			AND FT.IDSUPPLIER = CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 
									THEN FT.IDSUPPLIER 
									ELSE @IDSUPPLIER 
								END 
			AND FT.IDDEALER = ISNULL(NULLIF(@IDDEALER, 0), 0)
			AND (
				FT.VNAME       LIKE @LIKEFILTER OR
				FT.VUPDATEDBY  LIKE @LIKEFILTER OR
				A.VNAME        LIKE @LIKEFILTER OR 
				F.VNAME        LIKE @LIKEFILTER
			) 
	),
	T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
	T3 AS (
		SELECT * FROM T1
		ORDER BY T1.ID DESC 
		OFFSET @IROWFROM ROWS
		FETCH NEXT @TOPE ROWS ONLY
	)
	SELECT T3.*, T2.TOTAL FROM T3, T2; 
END
