USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_FEATURES]    Script Date: 15/04/2026 10:21:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_FEATURES] -- USP_POST_FEATURE '{"Id":0,"FeatureName":"Rayones en puerta","FeatureTypeId":1,"ModelId":1,"DefaultValue":null,"IsActive":1,"IDSUPPLIER":1,"IDDEALER":1}',1
    @DATA   NVARCHAR(MAX),
    @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                :  
  '   FECHA CREACIÓN        :  
  '   CREADO POR            : SARAHY CHIRINOS
  '   CREADO PARA           :  
  '   FUNCIÓN               :  
  '   VERSIÓN               :  
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
SET XACT_ABORT ON
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
    BEGIN TRY 
        DECLARE @ErrorMessage   NVARCHAR(4000)
        DECLARE @NAME           VARCHAR(100) = NULL
        DECLARE @VACTION        VARCHAR(20)
        DECLARE @IID            INT
        DECLARE @IINSERTED      INT
        DECLARE @IUPDATED       INT
        DECLARE @IDMODULE       INT = [dbo].[UFN_GET_IDMODULE]('INSPECCION-CARACTERISTICAS')
         
        DECLARE @TDATA AS TABLE (
            ID            INT,
            VNAME         VARCHAR(100),
            IDFEATURETYPE INT,
            IDMODEL       INT,
            BDEFAULT      BIT,         -- null=NINGUNO, 1=SI, 0=NO
            IDSUPPLIER    INT,
            IDDEALER      INT,
            BACTIVE       BIT
        )

        INSERT INTO @TDATA (ID, VNAME, IDFEATURETYPE, IDMODEL, BDEFAULT, IDSUPPLIER, IDDEALER, BACTIVE)
        SELECT
            Id,
            LTRIM(RTRIM(Name)),
            FeatureTypeId,
            ModelId,
            DefaultValue,
            SupplierId,
            DealerId,
            IsActive
        FROM OPENJSON(@DATA)
        WITH (
            Id            INT,
            Name   VARCHAR(100),
            FeatureTypeId INT,
            ModelId       INT,
            DefaultValue  BIT,
            SupplierId    INT,
            DealerId      INT,
            IsActive      BIT
        )
         

        --  NOMBRE VACÍO O NULO
        IF @ErrorMessage IS NULL
            IF EXISTS (SELECT 1 FROM @TDATA WHERE ISNULL(VNAME,'') = '')
                SET @ErrorMessage = 'NOMBRE DE LA CARACTERÍSTICA OBLIGATORIO'

        -- LONGITUD DEL NOMBRE
        IF @ErrorMessage IS NULL
            IF EXISTS (SELECT 1 FROM @TDATA WHERE LEN(VNAME) > 100)
                SET @ErrorMessage = 'LA CARACTERÍSTICA NO PUEDE SUPERAR LOS 100 CARACTERES' 

        -- FEATURETYPE VÁLIDO
        IF @ErrorMessage IS NULL
            IF EXISTS (SELECT 1 FROM @TDATA WHERE ISNULL(IDFEATURETYPE,0) = 0)
                SET @ErrorMessage = 'DEBE SELECCIONAR UN TIPO DE CARACTERÍSTICA VÁLIDO' 
        
        -- MODEL VÁLIDO
        IF @ErrorMessage IS NULL
            IF EXISTS (SELECT 1 FROM @TDATA WHERE ISNULL(IDMODEL,0) = 0)
                SET @ErrorMessage = 'DEBE SELECCIONAR UN MODELO VÁLIDO'   
        -- DUPLICADO CONTRA LA BD
        IF @ErrorMessage IS NULL
        BEGIN
            SELECT TOP 1 @NAME = D.VNAME
            FROM @TDATA D
            INNER JOIN FEATURE F WITH (NOLOCK)
                ON  F.VNAME         = D.VNAME
                AND F.IDFEATURETYPE = D.IDFEATURETYPE
                AND F.IDMODEL       = D.IDMODEL
                AND F.IDSUPPLIER    = D.IDSUPPLIER
                AND F.IDDEALER      = D.IDDEALER
                AND F.ID           != D.ID
            IF @NAME IS NOT NULL
                SET @ErrorMessage = 'LA CARACTERÍSTICA QUE INTENTAS CREAR YA EXISTE: ' + @NAME
        END
         
        IF @ErrorMessage IS NOT NULL
        BEGIN
            RAISERROR(@ErrorMessage, 16, 1)
            RETURN
        END 
        BEGIN TRAN

            IF EXISTS (SELECT 1 FROM @TDATA WHERE ID = 0)
            BEGIN
                SET @VACTION = 'CREATE'
                --EXEC USP_CHECK_CREDENTIALS @IDUSER, @VACTION, @IDMODULE

                INSERT INTO FEATURE (VNAME, IDFEATURETYPE, IDMODEL, BDEFAULT, IDSUPPLIER, IDDEALER, BACTIVE, DCREATED, DUPDATED, VUPDATEDBY)
                SELECT
                    D.VNAME,
                    D.IDFEATURETYPE,
                    D.IDMODEL,
                    D.BDEFAULT,
                    D.IDSUPPLIER,
                    D.IDDEALER,
                    D.BACTIVE,
                    GETDATE(),
                    GETDATE(),
                    DBO.UFN_GET_LOGIN(@IDUSER)
                FROM @TDATA D
                WHERE NOT EXISTS (SELECT 1 FROM FEATURE F WITH (NOLOCK) WHERE F.ID = D.ID)

                SELECT @IINSERTED = @@ROWCOUNT
                SELECT @IID       = SCOPE_IDENTITY()
            END
            ELSE
            BEGIN
                SET @VACTION = 'EDIT'
                --EXEC USP_CHECK_CREDENTIALS @IDUSER, @VACTION, @IDMODULE

                UPDATE F
                SET
                    F.VNAME         = D.VNAME,
                    F.IDFEATURETYPE = D.IDFEATURETYPE,
                    F.IDMODEL       = D.IDMODEL,
                    F.BDEFAULT      = D.BDEFAULT,
                    F.BACTIVE       = D.BACTIVE,
                    F.DUPDATED      = GETDATE(),
                    F.VUPDATEDBY    = DBO.UFN_GET_LOGIN(@IDUSER)
                FROM FEATURE F
                INNER JOIN @TDATA D ON D.ID = F.ID

                SELECT @IUPDATED = @@ROWCOUNT
            END
             
        SELECT
            ISNULL(@IID,       0) AS IID,
            ISNULL(@IINSERTED, 0) AS IINSERTED,
            ISNULL(@IUPDATED,  0) AS IUPDATED

        COMMIT TRAN

    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
        RAISERROR(@ErrorMessage, 16, 1)
    END CATCH
END