USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_CITYS]    Script Date: 27/3/2026 10:30:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_CITYS] --USP_GET_CITYS

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

SELECT C.*,
    M.ID AS MUNICIPALITY_ID,
    M.VDESCRIPTION AS MUNICIPALITY_NAME, 
    S.ID AS STATE_ID,
    S.VDESCRIPTION AS STATE_NAME
FROM CITY C WITH (NOLOCK)
INNER JOIN MUNICIPALITY M WITH (NOLOCK) ON M.ID = C.ID_MUNICIPALITY
INNER JOIN STATE S WITH (NOLOCK) ON S.ID = M.ID_STATES
ORDER BY C.VNAME ASC

