USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_POLICIES]    Script Date: 31/3/2026 2:27:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_POLICIES]-- USP_GET_POLICIES 1,0,4069,NULL,NULL,6,'2021-02-12 00:00:00.000','2022-02-12 00:00:00.000'
@IDUSER INT, 
@IDDEALER INT = null,
@IDSUPPLIER INT =NULL,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@IESTATUS INT =NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : GERARDO JIMENEZ
  '   RAZÓN DE MODIFICACIÓN : SE AGREGO EL CAMPO NUMERO CERTIFICADO DE LA TABLA VEHICULO 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	DECLARE @ISDEALER BIT=0
	IF NOT EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] WHERE IDUSER=@IDUSER)
	BEGIN
		SET @ISDEALER=1
	END

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END


		


BEGIN
    WITH T1 AS (
       SELECT 
		P.ID,
		P.IDPOLICYTYPE,
		v.VENGINESERIAL,
		V.ICERTIFICATENUMBER, --NUEVO CAMPO AGREGADO
		P.IDVEHICLE,
		P.DACTIVATIONDATE,
		P.DLOCKDATE,
		P.DEXPIRATIONDATE,
		P.DCREATED,
		P.VINVOICENUMBER,
		P.NINVOICEAMOUNT,
		P.DINVOICEDATE,
		P.IDPAYMETHOD,
		P.IESTATUS,
		ISNULL(P.VNUMBER,'') VNUMBER,
		P.BACTIVE,
	     PT.VDESCRIPTION,
		 V.VVIN,
		 V.VPLATE,
		 L.VDESCRIPTION MODELNAME,
		 C.VVAT,
		 C.VFIRSTNAME,
		 C.VEMAIL,
		 C.VPHONE1,
		 ISNULL(C.VLASTNAME,'') VLASTNAME,
		 ISNULL (X.VREFERENCE,'') AS CODDEALER,
		 ISNULL (X.VFIRSTNAME,'') AS VDEALER,
		 ISNULL (Z.VREFERENCE,'') AS CODSUPPLIER ,
		 A.VDISPLAYESTATUS AS ESTATUSNAME,
		 V.IDCUSTOMER,
		 V.IDDEALER,
		 ISNULL(CO.VFIRSTNAME+' '+ISNULL(CO.VLASTNAME,''),'') AS VSELLER,
		 CI.VNAME AS VCITYDEALER,
		 CY.VNAME AS VCITYCUSTOMER,
		 cr.VNAME VCOLOR,
		 C.DBIRTHDATE,
		 CASE 
		      WHEN C.BMALE=1 THEN 'MASCULINO'
			  WHEN C.BMALE=0 THEN 'FEMENINO'
			  ELSE 'NO APLICA'
		END AS VMALE
        FROM POLICY P WITH (NOLOCK)
        INNER JOIN VEHICLE V WITH (NOLOCK )ON P.IDVEHICLE = V.ID
        INNER JOIN CONTACT C  WITH (NOLOCK) ON V.IDCUSTOMER = C.ID
        INNER JOIN CONTACT X  WITH (NOLOCK) ON V.IDDEALER = X.ID
        INNER JOIN CONTACT Z  WITH (NOLOCK) ON V.IDSUPPLIER = Z.ID
        INNER JOIN POLICYTYPE PT  WITH (NOLOCK) ON P.IDPOLICYTYPE = PT.ID
        INNER JOIN ACTION A  WITH (NOLOCK) ON P.IESTATUS = A.ID
        INNER JOIN MODEL L  WITH (NOLOCK) ON V.IDMODEL= L.ID
		INNER JOIN COLOR CR WITH (NOLOCK) ON V.IDCOLOR =CR.ID
		LEFT JOIN INFOUSER US WITH (NOLOCK) ON  P.VUPDATEDBY= US.VLOGIN
		LEFT JOIN CONTACT CU WITH (NOLOCK) ON US.IDUSER=CU.ID
		LEFT JOIN CITY CI WITH (NOLOCK) ON X.IDCITY=CI.ID
		LEFT JOIN CITY CY WITH (NOLOCK) ON C.IDCITY=CY.ID
		LEFT JOIN AUDIT AU WITH (NOLOCK) ON P.ID=AU.IDRELATED AND AU.IDMODULE=2 AND AU.VACTION='BINVOICE'
		LEFT JOIN CONTACT CO WITH (NOLOCK) ON AU.IDUSER=CO.ID
        WHERE   V.IDSUPPLIER =CASE WHEN ISNULL(@IDSUPPLIER,0) = 0 THEN V.IDSUPPLIER ELSE @IDSUPPLIER END
		        AND V.IDDEALER =CASE WHEN ISNULL(@IDDEALER,0) = 0 THEN V.IDDEALER ELSE @IDDEALER END
    
		AND (
        V.VVIN LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR V.VPLATE LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR C.VVAT LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR C.VFIRSTNAME LIKE '%' + ISNULL(@VFILTER, '') + '%'
        OR C.VLASTNAME LIKE '%' + ISNULL(@VFILTER, '') + '%'
		OR P.VNUMBER LIKE '%' + ISNULL(@VFILTER, '') + '%'
		OR CR.VNAME LIKE '%' + ISNULL(@VFILTER, '') + '%'
		OR CAST(V.IYEAR AS VARCHAR) LIKE '%' + ISNULL(@VFILTER, '') + '%'
		OR L.VDESCRIPTION LIKE '%' + ISNULL(@VFILTER, '') + '%'
		
			)
			AND P.DCREATED >= ISNULL(@DFROMDATE, P.DCREATED)
			    AND P.DCREATED < DATEADD(DAY, 1, ISNULL(@DUPTODATE, P.DCREATED))
			AND ( P.IESTATUS = CASE WHEN @IESTATUS IS NUll THEN P.IESTATUS ELSE @IESTATUS END)
    ), 
    T2 AS (SELECT COUNT(*) AS TOTAL FROM T1),
    T3 AS (
        SELECT * FROM T1
        ORDER BY 
		CASE WHEN T1.ESTATUSNAME = 'BORRADOR' THEN 1 
		WHEN T1.ESTATUSNAME = 'ACTIVADO' THEN 2 ELSE 3 END , 
		T1.DCREATED DESC,
		CASE WHEN T1.DACTIVATIONDATE IS NULL THEN T1.DCREATED ELSE  T1.DACTIVATIONDATE END DESC,T1.VVIN
        OFFSET @IROWFROM ROWS
        FETCH NEXT @TOPE ROWS ONLY
    )
    
    SELECT T3.*, T2.TOTAL
    FROM T3, T2

END
