USE [SODA]
GO
/****** Object:  UserDefinedFunction [dbo].[UFN_GET_IDMODULE]    Script Date: 27/08/2025 15:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
ALTER FUNCTION [dbo].[UFN_GET_IDMODULE] 
(
	@VMODULE VARCHAR(50)
)
RETURNS INT
AS
BEGIN
	
	DECLARE @IDMODULE INT

	SELECT TOP 1 @IDMODULE= A.ID
	FROM MODULE A  WITH (NOLOCK)
	WHERE A.VNAME= @VMODULE

	RETURN @IDMODULE

END

