USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_MAINTENANCE]    Script Date: 25/09/2026 14:45:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_MAINTENANCE] 
 @DATA NVARCHAR(MAX),
 @IDUSER INT
  
AS

/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

 

BEGIN
    BEGIN TRY
        BEGIN TRAN 

        
    
        DECLARE @TDATA AS TABLE
        (
            ID INT,
            IDSERVICETYPE INT,
			IDREPORTTYPE INT,
			VSERVICENUMBER VARCHAR (30),
			DMAINTENANCEDATE DATETIME,
			VREPORTCUSTOMER VARCHAR (MAX),
			VTECHNICALREPORT VARCHAR (MAX),
			VTECHNICALSOLUTION VARCHAR (MAX),
			IDDEALER INT,
			IDVEHICLE INT,
			IDCUSTOMER INT,
			IKM INT,
			DINVOICEDATE DATETIME,
			VINVOICENUMBER VARCHAR (20),
			NINVOICEAMOUNT NUMERIC,
			VUPDATEDBY VARCHAR(15),
			IESTATUS INT,
			BACTIVE BIT,
			IDPOLICYDETAIL INT,
			BPARALYZED BIT,
			IDLICENSE INT ,
			IDPOSSIBLEFAULT INT,
			ISERVICESTATUS INT
        );


        INSERT INTO @TDATA
        SELECT M.Id, M.ServiceTypeId, M.ReportTypeId,M.OrderNumber,M.ServiceDate,M.CustomerReport, M.DealerReport,M.TechnicalSolution, M.DealerId,
        M.VehicleId, M.CustomerId,M.Km,M.InvoiceDate, M.InvoiceNumber, M.InvoiceAmount,DBO.UFN_GET_LOGIN(@IDUSER),M.EstatusId,M.IsActive,M.PolicyDetailId,M.Paralyzed,M.LicenseId,M.PossibleFaultId,M.StatusServiceId
        FROM OPENJSON(@DATA)
        WITH (
            Id INT,
            ServiceTypeId INT,
            ReportTypeId INT,
            OrderNumber VARCHAR(30),
            ServiceDate DATETIME,
            CustomerReport VARCHAR(MAX),
            DealerReport VARCHAR(MAX),
            TechnicalSolution VARCHAR(MAX),
            DealerId INT,
            VehicleId INT,
			CustomerId INT,
			Km INT,
			InvoiceDate DATETIME,
			InvoiceNumber VARCHAR (20),
			InvoiceAmount NUMERIC,
            EstatusId INT,
            IsActive BIT,
            PolicyDetailId INT,
			Paralyzed bit ,
			LicenseId INT,
			PossibleFaultId INT,
			StatusServiceId int
        ) AS M				



		-------VALIDACIONES------
		EXEC USP_CHECK_DEALERS @DATA,@IDUSER
		EXEC USP_CHECK_MAINTENANCE @DATA,@IDUSER

		DECLARE @VACTION VARCHAR(20)
		------MARCAR MODULO DEPENDIENDO DEL SERVICETYPE------
          DECLARE @IDMODULE INT;
          SELECT @IDMODULE = 
				CASE 
					WHEN M.IDSERVICETYPE = 1 THEN [dbo].[UFN_GET_IDMODULE]('SERVICIOS-MANTENIMIENTO')
					WHEN M.IDSERVICETYPE = 2 THEN [dbo].[UFN_GET_IDMODULE]('SERVICIOS-ASISTENCIA TECNICA') 
					WHEN M.IDSERVICETYPE = 3 THEN [dbo].[UFN_GET_IDMODULE]('SERVICIOS-REPORTE FALLA')
					ELSE 8
				END
			FROM @TDATA M;
		
		
		
		-------------------------------------------------
		
	    DECLARE @IID INT
		DECLARE @IINSERTED INT
		DECLARE @IUPDATED INT
		DECLARE @IDMAINTENANCE INT
		DECLARE @IDPOLICYDETAIL INT,@CURRENTKM INT,@IDPOLICY INT,@CURRENTDATE DATETIME -- 
		DECLARE @IDLICENSE INT = (SELECT TOP 1 IDLICENSE FROM @TDATA)
		DECLARE @LASTKM INT = (SELECT TOP 1 V.ILASTKM FROM VEHICLE V WITH(NOLOCK) 
		                INNER JOIN @TDATA T ON  V.ID=T.IDVEHICLE )
		
		DECLARE @ESTATUS INT;
	    DECLARE @VALID BIT 





		  
      ------------------------CONSULTA PARA MODIFCAR EL ESTATUS DE MANTENIMIENTO DEPENDIENDO DE LA ESCALA------------------------------------
			IF EXISTS (SELECT * FROM @TDATA WHERE IDSERVICETYPE=1 AND IDREPORTTYPE=3 )
			BEGIN
			SELECT @IDPOLICY = P.ID
					FROM @TDATA A
					INNER JOIN VEHICLE V (NOLOCK) ON A.IDVEHICLE = V.ID
					INNER JOIN POLICY P (NOLOCK) ON  V.ID= P.IDVEHICLE

					SELECT @IDPOLICYDETAIL = IDPOLICYDETAIL, @CURRENTKM=IKM, @CURRENTDATE=DMAINTENANCEDATE FROM @TDATA
					  
					SELECT @VALID=BVALID FROM POLICYDETAILS WHERE ID= @IDPOLICYDETAIL
			 IF @IDPOLICYDETAIL=0 OR @IDPOLICYDETAIL IS NULL
			 BEGIN
				RAISERROR ('ERROR.SELECCIONE UNA ESCALA DE SERVICIO VALIDA', 16, 1);
			 END 

             END   
			 
			 IF EXISTS (SELECT * FROM @TDATA T 
								WHERE T.IDREPORTTYPE =7 AND T.BPARALYZED=0 )
				BEGIN
					UPDATE @TDATA
					SET BPARALYZED=1
				END


			  ------------------------------------------------CONSULTAR KM ANTES DE REGISTRAR REPORTE DE FALLA-------------------------------------------
	         	IF EXISTS (SELECT * FROM @TDATA WHERE IDSERVICETYPE=3 AND IDREPORTTYPE=3 )
				BEGIN
					DECLARE @IDPOLICY2 INT;
					DECLARE @KM INT ;
					SELECT @IDPOLICY2 = P.ID,@KM=A.IKM
					FROM @TDATA A
					INNER JOIN VEHICLE V (NOLOCK) ON A.IDVEHICLE = V.ID
					INNER JOIN POLICY P (NOLOCK) ON  V.ID= P.IDVEHICLE
					 IF EXISTS (SELECT TOP 1  PD.ID FROM POLICYDETAILS PD WITH (NOLOCK) 
									WHERE PD.IDPOLICY = @IDPOLICY2 
									  AND PD.IUPTOKM < @KM
									  AND PD.IDMAINTENANCE IS NULL 
									ORDER BY PD.ID ASC)
					  BEGIN 
					  	RAISERROR ('ERROR. UNIDAD NO CUENTA CON MANTENIMIENTOS REQUERIDOS', 16, 1);
					  END

				END


------------------------------------------------------------------------------------------------------------------------------------------------
			SELECT @ESTATUS = 
			CASE 
				WHEN T.IDSERVICETYPE = 1 AND @VALID=0 AND T.IDREPORTTYPE=3 THEN 16
				WHEN T.IDSERVICETYPE = 1 AND @VALID IS NULL AND T.IDREPORTTYPE=3THEN 18
				WHEN T.IDSERVICETYPE = 1 AND T.IDREPORTTYPE=2 THEN 18
				WHEN T.IDSERVICETYPE = 2 THEN ISNULL(M.IESTATUS,2)
				WHEN T.IDSERVICETYPE = 3 THEN ISNULL(M.IESTATUS,2)
				ELSE 2
			END
			FROM @TDATA T
			LEFT JOIN MAINTENANCE M WITH (NOLOCK) ON T.ID=M.ID

    
	  
			
			
		---------------------------------------------------------------------------------------------------------------------------------------------------

		-- REGISTRO NUEVO
	IF EXISTS (SELECT * FROM @TDATA WHERE ID=0)
	BEGIN

				SET @VACTION='CREATE'
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
       			INSERT INTO MAINTENANCE
				(IDSERVICETYPE,IDREPORTTYPE, VSERVICENUMBER,DMAINTENANCEDATE, VREPORTCUSTOMER, VTECHNICALREPORT, VTECHNICALSOLUTION, IDDEALER, IDVEHICLE, IKM, IDCUSTOMER,DINVOICEDATE, VINVOICENUMBER,NINVOICEAMOUNT,VUPDATEDBY, IESTATUS,BACTIVE,DCREATED, DUPDATED,BPARALYZED,IDPOSSIBLEFAULT,ISERVICESTATUS )
				 SELECT DISTINCT D.IDSERVICETYPE, D.IDREPORTTYPE,D.VSERVICENUMBER,D.DMAINTENANCEDATE,D.VREPORTCUSTOMER, D.VTECHNICALREPORT,D.VTECHNICALSOLUTION,D.IDDEALER,D.IDVEHICLE,D.IKM,D.IDCUSTOMER,D.DINVOICEDATE,D.VINVOICENUMBER,D.NINVOICEAMOUNT,DBO.UFN_GET_LOGIN(@IDUSER),@ESTATUS,1, GETDATE(), GETDATE(), D.BPARALYZED,ISNULL(D.IDPOSSIBLEFAULT,1),ISERVICESTATUS
       			FROM @TDATA D
       			WHERE NOT EXISTS (SELECT * FROM MAINTENANCE P WHERE P.IDVEHICLE = D.IDVEHICLE AND P.VSERVICENUMBER=D.VSERVICENUMBER);
       
			   SELECT @IID=SCOPE_IDENTITY()
			   SELECT @IINSERTED=@@ROWCOUNT
			   SELECT @IDMAINTENANCE=@IID

				IF @LASTKM<= (SELECT IKM FROM MAINTENANCE WHERE ID=@IDMAINTENANCE)
				BEGIN
					UPDATE V
					SET 
					V.ILASTKM=M.IKM
					FROM VEHICLE V
					INNER JOIN MAINTENANCE M WITH (NOLOCK) ON V.ID=M.IDVEHICLE
					WHERE M.ID =@IDMAINTENANCE
				END

	   
			
	
			 ------------------ACTUALIZAR ESCALA -----------------------------	
		
				-- MANTENIMIENTO
				IF EXISTS (SELECT * FROM @TDATA WHERE IDSERVICETYPE = 1 AND IDREPORTTYPE=3)
				BEGIN
						-- CONSIGUIO ESCALA
					If @IDPOLICYDETAIL > 0 
					BEGIN
						EXEC USP_POST_POLICYDETAILS2 @IDPOLICYDETAIL, @IDPOLICY, @IDMAINTENANCE, @CURRENTKM, @CURRENTDATE, @IDUSER;
						IF NOT EXISTS ( SELECT TOP 1  IDMAINTENANCE   FROM POLICYDETAILS (NOLOCK)  WHERE IDPOLICY = @IDPOLICY  AND IDMAINTENANCE IS NOT NULL  AND ID > @IDPOLICYDETAIL)
						BEGIN
							EXEC USP_UPDATE_POLICYDETAILS @IDUSER,@IDPOLICYDETAIL,@CURRENTDATE
						END 
						
					END 

				END

	END

	ELSE
	BEGIN
	    SET @VACTION='EDIT'
		EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
	
			---------------------ACTUALIZAR REGISTRO-------------------------------------
       		UPDATE P
       		SET P.IDSERVICETYPE = D.IDSERVICETYPE,
                P.IDREPORTTYPE= D.IDREPORTTYPE,
				P.VSERVICENUMBER= D.VSERVICENUMBER,
				P.DMAINTENANCEDATE= D.DMAINTENANCEDATE,
           		P.IDVEHICLE = D.IDVEHICLE,
                P.VREPORTCUSTOMER = D.VREPORTCUSTOMER,
				P.VTECHNICALREPORT=D.VTECHNICALREPORT,
				P.VTECHNICALSOLUTION=D.VTECHNICALSOLUTION,
				P.IDDEALER= D.IDDEALER,
				P.IKM = D.IKM,
				P.IDCUSTOMER =D.IDCUSTOMER,
           		P.VINVOICENUMBER = D.VINVOICENUMBER,
           		P.NINVOICEAMOUNT = D.NINVOICEAMOUNT,
           		P.DINVOICEDATE = D.DINVOICEDATE,
				P.BACTIVE= D.BACTIVE,
           	    P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER),
           		P.DUPDATED = GETDATE(),
                P.BPARALYZED=D.BPARALYZED,
				P.IDPOSSIBLEFAULT=D.IDPOSSIBLEFAULT,
				P.ISERVICESTATUS=D.ISERVICESTATUS
       		FROM MAINTENANCE P
       		INNER JOIN @TDATA D ON D.ID = P.ID
            SELECT @IUPDATED=@@ROWCOUNT

	END

	   	     IF @IUPDATED >0 OR @IINSERTED>0
				BEGIN
				IF EXISTS (SELECT * FROM @TDATA WHERE  IDSERVICETYPE=3 AND IDREPORTTYPE = 4)
					BEGIN
						UPDATE LD
						SET LD.IDMAINTENANCE = ISNULL(@IID,D.ID)
						FROM LICENSEDETAILS LD
						JOIN VEHICLE V(NOLOCK) ON LD.VVIN =V.VVIN
						JOIN @TDATA D ON V.ID = D.IDVEHICLE
						WHERE D.IDREPORTTYPE = 4 AND LD.IDLICENSE=@IDLICENSE  
					END
                END 



		-----------------------OBTENER EL ID DEL SERVICIO--------------------------------
		SET @IDMAINTENANCE = 
   				CASE 
       				WHEN @IID IS NOT NULL AND @IID != 0 THEN @IID
       				WHEN @IUPDATED != 0 THEN (SELECT TOP 1 ID FROM @TDATA)
       				ELSE 0
   				END;



			--------------------------GUARDAR COMENTARIO--------------------------------
			IF @IDMAINTENANCE != 0
			BEGIN
   				INSERT INTO COMMENT (VCONTENT, DCREATED, VCREATEDBY,BACTIVE, IDRECORD, IDMODULE)
   				SELECT VCONTENT, GETDATE(), DBO.UFN_GET_LOGIN(@IDUSER),1, @IDMAINTENANCE,@IDMODULE
   				FROM (
       				SELECT M.VREPORTCUSTOMER AS VCONTENT FROM @TDATA M
       				UNION ALL
       				SELECT M.VTECHNICALREPORT FROM @TDATA M
       				UNION ALL
       				SELECT M.VTECHNICALSOLUTION FROM @TDATA M
   				) AS AllContents
   				WHERE VCONTENT IS NOT NULL
     			  AND NOT EXISTS (
         			  SELECT 1 
         			  FROM COMMENT C 
         			  WHERE C.IDRECORD = @IDMAINTENANCE AND C.IDMODULE = @IDMODULE AND C.VCONTENT = AllContents.VCONTENT
     			  );
			END;

       IF @IINSERTED>0 OR @IUPDATED>0
		  BEGIN
				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,ID,@IDMODULE,'CREATE','',IDVEHICLE,GETDATE()
				FROM @TDATA
		   END

		SELECT
		ISNULL(@IID,0) AS IID , 
		ISNULL(@IINSERTED,0) AS IINSERTED,
		ISNULL(@IUPDATED,0) AS IUPDATED

		
	

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
