USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_STOCK_COUNT]    Script Date: 25/09/2026 16:05:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_STOCK_COUNT] -- [USP_GET_STOCK_COUNT] 1,4069,'CHECKACTIVE'
    @IDUSER     INT,
    @IDSUPPLIER INT,
    @VACTION    VARCHAR(20) = 'CHECKACTIVE'

    /* '==============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : GERARDO JIMENEZ 
  '   CREADO PARA           : 
  '   FUNCIÓN               : Mostrar detalles en el conteo
  '   VERSIÓN               :
  '   MODIFICADO EN         :
  '   MODIFICADO POR        :
  '   RAZÓN DE MODIFICACIÓN :
  '==============================================================*/
AS
BEGIN
    SET XACT_ABORT ON;
    SET NOCOUNT ON;
    SET LOCK_TIMEOUT 180000;

    --CHECKACTIVE Devuelve la primera asignación disponible 
    IF @VACTION = 'CHECKACTIVE'
    BEGIN
        SELECT TOP 1
            IC.ID                       AS IDINVENTORYCOUNT,
            IC.IDCOUNTTYPE,
            IC.IDESTATUS,
            IC.VDESCRIPTION,
            CBU.IDASSIGN,
            CBU.VASSIGNTYPE,
            CBU.IDCOUNT,
            CBU.IDUSER                  AS IDUSERASSIGNED,
            CASE WHEN CBU.IDUSER = @IDUSER THEN 1 ELSE 0 END AS ISASSIGNEDTOME,
            CASE WHEN CBU.IDUSER IS NULL   THEN 1 ELSE 0 END AS ISFREE
        FROM INVENTORYCOUNT IC WITH (NOLOCK)
        INNER JOIN COUNTBYUSER CBU WITH (NOLOCK)
            ON  CBU.IDINVENTORYCOUNT = IC.ID
            AND CBU.IDSUPPLIER       = @IDSUPPLIER
            AND CBU.VASSIGNTYPE      IN ('Z','P','L','F')
            AND CBU.IDUSER           = @IDUSER

        WHERE IC.IDESTATUS   IN (20, 6)
          AND IC.IDSUPPLIER  = @IDSUPPLIER
          AND IC.IDCOUNTTYPE IN (0, 1, 2)
          AND (
                (CBU.VASSIGNTYPE = 'Z' AND EXISTS (
                    SELECT 1 FROM ZONE Z WITH (NOLOCK)
                    WHERE Z.ID = CBU.IDASSIGN AND Z.BACTIVE = 1))
             OR (CBU.VASSIGNTYPE = 'P' AND EXISTS (
                    SELECT 1 FROM PART P WITH (NOLOCK)
                    WHERE P.ID = CBU.IDASSIGN AND P.BACTIVE = 1))
             OR (CBU.VASSIGNTYPE = 'L' AND EXISTS (
                    SELECT 1 FROM LOCATION L WITH (NOLOCK)
                    WHERE L.ID = CBU.IDASSIGN AND L.BACTIVE = 1))
             OR (CBU.VASSIGNTYPE = 'F' AND EXISTS (
                    SELECT 1 FROM INVENTORYCOUNTDETAIL ICD WITH (NOLOCK)
                    WHERE ICD.IDINVENTORY = IC.ID AND ICD.IFORM = CBU.IDASSIGN))
          )
        ORDER BY IC.IDESTATUS DESC, IC.ID DESC;
    END

    -- GETTYPES inventario disponibles (FISICO / CICLICO)
    IF @VACTION = 'GETTYPES'
    BEGIN
        ;WITH INVENTARIOS_ACTIVOS AS (
            SELECT
                IC.ID,
                IC.IDCOUNTTYPE,
                IC.IDESTATUS,
                IC.VDESCRIPTION
            FROM INVENTORYCOUNT IC WITH (NOLOCK)
            WHERE IC.IDESTATUS   IN (20, 6)
              AND IC.IDSUPPLIER  = @IDSUPPLIER
              AND IC.IDCOUNTTYPE IN (0, 1, 2)
        ),
        INVENTARIO_SELECCIONADO AS (
            -- FISICO: el único activo (sea 0 o 1)
            -- CICLICO: el más antiguo 
            SELECT
                IA.ID,
                IA.IDCOUNTTYPE,
                IA.IDESTATUS,
                IA.VDESCRIPTION
            FROM INVENTARIOS_ACTIVOS IA
            WHERE IA.ID = (
                SELECT MIN(IA2.ID)
                FROM INVENTARIOS_ACTIVOS IA2
                WHERE (IA.IDCOUNTTYPE IN (0,1) AND IA2.IDCOUNTTYPE IN (0,1))
                   OR (IA.IDCOUNTTYPE = 2     AND IA2.IDCOUNTTYPE = 2)
            )
        ),
        ASIGNACIONES_VALIDAS AS (
            SELECT
                ISEL.ID              AS IDINVENTORYCOUNT,
                ISEL.IDCOUNTTYPE,
                ISEL.IDESTATUS,
                ISEL.VDESCRIPTION,
                CBU.IDASSIGN,
                CBU.VASSIGNTYPE,
                CBU.IDCOUNT,
                CBU.IDUSER           AS IDUSERASSIGNED
            FROM INVENTARIO_SELECCIONADO ISEL
            INNER JOIN COUNTBYUSER CBU WITH (NOLOCK)
                ON  CBU.IDINVENTORYCOUNT = ISEL.ID
                AND CBU.IDSUPPLIER       = @IDSUPPLIER
                AND CBU.VASSIGNTYPE      IN ('Z','P','L','F')
                AND CBU.IDUSER           = @IDUSER

            WHERE (
                    (CBU.VASSIGNTYPE = 'Z' AND EXISTS (
                        SELECT 1 FROM ZONE Z WITH (NOLOCK)
                        WHERE Z.ID = CBU.IDASSIGN AND Z.BACTIVE = 1))
                 OR (CBU.VASSIGNTYPE = 'P' AND EXISTS (
                        SELECT 1 FROM PART P WITH (NOLOCK)
                        WHERE P.ID = CBU.IDASSIGN AND P.BACTIVE = 1))
                 OR (CBU.VASSIGNTYPE = 'L' AND EXISTS (
                        SELECT 1 FROM LOCATION L WITH (NOLOCK)
                        WHERE L.ID = CBU.IDASSIGN AND L.BACTIVE = 1))
                 OR (CBU.VASSIGNTYPE = 'F' AND EXISTS (
                        SELECT 1 FROM INVENTORYCOUNTDETAIL ICD WITH (NOLOCK)
                        WHERE ICD.IDINVENTORY = ISEL.ID AND ICD.IFORM = CBU.IDASSIGN))
                  )
        )
        SELECT
            CASE
                WHEN AV.IDCOUNTTYPE IN (0,1) THEN 'FISICO'
                WHEN AV.IDCOUNTTYPE = 2      THEN 'CICLICO'
            END                                              AS TIPO,
            AV.IDINVENTORYCOUNT,
            AV.IDCOUNTTYPE,
            AV.IDESTATUS,
            AV.VDESCRIPTION,
            AV.IDASSIGN,
            AV.VASSIGNTYPE,
            AV.IDCOUNT,
            AV.IDUSERASSIGNED,
            CASE WHEN AV.IDUSERASSIGNED = @IDUSER THEN 1 ELSE 0 END AS ISASSIGNEDTOME,
            CASE WHEN AV.IDUSERASSIGNED IS NULL   THEN 1 ELSE 0 END AS ISFREE,
            ROW_NUMBER() OVER (
                PARTITION BY CASE
                                WHEN AV.IDCOUNTTYPE IN (0,1) THEN 'FISICO'
                                WHEN AV.IDCOUNTTYPE = 2      THEN 'CICLICO'
                             END
                ORDER BY AV.IDINVENTORYCOUNT, AV.IDASSIGN
            )                                                AS RN
        FROM ASIGNACIONES_VALIDAS AV
        ORDER BY TIPO, AV.IDINVENTORYCOUNT, AV.IDASSIGN;
    END
END
