USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_DETAIL_STOCK_COUNT]    Script Date: 25/09/2026 16:03:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_DETAIL_STOCK_COUNT] --[USP_GET_DETAIL_STOCK_COUNT] 1,4069,1
    @IDUSER             INT,
    @IDSUPPLIER         INT,
    @IDINVENTORYCOUNT   INT
/* '==============================================================
  '   NOMBRE                : USP_GET_DETAIL_STOCK_COUNT
  '   FECHA CREACIÓN        :
  '   CREADO POR            : GERARDO JIMENEZ
  '   CREADO PARA           :
  '   FUNCIÓN               : Mostrar detalles del conteo en el PDA
  '   VERSIÓN               :
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '==============================================================*/
AS
BEGIN
    SET XACT_ABORT ON;
    SET NOCOUNT ON;
    SET LOCK_TIMEOUT 180000;

    DECLARE @IDESTATUS INT;
    DECLARE @ErrorMessage NVARCHAR(4000);

    
    -- VALIDAR QUE EL INVENTARIO EXISTA
    SELECT @IDESTATUS = IC.IDESTATUS
    FROM INVENTORYCOUNT IC WITH (NOLOCK)
    WHERE IC.ID         = @IDINVENTORYCOUNT
      AND IC.IDSUPPLIER = @IDSUPPLIER
      AND IC.IDESTATUS  IN (20, 6);

   IF @IDESTATUS IS NULL
    BEGIN
        SET @ErrorMessage = 'INVENTARIO NO DISPONIBLE: El inventario no existe o no está activo';
        RAISERROR(@ErrorMessage, 16, 1);
        RETURN;
    END


    -- PREINVENTARIO (IDESTATUS = 20) 

    IF @IDESTATUS = 20
    BEGIN
        SELECT
            ICD.ID                      AS IDINVENTORYDETAIL,
            ICD.IDLOCATION,
            ICD.IDPART,
            CAST(NULL AS NUMERIC(18,4)) AS IQUANTITY_NEW,
            CAST(NULL AS VARCHAR(50))   AS IFORM,
            L.VNAME                     AS LOCATIONNAME,
            P.VINNERCODE                AS PARTCODE,
            P.VDESCRIPTION              AS PARTDESCRIPTION,
            CBU.IDASSIGN,
            CBU.VASSIGNTYPE,
            'PREINVENTARIO'             AS MODO,
            'Reconteo pendiente'        AS MENSAJE
        FROM INVENTORYCOUNTDETAIL ICD WITH (NOLOCK)
        INNER JOIN PART     P WITH (NOLOCK)
              ON  P.ID         = ICD.IDPART
              AND P.IDSUPPLIER = @IDSUPPLIER
              AND P.BACTIVE    = 1
        INNER JOIN LOCATION L WITH (NOLOCK)
              ON  L.ID         = ICD.IDLOCATION
              AND L.IDSUPPLIER = @IDSUPPLIER
              AND L.BACTIVE    = 1
        INNER JOIN ZONE     Z WITH (NOLOCK)
              ON  Z.ID      = L.IDZONE
              AND Z.BACTIVE = 1
        INNER JOIN COUNTBYUSER CBU WITH (NOLOCK)
              ON  CBU.IDINVENTORYCOUNT = ICD.IDINVENTORY
              AND CBU.IDSUPPLIER       = @IDSUPPLIER
              AND CBU.VASSIGNTYPE      = 'Z'
              AND CBU.IDUSER           = @IDUSER
              AND CBU.IDASSIGN         = Z.ID
        WHERE ICD.IDINVENTORY   = @IDINVENTORYCOUNT
          AND ICD.IDCOUNT       = 0
          AND ICD.IDSTATUS      = 2
          AND ICD.IDUSER        IS NULL
          AND ICD.IQUANTITY_NEW IS NULL
        ORDER BY L.VNAME ASC, P.VINNERCODE ASC;
    END

  -- INVENTARIO FINAL (IDESTATUS = 6)

    IF @IDESTATUS = 6
    BEGIN
        SELECT
            ICD.ID                  AS IDINVENTORYDETAIL,
            ICD.IDLOCATION,
            ICD.IDPART,
            ICD.IQUANTITY_OLD,
            ICD.IQUANTITY_NEW,
            ICD.IFORM,
            L.VNAME                 AS LOCATIONNAME,
            P.VINNERCODE            AS PARTCODE,
            P.VDESCRIPTION          AS PARTDESCRIPTION,
            CBU.IDASSIGN,
            CBU.VASSIGNTYPE,
            'INVENTARIO FINAL'      AS MODO,
            'Conteo pendiente'      AS MENSAJE
        FROM INVENTORYCOUNTDETAIL ICD WITH (NOLOCK)
        INNER JOIN PART     P WITH (NOLOCK)
              ON  P.ID         = ICD.IDPART
              AND P.IDSUPPLIER = @IDSUPPLIER
              AND P.BACTIVE    = 1
        INNER JOIN LOCATION L WITH (NOLOCK)
              ON  L.ID         = ICD.IDLOCATION
              AND L.IDSUPPLIER = @IDSUPPLIER
              AND L.BACTIVE    = 1
        INNER JOIN ZONE     Z WITH (NOLOCK)
              ON  Z.ID      = L.IDZONE
              AND Z.BACTIVE = 1
        INNER JOIN COUNTBYUSER CBU WITH (NOLOCK)
              ON  CBU.IDINVENTORYCOUNT = ICD.IDINVENTORY
              AND CBU.IDSUPPLIER       = @IDSUPPLIER
              AND CBU.IDUSER           = @IDUSER
              AND CBU.VASSIGNTYPE      IN ('Z','P','L','F')
        WHERE ICD.IDINVENTORY = @IDINVENTORYCOUNT
          AND ICD.IDCOUNT     = 1
          AND ICD.IDSTATUS    = 2
          AND (
                (CBU.VASSIGNTYPE = 'Z' AND CBU.IDASSIGN = Z.ID)
             OR (CBU.VASSIGNTYPE = 'P' AND CBU.IDASSIGN = P.ID)
             OR (CBU.VASSIGNTYPE = 'L' AND CBU.IDASSIGN = L.ID)
             OR (CBU.VASSIGNTYPE = 'F' AND CBU.IDASSIGN = ICD.IFORM)
          )
        ORDER BY L.VNAME ASC, P.VINNERCODE ASC;
    END
END
