USE [ZEPPELIN]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_PAYMENT]    Script Date: 06/10/2026 11:10:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_PAYMENT]  
 @DATA VARCHAR(MAX),
 @IDUSER INT =0
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		  DECLARE @ErrorMessage NVARCHAR(4000)
		  DECLARE @InsertedPayments TABLE (ID INT, IDDEALER INT, IDSUPPLIER INT);
		  DECLARE @InsertedPaymentsDetails TABLE (ID INT);
		  
	
				DECLARE @TDATA AS TABLE
				(
					ID INT,
					DDATE DATETIME,
					IDCURRENCY INT,
					IDTYPE INT,
				    VREFERENCE VARCHAR(40),
					NAMOUNT NUMERIC(18,2),
					IDBANKACCOUNT INT,
					IDBANKORIGIN INT ,
					IDPAYMENT INT,
					IDSUPPLIER INT,
					IDDEALER INT
				);


				INSERT INTO @TDATA (ID, DDATE,IDCURRENCY,IDTYPE,VREFERENCE,NAMOUNT,IDBANKACCOUNT,IDPAYMENT,IDSUPPLIER,IDDEALER,IDBANKORIGIN)
				SELECT  H.Id,H.Date,H.CurrencyId,H.TypeId,H.Reference,H.Amount,H.AccountId,H.PaymentId,H.SupplierId,H.DealerId,H.BankOriginId
				FROM OPENJSON(@DATA)
				WITH (
				    Id int,
					Date Datetime,
					CurrencyId int ,
					TypeId int ,
					Reference VARCHAR(40),
					Amount Numeric(18,2),
					AccountId int ,
					PaymentId int,
					SupplierId int,
					DealerId Int,
					BankOriginId int
				) AS H;

				
			
	            BEGIN TRAN 

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('PAGOS-REPORTE')
				DECLARE @VTYPE VARCHAR(1)
				DECLARE @IDPAYMENT INT = (SELECT TOP 1 IDPAYMENT FROM @TDATA)


                IF EXISTS (
				SELECT 1 
				FROM @TDATA D 
				INNER JOIN PAYMENTTYPE  PT WITH (NOLOCK) ON D.IDTYPE=PT.ID 
				WHERE LEN(D.VREFERENCE)<4 AND PT.VNAME IN ('TRANSFERENCIA')
				)
					BEGIN
							RAISERROR('ACCION NO PERMITIDA: REFERENCIA NO PUEDE SER MENOR A 4 DIGITOS.', 16, 1);
							RETURN;
					END

				 IF EXISTS (
				SELECT 1 
				FROM @TDATA D 
				INNER JOIN PAYMENTTYPE  PT WITH (NOLOCK) ON D.IDTYPE=PT.ID 
				WHERE LEN(D.VREFERENCE)<>14 AND PT.VNAME IN ('RETENCION')
				)
					BEGIN
							RAISERROR('ACCION NO PERMITIDA: REFERENCIA DEBE SER IGUAL A 14 DIGITOS.', 16, 1);
							RETURN;
					END
                
				IF EXISTS (
				SELECT 1 
				FROM @TDATA D 
				INNER JOIN PAYMENTTYPE PT WITH (NOLOCK) ON D.IDTYPE=PT.ID 
				WHERE  PT.VNAME IN ('RETENCION') AND EXISTS (SELECT * FROM PAYMENTDETAILS PD WITH (NOLOCK) 
				                                              WHERE ISNULL(D.IDPAYMENT,0)=ISNULL(PD.IDPAYMENT,0) AND ISNULL(D.ID,0)<>ISNULL(PD.ID,0) ) )
					BEGIN
							RAISERROR('ACCION NO PERMITIDA: NO PUEDE CARGAR MAS DE UN COMPROBANTE DE RETENCION', 16, 1);
							RETURN;
					END


				IF EXISTS (
				SELECT 1 
				FROM @TDATA D
				JOIN PAYMENTDETAILS PD ON D.VREFERENCE = PD.VREFERENCE AND D.IDBANKORIGIN=PD.IDBANKORIGIN
				JOIN PAYMENT P ON P.ID = PD.IDPAYMENT
				INNER JOIN PAYMENTTYPE  PT WITH (NOLOCK) ON D.IDTYPE=PT.ID 
				WHERE ISNULL(D.ID,0)<>PD.ID AND D.IDDEALER = P.IDDEALER
					AND PT.VNAME='TRANSFERENCIA' AND PD.IDSTATUS<>DBO.UFN_GET_ISTATUS('DECLINE')
				)
					BEGIN
							RAISERROR('ACCION NO PERMITIDA: REFERENCIA YA UTILIZADA.', 16, 1);
							RETURN;
					END


				IF EXISTS (
				SELECT 1 
				FROM @TDATA D
				JOIN PAYMENTDETAILS PD ON D.VREFERENCE = PD.VREFERENCE 
				JOIN PAYMENT P ON P.ID = PD.IDPAYMENT
				INNER JOIN PAYMENTTYPE  PT WITH (NOLOCK) ON D.IDTYPE=PT.ID 
				WHERE ISNULL(D.ID,0)<>PD.ID AND D.IDDEALER = P.IDDEALER AND PT.VNAME='RETENCION'
				)
					BEGIN
							RAISERROR('ACCION NO PERMITIDA: NUMERO COMPROBANTE YA UTILIZADO.', 16, 1);
							RETURN;
					END


				IF EXISTS (
				SELECT 1 
				FROM @TDATA D 
				INNER JOIN PAYMENTTYPE  PT WITH (NOLOCK) ON D.IDTYPE=PT.ID 
				WHERE PT.VNAME='TRANSFERENCIA' AND ISNULL(IDBANKACCOUNT,0)=0
				)
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: SELECCIONE CUENTA DESTINO.', 16, 1);
						RETURN;
					END

					IF EXISTS (
				SELECT 1 
				FROM @TDATA D 
				INNER JOIN PAYMENTTYPE  PT WITH (NOLOCK) ON D.IDTYPE=PT.ID 
				WHERE PT.VNAME='TRANSFERENCIA' AND ISNULL(IDBANKORIGIN,0)=0
				)
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: SELECCIONE BANCO DE ORIGEN.', 16, 1);
						RETURN;
					END

					IF EXISTS (
				SELECT 1 
				FROM @TDATA D 
				INNER JOIN PAYMENTDETAILS  PT WITH (NOLOCK) ON ISNULL(D.IDPAYMENT,0)=PT.IDPAYMENT 
				WHERE PT.IDSTATUS =DBO.UFN_GET_ISTATUS('TOAPPROVE') ) AND EXISTS (SELECT * FROM @TDATA WHERE ID=0)
				
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: RELACION DE PAGOS YA POR APROBACION.', 16, 1);
						RETURN;
					END


					IF EXISTS (
				SELECT 1 
				FROM @TDATA D 
				INNER JOIN PAYMENTDETAILS  PT WITH (NOLOCK) ON ISNULL(D.IDPAYMENT,0)=PT.IDPAYMENT 
				WHERE PT.IDSTATUS NOT IN (DBO.UFN_GET_ISTATUS('CREATE'),DBO.UFN_GET_ISTATUS('TOAPPROVE'))
				)
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: RELACION DE PAGOS YA POR APROBACION.', 16, 1);
						RETURN;
					END

					
				IF EXISTS (SELECT 1 FROM @TDATA D WHERE ID=0 AND IDDEALER=0) OR	
				EXISTS (
						SELECT 1 
						FROM @TDATA D 
						INNER JOIN PAYMENTDETAILS  PT WITH (NOLOCK) ON ISNULL(D.ID,0)=PT.ID 
						WHERE PT.IDSTATUS =DBO.UFN_GET_ISTATUS('CREATE') AND IDDEALER=0)
				BEGIN
					RAISERROR('ACCION NO PERMITIDA: SELECCIONE UN CONCESIONARIO VALIDO.', 16, 1);
					RETURN;
				END



			

				IF EXISTS (SELECT * FROM @TDATA WHERE ID=0 )
				BEGIN
			      SET @VACTION='CREATE'
				  EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
	           
					INSERT INTO PAYMENTDETAILS (DDATE,IDCURRENCY,IDTYPE,VREFERENCE,NAMOUNT,IDSTATUS,IDBANKACCOUNT,IDPAYMENT,VUPDATEDBY,IDBANKORIGIN,DCREATED,DUPDATED)
					OUTPUT INSERTED.ID INTO @InsertedPaymentsDetails (ID)
					SELECT DDATE,IDCURRENCY,IDTYPE,VREFERENCE,NAMOUNT,DBO.UFN_GET_ISTATUS('CREATE'),IDBANKACCOUNT,IDPAYMENT,DBO.UFN_GET_LOGIN(@IDUSER),IDBANKORIGIN,GETDATE(),GETDATE()
					FROM @TDATA D
					WHERE NOT EXISTS (
								SELECT 1 
								FROM PAYMENTDETAILS V WITH (NOLOCK) 
								WHERE V.VREFERENCE = D.VREFERENCE 
									AND V.VREFERENCE <> ''
									AND V.IDTYPE=1
									AND V.IDBANKORIGIN=D.IDBANKORIGIN
									AND  V.IDSTATUS<>DBO.UFN_GET_ISTATUS('DECLINE')
									AND EXISTS (
										SELECT 1 FROM PAYMENT P 
										WHERE P.ID = V.IDPAYMENT 
										AND P.IDDEALER = D.IDDEALER
									));

						SELECT @IINSERTED=@@ROWCOUNT
						SELECT @IID=SCOPE_IDENTITY()
				END
				ELSE
				BEGIN
					SET @VACTION='EDIT'
					EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

						UPDATE V
						SET
							V.VREFERENCE = D.VREFERENCE,
							V.NAMOUNT=D.NAMOUNT,
							V.IDBANKACCOUNT = D.IDBANKACCOUNT,
							V.DDATE=D.DDATE
						FROM PAYMENTDETAILS V
						INNER JOIN @TDATA D ON V.ID=D.ID
						WHERE NOT EXISTS (
										SELECT 1 
										FROM PAYMENTDETAILS V WITH (NOLOCK) 
										WHERE V.ID<>D.ID
										  AND V.VREFERENCE = D.VREFERENCE 
										  AND V.VREFERENCE <> '' 
										  AND V.IDBANKACCOUNT=D.IDBANKACCOUNT
										  AND  V.IDSTATUS<>DBO.UFN_GET_ISTATUS('DECLINE')
										  AND EXISTS (
											  SELECT 1 FROM PAYMENT P 
											  WHERE P.ID = V.IDPAYMENT 
											  AND P.IDDEALER = D.IDDEALER
										  ))

						SELECT @IUPDATED=@@ROWCOUNT
					
					
				END

				EXEC [dbo].[USP_MOUNT_PAYMENT] @IDPAYMENT, @IDUSER

				   IF @IINSERTED>0 
				BEGIN
				INSERT INTO AUDIT (IDUSER, IDRECORD, IDMODULE, VCOMMENT, DCREATED, VACTION)
					SELECT 
						@IDUSER,
						PD.ID,
						@IDMODULE,
						'CREACION DE DETALLADO DE PAGO',
						GETDATE(),
						'CREATE'
					FROM @InsertedPaymentsDetails PD 
				END


				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
