USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_BANKSTATEMENT_ACTIONS]    Script Date: 25/09/2026 11:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_BANKSTATEMENT_ACTIONS]
 @DATA NVARCHAR(MAX),
 @IDUSER INT 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           :  
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(500),
					IDRELATED INT
				);

				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS A


				DECLARE @VACTION VARCHAR(20)
				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @VRECORD VARCHAR(20) 
				DECLARE @VACTIONRECORD VARCHAR(20)
				DECLARE @ErrorMessage NVARCHAR(4000) 
				DECLARE @IDMODULE INT 

				SET @IDMODULE=[dbo].[UFN_GET_IDMODULE]('PAGOS-ASEGURAMIENTO') 

                SELECT TOP 1 @VACTION=T.VACTION FROM @TDATA T
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

				
				IF NOT EXISTS (SELECT P.* FROM @TDATA P  
				           INNER JOIN BANKSTATEMENT B WITH (NOLOCK) ON P.IDRECORD=B.ID
				           INNER JOIN RATE R WITH (NOLOCK) ON CAST(B.DTRANSDATE AS DATE) = CAST(R.DDATE AS DATE)
							WHERE  ISNULL(R.NRATE,0)<>0 OR ISNULL(R.NALTERRATE,0)<>0 )
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: TASA NO CONFIGURADA.', 16, 1);
						RETURN;
					END

				UPDATE A
				SET A.IDPAYMENTDETAIL=T.IDRELATED
				FROM BANKSTATEMENT A
				INNER JOIN @TDATA T ON A.ID=T.IDRECORD
				WHERE ISNULL(A.IDPAYMENTDETAIL,0)=0
				SELECT @IUPDATED=@@ROWCOUNT
				
				IF  @IUPDATED>0
				BEGIN
					UPDATE A
					SET A.IDSTATUS=DBO.UFN_GET_ISTATUS('APPROVE')
					FROM PAYMENTDETAILS A
					INNER JOIN @TDATA T ON A.ID=T.IDRELATED
					WHERE A.IDSTATUS=DBO.UFN_GET_ISTATUS('TOAPPROVE')
				END
				

			
	
				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				IF @IUPDATED>0
				BEGIN
				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA
				END 
 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END

