USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_CHECK_MAINTENANCE]    Script Date: 30/09/2026 12:13:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_CHECK_MAINTENANCE]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


         DECLARE @TDATA AS TABLE
        (
            ID INT,
            IDSERVICETYPE INT,
		    IDREPORTTYPE INT,
			VSERVICENUMBER VARCHAR (30),
			IDDEALER INT,
			IDVEHICLE INT,
			IDCUSTOMER INT,
			IKM INT,
			VINVOICENUMBER VARCHAR (20),
			VUPDATEDBY VARCHAR(15),
			IESTATUS INT,
			BACTIVE BIT,
			IDPOLICYDETAIL INT,
			IDLICENSE INT
        );


        INSERT INTO @TDATA
        SELECT M.Id, M.ServiceTypeId, M.ReportTypeId,M.OrderNumber, M.DealerId, M.VehicleId, M.CustomerId,M.Km, M.InvoiceNumber,DBO.UFN_GET_LOGIN(@IDUSER),M.EstatusId,M.IsActive,M.PolicyDetailId,M.licenseId
        FROM OPENJSON(@DATA)
        WITH (
            Id INT,
            ServiceTypeId INT,
            ReportTypeId INT,
            OrderNumber VARCHAR(30),
            DealerId INT,
            VehicleId INT,
			CustomerId INT,
			Km INT,
			InvoiceNumber VARCHAR (20),
            EstatusId INT,
            IsActive BIT,
           PolicyDetailId INT,
		   LicenseId int
        ) AS M			

			
			DECLARE @IDSERVICE INT;
			DECLARE @IDSERVICETYPE INT = (SELECT TOP 1 IDSERVICETYPE FROM @TDATA)
			DECLARE @IDREPORTTYPE INT = (SELECT TOP 1 IDREPORTTYPE FROM @TDATA)

					IF EXISTS (
						SELECT * 
						FROM @TDATA 
						WHERE ID = 0 
							OR ID IN  (
								SELECT  ID 
								FROM MAINTENANCE (NOLOCK) 
								WHERE IESTATUS =2
							)
					)
					BEGIN
						DECLARE @INVOICE VARCHAR(50);

						SELECT TOP 1
							@IDSERVICE = P.ID,
							@INVOICE = T.VINVOICENUMBER
						FROM MAINTENANCE P
						INNER JOIN @TDATA T ON T.VINVOICENUMBER = P.VINVOICENUMBER
						WHERE P.ID<> T.ID AND  T.IDDEALER = P.IDDEALER AND T.VINVOICENUMBER IS NOT NULL;

						IF @IDSERVICE IS NOT NULL
						BEGIN
							RAISERROR('EL NUMERO DE FACTURA [%s] YA EXISTE EN EL SISTEMA. POR FAVOR , INGRESE UN NUMERO DE FACTURA UNICO', 16, 1, @INVOICE);
							RETURN;
						END
					END

					IF EXISTS (
						SELECT * 
						FROM @TDATA 
						WHERE ID = 0 
							OR ID IN (
								SELECT ID 
								FROM MAINTENANCE (NOLOCK) 
								WHERE IESTATUS =2
							)
					)
					BEGIN
						DECLARE @ORDERNUMBER VARCHAR(50);

						SELECT TOP 1
							@IDSERVICE = P.ID,
							@ORDERNUMBER = T.VSERVICENUMBER
						FROM MAINTENANCE P
						INNER JOIN @TDATA T ON T.VSERVICENUMBER = P.VSERVICENUMBER
						WHERE P.ID<> T.ID AND T.IDDEALER = P.IDDEALER AND T.IDSERVICETYPE<>2 AND P.IDREPORTTYPE<>7;

						IF @IDSERVICE IS NOT NULL
						BEGIN
							RAISERROR('EL NUMERO DE ORDEN [%s] YA EXISTE EN EL SISTEMA. POR FAVOR , INGRESE UN NUMERO DE ORDEN UNICO.', 16, 1, @ORDERNUMBER);
							RETURN;
						END
					END

					IF EXISTS (
						SELECT * 
						FROM MAINTENANCE P (NOLOCK) 
						WHERE P.ID = (SELECT TOP 1 ID FROM @TDATA) 
							AND P.IESTATUS NOT IN (dbo.UFN_GET_ISTATUS('CREATE'),dbo.UFN_GET_ISTATUS('TOVALIDATE'),dbo.UFN_GET_ISTATUS('NOTVALIDATE'))
					)
					BEGIN
						SELECT TOP 1 @IDSERVICE = ID
						FROM MAINTENANCE WITH (NOLOCK)
						WHERE ID IN (SELECT ID FROM @TDATA);

						RAISERROR('ACCION NO PERMITIDA: EL REGISTRO NO TIENE PERMITIDO MODIFICACION', 16, 1);
						RETURN;
					END

					DECLARE @IDPOLICYVEHICLE INT = (
						SELECT TOP 1 P.ID
						FROM @TDATA A
						INNER JOIN VEHICLE V (NOLOCK) ON A.IDVEHICLE = V.ID
						LEFT JOIN POLICY P (NOLOCK) ON V.ID = P.IDVEHICLE
						WHERE P.IESTATUS = DBO.UFN_GET_ISTATUS('ACTIVATE') AND P.DEXPIRATIONDATE>GETDATE()
					);

					DECLARE @IDPOLICYDETAILS INT = (
						SELECT TOP 1 P.IDPOLICY
						FROM @TDATA A
						INNER JOIN POLICYDETAILS P (NOLOCK) ON A.IDPOLICYDETAIL = P.ID
					);

					IF @IDPOLICYVEHICLE != @IDPOLICYDETAILS AND @IDSERVICETYPE = 1
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: POLIZA VEHICULO: %s POLIZA DETALLE: %d NO COINCIDEN ', 16, 1, @IDPOLICYVEHICLE, @IDPOLICYDETAILS);
						RETURN;
					END


					  IF (@IDPOLICYVEHICLE  IS NULL OR @IDPOLICYVEHICLE=0) AND @IDSERVICETYPE=3 AND @IDREPORTTYPE=3
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: VEHICULO SIN POLIZA GARANTIA VALIDA', 16, 1);
						RETURN;
					END

			
					DECLARE @IDVEHICLE INT = (SELECT TOP 1 IDVEHICLE FROM @TDATA)
					IF @IDSERVICETYPE =3 AND @IDREPORTTYPE=5 AND EXISTS (SELECT * FROM @TDATA T 
					INNER JOIN VEHICLE V (NOLOCK) ON T.IDVEHICLE =V.ID
					WHERE V.IESTATUS <> dbO.UFN_GET_ISTATUS('UNAVAILABLE') 
					OR (V.IESTATUS = dbO.UFN_GET_ISTATUS('UNAVAILABLE') AND  DATEDIFF(HOUR, V.DUPDATED, GETDATE()) >= 48)
					)
					BEGIN
						RAISERROR('NO SE PUEDE CREAR UN REPORTE DE FALLA DE TIPO INTERNO CALIDAD.LA UNIDAD NO CUMPLE CON LOS CRITERIOS DE APLICACION PARA ESTE REPORTE.', 16, 1);
						RETURN
					END
					
					IF @IDSERVICETYPE =3 AND @IDREPORTTYPE=6 AND EXISTS (SELECT * FROM @TDATA T 
					INNER JOIN VEHICLE V (NOLOCK) ON T.IDVEHICLE =V.ID
					WHERE V.IESTATUS NOT IN( dbO.UFN_GET_ISTATUS('UNAVAILABLE'),dbO.UFN_GET_ISTATUS('AVAILABLE')) )
					--AND  DATEDIFF(HOUR, V.DUPDATED, GETDATE()) < 48
					BEGIN
						RAISERROR('NO SE PUEDE CREAR UN REPORTE DE FALLA DE TIPO INTERNO SERVICIO.LA UNIDAD NO CUMPLE CON LOS CRITERIOS DE APLICACION PARA ESTE REPORTE.', 16, 1);
						RETURN
					END

					DECLARE @IDLICENSE INT = (SELECT TOP 1 IDLICENSE FROM @TDATA)
		                      
                    IF @IDSERVICETYPE =3 AND @IDREPORTTYPE=4 AND NOT EXISTS (SELECT * FROM LICENSEDETAILS LD
										JOIN VEHICLE V(NOLOCK) ON LD.VVIN =V.VVIN
										JOIN @TDATA D ON V.ID = D.IDVEHICLE
										WHERE LD.IDLICENSE=@IDLICENSE AND LD.IESTATUS=dbo.UFN_GET_ISTATUS('AVAILABLE'))
					BEGIN
							RAISERROR('ACCION NO PERMITIDA: VEHICULO NO APLICA', 16, 1);
							RETURN
					END


					DECLARE @LASTKM INT = (SELECT TOP 1 V.ILASTKM FROM VEHICLE V WITH(NOLOCK) 
		            INNER JOIN @TDATA T ON  V.ID=T.IDVEHICLE )

							   
					IF EXISTS (SELECT * FROM @TDATA WHERE IDSERVICETYPE IN (2,3) AND IKM<@LASTKM)
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: VEHICULO REGISTRADO ANTERIORMENTE CON KM MAYOR AL QUE INTENTA REGISTRAR', 16, 1);
						RETURN
					END
