USE [ZEPPELIN]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_ADD_CAR]    Script Date: 06/10/2026 10:56:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_ADD_CAR]  
 @DATA VARCHAR(MAX),
 @IDUSER INT =0
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		  DECLARE @ErrorMessage NVARCHAR(4000)
		  DECLARE @InsertedPayment TABLE (IDPAYMENT INT, IDDEALER INT, IDSUPPLIER INT);
	

				DECLARE @TDATA AS TABLE
				(
					IDPAYMENT INT,
					IDDOCUMENT INT,
					IDCURRENCY INT,
					NRATE NUMERIC (18,4),
					DDATERATE DATETIME,
					NAMOUNT NUMERIC (18,2),
					IDSUPPLIER INT,
					IDDEALER INT
				);

		
				INSERT INTO @TDATA (IDPAYMENT, IDDOCUMENT,IDCURRENCY,NRATE,DDATERATE,NAMOUNT,IDSUPPLIER,IDDEALER)
				SELECT DISTINCT H.PaymentId,H.DocumentId,H.CurrencyId,H.Rate,H.DateRate,H.Amount,SupplierId,DealerId
				FROM OPENJSON(@DATA)
				WITH (
				    PaymentId int,
					DocumentId int,
					CurrencyId int ,
					Rate Numeric(18,4),
					DateRate datetime,
					Amount Numeric(18,2),
					SupplierId int,
					DealerId Int
				) AS H;
		
	            BEGIN TRAN 


				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('PAGOS-REPORTE')
				DECLARE @DRATEDATE DATETIME
				DECLARE @IDPAYMENT INT = (SELECT TOP 1 IDPAYMENT FROM @TDATA)

				IF EXISTS (SELECT P.* FROM @TDATA P  
							   WHERE ISNULL(P.IDDOCUMENT,0)<>0 AND P.NRATE=0 )
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: TASA NO CONFIGURADA.', 16, 1);
						RETURN;
					END

				IF EXISTS (SELECT P.* FROM @TDATA P  
							   WHERE ISNULL(P.IDDEALER,0)=0  )
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: SELECCIONES UN CONCESIONARIO VALIDO.', 16, 1);
						RETURN;
					END
					    
			    ---------------------------------------VALIDACIONES PARA RETENCION-------------------------------------------------
				IF EXISTS (SELECT P.* FROM @TDATA P  
					INNER JOIN ACCOUNTRECEIVABLE A WITH (NOLOCK) ON P.IDDOCUMENT=A.ID
					WHERE A.VCONCEPT='R') AND EXISTS (SELECT * FROM ACCOUNTRECEIVABLE A WITH (NOLOCK) 
														INNER JOIN SETTLEMENTS S WITH (NOLOCK) ON A.ID=S.IDACCOUNTRECEIVABLE
														WHERE S.IDPAYMENT=@IDPAYMENT AND A.VCONCEPT <>'R')
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: COMBINACION DE RUBRO INVALIDA PARA REPORTE DE PAGO.', 16, 1);
						RETURN;
					END

                 IF EXISTS (SELECT P.* FROM @TDATA P  
					INNER JOIN ACCOUNTRECEIVABLE A WITH (NOLOCK) ON P.IDDOCUMENT=A.ID
					WHERE A.VCONCEPT <>'R') AND EXISTS (SELECT * FROM ACCOUNTRECEIVABLE A WITH (NOLOCK) 
														INNER JOIN SETTLEMENTS S WITH (NOLOCK) ON A.ID=S.IDACCOUNTRECEIVABLE
														WHERE S.IDPAYMENT=@IDPAYMENT AND A.VCONCEPT ='R')
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: COMBINACION DE RUBRO INVALIDA PARA REPORTE DE PAGO.', 16, 1);
						RETURN;
					END
					 
			   --------------------------------------------VALIDACIONES PARA IVA-----------------------------------------------------
                 
				 	IF EXISTS (SELECT P.* FROM @TDATA P  
					INNER JOIN ACCOUNTRECEIVABLE A WITH (NOLOCK) ON P.IDDOCUMENT=A.ID
					WHERE A.VCONCEPT='I') AND EXISTS (SELECT * FROM ACCOUNTRECEIVABLE A WITH (NOLOCK) 
														INNER JOIN SETTLEMENTS S WITH (NOLOCK) ON A.ID=S.IDACCOUNTRECEIVABLE
														WHERE S.IDPAYMENT=@IDPAYMENT AND A.VCONCEPT NOT IN ('P','I','G'))
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: COMBINACION DE RUBRO INVALIDA PARA REPORTE DE PAGO.', 16, 1);
						RETURN;
					END

				
					IF EXISTS (SELECT P.* FROM @TDATA P  
					INNER JOIN ACCOUNTRECEIVABLE A WITH (NOLOCK) ON P.IDDOCUMENT=A.ID
					WHERE A.VCONCEPT NOT IN ('P','I','G') ) AND EXISTS (SELECT * FROM ACCOUNTRECEIVABLE A WITH (NOLOCK) 
														INNER JOIN SETTLEMENTS S WITH (NOLOCK) ON A.ID=S.IDACCOUNTRECEIVABLE
														WHERE S.IDPAYMENT=@IDPAYMENT AND A.VCONCEPT='I' )
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: COMBINACION DE RUBRO INVALIDA PARA REPORTE DE PAGO.', 16, 1);
						RETURN;
					END

                   ---------------------------------------------VALIDACION DE PLACA-BASE----------------------------------------------
				   
				   IF EXISTS (SELECT P.* FROM @TDATA P  
					INNER JOIN ACCOUNTRECEIVABLE A WITH (NOLOCK) ON P.IDDOCUMENT=A.ID
					WHERE A.VCONCEPT ='B' AND P.IDCURRENCY=1  ) AND EXISTS (SELECT * FROM ACCOUNTRECEIVABLE A WITH (NOLOCK) 
														INNER JOIN SETTLEMENTS S WITH (NOLOCK) ON A.ID=S.IDACCOUNTRECEIVABLE
														WHERE S.IDPAYMENT=@IDPAYMENT AND A.VCONCEPT='P' )
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: COMBINACION PLACA-BASE INVALIDA PARA REPORTE DE PAGO EN BOLIVARES.', 16, 1);
						RETURN;
					END


					IF EXISTS (SELECT P.* FROM @TDATA P  
					INNER JOIN ACCOUNTRECEIVABLE A WITH (NOLOCK) ON P.IDDOCUMENT=A.ID
					WHERE A.VCONCEPT ='P' AND P.IDCURRENCY=1  ) AND EXISTS (SELECT * FROM ACCOUNTRECEIVABLE A WITH (NOLOCK) 
														INNER JOIN SETTLEMENTS S WITH (NOLOCK) ON A.ID=S.IDACCOUNTRECEIVABLE
														WHERE S.IDPAYMENT=@IDPAYMENT AND A.VCONCEPT='B' )
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: COMBINACION PLACA-BASE INVALIDA PARA REPORTE DE PAGO EN BOLIVARES.', 16, 1);
						RETURN;
					END

					----------------------------------------------VALIDACION DE PROFORMA------------------------------------------


					  IF EXISTS (SELECT P.* FROM @TDATA P  
					INNER JOIN ACCOUNTRECEIVABLE A WITH (NOLOCK) ON P.IDDOCUMENT=A.ID
					WHERE A.VTYPE ='P'  ) AND EXISTS (SELECT * FROM ACCOUNTRECEIVABLE A WITH (NOLOCK) 
														INNER JOIN SETTLEMENTS S WITH (NOLOCK) ON A.ID=S.IDACCOUNTRECEIVABLE
														WHERE S.IDPAYMENT=@IDPAYMENT AND A.VTYPE<>'P' )
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: COMBINACION DE TIPO DE FACTURA INVALIDA PARA REPORTE DE PAGO', 16, 1);
						RETURN;
					END


					 IF EXISTS (SELECT P.* FROM @TDATA P  
					INNER JOIN ACCOUNTRECEIVABLE A WITH (NOLOCK) ON P.IDDOCUMENT=A.ID
					WHERE A.VTYPE <>'P'   ) AND EXISTS (SELECT * FROM ACCOUNTRECEIVABLE A WITH (NOLOCK) 
														INNER JOIN SETTLEMENTS S WITH (NOLOCK) ON A.ID=S.IDACCOUNTRECEIVABLE
														WHERE S.IDPAYMENT=@IDPAYMENT AND A.VTYPE='P' )
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: COMBINACION DE TIPO DE FACTURA INVALIDA PARA REPORTE DE PAGO', 16, 1);
						RETURN;
					END




				IF EXISTS (SELECT * FROM @TDATA WHERE ISNULL(IDPAYMENT,0)=0 )
				BEGIN
			      SET @VACTION='CREATE'
				  EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
			
								INSERT INTO PAYMENT (NAMOUNT, DCREATED, VUPDATEDBY, IDDEALER, IDSUPPLIER,NRATE,DDATERATE,BASINC,IDUSER,IDCURRENCY)
									OUTPUT INSERTED.ID, INSERTED.IDDEALER, INSERTED.IDSUPPLIER INTO @InsertedPayment (IDPAYMENT, IDDEALER, IDSUPPLIER)
									SELECT 
										NAMOUNT,
										GETDATE(), 
										DBO.UFN_GET_LOGIN(@IDUSER), -- Asumo que pasas el ID directamente
										IDDEALER, 
										IDSUPPLIER,
										NRATE,
										DDATERATE,
										0,
										@IDUSER,
										IDCURRENCY
									FROM @TDATA

									------ACTUALIZAR LOS DETALLES CON EL IDPAYMENT INSERTADO----
									SET @IDPAYMENT=(SELECT TOP 1 IDPAYMENT FROM @InsertedPayment)
								
									-----------------------ACTUALIZAR DOCUMENTOS A TRANSITO---------------------------
									UPDATE A
									SET  IDTRANSACTIONSTATUS=DBO.UFN_GET_ISTATUS('CREATE')
									FROM ACCOUNTRECEIVABLE A 
									INNER JOIN @TDATA S ON A.ID=S.IDDOCUMENT
								
									----------------INSERTAR LAS RELACION SALDOS->PAGOS-----------------
									INSERT INTO SETTLEMENTS(IDACCOUNTRECEIVABLE,IDPAYMENT)
									SELECT T.IDDOCUMENT,@IDPAYMENT FROM @TDATA T

								SELECT @IINSERTED=@@ROWCOUNT
								SELECT @IID=SCOPE_IDENTITY()
						
				END
				ELSE
					BEGIN
						

						----------------INSERTAR LAS RELACION SALDOS->PAGOS-----------------
						INSERT INTO SETTLEMENTS(IDACCOUNTRECEIVABLE,IDPAYMENT)
						SELECT T.IDDOCUMENT,IDPAYMENT FROM @TDATA T

							-----------------------ACTUALIZAR DOCUMENTOS A TRANSITO---------------------------
						UPDATE A
						SET  IDTRANSACTIONSTATUS=DBO.UFN_GET_ISTATUS('CREATE')
						FROM ACCOUNTRECEIVABLE A 
						INNER JOIN @TDATA S ON A.ID=S.IDDOCUMENT

						SELECT @IINSERTED=@@ROWCOUNT
					
					
					END


					EXEC [dbo].[USP_MOUNT_PAYMENT] @IDPAYMENT, @IDUSER
				

				   IF @IINSERTED>0 
				BEGIN
				INSERT INTO AUDIT (IDUSER, IDRECORD, IDMODULE, VCOMMENT, DCREATED, VACTION)
					SELECT 
						@IDUSER,
						PD.IDPAYMENT,
						@IDMODULE,
						'CREACION DE CARRITO DE PAGO',
						GETDATE(),
						'CREATE'
					FROM @InsertedPayment PD 
				END


				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
