USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_CONTROL_COUNT]    Script Date: 05/10/2026 13:55:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_CONTROL_COUNT] --USP_CONTROL_COUNT 1,5
 @IDUSER INT,
 @IDINVENTORYCOUNT INT,
 @IDINVENTORYCOUNTDETAIL INT =NULL,
 @IDASSIGN INT =NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         :  
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

		DECLARE @IDSUPPLIER INT =(SELECT TOP 1 IDSUPPLIER FROM INVENTORYCOUNT WITH(NOLOCK) WHERE ID=@IDINVENTORYCOUNT)

BEGIN

	BEGIN TRY
		BEGIN TRAN 
	
			
				IF ISNULL(@IDINVENTORYCOUNTDETAIL,0)=0
				BEGIN
				     ---------------------------------------INSERTAR EN CONTEO 1 LOS CONTADOS EN PRECONTEO--------------------------------------------------
				     INSERT INTO INVENTORYCOUNTDETAIL(IDINVENTORY,IDCOUNT,IDLOCATION,IDPART,IQUANTITY_OLD,IQUANTITY_NEW,IDUSER,IDSTATUS,DCREATED,DCOUNTDATE,IDZONE)
                     SELECT 
					 @IDINVENTORYCOUNT,
					 1,
					 IC.IDLOCATION,
					 IC.IDPART,
					 IC.IQUANTITY_OLD,
					 IC.IQUANTITY_NEW,
					 IC.IDUSER,
				     DBO.UFN_GET_ISTATUS('PROCESS'),
					 GETDATE(),
				     IC.DCOUNTDATE,
					 IC.IDZONE
					 FROM INVENTORYCOUNTDETAIL IC 
					 INNER JOIN [LOCATION] L WITH (NOLOCK) ON IC.IDLOCATION=L.ID
					 WHERE IC.IDINVENTORY=@IDINVENTORYCOUNT AND IC.IDCOUNT = 0 AND
					 NOT EXISTS (SELECT * FROM INVENTORYCOUNTDETAIL ID WITH (NOLOCK) WHERE IC.IDLOCATION=ID.IDLOCATION AND IC.IDPART=ID.IDPART 
																							AND @IDINVENTORYCOUNT=ID.IDINVENTORY AND ID.IDCOUNT=1)
					 AND L.IDSUPPLIER=@IDSUPPLIER
					 AND L.VTYPE ='A'
					 AND IC.IQUANTITY_NEW IS NOT NULL
					 


					 ----------------------------INSERTAR EN CONTEO 1 UBICACIONES-PARTES CON EXISTENCIA-------------------------
					 INSERT INTO INVENTORYCOUNTDETAIL(IDINVENTORY,IDCOUNT,IDLOCATION,IDPART,IQUANTITY_OLD,IDSTATUS,DCREATED,IDZONE)
                     SELECT
					 @IDINVENTORYCOUNT,
					 1,
					 IC.IDLOCATION,
					 IC.IDPART,
					 IC.ISTOCK,
					 DBO.UFN_GET_ISTATUS('CREATE'),
					 GETDATE(),
					 L.IDZONE
					 FROM INVENTORY IC 
					 INNER JOIN [LOCATION] L WITH (NOLOCK) ON IC.IDLOCATION=L.ID
					 INNER JOIN [ZONE] Z WITH (NOLOCK) ON L.IDZONE=Z.ID
					 INNER JOIN PART P WITH (NOLOCK) ON IC.IDPART=P.ID
					 WHERE NOT EXISTS (SELECT * FROM INVENTORYCOUNTDETAIL ID WITH (NOLOCK) WHERE IC.IDLOCATION=ID.IDLOCATION AND IC.IDPART=ID.IDPART 
																				AND @IDINVENTORYCOUNT=ID.IDINVENTORY AND ID.IDCOUNT=1)
					 AND ISNULL(IC.ISTOCK,0)<>0
					 AND L.IDSUPPLIER=@IDSUPPLIER
					 AND P.IDSUPPLIER=@IDSUPPLIER
					 AND Z.VNAME NOT IN ('TRANSITO','CROSS DOCKING')
					 AND ISNULL(IC.IDLOCATION,0) <>0
					 AND ISNULL(IC.IDPART,0)<>0
					 AND L.VTYPE ='A'

					 --------------------------INSERTER PLANILLA VACIA POR ZONA PARA SOBRANTES-------------------------------------
					 INSERT INTO INVENTORYCOUNTDETAIL(IDINVENTORY,IDCOUNT,IDSTATUS,DCREATED,IDZONE)
					 SELECT @IDINVENTORYCOUNT,1,DBO.UFN_GET_ISTATUS('PROCESS'),GETDATE(),Z.ID
					 FROM ZONE Z WITH (NOLOCK)
					 WHERE Z.IDSUPPLIER=@IDSUPPLIER AND Z.VNAME NOT IN ('TRANSITO','CROSS DOCKING')

					EXEC USP_GROUP_FORM @IDINVENTORYCOUNT,@IDSUPPLIER


		        END
				

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN

		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
