USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_COUNTBYUSER]    Script Date: 25/09/2026 16:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[USP_POST_COUNTBYUSER]  
 @DATA NVARCHAR(MAX),
 @IDUSER INT, 
 @IDCOUNT INT 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
 
	BEGIN TRY
		BEGIN TRAN 

				DECLARE @TDATA AS TABLE
				(
					IDUSER INT,
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(200),
					IDRELATED INT
				);

		
				INSERT INTO @TDATA
				SELECT UserId ,RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						UserId int,RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS C
			

				DECLARE @IDACTION INT
				DECLARE @VACTION VARCHAR(20)
			   -- DECLARE @IDUSER INT 
				DECLARE @IDMODULE INT 
				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @IDRELATED INT

		
				SELECT TOP 1 @VACTION=VACTION,@IDMODULE =IDMODULE, @IDRELATED=IDRELATED FROM @TDATA
				SELECT TOP 1 @IDACTION = ID FROM ACTION WITH (NOLOCK) WHERE VNAME= @VACTION 
				DECLARE @IDSTATUS INT= (SELECT TOP 1 IDESTATUS FROM INVENTORYCOUNT WHERE ID=@IDRELATED)


				BEGIN
				SET @VACTION='ASSIGN'
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
					INSERT INTO COUNTBYUSER(IDUSER,IDASSIGN,VASSIGNTYPE,IDINVENTORYCOUNT,DCREATED,IDCOUNT)
					SELECT	                IDUSER, IDRECORD,VCOMMENT,IDRELATED,GETDATE(),@IDCOUNT  FROM @TDATA D
					WHERE NOT EXISTS (SELECT * FROM COUNTBYUSER C WITH (NOLOCK) WHERE C.IDUSER=D.IDUSER AND D.IDRECORD=C.IDASSIGN 
					AND D.IDRELATED=C.IDINVENTORYCOUNT )

					SELECT @IINSERTED=@@ROWCOUNT
					SELECT @IID=SCOPE_IDENTITY()

				END


				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		DECLARE @ErrorMessage NVARCHAR(4000) 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
