USE [FIGO]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_CHECK_PARALYZED]    Script Date: 22/09/2026 12:20:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_CHECK_PARALYZED]
 @DATA NVARCHAR(MAX),
 @IDUSER INT
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(MAX),
					IDRELATED INT
				);

				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS A


				DECLARE @VACTION VARCHAR(20)
				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @VRECORD VARCHAR(20) 
				DECLARE @VACTIONRECORD VARCHAR(20)
				DECLARE @ErrorMessage NVARCHAR(4000) 
				DECLARE @IDCOMMENT INT ;
				DECLARE @IDMODULE INT=7;
				DECLARE @TEMPLATE VARCHAR(100)='PLANTILLA DE NOTIFICACION ESTATUS Y MSJ'

				DECLARE @VCONTEXT VARCHAR(100)= 'NOTIFICACION MODULO REPORTE DE FALLA';
														

				SELECT TOP 1 @VACTION=VACTION FROM @TDATA
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE


				IF EXISTS (SELECT T.* FROM  @TDATA T
				INNER JOIN MAINTENANCE P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IESTATUS=A.ID
				WHERE A.VNAME NOT IN ('CREATE','TOVALIDATE','VALIDATE')  )
				BEGIN
				   SET @ErrorMessage ='ACCION NO PERMITIDA PARA EL ESTATUS ACTUAL DEL REPORTE'
				   RAISERROR ( @ErrorMessage , 16,1) 
				   RETURN
				END

				IF EXISTS (SELECT T.* FROM  @TDATA T
				INNER JOIN MAINTENANCE P WITH (NOLOCK) ON T.IDRECORD=P.ID
				WHERE P.IDREPORTTYPE = 7 AND T.IDRELATED=0 )
				BEGIN
				   SET @ErrorMessage ='ACCION NO PERMITIDA PARA EL TIPO DE REPORTE'
				   RAISERROR ( @ErrorMessage , 16,1) 
				   RETURN
				END

				IF @VACTION ='EDIT'
				BEGIN
					UPDATE P
						SET P.BPARALYZED=D.IDRELATED,
							P.DUPDATED = GETDATE(),
							P.VUPDATEDBY = DBO.UFN_GET_LOGIN(@IDUSER)
					FROM MAINTENANCE P
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID 
					WHERE P.IESTATUS IN (DBO.UFN_GET_ISTATUS('CREATE'),
					DBO.UFN_GET_ISTATUS('TOVALIDATE'),DBO.UFN_GET_ISTATUS('VALIDATE')) 
					SELECT @IUPDATED=@@ROWCOUNT
				END

					
				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				IF @IUPDATED>0
				BEGIN

					INSERT INTO COMMENT(VCONTENT,VCREATEDBY,IDRECORD,IDMODULE,BACTIVE,DCREATED)
					SELECT 
					CASE 
						WHEN D.IDRELATED=1 THEN 'CAMBIO UNIDAD PARALIZADA'
						ELSE 'CAMBIO UNIDAD NO PARALIZADA'
					END, 
					DBO.UFN_GET_LOGIN(@IDUSER),
					D.IDRECORD,
					7,
					1,
					GETDATE()
								FROM @TDATA D
								INNER JOIN MAINTENANCE P (NOLOCK) ON D.IDRECORD = P.ID
								INNER JOIN ACTION A (NOLOCK) ON D.VACTION =A.VNAME
								WHERE   P.IESTATUS IN (DBO.UFN_GET_ISTATUS('CREATE'),
								 DBO.UFN_GET_ISTATUS('TOVALIDATE'),DBO.UFN_GET_ISTATUS('VALIDATE')) 
								SELECT @IINSERTED=@@ROWCOUNT
						
								SET @IDCOMMENT=SCOPE_IDENTITY()
								EXEC USP_INSERT_REMINDERCONTENT @IDCOMMENT,@TEMPLATE,@VCONTEXT


					INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
					SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
					FROM @TDATA
				END

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END