USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_STOCK_COUNT]    Script Date: 25/09/2026 16:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_STOCK_COUNT]
    @IDUSER         INT,
    @IDSUPPLIER     INT,
    @DATA           NVARCHAR(MAX),
    @ISUNASSIGNED   BIT = 0
/* '===============================================================
  '   NOMBRE                : USP_POST_STOCK_COUNT
  '   FECHA CREACIÓN        :
  '   CREADO POR            : GERARDO JIMENEZ
  '   CREADO PARA           :
  '   FUNCIÓN               : INSERTAR O ACTUALIZAR EL CONTEO DE INVENTARIO
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/
AS
BEGIN
    SET XACT_ABORT ON;
    SET NOCOUNT ON;
    SET LOCK_TIMEOUT 180000;

    DECLARE @IDESTATUS      INT;
    DECLARE @LOCATIONID     INT;
    DECLARE @PARTID         INT;
    DECLARE @ZONEID         INT;
    DECLARE @IDINVENTORY    INT;
    DECLARE @LOCATIONCODE   VARCHAR(50);
    DECLARE @PARTCODE       VARCHAR(50);
    DECLARE @IQUANTITY_NEW  INT;
    DECLARE @IQUANTITY_OLD  INT;
    DECLARE @IINSERTED      INT = 0;
    DECLARE @IUPDATED       INT = 0;
    DECLARE @IID            INT = 0;
    DECLARE @DETAILID       INT;
    DECLARE @DETAILSTATUS   INT;
    DECLARE @DETAILUSER     INT;
    DECLARE @DETAILQTYNEW   INT;
    DECLARE @ErrorMessage   VARCHAR(500);

    BEGIN TRY

         -- PARSEAR JSON
        SELECT TOP 1
            @IDINVENTORY   = IDINVENTORY,
            @LOCATIONCODE  = LOCATIONCODE,
            @PARTCODE      = PARTCODE,
            @IQUANTITY_NEW = IQUANTITY_NEW
        FROM OPENJSON(@DATA)
        WITH (
            IDINVENTORY   INT          '$.IdInventory',
            LOCATIONCODE  VARCHAR(50)  '$.LocationCode',
            PARTCODE      VARCHAR(50)  '$.PartCode',
            IQUANTITY_NEW INT          '$.Quantity'
        );

       --  VALIDAR INVENTARIO 
        SELECT @IDESTATUS = IC.IDESTATUS
        FROM INVENTORYCOUNT IC WITH (NOLOCK)
        WHERE IC.ID         = @IDINVENTORY
          AND IC.IDSUPPLIER = @IDSUPPLIER
          AND IC.IDESTATUS  IN (20, 6);

        IF @IDESTATUS IS NULL
        BEGIN
            SET @ErrorMessage = 'INVENTARIO NO ENCONTRADO O NO ESTÁ ACTIVO';
            RAISERROR(@ErrorMessage, 16, 1);
            RETURN;
        END

        --/*
        -- VALIDAR QUE EL BOTÓN (+) SOLO APLIQUE EN INVENTARIO FINAL
        --  
        --IF @IDESTATUS = 20 AND @ISUNASSIGNED = 1
        --BEGIN
        --    SET @ErrorMessage = 'EL BOTÓN (+) SOLO APLICA EN INVENTARIO FINAL';
        --    RAISERROR(@ErrorMessage, 16, 1);
        --    RETURN;
        --END


         --  VALIDAR CANTIDAD
        IF @IQUANTITY_NEW IS NULL OR @IQUANTITY_NEW < 0
        BEGIN
            SET @ErrorMessage = 'LA CANTIDAD NO PUEDE SER VACIA O NEGATIVA';
            RAISERROR(@ErrorMessage, 16, 1);
            RETURN;
        END



        -- OBTENER UBICACIÓN

        SELECT @LOCATIONID = L.ID,
               @ZONEID     = L.IDZONE
        FROM LOCATION L WITH (NOLOCK)
        WHERE L.VNAME       = @LOCATIONCODE
          AND L.BACTIVE     = 1
          AND L.IDSUPPLIER  = @IDSUPPLIER;

        IF @LOCATIONID IS NULL
        BEGIN
            SET @ErrorMessage = 'UBICACIÓN NO ENCONTRADA O INACTIVA';
            RAISERROR(@ErrorMessage, 16, 1);
            RETURN;
        END


         -- OBTENER REPUESTO

        SELECT @PARTID = P.ID
        FROM PART P WITH (NOLOCK)
        WHERE (P.VINNERCODE = @PARTCODE OR P.VBARCODE = @PARTCODE)
          AND P.BACTIVE     = 1
          AND P.IDSUPPLIER  = @IDSUPPLIER;

        IF @PARTID IS NULL
        BEGIN
            SET @ErrorMessage = 'REPUESTO NO ENCONTRADO O INACTIVO';
            RAISERROR(@ErrorMessage, 16, 1);
            RETURN;
        END

        /* 
            VALIDAR ASIGNACIÓN 
           - Preinventario (20): solo VASSIGNTYPE = 'Z'
           - Inventario final (6): VASSIGNTYPE IN ('Z','P','L','F') */

        IF @IDESTATUS = 20
        BEGIN
            IF NOT EXISTS (
                SELECT 1
                FROM COUNTBYUSER CBU WITH (NOLOCK)
                WHERE CBU.IDUSER           = @IDUSER
                  AND CBU.IDINVENTORYCOUNT = @IDINVENTORY
                  AND CBU.IDSUPPLIER       = @IDSUPPLIER
                  AND CBU.VASSIGNTYPE      = 'Z'
                  AND CBU.IDASSIGN         = @ZONEID
            )
            BEGIN
                SET @ErrorMessage = 'USUARIO NO TIENE ACCESO A ESTA ZONA';
                RAISERROR(@ErrorMessage, 16, 1);
                RETURN;
            END
        END

        IF @IDESTATUS = 6
        BEGIN
            IF NOT EXISTS (
                SELECT 1
                FROM COUNTBYUSER CBU WITH (NOLOCK)
                WHERE CBU.IDUSER           = @IDUSER
                  AND CBU.IDINVENTORYCOUNT = @IDINVENTORY
                  AND CBU.IDSUPPLIER       = @IDSUPPLIER
                  AND (
                        (CBU.VASSIGNTYPE = 'Z' AND CBU.IDASSIGN = @ZONEID)
                     OR (CBU.VASSIGNTYPE = 'P' AND CBU.IDASSIGN = @PARTID)
                     OR (CBU.VASSIGNTYPE = 'L' AND CBU.IDASSIGN = @LOCATIONID)
                     OR (CBU.VASSIGNTYPE = 'F' AND CBU.IDASSIGN = 4)
                  )
            )
            BEGIN
                SET @ErrorMessage = 'USUARIO NO TIENE ACCESO A ESTA UBICACIÓN/REPUESTO';
                RAISERROR(@ErrorMessage, 16, 1);
                RETURN;
            END
        END

         -- OBTENER STOCK ACTUAL (IQUANTITY_OLD) 
        SELECT @IQUANTITY_OLD = ISNULL(I.ISTOCK, 0)
        FROM INVENTORY I WITH (NOLOCK)
        WHERE I.IDLOCATION = @LOCATIONID
          AND I.IDPART     = @PARTID;

        SET @IQUANTITY_OLD = ISNULL(@IQUANTITY_OLD, 0);

        BEGIN TRANSACTION;


       -- CASO 1: PREINVENTARIO (ESTATUS 20)
        IF @IDESTATUS = 20
        BEGIN
            SELECT TOP 1
                @DETAILID     = ICD.ID,
                @DETAILSTATUS = ICD.IDSTATUS,
                @DETAILUSER   = ICD.IDUSER,
                @DETAILQTYNEW = ICD.IQUANTITY_NEW
            FROM INVENTORYCOUNTDETAIL ICD WITH (NOLOCK)
            WHERE ICD.IDINVENTORY = @IDINVENTORY
              AND ICD.IDCOUNT     = 0
              AND ICD.IDLOCATION  = @LOCATIONID
              AND ICD.IDPART      = @PARTID;


            -- Existe registro --> validar --> UPDATE
            IF @DETAILID IS NOT NULL
            BEGIN
                IF @DETAILSTATUS = 2 AND @DETAILUSER IS NULL AND @DETAILQTYNEW IS NULL
                BEGIN
                    UPDATE INVENTORYCOUNTDETAIL
                    SET IQUANTITY_OLD = @IQUANTITY_OLD,
                        IQUANTITY_NEW = @IQUANTITY_NEW,
                        IDUSER        = @IDUSER,
                        IDSTATUS      = 18,
                        DCOUNTDATE    = GETDATE()
                    WHERE ID = @DETAILID;

                    SET @IUPDATED = @@ROWCOUNT;
                    SET @IID = @DETAILID;
                END
                ELSE
                BEGIN
                    SET @ErrorMessage = 'ESTE ÍTEM YA FUE CONTADO.';
                    RAISERROR(@ErrorMessage, 16, 1);
                    RETURN;
                END
            END
            -- No existe --> INSERT
            ELSE
            BEGIN
                INSERT INTO INVENTORYCOUNTDETAIL
                (
                    IDINVENTORY, IDCOUNT, IDLOCATION, IDPART,
                    IQUANTITY_OLD, IQUANTITY_NEW, IDUSER, IDSTATUS,
                    DCREATED, DCOUNTDATE
                )
                VALUES
                (
                    @IDINVENTORY, 0, @LOCATIONID, @PARTID,
                    @IQUANTITY_OLD, @IQUANTITY_NEW, @IDUSER, 18,
                    GETDATE(), GETDATE()
                );

                SET @IINSERTED = @@ROWCOUNT;
                SET @IID = SCOPE_IDENTITY();
            END
        END

       -- CASO 2: INVENTARIO FINAL (ESTATUS 6)

        IF @IDESTATUS = 6
        BEGIN
            SELECT TOP 1
                @DETAILID     = ICD.ID,
                @DETAILSTATUS = ICD.IDSTATUS
            FROM INVENTORYCOUNTDETAIL ICD WITH (NOLOCK)
            WHERE ICD.IDINVENTORY = @IDINVENTORY
              AND ICD.IDCOUNT     = 1
              AND ICD.IDLOCATION  = @LOCATIONID
              AND ICD.IDPART      = @PARTID;

            -- Existe registro
            IF @DETAILID IS NOT NULL
            BEGIN
                --  Botón (+) sobre algo ya asignado 
                IF @ISUNASSIGNED = 1
                BEGIN
                    SET @ErrorMessage = 'ESTE REPUESTO YA ESTÁ ASIGNADO';
                    RAISERROR(@ErrorMessage, 16, 1);
                    RETURN;
                END

                -- Ya contado 
                IF @DETAILSTATUS = 18
                BEGIN
                    SET @ErrorMessage = 'ESTE ÍTEM YA FUE CONTADO';
                    RAISERROR(@ErrorMessage, 16, 1);
                    RETURN;
                END

                --  Pendiente --> UPDATE
                IF @DETAILSTATUS = 2
                BEGIN
                    UPDATE INVENTORYCOUNTDETAIL
                    SET IQUANTITY_OLD = @IQUANTITY_OLD,
                        IQUANTITY_NEW = @IQUANTITY_NEW,
                        IDUSER        = @IDUSER,
                        IDSTATUS      = 18,
                        DCOUNTDATE    = GETDATE()
                    WHERE ID = @DETAILID;

                    SET @IUPDATED = @@ROWCOUNT;
                    SET @IID = @DETAILID;
                END
            END
            -- No existe registro
            ELSE
            BEGIN
                --  Conteo normal sin botón (+) --> error
                IF @ISUNASSIGNED = 0
                BEGIN
                    SET @ErrorMessage = 'REPUESTO NO ASIGNADO. USE EL BOTÓN (+) SI ES ADICIONAL';
                    RAISERROR(@ErrorMessage, 16, 1);
                    RETURN;
                END

                -- Botón (+) --> validar que no exista ya contado
                IF EXISTS (
                    SELECT 1
                    FROM INVENTORYCOUNTDETAIL ICD WITH (NOLOCK)
                    WHERE ICD.IDINVENTORY = @IDINVENTORY
                      AND ICD.IDLOCATION  = @LOCATIONID
                      AND ICD.IDPART      = @PARTID
                      AND ICD.IDCOUNT     = 1
                      AND ICD.IDSTATUS    = 18
                )
                BEGIN
                    SET @ErrorMessage = 'ESTE REPUESTO YA FUE CONTADO EN ESTA UBICACIÓN';
                    RAISERROR(@ErrorMessage, 16, 1);
                    RETURN;
                END

                -- INSERT con botón (+)
                INSERT INTO INVENTORYCOUNTDETAIL
                (
                    IDINVENTORY, IDCOUNT, IDLOCATION, IDPART,
                    IQUANTITY_OLD, IQUANTITY_NEW, IDUSER, IDSTATUS,
                    DCREATED, DCOUNTDATE
                )
                VALUES
                (
                    @IDINVENTORY, 1, @LOCATIONID, @PARTID,
                    @IQUANTITY_OLD, @IQUANTITY_NEW, @IDUSER, 18,
                    GETDATE(), GETDATE()
                );

                SET @IINSERTED = @@ROWCOUNT;
                SET @IID = SCOPE_IDENTITY();
            END
        END

        
        SELECT
            ISNULL(@IID, 0)         AS IID,
            ISNULL(@IINSERTED, 0)   AS IINSERTED,
            ISNULL(@IUPDATED, 0)    AS IUPDATED;

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        SET @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END
