USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_INVENTORYCOUNTDETAILBYFORM]    Script Date: 25/09/2026 16:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_INVENTORYCOUNTDETAILBYFORM]-- USP_GET_INVENTORYCOUNTDETAILBYFORM 1,4069,1,568,NULL
@IDUSER INT, 
@IDSUPPLIER INT =NULL,
@ID INT,
@IDFORM INT,
@IROWFROM INT = NULL


AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

		
	BEGIN
       	WITH T1 AS (
			SELECT 
				PD.*,
				CASE 
					WHEN A.ID=2 THEN 'POR CONTAR'
					WHEN A.ID=18 THEN 'CONTADO'
					ELSE A.VDISPLAYESTATUS 
				END AS VESTATUS,
				ISNULL(C.VLOGIN,'') AS VASSIGN,
				L.VNAME AS VLOCATION,
				Z.VNAME AS VZONE,
				R.VINNERCODE,
				R.VDESCRIPTION AS VPART,
				Z.ID AS IDZONE,
				(PD.IQUANTITY_OLD - PD.IQUANTITY_NEW) AS IDIFERENCE,
				-- Numeramos cada fila dentro de su propia zona
				ROW_NUMBER() OVER (
					PARTITION BY Z.ID 
					ORDER BY 
						CASE 
							WHEN A.ID=2 THEN 1 
							WHEN A.ID=6 THEN 2 
							ELSE 3 
						END, 
						PD.DCREATED DESC
				) AS RN_ZONE
			FROM INVENTORYCOUNTDETAIL PD WITH (NOLOCK)
			INNER JOIN INVENTORYCOUNT P WITH (NOLOCK) ON PD.IDINVENTORY = P.ID
			INNER JOIN ACTION A WITH (NOLOCK) ON PD.IDSTATUS = A.ID
			LEFT JOIN INFOUSER C WITH (NOLOCK) ON PD.IDUSER = C.IDUSER
			INNER JOIN [LOCATION] L WITH (NOLOCK) ON PD.IDLOCATION = L.ID
			INNER JOIN [ZONE] Z WITH (NOLOCK) ON L.IDZONE = Z.ID
			LEFT JOIN PART R WITH (NOLOCK) ON PD.IDPART = R.ID 
			WHERE P.IDSUPPLIER = @IDSUPPLIER
			  AND P.ID = @ID
			  AND PD.IFORM=@IDFORM

		), 
		T2 AS (
			SELECT COUNT(*) AS TOTAL FROM T1
		)
		SELECT 
			T1.*, 
			T2.TOTAL
		FROM T1, T2
		WHERE T1.RN_ZONE > (@IROWFROM * 100) 
		  AND T1.RN_ZONE <= ((@IROWFROM + 1) * 100)
		ORDER BY 
			T1.IDZONE,
			CASE 
				WHEN T1.VINNERCODE IS NOT NULL THEN 1 
				ELSE 2
			END, 
			CASE 
				WHEN T1.VESTATUS = 'POR CONTAR' THEN 1 
				WHEN T1.VESTATUS = 'CONTADO' THEN 2 
				ELSE 3 
			END, 
    T1.DCREATED DESC;

	END