USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_COUNTSUMMARY]    Script Date: 02/10/2026 12:22:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_COUNTSUMMARY]-- USP_GET_COUNTSUMMARY 1,4076,NULL,2
@IDUSER INT, 
@IDSUPPLIER INT =NULL,
@IROWFROM INT = NULL,
@ID INT =NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;               
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	DECLARE @ISDEALER BIT=0
	IF NOT EXISTS (SELECT * FROM [dbo].[V_SUPPLIERS_USER] WHERE IDUSER=@IDUSER)
	BEGIN
		SET @ISDEALER=1
	END

	DECLARE @TOPE INT

	IF @IROWFROM IS NULL
	BEGIN
		SET @TOPE=1000000
		SET @IROWFROM=0
	END
	ELSE
	BEGIN
		SET @TOPE=100
	END

   IF EXISTS (SELECT * FROM INVENTORYCOUNT WITH (NOLOCK) WHERE ID=@ID AND IDESTATUS=DBO.UFN_GET_ISTATUS('AVAILABLE'))
BEGIN
    WITH T1 AS (
       SELECT 
			Z.ID,
			Z.VNAME AS VZONE,
			COUNT(DISTINCT L.ID) AS ILOCATIONTOTAL,
			ISNULL(COUNT(DISTINCT CASE WHEN A.VDISPLAYESTATUS = 'PROCESADO' THEN PD.IDLOCATION END), 0) AS ILOCATIONCOUNTED,
			ISNULL(
			CAST(
				COUNT(DISTINCT CASE WHEN A.VDISPLAYESTATUS = 'PROCESADO' THEN PD.IDLOCATION END) * 100.0 
				/ NULLIF(COUNT(DISTINCT L.ID), 0) 
				AS DECIMAL(18,2)), 
				0.00
			) AS DPORCENTAGE,
			ISNULL(COUNT(DISTINCT CB.IDUSER), 0) AS IUSERSASSIGNED,
			COUNT(DISTINCT PD.IFORM) AS IFORMTOTAL,
			COUNT(DISTINCT CASE WHEN PD.IDUSER IS NOT NULL THEN PD.IFORM END) AS IFORMASSIGN
			FROM [ZONE] Z WITH (NOLOCK) 
			INNER JOIN [LOCATION] L WITH (NOLOCK) ON Z.ID = L.IDZONE
			LEFT JOIN INVENTORYCOUNTDETAIL PD WITH (NOLOCK) ON L.ID = PD.IDLOCATION AND PD.IDINVENTORY = @ID
			LEFT JOIN INVENTORYCOUNT P WITH (NOLOCK) ON PD.IDINVENTORY = P.ID 
			LEFT JOIN ACTION A WITH (NOLOCK) ON PD.IDSTATUS = A.ID
			LEFT JOIN COUNTBYUSER CB WITH (NOLOCK) ON Z.ID = CB.IDASSIGN  AND CB.VASSIGNTYPE = 'Z' AND CB.IDINVENTORYCOUNT= @ID
			WHERE Z.IDSUPPLIER=@IDSUPPLIER
			AND Z.VNAME NOT IN ('TRANSITO','CROSS DOCKING')
			AND L.VTYPE='A'
			GROUP BY 
				Z.ID, 
				Z.VNAME
			), 
			T2 AS (
				SELECT COUNT(*) AS TOTAL FROM T1
			),
			T3 AS (
				SELECT * FROM T1
				ORDER BY  T1.VZONE DESC
				OFFSET @IROWFROM ROWS
				FETCH NEXT @TOPE ROWS ONLY
			)
			SELECT T3.*, T2.TOTAL
			FROM T3, T2
END
ELSE
BEGIN 
	 WITH T1 AS (
		   SELECT 
			Z.ID,
			Z.VNAME AS VZONE,
			COUNT(DISTINCT L.ID) AS ILOCATIONTOTAL,
			ISNULL(COUNT(DISTINCT CASE WHEN A.VDISPLAYESTATUS = 'PROCESADO' THEN PD.IDLOCATION END), 0) AS ILOCATIONCOUNTED,
		    ISNULL(
			CAST(
				COUNT(DISTINCT CASE WHEN A.VDISPLAYESTATUS = 'PROCESADO' THEN PD.IDLOCATION END) * 100.0 
				/ NULLIF(COUNT(DISTINCT L.ID), 0) 
				AS DECIMAL(18,2)), 
				0.00
			) AS DPORCENTAGE,
			ISNULL(COUNT(DISTINCT PD.IDUSER), 0) AS IUSERSASSIGNED,
			COUNT(DISTINCT PD.IFORM) AS IFORMTOTAL,
			COUNT(DISTINCT CASE WHEN PD.IDUSER IS NOT NULL THEN PD.IFORM END) AS IFORMASSIGN
			FROM [ZONE] Z WITH (NOLOCK) 
			INNER JOIN [LOCATION] L WITH (NOLOCK) ON Z.ID = L.IDZONE
			LEFT JOIN INVENTORYCOUNTDETAIL PD WITH (NOLOCK) ON L.ID = PD.IDLOCATION AND PD.IDINVENTORY = @ID
			LEFT JOIN INVENTORYCOUNT P WITH (NOLOCK) ON PD.IDINVENTORY = P.ID 
			LEFT JOIN ACTION A WITH (NOLOCK) ON PD.IDSTATUS = A.ID
			WHERE Z.IDSUPPLIER=@IDSUPPLIER
			AND Z.VNAME NOT IN ('TRANSITO','CROSS DOCKING')
			AND L.VTYPE='A'
			GROUP BY 
				Z.ID, 
				Z.VNAME
			), 
			T2 AS (
				SELECT COUNT(*) AS TOTAL FROM T1
			),
			T3 AS (
				SELECT * FROM T1
				ORDER BY  T1.VZONE DESC
				OFFSET @IROWFROM ROWS
				FETCH NEXT @TOPE ROWS ONLY
			)

			SELECT T3.*, T2.TOTAL
			FROM T3, T2

END