USE [ZEPPELIN]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_SERVICESTATUS]    Script Date: 29/09/2026 10:09:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_SERVICESTATUS]

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


SELECT C.* FROM SERVICESTATUS C WITH (NOLOCK)
ORDER BY 
CASE 
	WHEN C.VNAME='No Aplica' THEN 1
	ELSE 2 
	END

