USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_REPORTS_REP015]    Script Date: 24/09/2026 11:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_REPORTS_REP015]
--USP_GET_REPORTS_REP015 1,0, 4069,0,NULL,'2026-01-01',NULL
@IDUSER     INT,  
@IDDEALER	INT			 = NULL,
@IDSUPPLIER INT          = NULL,
@IROWFROM   INT          = NULL,
@VFILTER    VARCHAR(100) = NULL,
@DFROMDATE  DATETIME     = NULL,
@DUPTODATE  DATETIME     = NULL
AS
/* '===============================================================
  '   NOMBRE                : 
  '   FECHA CREACIÓN        :  JUAN GUARECUCO
  '   CREADO POR            : 
  '   CREADO PARA           : 
  '   FUNCIÓN               : REPORTE UNIDADES PARALIZADAS
  '   VERSIÓN               :  
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON;
SET NOCOUNT ON;
SET LOCK_TIMEOUT 180000;

	DECLARE @IDUSER2     INT  
	DECLARE @IDSUPPLIER2 INT
	DECLARE @IDDEALER2     INT
	DECLARE @IROWFROM2   INT
	DECLARE @VFILTER2    VARCHAR(100)
	DECLARE @DFROMDATE2  DATETIME
	DECLARE @DUPTODATE2  DATETIME

	SELECT @IDUSER2=@IDUSER,@IDDEALER2=@IDDEALER,@IDSUPPLIER2=@IDSUPPLIER,@IROWFROM2=@IROWFROM,
	@VFILTER2=@VFILTER,@DFROMDATE2=@DFROMDATE,@DUPTODATE2=@DUPTODATE

    -- PREPARAR PAGINACION
    DECLARE @TOPE INT
    IF @IROWFROM2 IS NULL
    BEGIN
        SET @TOPE     = 1000000
        SET @IROWFROM2 = 0
    END
    ELSE
    BEGIN
        SET @TOPE = 100
    END

	SELECT @VFILTER2= ISNULL(@VFILTER2,'')
    DECLARE @FechaInicio DATETIME = DATEADD(DAY, -360, GETDATE());
    SELECT @DFROMDATE2 = CONVERT(VARCHAR(10),isnull(@DFROMDATE2,getdate()-180),120)
    SELECT @DUPTODATE2 = CONVERT(VARCHAR(10),isnull(@DUPTODATE2,getdate()+1),120)
	DECLARE @LIKEFILTER VARCHAR(100)
    SELECT @LIKEFILTER = '%'+@VFILTER2+'%'


	CREATE TABLE #TMP_PARALYZEDUNITS(
	[IDSUPPLIER] [int] NULL,
	[IDDEALER] [int] NULL,
	[IDVEHICLE] [int] NULL,
	[DOCUMENTID] [int] NOT NULL,
	[DOCUMENTDATE] [datetime] NULL,
	[CASETYPE] [varchar](20) NOT NULL,
	[DOCUMENTTYPE] [varchar](50) NOT NULL,
	[DOCUMENTSTATUS] [varchar](40) NOT NULL,
	[REFERENCEID] [varchar](200) NULL,
    [REFERENCESTATUS] [varchar](40) NOT NULL,
	[SALERORDERDATE] [datetime] NULL,
	[VDESCRIPTIONSALEORDER] [varchar](MAX) NULL,
	[VCOMMENTSALEORDER] [varchar](MAX) NULL,
	[VTECHNICALSOLUTION] [varchar](MAX) NULL
	)

	CREATE TABLE #SALEORDER
	(
	ID VARCHAR(200),
	STATUSNAME VARCHAR(40),
	IDREFERENCE VARCHAR(20) NOT NULL,
	DCREATED DATETIME NULL,
	VDESCRIPCION VARCHAR(MAX) NULL,
	VCOMMENT VARCHAR (400) NULL
	)

	CREATE TABLE #CUSTOMER
	(
	ID VARCHAR(10),
	VNAME VARCHAR(300)
	)

	INSERT INTO #CUSTOMER(ID,VNAME)
	SELECT ID, (VFIRSTNAME+' '+ISNULL(VLASTNAME,'')) AS VNAME FROM CONTACT

	INSERT INTO #SALEORDER
	SELECT 
    -- 1. Lista de Pedidos ÚNICOS
    STUFF((
        SELECT DISTINCT ', PEDIDO NUM: ' + CAST(S2.ID AS VARCHAR(10))
        FROM [dbo].[SALEORDER] S2
        WHERE S2.VREFERENCE = S.VREFERENCE 
          AND S2.BPARALYZED = 1 
          AND S2.IDTYPE IN (1, 2, 7)
        FOR XML PATH(''), TYPE
    ).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS Pedidos,

    -- 2. Estatus del pedido MÁS RECIENTE
    EstatusReciente.VDISPLAYESTATUS,

    S.VREFERENCE, 
    MAX(S.DCREATED) AS UltimaFecha,

    -- 3. Lista de Partes ÚNICAS con salto de línea
    STUFF((
        SELECT DISTINCT ';' + CHAR(13) + CHAR(10) + 'PEDIDO ' + CAST(S2.ID AS VARCHAR(10)) + ' :' + P2.VDESCRIPTION + ' CANT: ' + CAST(SD2.IREQUIRED AS VARCHAR(20))
        FROM [dbo].[SALEORDER] S2
        INNER JOIN SALEORDERDETAIL SD2 WITH (NOLOCK) ON S2.ID = SD2.IDSALEORDER
        INNER JOIN PART P2 ON P2.ID = SD2.IDPART
        WHERE S2.VREFERENCE = S.VREFERENCE 
          AND S2.BPARALYZED = 1 
          AND S2.IDTYPE IN (1, 2, 7)
        FOR XML PATH(''), TYPE
    ).value('.', 'NVARCHAR(MAX)'), 1, 3, '') AS DescripcionPartes,

    -- 4. Comentarios ÚNICOS por pedido con salto de línea
    STUFF((
        SELECT DISTINCT ';' + CHAR(13) + CHAR(10) + 'PEDIDO ' + CAST(S3.ID AS VARCHAR(10)) + ' - ' + ISNULL(S3.VCOMMENT, '')
        FROM [dbo].[SALEORDER] S3
        WHERE S3.VREFERENCE = S.VREFERENCE 
          AND S3.BPARALYZED = 1 
          AND S3.IDTYPE IN (1, 2, 7)
        FOR XML PATH(''), TYPE
    ).value('.', 'NVARCHAR(MAX)'), 1, 3, '') AS COMMENT

FROM [dbo].[SALEORDER] S
INNER JOIN SALEORDERDETAIL SD WITH (NOLOCK) ON S.ID = SD.IDSALEORDER
INNER JOIN PART P ON P.ID = SD.IDPART
INNER JOIN V_DEALERS D ON D.IDDEALER = S.IDDEALER

-- Obtenemos el estatus del pedido más reciente para este VREFERENCE
OUTER APPLY (
    SELECT TOP 1 A2.VDISPLAYESTATUS
    FROM [dbo].[SALEORDER] S2
    INNER JOIN ACTION A2 ON A2.ID = S2.IDESTATUS
    WHERE S2.VREFERENCE = S.VREFERENCE 
      AND S2.BPARALYZED = 1 
      AND S2.IDTYPE IN (1, 2, 7)
    ORDER BY S2.DCREATED DESC
) EstatusReciente

WHERE S.BPARALYZED = 1
  AND S.IDTYPE IN (1, 2, 7)
  AND S.DCREATED >= @FechaInicio
  AND (@IDSUPPLIER2 IS NULL OR D.IDSUPPLIER = @IDSUPPLIER2)
  AND (ISNULL(@IDDEALER2,0) =0 OR D.IDDEALER = @IDDEALER2)
GROUP BY 
    S.VREFERENCE,
    EstatusReciente.VDISPLAYESTATUS;


	INSERT INTO #TMP_PARALYZEDUNITS(IDSUPPLIER,IDDEALER,IDVEHICLE,DOCUMENTID,DOCUMENTDATE,CASETYPE,DOCUMENTTYPE,DOCUMENTSTATUS,REFERENCEID,
	REFERENCESTATUS,SALERORDERDATE,VDESCRIPTIONSALEORDER,VCOMMENTSALEORDER,VTECHNICALSOLUTION)
	SELECT 
	D.IDSUPPLIER,
	S.IDDEALER AS IDDEALER,
	S.IDVEHICLE,
	S.ID AS DOCUMENTID,
	S.DCREATED DOCUMENTDATE,
	CASE WHEN S.IDSERVICETYPE = 1 THEN 'MANTENIMIENTO'
	WHEN S.IDSERVICETYPE = 2 THEN 'ASISTENCIA TECNICA' ELSE 'REPORTE FALLA' END CASETYPE ,
	RT.VNAME AS DOCUMENTTYPE,
    SV.VNAME AS DOCUMENTSTATUS,
    ISNULL(SO.ID,'') AS REFERENCEID,
	ISNULL(SO.STATUSNAME,'') AS REFERENCESTATUS,
	SO.DCREATED AS SALERORDERDATE,
	SO.VDESCRIPCION AS VDESCRIPTIONSALEORDER,
	SO.VCOMMENT AS VCOMMENTSALEORDER,
	CASE WHEN S.IDSERVICETYPE=2 THEN S.VSUPPLIERDECISION ELSE S.VTECHNICALSOLUTION END AS VTECHNICALSOLUTION
	FROM [dbo].[MAINTENANCE] S
	INNER JOIN V_DEALERS D ON D.IDDEALER=S.IDDEALER
	INNER JOIN REPORTTYPE RT ON RT.ID=S.IDREPORTTYPE
	INNER JOIN ACTION A ON A.ID=S.IESTATUS
	LEFT JOIN SERVICESTATUS SV WITH (NOLOCK) ON S.ISERVICESTATUS=SV.ID
	LEFT JOIN #SALEORDER SO ON CAST(S.ID AS VARCHAR(20))=SO.IDREFERENCE
	WHERE S.BPARALYZED=1
	AND S.IDSERVICETYPE IN (3) -- SOLO ASISTENCIA TECNICA
	AND S.IESTATUS NOT IN (18,19) -- NO SEA BORRADOR, PROCESADO, RECHAZADO
	AND  (@IDSUPPLIER2 IS NULL OR D.IDSUPPLIER= @IDSUPPLIER2)
	AND (ISNULL(@IDDEALER2,0) =0 OR D.IDDEALER = @IDDEALER2)
	AND S.DCREATED>= @FechaInicio

 BEGIN
 
    WITH 
		T_DATA AS 
			  (
				SELECT 
				D.DEALER CONCESIONARIO,
				T.[DOCUMENTID] AS [NRO DE REPORTE/ASISTENCIA],
				V.VVIN VIN,
				V.VPLATE PLACA,
				(M.VNAME +' - '+ M.VDESCRIPTION) AS [SUP-MODELO],
				T.[CASETYPE] AS [TIPO DE SOLICITUD],
				ISNULL(C.VNAME,'') AS [PROPIETARIO],
				T.VTECHNICALSOLUTION AS [DIAGNOSTICO],
				T.[DOCUMENTSTATUS]  AS [ESTATUS],
				'SI' AS [PARALIZADA],
				T.[DOCUMENTTYPE] AS [TIPO DE REPORTE],
				T.DOCUMENTDATE AS [FECHA DE INGRESO],
				DATEDIFF(day, T.[DOCUMENTDATE], GETDATE()) AS [TIEMPO DE PARALIZACION],
			    ISNULL(T.[REFERENCEID],'') AS [NRO DE PEDIDO],
				ISNULL(T.[REFERENCESTATUS],'') AS [ESTATUS DE PEDIDO],
				[SALERORDERDATE] AS [FECHA ORDEN DE PEDIDO],
				ISNULL(T.VDESCRIPTIONSALEORDER,'') AS [REPUESTOS ORDENADOS],
				ISNULL(T.VCOMMENTSALEORDER,'') AS [OBSERVACION],
				COUNT(*) OVER() AS TOTAL 
				FROM #TMP_PARALYZEDUNITS T
				INNER JOIN VEHICLE V WITH (NOLOCK) ON V.ID=T.IDVEHICLE
				INNER JOIN MODEL M WITH (NOLOCK) ON M.ID=V.IDMODEL
				INNER JOIN V_DEALERS D ON D.IDDEALER=T.IDDEALER
				LEFT JOIN #CUSTOMER C ON V.IDCUSTOMER=C.ID
				
				WHERE V.VVIN LIKE CASE WHEN @VFILTER2 = '' THEN V.VVIN ELSE @LIKEFILTER END
			  )
	SELECT * FROM T_DATA T
	ORDER BY T.VIN
	OFFSET @IROWFROM2 ROWS
	FETCH NEXT @TOPE ROWS ONLY

END

