USE [ZEPPELIN]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_REPORTTYPE]    Script Date: 06/10/2026 10:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_REPORTTYPE]

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


SELECT C.* FROM REPORTTYPE C WITH (NOLOCK)
WHERE C.VNAME!='NO APLICA' 
ORDER BY CASE
				WHEN C.VNAME='GARANTIA' THEN 1
				ELSE 2
		 END
