USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_ACCOUNT_BYPAYMENT]    Script Date: 04/05/2026 8:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_ACCOUNT_BYPAYMENT] --USP_GET_ACCOUNT_BYPAYMENT 1,NULL,0,0,NULL,NULL,null,NULL,NULL,NULL,NULL,55
@IDUSER INT,
@IDSUPPLIER INT=NULL,
@IDDEALER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL,
@IDESTATUS INT =NULL,
@VCONCEPT VARCHAR(3)=NULL,
@IDCURRENCY INT=NULL,
@IDTYPE INT =NULL,
@IDPAYMENT INT=NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : 
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

			DECLARE @TOPE INT

				IF @IROWFROM IS NULL
				BEGIN
					SET @TOPE=1000000
					SET @IROWFROM=0
				END
				ELSE
				BEGIN
					SET @TOPE=100
				END

		SELECT @VFILTER= ISNULL(@VFILTER,'')
		DECLARE @FechaInicio DATETIME = DATEADD(DAY, -360, GETDATE());
		SELECT @DFROMDATE = CONVERT(VARCHAR(10),isnull(@DFROMDATE,'2020-01-01'),120)
		SELECT @DUPTODATE = CONVERT(VARCHAR(10),isnull(@DUPTODATE,getdate())+1,120)
		SELECT @IDDEALER = ISNULL(@IDDEALER,0)
		SELECT @IDSUPPLIER = ISNULL(@IDSUPPLIER,0)
		SELECT @IDESTATUS = ISNULL(@IDESTATUS,0)
		SELECT @VCONCEPT = ISNULL(@VCONCEPT,'')
		SELECT @IDCURRENCY = ISNULL(@IDCURRENCY,0)
		SELECT @IDTYPE = ISNULL(@IDTYPE,0)
		SELECT @IDPAYMENT = ISNULL(@IDPAYMENT,0)

		IF @IDPAYMENT=0 AND @IDSUPPLIER <>0
		BEGIN

			WITH T1 AS (
       		   SELECT 
				P.ID,
				P.VNUMBER,
				P.NAMOUNT,
				P.DCREATED,
				DT.VNAME AS VTYPE,
				DC.VNAME AS VCONCEPT,
				PD.ID AS IDPAYMENT
       			FROM ACCOUNTRECEIVABLE P WITH (NOLOCK)
				INNER JOIN SETTLEMENTS S WITH (NOLOCK) ON S.IDACCOUNTRECEIVABLE=P.ID
				INNER JOIN PAYMENT PD WITH (NOLOCK) ON  S.IDPAYMENT=PD.ID
				INNER JOIN PAYMENTDETAILS PM WITH (NOLOCK) ON PD.ID=PM.IDPAYMENT
				INNER JOIN DOCUMENTTYPE DT WITH (NOLOCK) ON  P.VTYPE=DT.VCODE
				INNER JOIN DOCUMENTCONCEPT DC WITH (NOLOCK) ON  P.VCONCEPT=DC.VCODE
        		WHERE  P.IDSUPPLIER = @IDSUPPLIER
					AND (@IDDEALER = 0 OR P.IDDEALER = @IDDEALER)
					AND (@IDESTATUS =0 OR PM.IDSTATUS = @IDESTATUS)
					AND PM.DDATE >= @DFROMDATE
					AND PM.DDATE < @DUPTODATE
					AND PM.DDATE >=@FechaInicio
					AND (@VFILTER='' OR PM.VREFERENCE=@VFILTER)
					AND (@VCONCEPT ='' OR P.VCONCEPT = @VCONCEPT)
					AND (@IDCURRENCY =0 OR PM.IDCURRENCY = @IDCURRENCY)
					AND (@IDTYPE =0 OR PM.IDTYPE = @IDTYPE)   
				)
       			SELECT *, 
				COUNT(*) OVER() AS TOTAL FROM T1
       			ORDER BY T1.ID
       			OFFSET @IROWFROM ROWS
       			FETCH NEXT @TOPE ROWS ONLY 
		END
		ELSE
		BEGIN 
		
		WITH T1 AS (
       		   SELECT 
				P.ID,
				P.VNUMBER,
				P.NAMOUNT,
				P.DCREATED,
				DT.VNAME AS VTYPE,
				DC.VNAME AS VCONCEPT,
				PD.ID AS IDPAYMENT
       			FROM ACCOUNTRECEIVABLE P WITH (NOLOCK)
				INNER JOIN SETTLEMENTS S WITH (NOLOCK) ON S.IDACCOUNTRECEIVABLE=P.ID
				INNER JOIN PAYMENT PD WITH (NOLOCK) ON  S.IDPAYMENT=PD.ID
				INNER JOIN PAYMENTDETAILS PM WITH (NOLOCK) ON PD.ID=PM.IDPAYMENT
				INNER JOIN DOCUMENTTYPE DT WITH (NOLOCK) ON  P.VTYPE=DT.VCODE
				INNER JOIN DOCUMENTCONCEPT DC WITH (NOLOCK) ON  P.VCONCEPT=DC.VCODE
        		WHERE @IDPAYMENT= PM.ID
				)
       			SELECT *, 
				COUNT(*) OVER() AS TOTAL FROM T1
       			ORDER BY T1.ID
       			OFFSET @IROWFROM ROWS
       			FETCH NEXT @TOPE ROWS ONLY 
		
		END
	