USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_PAYMENTDETAILS_CONSOLIDATED]    Script Date: 04/05/2026 15:05:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_PAYMENTDETAILS_CONSOLIDATED] -- [USP_GET_PAYMENTDETAILS_CONSOLIDATED] 'J500250495'
@VSUPPLIERVAT VARCHAR(12)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE  @IDSUPPLIER INT

	SET @IDSUPPLIER= (SELECT IDSUPPLIER FROM V_SUPPLIERS WHERE VVAT=@VSUPPLIERVAT) 

	
  
BEGIN
	WITH 
		T1 AS (
			SELECT
				PM.ID,
				CONVERT(VARCHAR(10),PM.DDATE, 120) DDATE,
				PM.NAMOUNT,
				P.NRATE,
				C.VNAME AS VCURRENCY,
				PT.VNAME AS VTYPE,
				PM.VREFERENCE,
				ISNULL(B.VNAME,'NO APLICA') AS VBANK,
				ISNULL(B.VCODE+ BA.VCODE,'NO APLICA') AS VACCOUNTNUMBER,
				V.DEALER AS VDEALER,
				A.VDISPLAYESTATUS AS VESTATUS,
				CONVERT(VARCHAR(10), P.DDATERATE, 120) DDATERATE,
				P.VCONCEPT,
				ISNULL(BO.VCODE+'-'+BO.VNAME,'NO APLICA') AS VBANKORIGIN
			FROM PAYMENTDETAILS PM WITH (NOLOCK)
			INNER JOIN PAYMENT P WITH (NOLOCK) ON PM.IDPAYMENT=P.ID 
			INNER JOIN CURRENCY C WITH (NOLOCK) ON PM.IDCURRENCY=C.ID
			INNER JOIN PAYMENTTYPE PT WITH (NOLOCK) ON PM.IDTYPE=PT.ID
			LEFT JOIN BANKACCOUNT BA WITH (NOLOCK) ON PM.IDBANKACCOUNT=BA.ID
			LEFT JOIN BANK B WITH (NOLOCK) ON BA.IDBANK=B.ID
			LEFT JOIN BANK BO WITH (NOLOCK) ON PM.IDBANKORIGIN=BO.ID
			INNER JOIN ACTION A WITH (NOLOCK) ON PM.IDSTATUS=A.ID
			INNER JOIN V_DEALERS V ON P.IDDEALER=V.IDDEALER
			WHERE 
			P.IDSUPPLIER = @IDSUPPLIER
			AND PM.IDSTATUS = DBO.UFN_GET_ISTATUS('APPROVE')
			AND NOT EXISTS (
			SELECT 1 
			FROM PAYMENTDETAILS PM2 WITH (NOLOCK)
			WHERE PM2.IDPAYMENT = PM.IDPAYMENT
			AND PM2.IDSTATUS <> DBO.UFN_GET_ISTATUS('APPROVE')
    )
            
			
		)
		 -- 5. PAGINAR 
		SELECT T1.* 
		FROM T1
        ORDER BY T1.DDATE
END

