USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_PAYMENT_ACTIONS]    Script Date: 20/04/2026 14:06:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_PAYMENT_ACTIONS]
 @DATA NVARCHAR(MAX),
 @IDUSER INT 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           :  
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		BEGIN TRAN 

		
				DECLARE @TDATA AS TABLE
				(
					IDRECORD INT,
					IDMODULE INT,
					VACTION VARCHAR(20),
					VCOMMENT VARCHAR(500),
					IDRELATED INT
				);

				INSERT INTO @TDATA
				SELECT RecordId , ModuleId , ActionName ,ActionComment ,RelatedId
				FROM OPENJSON(@DATA)
				WITH (
						RecordId int, ModuleId int, ActionName varchar(20),ActionComment varchar(200),RelatedId int
					  ) AS A


				DECLARE @VACTION VARCHAR(20)
				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @VRECORD VARCHAR(20) 
				DECLARE @VACTIONRECORD VARCHAR(20)
				DECLARE @ErrorMessage NVARCHAR(4000) 
				DECLARE @IDMODULE INT 

				

				IF EXISTS (SELECT T.* FROM  @TDATA T
				INNER JOIN PAYMENT P WITH (NOLOCK) ON T.IDRECORD=P.ID
				WHERE T.VACTION= 'PROCESS' AND NOT EXISTS (SELECT * FROM PAYMENTDETAILS WHERE IDPAYMENT=T.IDRECORD)  )
				BEGIN

				SELECT TOP 1  @VACTION=T.VACTION FROM @TDATA T
				INNER JOIN PAYMENT P WITH (NOLOCK) ON T.IDRECORD=P.ID
				WHERE T.VACTION= 'PROCESS' AND NOT EXISTS (SELECT * FROM PAYMENTDETAILS WHERE IDPAYMENT=T.IDRECORD)        
				   SET @ErrorMessage ='ACCION NO PERMITIDA: DEBE CARGAR PAGOS ANTES DE PROCESAR'
				   RAISERROR ( @ErrorMessage , 16,1) 
				   RETURN
				END


				IF EXISTS (
				SELECT 1
				FROM @TDATA T
				INNER JOIN PAYMENT P WITH (NOLOCK) ON T.IDRECORD = P.ID
				INNER JOIN PAYMENTDETAILS PD WITH (NOLOCK) ON P.ID = PD.IDPAYMENT
				WHERE P.VCONCEPT IN ('I', 'P', 'I-P')
				GROUP BY P.ID, P.NAMOUNT, P.NRATE, T.VACTION
				HAVING (P.NAMOUNT* NULLIF(P.NRATE, 0)) < SUM(PD.NAMOUNT * NULLIF(P.NRATE, 0)) -- NULLIF evita divisiones por cero
			)
			BEGIN
				-- Obtenemos el valor de la acción para el error (si es necesario)
				SELECT TOP 1 @VACTION = T.VACTION 
				FROM @TDATA T
				INNER JOIN PAYMENT P ON T.IDRECORD = P.ID
				INNER JOIN PAYMENTDETAILS PD ON P.ID = PD.IDPAYMENT
				WHERE P.VCONCEPT IN ('I', 'P', 'I-P')
				GROUP BY T.VACTION, P.ID, P.NAMOUNT, P.NRATE
				HAVING (P.NAMOUNT* NULLIF(P.NRATE, 0)) < SUM(PD.NAMOUNT * NULLIF(P.NRATE, 0))

				SET @ErrorMessage = 'ACCION NO PERMITIDA: MONTO DE PAGOS DIFERENTE AL DE FACTURAS'
				RAISERROR (@ErrorMessage, 16, 1)
				RETURN
			END

			 
				IF EXISTS (SELECT T.* FROM  @TDATA T
				INNER JOIN PAYMENT P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN PAYMENTDETAILS PM WITH (NOLOCK) ON P.ID=PM.IDPAYMENT
				WHERE T.VACTION= 'PROCESS' AND NOT EXISTS (SELECT * FROM ATTACHMENT A WITH (NOLOCK) WHERE PM.ID=A.IDRECORD AND IDMODULE=52)  )
				BEGIN

				SELECT TOP 1  @VACTION=T.VACTION FROM @TDATA T
				INNER JOIN PAYMENT P WITH (NOLOCK) ON T.IDRECORD=P.ID
				WHERE T.VACTION= 'PROCESS' AND NOT EXISTS (SELECT * FROM PAYMENTDETAILS WHERE IDPAYMENT=T.IDRECORD)        
				   SET @ErrorMessage ='ACCION NO PERMITIDA: DEBE CARGAR COMPROBANTE DE TODOS LOS PAGOS ANTES DE PROCESAR'
				   RAISERROR ( @ErrorMessage , 16,1) 
				   RETURN
				END

				
				   
                SELECT TOP 1 @VACTION=T.VACTION, @VACTIONRECORD=A.VNAME, @IDMODULE=T.IDMODULE FROM @TDATA T
				INNER JOIN PAYMENTDETAILS P WITH (NOLOCK) ON T.IDRECORD=P.ID
				INNER JOIN ACTION A WITH (NOLOCK) ON P.IDSTATUS=A.ID

				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

				   
				-- BLOQUEAR
				IF @VACTION='PROCESS' 
				BEGIN 

				    UPDATE PD
				        SET PD.IDSTATUS = CASE 
												WHEN ISNULL(PD.IDCURRENCY,0)=1 THEN DBO.UFN_GET_ISTATUS('TOVALIDATE')
												ELSE DBO.UFN_GET_ISTATUS('VALIDATE')
												END
					FROM PAYMENTDETAILS PD 
					INNER JOIN PAYMENT P WITH (NOLOCK)  ON PD.IDPAYMENT=P.ID
					INNER JOIN @TDATA D ON D.IDRECORD=P.ID
					WHERE PD.IDSTATUS=DBO.UFN_GET_ISTATUS('CREATE')

					SELECT @IUPDATED=@@ROWCOUNT

				END	
					
				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

				IF @IUPDATED>0
				BEGIN
				INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
				SELECT @IDUSER,IDRECORD,IDMODULE,@VACTION,VCOMMENT,IDRELATED,GETDATE()
				FROM @TDATA
				END 
	
				


 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END

