USE [OASIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_RATES]    Script Date: 21/05/2026 10:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POST_RATES] --[USP_POST_RATES] 
    @DATA NVARCHAR(MAX),
    @IDUSER INT
AS
 
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : GERARDO JIMENEZ
  '   CREADO PARA           : 
  '   FUNCIÓN               : EDITAR LAS TASAS
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        : SARAHY CHIRINOS
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/  

SET XACT_ABORT ON
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN
    BEGIN TRY
     
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @NAME         VARCHAR(100) = NULL
        DECLARE @VACTION      VARCHAR(20)
        DECLARE @IID          INT
        DECLARE @IINSERTED    INT
        DECLARE @IUPDATED     INT
        DECLARE @IDMODULE     INT = [dbo].[UFN_GET_IDMODULE]('PAGOS-TASAS')
         
        DECLARE @TDATA AS TABLE (
            ID         INT,
            NRATE      NUMERIC(18,6),
            NALTERRATE NUMERIC(18,6)
        )

        INSERT INTO @TDATA (ID, NRATE, NALTERRATE)
        SELECT
            Id,
            NRate,
            NAltRate
        FROM OPENJSON(@DATA)
        WITH (
            Id       INT,
            NRate     NUMERIC(18,6),
            NAltRate  NUMERIC(18,6)
        ) 

        ---- TASA NULA O VACÍA
        --IF @ErrorMessage IS NULL
        --    IF EXISTS (SELECT 1 FROM @TDATA WHERE ID = 0 AND NRATE IS NULL)
        --        SET @ErrorMessage = 'LA TASA ES OBLIGATORIA'

        ---- TASA NEGATIVA
        --IF @ErrorMessage IS NULL
        --    IF EXISTS (SELECT 1 FROM @TDATA WHERE NRATE < 0)
        --        SET @ErrorMessage = 'LA TASA NO PUEDE SER NEGATIVA'

        -- TASA CERO
        --IF @ErrorMessage IS NULL
        --    IF EXISTS (SELECT 1 FROM @TDATA WHERE NRATE = 0)
        --        SET @ErrorMessage = 'LA TASA NO PUEDE SER 0' 

        -- TASA ALTERNATIVA NEGATIVA
        IF @ErrorMessage IS NULL
            IF EXISTS (SELECT 1 FROM @TDATA WHERE NALTERRATE < 0)
                SET @ErrorMessage = 'LA TASA ALTERNATIVA NO PUEDE SER NEGATIVA'

        -- TASA ALTERNATIVA CERO
        IF @ErrorMessage IS NULL
            IF EXISTS (SELECT 1 FROM @TDATA WHERE NALTERRATE = 0)
                SET @ErrorMessage = 'LA TASA ALTERNATIVA NO PUEDE SER 0'

        IF @ErrorMessage IS NOT NULL
        BEGIN
            RAISERROR(@ErrorMessage, 16, 1)
            RETURN
        END
         
        BEGIN TRAN 
            IF EXISTS (SELECT 1 FROM @TDATA WHERE ID > 0)
            BEGIN
                 SET @VACTION = 'EDIT'
                 EXEC USP_CHECK_CREDENTIALS @IDUSER, @VACTION, @IDMODULE

                UPDATE F
                SET
                   --  F.NRATE      = D.NRATE,
                     F.NALTERRATE = D.NALTERRATE
                FROM RATE F
                INNER JOIN @TDATA D ON D.ID = F.ID

                SELECT @IUPDATED = @@ROWCOUNT
            END


		INSERT INTO AUDIT (IDUSER,IDRECORD,IDMODULE,VACTION,VCOMMENT,IDRELATED,DCREATED)
		SELECT @IDUSER,ID,@IDMODULE,'EDIT','',0,GETDATE()
		FROM @TDATA
             
        SELECT
            ISNULL(@IID,       0) AS IID,
            ISNULL(@IINSERTED, 0) AS IINSERTED,
            ISNULL(@IUPDATED,  0) AS IUPDATED

        COMMIT TRAN
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRAN
        SELECT @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
        RAISERROR(@ErrorMessage, 16, 1)
    END CATCH
END