USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_PAYMENT]    Script Date: 29/04/2026 9:10:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_PAYMENT]  
 @DATA VARCHAR(MAX),
 @IDUSER INT 
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
		  DECLARE @ErrorMessage NVARCHAR(4000)
		  DECLARE @InsertedPayments TABLE (ID INT, IDDEALER INT, IDSUPPLIER INT);
		  DECLARE @InsertedPaymentsDetails TABLE (ID INT);
		  DECLARE @IDPAYMENT INT 
	
				DECLARE @TDATA AS TABLE
				(
					ID INT,
					DDATE DATETIME,
					IDCURRENCY INT,
					IDTYPE INT,
				    VREFERENCE VARCHAR(15),
					NAMOUNT NUMERIC(18,2),
					IDBANKACCOUNT INT,
					IDBANKORIGIN INT ,
					IDPAYMENT INT,
					IDSUPPLIER INT,
					IDDEALER INT,
					VCONCEPT VARCHAR(3)
				);

				DECLARE @TSETTLEMENTS AS TABLE
				(
					IDDOCUMENT INT,
					NRATE NUMERIC (18,2),
					DDATERATE DATETIME,
					NAMOUNT INT
				);

				INSERT INTO @TDATA (ID, DDATE,IDCURRENCY,IDTYPE,VREFERENCE,NAMOUNT,IDBANKACCOUNT,IDPAYMENT,IDSUPPLIER,IDDEALER,VCONCEPT,IDBANKORIGIN)
				SELECT  H.Id,H.Date,H.CurrencyId,H.TypeId,H.Reference,H.Amount,H.AccountId,H.PaymentId,H.SupplierId,H.DealerId,H.Concept,H.BankOriginId
				FROM OPENJSON(@DATA)
				WITH (
				    Id int,
					Date Datetime,
					CurrencyId int ,
					TypeId int ,
					Reference VARCHAR(15),
					Amount Numeric(18,2),
					AccountId int ,
					PaymentId int,
					SupplierId int,
					DealerId Int,
					Concept Varchar(3),
					BankOriginId int
				) AS H;


				INSERT INTO @TSETTLEMENTS (IDDOCUMENT,NRATE,DDATERATE)
				SELECT D.DocumentId,D.Rate,D.DateRate
				FROM OPENJSON(@DATA)
				WITH (
					Settlements NVARCHAR(MAX) AS JSON
				) AS H
				CROSS APPLY OPENJSON(H.Settlements)
				WITH (
					DocumentId   INT,
					Rate Numeric(18,2),
					DateRate Datetime
				) AS D


				   
				UPDATE T
				SET T.NAMOUNT=AR.NBALANCE
				FROM @TSETTLEMENTS T 
				INNER JOIN ACCOUNTRECEIVABLE AR WITH (NOLOCK) ON T.IDDOCUMENT=AR.ID
				
			
	            BEGIN TRAN 

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT
				DECLARE @VACTION VARCHAR(20)
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('PAGOS-ASEGURAMIENTO')
				DECLARE @DRATEDATE DATETIME
				DECLARE @NRATE NUMERIC (18,2)
				SELECT TOP 1 @NRATE=NRATE , @DRATEDATE=DDATERATE FROM @TSETTLEMENTS 
				


				IF EXISTS (SELECT P.* FROM @TSETTLEMENTS P  
					           INNER JOIN ACCOUNTRECEIVABLE T WITH (NOLOCK) ON P.IDDOCUMENT =T.ID 
							   WHERE T.IDSTATUS IN( dbo.UFN_GET_ISTATUS('CREATE'),dbo.UFN_GET_ISTATUS('PAID')))
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: DOCUMENTOS YA CANCELADOS O POR REVISION DE PAGO.', 16, 1);
						RETURN;
					END

                IF EXISTS (
				SELECT 1 
				FROM @TDATA D 
				INNER JOIN PAYMENTTYPE  PT WITH (NOLOCK) ON D.IDTYPE=PT.ID 
				WHERE LEN(D.VREFERENCE)<8 AND PT.VNAME IN ('TRANSFERENCIA','RETENCION')
				)
					BEGIN
							RAISERROR('ACCION NO PERMITIDA: REFERENCIA NO PUEDE SER MENOR A 8 DIGITOS.', 16, 1);
							RETURN;
					END

				IF EXISTS (
				SELECT 1 
				FROM @TDATA D
				JOIN PAYMENTDETAILS PD ON D.VREFERENCE = PD.VREFERENCE AND D.IDBANKORIGIN=PD.IDBANKORIGIN
				JOIN PAYMENT P ON P.ID = PD.IDPAYMENT
				INNER JOIN PAYMENTTYPE  PT WITH (NOLOCK) ON D.IDTYPE=PT.ID 
				WHERE D.IDDEALER = P.IDDEALER
					AND PT.VNAME='TRANSFERENCIA'
				)
					BEGIN
							RAISERROR('ACCION NO PERMITIDA: REFERENCIA YA UTILIZADA.', 16, 1);
							RETURN;
					END

				IF EXISTS (
				SELECT 1 
				FROM @TDATA D 
				WHERE VCONCEPT IN ('I','P','I-P') AND IDCURRENCY=2
				)
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: SOLO VALIDO PARA PAGOS EN BOLIVARES.', 16, 1);
						RETURN;
					END

			   IF EXISTS (SELECT 1 FROM @TDATA D WHERE ISNULL(IDPAYMENT,0)=0 ) 
			   AND EXISTS(SELECT 1 FROM @TSETTLEMENTS D WHERE ISNULL(IDDOCUMENT,0)=0)
				
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: AGREGUE CUENTAS A PAGAR.', 16, 1);
						RETURN;
					END

				IF EXISTS (
				SELECT 1 
				FROM @TDATA D 
				INNER JOIN PAYMENTTYPE  PT WITH (NOLOCK) ON D.IDTYPE=PT.ID 
				WHERE PT.VNAME='TRANSFERENCIA' AND ISNULL(IDBANKACCOUNT,0)=0
				)
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: SELECCIONE CUENTA DESTINO.', 16, 1);
						RETURN;
					END

					IF EXISTS (
				SELECT 1 
				FROM @TDATA D 
				INNER JOIN PAYMENTTYPE  PT WITH (NOLOCK) ON D.IDTYPE=PT.ID 
				WHERE PT.VNAME='TRANSFERENCIA' AND ISNULL(IDBANKORIGIN,0)=0
				)
					BEGIN
						RAISERROR('ACCION NO PERMITIDA: SELECCIONE BANCO DE ORIGEN.', 16, 1);
						RETURN;
					END


				

			

				IF EXISTS (SELECT * FROM @TDATA WHERE ID=0 )
				BEGIN
			      SET @VACTION='CREATE'
				  EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE
						IF EXISTS (SELECT * FROM @TDATA WHERE ISNULL(IDPAYMENT,0)=0)
							BEGIN
							INSERT INTO PAYMENT (NAMOUNT, DCREATED, VUPDATEDBY, IDDEALER, IDSUPPLIER,NRATE,DDATERATE,VCONCEPT)
								OUTPUT INSERTED.ID, INSERTED.IDDEALER, INSERTED.IDSUPPLIER INTO @InsertedPayments (ID, IDDEALER, IDSUPPLIER)
								SELECT 
								    (SELECT SUM(NAMOUNT) FROM @TSETTLEMENTS),
									GETDATE(), 
									DBO.UFN_GET_LOGIN(@IDUSER), -- Asumo que pasas el ID directamente
									IDDEALER, 
									IDSUPPLIER,
									@NRATE,
									@DRATEDATE,
									VCONCEPT
								FROM @TDATA
								GROUP BY IDDEALER, IDSUPPLIER,VCONCEPT;

								------ACTUALIZAR LOS DETALLES CON EL IDPAYMENT INSERTADO----
								SET @IDPAYMENT=(SELECT TOP 1 ID FROM @InsertedPayments)
								
								-----------ACTUALIZAR LOS DETALLES CON EL IDPAYMENT-----
								UPDATE @TDATA
								SET IDPAYMENT=@IDPAYMENT

								-----------------------ACTUALIZAR DOCUMENTOS A TRANSITO---------------------------
								UPDATE A
								SET  IDSTATUS=DBO.UFN_GET_ISTATUS('CREATE')
								FROM ACCOUNTRECEIVABLE A 
								INNER JOIN @TSETTLEMENTS S ON A.ID=S.IDDOCUMENT
								
								----------------INSERTAR LAS RELACION SALDOS->PAGOS-----------------
								INSERT INTO SETTLEMENTS(IDACCOUNTRECEIVABLE,IDPAYMENT)
								SELECT T.IDDOCUMENT,@IDPAYMENT FROM @TSETTLEMENTS T

				END

	           
					INSERT INTO PAYMENTDETAILS (DDATE,IDCURRENCY,IDTYPE,VREFERENCE,NAMOUNT,IDSTATUS,IDBANKACCOUNT,IDPAYMENT,VUPDATEDBY,IDBANKORIGIN,DCREATED,DUPDATED)
					OUTPUT INSERTED.ID INTO @InsertedPaymentsDetails (ID)
					SELECT DDATE,IDCURRENCY,IDTYPE,VREFERENCE,NAMOUNT,DBO.UFN_GET_ISTATUS('CREATE'),IDBANKACCOUNT,IDPAYMENT,DBO.UFN_GET_ISTATUS(@IDUSER),IDBANKORIGIN,GETDATE(),GETDATE()
					FROM @TDATA D
					WHERE NOT EXISTS (
								SELECT 1 
								FROM PAYMENTDETAILS V WITH (NOLOCK) 
								WHERE V.VREFERENCE = D.VREFERENCE 
									AND V.VREFERENCE <> ''
									AND V.IDTYPE=1
									AND V.IDBANKORIGIN=D.IDBANKORIGIN
									AND EXISTS (
										SELECT 1 FROM PAYMENT P 
										WHERE P.ID = V.IDPAYMENT 
										AND P.IDDEALER = D.IDDEALER
									));

						SELECT @IINSERTED=@@ROWCOUNT
						SELECT @IID=SCOPE_IDENTITY()
				END
				ELSE
				BEGIN
				SET @VACTION='EDIT'
				EXEC USP_CHECK_CREDENTIALS @IDUSER,@VACTION,@IDMODULE

					UPDATE V
					SET
						V.VREFERENCE = D.VREFERENCE,
						V.NAMOUNT=D.NAMOUNT,
						V.IDBANKACCOUNT = D.IDBANKACCOUNT
					FROM PAYMENTDETAILS V
					INNER JOIN @TDATA D ON V.ID=D.ID
					WHERE NOT EXISTS (
									SELECT 1 
									FROM PAYMENTDETAILS V WITH (NOLOCK) 
									WHERE V.ID<>D.ID
									  AND V.VREFERENCE = D.VREFERENCE 
									  AND V.VREFERENCE <> '' 
									  AND V.IDBANKACCOUNT=D.IDBANKACCOUNT
									  AND EXISTS (
										  SELECT 1 FROM PAYMENT P 
										  WHERE P.ID = V.IDPAYMENT 
										  AND P.IDDEALER = D.IDDEALER
									  ))

					SELECT @IUPDATED=@@ROWCOUNT
					
					
				END

				

				   IF @IINSERTED>0 
				BEGIN
				INSERT INTO AUDIT (IDUSER, IDRECORD, IDMODULE, VCOMMENT, DCREATED, VACTION)
					SELECT 
						@IDUSER,
						PD.ID,
						@IDMODULE,
						'CREACION DE DETALLADO DE PAGO',
						GETDATE(),
						'CREATE'
					FROM @InsertedPaymentsDetails PD 
				END


				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END
