USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_BANKACCOUNTS]    Script Date: 20/04/2026 13:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- USP_GET_BANKACCOUNTS 4069
CREATE PROCEDURE [dbo].[USP_GET_BANK]
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


SELECT B.ID,B.VCODE,B.VNAME  FROM  BANK B WITH (NOLOCK) 
ORDER BY 1


