USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POST_PLATESASSIGN_FIGO]    Script Date: 07/05/2026 9:33:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_POST_RECEIVEPAYMENTDETAILS_FIGO]  
 @DATA VARCHAR(MAX)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

BEGIN

	BEGIN TRY
	     
		  DECLARE @IDUSER INT=1
		  DECLARE @ErrorMessage NVARCHAR(4000)
	
				DECLARE @TDATA AS TABLE
				(
					IDPAYMENT INT,
					VSUPPLIERVAT VARCHAR(12),
					IDSUPPLIER INT

				);

				INSERT INTO @TDATA (
					IDPAYMENT, 
					VSUPPLIERVAT
				)
				SELECT 
				    H.PaymentId,
					H.SupplierVat
				FROM OPENJSON(@DATA)
				WITH (
					PaymentId   int,
					SupplierVat VARCHAR(12)
				) AS H;

				DECLARE @UpdatedIDs TABLE (IDPAYMENT INT);
				DECLARE @IDMODULE INT=[dbo].[UFN_GET_IDMODULE]('PAGOS-ASEGURAMIENTO')
			   	
				UPDATE A
				SET A.IDSUPPLIER = V.IDSUPPLIER
				FROM @TDATA A
				INNER JOIN V_SUPPLIERS V ON UPPER(A.VSUPPLIERVAT) = UPPER(V.VVAT)

				IF EXISTS (SELECT * FROM @TDATA WHERE ISNULL(IDSUPPLIER,0)=0)
				BEGIN
				RAISERROR('PLANTA INCORRECTA', 16, 1)
				END


	            BEGIN TRAN 

				DECLARE @IID INT
				DECLARE @IINSERTED INT
				DECLARE @IUPDATED INT

				UPDATE V
				SET
					V.BASINC=1
				OUTPUT inserted.ID -- El ID de la tabla VEHICLE
				INTO @UpdatedIDs (IDPAYMENT)
				FROM PAYMENT V
				INNER JOIN @TDATA D ON V.ID=D.IDPAYMENT AND V.IDSUPPLIER=D.IDSUPPLIER AND V.BASINC=0
			    SELECT @IUPDATED=@@ROWCOUNT

				IF @IUPDATED > 0
				BEGIN
				INSERT INTO AUDIT (IDUSER, IDRECORD, IDMODULE, VCOMMENT, DCREATED, VACTION)
					SELECT 
						@IDUSER,
						IV.IDPAYMENT,
						@IDMODULE,
						'RECIBIDO EN FIGO',
						GETDATE(),
						'SINC'
					FROM @UpdatedIDs IV
				END

				
				SELECT
				ISNULL(@IID,0) AS IID , 
				ISNULL(@IINSERTED,0) AS IINSERTED,
				ISNULL(@IUPDATED,0) AS IUPDATED

 		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF XACT_STATE() <> 0
			ROLLBACK TRAN
		 
		SELECT  @ErrorMessage = ERROR_PROCEDURE() + ' : ' + ERROR_MESSAGE()
		RAISERROR ( @ErrorMessage , 16,1) 
	END CATCH

END