USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_ACCOUNTRECEIVABLE_CONSOLIDATED]    Script Date: 06/05/2026 9:03:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_ACCOUNTRECEIVABLE_CONSOLIDATED] -- USP_GET_ACCOUNTRECEIVABLE_CONSOLIDATED 'J500250495'
@VSUPPLIERVAT VARCHAR(12)
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	DECLARE  @IDSUPPLIER INT

	SET @IDSUPPLIER= (SELECT IDSUPPLIER FROM V_SUPPLIERS WHERE VVAT=@VSUPPLIERVAT) 



BEGIN
	WITH 
		T1 AS (
			-- 3. FILTRAR MUESTRA DE PART
			SELECT 
			A.ID,
			D.DEALER AS VDEALER,
			D.VVATINVOICE AS VDEALERVAT,
			T.VCODE AS VTYPECODE,
			C.VCODE AS VCONCEPTCODE,
			A.VNUMBER,
			A.VREFERENCE,
			A.DDATE,
			A.DDUEDATE,
			A.NAMOUNT,
			A.NBALANCE,
			COUNT(*) OVER() AS TOTAL
			FROM dbo.ACCOUNTRECEIVABLE A WITH (NOLOCK)
			INNER JOIN SETTLEMENTS S WITH (NOLOCK) ON S.IDACCOUNTRECEIVABLE = A.ID
			INNER JOIN PAYMENT P WITH (NOLOCK) ON S.IDPAYMENT = P.ID
			INNER JOIN [dbo].[DOCUMENTTYPE] T WITH (NOLOCK) ON T.VCODE = A.VTYPE
			INNER JOIN [dbo].[DOCUMENTCONCEPT] C WITH (NOLOCK) ON C.VCODE = A.VCONCEPT
			INNER JOIN V_DEALERS D ON D.IDDEALER = A.IDDEALER
			WHERE A.IDSUPPLIER = @IDSUPPLIER
			AND P.BASINC=0
			AND P.VCONCEPT IN ('P','I','I-P','B')
			-- LÓGICA: No debe existir ningún detalle que tenga un estatus diferente a 'APPROVE'
			AND NOT EXISTS (
				SELECT 1 
				FROM PAYMENTDETAILS PD WITH (NOLOCK) 
				WHERE PD.IDPAYMENT = P.ID 
				AND PD.IDSTATUS <> dbo.UFN_GET_ISTATUS('APPROVE')
			)
			-- OPCIONAL: Asegurar que al menos tenga un detalle (que no sea un pago vacío)
			AND EXISTS (
				SELECT 1 
				FROM PAYMENTDETAILS PD WITH (NOLOCK) 
				WHERE PD.IDPAYMENT = P.ID
			)
		)
		 -- 5. PAGINAR 
		SELECT T1.* 
		FROM T1
        ORDER BY T1.DDATE,T1.VNUMBER
END
