USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_PAYMENTDETAILS]    Script Date: 21/04/2026 8:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_GET_PAYMENTDETAILS] -- [USP_GET_PAYMENTDETAILS] 1,4076,0,0,NULL,NULL,null,NULL,NULL,NULL,2
@IDUSER INT,
@IDSUPPLIER INT,
@IDDEALER INT = 0,
@IROWFROM INT = NULL,
@VFILTER VARCHAR(100) = NULL,
@DFROMDATE DATETIME = NULL,
@DUPTODATE DATETIME = NULL,
@IDESTATUS INT =NULL,
@VCONCEPT VARCHAR(3)=NULL,
@IDCURRENCY INT=NULL,
@IDTYPE INT =NULL
AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : JUAN GUARECUCO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000

	DECLARE @TOPE INT

	-- 1. PREPARAR VARIABLES DE TOPE Y PAGINACION
	IF @IROWFROM IS NULL
	    BEGIN
		    SET @TOPE=1000000
		    SET @IROWFROM=0
	    END
	ELSE
	    BEGIN
		    SET @TOPE=100
	    END

    -- 2. PREPARAR VARIABLES FILTRADOS
    SELECT @VFILTER= ISNULL(@VFILTER,'')
    DECLARE @FechaInicio DATETIME = DATEADD(DAY, -360, GETDATE());
    SELECT @DFROMDATE = CONVERT(VARCHAR(10),isnull(@DFROMDATE,'2020-01-01'),120)
    SELECT @DUPTODATE = CONVERT(VARCHAR(10),isnull(@DUPTODATE,getdate())+1,120)
	SELECT @IDDEALER = ISNULL(@IDDEALER,0)
    SELECT @IDESTATUS = ISNULL(@IDESTATUS,0)
	SELECT @VCONCEPT = ISNULL(@VCONCEPT,'')
	SELECT @IDCURRENCY = ISNULL(@IDCURRENCY,0)
	SELECT @IDTYPE = ISNULL(@IDTYPE,0)

BEGIN
	WITH 
		T1 AS (
			SELECT
				PM.ID,
				PM.DDATE,
				PM.NAMOUNT,
				P.NRATE,
				C.VNAME AS VCURRENCY,
				c.ID AS IDCURRENCY,
				PT.VNAME AS VTYPE,
				PT.ID AS IDTYPE,
				PM.VREFERENCE,
				ISNULL(B.VNAME,'NO APLICA') AS VBANK,
				B.ID AS IDBANK,
				BA.ID AS IDACCOUNT,
				ISNULL(B.VCODE+ BA.VCODE,'NO APLICA') AS VACCOUNTNUMBER,
				P.IDDEALER,
				P.IDSUPPLIER,
				V.DEALER AS VDEALER,
				CASE WHEN A.ID=2 THEN 'Transito' 
				     ELSE A.VDISPLAYESTATUS END AS VESTATUS,
				a.ID as IDESTATUS,
				P.ID AS IDPAYMENT,
				P.DDATERATE,
				P.VCONCEPT,
				ISNULL(BO.VCODE+'-'+BO.VNAME,'NO APLICA') AS VBANKORIGIN,
				BO.ID AS IDBANKORIGIN
			FROM PAYMENTDETAILS PM WITH (NOLOCK)
			INNER JOIN PAYMENT P WITH (NOLOCK) ON PM.IDPAYMENT=P.ID 
			INNER JOIN CURRENCY C WITH (NOLOCK) ON PM.IDCURRENCY=C.ID
			INNER JOIN PAYMENTTYPE PT WITH (NOLOCK) ON PM.IDTYPE=PT.ID
			LEFT JOIN BANKACCOUNT BA WITH (NOLOCK) ON PM.IDBANKACOUNT=BA.ID
			LEFT JOIN BANK B WITH (NOLOCK) ON BA.IDBANK=B.ID
			LEFT JOIN BANK BO WITH (NOLOCK) ON PM.IDBANKORIGIN=BO.ID
			INNER JOIN ACTION A WITH (NOLOCK) ON PM.IDSTATUS=A.ID
			INNER JOIN V_DEALERS V ON P.IDDEALER=V.IDDEALER
			WHERE 
			P.IDSUPPLIER= @IDSUPPLIER
            AND (@IDDEALER = 0 OR P.IDDEALER = @IDDEALER)
			AND (@IDESTATUS =0 OR PM.IDSTATUS = @IDESTATUS)
            AND PM.DDATE >= @DFROMDATE
            AND PM.DDATE < @DUPTODATE
            AND PM.DDATE >=@FechaInicio
            AND (@VFILTER='' OR PM.VREFERENCE=@VFILTER)
			AND (@VCONCEPT ='' OR P.VCONCEPT = @VCONCEPT)
			AND (@IDCURRENCY =0 OR PM.IDCURRENCY = @IDCURRENCY)
			AND (@IDTYPE =0 OR PM.IDTYPE = @IDTYPE)
			
		)
		 -- 5. PAGINAR 
		SELECT T1.* 
		FROM T1
        ORDER BY T1.DDATE
        OFFSET @IROWFROM ROWS  --Indica la posicion del registro Inicial...(el resultado de ..(1))
        FETCH NEXT @TOPE ROWS ONLY

END

