USE [SODA]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_DOCUMENTSTATUS]    Script Date: 21/04/2026 8:36:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[USP_GET_DOCUMENTSTATUS]

AS
/* '===============================================================          
  '   NOMBRE                : 
  '   FECHA CREACIÓN        : 
  '   CREADO POR            : WILMAN CAMACHO
  '   CREADO PARA           : 
  '   FUNCIÓN               :  
  '   VERSIÓN               : 
  '   MODIFICADO EN         : 
  '   MODIFICADO POR        :  
  '   RAZÓN DE MODIFICACIÓN : 
  '===============================================================*/

SET XACT_ABORT ON               
SET NOCOUNT ON
SET LOCK_TIMEOUT 180000


SELECT C.ID,C.VNAME,C.VDISPLAY,CASE WHEN C.ID =2 THEN 'Transito' 
                               ELSE C.VDISPLAYESTATUS END AS VDISPLAYESTATUS 
FROM ACTION C WITH (NOLOCK)
WHERE ID IN (2,28,29,30)
ORDER BY 1


